﻿@model App.Entities.ViewModels.Sanctions.SanctionModel

<div class="modal fade" id="ModalEditSanction" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Editar Sanción</h4>
                <small id="ModalDescription" class="font-bold">Formulario para editar una sanción.</small>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ActionEditSanction", "Sanctions", FormMethod.Post, new { name = "formEditSanction", id = "formEditSanction" }))
                {
                    @Html.AntiForgeryToken()
                   
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                       
                        @Html.HiddenFor(model => model.emp_no)
                        @Html.HiddenFor(model => model.MotiveNo)
                        @Html.HiddenFor(model => model.SanctionId)
                        @Html.HiddenFor(model => model.currencyValue)

                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.IssueDate, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-md-12 input-group m-b">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        @Html.EditorFor(model => model.IssueDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.emp, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-md-12 input-group m-b">
                                        @Html.EditorFor(model => model.emp, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                            </div>

                               
                         <div class="row">
                             <div class="form-group  col-md-6 ">


                                 @Html.LabelFor(model => model.total, htmlAttributes: new { @class = "control-label" })
                                 <div id="myDiv" class="col-md-12 input-group m-b">
                                     <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                     @Html.EditorFor(model => model.total, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                 </div>
                             </div>

                             <div class="form-group col-md-6">
                                 @Html.LabelFor(model => model.currencyValue, htmlAttributes: new { @class = "control-label" })
                                 <div class="col-md-12 input-group m-b">
                                     <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                     @Html.EditorFor(model => model.currencyValue, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                 </div>
                             </div>

                         </div>
                                
                        <div class="row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.Motive, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Motive, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.HiddenFor(model => model.status)
                                @Html.LabelFor(model => model.statusList, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.status, null, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>

                            

                         <div class="row">
                             <div class="form-group col-md-12">
                                 @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label" })
                                 @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })

                             </div>
                         </div>
                           






                        </div>
                    <div class="form-group col-lg-12">
                        <div class="text-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <input type="button" value="Guardar" class="btn btn-success" id="EditSanction" onclick="SaveChanges()" />
                        </div>
                    </div>
                    <br><br>
                }
            </div>
        </div>
    </div>
</div>

