﻿@model App.Entities.ViewModels.Sanctions.SanctionIndex

@{
    ViewBag.Title = "Sanciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000", "POS")">Cajas</a></li>
                    <li><a href="@Url.Action("POS001", "POS")">Movimientos</a></li>                   
                        <li class="active">
                            <span>Agregar Sanciones</span>
                        </li>                   
                </ol>
            </div>           
                <h2 class="font-light m-b-xs">
                    Sanciones
                </h2>
                <small>Módulo para Agregar Sanciones</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <div class="row">
                <h3 class="text-center">DISTRIBUIDORA EL FLORIDO, S.A. DE C.V.</h3>
            </div>
            <div class="col-md-4">
                <form id="formSanctions" action="@Url.Action("SANC001", "Sanctions")" method="post">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.IssueDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.IssueDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.emp, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.DropDownListFor(model => model.emp, null, "-- Seleccione el empleado--", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group  col-md-6 ">
                        @Html.LabelFor(model => model.total, htmlAttributes: new { @class = "control-label" })
                        <div id="myDiv" class="col-md-12 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                            @Html.EditorFor(model => model.total, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57 ||  event.charCode ==46" } })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.currency, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                            @Html.DropDownListFor(model => model.currency,null,  htmlAttributes: new { @class = "form-control select" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Motive, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Motive, null,  htmlAttributes: new { @class = "form-control select" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.status)
                        @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label" })
                        @Html.EnumDropDownListFor(model => model.status, null, new { @class = "form-control select", @disabled = "disabled" })
                    </div>
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                    </div>
                    <div class="col-md-4 "></div>
                    <div class="col-md-4 ">
                        <button type="button" class="btn btn-danger form-control" id="CancelButton">Cancelar</button>
                    </div>
                    <div class="col-md-4 ">
                        <button type="button" class="btn btn-success form-control" id="SanctionButton">Continuar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <label class="control-label">Seleccione la Sancion para cambiar su Estatus</label>
                <div class="table-responsive">
                    <table id="SanctionsTable" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>FOLIO</th>                              
                                <th>FECHA</th>
                                <th>EMPLEADO</th>
                                <th>IMPORTE</th>
                                <th>MONEDA</th>
                                <th>MOTIVO</th>
                                <th>ESTATUS</th>                               
                                <th>COMENTARIOS</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SanctionsList)
                            {
                                if (item.status!=0)
                                {
                                    <tr>
                                        <td style="width:57px;"><button class="btn btn-xs btn-outline btn-danger" data-toggle="modal" onclick="EditSanction('@item.SanctionId')">Editar</button></td>
                                        <td>@Html.DisplayFor(modelItem => item.SanctionId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.emp)</td>
                                        <td>@Html.DisplayFor(modelItem => item.total)</td>
                                        <td>@Html.DisplayFor(modelItem => item.currencyValue)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Motive)</td>
                                        <td>@Html.DisplayFor(modelItem => item.statusVal)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Comments)</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>   
</div>

<div id="edit-sanction">
</div>
@section Scripts {

    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#status").prop('selectedIndex', 1);
            $("#IssueDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'
            });

            sancsTable = $('#SanctionsTable').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                buttons: [  ],
                columns: [
                    { data: null, defaultContent: '<button class="btn btn-xs btn-outline btn-danger">Editar</button>', width: "1%" },
                    { data: 'SanctionId' },
                    { data: 'CreateDate' },
                    { data: 'emp' },
                    { data: 'total' },
                    { data: 'currencyValue' },
                    { data: 'Motive' },
                    { data: 'statusVal' },
                    { data: 'Comments' },
                ],

                columnDefs: [
                    {
                        targets: [0],
                        orderable: false
                    },
                ]
            });
        });

        $('#SanctionsTable tbody').on('click', 'button', function () {
            var data = sancsTable.row($(this).parents('tr')).data();
            EditSanction(data.SanctionId);
        });

        $("#SanctionButton").click(function () {

            var empleado = $("#emp").val();
            var importe = $("#total").val();
            var motivo = $("#Motive").val();
            var moneda = $("#currency").val();

            if (empleado != "") {
                if (importe != "" && importe > 0) {
                    if (motivo != "") {
                        if (moneda != "") {
                            CreateSanction();
                        }
                        else
                            toastr.error('Alerta - Elige una Moneda.');
                    }
                    else
                        toastr.error('Alerta - Elige un Motivo.');
                }
                else {
                    toastr.error('Alerta - Ingresa el importe.');

                }
            }
            else
                toastr.error('Alerta - Elige un empleado.');
        });

        $("#CancelButton").click(function () {
            $("#emp").prop('selectedIndex', -1);
            $("#currency").prop('selectedIndex', 0);
            $("#Motive").prop('selectedIndex', 0);
            $("#status").prop('selectedIndex', 1);
            $("#total").val("");
            $("#Comments").val("");
        });

        function CreateSanction() {
            StartLoading();
            $.post({
                url: '@Url.Action("ActionCreateSanction", "Sanctions")',
                Type: 'POST',
                data: $("#formSanctions").serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.success)
                    {
                        swal({
                            title: 'Sanción',
                            text: "Sanción creada con éxito",
                            type: "success"
                        }, function () { window.location.reload(true); });
                        EndLoading();

                    }
                    else {
                        swal({
                            title: 'Error',
                            text: "Ocurrio un error, contacte a sistemas para solucionarlo.",
                            type: "error"
                        });
                        EndLoading();
                    }
                }
            });
        }

        function EditSanction(idSanction) {
            $.ajax({
                url: '@Url.Action("ActionEditCustomer", "Sanctions")',
                Type: 'GET',
                data: { SanctionId: idSanction },
                success: function (data) {
                    $("#edit-sanction").html(data);
                    $("#ModalEditSanction").modal('show');
                }
            });
        }

        //Function to save changes on modal edit
        function SaveChanges() {
            StartLoading();
            $.post({
                url: '@Url.Action("ActionEditCustomer", "Sanctions")',
                dataType: 'json',
                Type: 'POST',
                data: $("#formEditSanction").serialize(),
                success: function (data) {
                    $('#ModalEditSanction').modal('hide');
                    EndLoading();
                    swal({
                        title: 'Sanción',
                        text: "Sanción editada exitosamente.",
                        type: "success"
                    }, function () { window.location.reload(true); });
                },
            });
        }
    </script>    
    
    }