﻿@model App.Entities.ViewModels.Sanctions.SanctionIndex

@{
    ViewBag.Title = "Sanciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000","POS")">Cajas</a></li>
                    <li><a href="@Url.Action("POS002","POS")">Reportes</a></li>

                    <li class="active">
                        <span>Relación de Sanciones</span>
                    </li>

                </ol>
            </div>

            <h2 class="font-light m-b-xs">
                Sanciones
            </h2>
            <small>Relación de Sanciones</small><br />

        </div>
    </div>
</div>
<div class="content animated-panel">

    <div class="hpanel hblue">
        <div class="panel-body">

            <div class="row">
                <h3 class="text-center">DISTRIBUIDORA EL FLORIDO, S.A. DE C.V.</h3>


            </div>
            <div class="col-md-12">
                <form id="formSanctions" action="@Url.Action("SANC002", "Sanctions")" method="post">
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.CreateDate2, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.CreateDate2, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.emp, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.DropDownListFor(model => model.emp, null, "-- Todos --", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>

                    <div class="col-md-2 ">
                        <label class="control-label">&nbsp;</label>
                        <button type="button" class="btn btn-success form-control" onclick="Search()" id="SanctionButton">Continuar</button>

                    </div>

                    <div class="col-md-1 ">


                    </div>


                </form>
            </div>
            <div class="row">
                <div class="col-md-5 "></div>
                <div class="col-md-2 ">
                    <label class="control-label">&nbsp;</label>
                    <button type="button" class="btn btn-primary form-control" id="ReportButton">Reporte</button>

                </div>
                <div class="col-md-5 "></div>


            </div>
            <div class="col-md-12">

                <div class="table-responsive">
                    <table id="SanctionsTable" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>

                                <th>FOLIO</th>
                                <th>FECHA</th>
                                <th>EMPLEADO</th>
                                <th>IMPORTE</th>
                                <th>MONEDA</th>
                                <th>MOTIVO</th>
                                <th>ESTATUS</th>
                                <th>COMENTARIOS</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SanctionsList)
                            {
                            <tr>

                                <td>@Html.DisplayFor(modelItem => item.SanctionId)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.emp)</td>
                                <td>@Html.DisplayFor(modelItem => item.total)</td>
                                <td>@Html.DisplayFor(modelItem => item.currencyValue)</td>
                                <td>@Html.DisplayFor(modelItem => item.Motive)</td>
                                <td>@Html.DisplayFor(modelItem => item.statusVal)</td>
                                <td>@Html.DisplayFor(modelItem => item.Comments)</td>
                                @if (!item.IsCancel && Model.CanCancel)
                                {
                                    <td><button class="btn btn-xs btn-outline btn-danger cancelSanction">Cancelar</button></td>}
                                else
                                {
                                    <td></td>
                                }
                            </tr>
                            }
                        </tbody>


                    </table>

                </div>
            </div>
            <div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="color-line"></div>
                        <div class="modal-header">
                            <h4 id="ModalTitle" class="modal-title">Relación de Sanciones</h4>
                            <small id="ModalDescription" class="font-bold"></small>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="edit-sanction">
</div>
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {

            var Products = @Html.Raw(Json.Encode(Model.SanctionsList));
            var CanCanel = @Html.Raw(Json.Encode(Model.CanCancel));
            console.log(CanCanel);
            if (Products.length > 0)
                ReportButton.disabled = false;
            else
                ReportButton.disabled = true;
            
            $("#CreateDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'
            });

            $("#CreateDate2").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'
            });
        });

        var sancsTable = $('#SanctionsTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [

                { data: 'SanctionId' },
                { data: 'CreateDate' },
                { data: 'emp' },
                { data: 'total' },
                { data: 'currencyValue' },
                { data: 'Motive' },
                { data: 'statusVal' },
                { data: 'Comments' },
                { data: 'status' }
            ],

            columnDefs: [
                {
                    targets: [0],
                    orderable: false
                },
            ]
        });

        function Search() {
            var dateIni = stringToDate($("#CreateDate").val());
            var dateFin = stringToDate($("#CreateDate2").val());

            if (dateFin >= dateIni) {

                $("#formSanctions").submit();
                $("#SanctionButton").prop('textContent', "Consultando...");
                $("#SanctionButton").prop('disabled', true);
            }
            else
                toastr.error('Alerta - Fecha Final debe ser mayor o igual a la fecha Inicial. (' + $("#StartDate").val() + ')');
        }

        $("#ReportButton").click(function () {
            var obj = @Html.Raw(Json.Encode(Model));
            StartLoading();
            $.ajax({

                type: "POST",
                url: "@(Url.Action("ActionReportGral", "Sanctions"))",
                dataType: "html",
                data: { "model": obj },
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Relación de Sanciones');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    EndLoading();
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');

                }
            });
        });

        $('#SanctionsTable tbody').on('click', 'button.cancelSanction', function () {
            var tr = $(this).closest('tr');
            var row = sancsTable.row(tr);
            var id = row.data().SanctionId;

            swal({
                    title: "¿Estas seguro?",
                    text: "Una vez que se cancele no podrás revertir el proceso",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sí",
                    cancelButtonText: "No",
                    closeOnConfirm: true,
                    closeOnCancel: false
                },function (isConfirm) {
                        if (isConfirm) {
                            StartLoading();
                            $.post({
                                url: '@Url.Action("ActionCancelSanction", "Sanctions")',
                                Type: 'POST',
                                dataType: 'json',
                                data: { "SanctionId": id },
                                success: function (data) {
                                    EndLoading();
                                    if (data.success) {
                                        swal({
                                            title: 'Cancelada',
                                            text: "Sanción Cancelada",
                                            type: "success"
                                            }, function () { window.location.reload(true); });                                        
                                    }
                                    else {
                                        swal("Error", "Ocurrió un error, contacte a sistemas", "error");
                                    }
                                }
                            });
                        } else {
                            swal("Error", "Sanción no cancelada", "error");
                        }
                    })
        });
    </script>

}