﻿@model List<App.Entities.ViewModels.Transfer.TransferHeaderModel>
@{ ViewBag.Title = "AGT001"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }

    .wit100 {
        width: 10%;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="WSM005">Transferencias </a>
                    </li>
                    <li class="active">
                        <span>Autorizacion de Transferencia</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Autorizacion de Transferencia
            </h2>
            <small>Se mostrara mostran las transferencias las cuales pueden autorizar o rechazar </small>
        </div>
    </div>
</div>
<div class="content animate-panel s">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Autorizar Transferencia</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="ValidDate1" class="form-control" autocomplete="off" />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input type="text" id="ValidDate2" class="form-control" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4" style="margin-top:22px;">
                            <select id="SelectOptions" class="form-control select2" onchange="SearchSelect()">
                                <option value="0">Pendientes</option>
                                <option value="3">Transito</option>
                                <option value="Todos">Todos</option>
                            </select>
                        </div>
                    </div>
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TablePurchases" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>#Folio</th>
                                        <th>Sitio de inicio</th>
                                        <th>Sitio de llegada</th>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="myModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg row">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-print"></i> Imprimir/PDF</h4>
            </div>
            <div class="modal-body" style="height:350px">
                <div id="iframes" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model))
@section Scripts { @Scripts.Render("~/bundles/AGT001/js") }