﻿@model List<App.Entities.ViewModels.Item.ItemModel>
@{ ViewBag.Title = "Ajuste Inventario"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="WSM001">Recibo</a>
                    </li>
                    <li class="active">
                        <span>Ajuste Inventario</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Ajuste Inventario
            </h2>
            <small>Ajuste de Inventario</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Solicitudes Pendientes de Autorizar
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Período</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="beginDate" class="form-control" />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input type="text" id="endDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="TableDiv">
                        <div class="table-responsive">
                            <table id="Items" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Documento</th>
                                        <th>Código</th>
                                        <th>Producto</th>
                                        <th>Locación</th>
                                        <th>Stock Actual</th>
                                        <th>Cantidad Ajuste</th>
                                        <th>Movimiento</th>
                                        <th>Motivo</th>
                                        <th>Stock Nuevo</th>
                                        <th>Comentarios</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br />
</div>

@Html.Hidden("model", Json.Encode(Model))
@section Scripts { @Scripts.Render("~/bundles/AI002/js") }