﻿@model List<App.Entities.ViewModels.Item.ItemModel>
@{ ViewBag.Title = "Ajuste Inventario"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="WSM001">Recibo</a>
                    </li>
                    <li class="active">
                        <span>Ajuste Inventario</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Ajuste Inventario
            </h2>
            <small>Ajuste de Inventario</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Selección de Productos para Ajuste de Inventario
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <label>Seleccionar Producto</label>
                            <div class="form-row">
                                <div class="col-lg-12">
                                    <div class="col-md-4">
                                        <input class="form-control" id="Item" name="Item" data-bind="event: { change: GetItem }" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label title="Lista de Productos" data-toggle="tooltip" data-placement="right" style="padding-top:20px">Lista de Productos</label>
                                <div class="table-responsive">
                                    <table id="Items" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Producto</th>
                                                <th>Locación</th>
                                                <th>Stock Actual</th>
                                                <th>Cantidad de Ajuste</th>
                                                <th>Tipo de Movimiento</th>
                                                <th>Comentarios</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group col-lg-12">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-danger" data-bind="click: Clear" disabled><i class="fa fa-close"></i> Cancelar</button>
                                            <button type="button" class="btn btn-success" data-bind="click: Confirm" disabled><i class="fa fa-check"></i> Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br />
</div>

@section Scripts{ @Scripts.Render("~/bundles/AI001/js") }