﻿@model FloridoERPTX.ViewModels.Warehouse.CT003ViewModel
@{ ViewBag.Title = "CT003"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="WSM005">Transferencias </a>
                    </li>
                    <li class="active">
                        <span>Cancelación de Transferencia</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Cancelación de Transferencia
            </h2>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-arrow-up"></i> SALIDAS</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-arrow-down"></i> ENTRADAS</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                                <div class="row table-responsive">
                                    <table id="Transfers" class="table table-striped table-bordered table-hover" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>No. de transferencia</th>
                                                <th></th>
                                                <th>Sitio Destino</th>
                                                <th></th>
                                                <th>Sitio Envio</th>
                                                <th>Fecha de transferencia</th>
                                                <th>Estatus</th>
                                                <th>Comentario</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-lg-3">
                                    <label for="part_number" title="part_number" data-toggle="tooltip" data-placement="right">Choferes:</label>
                                    <select class="form-control" id="driver">
                                        <option value="">Selecciona un Chofer</option>
                                        @foreach (var item in Model.ListDrivers)
                                        {
                                            <option value="@item.EmpNo">@item.FullName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div id="TableDivEntradas" class="animate-panel" data-effect="zoomIn">
                                <div class="row table-responsive">
                                    <table id="TransfersEntradas" class="table table-striped table-bordered table-hover" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>No. de transferencia</th>
                                                <th></th>
                                                <th>Sitio Destino</th>
                                                <th></th>
                                                <th>Sitio Envio</th>
                                                <th>Fecha de transferencia</th>
                                                <th>Estatus</th>
                                                <th>Comentario</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("ListStatus4", Json.Encode(Model.ListTransferStatus4))
@Html.Hidden("ListStatus9", Json.Encode(Model.ListTransferStatus9))
@section Scripts { @Scripts.Render("~/bundles/CT003/js") }