﻿@model FloridoERPTX.ViewModels.Warehouse.CT002Model
@{ ViewBag.Title = "CT002"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="WSM005">Transferencias </a>
                    </li>
                    <li class="active">
                        <span>Captura de Transferencia</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Captura de Transferencia
            </h2>
            <small>Se ingresaran los productos que seran enviados a otra tienda. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Captura de Transferencia</a>
                </div>
                <div class="panel-body">
                    <div class="form-group col-lg-3">
                        <label title="Tienda a Transferir" data-toggle="tooltip" data-placement="right">Tienda a Transferir</label>
                        @Html.DropDownListFor(m => m.Site, Model.SiteList, new { @class = "form-control", @id = "siteDestino", @onchange = "ValidateSite();" })
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label title="Agregar Producto" data-toggle="tooltip" data-placement="right">Agregar Producto</label>
                            <form method="post" id="form_product" name="form_product">
                                <div class="form-row">
                                    <div class="col-lg-12">
                                        <div class="col-md-4">
                                            <input class="form-control" id="ItemsDrop" name="ItemsDrop" onchange="ValidateItem(); getStock();" disabled />
                                            @*@Html.DropDownListFor(m => m.Items, Model.ItemsList, new { @class = "form-control", @id = "ItemsDrop", @onchange = " ValidateItem(); getStock();" })*@
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                                                <input id="qty" name="qty"  placeholder="Cantidad Disponible" data-toggle="tooltip" title="Cantidad Actualmente Disponible" class="form-control" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></span>
                                                <input id="quantity" name="quantity" type="number" placeholder="Cantidad Requerida" class="form-control" data-toggle="tooltip" title="Cantidad Requerida" disabled/>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn btn-success" id="product_button" data-toggle="tooltip" title="Agregar Producto">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <label title="Lista de Productos" data-toggle="tooltip" data-placement="right" style="padding-top:20px">Lista de Productos</label>
                            <div class="table-responsive m-t">
                                <table class="table table-striped table-bordered table-hover" id="table_products">
                                    <thead>
                                        <tr>
                                            <th width="10%">Código </th>
                                            <th width="25%">Producto</th>
                                            <th width="5%">Cantidad</th>
                                            <th>Remover</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-md-offset-9">
                                    <button disabled onclick="TransfeMessage()" class="btn btn-success pull-right" type="button" id="btnSave"><i class="fa fa-upload"></i> Transferir</button>
                                    <button disabled onclick="RefreshItems()" class="btn btn-danger pull-right" type="button" id="btnCancel"><i class="fa fa-close"></i> Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model))
@section Scripts { @Scripts.Render("~/bundles/CT002/js") }