﻿@model List<App.Entities.ViewModels.UserSpecs.UserSpecsModel>
@{
    ViewBag.Title = "DRIV001";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="WSM005">Transferencias </a>
                    </li>
                    <li class="active">
                        <span>Registro de choferes</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Registro de choferes
            </h2>
            <small>Se agregaran y desactivaran choferes</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();" id="diferent">Choferes</a>
                </div>
                <div class="panel-body">
                    <div class="col-lg-2">
                        <label>
                            Número de empleado
                        </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></span>
                            <input id="inputNumberEmployee" maxlength="10" class="form-control" type="number" name="name" value="" onchange="MaxInputNumber();" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>
                            Nombre Completo
                        </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input id="inputFullName" maxlength="50" class="form-control" type="text" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label>
                            Número de teléfono
                        </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input id="inputMobilNumber" maxlength="10" class="form-control" type="text" name="name" value="" onkeyup="ValidatePhone()" />
                        </div>
                    </div>
                    <div class="col-lg-2" style="margin-top: 28px;">
                        <label style="margin-right: 25px;"> <input type="checkbox" id="checkboxActiveDriver" class="i-checks"><b>  Activo</b></label>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-success" id="buttonSaveInventory" style="margin-top: 22px; margin-right: 20px">
                            <i class="fa fa-check"></i> Guardar
                        </button>
                        <button class="btn btn-warning" id="buttonEditInventory" style="margin-top: 22px; margin-right: 20px">
                            <i class="fa fa-pencil"></i> Editar
                        </button>
                        <button class="btn btn-danger" onclick="ClearForm()" style="margin-top: 22px;">
                            <i class="fa fa-close"></i> Cancelar
                        </button>
                    </div>
                    <div class="col-lg-12" style="margin-top: 30px;">
                        <div class="table-responsive">
                            <table id="tableDriver" class="table table-striped table-bordered table-hover" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Número de empleado</th>
                                        <th>Nombre completo </th>
                                        <th>Teléfono</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model))
@section Scripts { @Scripts.Render("~/bundles/DRIV001/js") }