﻿@model App.Entities.ViewModels.EntryFree.EntryFreeAndSupplierModel
@{
    ViewBag.Title = "EMSC002";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

<style>
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 24px;
    }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #3498DB;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider2 {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #3498DB;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "1";
        text-align: center;
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: #FFF;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider2:before {
        position: absolute;
        content: "2";
        text-align: center;
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: #FFF;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #74d348;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #74d348;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(36px);
        -ms-transform: translateX(36px);
        transform: translateX(36px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 24px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .transitionDiv {
        animation-name: transicion;
        animation-duration: 2s;
    }

    .tableAnimation {
        animation-name: grande;
        animation-duration: 2s;
    }

    .opacidad {
        animation-name: opacidad;
        animation-duration: 2s;
    }

    @@keyframes opacidad {
        from {
            right: -1000px;
        }

        to {
            right: 0px;
        }

        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @@keyframes grande {
        0% {
            width: 20%;
            height: 20%;
            opacity: 0;
        }

        100% {
            width: 100%;
            height: 100%;
            opacity: 1;
        }
    }

    @@keyframes transicion {
        0% {
            display: block;
            width: 80%;
            opacity: 0;
        }

        100% {
            width: 100%;
            opacity: 1;
        }
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="WSM001">Recibo </a>
                    </li>
                    <li class="active">
                        <span>Entrada sin cargo</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Entrada sin cargo
            </h2>
            <small>Se mostrara las entradas sin cargo </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">

                    <div class="col-lg-12 transitionDiv" id="option2">
                        <div class="col-lg-3">
                            <label>Fecha Inicial</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker'>
                                    <input id="dateInit" type='text' class="form-control" autocomplete="off" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <label id="dateInitError" class="error" hidden>El Campo no puede ser nulo</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label>Fecha Final</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input id="dateFin" type='text' class="form-control" autocomplete="off" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <label id="dateFinError" class="error" hidden>El Campo no puede ser nulo</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label>Proveedor</label>
                            <div>
                                <input class="form-control" id="supplier" name="supplier" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label>Estatus</label>
                            <div>
                                <select id="status" class="form-control select2">
                                    <option value="0" selected>Selecciona un estatus</option>
                                    <option value="9">Finalizada</option>
                                    <option value="8">Cancelada</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <br />
                            <button type="button" onclick="SearchDate()" class="btn btn-info pull-right" style="margin-right:5px;"><I class="fa fa-search"></I> Buscar</button>
                        </div>
                    </div>

                    <div class="col-lg-12 transitionDiv" style="margin-bottom:25px;" id="option3">
                        <div id="normal" class="col-lg-12" data-effect="zoomIn" style="margin-top:22px;">
                            <div class="row table-responsive">
                                <table id="entryFreeTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Proveedor</th>
                                            <th>Tipo de Entrada</th>
                                            <th>Concepto</th>
                                            <th>Fecha</th>
                                            <th>Comentario</th>
                                            <th>Referencia</th>
                                            <th>Realizado por</th>
                                            <th>Estado</th>
                                            <th>Sitio</th>
                                            <th></th>
                                            <th></th>
                                            <th>Reporte</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="myModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg row">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-print"></i> Imprimir/PDF</h4>
            </div>
            <div class="modal-body" style="height:350px">
                <div id="iframes" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", serializer.Serialize(Model.EntryFreeList))
@section Scripts { @Scripts.Render("~/bundles/EMSC002/js") }