﻿@model List<App.Entities.ViewModels.Supplier.MaSupplierModel>
@{ ViewBag.Title = "EMSC001"; }

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 24px;
    }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #3498DB;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider2 {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #3498DB;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "1";
        text-align: center;
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: #FFF;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider2:before {
        position: absolute;
        content: "2";
        text-align: center;
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: #FFF;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #74d348;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #74d348;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(36px);
        -ms-transform: translateX(36px);
        transform: translateX(36px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 24px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .transitionDiv {
        animation-name: transicion;
        animation-duration: 2s;
    }

    .tableAnimation {
        animation-name: grande;
        animation-duration: 2s;
    }

    .opacidad {
        animation-name: opacidad;
        animation-duration: 2s;
    }

    @@keyframes opacidad {
        from {
            right: -1000px;
        }

        to {
            right: 0px;
        }

        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @@keyframes grande {
        0% {
            width: 20%;
            height: 20%;
            opacity: 0;
        }

        100% {
            width: 100%;
            height: 100%;
            opacity: 1;
        }
    }

    @@keyframes transicion {
        0% {
            display: block;
            width: 80%;
            opacity: 0;
        }

        100% {
            width: 100%;
            opacity: 1;
        }
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="WSM001">Recibo </a>
                    </li>
                    <li class="active">
                        <span>Entrada sin cargo</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Entrada sin cargo
            </h2>
            <small>Se mostrara las entradas sin cargo </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-12 transitionDiv" id="option2">

                        <div class="col-lg-3">
                            <label>Fecha Inicial</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker'>
                                    <input id="dateInit" type='text' class="form-control" autocomplete="off" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <label id="dateInitError" class="error" hidden>El Campo no puede ser nulo</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label>Fecha Final</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input id="dateFin" type='text' class="form-control" autocomplete="off" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <label id="dateFinError" class="error" hidden>El Campo no puede ser nulo</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Proveedor</label>
                            <div>
                                <select id="supplier" class="form-control select2">
                                    <option value="0" hidden>Selecciona un proveedor</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.SupplierId">@item.BusinessName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <br />
                            <button type="button" onclick="SearchDate()" class="btn btn-info pull-right" style="margin-right:5px;"><I class="fa fa-search"></I> Buscar</button>
                        </div>
                    </div>

                    <div class="col-lg-12 transitionDiv" style="margin-bottom:25px;" id="option3" hidden>
                        <div class="col-lg-4">
                            <label class="center" for="select_family" data-toggle="tooltip" data-placement="right">Folios</label>
                            <select id="folio" class="form-control center" onchange="Search();">
                                <option value="">Selecciona un Folio</option>
                            </select>
                        </div>
                        <div class="col-lg-4" id="ButtonList">
                            <div style="margin-top:22px;">
                                <button class="btn btn-primary2" onclick="Print()" style="margin-right:5px;"><i class="fa fa-print"></i> Imprimir</button>
                                <button class="btn btn-success" onclick="Aprovate()" style="margin-right:5px;"><i class="fa fa-print"></i> Aprobar</button>
                                <button class="btn btn-danger" id="buttonCancel"><i class="fa fa-close"></i> Cancelar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 opacidad" hide style="margin-bottom:25px;" id="option21">
                        <div class="col-lg-3">
                            <label><i class="fa fa-briefcase"></i> Proveedor</label>
                            <p id="supplierText">

                            </p>
                        </div>
                        <div class="col-lg-3">
                            <label><i class="fa fa-filter"></i> Tipo de Entrada</label>
                            <p id="typeText">

                            </p>
                        </div>
                        <div class="col-lg-3">
                            <label><i class="fa fa-industry"></i> Concepto</label>
                            <p id="subTypeText">

                            </p>
                        </div>
                        <div class="col-lg-3">
                            <label><i class="fa fa-calendar-plus-o"></i> Fecha</label>
                            <p id="dateText">

                            </p>
                        </div>
                        <div class="col-lg-3">
                            <label><i class="fa fa-commenting"></i> Comentario</label>
                            <p id="commentary">

                            </p>
                        </div>
                        <div class="col-lg-3">
                            <label><i class="fa fa-hashtag"></i> Referencia</label>
                            <p id="reference">

                            </p>
                        </div>
                        <div class="col-lg-3">
                            <label><i class="fa fa-phone"></i> Telefono</label>
                            <p id="phone">

                            </p>
                        </div>
                        <div class="col-lg-3">
                            <label><i class="fa fa-user"></i> Realizado por</label>
                            <p id="userName">

                            </p>
                        </div>
                    </div>

                    <div class="col-lg-12 tableAnimation" id="tableEMSCContent">
                        <div class="col-lg-12 table-responsive">
                            <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped" id="tableEMSCHead">
                                <thead>
                                    <tr>
                                        <th>Numero de producto</th>
                                        <th>Nombre de producto</th>
                                        <th>Medida</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Importe</th>
                                        <th>IVA</th>
                                        <th>IEPS</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody id="tableEMSC"></tbody>
                            </table>
                        </div>
                        <div class="col-lg-12" id="totalAmountForm">
                            <div class="pull-right" style="width:26%;">
                                <div class="col-lg-6" style="border:1px solid #dddddd"><b> Subtotal:</b></div><div class="col-lg-6 text-right" style="border:1px solid #dddddd" id="totalAmount">0</div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="totalIvaForm">
                            <div class="pull-right" style="width:26%;">
                                <div class="col-lg-6" style="border:1px solid #dddddd"><b>IVA Total:</b></div><div class="col-lg-6 text-right" style="border:1px solid #dddddd" id="totalIva">0</div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="totalIEPSForm">
                            <div class="pull-right" style="width:26%;">
                                <div class="col-lg-6" style="border:1px solid #dddddd"><b>IEPS Total:</b></div><div class="col-lg-6 text-right" style="border:1px solid #dddddd" id="totalIEPS">0</div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="totalFinalForm">
                            <div class="pull-right" style="width:26%;">
                                <div class="col-lg-6" style="border:1px solid #dddddd"><b> Total:</b></div><div class="col-lg-6 text-right" style="border:1px solid #dddddd" id="totalFinal">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="myModal8" tabindex="-1" role="dialog" aria-hidden="true" w>
    <div class="modal-dialog modal-lg row">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-print"></i> Imprimir/PDF</h4>
            </div>
            <div class="modal-body" style="height:350px">
                <div id="iframes" style="width:100%;">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Email()" data-dismiss="modal"><i class="fa fa-envelope-o"></i> Enviar Correo</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/EMSC001/js") }