﻿
@{
    ViewBag.Title = "INVE000";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacén</a></li>
                    <li class="active">
                        <span>Inventario</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Inventario
            </h2>
            <small>Menu de Inventario. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row menu-row">

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE001">
                            <h2 class="m-b-xs">Agenda de Inventario</h2>
                            <div class="m">
                                <i class="pe-7s-folder fa-5x"></i>
                            </div>
                            <p class="small">
                                Se mostraran todos los inventarios
                            </p>
                            <br />
                        </a>
                        <a href="INVE001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE012">
                            <h2 class="m-b-xs">Historial de Inventarios</h2>
                            <div class="m">
                                <i class="fa fa-history fa-5x"></i>
                            </div>
                            <p class="small">
                                Muestra los inventarios realizados
                            </p>
                            <br />
                        </a>
                        <a href="INVE012" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE005">
                            <h2 class="m-b-xs">Reporte de diferencias</h2>
                            <div class="m">
                                <i class="fa fa-files-o fa-5x"></i>
                            </div>
                            <p class="small">
                                Se mostraran las diferencias de los inventarios fisico
                            </p>
                            <br />
                        </a>
                        <a href="INVE005" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE003">
                            <h2 class="m-b-xs">Activar Inventario</h2>
                            <div class="m">
                                <i class="pe-7s-check fa-5x"></i>
                            </div>
                            <p class="small">
                                Se encarga de activar el inventario
                            </p>
                            <br />
                        </a>
                        <a href="INVE003" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>      

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE002">
                            <h2 class="m-b-xs">Alta <br/>de Usuarios</h2>
                            <div class="m">
                                <i class="fa fa-user-plus fa-5x"></i>
                            </div>
                            <p class="small">
                                Se podrá registrar los usuarios para el inventario
                            </p>
                            <br />
                        </a>
                        <a href="INVE002" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE004">
                            <h2 class="m-b-xs">Cierre <br/>de conteo</h2>
                            <div class="m">
                                <i class="fa fa-times-circle fa-5x"></i>
                            </div>
                            <p class="small">
                                Se podrá registrar los usuarios para el inventario
                            </p>
                            <br />
                        </a>
                        <a href="INVE004" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE006">
                            <h2 class="m-b-xs">Modificación <br />de inventario</h2>
                            <div class="m">
                                <i class="fa fa-arrow-circle-up fa-5x"></i>
                            </div>
                            <p class="small">
                                Se podra registrar ajustes.
                            </p>
                            <br />
                        </a>
                        <a href="INVE006" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE007">
                            <h2 class="m-b-xs">Reporte de modificación</h2>
                            <div class="m">
                                <i class="fa fa-edit fa-5x"></i>
                            </div>
                            <p class="small">
                                Se muestran las modificaciones de diferencias del conteo.
                            </p>
                            <br />
                        </a>
                        <a href="INVE007" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE008">
                            <h2 class="m-b-xs">Formatos para inventarios</h2>
                            <div class="m">
                                <i class="fa fa-list-ul fa-5x"></i>
                            </div>
                            <p class="small">
                                Se muestran los formatos para conteo inventario.
                            </p>
                            <br />
                        </a>
                        <a href="INVE008" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE009">
                            <h2 class="m-b-xs">Captura Preinventario</h2>
                            <div class="m">
                                <i class="fa fa-archive fa-5x"></i>
                            </div>
                            <p class="small">
                                Se podrá realizar la precaptura del inventario.
                            </p>
                            <br />
                        </a>
                        <a href="INVE009" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE010">
                            <h2 class="m-b-xs">Solicitud Ajuste de Inventario</h2>
                            <div class="m">
                                <i class="fa fa-sliders fa-5x"></i>
                            </div>
                            <p class="small">
                               Se podra realizar una petición para ajuste de inventario
                            </p>
                            <br />
                        </a>
                        <a href="INVE010" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE011">
                            <h2 class="m-b-xs">Conteo de inventario</h2>
                            <div class="m">
                                <i class="fa fa-list-ol fa-5x"></i>
                            </div>
                            <p class="small">
                                Se podrá realizar el conteo del inventario
                            </p>
                            <br />
                        </a>
                        <a href="INVE011" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>