﻿@model FloridoERPTX.ViewModels.Warehouse.INVE008ViewModel
@{ ViewBag.Title = "INVE008"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="WSM003">Almacen</a></li>
                    <li>
                        <a href="INVE000">Inventarios</a>
                    </li>
                    <li class="active">
                        <span>Formatos para inventario</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Formatos para inventario
            </h2>
            <small>Imprimir Formatos para inventario</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4" id="divSelectPrint">
                            <label title="Tipo Impresion" data-toggle="tooltip" data-placement="right">Impresion</label>
                            <select class="form-control" id="selectType" onchange="ChangeType()">
                                <option value="">Seleccione una opcion</option>
                                <option value="location">Ubicación</option>
                                <option value="supplier">Proveedor</option>
                                <option value="family">Familia</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-lg-3" id="divLocation" hidden>
                            <label title="Locacion" data-toggle="tooltip" data-placement="right">Locación</label>
                            <input class="form-control" id="location" onchange="CheckExistList()" />
                        </div>
                        <div class="col-md-4" id="divItems" hidden>
                            <label title="Producto" data-toggle="tooltip" data-placement="right">Productos</label>
                            <input class="form-control" id="ItemsDrop" name="ItemsDrop" />
                        </div>
                        <div class="col-md-4" id="divSupplier" hidden>
                            <label title="Proveedor" data-toggle="tooltip" data-placement="right">Proveedor</label>
                            <select class="form-control" id="selectSupplier">
                                <option value="">Seleccione un Proveedor</option>
                                @foreach (var item in Model.ListSuppliers)
                                {
                                    <option value="@item.SupplierId/*/*@item.BusinessName">@item.BusinessName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4" id="divFamily" hidden>
                            <label title="Familia" data-toggle="tooltip" data-placement="right">Familia</label>
                            <select class="form-control" id="selectFamily">
                                <option value="">Seleccione una Familia</option>
                                @foreach (var item in Model.ListMaClass)
                                {
                                    <option value="@item.class_id/*/*@item.class_name">@item.class_name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-lg-3" id="divButtons" hidden>
                            <br />
                            <button class="btn btn-success" id="btnAddProduct" onclick="AddItems()"><i class="fa fa-plus"></i> Agregar</button>
                            <button class="btn btn-primary" id="btnPrintList" onclick="PrintList()"><i class="fa fa-print"></i> Imprimir</button>
                        </div>
                    </div>
                    <div id="divTable" class="animate-panel" data-effect="zoomIn" hidden>
                        <div class="row table-responsive">
                            <table id="TableProducts" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Descripcion</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var listItems = [];
        $("#selectFamily").select2();
        $("#selectSupplier").select2();
        $("#selectType").select2();

        $("#ItemsDrop").select2({
            minimumInputLength: 3,
            allowClear: true,
            placeholder: "Seleccione una producto",
            initSelection: function (element, callback) {
                callback({ id: "", text: "Seleccione una opcion" });
            },
            ajax: {
                url: "/Items/ActionSearchItemBarcode/",
                dataType: 'json',
                type: "GET",
                quietMillis: 50,
                data: function (Filter) {
                    return {
                        Filter: Filter
                    };
                },
                results: function (data) {
                    return {
                        results: $.map(data.Json, function (item) {
                            return {
                                text: item.Description,
                                id: item.PathNumber + '*/*/*/' + item.Description
                            }
                        }),
                    };
                }
            }
        });

        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);
        });

        var table = $('#TableProducts').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns:
                [
                    { data: 'part_number' },
                    { data: 'part_description' },
                    { data: null }
                ],
            columnDefs:
                [
                    {

                        targets: [2],
                        width: "1%",
                        //defaultContent: '<button class="btn btn-xs btn-outline btn-danger" id="btnDelete" onclick="DeleteItem()"><i class="fa fa-close"></i> Eliminar</button>'
                        render: function (data, type, full, meta) {
                            return `<button class="btn btn-xs btn-outline btn-danger" id="btnDelete" onclick="DeleteItem('` + full.part_number + `')"><i class="fa fa-close"></i> Eliminar</button>`;
                        }
                    },
                    {
                        targets: [0, 1],
                        width: "1%"
                    }
                ]
        });

        function AddItems() {
            var type = $("#selectType").val();
            if (type == "location") {
                var item = $("#ItemsDrop").val();
                if (item == "") {
                    toastr.warning("Ingrese un producto");
                    return;
                }
                var part_number = item.split("*/*/*/")[0];
                var part_description = item.split("*/*/*/")[1];
                var newItem = { part_number: part_number, part_description: part_description }

                if (listItems.findIndex(x => x.part_number == part_number) > 0) { toastr.error("El producto ya existe en la lista"); return;}
                StartLoading();
                $.ajax({
                    type: "POST",
                    url: "/InventoryLocation/ActionAddInventoryFormat/",
                    data: { "location": $("#location").val() , "part_number": part_number},
                    success: function (json) {
                        if (json.success) {
                            toastr.success("Producto Registrado correctamente");
                            listItems = json.Data
                            fillTable(listItems);
                            EndLoading();
                        } else {
                            if (json.Data == "SF") {
                                SessionFalse("Terminó tu sesión");
                            } else {
                                toastr.error('Alerta - Error inesperado contacte a sistemas');
                            }
                            EndLoading();
                        }
                    },
                    error: function (json) {
                        toastr.error('Alerta - Error inesperado contactar a sistemas.');
                        EndLoading();
                    }
                });

            } else if (type == "supplier") {
                listItems = [];
                var supplier = $("#selectSupplier").val().split("/*/*")[0];
                if (supplier == "") {
                    toastr.warning("Seleccione un proveedor");
                    return;
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/ItemSuppliers/ActionGetAllItemsSuppliers/",
                        data: { "supplier_id": supplier },
                        success: function (json) {
                            if (json.success) {
                                json.Data.forEach(x => { item = { part_number: x.PathNumber, part_description: x.Description }; listItems.push(item); })
                                fillTable(listItems);
                                EndLoading();
                            } else {
                                if (json.data == "SF") {
                                    SessionFalse("Terminó tu sesión");
                                } else {
                                    toastr.error('Alerta - Error inesperado contacte a sistemas');
                                }
                            }
                        },
                        error: function (json) {
                            toastr.error('Alerta - Error inesperado contactar a sistemas.');
                            EndLoading();
                        }
                    });
                }
            } else if (type == "family") {
                listItems = [];
                var family = $("#selectFamily").val().split("/*/*")[0];
                if (family == "") {
                    toastr.warning("Seleccione una familia");
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/Items/ActionGetItemsByDepartmentInventory/",
                        data: { "id": family },
                        success: function (json) {
                            console.log(json)
                            if (json.success) {
                                json.Data.forEach(x => { item = { part_number: x.PartNumber, part_description: x.Description }; listItems.push(item); })
                                fillTable(listItems);
                                EndLoading();
                            } else {
                                if (json.data == "SF") {
                                    SessionFalse("Terminó tu sesión");
                                } else {
                                    toastr.error('Alerta - Error inesperado contacte a sistemas');
                                }
                            }
                        },
                        error: function (json) {
                            toastr.error('Alerta - Error inesperado contactar a sistemas.');
                            EndLoading();
                        }
                    });
                }
            }
        }

        function DeleteItem(part_number) {
            StartLoading();
            $.ajax({
                type: "POST",
                url: "/InventoryLocation/ActionDeleteInventoryFormat/",
                data: { "location": $("#location").val(), "part_number": part_number },
                success: function (json) {
                    if (json.success) {
                        toastr.success("Producto Eliminado correctamente");
                        listItems = json.Data
                        fillTable(listItems);
                        EndLoading();
                    } else {
                        if (json.Data == "SF") {
                            SessionFalse("Terminó tu sesión");
                        } else {
                            toastr.error('Alerta - Error inesperado contacte a sistemas');
                        }
                        EndLoading();
                    }
                },
                error: function (json) {
                    toastr.error('Alerta - Error inesperado contactar a sistemas.');
                    EndLoading();
                }
            });
        }

        function PrintList() {
            var location = $("#location").val();
            var type = $("#selectType").val();
            var desc;
            var print = false;
            if (type == "location") {
                desc = location;
                if (location == "") {
                    toastr.warning("Ingrese locación");
                    return;
                } else if (listItems.length == 0) {
                    toastr.warning("Agregue por lo menos un producto");
                    return;
                }
                StartLoading();
                print = true;
            } else if (type == "supplier") {
                desc = $("#selectSupplier").val().split("/*/*")[1];
                print = true;
            } else if (type == "family") {
                desc = $("#selectFamily").val().split("/*/*")[1];
                print = true;
            }

            if (print) {
                StartLoading();
                $.ajax({
                    type: "POST",
                    url: "/InventoryHeader/ActionGetReport/",
                    data: { "items": listItems, "desc": desc, "type": type },
                    success: function (json) {
                        if (json.success) {
                            $("#modalReferenceBody").html("<iframe width='100%' height='550px' src='data:application/pdf;base64, " + encodeURI(json.Data) + "'></iframe>")
                            $("#modalReference").modal('show');
                            EndLoading();
                        } else {
                            if (json.data == "SF") {
                                SessionFalse("Terminó tu sesión");
                            } else {
                                toastr.error('Alerta - Ha ocurrido un error al guardar el registro');
                            }
                        }
                    },
                    error: function (json) {
                        toastr.error('Alerta - Error inesperado contactar a sistemas.');
                        EndLoading();
                    }
                });
            }
        }

        function CheckExistList() {
            var loc = $("#location").val();
            StartLoading();
            $.ajax({
                type: "POST",
                url: "/InventoryLocation/ActionGetInventoryFormat/",
                data: { "location": loc},
                success: function (json) {
                    if (json.success) {
                        listItems = json.Data
                       fillTable(listItems)
                        EndLoading();
                    } else {
                        if (json.Data == "SF") {
                            SessionFalse("Terminó tu sesión");
                        } else {
                            toastr.error('Alerta - Ha ocurrido un error al guardar el registro');
                        }
                    }
                },
                error: function (json) {
                    toastr.error('Alerta - Error inesperado contactar a sistemas.');
                    EndLoading();
                }
            });
        }

        function ChangeType() {
            listItems = [];
            fillTable(listItems);
            $("#location").val(null);
            var type = $("#selectType").val();
            if (type == "location") {
                $("#divLocation").show();
                $("#divItems").show();
                ShowTableButtons();
                $("#divSupplier").hide();
                $("#divFamily").hide();
                ClearTable();
            } else if (type == "supplier") {
                $("#divLocation").hide();
                $("#divItems").hide();
                $("#divFamily").hide();
                $("#divSupplier").show();
                ShowTableButtons();
                divLocationHide();
                ClearTable();
            } else if (type == "family") {
                divLocationHide();
                $("#divSupplier").hide();
                $("#divFamily").show();
                ShowTableButtons();
            }
        }

        function ShowTableButtons() {
            $("#divTable").show();
            $("#divButtons").show();
        }

        function ClearTable() {
            table.clear().draw();
            table.columns.adjust().draw();
        }

        function divLocationHide() {
            $("#divLocation").hide();
            $("#divItems").hide();
        }

        function fillTable(listItems) {
            table.clear().draw();
            table.rows.add(listItems)
            table.columns.adjust().draw();
        }
    </script>
}