﻿@model FloridoERPTX.ViewModels.Warehouse.INVE018ViewModel
@{
    ViewBag.Title = "Codigos Inventarios";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

@section Styles { @Styles.Render("~/bundles/touchspin/css") }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Almacen</a></li>
                    <li><a href="PURCH007">Inventarios</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Codigos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs text-info">
                Codigos
            </h2>
            <small>Codigos para inventarios. </small>
        </div>
    </div>
</div>


<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">

                    <div class="row">
                        <div class="form-group col-lg-12">


                            <div class="form-group col-lg-12">

                                <div class="form-group col-lg-5">
                                    <label for="select_site" title="Inventario" data-toggle="tooltip" data-placement="right">Inventario</label>
                                    @Html.DropDownListFor(model => model.inventory_id, Model.InventorySelectList, htmlAttributes: new { @class = "form-control", @id = "inventory_select", @onchange = "Show()" })
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Numero de Etiquetas a Imprimir</label>
                                    <input class="form-control" type="text" id="iptLabels" />
                                </div>

                                <div class="form-group col-lg-1">
                                    <button type="button" class="btn btn-default" onclick="Labels()" style="margin-top:1.6em;"><i class="fa fa-print"></i> Imprimir</button>
                                </div>

                                <div class="form-group col-lg-1">
                                    <button type="button" class="btn btn-default" onclick="Reprint()" style="margin-top:1.6em;"><i class="fa fa-file"></i> Re-Imprimir</button>
                                </div>


                            </div>

                            <div class="form-group col-lg-12">

                                <div class="form-group col-lg-6">
                                    <h5 class="text-primary">Num. de Inventario:</h5>
                                    <h5 id="num-inv"></h5>
                                </div>

                                <div class="form-group col-lg-6">
                                    <h5 class="text-primary">Etiquetas Impresas:</h5>
                                    <h5 id="labels-inv" ></h5>
                                </div>

                                <div class="form-group col-lg-12">
                                    <h5 class="text-primary">Nombre de Inventario:</h5>
                                    <h5 id="name-inv"></h5>
                                </div>

                                <div class="form-group col-lg-12">
                                    <h5 class="text-primary">Descripcion:</h5>
                                    <h5 id="des-inv"></h5>
                                </div>



                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/touchspin/js")
    <script type="text/javascript">

        $("#inventory_select").select2();


        function Show() {

            var id = $("#inventory_select").val()
            $("#labels-inv").css({ "font-style": "italic" });
        

            $.ajax({
                url: "@(Url.Action("ActionGetInventoryById", "InventoryHeader"))",
                data: { "id": id},
                type: "GET",
                success: function (returndate) {

                    var obj = returndate.Data
                    $("#num-inv").text(obj.id_inventory_header)
                    $("#name-inv").text(obj.inventory_name)
                    $("#des-inv").text(obj.inventory_description)
                   
                    console.log(returndate.Data)
                }
            });

             $.ajax({
                url: "@(Url.Action("ActionGetInventoryLastLabel", "InventoryLabel"))",
                data: { "id_inventory": id},
                type: "GET",
                success: function (response) {
                     var item = response.Data.last_number
                     if (item > 0) {
                         $("#labels-inv").text(item)
                     } else {
                         $("#labels-inv").text("Este inventario no ha impreso etiquetas.")
                     }
                }
            });


        }

        function Reprint() {

            var id = $("#inventory_select").val()
            StartLoading();

            $.ajax({
                url: "@(Url.Action("ActionReprintLabels", "InventoryLabel"))",
                data: {
                    "id": id,
                },
                type: "GET",
                success: function (response) {

                    EndLoading();
                    if (response.success) {

                        var sampleArr = base64ToArrayBuffer(response.responseText);
                        saveByteArray("Etiquetas_" + id, sampleArr);
                        EndLoading();

                    } else {
                        toastr.warning("Error al registrar etiquetas");
                    }

                }
            });
            EndLoading();
        }

        function Labels() {

            var id = $("#inventory_select").val()
            var quantity = $("#iptLabels").val()

            StartLoading();

            $.ajax({
                url: "@(Url.Action("ActionCreateLabels", "InventoryLabel"))",
                data: {
                    "id": id,
                    "quantity": quantity
                },
                type: "GET",
                success: function (response) {

                    EndLoading();
                    if (response.success) {
                        toastr.success("Etiquetas registradas");

                        var sampleArr = base64ToArrayBuffer(response.responseText);
                        saveByteArray("Etiquetas_" + id, sampleArr);
                        EndLoading();


                    } else {
                        toastr.warning("Error al registrar etiquetas");
                    }

                }
            });

            EndLoading();

        }

        function base64ToArrayBuffer(base64) {
            var binaryString = window.atob(base64);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
                var ascii = binaryString.charCodeAt(i);
                bytes[i] = ascii;
            }
            return bytes;
        }

        function saveByteArray(reportName, byte) {
            var blob = new Blob([byte]);
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            var fileName = reportName;
            link.download = fileName + ".pdf";
            link.click();
        };

    </script>
}

