﻿@model App.Entities.ViewModels.Inventory.InventoryDifferentModel
@{ ViewBag.Title = "INVE005"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="INVE000">Inventario </a>
                    </li>
                    <li class="active">
                        <span>Reporte de diferencias</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte de diferencias
            </h2>
            <small>Se mostraran las diferencias de los inventarios </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active" title="Diferencias de inventario" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-1" onclick="ClearForm();"> <i class="fa fa-bar-chart-o"></i>&nbsp;Diferencias de inventario</a></li>
                        <li class="" title="Diferencias del pre escaneo" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-2" onclick="SearchOption(false); ClearForm();"><i class="fa fa-balance-scale"></i>&nbsp;Diferencias del pre escaneo</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body" id="divInventario" hidden>
                                <div>
                                    <h5 id="descriptionInventory"></h5>
                                    <h7 id="headerNumber"></h7>
                                </div>
                                <br />
                                <div class="col-lg-3">
                                    <label>Ubicaciones</label>
                                    <select id="locationSelect" class="form-control">
                                        <option value="0">
                                            Selecciona una ubicacion
                                        </option>
                                        @foreach (var item in Model.Location.Select(x => x.planogram_location).Distinct())
                                        {
                                            <option value="@item">
                                                @item
                                            </option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label>Departamento</label>
                                    <select id="departamentSelect" class="form-control">
                                        <option value="0">
                                            selecciona un departamento
                                        </option>
                                        @foreach (var item in Model.FamilyActive)
                                        {
                                            <option value="@item.class_id">
                                                @item.class_name
                                            </option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-6 contact-panel">
                                    <div class="hpanel hgreen">
                                        <label title="Selecciona Tienda" data-toggle="tooltip" data-placement="right">Selecciona Opciones</label>
                                        <div class="panel-heading hbuilt">
                                            <div class="panel-tools">
                                                <a id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    Opciones
                                                </div>
                                                <div class="col-md-5">
                                                    <form action="">
                                                        <div class="input-group">
                                                            <input id="searchListassigned" type="text" class="form-control input-xs" placeholder="Buscar Tienda..." onkeyup="searchLists('assignedList,#searchListassigned');" />
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-xs btn-default" type="button" onclick="searchLists('assignedList,#searchListassigned');">
                                                                    <span class="fa fa-search"></span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body no-padding" style="display: block;" id="bodySites">
                                            <ul id="assignedList" class="list-group">
                                                <li class="list-group-item">
                                                    <p class="checkbox">
                                                        <input id="productNotCountCheck" type="checkbox" name="available" value="Productos no contados">&nbsp;&nbsp;
                                                        <label id="Label_productosNoContados" for="Label_productosNoContados">Productos no contados</label>
                                                    </p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p class="checkbox">
                                                        <input id="diferentCodeCheck" type="checkbox" name="available" value="Diferencia por codigo">&nbsp;&nbsp;
                                                        <label id="Label_diferenciaCodigo" for="Label_diferenciaCodigo">Diferencia por codigo</label>
                                                    </p>
                                                </li>
                                                @*<li class="list-group-item">
                                                        <p class="checkbox">
                                                            <input type="checkbox" name="available" value="Pallet preinventarios no escaneados(se compara inventario al activarse)">&nbsp;&nbsp;
                                                            <label id="Label_inventarioPallet" for="Label_inventarioPallet">Pallet preinventarios no escaneados(se compara inventario al activarse)</label>
                                                        </p>
                                                    </li>*@
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2">
                                        <a>Fecha de Merma Controlada</a> <br />
                                        <a id="scrapDates"></a>
                                    </div>
                                    <div class="col-lg-4">
                                        <a>Ultima Sincronizacion</a> <br />
                                        <a id="lastSync"></a>
                                    </div>
                                    <div class="col-lg-2">
                                        <button onclick="ExportToExcel(1)" class="btn btn-primary"><i class="fa fa-save"></i> Excel</button>
                                    </div>
                                    <div class="col-lg-2">
                                        <button onclick="SyncInventory()" class="btn btn-info"><i class="fa fa-retweet"></i> Sincronizar</button>
                                    </div>
                                    <div class="col-lg-2">
                                        <button onclick="SearchOption(true)" class="btn btn-success"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                </div>
                                <div id="inventoryDifferentDiv" class="col-lg-12" data-effect="zoomIn" style="margin-top:22px;">
                                    <div class="row table-responsive">
                                        <table id="inventoryDifferentTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>#</th>
                                                    <th>Codigo</th>
                                                    <th>Descripcion</th>
                                                    <th>Proveedor</th>
                                                    <th>Departamento</th>
                                                    <th>Merma Conocida</th>
                                                    <th>Stock</th>
                                                    <th>Contado</th>
                                                    <th>Diferencias</th>
                                                    <th>Correcciones</th>
                                                    <th>Precio Unitario</th>
                                                    <th>$ Stock</th>
                                                    <th>Dif + Merma</th>
                                                    <th>$ Merma Conocida</th>
                                                    <th>$ Diferencias</th>
                                                    <th>$ Dif + Merma</th>
                                                    <th>Nuevo Registro</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" style="text-align: center;" id="divInventoryNoActive">
                                <h2 id="titleNoActive">No existe inventario activo</h2>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div id="inventoryPalletDiv" class="col-lg-12" data-effect="zoomIn" style="margin-top:22px;">
                                    <div class="row table-responsive">
                                        <table id="inventoryPalletTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Numero de serie</th>
                                                    <th>Codigo</th>
                                                    <th>Descripcion</th>
                                                    <th>Cantidad</th>
                                                    <th>Locacion</th>
                                                    <th>Nombre de empleado</th>
                                                    <th>Numero de empleado</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label title="Seleccione Inventario" data-toggle="tooltip" data-placement="right">Inventario</label>
                                        <select id="idInventory" class="form-control">
                                            @foreach (var item in Model.Inventory)
                                            {
                                                <option value="@item.id_inventory_header">
                                                    @item.inventory_name
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-lg-2">
                                        <br />
                                        <button onclick="GetInventory()" class="btn btn-success"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                    <div class="col-lg-2">
                                        <br />
                                        <button onclick="ExportToExcel(2)" class="btn btn-primary"><i class="fa fa-save"></i> Excel</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <br />
                                    <a id="scrapDatesLabel"></a>
                                </div>
                                <div id="inventoryDifferentHistoryDiv" class="col-lg-12" data-effect="zoomIn" style="margin-top:22px;">
                                    <div class="row table-responsive">
                                        <table id="inventoryDifferentTableHistory" class="table table-striped table-bordered table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Codigo</th>
                                                    <th>Descripcion</th>
                                                    <th class="sumC">Merma</th>
                                                    <th class="sumC">Stock</th>
                                                    @*<th>Codigos de escaneo</th>*@
                                                    <th class="sumC">Contado</th>
                                                    <th class="sumC">Diferencias</th>
                                                    <th class="sumP">$ Merma</th>
                                                    <th class="sumP">$ Stock</th>
                                                    <th class="sumP">$ Contado</th>
                                                    <th class="sumP">$ Diferencias</th>
                                                    <th>Departamento</th>
                                                    <th>Familia</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalDiference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Contados</h4>
                <small class="font-bold">Cantidades contadas.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Locacion</label>
                        <div id="LocationInventory"></div>
                    </div>
                    <div class="col-lg-4">
                        <label>Codigo</label>
                        <div id="PartNumberInventory"></div>
                    </div>
                    <div class="col-lg-4">
                        <label>Cantidad</label>
                        <input type="number" class="form-control" min="0" max="99999999" name="name" id="QuantityInventoryModal" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="UpdateQuantityInventory()"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalAdd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Agregar Registro</h4>
                <small class="font-bold">Agregar Nuevo Regsitro de Conteo</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Codigo</label>
                        <div id="AddPartNumberInventory"></div>
                    </div>
                    <div class="col-lg-3">
                        <label>Codigo</label>
                        <div id="AddPartDescription"></div>
                    </div>
                    <div class="col-lg-3">
                        <label>Locacion</label>
                        <input type="text" class="form-control" name="name" id="AddLocationInventoryModal" value="" onkeyup="this.value = this.value.toUpperCase();" />
                    </div>
                    <div class="col-lg-3">
                        <label>Cantidad</label>
                        <input type="number" class="form-control" min="0" max="99999999" name="name" id="AddQuantityInventoryModal" step=".01" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="AddRegisterInventory()"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeButton()"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte De Diferencia</h4>
                <small id="ModalDescription" class="font-bold">Reporte de diferencias de inventario.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    <script type="text/javascript">
        const Session = "Se terminó su sesion.";
        var InventoryList = []
        var inventoryId = 0;
        var inventoryDescription = "";
        var inventoryDescriptionHistory = "";
        var InventoryUpdate = { id: 0, partNumber: "", location: "", idInventoryDetail: 0 };
        var AddInventoryDetail = { id: 0, partNumber: "", location: "", idInventoryDetail: 0 };
        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);
            getInventoryActive();
            $('#assignedList').find('input[name="available"]').iCheck({
                checkboxClass: 'icheckbox_square-green'
            });

            $('#assignedList2').find('input[name="available"]').iCheck({
                checkboxClass: 'icheckbox_square-green'
            });

            //$('#assignedList').slimScroll({
            //    height: '110px'
            //});
            $("#locationSelect").select2({
                formatInputTooShort: function () {
                    return "Selecciona una locacion";
                },
                matcher: function (term, text, option) {
                    return text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0;
                }
            });
            $("#departamentSelect").select2({
                formatInputTooShort: function () {
                    return "Selecciona un departamento";
                },
                matcher: function (term, text, option) {
                    return text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0;
                }
            });
            $("#idInventory").select2({
                formatInputTooShort: function () {
                    return "Selecciona un Inventario";
                },
                matcher: function (term, text, option) {
                    return text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0;
                }
            });
            //$("#productNotCountCheck").is(":checked")
        });

        const fomartmoney = money => decimal => new Intl.NumberFormat("en-US", { style: "currency", currency: "USD", currencyDisplay: "symbol", maximumFractionDigits: decimal }).format(money);

        function getInventoryActive() {
            $.ajax({
                url: "/InventoryReport/ActionGetInventoryActive",
                data: {},
                type: "POST",
                success: function (data) {
                    if (data == "SF") {
                        EndLoading();
                        SessionFalse("Terminó tu sesión");
                    } else if (data.Data.length == 0) {
                        $("#divInventoryActive").hide();
                        $("#divInventoryNoActive").show();
                        $("#titleNoActive").show();
                    } else {
                        EndLoading();
                        $("#divInventoryNoActive").hide();
                        $("#divInventario").show()
                        $("#headerNumber").text("Inventario número " + data.Data[0].id_inventory_header);
                        $("#descriptionInventory").text(data.Data[0].inventory_name);
                        inventoryId = data.Data[0].id_inventory_header;
                        inventoryDescription = data.Data[0].inventory_name;
                    }
                    $("#lastSync").html(data.DataSync);
                    $("#scrapDates").html(data.ScrapDates);
                },
                error: function () {
                    EndLoading();
                    toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.");
                }
            });
        }

        $("#inventoryDifferentTable").append('<tfoot><th></th><th colspan = "3">Totales</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tfoot>');
        var TableInventoryDifferent = $('#inventoryDifferentTable').DataTable({
            autoWidth: false,
            responsive: true,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                // converting to interger to find total
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // computing column Total of the complete result
                //for (var i = 4; i < 8; i++) {
                //    var monTotal = api
                //        .column(i)
                //        .data()
                //        .reduce(function (a, b) {
                //            return intVal(a) + intVal(b);
                //        }, 0);
                //    $(api.column(i).footer()).html(`<span ${monTotal == 0 ? "": `style = "Color:${monTotal >= 0 ? "green" : "red"}"` } >${monTotal.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</span>`);
                //}

                //var monTotal = api
                //    .column(13)
                //    .data()
                //    .reduce(function (a, b) {
                //        return intVal(a) + intVal(b);
                //    }, 0);
                //$(api.column(13).footer()).html(`<span ${monTotal == 0 ? "" : `style = "Color:${monTotal >= 0 ? "green" : "red"}"`} > ${fomartmoney(monTotal)(2)}</span >`);

                for (var i = 12; i < 17; i++) {
                    if (i != 13) {
                        var monTotal = api
                       .column(i)
                       .data()
                       .reduce(function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0);
                        $(api.column(i).footer()).html(`<span> ${fomartmoney(monTotal)(2)}</span >`);
                    } else {
                        $(api.column(i).footer()).html(`<span></span >`);
                    }
                   
                }

            },
            //fixedHeader: {
            //header: true,
            //footer: true
            //},
            buttons: [
                {
                    extend: 'csv', text: 'Excel', title: 'Reporte de Diferencias Inventario', className: 'btn-sm', exportOptions: {
                        columns: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,15,16]
                    }, footer: true
                },
                {
                    extend: 'pdf', text: 'PDF', title: 'Reporte de Diferencias Inventario', className: 'btn-sm', exportOptions: {
                        columns: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,15,16]
                    }, footer: true
                },
                {
                    extend: 'print', text: 'Imprimir', title: 'Reporte de Diferencias Inventario', className: 'btn-sm', exportOptions: {
                        columns: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,15,16]
                    }, footer: true
                },
            ],
            columnDefs: [
                {
                    targets: [1],
                    visible: false,
                    searchable: false,
                    width: "1%"
                },
                {
                    targets: [2],
                    width: "1%"
                },
                //{
                //    targets: [5],
                //    render: function (data, type, full, meta) {
                //        if (full.quantity_difference < 0)
                //            return `<span style="Color:green">${data == null ? 0 : data}</span>`;
                //        else if (full.quantity_difference > 0)
                //            return `<span style="Color:red">${data == null ? 0 : data}</span>`;
                //        else
                //            return `<span>${data == null ? 0 : data}</span>`;
                //    },
                //},
                {
                    targets: [7],
                    render: function (data, type, full, meta) {
                        return `<span>${data == null ? 0 : data}</span>`;
                    },
                    width: "1%"
                },
                //{
                //    targets: [7],
                //    render: function (data, type, full, meta) {
                //        if (full.quantity_difference > 0)
                //            return `<span style="Color:green">${data == null ? 0 : data}</span>`;
                //        else if (full.quantity_difference < 0)
                //            return `<span style="Color:red">${data == null ? 0 : data}</span>`;
                //        else
                //            return `<span>${data == null ? 0 : data}</span>`;
                //    },
                //    width: "1%"
                //},
                {
                    targets: [11],
                    render: function (data, type, full, meta) {
                        //if (data > 0)
                        ////    return `<span style="Color:green">${fomartmoney(data)(2)}</span>`;
                        ////else if (data < 0)
                        ////    return `<span style="Color:red">${fomartmoney(data)(2)}</span>`;
                        ////else
                            return `<span>${data == null ? 0 : data}</span>`;

                    },
                    width: "1%"
                },

                //{
                //    targets: [9],
                //    render: function (data, type, full, meta) {
                //        return `<span>${fomartmoney(data)(2)}</span>`;
                //    },
                //    width: "1%"
                //},
                //{
                //    targets: [11],
                //    render: function (data, type, full, meta) {
                //        if (data > 0)
                //            return `<span style="Color:green">${fomartmoney(data)(2)}</span>`;
                //        else if (data < 0)
                //            return `<span style="Color:red">${fomartmoney(data)(2)}</span>`;
                //        else
                //            return `<span>${fomartmoney(data)(2)}</span>`;
                //    },
                //    width: "1%"
                //},
                {
                    targets: [11,12,14, 15,16],
                    render: function (data, type, full, meta) {
                        return `${fomartmoney(data)(2)}`;
                    },
                    width: "1%"
                },
                {
                    targets: [6,8,9],
                    render: function (data, type, full, meta) {
                        return `<span>${data == null ? 0 : data}</span>`;
                    },
                    width: "1%"
                },
                {
                    targets: [17],
                    render: function (data, type, full, meta) {
                        return `<button class="btn btn-xs btn-outline btn-primary" onclick="ShowModalAdd('${full.idInventory_header_current}','${full.part_number}','${full.part_description}')"><i class="fa fa-pencil"></i> Agregar</button>`
                    },
                    width: "1%"
                }
            ],
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            columns:
                [
                    {
                        "class": "details-control",
                        "orderable": false,
                        "data": null,
                        "defaultContent": "",
                        "width": "1%"
                    },
                    { data: 'idInventory_header_current', width: "1%" },
                    { data: 'part_number', width: "1%" },
                    { data: 'part_description', width: "1%" },
                    { data: 'supplier', width: "1%" },
                    { data: 'family', width: "1%" },
                    { data: 'quantityScrap', width: "1%" },
                    { data: 'quantity_current', width: "1%" },
                    { data: 'quantity_detail', width: "1%" },
                    { data: 'quantity_difference', width: "1%" },
                    { data: 'quantity_adjusten_difference', width: "1%" },
                    { data: 'map_price', width: "1%" },
                    { data: 'currentAmount', width: "1%" },
                    { data: 'difScrapQuantity', width: "1%" },
                    { data: 'amountScrap', width: "1%" },
                    { data: 'differenceAmount', width: "1%" },
                    { data: 'difScrapAmount', width: "1%" },
                    { data: null, width: "1%" },
                ],
        });

        function ShowModalAdd(idInventory, partNumber, partDescription) {
            AddInventoryDetail.id = idInventory;
            AddInventoryDetail.partNumber = partNumber;
            $("#AddPartNumberInventory").html(partNumber)
            $("#AddPartDescription").html(partDescription)
            $("#ModalAdd").modal("show")
        }

        var detailRows = [];

        $('#inventoryDifferentTable tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = TableInventoryDifferent.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (TableInventoryDifferent.row('.details').length) {
                    $('.details-control', TableInventoryDifferent.row('.details').node()).click();
                }
                row.child(format(row.data())).show();
                tr.addClass('details');
            }
        });

        function AddRegisterInventory() {
            var quantity = $("#AddQuantityInventoryModal").val()
            var location = $("#AddLocationInventoryModal").val()
            if (location.trim() == "") {
                toastr.warning("Ingrese una locación");
                return null;
            } else if (parseFloat(quantity) < 0 || parseFloat(quantity) > 9999 || !isDecimal(2)(quantity)) {
                toastr.warning("Ingrese un valor válido");
                return null;
            }
            StartLoading();
            $.ajax({
                type: "POST",
                url: "/InventoryHeader/ActionAddRegisterInventoryDetail/",
                data: { "id_Inventory": AddInventoryDetail.id, "part_number": AddInventoryDetail.partNumber, "location": location, "quantity": parseFloat(quantity) },
                success: function (json) {
                    if (json.success) {
                        if (json.Data.Item1) {
                            $("#AddQuantityInventoryModal").val(null);
                            //$("#AddLocationInventoryModal").val(null);
                            toastr.success('Guardado Correctamente');
                            $("#ModalAdd").modal("hide");
                            SearchOption(true);
                            EndLoading();
                        } else {
                            toastr.error(json.Data.Item2);
                            EndLoading();
                        }

                    } else {
                        if (json.data == "SF") {
                            SessionFalse("Terminó tu sesión");
                        } else {
                            toastr.error('Alerta - Ha ocurrido un error al guardar el registro');
                        }
                    }
                },
                error: function (json) {
                    toastr.error('Alerta - Error inesperado contactar a sistemas.');
                    EndLoading();
                }
            });
        }

        TableInventoryDifferent.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        TrButton = element => `<button class="btn btn-xs btn-outline btn-warning"
                                            onclick="ShowModal('${element.idInventory_header_current}','${element.part_number}','${element.quantity_detail}','${element.location}','${element.IdInventoryDetail}')">
                                            <i class="fa fa-pencil"></i> Editar</button>`
        FullTd = element => Option => `<td>${Option == 1 ? fomartmoney(element)(2) : Option == 0 ? element : element != null && element.trim() != "" ? "Contado" : "No contado"}</td >`
        FullTh = element => `<th>${element}</th>`
        FullTable = element => array => array.map(title => FullTd(element[title.title])(title.option)).toString();
        FullTableHeader = array => `<tr>${array.map(title => FullTh(title))}</tr>`
        function format(d) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            var TheOne = new Date().getTime();
            $.ajax({
                url: "/InventoryCurrent/ActionPalletFilterOrDetailInventorys",
                data: { "PartNumber": d.part_number, "location": $("#locationSelect").val() },
                type: "post",
                success: function (data) {
                    if (data.length > 0) {
                        detailItems = data.filter(x => x.quantity_detail > 0).map(value => ` <tr>${FullTable(value)([
                            { title: "idInventory_header_current", option: 0 },
                            { title: "part_number", option: 0 },
                            { title: "part_description", option: 0 },
                            { title: "location", option: 0 },
                            { title: "quantity_detail", option: 0 },
                            { title: "detailAmount", option: 1 },
                            { title: "family", option: 0 }, { title: "lastUser", option: 0 }])}<td>${TrButton(value)}</td></tr>`).join().replace(/>,</g, '><').replace(/>, </g, '><')
                        header = FullTableHeader(["#", "Codigo", "Descripcion", "Locacion", "Contado", "$Contado", "Familia", "Usuario", ""]).replace(/,/g, '')
                        var Html = (`<div class="table-responsive"><table id="tabledetail${TheOne}" class="table table-striped table-bordered table-hover" style="width:100%"><thead>
                                                           ${header}
                                                            </thead><tbody>${detailItems.length > 0 ? detailItems : "<td colspan='8' style='text-align: center;'>No cuenta con productos</td>"}</tbody></table></div>`)
                        tabledetail.html(Html).removeClass('loading');
                        reloadStyleTable(TheOne);
                    }
                }
            });

            return tabledetail;
        }

        function reloadStyleTable(TheOne) {
            $('#tabledetail' + TheOne).DataTable({
                autoWidth: true,
                responsive: true,
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                buttons: [
                    {
                        extend: 'csv', text: 'Excel', title: 'Reporte de Diferencias Inventario Detalle', className: 'btn-sm', exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                    {
                        extend: 'pdf', text: 'PDF', title: 'Reporte de Diferencias Inventario Detalle', className: 'btn-sm', exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7]
                        },
                    },
                    {
                        extend: 'print', text: 'Imprimir', title: 'Reporte de Diferencias Inventario Detalle', className: 'btn-sm', exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                ],
            });
        }

        function ShowModal(idInventory, partNumber, quantity, location, idInventoryDetail) {
            InventoryUpdate.id = idInventory;
            InventoryUpdate.partNumber = partNumber;
            InventoryUpdate.location = ""
            InventoryUpdate.location = location
            InventoryUpdate.idInventoryDetail = idInventoryDetail;
            $("#QuantityInventoryModal").val(quantity)
            $("#PartNumberInventory").html(partNumber)
            $("#LocationInventory").html(location != null && location.trim() != "" && location.trim() != "null" ? location : "N/A")
            $("#ModalDiference").modal("show")
        }

        const isDecimal = decimal => number => {
            const IsDecimal = RegExp(`^\\d+\\.?\\d{0,${decimal}}$`);
            return IsDecimal.test(number);
        }

        function UpdateQuantityInventory() {
            var quantity = $("#QuantityInventoryModal").val()
            if (quantity < 0 || quantity > 9999 || !isDecimal(2)(quantity)) {
                toastr.warning("Ingrese un valor valido")
            }
            else {
                StartLoading();
                axios.post("/InventoryCurrent/ActionUpdateQuantity", { Inventory: InventoryUpdate.idInventoryDetail, IdInventoryHeader: InventoryUpdate.id, PartNumber: InventoryUpdate.partNumber, Quantity: parseFloat(quantity), Location: InventoryUpdate.location })
                    .then(data => {
                        if (data.data == "SF") {
                            SessionFalse(Session);
                        }
                        else if (data.data.problem == 3) {
                            toastr.success("Modificado con éxito");
                            InventoryList.find(inventory => inventory.idInventory_header_current == InventoryUpdate.id && inventory.part_number == InventoryUpdate.partNumber).differenceAmount = data.data.Info.differenceAmount;
                            InventoryList.find(inventory => inventory.idInventory_header_current == InventoryUpdate.id && inventory.part_number == InventoryUpdate.partNumber).detailAmount = data.data.Info.detailAmount;
                            InventoryList.find(inventory => inventory.idInventory_header_current == InventoryUpdate.id && inventory.part_number == InventoryUpdate.partNumber).currentAmount = data.data.Info.currentAmount;
                            InventoryList.find(inventory => inventory.idInventory_header_current == InventoryUpdate.id && inventory.part_number == InventoryUpdate.partNumber).quantity_adjusten = data.data.Info.quantity_adjusten;
                            InventoryList.find(inventory => inventory.idInventory_header_current == InventoryUpdate.id && inventory.part_number == InventoryUpdate.partNumber).quantity_current = data.data.Info.quantity_current;
                            InventoryList.find(inventory => inventory.idInventory_header_current == InventoryUpdate.id && inventory.part_number == InventoryUpdate.partNumber).quantity_detail = data.data.Info.quantity_detail;
                            InventoryList.find(inventory => inventory.idInventory_header_current == InventoryUpdate.id && inventory.part_number == InventoryUpdate.partNumber).quantity_difference = data.data.Info.quantity_difference;
                            FillInventoryTable(InventoryList)
                            return null;
                        }
                        else if (data.data.problem == 2) {
                            toastr.warning("Problema al guardar el cambio, producto nunca fue escaneado");
                        }
                        else if (data.data.problem == 108) {
                            toastr.warning("Problema al guardar los cambios");
                        }
                        else if (data.data.problem == 8) {
                            toastr.warning("Ya no se puede realizar cambios")
                        }
                        else {
                            toastr.error('Error inesperado contactar a sistemas.');
                        }
                    })
                    .catch(error => {
                        toastr.error('Error inesperado contactar a sistemas.');
                    }).then(() => { $("#ModalDiference").modal("hide"); EndLoading(); })
            }
        }

        $("#inventoryDifferentTableHistory").append('<tfoot><th></th><th colspan = "2">Totales</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tfoot>');
        var TableInventoryDifferentHistory = $('#inventoryDifferentTableHistory').DataTable({
            autoWidth: false,
            responsive: true,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            columnDefs: [
                {
                    targets: [0],
                    visible: false,
                    searchable: false,
                    width: "1%"
                },
                {
                    targets: [10],
                    render: function (data, type, full, meta) {
                        if (full.quantity_difference > 0)
                            return `<span style="Color:green">${fomartmoney(data)(2)}</span>`;
                        else if (full.quantity_difference < 0)
                            return `<span style="Color:red">${fomartmoney(data)(2)}</span>`;
                        else
                            return `<span>${fomartmoney(data)(2)}</span>`;
                    },
                    width: "1%"
                },
                {
                    targets: [3, 4, 5,6],
                    render: function (data, type, full, meta) {
                        return `<span>${(data.toFixed(2))}</span>`;
                    },
                    width: "1%"
                }, {
                    targets: [7, 8, 9],
                    render: function (data, type, full, meta) {
                        return `<span>${fomartmoney(data)(2)}</span>`;
                    },
                    width: "1%"
                },
            ],
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
                { extend: 'csv', text: 'Excel', title: 'ReporteDiferencias', className: 'btn-sm', footer: true },
                {
                    extend: 'pdf', text: 'PDF', title: 'ReporteDiferencias', className: 'btn-sm', footer: true
                },
                { extend: 'print', text: 'Imprimir', className: 'btn-sm', footer: true },
            ],
            footerCallback: function (row, data, start, end, display) {
                var api = this.api();

                api.columns('.sumP', { page: -1 }).every(function () {
                    var sum = this
                        .data()
                        .reduce(function (a, b) {
                            var x = parseFloat(a) || 0;
                            var y = parseFloat(b) || 0;
                            return x + y;
                        }, 0);
                    if (sum > 0)
                        $(this.footer()).html(`<span style="Color:green"> ${fomartmoney(sum)(2)} </span>`);
                    else if (sum < 0)
                        $(this.footer()).html(`<span style="Color:red"> ${fomartmoney(sum)(2)}</span>`);
                    else
                        $(this.footer()).html(fomartmoney(sum)(2));
                });
                //api.columns('.sumC', { page: -1 }).every(function () {
                //    var sum = this
                //        .data()
                //        .reduce(function (a, b) {
                //            var x = parseFloat(a) || 0;
                //            var y = parseFloat(b) || 0;
                //            return x + y;
                //        }, 0);
                //    //if (sum > 0)
                //    //    $(this.footer()).html(`<span style="Color:green"> ${sum.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</span>`);
                //    //else if (sum < 0)
                //    //    $(this.footer()).html(`<span style="Color:red"> ${sum.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</span>`);
                //    //else
                //        $(this.footer()).html(sum.toFixed(2));
                //});
            },
            columns:
                [
                    { data: 'idInventory_header_current', width: "1%" },
                    { data: 'part_number', width: "1%" },
                    { data: 'part_description', width: "1%" },
                    { data: 'quantityScrap', width: "1%" },
                    { data: 'quantity_current', width: "1%" },
                    { data: 'quantity_detail', width: "1%" },
                    { data: 'quantity_difference', width: "1%" },
                    { data: 'amountScrap', width: "1%" },
                    { data: 'currentAmount', width: "1%" },
                    { data: 'detailAmount', width: "1%" },
                    { data: 'differenceAmount', width: "1%" },
                    { data: 'department', width: "1%" },
                    { data: 'family', width: "1%" },
                ],
        });

        var TableInventoryPalletTable = $('#inventoryPalletTable').DataTable({
            autoWidth: false,
            responsive: true,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            columnDefs: [
            ],
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
            ],
            columns:
                [
                    { data: 'serial_number', width: "1%" },
                    { data: 'part_number', width: "1%" },
                    { data: 'part_description', width: "1%" },
                    { data: 'quantity_detail', width: "1%" },
                    { data: 'location', width: "1%" },
                    { data: 'inventory_user', width: "1%" },
                    { data: 'emp_no', width: "1%" },
                ],
        });

        function SearchOption(value) {
            StartLoading();
            axios.post("/InventoryCurrent/ActionPalletFilterOrDetailInventory", {
                Pallet: value,
                PartNumberDiferent: $("#diferentCodeCheck").is(":checked"),
                Location: $("#locationSelect").val().trim() != "0" ? $("#locationSelect").val() : "",
                Departament: $("#departamentSelect").val(),
                NotCount: $("#productNotCountCheck").is(":checked"),
                id: inventoryId
            })
                .then(data => {
                    if (data.data == "SF") {
                        SessionFalse(Session);
                    }
                    else {
                        if (value) {
                            //console.log(data.data);
                            FillInventoryTable(data.data)
                            if (data.data.length > 0) {
                                InventoryList = data.data;
                            }
                            else {
                                InventoryList = [];
                                toastr.warning("No se encontro ningun dato")
                            }
                        }

                        else
                            FillPalletTable(data.data)
                    }
                })
                .catch(error => {
                    toastr.error('Error inesperado contactar a sistemas.');
                })
                .then(() => {
                    EndLoading();
                })
        }

        function FillInventoryTable(value) {
            TableInventoryDifferent.clear();
            TableInventoryDifferent.rows.add(value);
            TableInventoryDifferent.columns.adjust().draw();
        }

        function FillPalletTable(value) {
            TableInventoryPalletTable.clear();
            TableInventoryPalletTable.rows.add(value);
            TableInventoryPalletTable.columns.adjust().draw();
        }

        function FillHistoryTable(value) {
            TableInventoryDifferentHistory.clear();
            TableInventoryDifferentHistory.rows.add(value);
            TableInventoryDifferentHistory.columns.adjust().draw();
        }

        function ClearForm() {
            $("#diferentCodeCheck").iCheck('uncheck');
            $("#locationSelect").val(0).trigger('change');
            $("#departamentSelect").val(0).trigger('change');
            $("#productNotCountCheck").iCheck('uncheck');
            FillInventoryTable([])
            FillPalletTable([])
        }

        function GetInventory() {
            StartLoading();
            var id = $("#idInventory").val()
            $.ajax({
                url: "/InventoryReport/ActionGetInventoryById",
                data: { "id": id },
                type: "POST",
                success: function (data) {
                    if (data.data == "SF") {
                        SessionFalse(Session);
                    }
                    else {
                        if (data.Data.length > 0) {
                            $('#inventoryDifferentHistoryDiv').animatePanel();
                            FillHistoryTable(data.Data)
                            if (data.dates != null) {
                                $("#scrapDatesLabel").html("&nbsp;&nbsp;&nbsp;&nbsp;Rango de Fechas En Merma Controlada : ");
                                $("#scrapDatesLabel").append(data.dates);
                            }
                        }
                        else {
                            $('#inventoryDifferentHistoryDiv').animatePanel();
                            FillHistoryTable(data.data)
                            toastr.warning("No se encontró ningun dato")
                        }
                        EndLoading();
                    }
                },
                error: function () {
                    toastr.error("Error desconocido , Contacte a Sistemas");
                    EndLoading();
                }
            });
        }

        function closeButton() {
            $("#AddQuantityInventoryModal").val(null);
        }

        function SyncInventory() {
            swal({
                title: "Deseas sincronizar el inventario?",
                text: "El inventario se sincronizará con lo que se tiene actualmente en sistema",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#1BD61B",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: true,
                closeOnCancel: true
            }, function (isConfirm) {
                if (isConfirm) {
                    StartLoading();
                    $.ajax({
                        url: "/InventoryCurrent/ActionSyncInventory",
                        data: { "idInventory": inventoryId },
                        type: "post",
                        success: function (data) {
                            if (data.success) {
                                if (data.data) {
                                    toastr.success("Sincronizado correctamente");
                                    SearchOption(true);
                                    getInventoryActive();
                                    EndLoading();
                                } else {
                                    toastr.error("Error desconocido , Contacte a Sistemas");
                                    EndLoading();
                                }
                            } else {
                                if (data.data == "SF") {
                                    SessionFalse("Terminó su sesión");
                                } else {
                                    toastr.error("Error desconocido , Contacte a Sistemas");
                                }
                                EndLoading();
                            }
                        },
                        error: function () {
                            toastr.error("Error desconocido , Contacte a Sistemas");
                            EndLoading();
                        }
                    });
                }
            });
        }
        $('#idInventory').on('change', function () {
            var txt = $(this).find("option:selected").text();
            inventoryDescriptionHistory = txt.trim();
        });
        function ExportToExcel(value) {
            var inventoryIdFinal;
            var inventoryDescriptionFinal;
            if (value == 1) {
                inventoryIdFinal = inventoryId;
                inventoryDescriptionFinal = inventoryDescription;
            } else {
                inventoryIdFinal = $("#idInventory").val();
                inventoryDescriptionFinal = inventoryDescriptionHistory;
            }
            StartLoading();
            $.ajax({
                type: "POST",
                url: "/InventoryCurrent/ActionGetDifferencesReport",
                data: { "id": inventoryIdFinal, "inventoryDescription": inventoryDescriptionFinal },
                success: function (report) {
                    document.getElementById("iframe").srcdoc = report;
                    EndLoading();
                    $("#ModalDescription").html('Reporte de diferencias');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });
        }
    </script>
}