﻿@{ ViewBag.Title = "INVE009"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="WSM003">Almacen</a></li>
                    <li>
                        <a href="INVE000">Inventarios</a>
                    </li>
                    <li class="active">
                        <span>Preinventario</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Preinventario
            </h2>
            <small>Captura de preinventario</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div class="row" id="divInventoryActive" hidden>
                        <div id="divInventario" class="col-lg-3">
                            <label class="center" data-toggle="tooltip" data-placement="right" id="inventario">Inventario</label>
                            <select id="selectInventario" class="form-control"></select>
                        </div>
                        <div class="col-lg-3">
                            <label title="Etiquetas" data-toggle="tooltip" data-placement="right">Etiquetas</label>
                            <select class="form-control" id="selectLabel" onchange="checkLabel()"></select>
                        </div>
                        <div class="form-group col-lg-2" style="display:none" id="divLocation">
                            <label title="Locacion" data-toggle="tooltip" data-placement="right">Locación</label>
                            <input class="form-control" id="location" onkeyup="this.value = this.value.toUpperCase();" />
                        </div>
                        <div class="form-group col-lg-4">
                            <br />
                            <button class="btn btn-success" id="btnAddLocation" onclick="AddLocation()" style="display:none"><i class="fa fa-plus"></i> Asignar</button>
                            <button class="btn btn-info" style="display:none" id="btnClear" onclick="ClearForm()"><i class="fa fa-trash"></i> Limpiar</button>
                        </div>
                    </div>
                    <br />
                    <div id="divItems" style="display:none;">
                        <div class="row">
                            <div class="col-lg-3">
                                <label title="Producto" data-toggle="tooltip" data-placement="right">Producto</label>
                                <input class="form-control" id="ItemsDrop" name="ItemsDrop" />
                            </div>
                            <div class="form-group col-lg-2">
                                <label title="Cantidad" data-toggle="tooltip" data-placement="right">Cantidad</label>
                                <input class="form-control" id="quantity" />
                            </div>
                            <div class="form-group col-lg-4">
                                <br />
                                <button class="btn btn-success" id="btnAddProduct" onclick="AddItemToPallet()"><i class="fa fa-plus"></i> Agregar</button>
                                <button class="btn btn-primary" id="btnPrintList" onclick="PrintList()"><i class="fa fa-print"></i> Imprimir</button>
                            </div>
                        </div>
                        <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="TableProducts" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Descripcion</th>
                                            <th>Cantidad</th>
                                            <th>ID</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;" id="divInventoryNoActive">
                        <h2 id="titleNoActive">No existe inventario activo</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var listItems = [];

        $("#ItemsDrop").select2({
            minimumInputLength: 3,
            allowClear: true,
            placeholder: "Seleccione una producto",
            initSelection: function (element, callback) {
                callback({ id: "", text: "Seleccione una opcion" });
            },
            ajax: {
                url: "/Items/ActionSearchItemBarcodePreInventory/",
                dataType: 'json',
                type: "GET",
                quietMillis: 50,
                data: function (Filter) {
                    return {
                        Filter: Filter
                    };
                },
                results: function (data) {
                    return {
                        results: $.map(data.Json, function (item) {
                            return {
                                text: item.Description,
                                id: item.PathNumber
                            }
                        }),
                    };
                }
            }
        });

        $("#selectLabel").select2();

        //select2 Inventarios
        $("#selectInventario").select2({
            formatInputTooShort: function () {
                return "Selecciona un inventario";
            },
            matcher: function (term, text, option) {
                return text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0;
            }
        });

        $("#selectInventario").change(function () {
            var id = $("#selectInventario").val()
            $("#selectLabel").empty();
            getInventoryLabels(id);
        });

        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);
            getInventoryActive();
        });

        var table = $('#TableProducts').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns:
                [
                    { data: 'part_number' },
                    { data: 'product_name' },
                    { data: 'quantity' },
                    { data: 'id_detail' },
                    { data: null }
                ],
            columnDefs:
                [
                    {
                        targets: [4],
                        width: "1%",
                        //defaultContent: '<button class="btn btn-xs btn-outline btn-danger" id="btnDelete" onclick="DeleteItem()"><i class="fa fa-close"></i> Eliminar</button>'
                        render: function (data, type, full, meta) {
                            return '<button class="btn btn-xs btn-outline btn-danger" id="btnDelete" onclick="DeleteItem(' + data.id_detail + ')"><i class="fa fa-close"></i> Eliminar</button>';
                        }
                    },
                    {
                        targets: [0, 1, 2, 3],
                        width: "1%"
                    }
                ]
        });
        table.column(3).visible(false);

        function DeleteItem(num) {
            $.ajax({
                url: "/InventoryPallets/ActionDeleteFromPallet",
                data: { "serial_number": $("#selectLabel").val(), "id_detail_list": [num] },
                type: "POST",
                success: function (data) {
                    StartLoading();
                    if (data.Ok) {
                        toastr.success("Eliminado correctamente");
                        GetItemsPallet($("#selectLabel").val());
                        EndLoading();
                    } else {
                        toastr.error(data.Msg);
                        EndLoading();
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error("Error desconocido. Contacte a Sistemas.");
                }
            });
        }

        //Funcion para obtener inventario activo
        function getInventoryActive() {
            $.ajax({
                url: "/InventoryUsers/ActionGetInventoryActive",
                data: {},
                type: "POST",
                success: function (data) {
                    jsonInventory = data;
                    if (data == "SF") {
                        EndLoading();
                        SessionFalse("Terminó tu sesión");
                    } else if (data == false) {
                        EndLoading();
                        toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.");
                    } else if (data.status == "inactivo") {
                        $("#divInventoryActive").hide();
                        $("#divInventoryNoActive").show();
                        $("#titleNoActive").show();
                    } else if (data.inventoryHeader.length > 0) {
                        EndLoading();
                        for (var i = 0; i < data.inventoryHeader.length; i++) {
                            $('#selectInventario').append($('<option>', { value: data.inventoryHeader[i].id_inventory_header, text: data.inventoryHeader[i].inventory_name }));
                        }
                        $("#selectInventario").select2().select2("val", data.inventoryHeader[0].id_inventory_header);
                        getInventoryLabels(data.inventoryHeader[0].id_inventory_header);
                        $("#divInventoryActive").show()
                        $("#divInventoryNoActive").hide()
                        id_inventory = data.inventoryHeader[0].id_inventory_header;
                        $("#headerNumber").text("Inventario número " + data.inventoryHeader[0].id_inventory_header);
                        $("#descriptionInventory").text(data.inventoryHeader[0].inventory_name);
                        status = data.inventoryHeader[0].inventory_status;
                    } else {
                        EndLoading();
                        id_inventory = data.inventoryHeader[0].id_inventory_header;
                        $("#headerNumber").text("Inventario número " + data.inventoryHeader[0].id_inventory_header);
                        $("#descriptionInventory").text(data.inventoryHeader[0].inventory_name);
                        status = data.inventoryHeader[0].inventory_status;
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.");
                }
            });
        }

        //Funcion para obtener etiquetas del inventario
        function getInventoryLabels(id) {
            $.ajax({
                url: "/InventoryLabel/ActionGetAllLabels",
                data: { "id": id },
                type: "POST",
                success: function (data) {
                    if (data == "SF") {
                        EndLoading();
                        SessionFalse("Terminó tu sesión");
                    } else {
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                $('#selectLabel').append($('<option>', { value: data[i], text: data[i] }));
                            }
                            $('#selectLabel').append($('<option>', { value: "", text: 'Seleccione una etiqueta' }));
                            $("#selectLabel").select2().select2("val", "");
                        } else {
                            $('#selectLabel').append($('<option>', { value: "", text: 'No existen etiquetas vacias' }));
                            $("#selectLabel").select2().select2("val", "");
                        }
                        EndLoading();
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.");
                }
            });
        }

        function AddItemToPallet() {
            var quantity = $("#quantity").val();
            var id = $("#selectInventario").val();
            var serial_number = $("#selectLabel").val();
            var part_number = $("#ItemsDrop").val();
            if (part_number == "") {
                toastr.warning("Seleccione un producto");
                return;
            } else if (quantity < 0 || quantity > 9999 || !isDecimal(2)(quantity)) {
                toastr.warning("Ingrese una cantidad válida")
            } else {
                var model = { part_number: part_number, serial_number: serial_number, quantity: parseFloat(quantity), barcode: part_number };
                $.ajax({
                    url: "/InventoryPallets/ActionAddItemToPallet",
                    data: { "serial_number": serial_number, "model": model },
                    type: "POST",
                    success: function (data) {
                        StartLoading();
                        if (data.Ok) {
                            toastr.success("Producto Guardado Correctamente");
                            GetItemsPallet(serial_number);
                            $("#ItemsDrop").select2('val', '');
                            $("#quantity").val(null);
                            EndLoading();
                        } else {
                            toastr.error(data.Msg);
                            $("#ItemsDrop").select2('val', '');
                            $("#quantity").val(null);
                            EndLoading();
                        }
                    },
                    error: function () {
                        EndLoading();
                        toastr.error("Error desconocido. Contacte a Sistemas.");
                    }
                });
            }
        }

        function AddLocation() {
            var location = $("#location").val();
            var id = $("#selectInventario").val();
            var serial_number = $("#selectLabel").val();
            if (location == "") {
                toastr.warning("Ingrese una locación");
                return;
            } else if (id == "") {
                toastr.warning("Seleccione un inventario");
                return;
            } else if (serial_number == "") {
                toastr.warning("Seleccione una etiqueta");
                return;
            } else {
                StartLoading();
                model = { id_inventory: id, pallet_status: 0, serial_number: serial_number, storage_location_name: location, user_no: 0 }
                $.ajax({
                    url: "/InventoryPallets/ActionCreatePalletWeb",
                    data: { "model": model },
                    type: "POST",
                    success: function (data) {
                        if (data.Ok) {
                            hideForm();
                        } else {
                            toastr.error(data.Msg);
                        }
                        EndLoading();
                    },
                    error: function () {
                        EndLoading();
                        toastr.error("Error desconocido. Contacte a Sistemas.");
                    }
                });
            }
        }

        function GetItemsPallet(serial_number) {
            $.ajax({
                url: "/InventoryHeader/ActionGetPalletsDetail",
                data: { "serial_number": serial_number },
                type: "POST",
                success: function (data) {
                    if (data.success) {
                        table.clear().draw();
                        table.rows.add(data.Data);
                        table.columns.adjust().draw();
                        listItems = data.Data;
                    } else {
                        toastr.error(data.Msg);
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error("Error desconocido. Contacte a Sistemas.");
                }
            });
        }

        function checkLabel() {
            var serial_number = $("#selectLabel").val();
            var inventory = $("#selectInventario").val();
            $.ajax({
                url: "/InventoryLabel/ActionGetPalletHeaderByLabel",
                data: { "serial_number": serial_number },
                type: "POST",
                success: function (data) {
                    StartLoading();
                    if (data.storage_location_name != null) {
                        $("#location").val(data.storage_location_name);
                        hideForm();
                        //getInventoryLabels(inventory);
                        EndLoading();
                    } else {
                        $("#btnAddLocation").show()
                        $("#divLocation").show();
                        EndLoading();
                    }
                    GetItemsPallet(serial_number);
                    EndLoading();
                },
                error: function () {
                    EndLoading();
                    toastr.error("Error desconocido. Contacte a Sistemas.");
                }
            });
        }

        function PrintList() {
            if (listItems.length == 0) {
                toastr.warning("Agregue por lo menos un producto");
                return;
            }
            StartLoading();
            $.ajax({
                type: "POST",
                url: "/InventoryLabel/ActionGetPreinventarioReport/",
                data: { "items": listItems, "location": $("#location").val(), "serial_number": $("#selectLabel").val() },
                success: function (json) {
                    if (json.success) {
                        $("#modalReferenceBody").html("<iframe width='100%' height='550px' src='data:application/pdf;base64, " + encodeURI(json.Data) + "'></iframe>")
                        $("#modalReference").modal('show');
                        EndLoading();
                    } else {
                        if (json.data == "SF") {
                            SessionFalse("Terminó tu sesión");
                        } else {
                            toastr.error('Alerta - Ha ocurrido un error al guardar el registro');
                        }
                        EndLoading();
                    }
                },
                error: function (json) {
                    toastr.error('Alerta - Error inesperado contactar a sistemas.');
                    EndLoading();
                }
            });
        }

        function ClearForm() {
            $("#divItems").hide()
            //bloquear inventario etiquetas y locacion
            $('#selectInventario').prop('disabled', false);
            $('#selectLabel').prop('disabled', false);
            $('#location').prop('disabled', false);
            $("#btnAddLocation").show()
            $("#btnClear").hide();
            getInventoryLabels($("#selectInventario").val());
            $("#location").val(null);
            $("#selectLabel").empty();
            $("#btnAddLocation").hide()
            $("#divLocation").hide();
        }

        const isDecimal = decimal => number => {
            const IsDecimal = RegExp(`^\\d+\\.?\\d{0,${decimal}}$`);
            return IsDecimal.test(number);
        }

        function hideForm() {
            $("#divItems").show()
            //bloquear inventario etiquetas y locacion
            $('#selectInventario').prop('disabled', true);
            $('#selectLabel').prop('disabled', true);
            $('#location').prop('disabled', true);
            $("#btnAddLocation").hide()
            $("#btnClear").show()
            //$("#selectLabel").empty();
            $("#divLocation").show();
        }
    </script>
}