﻿@model List<App.Entities.ViewModels.Inventory.InventoryHeaderModel>

@{ ViewBag.Title = "INVE017";

    List<SelectListItem> InventoryList = new List<SelectListItem>();

    foreach (var item in Model)
    {
        InventoryList.Add(new SelectListItem { Text = item.id_inventory_header + " - " + item.inventory_name, Value = item.id_inventory_header });
    }


}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="WSM003">Almacen</a></li>
                    <li>
                        <a href="INVE000">Inventarios</a>
                    </li>
                    <li class="active">
                        <span>Reporte De No exhibidos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte No Exhibidos
            </h2>
            <small>Reporte de productos no exhibidos</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div class="row">
                        <div id="divInventario" class="form-group col-md-4">
                            <label class="center" data-toggle="tooltip" data-placement="right" id="inventario">Inventario</label>
                            @Html.DropDownList("selectInventory", InventoryList, new { @class = "form-control drop", @onchange = "SearchProducts()" })
                        </div>
                    </div>
                    <div id="divTable" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TableProducts" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Descripcion</th>
                                        <th>Cantidad</th>
                                        <th>Capturado</th>
                                        <th>Usuario</th>
                                        <th>Locacion</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script type="text/javascript">

        var listItems = [];
        $("#selectInventory").select2();
        $("#selectType").select2();

        const formatmoney = money => decimal => new Intl.NumberFormat("en-US", { style: "currency", currency: "USD", currencyDisplay: "symbol", maximumFractionDigits: decimal }).format(money);


        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);
            SearchProducts();
        });
        var table = $('#TableProducts').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
                {
                    extend: 'csv', text: 'Excel', title: 'Inventario No Exhibidos', className: 'btn-sm',
                },
                {
                    extend: 'pdf', text: 'PDF', title: 'Inventario No Exhibidos', className: 'btn-sm',
                    customize: function (doc) {
                        doc.content[1].table.widths =
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    }
                },
                {
                    extend: 'print', text: 'Imprimir', className: 'btn-sm',
                }
            ],
            columns:
                [
                    { data: 'part_number' },
                    { data: 'part_description' },
                    { data: 'quantity' },
                    { data: 'captured' },
                    { data: 'cuser' },
                    { data: 'storage_location' },
                    { data: 'cdate' }
                ],
            columnDefs:
                [

                    {
                        targets: [0, 1, 2, 3, 4, 5, 6],
                        width: "1%"
                    }
                ]
        });

        function SearchProducts() {
            StartLoading();
            $.ajax({
                url: "/InventoryLocation/ActionGetÏtemsNoExhibited",
                type: "POST",
                data: { "id": $("#selectInventory").val() },
                success: function (response) {
                    if (response.Data.length > 0) {
                        fillTable(response.Data)
                    }
                    else {
                        toastr.warning("No se encontro productos");
                        fillTable(response.Data)
                    }
                    EndLoading();
                },
                error: function () {
                    EndLoading();
                    toastr.error('Error inesperado contactar a sistemas.');
                }
            });
        }

        function ClearTable() {
            table.clear().draw();
            table.columns.adjust().draw();
        }

        function fillTable(listItems) {
            table.clear().draw();
            table.rows.add(listItems)
            table.columns.adjust().draw();
        }



    </script>
}