﻿@model App.DAL.Inventory.InventoryUsersRepository.InventoryActive
@{ ViewBag.Title = "INVE002"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="INVE000">Inventario</a>
                    </li>
                    <li class="active">
                        <span>Alta de Usuarios</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Alta de Usuarios
            </h2>
            <small>Se podrá registrar los usuarios para el inventario</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Alta de Usuarios</a>
                </div>
                <div id="divInventoryActive">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group" style="text-align: center;">
                                <h3 id="descriptionInventory"></h3>
                                <h4 id="headerNumber"></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div id="divInventario" style="display:none;" class="form-group col-md-3">
                                <label class="center" data-toggle="tooltip" data-placement="right" id="inventario">Inventario</label>
                                <select id="selectInventario" class="form-control"></select>
                            </div>
                        </div>
                        <div id="divRegister">
                            <div class="row">
                                <div class="form-group col-lg-3 ">
                                    <label class="center" for="select_depto" autocomplete="off" data-toggle="tooltip" data-placement="right" id="user_no"></label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-6 ">
                                    <label class="center" for="select_depto" autocomplete="off" data-toggle="tooltip" data-placement="right" id="nombre">Nombre</label>
                                    <br />
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-align-left"></span>
                                        </span>
                                        <input class="form-control" id="user_name" maxlength="90" />
                                    </div>
                                </div>
                                <div class="col-lg-4 ">
                                    <label class="center" for="select_depto" data-toggle="tooltip" data-placement="right">Número de Empleado</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-user-plus"></span>
                                        </span>
                                        <input class="form-control" id="emp_no" maxlength="10" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 13" />
                                    </div>
                                </div>
                                <br />
                                <div class="col-lg-1">
                                    <button class="btn btn-success" id="addUser" data-toggle="tooltip" title="Agregar" onclick="addUser()">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="tableUsers" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Usuario</th>
                                            <th>Nombre</th>
                                            <th>Número de Empleado</th>
                                            <th>Editar</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="text-align: center;" id="divInventoryNoActive" hidden>
                    <h2 id="titleNoActive" hidden>No existe inventario activo</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" hidden>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Editar Usuario</h4>
                <small id="ModalDescription" class="font-bold">Formulario para editar Usuario de inventario.</small>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-lg-3 ">
                                <label class="center" for="select_depto" data-toggle="tooltip" data-placement="right" id="edit_user_no">Usuario 2</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-7 ">
                                <label class="center" for="select_depto" data-toggle="tooltip" data-placement="right" id="nombre">Nombre</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-align-left"></span>
                                    </span>
                                    <input class="form-control" maxlength="90" autocomplete="off" id="edit_user_name" />
                                </div>
                            </div>
                            <div class="form-group col-lg-4 ">
                                <label class="center" for="select_depto" data-toggle="tooltip" data-placement="right">Número de Empleado</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-user-plus"></span>
                                    </span>
                                    <input class="form-control" maxlength="10" autocomplete="off" id="edit_emp_no" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 13" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearModal()"><i class="fa fa-close"></i>  Cancelar</button>
                        <button type="button" id="submit-button" class="btn btn-success" onclick="editUser()"><i class="fa fa-save"></i>  Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var id_inventory = 0;
        var userActive = 1;
        var status;
        var list = [];
        var jsonInventory;

        //Obtencion de inventario activo y usuarios
        $(document).ready(function () {
            window.setTimeout(function () {
                $("#fa").click();
            }, 5000);
            getInventoryActive();
        });

        //select2 Inventarios
        $("#selectInventario").select2({
            formatInputTooShort: function () {
                return "Selecciona un inventario";
            },
            matcher: function (term, text, option) {
                return text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0;
            }
        });

        $("#selectInventario").change(function () {
            var id = $("#selectInventario").val()
            $("#headerNumber").text("Inventario número " + id);
            var lista = jsonInventory.inventoryHeader.filter(e => e.id_inventory_header == id)
            $("#descriptionInventory").text(lista[0].inventory_name);
            status = lista[0].inventory_status;
            getInventoryUsers(id);
            id_inventory = id;
        });

        // Tabla Principal
        var tableUsers = $('#tableUsers').DataTable({
            order: [[0, "asc"]],
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            iDisplayLength: -1,
            columns:
                [
                    { data: 'consecutive' },
                    { data: 'user_no' },
                    { data: 'user_name' },
                    { data: 'emp_no' },
                    { data: null },
                ],
            columnDefs:
                [{
                    targets: [1, 2, 3, 4],
                    width: "1%"
                },
                {
                    targets: [4],
                    render: function (data, type, full, meta) {
                        return `<td><button class='btn btn-xs btn-outline btn-warning btn-edit text-center' type='button' onclick= "showModalUser('${data.user_no}','${data.user_name}','${data.emp_no}')"><i class="pe-7s-config"></i>  Editar</button></td>`;
                    }
                }]
        });

        tableUsers.column(0).visible(false);

        //Function para agregar usuario
        function addUser() {
            var user_no = $("#user_no").text()
            var user_name = $("#user_name").val();
            var emp_no = $("#emp_no").val();
            if (user_name == "") {
                toastr.warning("Agregue Nombre del Empleado");
                $("#user_name").focus();
            } else if (emp_no == "") {
                toastr.warning("Agregue Número del Empleado");
                $("#emp_no").focus();
            } else {
                StartLoading()
                editAjax()
            }
        }

        function editAjax() {
            var user_no = $("#user_no").text()
            var user_name = $("#user_name").val();
            var emp_no = $("#emp_no").val();
            user = { consecutive: userActive, user_no: user_no, user_name: user_name, emp_no: emp_no }
            $.ajax({
                url: "/InventoryUsers/ActionEditUserInventory",
                data: { "id": id_inventory, "user_no": userActive, "user_name": user_name, "emp_no": emp_no, "status": 0 },
                type: "POST",
                success: function (data) {
                    if (data == "SF") {
                        EndLoading();
                        SessionFalse("Terminó tu sesión");
                    } else if (data == false) {
                        EndLoading();
                        toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.")
                    } else if (data == "errorEmp_no") {
                        $("#emp_no").val("");
                        $("#emp_no").focus();
                        EndLoading()
                        toastr.warning("El número de empleado ya existe");
                    } else {
                        EndLoading();
                        list.push(user);
                        tableUsers.clear();
                        tableUsers.rows.add(list);
                        tableUsers.columns.adjust().draw();
                        toastr.success("Usuario Guardado Correctamente");
                        document.getElementById("emp_no").focus();
                        $("#emp_no").val("");
                        $("#user_name").val("");
                        userActive++;
                        if (userActive == 19) {
                            $("#divRegister").hide();
                        }
                        $("#user_no").text("Usuario " + userActive);
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.")
                }
            });
        }

        //Funcion para editar usuario
        function editUser() {
            var user_no = $("#edit_user_no").text()
            var user_name = $("#edit_user_name").val();
            var emp_no = $("#edit_emp_no").val();
            var consecutive = user_no.split(" ", 2);
            if (user_name == "") {
                toastr.warning("Agregue Nombre del Empleado");
                $("#user_name").focus();
            } else if (emp_no == "") {
                toastr.warning("Agregue Número del Empleado");
                $("#emp_no").focus();
            } else {
                StartLoading();
                $.ajax({
                    url: "/InventoryUsers/ActionEditUserInventory",
                    data: { "id": id_inventory, "user_no": consecutive[1], "user_name": user_name, "emp_no": emp_no, "status": 1 },
                    type: "POST",
                    success: function (data) {
                        if (data == "SF") {
                            EndLoading();
                            SessionFalse("Terminó tu sesión");
                        } else if (data == "false") {
                            EndLoading();
                            toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.")
                        } else if (data == "errorEmp_no") {
                            $("#emp_no").val("");
                            $("#emp_no").focus();
                            EndLoading()
                            toastr.warning("El número de empleado ya existe");
                        } else if (data == "errorUsuario") {
                            toastr.warning("El usuario no se puede modificar porque ya escaneo un producto");
                            $("#modalUser").modal('hide');
                            EndLoading();
                        } else {
                            EndLoading();
                            var index = list.findIndex(x => x.user_no == user_no);
                            list[index] = { consecutive: consecutive[1], user_no: user_no, user_name: user_name, emp_no: emp_no }
                            tableUsers.clear();
                            tableUsers.rows.add(list);
                            tableUsers.columns.adjust().draw();
                            toastr.success("Usuario Modificado Correctamente");
                            $("#modalUser").modal('hide');
                        }
                    },
                    error: function () {
                        EndLoading();
                        toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.")
                    }
                });
            }
        }

        //Funcion para mostrar modal para editar
        function showModalUser(user_no, user_name, emp_no) {
            $("#modalUser").modal('show');
            $("#edit_user_no").text(user_no);
            $("#edit_user_name").val(user_name);
            $("#edit_emp_no").val(emp_no);
        }

        //Funcion para obtener inventario activo
        function getInventoryActive() {
            $.ajax({
                url: "/InventoryUsers/ActionGetInventoryActive",
                data: {},
                type: "POST",
                success: function (data) {
                    jsonInventory = data;
                    if (data == "SF") {
                        EndLoading();
                        SessionFalse("Terminó tu sesión");
                    } else if (data == false) {
                        EndLoading();
                        toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.");
                    } else if (data.status == "inactivo") {
                        $("#divInventoryActive").hide();
                        $("#divInventoryNoActive").show();
                        $("#titleNoActive").show();
                    } else if (data.inventoryHeader.length > 1) {
                        EndLoading();
                        for (var i = 0; i < data.inventoryHeader.length; i++) {
                            $('#selectInventario').append($('<option>', { value: data.inventoryHeader[i].id_inventory_header, text: data.inventoryHeader[i].inventory_name }));
                        }
                        $("#selectInventario").select2().select2("val", data.inventoryHeader[0].id_inventory_header);
                        $("#divInventario").show()
                        id_inventory = data.inventoryHeader[0].id_inventory_header;
                        getInventoryUsers(id_inventory);
                        $("#headerNumber").text("Inventario número " + data.inventoryHeader[0].id_inventory_header);
                        $("#descriptionInventory").text(data.inventoryHeader[0].inventory_name);
                        status = data.inventoryHeader[0].inventory_status;
                    } else {
                        EndLoading();
                        id_inventory = data.inventoryHeader[0].id_inventory_header;
                        getInventoryUsers(id_inventory);
                        $("#headerNumber").text("Inventario número " + data.inventoryHeader[0].id_inventory_header);
                        $("#descriptionInventory").text(data.inventoryHeader[0].inventory_name);
                        status = data.inventoryHeader[0].inventory_status;
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.");
                }
            });
        }

        //Funcion para obtener usuarios del inventario
        function getInventoryUsers(id) {
            $.ajax({
                url: "/InventoryUsers/ActionGetInventoryUsers",
                data: { "id": id },
                type: "POST",
                success: function (data) {
                    if (data == "SF") {
                        EndLoading();
                        SessionFalse("Terminó tu sesión");
                    } else if (data == false) {
                        EndLoading();
                        toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.");
                        $("#divInventoryActive").hide();
                        $("#divInventoryNoActive").show();
                        $("#titleNoActive").show();
                    } else {
                        list = [];
                        userActive = 1;
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].user_name != null && data[i].emp_no != null) {
                                listUser = { consecutive: i + 1, user_no: "Usuario " + data[i].user_no, user_name: data[i].user_name, emp_no: data[i].emp_no };
                                list.push(listUser);
                                userActive++;
                            }
                        }
                        if (userActive <= 18) {
                            $("#user_no").text("Usuario " + userActive);
                            $("#divRegister").show();
                        } else {
                            $("#divRegister").hide();
                        }
                        tableUsers.clear();
                        tableUsers.rows.add(list);
                        tableUsers.columns.adjust().draw();
                        EndLoading();
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.");
                }
            });
        }
    </script>
}