﻿@model List<App.Entities.ViewModels.Inventory.InventoryHeaderModel>
@{
    ViewBag.Title = "INVE007";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="INVE000">Inventario </a>
                    </li>
                    <li class="active">
                        <span>Reporte de modificacion de conteo</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte de modificacion de conteo
            </h2>
            <small>Se mostraran las diferencias en conteo de los inventarios </small>
        </div>
    </div>
</div>

<div class="content animate-panel" id="search" style="padding-bottom:0">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Inventario</a>
                </div>
                <div class="panel-body">
                    <div class="col-lg-3">
                        <label>Inventario</label>
                        <select class="form-control" id="idInventory" onchange="SearchAdjustment()">
                            <option value="0">Seleccione un inventario</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.id_inventory_header">@item.inventory_name</option>
                            }
                        </select>
                    </div>

                    <div id="inventoryDifferentDiv" class="col-lg-12" data-effect="zoomIn" style="margin-top:22px;">
                        <div class="row table-responsive">
                            <table id="inventoryDifferentTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Numero de creacion</th>
                                        <th>Posicion</th>
                                        <th>Codigo</th>
                                        <th>Descripcion</th>
                                        <th>Antes del conteo</th>
                                        <th>Despues del conteo</th>
                                        <th>Locacion</th>
                                        <th>Usuario</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    var listInventoryHistory = [];
        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);
            listInventoryHistory = @Html.Raw(serializer.Serialize(Model));
            //FillInventoryTable(listInventoryHistory);

            $("#idInventory").select2({
                formatInputTooShort: function () {
                    return "Selecciona una locacion";
                },
                matcher: function (term, text, option) {
                    return text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0;
                }
            });

            $("#selectStoraLocation").select2({
                formatInputTooShort: function () {
                    return "Selecciona una locacion";
                },
                matcher: function (term, text, option) {
                    return text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0;
                }
            });

            $("#ValidDate1").attr("readonly", "readonly");
            $("#ValidDate2").attr("readonly", "readonly");
            $("#ValidDate1").datepicker({
                autoclose: true,
                todayHighlight: true,
                showButtonPanel: true,
            }).on("changeDate", function (e) {
                FilterList();
            });

            $("#ValidDate2").datepicker({
                autoclose: true,
                startDate: '01/01/1950',
                todayHighlight: true,
            }).on("changeDate", function (e) {
                FilterList();
            });
        });

        function FillInventoryTable(value) {
            TableInventoryDifferent.clear();
            TableInventoryDifferent.rows.add(value);
            TableInventoryDifferent.columns.adjust().draw();
        }

        function ClearForm() {
            $("#ValidDate1").val("");
            $("#ValidDate2").val("");
            $('#selectPartNumber').val($("#selectPartNumber :first").val()).trigger('change');
            $('#selectStoraLocation').val($("#selectStoraLocation :first").val()).trigger('change');
        }

        function FilterList() {
            var partNumber = $("#selectPartNumber").val();
            var location = $("#selectStoraLocation").val();
            var filter1 = validation => element => value => validation ? element == value : true;
            var filter2 = validation => element => validation ? moment(element) >= moment(fechaInicio) && moment(element) <= moment(fechaFin) : true;
            FillInventoryTable(listInventoryHistory.filter(x =>
                filter1(partNumber.trim() != "0" && partNumber != null)(x.PartNumber)(partNumber) &&
                filter1(location.trim() != "0" && location != null)(x.StorageLocation)(location) &&
                filter2(fechaInicio.trim() != "" && fechaFin.trim() != "" && moment(fechaInicio) <= moment(fechaFin))(x.Cdate)
            ))
        }

        var TableInventoryDifferent = $('#inventoryDifferentTable').DataTable({
            autoWidth: false,
            responsive: true,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            buttons: [
                   {
                       extend: 'csv', text: 'Excel', title: 'Reporte de Modificacion Conteo', className: 'btn-sm'
                   },
                   {
                       extend: 'pdf', text: 'PDF', title: 'Reporte de Modificacion Conteo', className: 'btn-sm',
                   },
                   {
                       extend: 'print', text: 'Imprimir', title: 'Reporte de Modificacion Conteo', className: 'btn-sm'
                   },
            ],
            columnDefs: [
                {
                    targets: [1],
                    visible: false,
                    searchable: false,
                    width: "1%"
                },
                {
                    targets: [0, 2, 3, 4, 5, 6, 7],
                    width: "1%"
                },
                {
                    targets: [8],
                    render: function (data, type, full, meta) {
                        return `${moment(data).format("DD/MM/YYYY")}`
                    },
                    width: "1%"
                },
            ],
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            columns:
                [
                    { data: 'IdHistory', width: "1%" },
                    { data: 'IdInventoryHeader', width: "1%" },
                    { data: 'PartNumber', width: "1%" },
                    { data: 'PartDescription', width: "1%" },
                    { data: 'BeforeQuantity', width: "1%" },
                    { data: 'Quantity', width: "1%" },
                    { data: 'StorageLocation', width: "1%" },
                    { data: 'Cuser', width: "1%" },
                    { data: 'Cdate', width: "1%" }
                ]
        });
        function SearchAdjustment() {
            StartLoading();
            var id = $("#idInventory").val();
            $.ajax({
                type: "POST",
                url: "/InventoryCurrent/ActionGetinventoryAdjustment/",
                data: { "id": id },
                success: function (json) {
                    if (json.success) {
                        FillInventoryTable(json.data);
                        EndLoading();
                    } else {
                        if (json.data == "SF") {
                            SessionFalse("Terminó tu sesión");
                            EndLoading();
                        } else {
                            toastr.error('Alerta - Ha ocurrido un error al guardar el registro');
                            EndLoading();
                        }
                    }
                },
                error: function (json) {
                    toastr.error('Alerta - Error inesperado contactar a sistemas.');
                    EndLoading();
                }
            });
        }
    </script>
}