﻿@model List<App.Entities.ViewModels.Inventory.InventoryHeaderModel>

@{ ViewBag.Title = "INVE015";

    List<SelectListItem> InventoryList = new List<SelectListItem>();

    foreach (var item in Model)
    {
        InventoryList.Add(new SelectListItem { Text = item.id_inventory_header + " - " + item.inventory_name, Value = item.id_inventory_header });
    }


}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="WSM003">Almacen</a></li>
                    <li>
                        <a href="INVE000">Inventarios</a>
                    </li>
                    <li class="active">
                        <span>Conteo Por Ubicacion</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Conteo Por Ubicacion
            </h2>
            <small>Reporte por ubicacion o producto en conteo fisico de inventario</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div class="row">
                        <div id="divInventario" class="form-group col-md-4">
                            <label class="center" data-toggle="tooltip" data-placement="right" id="inventario">Inventario</label>
                            @Html.DropDownList("selectInventory", InventoryList, new { @class = "form-control drop", @onchange = "GetLocations()" })
                        </div>
                        <div class="col-md-2" id="divSelectPrint">
                            <label title="Tipo de Reporte" data-toggle="tooltip" data-placement="right">Tipo De Reporte</label>
                            <select class="form-control" id="selectType" onchange="ChangeType()">
                                <option value="location">Ubicación</option>
                                <option value="items 4fd">Producto</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <br />
                            <button class="btn btn-info" id="btnLocationsNoCounted" onclick="NoCounted()">Locaciones No Contadas</button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4" id="divLocation">
                            <label title="Locacion" data-toggle="tooltip" data-placement="right">Locación</label>
                            <select id="location" multiple="multiple" class="form-control select2 center"></select>
                        </div>
                        <div class="col-md-4" id="divItems" hidden>
                            <label title="Producto" data-toggle="tooltip" data-placement="right">Productos</label>
                            <input class="form-control" id="ItemsDrop" name="ItemsDrop" />
                        </div>
                        <div class="form-group col-lg-3" id="divButtons">
                            <br />
                            <button class="btn btn-success" id="btnAddProduct" onclick="Search()">Buscar</button>
                        </div>
                    </div>
                    <div id="divTable" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TableProducts" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Descripcion</th>
                                        <th>Cantidad</th>
                                        <th>Costo</th>
                                        <th>Monto</th>
                                        <th>Capturado</th>
                                        <th>Usuario</th>
                                        <th>Locacion</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="modalNoCounted" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Reporte De Locaciones No Contadas</h4>
            </div>
            <div class="modal-body">
                <div class="row table-responsive">
                    <table class="table table-striped table-bordered table-hover" style="width:100%" id="LocationsNoCounted">
                        <thead>
                            <tr>
                                <th>Locacion</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var listItems = [];
        $("#selectInventory").select2();
        $("#selectType").select2();

        const formatmoney = money => decimal => new Intl.NumberFormat("en-US", { style: "currency", currency: "USD", currencyDisplay: "symbol", maximumFractionDigits: decimal }).format(money);

        $("#ItemsDrop").select2({
            minimumInputLength: 3,
            allowClear: true,
            multiple: true,
            placeholder: "Seleccione una producto",
            initSelection: function (element, callback) {
                callback({ id: "", text: "Seleccione una opcion" });
            },
            ajax: {
                url: "/Items/ActionSearchItemBarcode/",
                dataType: 'json',
                type: "GET",
                quietMillis: 50,
                data: function (Filter) {
                    return {
                        Filter: Filter
                    };
                },
                results: function (data) {
                    return {
                        results: $.map(data.Json, function (item) {
                            return {
                                text: item.Description,
                                id: item.PathNumber
                            }
                        }),
                    };
                }
            }
        });

        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);
            GetLocations();
        });
        $("#TableProducts").append('<tfoot><th colspan = "2">Totales</th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tfoot>');
        var table = $('#TableProducts').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
                {
                    extend: 'csv', text: 'Excel', title: 'Inventario Ubicaciones', className: 'btn-sm',
                },
                {
                    extend: 'pdf', text: 'PDF', title: 'Inventario Ubicaciones', className: 'btn-sm',
                    customize: function (doc) {
                        doc.content[1].table.widths =
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    }
                },
                {
                    extend: 'print', text: 'Imprimir', className: 'btn-sm',
                }
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                // converting to interger to find total
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };


                var monTotal = api
               .column(2)
               .data()
               .reduce(function (a, b) {
                   return intVal(a) + intVal(b);
               }, 0);
                $(api.column(2).footer()).html(`<span> ${monTotal}</span >`);

                var monTotal = api
               .column(4)
               .data()
               .reduce(function (a, b) {
                   return intVal(a) + intVal(b);
               }, 0);
                $(api.column(4).footer()).html(`<span> ${formatmoney(monTotal)(2)}</span >`);



            },
            columns:
                [
                    { data: 'part_number' },
                    { data: 'part_description' },
                    { data: 'quantity' },
                    { data: 'cost' },
                    { data: 'amount' },
                    { data: 'captured' },
                    { data: 'cuser' },
                    { data: 'storage_location' },
                    { data: 'cdate' }
                ],
            columnDefs:
                [

                    {
                        targets: [0, 1, 2, 3, 4, 5, 6, 7, 8],
                        width: "1%"
                    }, {
                        data: null,
                        width: "1%",
                        render: function (data, type, full, meta) {
                            return "<p>" + formatmoney(data)(2) + "</p>";
                        },
                        targets: [3, 4]
                    }
                ]
        });

        var LocationsNoCounted = $('#LocationsNoCounted').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Todos"]],
            pageLength: 5,
            buttons:
                [
                    { extend: 'csv', text: 'Excel', title: 'Locaciones No Contadas', className: 'btn-sm', footer: true },
                    {
                        extend: 'pdf', text: 'PDF', title: 'Locaciones No Contadas', className: 'btn-sm',
                        customize: function (doc) {
                            doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                        }, footer: true
                    },
                    { extend: 'print', text: 'Imprimir', className: 'btn-sm', footer: true },
                ],
            columns:
                [
                    { data: 'storage_location' },
                    { data: 'inventory_class' }
                ],
            columnDefs: [
                {
                    targets: [0, 1],
                    width: "1%"
                }          
            ]
        });

        //Obtencion de Locaciones
        function GetLocations() {
            var id = $("#selectInventory").val();
            if (id == "") {
                FillDropdown("family", null)
                return false;
            }
            $.ajax({
                url: "/InventoryHeader/ActionGetLocationsInventory",
                type: "POST",
                data: { "id_Inventory": id },
                success: function (response) {
                    if (response.success) {
                        FillDropdown("location", response.Data)
                    }
                    else
                        FillDropdown("location", null);
                },
                error: function () {
                    FillDropdown("location", null);
                    toastr.error('Error inesperado contactar a sistemas.');
                }
            });
        }

        function Search() {
            var location = $("#location").val();
            var type = $("#selectType").val();
            var products = $("#ItemsDrop").val();
            //if (location == "" && type == "loction") { toastr.warning("Seleccione una ubicacion"); return }
            //if (products.length == 0 && type == "items") { toastr.warning("Seleccione un producto"); return }
            StartLoading();
            $.ajax({
                url: "/InventoryHeader/ActionGetInventoryItemsByLocation",
                type: "POST",
                data: { "id": $("#selectInventory").val(), "location": location, "type": type, "items": products },
                success: function (response) {
                    if (response.Data.length > 0) {
                        fillTable(response.Data)
                    }
                    else {
                        toastr.warning("No se encontro productos");
                        fillTable(response.Data)
                    }
                    EndLoading();
                },
                error: function () {
                    EndLoading();
                    toastr.error('Error inesperado contactar a sistemas.');
                }
            });
        }



        function ChangeType() {
            var type = $("#selectType").val();
            if (type == "location") {
                $("#divLocation").show();
                $("#divItems").hide();
                ClearTable();
            } else {
                $("#divLocation").hide();
                $("#divItems").show();
            }
        }


        function ClearTable() {
            table.clear().draw();
            table.columns.adjust().draw();
        }

        function divLocationHide() {
            $("#divLocation").hide();
            $("#divItems").hide();
        }

        function fillTable(listItems) {
            table.clear().draw();
            table.rows.add(listItems)
            table.columns.adjust().draw();
        }

        function FillDropdown(selector, vData) {
            if (vData != null) {
                $('#' + selector).trigger("change");
                var vItems = [];
                console.log(vData);
                //vItems.push('<option value="">Seleccione una ubicacion</option>');
                for (var i in vData) {
                        vItems.push(`<option value="` + vData[i].planogram_location + `">` + vData[i].planogram_location + `</option>`);
                }
                $('#' + selector).empty();
                $('#' + selector).append(vItems.join(''));
                $('#' + selector).val("").trigger('change');
            }
            else {
                var vItems = [];
                vItems.push('<option  value="">Seleccione una ubicacion</option>');
                $('#' + selector).empty();
                $('#' + selector).append(vItems.join(''));
                $('#' + selector).val("").trigger('change');
            }
            $("#location").select2({ placeholder: "Seleccione una Ubicacion" });
        }
        function NoCounted() {
            $.ajax({
                url: "/InventoryLocation/ActionGetLocationsNoCounted",
                type: "POST",
                data: { "id": $("#selectInventory").val()},
                success: function (response) {
                    EndLoading();
                    console.log(response);
                    if (response.success) {
                        $("#modalNoCounted").modal("show");
                        LocationsNoCounted.clear().draw();
                        LocationsNoCounted.rows.add(response.Data);
                        LocationsNoCounted.columns.adjust().draw();
                    }
                    else if (response.responseText === 'SF')
                        SessionFalse("Termino Tu Sesion");
                    else {
                        toastr.warning(response.responseText);
                        LocationsNoCounted.clear().draw();
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error('Error inesperado contactar a sistemas.');
                }
            });
        }

    </script>
}