﻿@model App.Entities.ViewModels.Inventory.InventoryCurrentOptionModel
@{
    ViewBag.Title = "INVE003";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="INVE000">Inventario </a>
                    </li>
                    <li class="active">
                        <span>Activar inventario</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Activar inventario
            </h2>
            <small>Se activaran los inventarios iniciales </small>
        </div>
    </div>
</div>
<div hidden id="inventorySelect" class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-body">
                        <div class="col-lg-4">
                            <label>
                                Inventario
                            </label>
                            <select id="inventoryHeader" class="form-control">
                                @foreach (var item in Model.ListInventoryHeader)
                                {
                                    <option value="@item.id_inventory_header"> @item.inventory_name</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-1 offset-lg-1">
                            <button style="margin-top:22px;" id="buttonSaveInventory" class="btn btn-success"><i class="fa fa-check-circle"></i> Activar</button>
                        </div>
                        <div class="col-lg-1 offset-lg-1">
                            <button style="margin-top:22px;" id="buttonCloseInventory" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div hidden id="notInventory" class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-body">
                        <h2 id="textNoExist">Se encuentra un inventario activo favor de terminarlo y recargar la pagina</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const Session = "Se terminó su sesion.";
        var ListInventoryDetail = [];
        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);

            $("#inventoryHeader").select2({
                formatInputTooShort: function () {
                    return "Selecciona un inventario";
                },
                matcher: function (term, text, option) {
                    return text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0;
                }
            });

            let inventoryModel = @Html.Raw(serializer.Serialize(Model));
            $("#buttonCloseInventory").hide();
            if (inventoryModel.IsRoleCancele) {
                $("#buttonCloseInventory").show();
            }
            if (inventoryModel.ListInventoryHeader.length <= 0) {
                EnableDiv(true)
                $("#textNoExist").html("No se encontró ningún inventario, en caso de que se haya agregado recarga la página")
            }
            else {
                EnableDiv(inventoryModel.IsExistInventoryActive)
                $("#textNoExist").html("Se encuentra un inventario activo, favor de terminarlo y recargar la página")
            }
        });

        function EnableDiv(value) {
            if (value) {
                $("#notInventory").show()
                $("#inventorySelect").hide();
            }
            else {
                $("#notInventory").hide()
                $("#inventorySelect").show();
            }
        }

        $("#buttonSaveInventory").click(() => {
            let idInventory = $("#inventoryHeader").val();
            if (idInventory > 0) {
                swal({
                    title: "Deseas activar el inventario?",
                    text: "El inventario se activará",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#1BD61B",
                    confirmButtonText: "Aceptar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: true,
                    closeOnCancel: true
                }, function (isConfirm) {
                    if (isConfirm) {
                        axios.post("/InventoryCurrent/ActionSaveInventoryCurrent/", { IdInventoryHeader: idInventory })
                            .then(data => {
                                if (data.data == "SF") {
                                    SessionFalse(Session);
                                }
                                else if (data.data && data.data.problem == undefined) {
                                    toastr.success("Se a activado de manera correcta")
                                    EnableDiv(true);
                                }
                                else if (!data.data && data.data.problem == undefined) {
                                    toastr.warning("No se pudo guardar los productos")
                                }
                                else {
                                    if (data.data.problem == 2) {
                                        EnableDiv(true);
                                    }
                                    toastr.warning(data.data.text)
                                }
                            })
                            .catch(error => {
                                toastr.error('Error inesperado contactar a sistemas.');
                            })
                    }
                });
            }
            else {
                toastr.warning("Selecciona un inventario")
            }
        });

        $("#buttonCloseInventory").click(() => {
            let idInventory = $("#inventoryHeader").val();
            if (idInventory > 0) {
                swal({
                    title: "Deseas cancelar el inventario?",
                    text: "El inventario se cancelará",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Aceptar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: true,
                    closeOnCancel: true
                }, function (isConfirm) {
                    if (isConfirm) {
                        axios.post("/InventoryCurrent/ActionCancelInventoryCurrent/", { IdInventoryHeader: idInventory })
                            .then(data => {
                                if (data.data == "SF") {
                                    SessionFalse(Session);
                                }
                                else if (data.data && data.data.problem == undefined) {
                                    toastr.success("Se a cancelado de manera correcta")
                                    $("select#inventoryHeader option[value='" + $("#inventoryHeader").val() + "']").remove();
                                    $('#inventoryHeader').val($("#inventoryHeader :first").val()).trigger('change');
                                    if ($('#inventoryHeader').val() == "0" || $('#inventoryHeader').val() == null || $('#inventoryHeader').val() == undefined) {
                                        EnableDiv(true);
                                        $("#textNoExist").html("El inventario fue cancelado, favor de crear otro inventario")
                                    }
                                }
                                else if (!data.data && data.data.problem == undefined) {
                                    toastr.warning("No se pudo cancelar")
                                }
                                else {
                                    if (data.data.problem == 2) {
                                        EnableDiv(true);
                                    }
                                    toastr.warning(data.data.text)
                                }
                            })
                            .catch(error => {
                                toastr.error('Error inesperado contactar a sistemas.');
                            })
                    }
                });
            }
            else {
                toastr.warning("Selecciona un inventario")
            }
        });
    </script>
}