﻿@model FloridoERPTX.ViewModels.Warehouse.INVE013ViewModelcs
@{
    ViewBag.Title = "INVE013";
}
<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacén</a></li>
                    <li class="active">
                        <span href="INVE000">Inventario</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte de Negativos
            </h2>
            <small>Conversión de productos negativos</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="hpanel">
        <div class="hpanel panel-body">
            <div class="row">
                <div class="col-lg-12">
                    @*<div class="row">
                            <div class="form-group col-lg-3">
                                <label>Productos Negativo</label>
                                <input class="form-control" id="SupplierSelect" name="SupplierSelect" onchange="GetInfo(this.value, this.id)" />
                            </div>

                            <div class="form-group col-lg-3" hidden>
                                <label>Motivo</label>
                                <select class="form-control select2" id="optionsNegative">
                                    <option value="" selected>Seleccione una opción</option>
                                    <option value="Venta a Granel">Venta a Granel</option>
                                    <option value="Venta uno por otro">Venta uno por otro</option>
                                    <option value="Error de Inventario">Error de Inventario</option>
                                    <option value="Mercancía sin Cargo">Mercancía sin Cargo</option>
                                    <option value="Ventas por anticipado">Ventas por anticipado</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <label>ContraAjuste</label>
                                <button id="NegativeDet" onclick="ShowModal()" class="btn btn-success">Agregar ContraAjuste</button>
                            </div>
                        </div>*@

                    <div class="row">

                    </div>
                </div>
                @*<div class="col-lg-12">
                        <div class="form-group col-lg-4">
                            <label>Productos Origen:</label> <p id="productOrigin"> - </p>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Productos Destino</label> <p id="productDestination">  - </p>
                        </div>
                        <div class="form-group col-lg-1">

                        </div>
                        <div class="form-group col-lg-2">
                            @*<label>Cantidad 2</label>
                        </div>
                    </div>
                    <div class="col-lg-12">

                        <div class="form-group col-lg-4">
                            <label>Costo:</label> <p id="costDestination">$ 0</p>
                            <label>Stock:</label> <p id="stockDestination">0</p>
                            <label>Importe:</label> <p id="amountDestination">0</p>
                        </div>
                        <div class="form-group col-lg-1">
                            <label>Nueva Cantidad: </label> <p id="quantityReal" style="background-color:powderblue;">0</p>
                            <label>Nuevo Importe: </label> <p id="importReal" style="background-color:powderblue;">0</p>
                        </div>
                        <div class="form-group col-lg-1" hidden>
                            <label>Cantidad Ajustada: </label> <p id="quantityAdjust" style="background-color:#e6b6b0;">0</p>
                            <label>Importe Ajustado: </label> <p id="importAdjust" style="background-color:#e6b6b0;">0</p>
                        </div>
                    </div>*@

                <div class="content animate-panel">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hpanel hblue">
                                <div class="panel-heading">
                                    <div class="panel-tools">
                                        <a id="PanelGrid2" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    <a onclick="PanelGrid2.click();">Productos con inventario negativo</a>
                                </div>
                                <div class="panel-body">
                                    <div class="col-lg-12">
                                        <div class="row table-responsive">
                                            <table id="TableNegatives" class="table table-striped table-bordered table-hover" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>ContraAjuste</th>
                                                        <th>Id</th>
                                                        <th>Código</th>
                                                        <th>Descripción</th>
                                                        <th>Stock</th>
                                                        <th>Costo</th>
                                                        <th>Importe</th>
                                                        <th>Código Destino</th>
                                                        <th>Descripción</th>
                                                        <th>Stock</th>
                                                        <th>Costo</th>
                                                        <th>Importe</th>
                                                        <th>Cantidad</th>
                                                        <th>Razón</th>
                                                        <th>Eliminar</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="content animate-panel">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hpanel hblue">
                                <div class="panel-heading">
                                    <div class="panel-tools">
                                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    <a onclick="PanelGrid.click();">Negativos a ajustar</a>
                                </div>
                                <div class="panel-body">
                                    <div class="pull-right">
                                        <button id="Adjust" onclick="AdjustInventory()" class="btn btn-success pull-right" hidden>Ajustar Negativos</button>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row table-responsive">
                                                <table id="TableNegativesBalance" class="table table-striped table-bordered table-hover" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Id</th>
                                                            <th>Código Negativo</th>
                                                            <th>Descripción Negativo</th>
                                                            <th>Stock Actual</th>
                                                            <th>Stock A Ajustar</th>
                                                            <th>Contado</th>
                                                            <th>Costo</th>
                                                            <th>Total Ajustar</th>
                                                            <th>Importe</th>
                                                            <th>Codigo C</th>
                                                            <th>Descripcion C</th>
                                                            <th>Disponible C</th>
                                                            <th>Costo C</th>
                                                            <th>Cantidad C</th>
                                                            <th>Importe C</th>
                                                            <th>Diferencia</th>
                                                            @*<th>Razon</th>*@
                                                            <th>Eliminar</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade hmodal-info" id="ModalAddNegative" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <b style="font-size:18px">AGREGAR NEGATIVO</b> &nbsp; &nbsp;&nbsp;   <b style="font-size:16px">IMPORTE NEGATIVO:</b> <a style="font-size:14px" id="amountOrigin">ERROR</a>&nbsp;&nbsp; <b style="font-size:16px">IMPORTE CONTRAAJUSTE:</b> <a style="font-size:14px" id="amountContra">ERROR</a>
                @*<h3 class="modal-title">Importe Negativo:</h3><a>100</a> /// <h3>Importe ContraAjuste:</h3><a>100</a>*@
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-12">
                        <div class="col-lg-6">
                            <label>Productos Negativo:</label> <p id="productOrigin"> - </p>
                        </div>
                        <div class="form-group col-lg-2">
                            <label>Fisico</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                <input type="number" id="inputCantidadNegativa" onchange="UpdateQuantity(this.value)" placeholder="Cantidad" class="form-control" min="0" max="9999999" name="inputCantidad" />
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <label>Stock:</label> <p id="stockOrigin">0</p>  <p id="amountOriginMain" hidden>0</p>
                        </div>
                        <div class="col-lg-1" hidden>
                            <label>Empaque:</label> <p id="packingSize">0</p>
                        </div>
                        <div class="col-lg-2">
                            <label>Tot Ajustar</label> <p id="totalNewQuantity">0</p>
                        </div>
                        <div class="col-lg-2" hidden>
                            <label>Stock Total:</label> <p id="totalQuantityHeader">0</p>
                        </div>
                        <div class="col-lg-1" hidden>
                            <label>Importe:</label> <p id="amountOrigin">0</p>
                        </div>
                        <div class="col-lg-1">
                            <label>Costo:</label> <p id="costOrigin">0</p>
                        </div>
                    </div>
                </div>
                <div class="row" id="divContraAjuste">
                    <div class="form-group col-lg-12">
                        <div class="col-lg-4">
                            <label>Productos ContraAjuste (Salida)</label>
                            <input class="form-control" id="SupplierSelectDestination" name="SupplierSelectDestination" onchange="GetInfo((this.value).toString(), this.id )" />

                        </div>
                        <div class="col-lg-3">
                            <label>Cantidad a Ajustar</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                <input type="number" id="inputCantidad" placeholder="Cantidad" class="form-control" min="0" max="9999999" name="inputCantidad" value="" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label>Disponible:</label> <p id="unrestrictedDetail">0</p>
                        </div>
                        <div class="col-lg-2">
                            <label>Costo:</label> <p id="costDetail">0</p>
                        </div>
                        <div class="col-lg-1">
                            <label>Agregar</label><button id="Negatives" onclick="saveDetail()" class="btn btn-success">+</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hpanel hblue">
                            <div class="col-lg-12">
                                <div class="row table-responsive">
                                    <table id="TableDetail" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Descripción</th>
                                                <th>Cantidad Ajustar</th>
                                                <th>Costo</th>
                                                <th>Importe</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="AddNegative()"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>


@Html.Hidden("model1", Json.Encode(Model.Negatives))
@Html.Hidden("model2", Json.Encode(Model.NegativesBalances))
@Html.Hidden("model3", Json.Encode(Model.UserRole))


@section Scripts {
    @*<script src="~/Scripts/Datatable.js"></script>
        @Scripts.Render("~/bundles/sweetAlert/js")
        @Scripts.Render("~/bundles/datatablesBootstrap/js")
        @Scripts.Render("~/bundles/datatablesPlugins/js")
        <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="~/Vendor/slimScroll/jquery.slimscroll.min.js"></script>
        @Scripts.Render("~/vendor/select2-3.5.2/select2.min.js")
        <script src="~/Vendor/select2-3.5.2/select2_locale_es.js"></script>
        <script src="~/Vendor/moment/locale/es.js"></script>*@
    <script type="text/javascript">
        const formatmoney = money => decimal => new Intl.NumberFormat("en-US", { style: "currency", currency: "USD", currencyDisplay: "symbol", maximumFractionDigits: decimal }).format(money);
        //Obtencion de datos del viewModel
        jQuery(document).ready(function () {
            var InventoriesNegative = JSON.parse($("#model1").val());
            var InventoriesNegativeBalance = JSON.parse($("#model2").val());
            var negativeHeader;
            console.log($("#model1").val());
            console.log($("#model2").val());
            console.log($("#model3").val());
            if ($("#model3").val() == "true") {
                $("#Adjust").show();
            } else {
                $("#Adjust").hide();
            }
            DataTableNegative.clear();
            DataTableNegative.rows.add(jQuery(InventoriesNegative));
            DataTableNegative.columns.adjust().draw();
            DataTableNegativeBalance.clear();
            DataTableNegativeBalance.rows.add(jQuery(InventoriesNegativeBalance));
            DataTableNegativeBalance.columns.adjust().draw();
        });

        $("#SupplierSelect").select2({
            minimumInputLength: 3,
            allowClear: true,
            placeholder: "Seleccione una producto",
            initSelection: function (element, callback) {
                callback({ id: "", text: "Seleccione una opcion" });
            },
            ajax: {
                url: "/Items/ActionSearchItemNegative/",
                dataType: 'json',
                type: "GET",
                quietMillis: 50,
                data: function (Filter) {
                    return {
                        Filter: Filter
                    };
                },
                results: function (data) {
                    return {
                        results: $.map(data.Json, function (item) {
                            return {
                                text: item.Description,
                                id: item.PathNumber
                            }
                        }),
                    };
                }
            }
        });

        function ShowModal(part_number, cost) {
            if (cost == 0) {
                toastr.error("Error Costo 0 , favor de contactar a sistemas.");
                return;
            }
            GetInfo(part_number, 'SupplierSelect');
            //if ($("#SupplierSelect").val() == "") { toastr.error("Seleccione un producto"); return; }
            if (parseFloat($("#inputCantidad").val()) < 0 || parseFloat($("#inputCantidad").val()) == NaN) { toastr.error("Agregue cantidad valida"); return; }
            if ($("#optionsNegative").val() == "") {
                toastr.error("Indique el motivo del negativo");
                return;
            }
            $("#ModalAddNegative").modal('show')
            document.getElementById("amountContra").innerHTML = 0;

        }

        $("#SupplierSelectDestination").select2({
            minimumInputLength: 3,
            allowClear: true,
            placeholder: "Seleccione una producto",
            initSelection: function (element, callback) {
                callback({ id: "", text: "Seleccione una opcion" });
            },
            ajax: {
                url: "/Items/ActionSearchItemNegativeDet/",
                dataType: 'json',
                type: "GET",
                quietMillis: 50,
                data: function (Filter) {
                    return {
                        Filter: Filter, negative: negativeHeader["part_number_header"]

                    };
                },
                results: function (data) {
                    return {
                        results: $.map(data.Json, function (item) {
                            return {
                                text: item.part_description,
                                id: item.part_number_detail
                            }
                        }),
                    };
                }
            }
        });
        var listDetail = [];

        function deleteDetail(part_number_detail) {
            listDetail = listDetail.filter(x => x.part_number_detail != part_number_detail);
            DataTableDetail.clear();
            DataTableDetail.rows.add(listDetail);
            DataTableDetail.columns.adjust().draw();
        }

        function saveDetail() {
            //VALIDACION NO PUEDE AJUSTAR MAS DE LO QUE TIENE DISPONIBLE
            if (parseFloat($("#costDetail").html()) == 0) { toastr.error("Error Costo 0 , favor de contactar a sistemas."); return; }
            if ($("#SupplierSelectDestination").val() == "") { toastr.error("Seleccione un producto"); return; }
            if (parseFloat($("#inputCantidad").val()) <= 0 || parseFloat($("#inputCantidad").val()) == NaN) { toastr.error("Ingrese una cantidad valida y mayor a 0"); return; }
            if (parseFloat($("#inputCantidad").val()) > parseFloat($("#unrestrictedDetail").html())) { toastr.error("No puede pedir mas de lo que tiene en stock"); return; }
            if (listDetail.length == 5) { toastr.error("No puede agregar mas de 5 productos para contraajuste"); return; }
            if (listDetail.findIndex(x => x.part_number_detail == $("#SupplierSelectDestination").val()) == -1) {
                var detail = {
                    part_number_detail: $("#SupplierSelectDestination").val(), cost: parseFloat($("#costDetail").html()), unrestricted: parseFloat($("#unrestrictedDetail").html()),
                    quantity: parseFloat($("#inputCantidad").val()), part_description: $('#SupplierSelectDestination').select2('data').text,
                    new_amount: parseFloat($("#inputCantidad").val() * parseFloat($("#costDetail").html()))
                }
                document.getElementById("amountContra").innerHTML = (parseFloat(document.getElementById("amountContra").innerHTML) + detail.new_amount).toFixed(2);
                listDetail.push(detail);
            } else {
                var index = listDetail.findIndex(x => x.part_number_detail == $("#SupplierSelectDestination").val());
                var menos = parseFloat(listDetail[index].newQuantity);
                listDetail[index].quantity = parseFloat($("#inputCantidad").val());
                listDetail[index].cost = parseFloat($("#costDetail").html());
                listDetail[index].new_amount = parseFloat($("#inputCantidad").val() * parseFloat($("#costDetail").html()))
                document.getElementById("amountContra").innerHTML = (parseFloat(document.getElementById("amountContra").innerHTML) - menos + listDetail[index].new_amount).toFixed(2);
            }

            DataTableDetail.clear();
            DataTableDetail.rows.add(listDetail);
            DataTableDetail.columns.adjust().draw();

            $('#SupplierSelectDestination').val($("#SupplierSelectDestination :first").val()).trigger('change');
            $("#inputCantidad").val(0);
            document.getElementById("unrestrictedDetail").innerHTML = 0;
            document.getElementById("costDetail").innerHTML = 0;
        }


        var DataTableNegative = $('#TableNegatives').DataTable({
            "autoWidth": true,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningun dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Ãltimo", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            buttons: [
                {
                    extend: 'csv', text: 'Excel', title: 'TablteNegatives', className: 'btn-sm', exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                    },
                },
                {
                    extend: 'pdf', text: 'PDF', title: 'TablteNegatives', className: 'btn-sm', exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                    },
                    customize: function (doc) {
                        doc.content[1].table.widths =
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    }
                },
                {
                    extend: 'print', text: 'Imprimir', className: 'btn-sm', exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                    },
                },
            ],
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            columns:
                [
                     { data: null, visible: true },
                     { data: 'id_inventory_negative', visible: false },
                    { data: 'part_number_origin' },
                    { data: 'part_number_origin_description' },
                    { data: 'part_number_origin_stock_unrestricted' },
                    { data: 'part_number_origin_last_purchase_price' },
                    { data: 'part_number_origin_amount' },
                    { data: 'part_number_destination', visible: false },
                    { data: 'part_number_destination_description', visible: false },
                    { data: 'part_number_destination_stock_unrestricted', visible: false },
                    { data: 'part_number_destination_last_purchase_price', visible: false },
                    { data: 'part_number_destination_amount', visible: false },
                    { data: 'move_quantity', visible: false },
                    { data: 'reason', visible: false },
                    { data: null, visible: false }
                ],
            columnDefs:
               [{
                   targets: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                   width: "1%"
               },
                {
                    data: null,
                    width: "1%",
                    render: function (data, type, full, meta) {
                        var newData = data < 0 ? data * -1 : data * 1;
                        return "<p>" + formatmoney(newData)(2) + "</p>";
                    },
                    targets: [6, 5]
                },
                    {
                        targets: [0],
                        width: "1%",
                        render: function (data, type, full, meta) {
                            return `<button class="btn btn-xs btn-primary" onclick="ShowModal('${data.part_number_origin}',${data.part_number_origin_last_purchase_price})">ContraAjuste</button>`;
                        }
                    },
               ]
        });

        var DataTableDetail = $('#TableDetail').DataTable({
            "autoWidth": true,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningun dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Ãltimo", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
                {
                    extend: 'csv', text: 'Excel', title: 'TablteNegatives', className: 'btn-sm', exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                    },
                },
                {
                    extend: 'pdf', text: 'PDF', title: 'TablteNegatives', className: 'btn-sm', exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                    },
                    customize: function (doc) {
                        doc.content[1].table.widths =
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    }
                },
                {
                    extend: 'print', text: 'Imprimir', className: 'btn-sm', exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                    },
                },
            ],
            columns:
                [
                    { data: 'part_number_detail' },
                    { data: 'part_description' },
                    { data: 'quantity' },
                    { data: 'cost' },
                    { data: 'new_amount' },
                    { data: null }
                ],
            columnDefs:
               [{
                   targets: [1],
                   width: "60%"
               },
                    {
                        targets: [0, 2, 3, 4, 5],
                        width: "1%"
                    },
                    {
                        render: function (data, type, full, meta) {
                            var newData = data < 0 ? data * -1 : data * 1;
                            return "<p>" + formatmoney(newData)(2) + "</p>";
                        },
                        targets: [4]
                    },
                {
                    targets: [5],
                    render: function (data, type, full, meta) {
                        return `<button class="btn btn-xs btn-danger btn-circle" style="text-align:center;border-right-width: 0px;padding-right: 0px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;margin-top: 5px;" onclick="deleteDetail(${data.part_number_detail})"><i class="fa fa-times"></i></button>`;
                    }
                },
               ]
        });

        var DataTableNegativeBalance = $('#TableNegativesBalance').DataTable({
            "autoWidth": true,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningun dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Ãltimo", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            createdRow: function (row, data, dataIndex) {
                //console.log(data);
                //if ((parseFloat(data.stock_destination) <= parseFloat(data.move_quantity))) {
                //    $(row).css('background-color', '#F6FA7A');//yellow
                //    $(row).css('color', 'Gray');
                //}

            },
            buttons: [
                {
                    extend: 'csv', text: 'Excel', title: 'Negativos Realizados', className: 'btn-sm', exportOptions: {
                        columns: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                    },
                },
                {
                    extend: 'pdf', text: 'PDF', title: 'Negativos Realizados', className: 'btn-sm', exportOptions: {
                        columns: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                    },
                    customize: function (doc) {
                        doc.content[1].table.widths =
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    }
                },
                {
                    extend: 'print', text: 'Imprimir', className: 'btn-sm', exportOptions: {
                        columns: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                    },
                },
            ],
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            columns:
                [{
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                    "width": "1%"
                },
                    { data: 'id_inventory_negative'/*, visible: false*/ },
                    { data: 'part_number_header' },
                    { data: 'part_description' },
                    { data: 'unrestricted_actual' },
                    { data: 'unrestricted_header' },
                    { data: 'counted' },
                    { data: 'cost_header' },
                    { data: 'total_quantity' },
                    { data: 'total_amount' },
                    { data: 'part_number_detail' },
                    { data: 'part_description_detail' },
                    { data: 'unrestricted_detail' },
                    { data: 'cost_detail' },
                    { data: 'quantity_detail' },
                    { data: 'amount_detail' },
                    { data: 'difference_negative' },
                    { data: null }
                ],
            columnDefs:
               [{
                   targets: [0, 1, 2, 3, 4, 5, 6,7,8,9,10,11,12,13,14,15,16],
                   width: "1%"
               },
               {
                   data: null,
                   width: "1%",
                   render: function (data, type, full, meta) {
                       return "<p>" + formatmoney(data)(2) + "</p>";
                   },
                   targets: [15,9,7,13,16]
               },
                    @*{

                        targets: [8],
                        width: "1%",
                        render: function (data, type, full, meta) {
                            var html = "<ul>";
                            data.forEach(e => html += "<li>" + e.Description + " $" + e.TaxPrice + "</li>");
                            html += "</ul>";
                            return html;
                        }
                    },*@
               {
                   data: null,
                   defaultContent: "<button class='btn btn-xs btn-outline btn-danger btn-remove' type='button'><i class='fa fa-close'></i> Eliminar</button>",
                   targets: [17],
                   className: "text-center",
                   orderable: false,
                   width: "1%"
               }]
        });
        detailRows = [];

        $('#TableNegativesBalance tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = DataTableNegativeBalance.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (DataTableNegativeBalance.row('.details').length) {
                    $('.details-control', DataTableNegativeBalance.row('.details').node()).click();
                }
                row.child(format(row.data())).show();
                tr.addClass('details');
            }
        });
        DataTableNegativeBalance.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        function format(d) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "/InventoryAdjustment/ActionGetNegativeDetail",
                data: { "id": d.id_inventory_negative },
                type: "POST",
                success: function (r) {
                    console.log(r.result)
                    $.each(r.result, function (index, value) {
                        //total = value.IVA + value.IEPS + value.Amount;
                        detailItems += "<tr><td>" + value.part_number_detail + "</td><td>" + value.part_description + "</td><td>" + value.cost + "</td><td>" + value.unrestricted_actual + "</td><td>" + value.quantity + "</td><td>" + formatmoney(value.amount)(2) + "</td></tr>"
                    });
                    tabledetail.html('<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">' +
                        '<thead><tr><th>Código ContraAjuste</th><th>Descripción</th><th>Costo</th><th>Disponible</th><th>Cantidad Ajustar</th><th>Importe</th></tr></thead><tbody>' + detailItems + '</tbody></table>').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail;
        }
        function reloadStyleTable() {
            $('#tabledetail').DataTable({
                autoWidth: true,
                responsive: true,
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                buttons: [
                    {
                        extend: 'csv', text: 'Excel', title: 'Reporte de Diferencias Inventario Detalle', className: 'btn-sm', exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                    {
                        extend: 'pdf', text: 'PDF', title: 'Reporte de Diferencias Inventario Detalle', className: 'btn-sm', exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7]
                        },
                    },
                    {
                        extend: 'print', text: 'Imprimir', title: 'Reporte de Diferencias Inventario Detalle', className: 'btn-sm', exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                ],
            });
        }

        function ErrorList(value, type, text) {
            return !value ? ToastError(type, text) : type == "Succes" ? ToastError(type, text) : true;
        }
        function ToastError(type, text) {
            if (type == "Succes") {
                toastr.success(text)
                return true;
            }
            else if (type == "Error") {
                toastr.error(text)
            }
            else if (type == "Warning") {
                toastr.warning(text)
            }
            return false;
        }

        $('#TableNegativesBalance tbody').on('click', '.btn-remove', function () {
            var Id = DataTableNegativeBalance.row($(this).parents('tr')).data().id_inventory_negative;
            var Product = DataTableNegativeBalance.row($(this).parents('tr')).data().part_description;
            // var Quantity = DataTableNegativeBalance.row($(this).parents('tr')).data().move_quantity;

            swal({
                title: "¿Esta seguro?",
                text: "Se eliminará el producto " + Product,
                type: 'warning',
                closeOnConfirm: true,
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Continuar",
                cancelButtonText: "Cancelar"
            }, function (isConfirm) {
                if (isConfirm)
                    RemoveProduct(Id);
            });
        });


        function RemoveProduct(id) {
            StartLoading();
            $.ajax({
                url: "/Items/ActionRemoveInventoryNegativa/",
                type: "GET",
                data: { "id_inventory_negative": id },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    EndLoading();
                    console.log(result);
                    console.log(result.Json);
                    if (result.Json) {
                        toastr.success(`Producto Eliminado correctamente.`);
                        DataTableNegativeBalance.clear();
                        DataTableNegativeBalance.rows.add(jQuery(result.products));
                        DataTableNegativeBalance.columns.adjust().draw();
                    }
                    else
                        toastr.error("Ocurrió un error durante el procesamiento de la solicitud.");

                },
                error: function (result) {
                    EndLoading();
                    toastr.error("Ocurrió un error durante el procesamiento de la solicitud.");
                }
            });

        }

        function saveProduct() {
            var origin = $("#SupplierSelect").val();
            var originDescription = $("#SupplierSelect").select2('data').text;
            var destination = $("#SupplierSelectDestination").val();
            var quantity = $("#inputCantidad").val();
            var reason = $("#optionsNegative").val();

            if (ErrorList(origin != "", "Warning", "Selecciona un producto origen.") &&
                ErrorList(destination != "", "Warning", "Selecciona un producto destino.") &&
                ErrorList(origin != destination, "Warning", "Los productos no pueden ser iguales") &&
                ErrorList(!isNaN(quantity), "Warning", "Ingrese una cantidad correcta.") &&
                ErrorList((quantity >= -99999 && quantity < 99999999), "Warning", "Ingrese una cantidad correcta.") &&
                ErrorList(reason != "", "Warning", "Ingrese una razón")) {
                swal({
                    title: "¿Esta seguro?",
                    text: "Se agregará el producto " + originDescription + " ha modificar la cantidad de  " + quantity + " .",
                    type: 'success',
                    closeOnConfirm: true,
                    showCancelButton: true,
                    confirmButtonColor: '#55DD6B',
                    confirmButtonText: "Continuar",
                    cancelButtonText: "Cancelar"
                }, function (isConfirm) {
                    if (isConfirm)
                        AddProduct(origin, destination, quantity, reason);
                });
            }
        }


        function AddProduct(origin, destination, quantity, reason) {
            StartLoading();
            $.ajax({
                url: "/Items/ActionAddItemInventoryNegative/",
                type: "GET",
                data: { "origin": origin, "destination": destination, "quantity": parseFloat(quantity), "reason": reason },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    EndLoading();
                    if (result.Json) {
                        toastr.success(`Producto Agregado correctamente.`);
                        DataTableNegativeBalance.clear();
                        DataTableNegativeBalance.rows.add(jQuery(result.products));
                        DataTableNegativeBalance.columns.adjust().draw();

                    }
                    else
                        toastr.error("Ocurrió un error durante el procesamiento de la solicitud.");

                    $('#SupplierSelect').val($("#SupplierSelect :first").val()).trigger('change');
                    $('#SupplierSelectDestination').val($("#SupplierSelectDestination :first").val()).trigger('change');
                    $('#inputCantidad').val("");
                    $('#optionsNegative').val($("#optionsNegative :first").val()).trigger('change');

                },
                error: function (result) {
                    EndLoading();
                    toastr.error("Ocurrió un error durante el procesamiento de la solicitud.");
                }
            });
        }

        function GetInfo(value, id) {
            if (value != "") {
                $.ajax({
                    url: "/Items/ActionRemoveInventoryNegativaInfo/",
                    type: "GET",
                    data: { "part_number": value.toString() },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        EndLoading();
                        if (result.Json) {
                            console.log(result.Json)
                            if (id === "SupplierSelect") {
                                Clear();

                                document.getElementById("productOrigin").innerHTML = value + " - " + result.Json.part_description;
                                document.getElementById("costOrigin").innerHTML = result.Json.cost_header;
                                document.getElementById("stockOrigin").innerHTML = result.Json.unrestricted_header;
                                document.getElementById("amountOrigin").innerHTML = parseFloat(result.Json.total_amount.toFixed(2));
                                document.getElementById("packingSize").innerHTML = result.Json.packing_size;
                                document.getElementById("totalQuantityHeader").innerHTML = result.Json.total_quantity;
                                document.getElementById("amountOriginMain").innerHTML = result.Json.total_amount.toFixed(2);
                                document.getElementById("totalNewQuantity").innerHTML = parseFloat(result.Json.unrestricted_header) * -1;
                                negativeHeader = {
                                    part_number_header: result.Json.part_number_header,
                                    cost_header: result.Json.cost_header,
                                    unrestricted_header: result.Json.unrestricted_header,
                                    packing_size: result.Json.packing_size,
                                    counted: '',
                                    reason: ' ',
                                    negative_status: 0,

                                }
                                $("#divContraAjuste").show()

                            } else {
                                //document.getElementById("productDestination").innerHTML = value + " - " + result.Json.part_number_destination_description;
                                document.getElementById("unrestrictedDetail").innerHTML = result.Json.unrestricted_header;
                                document.getElementById("costDetail").innerHTML = result.Json.cost_header;
                                //document.getElementById("amountDestination").innerHTML = formatmoney(parseFloat(result.Json.part_number_destination_stock_unrestricted)*parseFloat(result.Json.part_number_destination_last_purchase_price))(4);
                            }

                        } else {
                            if (id === "SupplierSelect") {
                                document.getElementById("productOrigin").innerHTML = " - ";
                                document.getElementById("costOrigin").innerHTML = "0";
                                document.getElementById("stockOrigin").innerHTML = 0;
                                document.getElementById("amountOrigin").innerHTML = 0;

                            } else {
                                document.getElementById("productDestination").innerHTML = " - ";
                                //document.getElementById("costDestination").innerHTML = "$ 0";
                                //document.getElementById("stockDestination").innerHTML = 0;
                                //document.getElementById("amountDestination").innerHTML = 0;
                            }
                        }
                        //UpdateQuantity();
                    },
                    error: function (result) {
                        EndLoading();
                        toastr.error("Ocurrió un error durante el procesamiento de la solicitud.");
                    }
                });
            }
        }

        function UpdateQuantity(value) {
            if (value == "") {
                $("#inputCantidadNegativa").val(0);
                value = 0;
            }
            if (!isNaN(value)) {
                var quantity = parseFloat(value);
                if (quantity < 0) {
                    $("#inputCantidadNegativa").val(0);
                    toastr.error("Cantidad en fisico no puede ser negativa.");
                    return;
                }
                var stock = parseFloat(document.getElementById("stockOrigin").innerHTML) * -1;
                var cost = parseFloat(document.getElementById("costOrigin").innerHTML);
                var new_amount = parseFloat(document.getElementById("amountOriginMain").innerHTML) + (cost * value);
                var newQuantity = quantity + stock;
                document.getElementById("totalNewQuantity").innerHTML = stock + quantity;
                document.getElementById("amountOrigin").innerHTML = parseFloat(new_amount.toFixed(2));
            } else {
                document.getElementById("totalNewQuantity").innerHTML = "0";
            }

        }
        function AdjustInventory() {
            swal({
                title: "¿Esta seguro?",
                text: "Se ajustaran los productos",
                type: 'warning',
                closeOnConfirm: true,
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Continuar",
                cancelButtonText: "Cancelar"
            }, function (isConfirm) {
                if (isConfirm)
                    AdjustConfirmed();
            });
        }

        function AdjustConfirmed() {
            StartLoading();
            $.ajax({
                url: "/InventoryAdjustment/ActionAdjustmentNegatives/",
                type: "POST",
                data: {},
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (r) {
                    EndLoading();
                    console.log(r);
                    if (r) {
                        if (r.result == "OK") {
                            toastr.success(`Ajustes realizados con exito`);
                        } else {
                            toastr.warning(r.result);
                        }

                        DataTableNegativeBalance.clear();
                        DataTableNegativeBalance.rows.add(jQuery(r.products));
                        DataTableNegativeBalance.columns.adjust().draw();

                    }
                    else
                        toastr.error("Ocurrió un error durante el procesamiento de la solicitud.");

                    $('#SupplierSelect').val($("#SupplierSelect :first").val()).trigger('change');
                    $('#SupplierSelectDestination').val($("#SupplierSelectDestination :first").val()).trigger('change');
                    $('#inputCantidad').val("");
                    $('#optionsNegative').val($("#optionsNegative :first").val()).trigger('change');

                },
                error: function (result) {
                    EndLoading();
                    toastr.error("Ocurrió un error durante el procesamiento de la solicitud.");
                }
            });
        }
        function AddNegative() {
            if ($("#optionsNegative").val() == "") {
                toastr.error("Indique el motivo del negativo");
                return;
            }
            if (listDetail.length == 0) {
                toastr.error("Agregue por lo menos un producto para ContraAjuste");
                return;
            }
            if ($("#inputCantidad").val() == "" || parseFloat($("#inputCantidad").val()) < 0) {
                toastr.error("Ingrese una cantidad valida en cantidad en fisico");
                return;
            }
            //negativeHeader["reason"] = $("#optionsNegative").val()
            negativeHeader["reason"] = " ";
            negativeHeader["counted"] = parseFloat($("#inputCantidadNegativa").val())


            StartLoading();
            $.ajax({
                url: "/InventoryAdjustment/ActionInsertNewNegative/",
                type: "POST",
                data: { "modelHeader": negativeHeader, "modelDetail": listDetail },
                success: function (r) {
                    EndLoading();
                    if (r.result) {
                        toastr.success("Ajuste Agregado Correctamente");
                        listDetail = [];
                        DataTableDetail.clear();
                        DataTableDetail.rows.add(listDetail);
                        DataTableDetail.columns.adjust().draw();

                        DataTableNegativeBalance.clear();
                        DataTableNegativeBalance.rows.add(jQuery(r.products));
                        DataTableNegativeBalance.columns.adjust().draw();

                        DataTableNegative.clear();
                        DataTableNegative.rows.add(jQuery(r.InventoriesNegative));
                        DataTableNegative.columns.adjust().draw();

                        $("#ModalAddNegative").modal('hide');

                        Clear()
                        $('#SupplierSelect').val($("#SupplierSelect :first").val()).trigger('change');




                    } else if (r == "SF") {
                        SessionFalse("Ha terminado su sesion");
                    }
                    else {
                        toastr.error("Ha ocurrido un error");
                    }


                },
                error: function (result) {
                    EndLoading();
                    toastr.error("Ocurrió un error durante el procesamiento de la solicitud.");
                }
            });
        }
        function Clear() {
            document.getElementById("unrestrictedDetail").innerHTML = "0";
            document.getElementById("costDetail").innerHTML = "0";
            $("#inputCantidad").val(0);
            UpdateQuantity(0);

            document.getElementById("amountOrigin").innerHTML = "0";
            document.getElementById("totalNewQuantity").innerHTML = "0";
            document.getElementById("packingSize").innerHTML = "0";
            document.getElementById("totalQuantityHeader").innerHTML = "0";
            document.getElementById("stockOrigin").innerHTML = "0";
            document.getElementById("costOrigin").innerHTML = "0";
            document.getElementById("productOrigin").innerHTML = "";

            $("#inputCantidadNegativa").val(0);

            listDetail = [];
            DataTableDetail.clear();
            DataTableDetail.rows.add(listDetail);
            DataTableDetail.columns.adjust().draw();
        }
    </script>
}
