﻿@model List<App.Entities.ViewModels.Inventory.InventoryHeaderModel>
@{ ViewBag.Title = "INVE001"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="INVE000">Inventarios</a>
                    </li>
                    <li class="active">
                        <span>Agenda de Inventarios</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Agenda de Inventarios
            </h2>
            <small>Se mostrara la información de los Invnetarios que estan programdos.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hgreen">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Agenda de Inventarios</a>
                </div>
                <div class="panel-body">
                    <div id="MenuMain">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Fecha Inicial</label>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker'>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <input id="dateInit" type='text' class="form-control" autocomplete="off" />
                                    </div>
                                    <label id="dateInitError" class="error" hidden>El Campo no puede ser nulo</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label>Fecha Final</label>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker2'>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <input id="dateFin" type='text' class="form-control" autocomplete="off" />
                                    </div>
                                    <label id="dateFinError" class="error" hidden>El Campo no puede ser nulo</label>
                                </div>
                            </div>
                            <div class="col-lg-2" style="margin-top:5px;">
                                <br />
                                <button id="Search" class="btn btn-primary" onclick="SearchInventory()"><i class="fa fa-eye"></i> Mostrar</button>
                            </div>
                        </div>

                        <div id="containerInventories" class="card-columns">

                        </div>
                    </div>

                    <div id="ShowPanelDashbord" class="hide animate-panel" data-effect="fadeInRight">
                        <div class="content animate-panel">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div id="panelColorChange" class="hpanel">
                                        <div class="panel-body">
                                            <button class="btn btn-outline text-right" id="btnSearch" onclick="Return();"><i class="fa fa-caret-square-o-left"></i> Regresar</button>
                                            <span id="badgeDashboard" class="label pull-right"></span>
                                            <br />
                                            <br />
                                            <i id="archiveColorChange" class="fa fa-archive fa-4x col-lg-offset-5"></i>
                                            <br />
                                            <div class="col text-center ">
                                                <b class="project-label text-center">Número de Inventario: </b>
                                                <h4 id="txtIdNumber" class="text-center"></h4>
                                                <b class="project-label text-center">Nombre de Inventario: </b>
                                                <h4 id="txtNameInventory" class="text-center"></h4>
                                                <b class="project-label text-center">Descripción del Inventario: </b>
                                                <p id="txtDescripInvetory"></p>
                                                <b class="project-label text-center">Fecha Inicial:</b>
                                                <h4 id="txtDateStart"></h4>
                                                <br />
                                                <b class="project-label text-center">Fecha Terminación:</b>
                                                <h4 id="txtDateEnd"></h4>

                                            </div>
                                        </div>
                                        <div class="panel-footer contact-footer">
                                            <div class="row">
                                                <div class="col-md-6 border-right">
                                                    <div class="contact-stat"><span>ETIQUETAS IMPRESAS: </span> <strong id="labelsLabels"></strong></div>
                                                </div>
                                                <div class="col-md-6 border-right">
                                                    <div class="contact-stat"><span>Tipo: </span> <strong id="txtInventoryType"></strong></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panelPalletsColor" class="hpanel">
                                        <div class="panel-body">
                                            <div class="text-center">
                                                <h3 class="font-bold">PALLETS</h3>
                                                <h4 class="font-bold">Creados    /    Contados</h4>
                                                <p id="PalletsScan1" class="text-big font-light font-bold"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Manu2Users" class="col-lg-8 hide animate-panel" data-effect="zoomIn">
                                    <button class="btn btn-outline text-right btn-info" id="btnBackOne" onclick="ReturnMenuMainOne();"><i class="fa fa-caret-square-o-left"></i> Regresar</button>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group col-lg-12 animate-panel" data-effect="zoomIn">
                                                <table id="TableUsers" class="table table-striped table-bordered table-hover" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Núm. de Usuario</th>
                                                            <th>Núm. de Empleado</th>
                                                            <th>Nombre del Empleado</th>
                                                            <th>Cantidad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Manu3Products" class="col-lg-8 hide">
                                    <button class="btn btn-outline text-right btn-info" id="btnBackTwo" onclick="ReturnMenuMainTwo();"><i class="fa fa-caret-square-o-left"></i> Regresar</button>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group col-lg-12 animate-panel" data-effect="zoomIn">
                                                <table id="TableProducts" class="table table-striped table-bordered table-hover" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Número de Serie</th>
                                                            <th>Nombre del Producto</th>
                                                            <th>Cantidad</th>
                                                            <th>Precio Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Menu4Pallets" class="col-lg-8 hide">
                                    <button class="btn btn-outline text-right btn-info" id="btnBackThree" onclick="ReturnMenuMainThree();"><i class="fa fa-caret-square-o-left"></i> Regresar</button>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group col-lg-12 animate-panel" data-effect="zoomIn">
                                                <table id="TablePallets" class="table table-striped table-bordered table-hover" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Número de Serie</th>
                                                            <th>Locación</th>
                                                            <th>Nombre del usuario</th>
                                                            <th>Estatus</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Menu1Main" class="col-lg-8">
                                    <div class="col-lg-6">
                                        <div id="panelColor1" class="hpanel stats hblue">
                                            <div class="panel-body h-200">
                                                <div class="stats-title pull-left">
                                                    <h4>Revisión de Pallets</h4>
                                                </div>
                                                <div class="stats-icon pull-right">
                                                    <i class="pe-7s-share fa-4x"></i>
                                                </div>
                                                <div class="m-t-xl">
                                                    <h3 id="labelCurrent" class="m-b-xs"></h3>
                                                    <span class="font-bold no-margins">
                                                        Pallets Faltantes
                                                    </span>
                                                    <button id="labelPalletsLink" class="btn btn-xs btn-info" onclick="MenuPallets()"><i class="fa fa-eye"></i> Ver Pallets</button>
                                                    <div class="progress m-t-xs full progress-small">
                                                        <div id="progressBarColorMain" style="width:0%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class="progress-bar"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <small class="stats-label">Pallets Creados</small>
                                                            <h4 id="labelsLabels2"></h4>
                                                        </div>

                                                        <div class="col-xs-6">
                                                            <small class="stats-label">Pallets Escaneados</small>
                                                            <h4 id="PalletsScan2"></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                Etiquetas impresas respecto a los pallets escaneados.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="hpanel stats hblue">
                                            <div class="panel-body h-200 list">
                                                <div class="stats-title pull-left">
                                                    <h4>Total de Productos y Precio Total</h4>
                                                </div>
                                                <div class="stats-icon pull-right">
                                                    <i class="pe-7s-graph1 fa-4x"></i>
                                                </div>
                                                <div class="m-t-xl">
                                                    <span class="font-bold no-margins">
                                                        Total Contado
                                                    </span>
                                                    <br />
                                                    <br />
                                                    <button id="labelProductLink" class="btn btn-xs btn-info" onclick="MenuProducts()"><i class="fa fa-eye"></i> Ver Productos</button>
                                                    <br /><br /><br />
                                                </div>
                                                <div class="row m-t-sm">
                                                    <div class="col-lg-6">
                                                        <h4 id="totalNumberProducts" class="no-margins font-extra-bold text-info"></h4>
                                                        <div class="font-bold">Cantidad Total <i class="pe-7s-box2 text-info"></i></div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <h4 id="totalPriceAmountProducts" class="no-margins font-extra-bold text-info"></h4>
                                                        <div class="font-bold">Monto Total <i class="pe-7s-cash text-info"></i></div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-offset-6">
                                                        <h4 id="totalPriceAmountProductsTeoric" class="no-margins font-extra-bold text-info"></h4>
                                                        <div class="font-bold">Monto Teorico <i class="pe-7s-cash text-info"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                Total de productos contados hasta el momento.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div id="panelColor3" class="hpanel hblue">
                                            <div class="panel-body list">
                                                <div class="panel-title">Usuario con más Pallets</div>
                                                <div id="topUsers" class="list-item-container col-lg-12">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Vendor/moment/moment.js"></script>
    <script src="~/Vendor/moment/locale/es.js"></script>
    <script type="text/javascript">
        var folioShow = 0;
        var InventoriesGlobal = [];
        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);
            InventoriesGlobal = @Html.Raw(Json.Encode(Model));
            SelectStatusInventory(InventoriesGlobal);
        });

        // Create our number formatter.
        var formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
        });

        var nf = new Intl.NumberFormat();

        $('#dateInit').datepicker({
            autoclose: true,
            endDate: '01/01/2100',
            language: 'es',
            format: 'mm/dd/yyyy',
            todayHighlight: true,
        }).on("changeDate", function (e) {
            //SearchInventory();
        });

        $('#dateFin').datepicker({
            autoclose: true,
            endDate: '01/01/2100',
            language: 'es',
            format: 'mm/dd/yyyy',
            todayHighlight: true,
        }).on("changeDate", function (e) {
            //SearchInventory();
        });

        //Tabla Usuarios
        var tableUser = $('#TableUsers').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[18, 25, 50, -1], [18, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                },
                { data: 'user_no'},
                { data: 'emp_no'},
                { data: 'user_name'},
                { data: 'PalletsQuantity'}
            ],
            columnDefs: [{
                targets: [0,1,2,3,4],
                width: "1%"
            }]
        });

        tableUser.column(1).visible(false);
        var detailRows = [];

        $('#TableUsers tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = tableUser.row(tr);
            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (tableUser.row('.details').length) {
                    $('.details-control', tableUser.row('.details').node()).click();
                }
                row.child(formatOne(row.data())).show();
                tr.addClass('details');
            }
        });

        tableUser.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        function formatOne(d) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "/InventoryHeader/ActionGetInventoryUsersCountSerialNumber",
                data: { "inventory_id": folioShow, 'emp_no': d.user_no },
                type: "GET",
                success: function (response) {
                    if (response.success) {
                        var status_name = "";
                        var total_price = 0;
                        var total_quantity = 0;
                        $.each(response.Data, function (index, value) {
                            total_price = total_price + value.price_amount;
                            total_quantity = total_quantity + value.quantity;
                            if (value.pallet_status == 0)
                                status_name = '<div style="color:Blue; text-align:center;"><strong>PreInventario</strong></div>';
                            else if (value.pallet_status == 8)
                                status_name = '<div style="color:Red; text-align:center;"><strong>Cancelado</strong></div>';
                            else if (value.pallet_status == 9)
                                status_name = '<div style="color:Green; text-align:center;"><strong>Contado</strong></div>';
                            detailItems += "<tr><td>" + value.serial_number.toUpperCase() + "</td><td>" + nf.format(value.quantity) + "</td><td>" + value.storage_location_name.toUpperCase() + "</td><td> " + formatter.format(value.price_amount) + "</td><td>" + status_name + "</td>";
                        });
                        var htmlPrint = `<div id="optionTable">
                                        <div class ="col-lg-12">
                                            <div class="pull-right" style="width:80%;">
                                                <div class ="col-lg-5" style="border:1px solid #dddddd"><b> <i class="pe-7s-box2"></i>  Cantidad Total: ${nf.format(total_quantity)}</b></div>
                                                <div class ="col-lg-5" style="border:1px solid #dddddd"><b> <i class="pe-7s-cash"></i>  Precio Total: ${formatter.format(total_price)} </b></div>
                                            </div>
                                        </div>
                                    </div>`;
                        tabledetail.html('<table id="tabledetailUsers" class="table table-striped table-bordered table-hover" style="width:100%"><thead><tr><th>Núm. de Serie</th><th>Cantidad Productos</th><th>Locación</th><th>Precio Total</th><th>Estatus</th></tr></thead><tbody>' + detailItems + '</tbody></table>' + htmlPrint).removeClass('loading');
                        reloadStyleTableOne();
                    } else {
                        SessionFalse("Su Sesión ha terminado por inactividad.");
                    }
                }
            });
            return tabledetail;
        }

        function reloadStyleTableOne() {
            $('#tabledetailUsers').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                }
            });
        }

        ////TableProductos
        var tableProducts = $('#TableProducts').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[18, 25, 50, -1], [18, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                { data: 'part_number' },
                { data: 'part_description' },
                { data: 'counted' },
                { data: 'total_amount' }
            ],
            columnDefs: [{
                targets: [0, 1, 2, 3],
                width: "1%"
            },
            {
                targets: [2],
                render: function (data, type, row) {
                    return '<p> ' + nf.format(data) + '<p>'
                }
            },
            {
                targets: [3],
                render: function (data, type, row) {
                    return '<p> ' + formatter.format(data) + '<p>'
                }
            }]
        });

        var tablePallets = $('#TablePallets').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[18, 25, 50, -1], [18, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                },
                { data: 'serial_number' },
                { data: 'storage_location_name' },
                { data: 'cuser' },
                { data: 'pallet_status' }
            ],
            columnDefs: [{
                targets: [0, 1, 2, 3, 4],
                width: "1%"
            },
            {
                targets: [1],
                render: function (data, type, row) {
                    return '<p> ' + data.toUpperCase(); +'<p>'
                }
            },
            {
                targets: [2],
                render: function (data, type, row) {
                    return '<p> ' + data.toUpperCase(); +'<p>'
                }
            },
            {
                targets: [4],
                render: function (data, type, row) {
                    if (data == 0)
                        return '<div style="color:Blue; text-align:center;"><strong>PreInventario</strong></div>';
                    else if (data == 8)
                        return '<div style="color:Red; text-align:center;"><strong>Cancelado</strong></div>';
                    else if (data == 9)
                        return '<div style="color:Green; text-align:center;"><strong>Contado</strong></div>';
                }
            }]
        });

        var detailRowsTwo = [];
        $('#TablePallets tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = tablePallets.row(tr);
            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (tablePallets.row('.details').length) {
                    $('.details-control', tablePallets.row('.details').node()).click();
                }
                row.child(formatTwo(row.data())).show();
                tr.addClass('details');
            }
        });

        tablePallets.on('draw', function () {
            $.each(detailRowsTwo, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        function formatTwo(d) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "/InventoryHeader/ActionGetPalletsDetail",
                data: { 'serial_number': d.serial_number },
                type: "GET",
                success: function (response) {
                    if (response.success) {
                        $.each(response.Data, function (index, value) {
                            detailItems += "<tr><td>" + value.part_number.toUpperCase() + "</td><td>" + value.product_name.toUpperCase() + "</td><td>" + nf.format(value.quantity) + "</td><td>" + formatter.format(value.price_amount) + "</td></td>";
                        });
                        tabledetail.html('<table id="tabledetailPallets" class="table table-striped table-bordered table-hover" style="width:100%"><thead><tr><th>Núm. de Serie</th><th>Nombre del Producto</th><th>Cantidad</th><th>Precio Total</th></tr></thead><tbody>' + detailItems + '</tbody></table>').removeClass('loading');
                        reloadStyleTableTwo();
                    } else {
                        SessionFalse("Su Sesión ha terminado por inactividad.");
                    }
                }
            });
            return tabledetail;
        }

        function reloadStyleTableTwo() {
            $('#tabledetailPallets').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                }
            });
        }

        function SearchInventory() {
            if ($('#dateInit').val() != "" && $('#dateFin').val() != "") {
                if (moment($('#dateFin').val()) < moment($('#dateInit').val())) {
                    toastr.error("Fecha final no puede ser menor a la inicial.");
                    $('#dateFin').focus();
                }
                else {
                    StartLoading();
                    $.ajax({
                        url: "/InventoryHeader/ActionGetInventorysByDate",
                        type: "GET",
                        data: { "startDate": $('#dateInit').val(), "endDate": $('#dateFin').val() },
                        success: function (response) {
                            $("#containerInventories").html("")
                            EndLoading();
                            if (response.success) {
                                SelectStatusInventory(response.Inventories);
                            }
                            else {
                                if (response.responseText == 'SF') {
                                    SessionFalse("Su Sesión ha terminado por inactividad.");
                                }
                                else {
                                    toastr.warning(response.responseText);
                                }
                            }
                        },
                        error: function () {
                            EndLoading();
                            toastr.error('Error inesperado contactar a sistemas.');
                        }
                    });
                }
            }
            else if (($('#dateInit').val() == "" && $('#dateFin').val() != "") || ($('#dateInit').val() != "" && $('#dateFin').val() == "")) {
                window.location.href = '/Warehouse/INVE001';
            }
        }

        function ReturnMenuMainOne() {
            $('#Manu2Users').addClass("hide");
            $('#Menu1Main').removeClass("hide");
            $('#Menu1Main').animatePanel();
        }

        function ReturnMenuMainTwo() {
            $('#Manu3Products').addClass("hide");
            $('#Menu1Main').removeClass("hide");
            $('#Menu1Main').animatePanel();
        }

        function ReturnMenuMainThree() {
            $('#Menu4Pallets').addClass("hide");
            $('#Menu1Main').removeClass("hide");
            $('#Menu1Main').animatePanel();
        }

        function MenuPallets() {
            $.ajax({
                type: "POST",
                url: "/InventoryHeader/ActionGetPalletsHeader",
                data: { "inventory_id": folioShow },
                success: function (response) {
                    if (response.success) {
                        tablePallets.clear();
                        tablePallets.rows.add(response.Data);
                        tablePallets.columns.adjust().draw();
                        $('#Menu1Main').addClass("hide");
                        $('#Menu4Pallets').removeClass("hide");
                        $('#Menu4Pallets').animatePanel();
                    } else {
                        if (response.responseText == 'SF') {
                            SessionFalse("Su Sesión ha terminado por inactividad.");
                        }
                        else {
                            toastr.warning("Error desconocido contacte a sistemas.");
                        }
                    }
                },
                error: function (response) {
                    toastr.error("Error desconocido contacte a sistemas.");
                }
            });
        }

        function MenuProducts() {
            $.ajax({
                type: "POST",
                url: "/InventoryHeader/ActionGetItemsDetail",
                data: { "inventory_id": folioShow },
                success: function (response) {
                    if (response.success) {
                        tableProducts.clear();
                        tableProducts.rows.add(response.Data);
                        tableProducts.columns.adjust().draw();
                        $('#Menu1Main').addClass("hide");
                        $('#Manu3Products').removeClass("hide");
                        $('#Manu3Products').animatePanel();
                    } else {
                        if (response.responseText == 'SF') {
                            SessionFalse("Su Sesión ha terminado por inactividad.");
                        }
                        else {
                            toastr.warning("Error desconocido contacte a sistemas.");
                        }
                    }
                },
                error: function (response) {
                    toastr.error("Error desconocido contacte a sistemas.");
                }
            });
        }

        function MenuUserTable() {
            $.ajax({
                type: "POST",
                url: "/InventoryHeader/ActionGetInventoryUsersCountPallets",
                data: { "inventory_id": folioShow },
                success: function (response) {
                    if (response.success) {
                        tableUser.clear();
                        tableUser.rows.add(response.Data);
                        tableUser.columns.adjust().draw();
                        $('#Menu1Main').addClass("hide");
                        $('#Manu2Users').removeClass("hide");
                        $('#Manu2Users').animatePanel();
                    } else {
                        if (response.responseText == 'SF') {
                            SessionFalse("Su Sesión ha terminado por inactividad.");
                        }
                        else {
                            toastr.warning("Error desconocido contacte a sistemas.");
                        }
                    }
                },
                error: function (response) {
                    toastr.error("Error desconocido contacte a sistemas.");
                }
            });
        }

        function Return() {
            $('#Menu4Pallets').addClass("hide");
            $('#Manu2Users').addClass("hide");
            $('#Manu3Products').addClass("hide");
            $('#Menu1Main').removeClass("hide");
            $('#Menu1Main').animatePanel();
            $('#ShowPanelDashbord').addClass("hide");
            $('#MenuMain').removeClass("hide");
            $('#MenuMain').animatePanel();
        }

        function SelectStatusInventory(Inventories) {
            InventoriesGlobal = Inventories;
            var Inventory = "";
            var dateI = "";
            var dateF = "";
            var descrip = "";
            var titulo = "";
            $.each(Inventories, function (index, value) {
                dateI = value.inventory_date_start != null ? moment(value.inventory_date_start).lang('es').format('ll') : "-";
                dateF = value.inventory_date_end != null ? moment(value.inventory_date_end).lang('es').format('DD [de] MMMM [del] YYYY [a las] h:mm a') : "-";
                titulo = value.inventory_name != null ? value.inventory_name : "Este inventario no contiene nombre.";
                descrip = value.inventory_description != null ? value.inventory_description : "Este inventario no contiene descripción.";
                if (value.inventory_status == 0)
                    Inventory = InventoryInitiated(value.id_inventory_header, titulo, descrip, value.countPallets, value.inventory_type_name, dateI, dateF);
                if (value.inventory_status == 1)
                    Inventory = InventoryActivated(value.id_inventory_header, titulo, descrip, value.countPallets, value.inventory_type_name, dateI, dateF);
                if (value.inventory_status == 2)
                    Inventory = InventoryClosed(value.id_inventory_header, titulo, descrip, value.countPallets, value.inventory_type_name, dateI, dateF);
                if (value.inventory_status == 3)
                    Inventory = InventoryAdjustment(value.id_inventory_header, titulo, descrip, value.countPallets, value.inventory_type_name, dateI, dateF);
                if (value.inventory_status == 9)
                    Inventory = InventoryFinished(value.id_inventory_header, titulo, descrip, value.countPallets, value.inventory_type_name, dateI, dateF);
                if (Inventory != "")
                    $("#containerInventories").append(Inventory);
                Inventory = "";
            });
        }

        function InventoryInitiated(id, name, description, pallets, type, dateI, dateF) {
            return `<div class="col-lg-6">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <span class="label pull-right" style="color:white;background:#3498DB;">INICIADO</span>
                            <div class="row">
                            <div class="col-sm-7">
                                <p style="display:inline;">Núm: </p><p style="display:inline;"><font size="4" class="text-info">`+ id + `</font></p>
                                <p>Nombre: <font size="3" class="text-info">`+ name + `</font></p>
                                <p>`+ description + `</p>
                                <br />
                                <div class="row">
                                    <div class="col text-center">
                                        <div class="col-sm-6">
                                            <div class="project-label"><b class="text-center">PALLETS CREADOS</b></div>
                                            <p class="text-center">`+ pallets + `</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="project-label"><b class="text-center">TIPO</b></div>
                                            <p class="text-center">`+ type + `</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 project-info">
                                <div class="project-value">
                                    <div class="col text-center">
                                        <br />
                                        <b class="project-label text-center">Fecha Inicial:</b>
                                        <h5 class="text-info">
                                            `+ dateI + `
                                        </h5>
                                        <br />
                                        <b class="project-label text-center">Fecha Terminación:</b>
                                        <h5 class="text-info">
                                            `+ dateF + `
                                        </h5>
                                        <br />
                                    </div>
                                </div>
                                <div class="project-action m-t-md">
                                    <div class="col text-center">
                                        <div class="btn-group">
                                            <button class="btn btn-xs btn-info" onclick="ShowPanelDashbord('${id}',0)"><i class="pe-7s-config"></i> Información</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Este inventario se encuentra iniciado y estará activo el `+ dateI + `.
                    </div>
                </div>
            </div>`;
        }

        function InventoryActivated(id, name, description, pallets, type, dateI, dateF) {
            return `<div class="col-lg-6">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <span class="label label-success pull-right">ACTIVADO</span>
                            <div class="row">
                            <div class="col-sm-7">
                                <p style="display:inline;">Núm: </p><p style="display:inline;"><font size="4" class="text-success">`+ id + `</font></p>
                                <p>Nombre: <font size="3" class="text-success">`+ name + `</font></p>
                                <p>`+ description + `</p>
                                <br />
                                <div class="row">
                                    <div class="col text-center">
                                        <div class="col-sm-6">
                                            <div class="project-label"><b class="text-center">PALLETS CREADOS</b></div>
                                            <p class="text-center">`+ pallets + `</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="project-label"><b class="text-center">TIPO</b></div>
                                            <p class="text-center">`+ type + `</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 project-info">
                                <div class="project-value">
                                    <div class="col text-center">
                                        <br />
                                        <b class="project-label text-center">Fecha Inicial:</b>
                                        <h5 class="text-success">
                                            `+ dateI + `
                                        </h5>
                                        <br />
                                        <b class="project-label text-center">Fecha Terminación:</b>
                                        <h5 class="text-success">
                                            `+ dateF + `
                                        </h5>
                                    </div>
                                </div>
                                <div class="project-action m-t-md">
                                    <div class="col text-center">
                                        <div class="btn-group">
                                            <button class="btn btn-xs btn-success" onclick="ShowPanelDashbord('${id}',1)"><i class="pe-7s-config"></i> Información</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Este inventario se encuentra activado actualmente.
                    </div>
                </div>
            </div>`;
        }

        function InventoryClosed(id, name, description, pallets, type, dateI, dateF) {
            return `<div class="col-lg-6">
                <div class="hpanel horange">
                    <div class="panel-body">
                        <span class="label pull-right" style="color:white;background:#E67E22;">CERRADO</span>
                            <div class="row">
                            <div class="col-sm-7">
                                <p style="display:inline;">Núm: </p><p style="display:inline;"><font size="4" style="color:#E67E22;">`+ id + `</font></p>
                                <p>Nombre: <font size="3" style="color:#E67E22;">`+ name + `</font></p>
                                <p>`+ description + `</p>
                                <br />
                                <div class="row">
                                    <div class="col text-center">
                                        <div class="col-sm-6">
                                            <div class="project-label"><b class="text-center">PALLETS CREADOS</b></div>
                                            <p class="text-center">`+ pallets + `</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="project-label"><b class="text-center">TIPO</b></div>
                                            <p class="text-center">`+ type + `</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 project-info">
                                <div class="project-value">
                                    <div class="col text-center">
                                        <br />
                                        <b class="project-label text-center">Fecha Inicial:</b>
                                        <h5 style="color:#E67E22;">
                                            `+ dateI + `
                                        </h5>
                                        <br />
                                        <b class="project-label text-center">Fecha Terminación:</b>
                                        <h5 style="color:#E67E22;">
                                            `+ dateF + `
                                        </h5>
                                    </div>
                                </div>
                                <div class="project-action m-t-md">
                                    <div class="col text-center">
                                        <div class="btn-group">
                                            <button class="btn btn-xs" style="background-color:#E67E22; color:white;" onclick="ShowPanelDashbord('${id}',2)"><i class="pe-7s-config"></i> Información</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Este inventario se encuentra cerrado por un periodo de 36 horas.
                    </div>
                </div>
            </div>`;
        }

        function InventoryAdjustment(id, name, description, pallets, type, dateI, dateF) {
            return `<div class="col-lg-6">
                <div class="hpanel hyellow">
                    <div class="panel-body">
                        <span class="label label-warning pull-right">AJUSTE</span>
                            <div class="row">
                            <div class="col-sm-7">
                                <p style="display:inline;">Núm: </p><p style="display:inline;"><font size="4" class="text-warning">`+ id + `</font></p>
                                <p>Nombre: <font size="3" class="text-warning">`+ name + `</font></p>
                                <p>`+ description + `</p>
                                <br />
                                <div class="row">
                                    <div class="col text-center">
                                        <div class="col-sm-6">
                                            <div class="project-label"><b class="text-center">PALLETS CREADOS</b></div>
                                            <p class="text-center">`+ pallets + `</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="project-label"><b class="text-center">TIPO</b></div>
                                            <p class="text-center">`+ type + `</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 project-info">
                                <div class="project-value">
                                    <div class="col text-center">
                                        <br />
                                        <b class="project-label text-center">Fecha Inicial:</b>
                                        <h5 class="text-warning">
                                            `+ dateI + `
                                        </h5>
                                        <br />
                                        <b class="project-label text-center">Fecha Terminación:</b>
                                        <h5 class="text-warning">
                                            `+ dateF + `
                                        </h5>
                                    </div>
                                </div>
                                <div class="project-action m-t-md">
                                    <div class="col text-center">
                                        <div class="btn-group">
                                            <button class="btn btn-xs btn-warning" onclick="ShowPanelDashbord('${id}',3)"><i class="pe-7s-config"></i> Información</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Este inventario se encuentra en ajustes actualmente.
                    </div>
                </div>
            </div>`;
        }

        function InventoryFinished(id, name, description, pallets, type, dateI, dateF) {
            return `<div class="col-lg-6">
                <div class="hpanel hviolet">
                    <div class="panel-body">
                        <span class="label pull-right" style="color:white;background:#9B59B6;">FINALIZADO</span>
                            <div class="row">
                            <div class="col-sm-7">
                                <p style="display:inline;">Núm: </p><p style="display:inline;"><font size="4" style="color:#9B59B6;">`+ id + `</font></p>
                                <p>Nombre: <font size="3" style="color:#9B59B6;">`+ name + `</font></p>
                                <p>`+ description + `</p>
                                <br />
                                <div class="row">
                                    <div class="col text-center">
                                        <div class="col-sm-6">
                                            <div class="project-label"><b class="text-center">PALLETS CREADOS</b></div>
                                            <p class="text-center">`+ pallets + `</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="project-label"><b class="text-center">TIPO</b></div>
                                            <p class="text-center">`+ type + `</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 project-info">
                                <div class="project-value">
                                    <div class="col text-center">
                                        <br />
                                        <b class="project-label text-center">Fecha Inicial:</b>
                                        <h5 style="color:#9B59B6;">
                                            `+ dateI + `
                                        </h5>
                                        <br />
                                        <b class="project-label text-center">Fecha Terminación:</b>
                                        <h5 style="color:#9B59B6;">
                                            `+ dateF + `
                                        </h5>
                                    </div>
                                </div>
                                <div class="project-action m-t-md">
                                    <div class="col text-center">
                                        <div class="btn-group">
                                            <button class="btn btn-xs btn-primary2" onclick="ShowPanelDashbord('${id}',9)"> <i class="pe-7s-config"></i> Información</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Este inventario finalizo el día `+ dateF + `.
                    </div>
                </div>
            </div>`;
        }

        function ShowPanelDashbord(folio, color) {
            StartLoading();
            folioShow = folio;
            var myInventary = InventoriesGlobal.find(x => x.id_inventory_header == folioShow);
            var dateIn = myInventary.inventory_date_start != null ? moment(myInventary.inventory_date_start).lang('es').format('ll') : "-";
            var dateFi = myInventary.inventory_date_end != null ? moment(myInventary.inventory_date_end).lang('es').format('DD [de] MMMM [del] YYYY [a las] h:mm:ss a') : "-";
            var nameInventory = myInventary.inventory_name != null ? myInventary.inventory_name : "Este inventario no contiene nombre.";
            var descripInvent = myInventary.inventory_description != null ? myInventary.inventory_description : "Este inventario no contiene descripción.";
            document.getElementById("txtIdNumber").innerHTML = folioShow;
            document.getElementById("txtNameInventory").innerHTML = nameInventory;
            document.getElementById("txtDescripInvetory").innerHTML = descripInvent;
            document.getElementById("txtDateStart").innerHTML = dateIn;
            document.getElementById("txtDateEnd").innerHTML = dateFi;
            document.getElementById("txtInventoryType").innerHTML = myInventary.inventory_type_name;

            $.ajax({
                type: "Get",
                url: "/InventoryHeader/ActionGetInventoryInfo",
                data: { "inventory_id": folio },
                success: function (response) {
                    if (response.success) {
                        document.getElementById("labelsLabels").innerHTML = response.Data.LastLabelInventory;
                        document.getElementById("labelsLabels2").innerHTML = response.Data.GetInventoryPalletsPreInventoried;
                        document.getElementById("PalletsScan1").innerHTML = response.Data.GetInventoryPalletsPreInventoried + " / " + response.Data.GetInventoryPalletsFinished;
                        document.getElementById("PalletsScan2").innerHTML = response.Data.GetInventoryPalletsFinished;
                        document.getElementById("labelCurrent").innerHTML = response.Data.GetInventoryPalletsPreInventoried - response.Data.GetInventoryPalletsFinished;
                        document.getElementById("totalNumberProducts").innerHTML = nf.format(response.Data.GetInventoryDetailCountItems);
                        document.getElementById("totalPriceAmountProducts").innerHTML = formatter.format(response.Data.InventoryTotalPriceAmount);
                        document.getElementById("totalPriceAmountProductsTeoric").innerHTML = formatter.format(response.Data.InventoryTotalPriceAmountTeoric);

                        var porcentaje = (response.Data.GetInventoryPalletsFinished / response.Data.GetInventoryPalletsPreInventoried) * 100;
                        document.getElementById("progressBarColorMain").style.width = '' + porcentaje + '%';
                        if (porcentaje >= 100) {
                            $('#progressBarColorMain').removeClass('progress-bar-info');
                            $('#progressBarColorMain').addClass('progress-bar-success');
                        }
                        else {
                            $('#progressBarColorMain').removeClass('progress-bar-success');
                            $('#progressBarColorMain').addClass('progress-bar-info');
                        }

                        var number = 0;
                        var user = '';
                        $('#topUsers').html('');
                        if (response.Data.InventoryPallets.length > 0) {
                            $.each(response.Data.InventoryPallets, function (index, value) {
                                if (number == 0)
                                    user = TopUserOne(value.user_name, value.PalletsQuantity);
                                else
                                    user = TopUser(value.user_name, value.PalletsQuantity);
                                number++;
                                $("#topUsers").append(user);
                            });
                            $("#topUsers").append(TopButtonUser());
                        }
                        else {
                            $("#topUsers").append(TopUserDontExist());
                        }
                        ChangeColor(color);
                        $('#MenuMain').addClass("hide");
                        $('#ShowPanelDashbord').removeClass("hide");
                        $('#ShowPanelDashbord').animatePanel();
                        EndLoading();
                    } else {
                        SessionFalse("Su Sesión ha terminado por inactividad.");
                    }
                },
                error: function (response) {
                    toastr.error("Error desconocido contacte a sistemas.");
                }
            });
        }

        function TopUserOne(name, quantity) {
            return `<div class="list-item">
                    <h3 id="userNumberTotal" class="no-margins font-extra-bold text-info">`+ quantity + `</h3>
                    <small>Pallets</small>
                    <div class="pull-right font-bold"> `+ name + ` <i id="UserIconMain1" class="fa fa-bolt text-info"></i></div>
                    </div>`;
        }

        function TopUser(name, quantity) {
            return `<div class="list-item">
                    <h4 class="no-margins font-extra-bold text-color3">`+ quantity + `</h4>
                    <small>Pallets</small>
                    <div class="pull-right font-bold"> `+ name + ` <i class="fa fa-level-up text-color3"></i></div>
                    </div>`;
        }

        function TopButtonUser() {
            return `<div class="list-item">
             <button class="btn btn-block text-right btn-info" id="btnViewUsers" onclick="MenuUserTable();"><i class="fa fa-eye"></i> Ver usuarios</button>
             </div>`
        }

        function TopUserDontExist() {
            return `<div><i id="userColorChange" class="fa fa-users fa-4x col-lg-offset-5 text-info"></i>
                    <h3 id="userTextColorChange" class="font-extra-bold text-center text-info">No hay usuarios con pallets registrados.</h3></div>`
        }

        function ChangeColor(color) {
            $('#panelPalletsColor').removeClass("hbgblue");
            $('#panelPalletsColor').removeClass("hbggreen");
            $('#panelPalletsColor').removeClass("hbgyellow");
            $('#panelPalletsColor').removeClass("hbgviolet");
            $('#panelPalletsColor').removeClass("hbgorange");
            $('#panelColorChange').removeClass("hblue");
            $('#panelColorChange').removeClass("hgreen");
            $('#panelColorChange').removeClass("hyellow");
            $('#panelColorChange').removeClass("hviolet");
            $('#panelColorChange').removeClass("horange");
            $('#btnSearch').removeClass('btn-info');
            $('#btnSearch').removeClass('btn-success');
            $('#btnSearch').removeClass('btn-warning');
            $('#btnSearch').removeClass('btn-primary2');
            $('#btnSearch').removeClass('btn-warning2');
            $('#badgeDashboard').removeClass('label-warning');
            $('#badgeDashboard').removeClass('label-success');
            $('#badgeDashboard').removeClass('label-info');
            document.getElementById("badgeDashboard").style.color = null;
            document.getElementById("badgeDashboard").style.background = null;
            $('#archiveColorChange').removeClass('text-warning');
            $('#archiveColorChange').removeClass('text-success');
            document.getElementById("archiveColorChange").style.color = null;
            $('#archiveColorChange').removeClass('text-info');
            $('#txtIdNumber').removeClass('text-warning');
            $('#txtIdNumber').removeClass('text-success');
            $('#txtIdNumber').removeClass('text-info');
            document.getElementById("txtIdNumber").style.color = null;
            $('#txtNameInventory').removeClass('text-warning');
            $('#txtNameInventory').removeClass('text-success');
            $('#txtNameInventory').removeClass('text-info');
            document.getElementById("txtNameInventory").style.color = null;
            $('#txtDescripInvetory').removeClass('text-warning');
            $('#txtDescripInvetory').removeClass('text-success');
            $('#txtDescripInvetory').removeClass('text-info');
            document.getElementById("txtDescripInvetory").style.color = null;
            $('#txtDateStart').removeClass('text-warning');
            $('#txtDateStart').removeClass('text-success');
            $('#txtDateStart').removeClass('text-info');
            document.getElementById("txtDateStart").style.color = null;
            $('#txtDateEnd').removeClass('text-warning');
            $('#txtDateEnd').removeClass('text-success');
            $('#txtDateEnd').removeClass('text-info');
            document.getElementById("txtDateEnd").style.color = null;

            if (color == 0) {
                $('#panelColorChange').addClass('hblue');
                $('#panelPalletsColor').addClass('hbgblue');
                $('#btnSearch').addClass('btn-info');
                $('#badgeDashboard').addClass('label-info');
                $('#archiveColorChange').addClass('text-info');
                $('#txtDateEnd').addClass('text-info');
                $('#txtDateStart').addClass('text-info');
                $('#txtIdNumber').addClass('text-info');
                $('#txtNameInventory').addClass('text-info');
                $('#txtDescripInvetory').addClass('text-info');
                document.getElementById("badgeDashboard").innerHTML = "INICIADO";
            }
            if (color == 1) {
                $('#panelColorChange').addClass('hgreen');
                $('#panelPalletsColor').addClass("hbggreen");
                $('#btnSearch').addClass('btn-success');
                $('#badgeDashboard').addClass('label-success');
                $('#archiveColorChange').addClass('text-success');
                $('#txtDateEnd').addClass('text-success');
                $('#txtDateStart').addClass('text-success');
                $('#txtIdNumber').addClass('text-success');
                $('#txtNameInventory').addClass('text-success');
                $('#txtDescripInvetory').addClass('text-success');
                document.getElementById("badgeDashboard").innerHTML = "ACTIVADO";
            }
            if (color == 2) {
                $('#panelColorChange').addClass('horange');
                $('#panelPalletsColor').addClass("hbgorange");
                $('#btnSearch').addClass('btn-warning2');
                document.getElementById("badgeDashboard").style.color = 'white';
                document.getElementById("badgeDashboard").style.background = '#E67E22';
                document.getElementById("archiveColorChange").style.color = '#E67E22';
                document.getElementById("txtDateEnd").style.color = '#E67E22';
                document.getElementById("txtNameInventory").style.color = '#E67E22';
                document.getElementById("txtDescripInvetory").style.color = '#E67E22';
                document.getElementById("txtIdNumber").style.color = '#E67E22';
                document.getElementById("txtDateStart").style.color = '#E67E22';
                document.getElementById("badgeDashboard").innerHTML = "CERRADO";
            }
            if (color == 3) {
                $('#panelColorChange').addClass('hyellow');
                $('#panelPalletsColor').addClass("hbgyellow");
                $('#btnSearch').addClass('btn-warning');
                $('#badgeDashboard').addClass('label-warning');
                $('#archiveColorChange').addClass('text-warning');
                $('#txtDateEnd').addClass('text-warning');
                $('#txtDateStart').addClass('text-warning');
                $('#txtIdNumber').addClass('text-warning');
                $('#txtNameInventory').addClass('text-warning');
                $('#txtDescripInvetory').addClass('text-warning');
                document.getElementById("badgeDashboard").innerHTML = "AJUSTE";
            }
            if (color == 9) {
                $('#panelColorChange').addClass('hviolet');
                $('#panelPalletsColor').addClass("hbgviolet");
                $('#btnSearch').addClass('btn-primary2');
                document.getElementById("badgeDashboard").style.color = 'white';
                document.getElementById("badgeDashboard").style.background = '#9B59B6';
                document.getElementById("archiveColorChange").style.color = '#9B59B6';
                document.getElementById("txtDateEnd").style.color = '#9B59B6';
                document.getElementById("txtNameInventory").style.color = '#9B59B6';
                document.getElementById("txtDescripInvetory").style.color = '#9B59B6';
                document.getElementById("txtIdNumber").style.color = '#9B59B6';
                document.getElementById("txtDateStart").style.color = '#9B59B6';
                document.getElementById("badgeDashboard").innerHTML = "FINALIZADO";
            }
        }

    </script>
}