﻿@model FloridoERPTX.ViewModels.Warehouse.INVE004Model
@{
    ViewBag.Title = "INVE004";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

@section Styles { @Styles.Render("~/bundles/bootstrap-touchspin/css") }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">

                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="INVE000">Inventarios</a>
                    </li>
                    <li class="active">
                        <span>Creación de Inventarios</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Cierre de conteo
            </h2>
            <small>Se podrá cerrar el conteo del inventario que está activo</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div id="PanelColor" class="hpanel hblue">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1" onclick="ChangeColor(1);">Cierre de conteo</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body divInventoryActive">
                            <div class="row" hidden>
                                <div class="form-group col-lg-4">
                                    <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                                    <div class="input-daterange input-group" id="datepicker">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                            @Html.TextBox("ValidDate1", null, new { @class = "form-control" })
                                        </div>
                                        <span class="input-group-addon">A</span>
                                        <div class="input-group date">
                                            @Html.TextBox("ValidDate2", null, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                                <div class="row table-responsive">
                                    <table id="TableInventory" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th># Folio</th>
                                                <th>Nombre Inventario</th>
                                                <th>Tipo Inventario</th>
                                                <th>Fecha de Inicio</th>
                                                <th>Fecha de Terminación</th>
                                                <th>Estado</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body divInventoryNoActive" style="text-align: center;" hidden>
                            <h2 class="titleNoActive" hidden>No existe inventario activo</h2>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "form", id = "form" }))
                        {
                            <div class="panel-body divInventoryActive">
                                @*<div class="row">
                                        <div class="form-group col-lg-3">
                                            <label title="Numero de inventario" data-toggle="tooltip" data-placement="right">Inventario</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-archive"></span>
                                                </span>
                                                <input id="Inventory" name="Inventory" type="text" readonly="readonly" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label title="Numero de inventario" data-toggle="tooltip" data-placement="right">Producto</label>
                                            @Html.DropDownListFor(m => m.Items, Model.ItemsList, new { @class = "form-control", @id = "PartNum", @onchange = "return GetQuantityDetail(event);" })
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label title="Cantidad Contada en el inventario" data-toggle="tooltip" data-placement="right">Cantidad Actual</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-cube"></span>
                                                </span>
                                                <input id="previous_quantity" name="previous_quantity" type="text" readonly="readonly" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label title="Cantidad Contada en el inventario" data-toggle="tooltip" data-placement="right">Cantidad Reconteo</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-cubes"></span>
                                                </span>
                                                <input id="new_quantity" name="new_quantity" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-9">
                                            <label title="Justificar el por que se desea modificar conteo" data-toggle="tooltip" data-placement="right">Justificación</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-align-justify"></span>
                                                </span>
                                                <input id="Justi" name="Justi" type="text" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label>Adjuntar Evidencia</label>
                                            <br />
                                            <label title="Adjuntar algun tipo de evidencia (Documento o Archivo)" data-toggle="tooltip" data-placement="right">
                                                <input id="UpdateFile" type="file" style="display: none;" onchange="UpdateImg();" accept="image/*">
                                                <i class="fa fa-clipboard btn btn-default btn-xl"></i>
                                            </label>
                                        </div>
                                    </div>*@
                                @*<div class="row">
                                        <div class="form-group col-lg-12">
                                            <div class="text-right">
                                                <button type="button" class="btn btn-default" onclick="Clear();"><i class="fa fa-close"></i> Cancelar</button>
                                                <button type="button" class="btn btn-success" onclick="AddAjus();"><i class="fa fa-save"></i> Registrar</button>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="col-lg-12 table-responsive" style="margin-top:22px;">
                                    <table id="inventoryUpdateTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>#</th>
                                                <th>Codigo</th>
                                                <th>Descripcion</th>
                                                <th>Cantidad</th>
                                                <th>Nueva cantidad</th>
                                                <th>Justificacion</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-success" onclick="AddAjus();"><i class="fa fa-save"></i> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="panel-body divInventoryNoActive" style="text-align: center;" hidden>
                            <h2 class="titleNoActive" hidden>No existe inventario activo</h2>
                        </div>

                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="col-lg-4">
                                <label>Status</label>
                                <select class="form-control" id="statusSelect">
                                    <option value="-1">Seleccione una opcion</option>
                                    <option value="0">Activo</option>
                                    <option value="9">Aprovado</option>
                                    <option value="8">Cancelado</option>
                                </select>
                            </div>
                            <div class="col-lg-12 table-responsive" data-effect="zoomIn" style="margin-top:22px;">
                                <table id="inventoryHistoryTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#Folio</th>
                                            <th>Nombre de inventario</th>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                            @*<th>Codigos de escaneo</th>*@
                                            <th>Cantidad previa</th>
                                            <th>Nueva cantidad</th>
                                            <th>Justificacion</th>
                                            <th>Estatus</th>
                                            <th>Usuario creacion</th>
                                            <th>Usuario terminacion</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap-touchspin/js")
    <script>
        var statusInve = null;
        var inventoryAdjustmentList = [];
        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);
            var InventoriModel = @Html.Raw(serializer.Serialize(Model))
                inventoryAdjustmentList = InventoriModel.InventoryAdjustment;
            var Inventories = @Html.Raw(serializer.Serialize(Model.InventoryList));
            table.clear();
            table.rows.add($(Inventories));
            table.columns.adjust().draw();
            TableUpdateReload(inventoryAdjustmentList)
            $("#statusSelect").select2();
            if (Inventories.length == 0) {
                $(".divInventoryActive").hide();
                $(".divInventoryNoActive").show();
                $(".titleNoActive").show();
            }
            else {
                $("#Inventory").val(Inventories[0].id_inventory_header);
                statusInve = Inventories[0].inventory_status;
            }
        });

        $("#PartNum").select2({
            //minimumInputLength: 2,
            //formatInputTooShort: function () {
            //    return "Busca un producto";
            //},
            matcher: function (term, text, option) {
                return text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0;
            }
        });

        $("#new_quantity").TouchSpin({
            verticalbuttons: true,
            mousewheel: false,
            decimals: 4,
            step: 0.01,
            boostat: 5,
            max: 100000,
            maxboostedstep: 10,
        });

        $("#ValidDate1").datepicker({
            autoclose: true,
            todayHighlight: true,
            showButtonPanel: true,
        }).on("changeDate", function (e) {
            //SerchESS();
        });

        $("#ValidDate2").datepicker({
            autoclose: true,
            startDate: '01/01/1950',
            todayHighlight: true,
        }).on("changeDate", function (e) {
            //SerchESS();
        });

        function TableUpdateReload(list) {
            tableUpdate.clear();
            tableUpdate.rows.add(list);
            tableUpdate.columns.adjust().draw();
        }

        const isDecimal = decimal => number => {
            const IsDecimal = RegExp(`^\\d+\\.?\\d{0,${decimal}}$`);
            return IsDecimal.test(number);
        }

        function ValidateInventoriJustification(id) {
            var Quantity = parseFloat($("#inputQuantity" + id).val())
            var justification = $("#inputJustification" + id).val();
            if (isDecimal(0)(Quantity) && Quantity > 0 && justification.trim() != "") {
                inventoryAdjustmentList.find(x => x.part_number == id).new_quantity = Quantity;
                inventoryAdjustmentList.find(x => x.part_number == id).justification = justification;
                $("#check" + id).html(`<div checked><label><div class="icheckbox_square-green checked disabled" style="position: relative;">
                <input type="checkbox" disabled="" style="position: absolute; opacity: 0;">
                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                </ins></div></label></div>`);
            }
            else {
                inventoryAdjustmentList.find(x => x.part_number == id).new_quantity = 0;
                inventoryAdjustmentList.find(x => x.part_number == id).justification = "";
                $("#check" + id).html(`<div checked><label><div class="icheckbox_square-green  disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></label></div>`);
            }
        }

        var tableUpdate = $('#inventoryUpdateTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                { data: null },
                { data: 'id_inventory_header' },
                { data: 'part_number' },
                { data: 'part_description' },
                { data: 'previous_quantity' },
                { data: 'new_quantity' },
                { data: 'justification' },
                { data: null }
            ],
            columnDefs: [{
            },
            {
                targets: [0],
                render: function (data, type, full, meta) {
                    return `<div id="check${full.part_number}"><div checked><label><div class="icheckbox_square-green  disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></label></div></div>`
                    //if (full.new_quantity > 0 && full.justification.trim() != null && full.justification.trim() != "") {
                    //    return '<div checked><label><div class="icheckbox_square-green checked disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></label></div>'
                    //}
                    //else {
                    //    return '<div checked><label><div class="icheckbox_square-green  disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></label></div>'
                    //}
                }
            },
            {
                targets: [5],
                render: function (data, type, full, meta) {
                    return `<input type="number" min="0" title="Limite de 999999999" max="999999999" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" id="inputQuantity${full.part_number}" onkeyup="ValidateInventoriJustification('${full.part_number}')" class="form-control" value="${full.new_quantity}">`
                }
            },
            {
                targets: [6],
                render: function (data, type, full, meta) {
                    return `<input type="text"  maxlength="50" title="Favor de limitar el texto a 50 caracteres" id="inputJustification${full.part_number}" onkeyup="ValidateInventoriJustification('${full.part_number}')" class="form-control" value="${full.justification == null || full.justification.trim() == "" ? "" : full.justification}">`
                }
            },
            {
                targets: [7],
                render: function (data, type, full, meta) {
                    return `<label title="Adjuntar algun tipo de evidencia (Documento o Archivo)" data-toggle="tooltip" data-placement="top">
                            <input id="UpdateFile${full.part_number}" type="file" style="display: none;" accept="image/*">
                            <i class="fa fa-clipboard btn btn-default btn-xl"></i></label>`
                }
            }
            ]
        });

        var table = $('#TableInventory').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                { data: 'id_inventory_header' },
                { data: 'inventory_name' },
                { data: 'inventory_type_name' },
                { data: 'inventory_date_start' },
                { data: 'inventory_date_end' },
                { data: 'inventory_status' },
                { data: null }
            ],
            columnDefs: [{
            },
            {
                targets: [3],
                render: function (data, type, row) {
                    var date = moment(data).format('DD/MM/YYYY');
                    if (date != 'Invalid date')
                        return date;
                    else
                        return "";
                }
            },
            {
                targets: [4],
                render: function (data, type, row) {
                    var date = moment(data).format('DD/MM/YYYY');
                    if (date != 'Invalid date')
                        return date;
                    else
                        return "Aun no finalizado.";
                }
            },
            {
                targets: [5],
                render: function (data, type, row) {
                    if (data == 1)
                        return '<div style="color:Green; text-align:center;"><strong>Activo</strong></div>';
                    else if (data == 2)
                        return '<div style="color:Red; text-align:center;"><strong>Cerrado</strong></div>';
                    else if (data == 3)
                        return '<div style="color:Orange; text-align:center;"><strong>Ajuste</strong></div>';
                }
            },
            {
                targets: [6],
                render: function (data, type, full, meta) {
                    if (data.inventory_status == 1)
                        return `<button class="btn btn-xs btn-outline btn-danger" onclick="cerrar('${data.id_inventory_header}')"><i class="fa fa-close"></i> Cerrar</button>`;
                    else if (data.inventory_status == 2 || data.inventory_status == 3) {
                        var endDate = moment(data.inventory_date_end).format('DD/MM/YYYY');
                        return `<button class="btn btn-xs btn-outline btn-danger" onclick="Finish('${data.id_inventory_header}')"><i class="fa fa-close"></i> Terminar</button>    <button class="btn btn-xs btn-outline btn-info" onclick="print('${data.id_inventory_header}','` + endDate + `')"><i class="fa fa-eye"></i> Mostrar</button>`;
                    }
                }
            }]
        });

        function cerrar(id_inventory_header) {
            swal({
                title: "¿Esta seguro que desea cerrar el conteo?",
                text: "El no. de inventario :  " + id_inventory_header + " será cerrado",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Continuar",
                cancelButtonText: "Cancelar"
            }, function (isConfirm) {
                if (isConfirm)
                    approvalCancel(id_inventory_header);
            });
        }

        function approvalCancel(id_inventory_header) {
            StartLoading();
            $.ajax({
                url: "/InventoryReport/ActionSendMail",
                data: { "id": id_inventory_header },
                type: "POST",
                success: function (data) {
                    EndLoading();
                    if (data == "SF") {
                        SessionFalse("Terminó tu sesión");
                    } else if (!data) {
                        toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.")
                    } else {
                        updateTable();
                        swal({
                            title: "Cierre de Conteo Correcto",
                            text: "El no. de inventario :  " + id_inventory_header + " ha sido cerrado el conteo",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonColor: "#55dd6b",
                            confirmButtonText: "Ver PDF",
                            cancelButtonText: "Cancelar"
                        }, function (isConfirm) {
                            if (isConfirm)
                                printModel(data.responseText);
                        });
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.")
                }
            });
        }

        function printModel(pdf) {
            $("#modalReferenceBody").html("<iframe width='100%' height='550px' src='data:application/pdf;base64, " + encodeURI(pdf) + "'></iframe>")
            $("#modalReference").modal('show');
        }

        // Generar Reporte
        function print(id, endDate) {
            StartLoading();
            $.ajax({
                url: "/InventoryReport/ActionGetInventoryReportDetail",
                type: "POST",
                data: { "id": id, "endDate": endDate },
                success: function (response) {
                    EndLoading();
                    if (response.responseText == "Terminó tu sesión.") {
                        SessionFalse(response.responseText);
                    } else if (response.success) {
                        $("#modalReferenceBody").html("<iframe width='100%' height='550px' src='data:application/pdf;base64, " + encodeURI(response.responseText) + "'></iframe>")
                        $("#modalReference").modal('show');
                    }
                    else {
                        toastr.error(response.responseText);
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error('Error inesperado contactar a sistemas.');
                }
            });
        }

        function updateTable() {
            $.ajax({
                url: "/InventoryReport/ActionGetInventoryActive",
                data: {},
                type: "POST",
                success: function (data) {
                    EndLoading();
                    if (data == "SF") {
                        SessionFalse("Terminó tu sesión");
                    } else {
                        table.clear();
                        table.rows.add(data);
                        table.columns.adjust().draw();
                        statusInve = data[0].inventory_status;
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.")
                }
            });
        }

        function Clear() {
            validator.resetForm();
            $("#PartNum").val("").trigger("change");
            $("#previous_quantity").val(null);
            $("#new_quantity").val(null);
            $("#Justi").val(null);
            $("#UpdateFile").val(null);
        }

        var validator = $("#form").validate({
            ignore: [],
            rules: {
                Inventory: {
                    required: true
                },
                Items: {
                    required: true
                },
                previous_quantity: {
                    required: true
                },
                new_quantity: {
                    required: true
                },
                Justi: {
                    required: true
                }
            },
            messages: {
                Inventory: {
                    required: "El Campo no puede ser nulo"
                },
                Items: {
                    required: "El Campo no puede ser nulo"
                },
                previous_quantity: {
                    required: "El Campo no puede ser nulo"
                },
                new_quantity: {
                    required: "El Campo no puede ser nulo"
                },
                Justi: {
                    required: "El Campo no puede ser nulo"
                }
            }
        });

        function GetQuantityDetail() {
            if ($('#PartNum').val() != 0 & $('#Inventory').val() != null) {
                $.ajax({
                    type: "GET",
                    url: "/InventoryAdjustment/ActionGetInventoryItemQuantity",
                    data: { "id_inventory_header": $('#Inventory').val(), "part_number": $('#PartNum').val() },
                    success: function (data) {
                        if (data.success) {
                            if (data == "Termino tu sesión.") {
                                SessionFalse("Terminó tu sesión");
                            } else {
                                $("#previous_quantity").val(data.quantity);
                            }
                        }
                        else {
                            toastr.warning('' + data.responseText + '');
                        }
                    },
                    error: function () {
                        toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.")
                    }
                });
            }
        }

        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
        });

        var position = 0;
        var problem = 0;

        function AddAjus() {
            problem = 0;
            position = 0;
            if (inventoryAdjustmentList.filter(x => x.new_quantity > 0 && x.justification.trim() != "").length == 0) {
                toastr.warning("No hay ningun producto seleccionado del inventario")
            }
            else if (statusInve == 2 || statusInve == 3) {
                //if (validator.element("#Inventory") && validator.element("#PartNum") && validator.element("#previous_quantity") && validator.element("#new_quantity")&& validator.element("#Justi"))
                //{
                swal({
                    title: "Enviar Solicitud?",
                    text: "Deseas modificar el inventario",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#55dd6b",
                    confirmButtonText: "Aceptar",
                    cancelButtonText: "Cancelar"
                }, function (isConfirm) {
                    if (isConfirm) {
                        var photo = false;
                        inventoryAdjustmentList.filter(x => x.new_quantity > 0 && x.justification.trim() != "").forEach(function (inventory, index) {
                            async function Nose(inventory, index) {
                                var fileInput = document.getElementById("UpdateFile" + inventory.part_number);
                                if (inventory.justification.length < 4) {
                                    toastr.warning("Favor de poner por lo menos 4 caracteres")
                                    problem = 3
                                }
                                if (fileInput.value != "") {
                                    var idxDot = fileInput.files[0].name.lastIndexOf(".") + 1;
                                    var extFile = fileInput.files[0].name.substr(idxDot, fileInput.files[0].name.length).toLowerCase();//Obtenemos extension de archivo
                                    if (extFile == "pdf" || extFile == "doc" || extFile == "xlsx" || extFile == "jpg") {
                                        var selectedFile = ($(fileInput))[0].files[0];
                                        if (selectedFile) {
                                            if (selectedFile.size < 5242880)// Menor a 5MB
                                            {
                                                photo = true;
                                                inventory.evidence_document_ext = selectedFile.name;
                                                await toBase64(fileInput.files[0], inventory).then(data => {
                                                    position++;
                                                    inventory.evidence_document_base64 = data;
                                                    if (problem == 0 && position == inventoryAdjustmentList.filter(x => x.evidence_document_ext != "" && x.evidence_document_ext != null && x.evidence_document_ext != undefined).length) {
                                                        PostAddAdjustement()
                                                    }

                                                });
                                                return true;
                                            }
                                            else {
                                                toastr.warning('La imagen debe ser menor a 5MB');
                                                problem = 1;
                                                return false;
                                            }
                                        }
                                    } else {

                                        fileInput.value = ""
                                        toastr.warning("Solo se admiten archivos pdf/doc/xlsx/jpg. Intentar con otro archivo");
                                        problem = 2;
                                        return false;
                                    }
                                }
                            }
                            Nose(inventory, index)

                            if (problem != 0) {
                                if (problem == 2) {
                                    toastr.warning("Solo se admiten archivos pdf/doc/xlsx/jpg. Intentar con otro archivo");
                                }
                                if (problem == 1) {
                                    toastr.warning('La imagen debe ser menor a 5MB');
                                }
                                return true;
                            }

                        })
                        if (problem == 0 && !photo) {
                            PostAddAdjustement()
                        }
                        //var fileInput = document.getElementById("UpdateFile");
                        //if ('files' in fileInput) {
                        //    if (fileInput.files.length == 0) {
                        //        var formdata = new FormData();
                        //        formdata.append("statusFile",0);
                        //        formdata.append("id_inventory_header",$('#Inventory').val());
                        //        formdata.append("part_number", $('#PartNum').val());
                        //        formdata.append("previous_quantity",$('#previous_quantity').val());
                        //        formdata.append("new_quantity", $('#new_quantity').val());
                        //        formdata.append("justification", $('#Justi').val());
                        //        PostAddAdj(formdata);
                        //    }
                        //    else
                        //    {
                        //        var idxDot = fileInput.files[0].name.lastIndexOf(".") + 1;
                        //        var extFile = fileInput.files[0].name.substr(idxDot, fileInput.files[0].name.length).toLowerCase();//Obtenemos extension de archivo
                        //        if (extFile == "pdf" || extFile == "doc" || extFile == "xlsx"|| extFile == "jpg") {
                        //            var selectedFile = ($(fileInput))[0].files[0];
                        //            if (selectedFile) {
                        //                var FileSize = 0;
                        //                if (selectedFile.size > 1048576) {
                        //                    FileSize = Math.round(selectedFile.size * 100 / 1048576) / 100 + " MB";
                        //                }
                        //                else if (selectedFile.size > 1024) {
                        //                    FileSize = Math.round(selectedFile.size * 100 / 1024) / 100 + " KB";
                        //                }
                        //                else {
                        //                    FileSize = selectedFile.size + " Bytes";
                        //                }
                        //                if (selectedFile.size < 5242880)// Menor a 5MB
                        //                {
                        //                    var formdata = new FormData();
                        //                    formdata.append(fileInput.files[0].name, fileInput.files[0]);
                        //                    formdata.append("statusFile",1);
                        //                    formdata.append("id_inventory_header",$('#Inventory').val());
                        //                    formdata.append("part_number", $('#PartNum').val());
                        //                    formdata.append("previous_quantity",$('#previous_quantity').val());
                        //                    formdata.append("new_quantity", $('#new_quantity').val());
                        //                    formdata.append("justification", $('#Justi').val());
                        //                    formdata.append("evidence_document_ext", selectedFile.name);
                        //                    PostAddAdj(formdata);
                        //                }
                        //                else {
                        //                    toastr.warning('La imagen debe ser menor a 5MB');
                        //                }
                        //            }
                        //        } else {
                        //            toastr.warning("Solo se admiten archivos pdf/doc/xlsx/jpg. Intentar con otro archivo");
                        //        }
                        //    }
                    }
                });
                //}
            }
            else
                toastr.warning("El inventario actual no se encuentra cerrado por el momento");
        }

        function PostAddAdjustement() {
            StartLoading();
            axios.post("/InventoryAdjustment/ActionInsetAdjustmentList/", { AdjustmentList: inventoryAdjustmentList.filter(x => x.new_quantity > 0 && x.justification.trim() != "") })
                .then(data => {
                    EndLoading();
                    if (data.data == "SF") {
                        SessionFalse("Termino tu sesión.");
                    }
                    else if (data.data.success) {
                        toastr.success('' + data.data.responseText + '');
                        if (data.data.list != null || data.data.list != undefined) {
                            TableUpdateReload(data.data.list)
                            inventoryAdjustmentList = data.data.list;
                        }
                        Clear();
                    }
                    else if (!data.data.success) {
                        toastr.warning('' + data.data.responseText + '');
                    }
                    else {
                        toastr.warning("Error desconosido contacte a sistemas")
                    }
                })
                .catch(error => { toastr.error('Error Inesperado'); }).then(() => { EndLoading(); })
        }

        function PostAddAdj(s) {
            StartLoading();
            $.ajax({
                type: "POST",
                url: "/InventoryAdjustment/ActionInsetAdjustment",
                data: s,
                cache: false,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (returndate) {
                    EndLoading();
                    if (returndate.success) {
                        toastr.success('' + returndate.responseText + '');
                        Clear();
                    }
                    else {
                        if (returndate.responseText == "Termino tu sesión.") {
                            SessionFalse(returndate.responseText);
                        }
                        else {
                            toastr.warning('' + returndate.responseText + '');
                        }
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error('Error Inesperado');
                }
            });
        }

        function ChangeColor(s) {
            if (s == 2)
                $("#PanelColor").removeClass("hblue").addClass("hgreen");
            else
                $("#PanelColor").removeClass("hgreen").addClass("hblue");
        }

        function Finish(id) {
            swal({
                title: "¿Esta seguro que desea terminar el inventario?",
                text: "El no. de inventario :  " + id + " será terminado",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Continuar",
                cancelButtonText: "Cancelar"
            }, function (isConfirm) {
                if (isConfirm)
                    finishInventory(id);
            });
        }

        function finishInventory(s) {
            StartLoading();
            $.ajax({
                url: "/InventoryAdjustment/ActionFinishInventory",
                data: { "InventoryNo": s },
                type: "POST",
                success: function (returndate) {
                    EndLoading();
                    if (returndate.success) {
                        toastr.success('' + returndate.responseText + '');
                        window.location.href = "@(Url.Action("INVE004", "Warehouse"))";
                    }
                    else {
                        if (returndate.responseText == "Termino tu sesión.") {
                            SessionFalse(returndate.responseText);
                        }
                        else {
                            toastr.warning('' + returndate.responseText + '');
                        }
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error('Error Inesperado');
                }
            });
        }

        //nuevo codigo agregado
        function InventoryPost(value) {
            StartLoading();
            axios.post("/InventoryAdjustment/ActionHistoryInventory", { status: value })
                .then(data => {
                    if (data.data == "SF")
                        SessionFalse("Terminó tu sesión");
                    else
                        FillInventoryTable(data.data)
                })
                .catch(error => { toastr.error("Contacte a sistemas"); console.log(error.data); })
                .then(() => { EndLoading() })
        }

        $("#statusSelect").change(function () {
            InventoryPost($("#statusSelect").val());
        });

        function FillInventoryTable(value) {
            TableInventoryHistory.clear();
            TableInventoryHistory.rows.add(value);
            TableInventoryHistory.columns.adjust().draw();
        }

        function OptionsStatus(value) {
            var text = "";
            switch (value) {
                case 0:
                    text = "Activo";
                    break;
                case 9:
                    text = "Terminado";
                    break;
                case 8:
                    text = "Cancelado";
                    break;
                default:
                    text = "Indefinido";
                    break;
            }
            return text;
        }

        var TableInventoryHistory = $('#inventoryHistoryTable').DataTable({
            autoWidth: false,
            responsive: true,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            columnDefs: [
                {
                    targets: [7],
                    render: function (data, type, full, meta) {
                        return `${OptionsStatus(data)}`
                    },
                    width: "1%"
                },
            ],
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
            ],
            columns:
                [
                    { data: 'InventoryHeaderId', width: "1%" },
                    { data: 'InventoryName', width: "1%" },
                    { data: 'PartNumber', width: "1%" },
                    { data: 'ProductDescription', width: "1%" },
                    { data: 'PreviousQuantity', width: "1%" },
                    { data: 'NewQuantity', width: "1%" },
                    { data: 'Justification', width: "1%" },
                    { data: 'AdjustmentStatus', width: "1%" },
                    { data: 'Cuser', width: "1%" },
                    { data: 'Uuser', width: "1%" },
                ],
        });
    </script>
}