﻿@model FloridoERPTX.ViewModels.Warehouse.INVE016Model

@{ ViewBag.Title = "INVE016";

    List<SelectListItem> InventoryClass = new List<SelectListItem>();
    List<SelectListItem> InventoryType = new List<SelectListItem>();

    foreach (var item in Model.InventoryClass)
    {
        InventoryClass.Add(new SelectListItem { Text = item.description , Value = item.vkey });
    }

    foreach (var item in Model.InventoryType)
    {
        if(item.id_inventory_type != 7){
            InventoryType.Add(new SelectListItem { Text = item.inventory_name, Value = item.id_inventory_type.ToString() });
        }
    }

}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="WSM003">Almacen</a></li>
                    <li>
                        <a href="INVE000">Inventarios</a>
                    </li>
                    <li class="active">
                        <span>Locaciones De Inventarios</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
               Locaciones De Inventario
            </h2>
            <small>Agregar o modificar Locaciones Para Inventario Fisico</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-2">
                            <label title="Ubicación del planograma" data-toggle="tooltip" data-placement="top">Locacion</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-file-text-o"></span>
                                </span>
                                <input type="text" id="location" class="form-control" onchange="binsChange();" maxlength="6" onkeyup="this.value = this.value.toUpperCase();" />
                            </div>
                        </div>
                        <div class="form-group col-lg-1">
                            <label title="Nivel de la Locación" data-toggle="tooltip" data-placement="top">Nivel</label>
                            <input type="text" id="bin1" readonly="readonly" class="form-control" />
                        </div>
                        <div class="form-group col-lg-1">
                            <label title="Pasillo de la Locación" data-toggle="tooltip" data-placement="top">Pasillo</label>
                            <input type="text" id="bin2" readonly ="readonly" class="form-control"/>
                        </div>
                        <div class="form-group col-lg-1">
                            <label title="Bahia de la Locación" data-toggle="tooltip" data-placement="top">Rack</label>
                            <input type="text" id="bin3" readonly="readonly" class="form-control" />
                        </div>                     
                        <div id="divInventario" class="form-group col-lg-2">
                            <label class="center" data-toggle="tooltip" data-placement="right" id="inventario">Tipo de inventario</label>
                            @Html.DropDownList("selectType", InventoryType, new { @class = "form-control drop" , @multiple = "multiple" , @placeholder = "Seleccione un tipo" })
                        </div>
                        <div id="divInventarioClass" class="form-group col-lg-2">
                            <label class="center" data-toggle="tooltip" data-placement="right" id="inventario">Clasificacion</label>
                            @Html.DropDownList("selectClass", InventoryClass, new { @class = "form-control drop" })
                        </div>
                        <div class="form-group col-lg-1">
                            <label>Activo</label>
                            <div class="form-group">
                                <label> <input type="checkbox" id="inventory_status" class="i-checks" checked="checked"></label>
                            </div>
                        </div>
                        <div class="col-lg-1" id="divAdd">
                            <button class="btn btn-success" style="margin-top:15px;" onclick="AddLocation()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div id="divUpdate" hidden>
                            <div class="col-lg-1">
                                <button class="btn btn-primary" style="margin-top:15px;" onclick="UpdateLocationSave()">
                                    <i class="fa fa-save"></i>
                                </button>
                            </div>
                            <div class="col-lg-1">
                                <button class="btn btn-danger" style="margin-top:15px;" onclick="CancelUpdate()">
                                    <i class="fa fa-undo"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="divTable" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TableProducts" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Locacion</th>
                                        <th>Nivel</th>
                                        <th>Pasillo</th>
                                        <th>Rack</th>
                                        <th>Clasificacion</th>
                                        <th>Tipo</th>
                                        <th>Activo</th>
                                        <th>Modificar</th>
                                        <th>lista</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var listItems = [];
        $("#selectClass").select2();
        $("#selectType").select2();
        var id_location = 0;



        const formatmoney = money => decimal => new Intl.NumberFormat("en-US", { style: "currency", currency: "USD", currencyDisplay: "symbol", maximumFractionDigits: decimal }).format(money);


        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);
            var location = @Html.Raw(Json.Encode(Model.InventoryLocations));
            console.log(location);
            fillTable(location);
        });
        var table = $('#TableProducts').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
                {
                    extend: 'csv', text: 'Excel', title: 'Inventario Ubicaciones', className: 'btn-sm',
                },
                {
                    extend: 'pdf', text: 'PDF', title: 'Inventario Ubicaciones', className: 'btn-sm',
                    customize: function (doc) {
                        doc.content[1].table.widths =
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    }
                },
                {
                    extend: 'print', text: 'Imprimir', className: 'btn-sm',
                }
            ],
            columns:
                [
                    { data: 'id_location' },
                    { data: 'storage_location' },
                    { data: 'bin1' },
                    { data: 'bin2' },
                    { data: 'bin3' },
                    { data: 'inventory_class' },
                    { data: 'inventory_location_type' },
                    { data: 'inventory_status' },
                    { data: 'inventory_type_id' },
                    { data: null }
                ],
            columnDefs:
                [
                    {
                        targets: [0,9],
                        visible : false
                    },
                    {
                        targets: [0, 1, 2, 3, 4, 5, 6,7,8],
                        width: "1%"
                    }, {
                        data: null,
                        width: "1%",
                        render: function (data, type, full, meta) {
                            if(data){
                                return "Activa"
                            }else{
                                return "Desactivada"
                            }
                        },
                        targets: [7]
                    },{

                        targets: [6],
                        width: "1%",
                        render: function (data, type, full, meta) {
                            var html = "<ul>";
                            data.forEach(e => html += "<li>" + e.inventory_name +"</li>");
                            html += "</ul>";
                            return html;
                        }
                    },
                    {

                        targets: [9],
                        width: "1%",
                        render: function (data, type, full, meta) {
                            var html = "<ul>";
                            data.inventory_location_type.forEach(e => html += "<li>" + e.inventory_type_id +"</li>");
                            html += "</ul>";
                            return html;
                        }
                    },
                    {
                        targets: [8],
                        render: function (data, type, full, meta) {
                            var list = [];
                            full.inventory_location_type.forEach(e =>  list.push(e.inventory_type_id));
                            return `<button class="btn btn-xs btn-primary" onclick="UpdateLocation('${list}' , '${full.storage_location}' , '${full.inventory_class}' , ${full.inventory_status} , ${full.id_location} )"><i class="fa fa-pencil"></i> Modificar</button>`
                        },
                        width: "1%"
                    }
                ]
        });

        function binsChange() {
            var locationString = $("#location").val().toUpperCase();
            if (locationString.length == 6) {
                $("#bin1").val(locationString.slice(0, 2));
                $("#bin2").val(locationString.slice(2, 4));
                $("#bin3").val(locationString.slice(4, 6));
            }
        }

        //Agregar locacion
        function AddLocation() {
            if($("#location").val() == ""){toastr.error("Introduzca una locacion valida") ; return;}
            if($("#location").val().length < 6){toastr.error("Locacion debe ser 6 caracteres") ; return;}
            if($("#selectType").val() == null){toastr.error("Seleccione al menos un tipo de inventario"); return;}
            var model = {
                "storage_location": $("#location").val(), "bin1": $("#bin1").val(), "bin2": $("#bin2").val(), "bin3": $("#bin3").val(),
                "inventory_class": $("#selectClass").val(), "id_inventory_type": $("#selectType").val(), "inventory_status": document.getElementById("inventory_status").checked
            };
            StartLoading();
            $.ajax({
                url: "/InventoryLocation/ActionAddLocationInventory",
                type: "POST",
                data: { "model": model },
                success: function (response) {
                    console.log(response)
                    if (response.success) {
                        fillTable(response.data);
                        ClearForm();
                        toastr.success("Agregado correctamente");
                    }else{
                        ClearTable();
                        fillTable(response.data);
                        toastr.error("Ha ocurrido un error al registrar locacion");
                    }
                    EndLoading();

                },
                error: function () {
                    toastr.error('Error inesperado contactar a sistemas.');
                    EndLoading();
                }
            });
        }

        //Guarda la modificacion

        function UpdateLocationSave() {
            if($("#location").val() == ""){toastr.error("Introduzca una locacion valida") ; return;}
            if($("#location").val().length < 6){toastr.error("Locacion debe ser 6 caracteres") ; return;}
            if($("#selectType").val().length == 0){toastr.error("Seleccione al menos un tipo de inventario") ; return;}
            var model = {
                "storage_location": $("#location").val(), "bin1": $("#bin1").val(), "bin2": $("#bin2").val(), "bin3": $("#bin3").val(),
                "inventory_class": $("#selectClass").val(), "id_inventory_type": $("#selectType").val(), "inventory_status": document.getElementById("inventory_status").checked,
                "id_location": id_location
            };
            StartLoading();
            $.ajax({
                url: "/InventoryLocation/ActionUpdateLocationInventory",
                type: "POST",
                data: { "model": model },
                success: function (response) {
                    console.log(response)
                    if (response.success) {
                        fillTable(response.data);
                        CancelUpdate();
                        toastr.success("Ha sido modificado correctamente")
                    }else{
                        ClearTable();
                        fillTable(response.data);
                        toastr.error("Ha ocurrido un error al modificar locacion");
                    }
                    EndLoading();

                },
                error: function () {
                    toastr.error('Error inesperado contactar a sistemas.');
                    EndLoading();
                }
            });
    
        }

        //Modifica Vista Para Actualizar
        function UpdateLocation(list , storage_location , inventory_class , inventory_status , id ){
            var listSplit = list.split(',');
            $("#selectType").select2('val', listSplit);
            $("#location").val(storage_location)
            binsChange();
            $("#selectClass").select2('val', inventory_class);
            if(inventory_status)
                $("#inventory_status").iCheck('check');
            else
                $("#inventory_status").iCheck('uncheck');
            $("#divUpdate").show();
            $("#divAdd").hide();
            id_location = id;
            $("#location").attr('disabled','disabled')
          
        }

        function CancelUpdate(){
            ClearForm();
            $("#divUpdate").hide();
            $("#divAdd").show();
            $("#selectType").select2('val', []);

        }

        function ClearTable() {
            table.clear().draw();
            table.columns.adjust().draw();
        }

        function fillTable(listItems) {
            table.clear().draw();
            table.rows.add(listItems)
            table.columns.adjust().draw();
        }
        function ClearForm(){
            $("#location").val('');
            $("#bin1").val('');
            $("#bin2").val('');
            $("#bin3").val('');
            $("#location").removeAttr('disabled');
        }
    </script>
}

