﻿@model List<App.Entities.ViewModels.Inventory.AdjustmentRequestModel>
@{ ViewBag.Title = "INVE006"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen</a></li>
                    <li><a href="INVE000">Inventarios</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Modificación de Inventario</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Modificación de Inventario
            </h2>
            <small>Modificación de inventario.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Solicitudes de Modificación de Inventario</a>
                </div>
                <div class="panel-body">
                    <div class="row" id="TableDiv">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="Requests" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Folio</th>
                                            <th>Nombre Inventario</th>
                                            <th>Código Producto</th>
                                            <th>Descripción</th>
                                            <th>Stock Inicial</th>
                                            <th>1er Conteo</th>
                                            <th>2do Conteo</th>
                                            <th>Justificación</th>
                                            <th>Diferencias</th>
                                            <th>Costo Unitario</th>
                                            <th>Totales</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="document" method="post"></form>

@Html.Hidden("model", Json.Encode(Model))
@section Scripts { @Scripts.Render("~/bundles/INVE006/js") }