﻿
@{
    ViewBag.Title = "INVE014";
}
@model List<App.Entities.ViewModels.Inventory.InventoryNegativeHeaderModel>
<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacén</a></li>
                    <li class="active">
                        <span href="INVE000">Inventario</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Historial de Negativos
            </h2>
            <small>Historial de negativos realizados</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="hpanel">
        <div class="hpanel panel-body">
            <div class="row">
                <div class="content animate-panel">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hpanel hblue">
                                <div class="panel-heading">
                                    <div class="panel-tools">
                                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    <a onclick="PanelGrid.click();">Negativos</a>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group col-lg-4">
                                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                                            <div class="input-daterange input-group" id="datepicker">
                                                <div class="input-group date">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                    <input type="text" id="BeginDate" class="form-control" autocomplete="off" />
                                                </div>
                                                <span class="input-group-addon">A</span>
                                                <div class="input-group date">
                                                    <input type="text" id="EndDate" class="form-control" autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2" id="divStatus">
                                            <label>Status</label>
                                            <div class="form-group">
                                                <select id="status_negative" class="form-control" onchange="SearchNegatives();">
                                                    <option value="0">Todos</option>
                                                    <option value="1">Inicializada</option>
                                                    <option value="9">Terminada</option>
                                                    <option value="8">Cancelada</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row table-responsive">
                                                <table id="TableNegativesBalance" class="table table-striped table-bordered table-hover" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Id</th>
                                                            <th>Fecha</th>
                                                            <th>Código Negativo</th>
                                                            <th>Descripción Negativo</th>
                                                            <th>Negativo</th>
                                                            <th>Contado</th>
                                                            <th>Total Ajustar</th>
                                                            <th>Costo</th>
                                                            <th>$ Negativo</th>
                                                            <th>Codigo C</th>
                                                            <th>Descripcion C</th>
                                                            <th>Costo C</th>
                                                            <th>Cantidad C</th>
                                                            <th>Importe C</th>
                                                            <th>Diferencia</th>
                                                            <th>Status</th>
                                                            <th>Autorizado</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        const formatmoney = money => decimal => new Intl.NumberFormat("en-US", { style: "currency", currency: "USD", currencyDisplay: "symbol", maximumFractionDigits: decimal }).format(money);

        $("#BeginDate").datepicker({
            autoclose: true,
            todayHighlight: true,
            showButtonPanel: true
        }).on("changeDate", function (e) {
            SearchNegatives();
        });

        $("#EndDate").datepicker({
            autoclose: true,
            todayHighlight: true,
        }).on("changeDate", function (e) {
            SearchNegatives();
        });

        $("#status_negative").select2()

        jQuery(document).ready(function () {

            //window.setTimeout(function () { $("#fa").click(); }, 1000);
            var Documents = @Html.Raw(Json.Encode(Model));
            DataTableNegativeBalance.clear();
            DataTableNegativeBalance.rows.add(jQuery(Documents));
            DataTableNegativeBalance.columns.adjust().draw();
        });

        var DataTableNegativeBalance = $('#TableNegativesBalance').DataTable({
            "autoWidth": true,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningun dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Ãltimo", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            createdRow: function (row, data, dataIndex) {
                //console.log(data);
                //if ((parseFloat(data.stock_destination) <= parseFloat(data.move_quantity))) {
                //    $(row).css('background-color', '#F6FA7A');//yellow
                //    $(row).css('color', 'Gray');
                //}

            },
            buttons: [
                {
                    extend: 'csv', text: 'Excel', title: 'Historial Negativos', className: 'btn-sm', exportOptions: {
                        columns: [2, 3, 4, 5, 6, 7,8,9,10,11,12,13,14,15,16,17]
                    },
                },
                {
                    extend: 'pdf', text: 'PDF', title: 'Historial Negativos', className: 'btn-sm', exportOptions: {
                        columns: [2, 3, 4, 5, 6, 7,8,9,10,11,12,13,14,15,16,17]
                    },
                    customize: function (doc) {
                        doc.content[1].table.widths =
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    }
                },
                {
                    extend: 'print', text: 'Imprimir', className: 'btn-sm', exportOptions: {
                        columns: [2, 3, 4, 5, 6, 7,8,9,10,11,12,13,14,15,16,17]
                    },
                },
            ],
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            columns:
                [{
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                    "width": "1%"
                },
                    { data: 'id_inventory_negative', visible: false },
                    { data: 'negative_date' },
                    { data: 'part_number_header' },
                    { data: 'part_description' },
                    { data: 'unrestricted_header' },
                    { data: 'counted' },
                    { data: 'total_quantity' },
                    { data: 'cost_header' },
                    { data: 'total_amount' },
                    { data: 'part_number_detail' },
                        { data: 'part_description_detail' },
                        { data: 'cost_detail' },
                        { data: 'quantity_detail' },
                        { data: 'amount_detail' },
                        { data: 'difference_negative' },
                    { data: 'negative_status' },
                    { data: 'user_approval' },

                ],
            columnDefs:
               [{
                   targets: [0, 1, 2, 3, 4, 5, 6, 7,8,9,10,11,12,13,14,15,16,17],
                   width: "1%"
               },
        {
            targets: [16],
            render: function (data, type, full, meta) {
                if (data == 1) {
                    return "Inicializada"
                }
                else if (data == 9) {
                    return "Terminada"
                }
                else if (data == 8) {
                    return "Cancelada"
                }
                else if (data == 0) {
                    return "Solicitada"
                }
                else {                  
                    return data
                }
            },
            width: "1%"
        },
               {
                   data: null,
                   width: "1%",
                   render: function (data, type, full, meta) {
                       return "<p>" + formatmoney(data)(2) + "</p>";
                   },
                   targets: [8,9,12,14,15]
               }]
        });
        detailRows = [];

        $('#TableNegativesBalance tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = DataTableNegativeBalance.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (DataTableNegativeBalance.row('.details').length) {
                    $('.details-control', DataTableNegativeBalance.row('.details').node()).click();
                }
                row.child(format(row.data())).show();
                tr.addClass('details');
            }
        });
        DataTableNegativeBalance.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        function format(d) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "/InventoryAdjustment/ActionGetNegativeDetail",
                data: { "id": d.id_inventory_negative },
                type: "POST",
                success: function (r) {
                    console.log(r.result)
                    $.each(r.result, function (index, value) {
                        //total = value.IVA + value.IEPS + value.Amount;
                        detailItems += "<tr><td>" + value.part_number_detail + "</td><td>" + value.part_description + "</td><td>" + value.cost + "</td><td>" + value.unrestricted_actual + "</td><td>" + value.quantity + "</td><td>" + formatmoney(value.amount)(4) + "</td></tr>"
                    });
                    tabledetail.html('<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">' +
                        '<thead><tr><th>Código ContraAjuste</th><th>Descripción</th><th>Costo</th><th>Disponible</th><th>Cantidad Ajustar</th><th>Importe</th></tr></thead><tbody>' + detailItems + '</tbody></table>').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail;
        }
        function reloadStyleTable() {
            $('#tabledetail').DataTable({
                autoWidth: true,
                responsive: true,
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                buttons: [
                    {
                        extend: 'csv', text: 'Excel', title: 'Reporte de Diferencias Inventario Detalle', className: 'btn-sm', exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                    {
                        extend: 'pdf', text: 'PDF', title: 'Reporte de Diferencias Inventario Detalle', className: 'btn-sm', exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7]
                        },
                    },
                    {
                        extend: 'print', text: 'Imprimir', title: 'Reporte de Diferencias Inventario Detalle', className: 'btn-sm', exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                ],
            });
        }

        function SearchNegatives(){
            if ($('#BeginDate').val() != "" && $('#EndDate').val() != "") {
                if (moment($('#EndDate').val()) < moment($('#BeginDate').val())) {
                    toastr.error("Fecha final no puede ser menor a la inicial.");
                    $('#dateFin').focus();
                    return;
                }
                else {
                    StartLoading();
                    $.ajax({
                        url: "/InventoryAdjustment/ActionGetAllNegativeHeaderByDateAndStatus",
                        type: "POST",
                        data: { "dateInit": $('#BeginDate').val(), "dateFin": $('#EndDate').val(), "status": $("#status_negative").val() },
                        success: function (response) {
                            EndLoading();
                            if (response.result.length > 0) {
                                DataTableNegativeBalance.clear();
                                DataTableNegativeBalance.rows.add(jQuery(response.result));
                                DataTableNegativeBalance.columns.adjust().draw();
                            }
                            else if (response === 'SF')
                                SessionFalse("Termino tu sesion");
                            else {
                                toastr.warning("No existen Negativos con los parametros proporcionados");
                                DataTableNegativeBalance.clear();
                                DataTableNegativeBalance.columns.adjust().draw();
                            }
                        },
                        error: function () {
                            EndLoading();
                            toastr.error('Error inesperado contactar a sistemas.');
                        }
                    });
                }
            }
        }
    </script>
}
