﻿@{
    ViewBag.Title = "INVE012";
}
@Styles.Render("~/vendor/select2-3.5.2/select2.css")
@Styles.Render("~/bundles/select2/css")
@Styles.Render("~/vendor/select2-bootstrap/select2-bootstrap.css")
@Styles.Render("~/bundles/datatables/css")
@*@model FloridoERP.ViewModels.Purchases.PURCH025Model*@
@model List<App.Entities.ViewModels.Inventory.InventoryHeaderModel>
<link rel="stylesheet" href="~/vendor/clockpicker/dist/bootstrap-clockpicker.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css" />
<link rel="stylesheet" href="~/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="INVE000">Inventario </a>
                    </li>
                    <li class="active">
                        <span>Reporte de diferencias</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Historial de Inventarios
            </h2>
            <small>Reporte de los inventarios realizados.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Inventarios</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    @Html.TextBox("ValidDate1", null, new { @class = "form-control", @autocomplete = "off" })
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    @Html.TextBox("ValidDate2", null, new { @class = "form-control", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="TableInventoriesDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row projects">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="tableInventories" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th># ID</th>
                                                <th>Nombre</th>
                                                <th>Tipo Inventario</th>
                                                <th>Inicio</th>
                                                <th>Fin</th>
                                                <th>Status</th>
                                                <th>Reporte</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte De Diferencias</h4>
                <small id="ModalDescription" class="font-bold">Reporte de diferencias de inventario.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Cancelar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/Datatable.js"></script>
    @Scripts.Render("~/bundles/sweetAlert/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Vendor/slimScroll/jquery.slimscroll.min.js"></script>
    @Scripts.Render("~/vendor/select2-3.5.2/select2.min.js")
    <script src="~/Vendor/select2-3.5.2/select2_locale_es.js"></script>
    <script src="~/Vendor/moment/locale/es.js"></script>
    <script type="text/javascript">
        $("#ValidDate1").datepicker({
            autoclose: true,
            todayHighlight: true,
            showButtonPanel: true,
        }).on("changeDate", function (e) {
            SearchInventories();
        });
        $("#ValidDate2").datepicker({
            autoclose: true,
            todayHighlight: true,
        }).on("changeDate", function (e) {
            SearchInventories();
        });
        //Obtencion de datos del viewModel
        jQuery(document).ready(function () {
            var Inventories = @Html.Raw(Json.Encode(Model));
            table.clear();
            table.rows.add(jQuery(Inventories));
            table.columns.adjust().draw();
        });
        TrButton = element => `<button class="btn btn-xs btn-outline btn-info"
                        onclick="ShowModal('${element.do_no}','${element.purchase_no}','${element.date_erp}','${element.date_prt}','${element.status}')">
                        <i class="fa fa-eye"></i> Ver</button>`
        FullTd = element => Option => `<td>${Option == 1 ? formatMoney(element)(2) : Option == 0 ? element : element != null && element.trim() != "" ? "Contado" : "No contado"}</td >`
        FullTh = element => `<th>${element}</th>`
        FullTable = element => array => array.map(title => FullTd(element[title.title])(title.option)).toString();
        FullTableHeader = array => `<tr>${array.map(title => FullTh(title))}</tr>`
        const formatMoney = money => decimal => new Intl.NumberFormat("en-US", { style: "currency", currency: "USD", currencyDisplay: "symbol", maximumFractionDigits: decimal }).format(money);       
        var table = $('#tableInventories').DataTable({
            "autoWidth": true,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningun dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Ãltimo", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
                {
                    extend: 'csv', text: 'Excel', title: 'Historial de Inventarios',filename: function(){
                        return 'Historial de Inventarios ' + moment(new Date().getTime()).format("ll");
                    }, className: 'btn-sm', exportOptions: {
                        columns: [1, 2,3,4,5,6]
                    }
                }
            ],
            columns:
                [
                    {
                        "class": "details-control",
                        "orderable": false,
                        "data": null,
                        "defaultContent": "",
                        width: "1%"
                    },
                    { data: 'id_inventory_header' },
                    { data: 'inventory_name' },
                    { data: 'inventory_type_name' },
                    { data: 'inventory_date_start' },
                    { data: 'inventory_date_end' },
                    { data: 'inventory_status' },
                    {data:null}
                ],
            columnDefs:
               [{
                   targets: [0, 1, 2, 3, 4,5,6,7],
                   width: "1%"
               },{
                   targets: [6],
                   render: function (data, type, row)
                   {
                       var color = "" , cadena = "";
                       if (data == "0")
                       {
                           color = "Blue";
                           cadena = "INICIADO";
                           return '<div  style="color:' + color + '; text-align:center;">' + cadena + '</div>'
                       }
                       else if (data == "1")
                       {
                           color = "Orange";
                           cadena = "EN CONTEO";
                           return '<div  style="color:' + color + '; text-align:center;">' + cadena + '</div>'
                       }
                       else if (data == "3")
                       {
                           color = "Orange";
                           cadena = "AJUSTES";
                           return '<div  style="color:' + color + '; text-align:center;">' + cadena + '</div>'
                       }                      
                       else if (data == "8")
                       {
                           color = "Red";
                           cadena = "CANCELADO";
                           return '<div  style="color:' + color + '; text-align:center;">' + cadena + '</div>'
                       }
                       else if (data == "9" || data == "11")
                       {
                           color = "Green"
                           cadena = "TERMINADO";
                           return '<div style="color:' + color + ';text-align:center;">' + cadena + '</div>'
                       }else
                           return '<div style="text-align:center;">' + cadena + '</div>'
                   }
               },{
                   targets: [4,5],
                   render: function (data, type, row)
                   {
                       if(data != null){
                           return moment(data).format('lll');
                       }else{
                           return "";
                       }
                       
                   }
               },{
                   targets: [7],
                   render: function (data, type, row, meta)
                   {
                       if (row["inventory_status"] == 9 || row["inventory_status"] == 11)
                       {
                           return `<button class="btn btn-xs btn-outline btn-info" onclick="ExportToExcel('`+row["id_inventory_header"]+`','`+row["inventory_name"]+`')", type="submit">Reporte</button>`
                       }else{
                           return '<button class="btn btn-xs btn-outline btn-info" id="report_button", type="submit" disabled>Reporte</button>'
                       }
                        
                   }
               }
               ]
        });

        var detailRows = [];
        $('#tableInventories tbody').on('click', 'tr td.details-control', function ()
        {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown())
            {
                row.child.hide();
                tr.removeClass('details');
            }
            else
            {
                if (table.row('.details').length)
                {
                    $('.details-control', table.row('.details').node()).click();
                }
                row.child(format(row.data())).show();
                tr.addClass('details');
            }
        });

        table.on('draw', function ()
        {
            $.each(detailRows, function (i, id)
            {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        function format(d)
        {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');

                $.ajax({
                    url: "@(Url.Action("ActionGetInventoryById", "InventoryReport"))",
                    data: { "id": d.id_inventory_header },
                type: "POST",
                success: function (returndate)
                {
                    //$.each(returndate.Data, function (index, value)
                    //{
                    //    detailItems += "<tr><td>" + value.part_number + "</td><td>" + value.part_description + "</td><td>" + value.quantityScrap + "</td><td>" + value.quantity_current + "</td><td>" + value.quantity_detail  + "</td><td>" + value.quantity_difference  + "</td><td>" + value.amountScrap  + "</td><td>" + value.currentAmount  + "</td><td>" + value.detailAmount  + "</td><td>" + value.differenceAmount  + "</td><td>" + value.department + "</td><td>" + value.family   + "</td></tr>"
                    //});
                    //tabledetail.html('<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">' +
                    //    '<thead><tr><th>Código</th><th>Descripción</th><th>Merma</th><th>Stock</th><th>Contado</th><th>Diferencias</th><th>$Merma</th><th>$Stock</th><th>$Contado</th><th>$Diferencias</th><th>Departamento</th><th>Familia</th></tr></thead><tbody>' + detailItems + '</tbody></table>'/* + btn*/).removeClass('loading');
                    //reloadStyleTable();
                    detailItems = returndate.Data.map(value => ` <tr>${FullTable(value)([
                    { title: "part_number", option: 0 },
                    { title: "part_description", option: 0 },
                    { title: "quantityScrap", option: 0 },
                    { title: "quantity_current", option: 0 },
                    { title: "quantity_detail", option: 0 },
                    { title: "quantity_difference", option: 0 },
                    { title: "amountScrap", option: 0 },
                    { title: "currentAmount", option: 0 },
                    { title: "detailAmount", option: 0 },
                    { title: "differenceAmount", option: 0 },
                    { title: "department", option: 0 },
                    { title: "family", option: 0 }])}</tr>`).join().replace(/>,</g, '><').replace(/>, </g, '><')
                    header = FullTableHeader(["Código", "Descripción", "Merma Conocida", "Stock", "Contado", "Diferencia", "$ Merma Conocida", "$ Stock", "$ Contado" , "$ Diferencia","Departamento", "Familia"]).replace(/,/g, '')
                    var Html = (`<div class="table-responsive"><table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%"><thead>
                                       ${header}
                                        </thead><tbody>${detailItems.length > 0 ? detailItems : "<td colspan='8' style='text-align: center;'>No cuenta con productos</td>"}</tbody></table></div>`)
                    tabledetail.html(Html).removeClass('loading');
                    $("#tabledetail").append('<tfoot><th colspan = "2">Totales</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tfoot>');
                    reloadStyleTable();
                }
            });
            return tabledetail;
        //else
        //{
        //    tabledetail.html('<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">' +
        //        '<thead><tr><th>Tienda Destino</th><th># Requisición</th><th>Codigo Producto</th><th>Descripcion</th><th>Cantidad</th></tr></thead><tbody></tbody></table>').removeClass('loading');
        //    reloadStyleTable();
        //    return tabledetail;
        //}
        }

        //Recargar tabla
        function reloadStyleTable() {
            $('#tabledetail').DataTable({
                autoWidth: false,
                responsive: true,
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                columnDefs: [
                    {
                        targets: [9],
                        render: function (data, type, full, meta) {
                            if (parseFloat(full.quantity_difference) > 0)
                                return `<span style="Color:green">${formatMoney(data)(2)}</span>`;
                            else if (parseFloat(full.quantity_difference) < 0)
                                return `<span style="Color:red">${formatMoney(data)(2)}</span>`;
                            else
                                return `<span>${formatMoney(data)(2)}</span>`;
                        },
                        width: "1%"
                    },
                    {
                        targets: [2,3,4,5],
                        render: function (data, type, full, meta) {
                            return `<span>${(parseFloat(data).toFixed(2))}</span>`;
                        },
                        width: "1%"
                    }, {
                        targets: [6,7,8],
                        render: function (data, type, full, meta) {
                            return `<span>${formatMoney(data)(2)}</span>`;
                        },
                        width: "1%"
                    },
                ],
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                buttons: [
                    { extend: 'csv', text: 'Excel', title: 'ReporteDiferencias', className: 'btn-sm', footer: true },
                    {
                        extend: 'pdf', text: 'PDF', title: 'ReporteDiferencias', className: 'btn-sm', footer: true
                    },
                    { extend: 'print', text: 'Imprimir', className: 'btn-sm', footer: true },
                ],
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api();

                    //api.columns('.sumP', { page: -1 }).every(function () {
                    //    var sum = this
                    //        .data()
                    //        .reduce(function (a, b) {
                    //            var x = parseFloat(a) || 0;
                    //            var y = parseFloat(b) || 0;
                    //            return x + y;
                    //        }, 0);
                    //    if (sum > 0)
                    //        $(this.footer()).html(`<span style="Color:green"> ${formatMoney(sum)(2)} </span>`);
                    //    else if (sum < 0)
                    //        $(this.footer()).html(`<span style="Color:red"> ${formatMoney(sum)(2)}</span>`);
                    //    else
                    //        $(this.footer()).html(formatMoney(sum)(2));
                    //});
                     //computing column Total of the complete result
                    for (var i = 2; i < 6; i++) {
                        var monTotal = api
                            .column(i)
                            .data()
                            .reduce(function (a, b) {
                                var x = parseFloat(a) || 0;
                                var y = parseFloat(b) || 0;
                                return x + y;
                            }, 0);
                        $(api.column(i).footer()).html(`<span>${parseFloat(monTotal).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</span>`);
                    }
                    for (var i = 6; i < 9; i++) {
                        var monTotal = api
                            .column(i)
                            .data()
                            .reduce(function (a, b) {
                                var x = parseFloat(a) || 0;
                                var y = parseFloat(b) || 0;
                                return x + y;
                            }, 0);
                        $(api.column(i).footer()).html(`<span>$${parseFloat(monTotal).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</span>`);
                    }
                    var monTotal = api
                            .column(9)
                            .data()
                            .reduce(function (a, b) {
                                var x = parseFloat(a) || 0;
                                var y = parseFloat(b) || 0;
                                return x + y;
                            }, 0);
                    $(api.column(9).footer()).html(`<span ${monTotal == 0 ? "": `style = "Color:${monTotal >= 0 ? "green" : "red"}"` } >$${parseFloat(monTotal).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</span>`);
                }           
            });
        }
        function ExportToExcel(id,name) {
            //var inventoryIdFinal;
            //var inventoryDescriptionFinal;
            //if (value == 1) {
            //    inventoryIdFinal = inventoryId;
            //    inventoryDescriptionFinal = "";
            //} else {
            //    inventoryIdFinal = $("#idInventory").val();
            //    inventoryDescriptionFinal = "";
            //}
            StartLoading();
            $.ajax({
                type: "POST",
                url: "/InventoryCurrent/ActionGetDifferencesReport",
                data: { "id": id, "inventoryDescription": name },
                success: function (report) {
                    document.getElementById("iframe").srcdoc = report;
                    EndLoading();
                    $("#ModalDescription").html('Reporte de diferencias');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });
        }
        function SearchInventories() {
            if ($('#ValidDate1').val() != "" & $('#ValidDate2').val() != "") {
                if (moment($('#ValidDate1').val()) <= moment($('#ValidDate2').val())) {
                    StartLoading();
                    $.ajax({
                        type: "POST",
                        url: "/InventoryHeader/ActionGetInventoriesByDate/",
                        data: { "dateInitial": $('#ValidDate1').val(), "dateFinish": $('#ValidDate2').val() },
                        success: function (returndate) {
                            if (returndate.data == "SF") {
                                EndLoading();
                                SessionFalse("Terminó su sesión.");
                            }
                            else if (returndate) {
                                $("#TableDiv").animatePanel();
                                table.clear();
                                table.rows.add($(returndate.Data));
                                table.columns.adjust().draw();
                                EndLoading();
                                if (returndate.Data.length == 0) {
                                    toastr.warning('No se encontraron inventarios en el rango de fechas.');
                                    EndLoading();
                                }
                            }
                        },
                        error: function (returndate) {
                            toastr.error('Alerta - Error inesperado contactar a sistemas.');
                            EndLoading();
                        }
                    });
                }
                else {
                    toastr.error("Fecha final no puede ser menor a la inicial.");
                    document.getElementById('ValidDate1').value = '';
                    document.getElementById('ValidDate2').value = '';
                    $('#ValidDate1').focus();
                }
            }
        }
    </script>
}