﻿@{ ViewBag.Title = "INVE011"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="WSM003">Almacen</a></li>
                    <li>
                        <a href="INVE000">Inventarios</a>
                    </li>
                    <li class="active">
                        <span>Conteo Inventario</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Captura Inventario
            </h2>
            <small>Captura de inventario</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div id="divItems" hidden>
                        <div class="row">
                            <div class="form-group" style="text-align: center;">
                                <h3 id="descriptionInventory">test</h3>
                                <h4 id="headerNumber">test</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label title="Producto" data-toggle="tooltip" data-placement="right">Producto</label>
                                <input class="form-control" id="ItemsDrop" name="ItemsDrop" />
                            </div>
                            <div class="form-group col-lg-2">
                                <label title="Locacion" data-toggle="tooltip" data-placement="right">Locación</label>
                                <input class="form-control" id="location" onkeyup="this.value = this.value.toUpperCase();" />
                            </div>
                            <div class="form-group col-lg-2">
                                <label title="Cantidad" data-toggle="tooltip" data-placement="right">Cantidad</label>
                                <input class="form-control" id="quantity" />
                            </div>
                            <div class="form-group col-lg-4">
                                <br />
                                <button class="btn btn-success" id="btnAddProduct" onclick="AddRegisterInventory()"><i class="fa fa-plus"></i> Agregar</button>
                                <button class="btn btn-info" id="btnClearForm" onclick="ClearForm()"><i class="fa fa-trash"></i> Limpiar</button>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;" id="divInventoryNoActive">
                        <h2 id="titleNoActive">No existe inventario activo</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var listItems = [];
        var idInventory;

        $("#ItemsDrop").select2({
            minimumInputLength: 3,
            allowClear: true,
            placeholder: "Seleccione una producto",
            initSelection: function (element, callback) {
                callback({ id: "", text: "Seleccione una opcion" });
            },
            ajax: {
                url: "/Items/ActionSearchItemBarcode/",
                dataType: 'json',
                type: "GET",
                quietMillis: 50,
                data: function (Filter) {
                    return {
                        Filter: Filter
                    };
                },
                results: function (data) {
                    return {
                        results: $.map(data.Json, function (item) {
                            return {
                                text: item.Description,
                                id: item.PathNumber
                            }
                        }),
                    };
                }
            }
        });

        $("#selectLabel").select2();

        //select2 Inventarios
        $("#selectInventario").select2({
            formatInputTooShort: function () {
                return "Selecciona un inventario";
            },
            matcher: function (term, text, option) {
                return text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0;
            }
        });

        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);
            getInventoryActive();
        });

        var table = $('#TableProducts').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns:
                [
                    { data: 'part_number' },
                    { data: 'product_name' },
                    { data: 'quantity' },
                    { data: 'id_detail' },
                ],
            columnDefs:
                [
                    {
                        targets: [0, 1, 2, 3],
                        width: "1%"
                    }
                ]
        });

        //Funcion para obtener inventario activo
        function getInventoryActive() {
            $.ajax({
                url: "/InventoryUsers/ActionGetInventoryActive",
                data: {},
                type: "POST",
                success: function (data) {
                    console.log(data)
                    if (data == "SF") {
                        EndLoading();
                        SessionFalse("Terminó tu sesión");
                    } else if (data == false) {
                        EndLoading();
                        toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.");
                    } else if (data.status == "inactivo") {
                        $("#divInventoryActive").hide();
                        $("#divInventoryNoActive").show();
                        $("#titleNoActive").show();
                    } else if (data.inventoryHeader.length > 0) {
                        var n = 0
                        data.inventoryHeader.forEach(i => {
                            if (i.inventory_status == 1) {
                                idInventory = data.inventoryHeader[n].id_inventory_header;
                                EndLoading();
                                $("#divItems").show()
                                $("#divInventoryNoActive").hide()
                                id_inventory = data.inventoryHeader[n].id_inventory_header;
                                $("#headerNumber").text("Inventario número " + data.inventoryHeader[n].id_inventory_header);
                                $("#descriptionInventory").text(data.inventoryHeader[n].inventory_name);
                                return;
                            } else
                                n++;
                        })                      
                    } else {
                        EndLoading();
                        id_inventory = data.inventoryHeader[0].id_inventory_header;
                        $("#headerNumber").text("Inventario número " + data.inventoryHeader[0].id_inventory_header);
                        $("#descriptionInventory").text(data.inventoryHeader[0].inventory_name);
                        status = data.inventoryHeader[0].inventory_status;
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.");
                }
            });
        }

        function ClearForm() {
            $("#divItems").hide()
            //bloquear inventario etiquetas y locacion
            $('#selectInventario').prop('disabled', false);
            $('#selectLabel').prop('disabled', false);
            $('#location').prop('disabled', false);
            $("#btnAddLocation").show()
            $("#btnClear").hide();
            getInventoryLabels($("#selectInventario").val());
            $("#location").val(null);
            $("#selectLabel").empty();
            $("#btnAddLocation").hide()
            $("#divLocation").hide();
        }

        const isDecimal = decimal => number => {
            const IsDecimal = RegExp(`^\\d+\\.?\\d{0,${decimal}}$`);
            return IsDecimal.test(number);
        }

        function hideForm() {
            $("#divItems").show()
            //bloquear inventario etiquetas y locacion
            $('#selectInventario').prop('disabled', true);
            $('#selectLabel').prop('disabled', true);
            $('#location').prop('disabled', true);
            $("#btnAddLocation").hide()
            $("#btnClear").show()
            //$("#selectLabel").empty();
            $("#divLocation").show();
        }

        function AddRegisterInventory() {
            var quantity = $("#quantity").val()
            var location = $("#location").val();
            var part_number = $("#ItemsDrop").val();
            if (location.trim() == "") {
                toastr.warning("Ingrese una locación");
                return null;
            } else if (parseFloat(quantity) < 0 || parseFloat(quantity) > 9999 || !isDecimal(2)(quantity)) {
                toastr.warning("Ingrese un valor válido");
                return null;
            } else if (part_number == "") {
                toastr.warning("Ingrese un producto");
                return null;
            }
            StartLoading();
            $.ajax({
                type: "POST",
                url: "/InventoryHeader/ActionAddRegisterInventoryDetail/",
                data: { "id_Inventory": idInventory, "part_number": part_number, "location": location, "quantity": parseFloat(quantity) },
                success: function (json) {
                    if (json.success) {
                        if (json.Data.Item1) {
                            $("#AddQuantityInventoryModal").val(null);
                            toastr.success('Guardado Correctamente');
                            ClearForm();
                            EndLoading();
                        } else {
                            toastr.error(json.Data.Item2);
                            EndLoading();
                        }

                    } else {
                        if (json.data == "SF") {
                            SessionFalse("Terminó tu sesión");
                        } else {
                            toastr.error('Alerta - Ha ocurrido un error al guardar el registro');
                        }
                    }
                },
                error: function (json) {
                    toastr.error('Alerta - Error inesperado contactar a sistemas.');
                    EndLoading();
                }
            });
        }

        function ClearForm() {
            $("#ItemsDrop").select2('val', '');
            $("#location").val(null);
            $("#quantity").val(null);
        }

    </script>
}