﻿
@{
    ViewBag.Title = "MENRMA0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Inventario</a></li>
                    <li class="active">
                        <span>Remisión</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Remisión
            </h2>
            <small>Menu de Remisiones. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="menu-row">

        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="RMA003">
                            <h2 class="m-b-xs">Aprobación Remisión</h2>
                            <div class="m">
                                <i class="fa fa-check-square fa-5x"></i>
                            </div>
                            <p class="small">
                                Solicitud de Aprobación de Remisión
                            </p>
                            <br />
                        </a>
                        <a href="RMA003" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="RMA005">
                            <h2 class="m-b-xs">Aprobación RMA </h2>
                            <div class="m">
                                <i class="fa fa-check-square fa-5x"></i>
                            </div>
                            <p class="small">
                                Permite confirmar remisión
                            </p>
                            <br />
                        </a>
                        <a href="RMA005" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>