﻿@{
    ViewBag.Title = "MENWSM000";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>Almacen </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Almacen
            </h2>
            <small>Menu de Almacen. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="WSM001">
                            <h2 class="m-b-xs">Recibo</h2>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu Recibo
                            </p>
                            <br />
                        </a>
                        <a href="WSM001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="RMA000">
                            <h2 class="m-b-xs">Catalogos</h2>
                            <div class="m">
                                <i class="pe-7s-box1 fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu Catalogos
                            </p>
                            <br />
                        </a>
                        <a href="RMA000" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="RMA000">
                            <h2 class="m-b-xs">Devoluciones</h2>
                            <div class="m">
                                <i class="pe-7s-box1 fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu RMA
                            </p>
                            <br />
                        </a>
                        <a href="RMA000" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="RMA000">
                            <h2 class="m-b-xs">Remision</h2>
                            <div class="m">
                                <i class="pe-7s-box1 fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu Remision
                            </p>
                            <br />
                        </a>
                        <a href="RMA000" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        @*MENU DE INVENTARIOS*@
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE000">
                            <h2 class="m-b-xs">Inventarios</h2>
                            <div class="m">
                                <i class="pe-7s-box1 fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de Inventarios
                            </p>
                            <br />
                        </a>
                        <a href="INVE000" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>