﻿@model App.Entities.ViewModels.PurchaseOrder.PurchaseAndMaCode
@{ ViewBag.Title = "OCRC001"; }

<style>
    .discrepancy {
        color: black;
        background-color: yellow;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="WSM001">Recibo </a>
                    </li>
                    <li class="active">
                        <span>Comparativo de Orden Compra y Recibo Ciego</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Orden de compra Y Recibo Ciego
            </h2>
            <small>Comparativa de Order Compra y Recibo Ciego </small>
        </div>
    </div>
</div>
<div class="content animate-panel" id="search" style="padding-bottom:0">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="col-lg-3" style="padding-top:8px;">
                            <p><b><i class="fa fa-suitcase"></i> Número de Compra:</b></p>
                        </div>
                        <div class="col-lg-7">
                            <select id="folioSearch" onchange="SearchPurchase()" class="form-control select">
                                <option value="0">
                                    Seleccione una opcion
                                </option>
                                @foreach (var item in Model.PurchaseList)
                                {
                                    <option value="@item.PurchaseNo">
                                        @item.PurchaseNo  - @item.supplier_name
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-2" id="cancelOrderButtonDiv" hidden style="padding-top:6px;">
                            <button id="cancelOrderButton" class="btn btn-danger pull-right"><i class="fa fa-close"></i> Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content animate-panel" id="searchBody" hidden style="padding-top:0">
    <div class="row" id="infoSupplier">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Proveedor</a>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="col-lg-12" style="padding-top:8px;">
                            <label> <b><i class="fa fa-suitcase"></i> Numero de Compra:</b>  </label> <div><span id="folio">0</span></div>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <label> <b><i class="fa fa-newspaper-o"></i> RFC:</b>  </label> <div><span id="rfc">0</span></div>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <label> <b><i class="fa fa-briefcase"></i> Proveedor:</b> </label> <div><span id="provider">0</span></div>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <label> <b><i class="fa fa-map"></i> Direccion:</b> </label> <div><span id="adress">0</span> </div>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <label> <b><i class="fa fa-male"></i>   Nombre del contacto:</b></label> <div><span id="nameContact">0</span> </div>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <label> <b><i class="fa fa-at"></i> Correo:</b> </label> <div><span id="email">0</span> </div>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <label> <b><i class="fa fa-phone"></i> Telefono:</b></label> <div><span id="phone">0</span> </div>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <label> <b><i class="fa fa-calendar"></i> Fecha:</b> </label> <div><span id="datee">0</span></div>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <label> <b><i class="fa fa-money"></i> Moneda:</b></label> <div><span id="currency">0</span> </div>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <label id="buttonRescaneoS4Title" hidden> <b><i class="fa fa-truck"></i> Rescaneo:</b></label>
                            <div>
                                <button id="buttonRescaneoS4" hidden class="btn btn-warning btn-xs" style="margin-right:10px"><i class="fa fa-exchange"></i> Rescaneo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading" id="textOrder" hidden>
                    <div class="panel-tools">
                        <a id="grid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="grid.click();">Detalles de la Orden</a>
                </div>
                <div class="panel-heading" id="textOCRG" hidden>
                    <div class="panel-tools">
                        <a id="grid2" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="grid2.click();">Comparativo</a>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="col-lg-12" style="padding-top:8px;" id="folioForm">
                            <p> <b>Numero de Compra:</b> <span id="folio2">0</span> </p>
                        </div>
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                                    <thead id="tableHeadORCG">
                                    </thead>
                                    <tbody id="tableOCRG"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12" id="totalAmountForm">
                            <div class="pull-right" style="width:26%;">
                                <div class="col-lg-6" style="border:1px solid #dddddd"><b> Subtotal:</b></div><div class="col-lg-6 text-right" style="border:1px solid #dddddd" id="totalAmount">0</div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="totalIvaForm">
                            <div class="pull-right" style="width:26%;">
                                <div class="col-lg-6" style="border:1px solid #dddddd"><b>IVA Total:</b></div><div class="col-lg-6 text-right" style="border:1px solid #dddddd" id="totalIva">0</div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="totalIEPSForm">
                            <div class="pull-right" style="width:26%;">
                                <div class="col-lg-6" style="border:1px solid #dddddd"><b>IEPS Total:</b></div><div class="col-lg-6 text-right" style="border:1px solid #dddddd" id="totalIEPS">0</div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="totalFinalForm">
                            <div class="pull-right" style="width:26%;">
                                <div class="col-lg-6" style="border:1px solid #dddddd"><b> Total:</b></div><div class="col-lg-6 text-right" style="border:1px solid #dddddd" id="totalFinal">0</div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-offset-8" id="saveFormModel">
                            <label>Comentario</label>
                            <select class="form-control" multiple="multiple" id="selectOption">
                                <option value="0">------------</option>
                                @foreach (var item in Model.MaCodeList)
                                {
                                    <option value="@item.vkey">@item.description</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-12" style="padding-top:22px;" id="saveForm">
                            <input id="UpdateFile" type="file" style="display: none;" onchange="XmlCompare();" accept="text/xml" />
                            <div>
                                <button id="buttonSave" class="btn btn-success pull-right"><i class="fa fa-save"></i> Procesar</button>
                            </div>
                        </div>

                        <div class="col-lg-12" style="padding-top:22px;" id="statusForm">
                            <div class="pull-right">
                                <button id="buttonStatus" class="btn btn-success pull-right"><i class="fa fa-save"></i> Procesar</button>
                                <button id="buttonRescaneo" class="btn btn-success pull-right" style="margin-right:10px"><i class="fa fa-exchange"></i> Rescaneo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade hmodal-info" id="ModalInvoice" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title"> <i class="fa fa-file-text-o"></i>  Numero Factura</h4>
                <small class="font-bold">Numero factura del proveedor.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Numero de factura</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-file-text-o"></span>
                            </span>
                            <input type="text" id="inputInvoice" placeholder="Numero de factura" class="form-control" maxlength="50" name="Invoice" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label>Cantidad de factura</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-usd"></span>
                            </span>
                            <input type="number" id="inputTotalInvoice" placeholder="Cantidad de factura" class="form-control" min="1" max="9999999999" name="InvoiceQuantity" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4" id="invoiceUSD">
                        <label style="font-weight:bold;"> Fecha de factura: </label>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker'>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input id="dateDllsInvoice" name="dateDllsInvoice" required type='text' class="form-control" autocomplete="off" />
                            </div>
                            <label id="dateError" class="error" hidden>El Campo no puede ser nulo</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="StoreProcedureNotXMl()"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/OCRC001/js") }