﻿@*@model List<App.Entities.ViewModels.Transfer.TransferHeaderModel>*@
@{ ViewBag.Title = "RECE002"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="WSM001">Recibo</a>
                    </li>
                    <li class="active">
                        <span>Entrada Transferencias</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Recibo Transferencias
            </h2>
            <small>Entrada de transferencias</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Transferencias
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label>Período</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="beginDate" class="form-control" />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input type="text" id="endDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <label>Tipo de Transferencia</label>
                            <select id="TransferType" class="form-control select2" onchange="SearchTransfer()">
                                <option value="0">Seleccione una opción</option>
                                <option value="entrada">Entradas</option>
                                <option value="salida">Salidas</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" id="TableDiv">
                        <div class="table-responsive">
                            <table id="Transfers" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Documento</th>
                                        <th>Sitio Origen</th>
                                        <th>Sitio Destino</th>
                                        <th>Estatus</th>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/RECE002/js") }