﻿@model App.Entities.ViewModels.DamagedsGoods.DamagedGoodsViewModel
@{ ViewBag.Title = "RMA003"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="RMA000">RMA</a>
                    </li>
                    <li class="active">
                        <span>Remisión Banati</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Remisión Banati
            </h2>
            <small>Remisión (donativo) a Banati</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">

                <div class="panel-heading" id="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active" onclick="tab1()" id="tab1"><a data-toggle="tab" href="#tab-1"><i class="fa fa-list-alt"></i>&nbsp;Lista de Remisiones</a></li>
                        <li class="" onclick="tab2()"><a data-toggle="tab" href="#tab-2" id="tab2"><i class="fa fa-plus"></i>&nbsp;Solicitud Remisión</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">


                            <div class="panel-heading">
                                <div class="panel-tools">
                                    <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                </div>
                                Remisiones pendientes de procesar
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Período</label>
                                        <div class="input-daterange input-group" id="datepicker">
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                                <input type="text" id="ValidDate1" class="form-control" autocomplete="off" />
                                            </div>
                                            <span class="input-group-addon">A</span>
                                            <div class="input-group date">
                                                <input type="text" id="ValidDate2" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                                    <div class="row table-responsive">
                                        <table id="DamagedGoods" class="table table-striped table-bordered table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th># RMA</th>
                                                    <th>Proveedor</th>
                                                    <th>Comentarios</th>
                                                    <th>Estatus</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div id="tab-2" class="tab-pane">

                            <div class="panel-heading">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                </div>
                                Selección de productos para remisión a Banati
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-2 document hide">
                                        <label>Folio</label>
                                        <input type="text" class="form-control" data-bind="value: Document" readonly />
                                    </div>
                                    <div class="col-md-2 status hide">
                                        <label>Estatus</label>
                                        <input type="text" class="form-control" data-bind="value: Status" readonly />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Comentarios</label>
                                        <input type="text" class="form-control" data-bind="value: Comments" />
                                    </div>
                                </div>
                                <br />

                                <div id="TableDiv2" class="animate-panel" data-effect="zoomIn">
                                    <div class="row table-responsive">
                                        <table id="Items" class="table table-striped table-bordered table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th><input type='checkbox' class='checkAll'></th>
                                                    <th>Número de Parte</th>
                                                    <th>Producto</th>
                                                    <th>Stock</th>
                                                    <th>Cantidad</th>
                                                    <th>Comentarios</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group col-lg-12">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-danger" data-bind="click: Cancel"><i class="fa fa-close"></i> Cancelar</button>
                                            <button type="button" class="btn btn-success" data-bind="click: Save"><i class="fa fa-save"></i> Guardar</button>
                                            <button type="button" class="btn btn-info" data-bind="click: Process"><i class="fa fa-check"></i> Procesar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@Html.Hidden("banatiModel", Json.Encode(Model.DamagedGoodsBanatiModel))
@Html.Hidden("DamagedGoodsHeadListModel", Json.Encode(Model.DamagedGoodsHeadListModel))
@section Scripts { @Scripts.Render("~/bundles/RMA003/js") }