﻿@model List<App.Entities.ViewModels.Supplier.MaSupplierModel>
@{ ViewBag.Title = "RMA001"; }

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="RMA000">RMA</a>
                    </li>
                    <li class="active">
                        <span>Solicitud</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Solicitud
            </h2>
            <small>Productos que ya se encuentra en la locación de "bloqueo" para realizar solictud de devolución. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <label>Proveedor</label>
                            <select class="form-control select2" onchange="Items()" id="supplier">
                                <option value="0" selected>Seleccione una proveedor</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.SupplierId">@item.BusinessName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="checkbox col-lg-10" id="checkOcult"><label> <input type="checkbox" id="allCheck" onchange="AllCheck()" class="i-checks"><b>  Seleccionar Todo</b></label></div>
                    <div class="col-lg-2" id="filterDiv">
                        <input type="text" id="filter" name="name" value="" class="form-control" onkeyup="Search()" />
                    </div>
                    <div id="tableEMSCContent">
                        <div class="col-lg-12 table-responsive">
                            <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped" id="tableEMSCHead">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">#</th>
                                        <th style="text-align:center">Numero de producto</th>
                                        <th style="text-align:center">Nombre de producto</th>
                                        <th style="text-align:center">Medida</th>
                                        <th style="text-align:center">Cantidad</th>
                                        <th style="text-align:center">Precio</th>
                                        <th style="text-align:center">Lugar de almacenamiento</th>
                                        <th style="text-align:center">Cantidad Devuelta</th>
                                        <th style="text-align:center">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="tableEMSC"></tbody>
                            </table>
                        </div>
                        <div class="col-lg-12">
                            <button class="btn btn-success pull-right" id="saveButton"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal PDF-->
<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/RMA001/js") }