﻿@{
    ViewBag.Title = "RMA000";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Inventario</a></li>
                    <li class="active">
                        <span>RMA</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                RMA
            </h2>
            <small>Menu de RMA. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="menu-row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="RMA001">
                            <h2 class="m-b-xs">Se realiza las solicitudes RMA</h2>
                            <div class="m">
                                <i class="fa fa-cubes fa-5x"></i>
                            </div>
                            <p class="small">
                                Se realiza las solicitudes RMA
                            </p>
                            <br />
                        </a>
                        <a href="RMA001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="RMA002">
                            <h2 class="m-b-xs">Aprobación de Solicitudes RMA</h2>
                            <div class="m">
                                <i class="pe-7s-check fa-5x"></i>
                            </div>
                            <p class="small">
                                Aprobación de Solicitudes RMA
                            </p>
                            <br />
                        </a>
                        <a href="RMA002" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="RMA004">
                            <h2 class="m-b-xs">Aplicar RMA</h2>
                            <div class="m">
                                <i class="fa fa-cubes fa-5x"></i>
                            </div>
                            <p class="small">
                                Aplicar RMA
                            </p>
                            <br />
                        </a>
                        <a href="RMA004" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="RMA007">
                            <h2 class="m-b-xs">Solicitud de Cancelación </h2>
                            <div class="m">
                                <i class="fa fa-close fa-5x"></i>
                            </div>
                            <p class="small">
                                Solicitud de Aplicación de Cancelacíón.
                            </p>
                            <br />
                        </a>
                        <a href="RMA007" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="RMA008">
                            <h2 class="m-b-xs">Aprobación de Cancelación</h2>
                            <div class="m">
                                <i class="fa fa-check-square fa-5x"></i>
                            </div>
                            <p class="small">
                                Aprobación de Cancelación
                            </p>
                            <br />
                        </a>
                        <a href="RMA008" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>