﻿@model FloridoERPTX.ViewModels.Warehouse.RPD0StockReportViewModel
@{ ViewBag.Title = "RPD012"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Almacen</a></li>
                    <li>
                        <span>Reportes</span>
                    </li>
                    <li class="active">
                        <span>Reporte de Mercancia en bloqueo</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte de Mercancia en Bloqueo
            </h2>
            <small>Reporte Mercancia en bloqueo por proveedor y departamento</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                    </div>
                    Reporte de mercancia en bloqueo
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <label>Proveedor</label>
                                <input class="form-control" id="SuppliersDrop" name="SuppliersDrop" />
                            </div>
                            <div class="col-lg-3">
                                <label>Departamento</label>
                                @Html.DropDownListFor(m => m.Departamentos, Model.DeptosList, new { @class = "form-control select2", @id = "departmentDrop", @onchange = "GetFamily();" })
                            </div>
                            <div class="col-lg-3">
                                <label>Familia</label>
                                <select id="family" class="form-control select2">
                                    <option value="0" selected>Seleccione una familia</option>
                                </select>
                            </div>
                            @*<div class="col-lg-2">
                                    <label>Estatus</label>
                                    <select class="form-control select2" id="productType">
                                        <option value="">Piso de Venta</option>
                                        <option value="MERMA">Bloqueo</option>
                                        <option value="RAW">Materia Prima</option>
                                    </select>
                                </div>*@
                            <div class="col-lg-2">
                                <br />
                                <button class="btn btn-primary" id="buscar" onclick="SerchProducts()"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                            <div class="col-lg-2">
                                <br />
                                <button class="btn btn-info" id="btnClear" onclick="SerchClear()"><i class="fa fa-paint-brush"></i> Limpiar</button>
                            </div>
                            <div class="col-lg-2">
                                <br />
                                <button hidden class="btn btn-success hide" id="buttonPrint" onclick="SerchPO()"><i class="fa fa-print"></i> Imprimir</button>
                            </div>
                        </div>
                    </div>
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TablePurchases" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Descripción</th>
                                        <th>Departamento</th>
                                        <th>Familia</th>
                                        <th>Locación</th>
                                        <th>Cantidad</th>
                                        @*<th>Costo</th> PASILLAS DIJO
                                        <th>Extención</th>*@
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("UserRoles", Json.Encode(Model.UserRoles))
@section Scripts { @Scripts.Render("~/bundles/RPD011/js") }