﻿@model App.Entities.ViewModels.Item.ItemSalesInventoryViewModel
@{
    ViewBag.Title = "RPD006";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen</a></li>
                    <li><a href=""></a></li>
                    <li class="active">
                        <span>Información de productos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Información de productos
            </h2>
            <small>Descripción de productos</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Productos</a>
                </div>
                <div class="panel-body">
                    <div class="col-lg-5">
                        <label>Productos</label>
                        <input class="form-control js-example-basic-multiple" id="ItemsDrop" multiple="multiple" name="ItemsDrop" />
                    </div>
                    <div class="col-lg-3">
                        <label>Departamento</label>
                        <select id="department" class="form-control select2" onchange="GetFamily();">
                            <option value="0" selected>Seleccione una departamento</option>
                            @foreach (var item in Model.Departments)
                            {
                                <option value="@item.class_id">@item.class_name</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Familia</label>
                        <select id="family" class="form-control select2">
                            <option value="0" selected>Seleccione una familia</option>
                        </select>
                    </div>
                    <div class="col-lg-12">
                        <br />
                        <button id="Search" class="btn btn-primary pull-right"><i class="fa fa-eye"></i> Mostrar</button>
                    </div>

                    <div class="col-lg-12" style="margin-top:30px;">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="tableItems" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>No. de Parte</th>
                                        <th>Nombre</th>
                                        <th>Comprador</th>
                                        <th>Divisi&oacute;n</th>
                                        <th>Departamento</th>
                                        <th>Caducidad</th>
                                        <th>Activo</th>
                                        <th>Peso</th>
                                        <th>Precio</th>
                                        <th>Precio IVA</th>
                                        <th>Precio IVA Compra</th>
                                        <th>IVA Venta</th>
                                        <th>Precio IVA Venta</th>
                                        <th>IEPS</th>
                                        <th>Precio IEPS</th>
                                        <th>Precio Total</th>
                                        <th>Margen</th>
                                        <th>Existencia</th>
                                        <th>Costo Promedio</th>
                                        <th>Ultimo Costo</th>
                                        <th>Detalles</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="showItem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title"><i class="fa fa-newspaper-o"></i> Detalles del Producto</h4>
                <small id="ModalDescription" class="font-bold">Información básica del producto.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-note2"></i>&nbsp Datos de Producto</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label><i class="fa fa-align-left"></i> Descripci&oacute;n:</label>
                        <div id="description">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-barcode"></i> Número de Parte:</label>
                        <div id="txtItemPartNumber">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-balance-scale"></i> UM:</label>
                        <div id="Dunit">-</div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <br />
                                <label><i class="fa fa-industry"></i> Divisi&oacute;n:</label>
                                <div id="division">-</div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <label><i class="fa fa-filter"></i> Tipo:</label>
                                <div id="txtItemType">-</div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <label><i class="fa fa-check-circle-o"></i>&nbsp; Producto se encuentra:</label>
                                <br />
                                <input type="checkbox" id="active" onclick="return false;">
                                <label id="activeCheck">&nbsp; Activo</label>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <label><i class="fa fa-database"></i>&nbsp; Producto es:</label>
                                <br />
                                <input type="checkbox" id="weight" onclick="return false;">
                                <label id="weightCheck">&nbsp; Pesado</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-cash"></i>&nbsp Datos Fiscales</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-md-6">
                            <label><i class="fa fa-flag-checkered"></i> Numero de Parte de SAT:</label>
                            <div id="SATPartNumber">-</div>
                        </div>
                        <div class="col-md-4">
                            <label><i class="fa fa-flag"></i> Unidad de SAT:</label>
                            <div id="SATUnit">-</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <br />
                            <label><i class="fa fa-flag-o"></i> IVA Compra:</label>
                            <div id="IVA">-</div>
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label><i class="fa fa-flag"></i> IVA Venta:</label>
                            <div id="IVASale">-</div>
                        </div>
                        <div class="col-md-6">
                            <br />
                            <label><i class="fa fa-flag-o"></i> IEPS:</label>
                            <div id="IEPS">-</div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="showProductCommon" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <h4 id="PartNumberDescritionModal"><i class="fa fa-cube fa-2x"></i></h4>
                </div>
                <div class="col-lg-6 text-center">
                    <h4 id="PriceSaleModal"> Precio Venta: </h4>
                    <h4 id="BaseCostModal"> Ultimo Costo: </h4>
                </div>
                <div class="col-lg-6 text-center">
                    <h4 id="TotalStockModal"> Existencia: </h4>
                    <h4 id="BuyerModal"> Comprador: </h4>
                </div>
            </div>
            <div class="modal-body">

                        <div class="hpanel">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1" id="tab1"><i class="fa fa-briefcase"></i> Presentaciones</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-credit-card-alt"></i> Proveedores</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-shopping-basket"></i> Costo Base</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-4"><i class="fa fa-shopping-cart"></i> Precio Venta</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-5"><i class="fa fa-shopping-bag"></i> Promociones</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-6"><i class="fa fa-tags"></i> Precio Forzado</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover" id="tablePresentation" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Código</th>
                                                            <th>Descripción</th>
                                                            <th>Precio Unitario con IVA</th>
                                                            <th>Precio Total con IVA</th>
                                                            <th>Presentación</th>
                                                            <th>Piezas</th>
                                                            <th>Estatus</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover" id="tableSuppliers" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Proveedor</th>
                                                            <th>Codigo</th>
                                                            <th>Costo</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-3" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover" id="tableBase" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Código</th>
                                                            <th>Proveedor</th>
                                                            <th>Costo</th>
                                                            <th>Fecha</th>
                                                            <th>Usuario</th>
                                                            <th>Estatus</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-4" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover" id="tableSale" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Código</th>
                                                            <th>Margen</th>
                                                            <th>Precio</th>
                                                            <th>Precio con IVA</th>
                                                            <th>Fecha</th>
                                                            <th>Usuario</th>
                                                            <th>Estatus</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-5" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover" id="tablePromotion" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>></th>
                                                            <th>Código Promoción</th>
                                                            <th>Descripción</th>
                                                            <th>Fecha Final</th>
                                                            <th>Fecha Final</th>
                                                            <th>Usuario</th>
                                                            <th>Tipo</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-6" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover" id="tableSaleForced" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Código</th>
                                                            <th>Margen</th>
                                                            <th>Precio Origianl con IVA</th>
                                                            <th>Precio Nuevo con IVA</th>
                                                            <th>Fecha</th>
                                                            <th>Usuario</th>
                                                            <th>Estatus</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" id="showStores" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-cubes fa-2x"></i>   Productos Comunes</h4>
                <small id="ModalDescription" class="font-bold">Productos Comunes del producto</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-note2"></i>&nbsp Informacion</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label> <i class="fa fa-briefcase"></i> Folio:</label>
                        <div id="folioOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-commenting-o"></i> Producto Comun:</label>
                        <div id="descriptionOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-exclamation-circle"></i> Descripcion:</label>
                        <div id="tipoOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-usd"></i> Precio Promocion: </label>
                        <div id="precioOferta">-</div>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-cubes"></i>Cantidad</label>
                        <div id="cantidadOFerta">-</div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="fa fa-cart-arrow-down"></i>&nbsp Productos Comun</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="TableCommons" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                            <th>Precio Normal</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="CloseModalTwo();"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("model", serializer.Serialize(Model))
@section Scripts { @Scripts.Render("~/bundles/RPD006/js") }