﻿@{ ViewBag.Title = "RPD013"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Almacen</a></li>
                    <li>
                        <span>Reportes</span>
                    </li>
                    <li class="active">
                        <span>Reporte Ajuste de Inventario</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte Ajuste de Inventario
            </h2>
            <small>Reportes de Ajuste de Inventarios Aprobadas o rechazadas</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                    </div>
                    Reporte Ajuste de Inventario
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="ValidDate1" class="form-control" autocomplete="off" />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input type="text" id="ValidDate2" class="form-control" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label>Tipo de Moviento</label>
                            <select class="form-control select2" id="productMovementType">
                                <option value="">Todos</option>
                                <option value="Cr">Credito</option>
                                <option value="Dr">Debito</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label>Estatus</label>
                            <select class="form-control select2" id="productStatus">
                                <option value="">Todos</option>
                                <option value="3">Pendientes</option>
                                <option value="2">Rechazado</option>
                                <option value="1">Aprobado</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label>Productos</label>
                            <input class="form-control" id="ItemsDrop" name="ItemsDrop" />
                        </div>
                        <div class="col-lg-2 pull-right">
                            <br />
                            <button class="btn btn-primary" style="margin-bottom:30px" id="buscar" onclick="SearchInventoryCC()"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                        <div class="col-lg-2 pull-right">
                            <br />
                            <button class="btn btn-info" style="margin-bottom:30px" id="btnClear" onclick="SerchClear()"><i class="fa fa-paint-brush"></i> Limpiar</button>
                        </div>
                    </div>
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TableInventoryCC" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Estatus</th>
                                        <th>Documento</th>
                                        <th>Referencia</th>
                                        <th>Fecha</th>
                                        <th>Código</th>
                                        <th>Descripción</th>
                                        <th>Locación</th>
                                        <th>Movimiento</th>
                                        <th>Stock Anterior</th>
                                        <th>Ajuste</th>
                                        <th>Stock Nuevo</th>
                                        <th>Motivo</th>
                                        <th>Aprobo</th>
                                        <th>Solicito</th>
                                        <th>Reporte</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/RPD013/js") }
