﻿
@{ ViewBag.Title = "RPD015";

}
@model FloridoERPTX.ViewModels.Warehouse.RPD003Model

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="WSM003">Almacen</a></li>
                    <li>
                        <span>Reportes</span>
                    </li>
                    <li class="active">
                        <span>Kardex Horizontal</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Kardex Horizontal.
            </h2>
            <small>Reporte de Movimientos por Producto.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    @Html.TextBox("ValidDate1", null, new { @onchange = "", @class = "form-control", @autocomplete = "off" })
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    @Html.TextBox("ValidDate2", null, new { @onchange = "", @class = "form-control", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <label title="Producto" data-toggle="tooltip" data-placement="right">Productos</label>
                            <input class="form-control" id="ItemsDrop" name="ItemsDrop" />
                        </div>
                        <div class="form-group col-lg-3 ">
                            <label class="center" for="select_depto" data-toggle="tooltip" data-placement="right">Departamento</label>
                            @Html.DropDownListFor(m => m.Departamentos, Model.DeptosList, new { @class = "form-control select2", @id = "depto", @onchange = "" })
                        </div>
                        <div class="form-group col-lg-3">
                            <br />
                            <button class="btn btn-primary" id="btnSearchMovements"><i class="fa fa-eye"></i> Mostrar</button>
                        </div>
                    </div>
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TableProducts" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Descripcion</th>
                                        <th>Stock Inicial</th>
                                        <th>Ajuste Inventario</th>
                                        <th>$ Ajuste Inventario</th>
                                        <th>Entrada Negativo</th>
                                        <th>$ Entrada Negativo</th>
                                        <th>Salida Negativo</th>
                                        <th>$ Salida Negativo</th>
                                        <th>Salida Centro De Costos</th>
                                        <th>$ Salida Centro De Costos</th>
                                        <th>Salida Por Venta</th>
                                        <th>$ Salida Por Venta</th>
                                        <th>Salida Remision</th>
                                        <th>$ Salida Remision</th>
                                        <th>Salida RMA</th>
                                        <th>$ Salida RMA</th>
                                        <th>Salida Merma</th>
                                        <th>$ Salida Merma</th>
                                        <th>Reversa Venta</th>
                                        <th>$ Reversa Venta</th>
                                        <th>Reversa RMA</th>
                                        <th>$ Reversa RMA</th>
                                        <th>Salida Combo</th>
                                        <th>$ Salida Combo</th>
                                        <th>Salida Packs</th>
                                        <th>$ Salida Packs</th>
                                        <th>Salida Recetas</th>
                                        <th>$ Salida Recetas</th>
                                        <th>Salida Mat Prima</th>
                                        <th>$ Salida Mat Prima</th>
                                        <th>Salida Transformacion Piezas</th>
                                        <th>$ Salida Transformacion Piezas</th>
                                        <th>Salida Transferencia</th>
                                        <th>$ Salida Transferencia</th>
                                        <th>Entrada Cancelacion OC</th>
                                        <th>$ Entrada Cancelacion OC</th>
                                        <th>Entrada Combo</th>
                                        <th>$ Entrada Combo</th>
                                        <th>Entrada Packs</th>
                                        <th>$ Entrada Packs</th>
                                        <th>Entrada Recetas</th>
                                        <th>$ Entrada Recetas</th>
                                        <th>Entrada Transformacion Piezas</th>
                                        <th>$ Entrada Transformacion Piezas</th>
                                        <th>Entrada Orden Compra</th>
                                        <th>$ Entrada Orden Compra</th>
                                        <th>Entrada Sin Costo</th>
                                        <th>$ Entrada Sin Costo</th>
                                        <th>Entrada Nota Credito</th>
                                        <th>$ Entrada Nota Credito</th>
                                        <th>Reversa Nota Credito</th>
                                        <th>$ Reversa Nota Credito</th>
                                        <th>Reversa Transferencia</th>
                                        <th>$ Reversa Transferencia</th>
                                        <th>Entrada Transferencia</th>
                                        <th>$ Entrada Transferencia</th>
                                        @*IMPORTES*@
                                        @*<th>$ Ajuste Inventario</th>
                                            <th>$ Entrada Negativo</th>
                                            <th>$ Salida Negativo</th>
                                            <th>$ Salida Centro De Costos</th>
                                            <th>$ Salida Por Venta</th>
                                            <th>$ Salida Remision</th>
                                            <th>$ Salida RMA</th>
                                            <th>$ Salida Merma</th>
                                            <th>$ Reversa Venta</th>
                                            <th>$ Reversa RMA</th>
                                            <th>$ Salida Combo</th>
                                            <th>$ Salida Packs</th>
                                            <th>$ Salida Recetas</th>
                                            <th>$ Salida Mat Prima</th>
                                            <th>$ Salida Transformacion Piezas</th>
                                            <th>$ Salida Transferencia</th>
                                            <th>$ Entrada Cancelacion OC</th>
                                            <th>$ Entrada Combo</th>
                                            <th>$ Entrada Packs</th>
                                            <th>$ Entrada Recetas</th>
                                            <th>$ Entrada Transformacion Piezas</th>
                                            <th>$ Entrada Orden Compra</th>
                                            <th>$ Entrada Sin Costo</th>
                                            <th>$ Entrada Nota Credito</th>
                                            <th>$ Reversa Nota Credito</th>
                                            <th>$ Reversa Transferencia</th>
                                            <th>$ Entrada Transferencia</th>*@
                                        <th>Stock Final</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var listItems = [];
        $("#selectClass").select2();
        $("#selectType").select2();
        var id_location = 0;

        $("#ValidDate1").datepicker({
            autoclose: true,
            todayHighlight: true,
            showButtonPanel: true,
        });

        $("#ValidDate2").datepicker({
            autoclose: true,
            startDate: '01/01/1950',
            todayHighlight: true,
        });
        $("#ItemsDrop").select2({
            minimumInputLength: 3,
            allowClear: true,
            placeholder: "Seleccione un producto",
            initSelection: function (element, callback) {
                callback({ id: "", text: "Seleccione una opcion" });
            },
            ajax: {
                url: "/Items/ActionSearchItemBarcodeNoFlags/",
                dataType: 'json',
                type: "GET",
                quietMillis: 50,
                data: function (Filter) {
                    return {
                        Filter: Filter
                    };
                },
                results: function (data) {
                    return {
                        results: $.map(data.Json, function (item) {
                            return {
                                text: `${item.PathNumber} - ${item.Description}`,
                                id: item.PathNumber
                            }
                        }),
                    };
                }
            }
        });


        const formatmoney = money => decimal => new Intl.NumberFormat("en-US", { style: "currency", currency: "USD", currencyDisplay: "symbol", maximumFractionDigits: decimal }).format(money);


        var columnas = 58
        var sinSigno = [3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57]
        var conSigno = [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56]
        var par = false;



        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);
            window.setTimeout(function () {

                for (var i = 3; i <= columnas; i++) {
                    if (par) {
                        conSigno.push(i)
                        par = false;
                    } else {
                        sinSigno.push(i)
                        par = true;
                    }
                }
            }, 500);


        });
        $("#TableProducts").append('<tfoot><th colspan = "3">Totales</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tfoot>');

        var table = $('#TableProducts').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
                {
                    extend: 'csv', text: 'Excel', title: 'Kardex Horizontal', className: 'btn-sm', footer: true
                },
                {
                    extend: 'pdf', text: 'PDF', title: 'Kardex Horizontal', className: 'btn-sm', footer:true,
                    customize: function (doc) {
                        doc.content[1].table.widths =
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    }
                },
                {
                    extend: 'print', text: 'Imprimir', className: 'btn-sm',
                }
            ], "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                // converting to interger to find total
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                for (var i = 3; i < 57; i++) {
                    if (sinSigno.indexOf(i) >= 0) {
                        var monTotal = api
                            .column(i)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);
                        $(api.column(i).footer()).html(`<span> ${monTotal.toFixed(2)}</span >`);
                    } else {
                        var monTotal = api
                            .column(i)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);
                        $(api.column(i).footer()).html(`<span> ${formatmoney(monTotal)(2)}</span >`);
                    }



                }

            },
            columns:
                [
                    { data: 'part_number' },
                    { data: 'part_description' },
                    { data: 'Saldo_Inicial' },
                    { data: 'CC_INVENTORY' },
                    { data: 'CC_INVENTORY_A' },
                    { data: 'ENTRADA_AJUSTE_NEGATIVO' },
                    { data: 'ENTRADA_AJUSTE_NEGATIVO_A' },
                    { data: 'SALIDA_AJUSTE_NEGATIVO' },
                    { data: 'SALIDA_AJUSTE_NEGATIVO_A' },
                    { data: 'GI_COST_CENTER' },
                    { data: 'GI_COST_CENTER_A' },
                    { data: 'SALIDA_POR_PV' },
                    { data: 'SALIDA_POR_PV_A' },
                    { data: 'GI_FROM_BLOCKED_REMISION' },
                    { data: 'GI_FROM_BLOCKED_REMISION_A' },
                    { data: 'GI_FROM_BLOCKED_RMA' },
                    { data: 'GI_FROM_BLOCKED_RMA_A' },
                    { data: 'GI_FROM_BLOCKED_SCRAP' },
                    { data: 'GI_FROM_BLOCKED_SCRAP_A' },
                    { data: 'REVERSA_VENTA_TOTAL' },
                    { data: 'REVERSA_VENTA_TOTAL_A' },
                    { data: 'REVERSE_GI_FROM_BLOCKED_RMA' },
                    { data: 'REVERSE_GI_FROM_BLOCKED_RMA_A' },
                    { data: 'SALIDA_AJUSTE_COMBO_TOTAL' },
                    { data: 'SALIDA_AJUSTE_COMBO_TOTAL_A' },
                    { data: 'SALIDA_PACKS_TOTAL' },
                    { data: 'SALIDA_PACKS_TOTAL_A' },
                    { data: 'SALIDA_AJUSTE_RECETAS' },
                    { data: 'SALIDA_AJUSTE_RECETAS_A' },
                    { data: 'SALIDA_MATERIA_PRIMA' },
                    { data: 'SALIDA_MATERIA_PRIMA_A' },
                    { data: 'SALIDA_PACKS_TOTAL' },
                    { data: 'SALIDA_PACKS_TOTAL_A' },
                    { data: 'TRANSFER_GI' },
                    { data: 'TRANSFER_GI_A' },
                    { data: 'CANCEL_GR_PO' },
                    { data: 'CANCEL_GR_PO_A' },
                    { data: 'ENTRADA_AJUSTE_COMBO_TOTAL' },
                    { data: 'ENTRADA_AJUSTE_COMBO_TOTAL_A' },
                    { data: 'ENTRADA_PACKS_TOTAL' },
                    { data: 'ENTRADA_PACKS_TOTAL_A' },
                    { data: 'ENTRADA_AJUSTE_RECETA' },
                    { data: 'ENTRADA_AJUSTE_RECETA_A' },
                    { data: 'ENTRADA_PACKS_TOTAL' },
                    { data: 'ENTRADA_PACKS_TOTAL_A' },
                    { data: 'GR_FROM_PO' },
                    { data: 'GR_FROM_PO_A' },
                    { data: 'GR_WITHOUT_COST' },
                    { data: 'GR_WITHOUT_COST_A' },
                    { data: 'NOTA_DE_CREDITO' },
                    { data: 'NOTA_DE_CREDITO_A' },
                    { data: 'REVERSA_NOTA_DE_CREDITO' },
                    { data: 'REVERSA_NOTA_DE_CREDITO_A' },
                    { data: 'REVERSE_TRANSFER' },
                    { data: 'REVERSE_TRANSFER_A' },
                    { data: 'TRANSFER_GR' },
                    { data: 'TRANSFER_GR_A' },

                    //{ data: 'CC_INVENTORY_A' },
                    //{ data: 'ENTRADA_AJUSTE_NEGATIVO_A' },
                    //{ data: 'SALIDA_AJUSTE_NEGATIVO_A' },
                    //{ data: 'GI_COST_CENTER_A' },
                    //{ data: 'SALIDA_POR_PV_A' },
                    //{ data: 'GI_FROM_BLOCKED_REMISION_A' },
                    //{ data: 'GI_FROM_BLOCKED_RMA_A' },
                    //{ data: 'GI_FROM_BLOCKED_SCRAP_A' },
                    //{ data: 'REVERSA_VENTA_TOTAL_A' },
                    //{ data: 'REVERSE_GI_FROM_BLOCKED_RMA_A' },
                    //{ data: 'SALIDA_AJUSTE_COMBO_TOTAL_A' },
                    //{ data: 'SALIDA_PACKS_TOTAL_A' },
                    //{ data: 'SALIDA_AJUSTE_RECETAS_A' },
                    //{ data: 'SALIDA_MATERIA_PRIMA_A' },
                    //{ data: 'SALIDA_PACKS_TOTAL_A' },
                    //{ data: 'TRANSFER_GI_A' },
                    //{ data: 'CANCEL_GR_PO_A' },
                    //{ data: 'ENTRADA_AJUSTE_COMBO_TOTAL_A' },
                    //{ data: 'ENTRADA_PACKS_TOTAL_A' },
                    //{ data: 'ENTRADA_AJUSTE_RECETA_A' },
                    //{ data: 'ENTRADA_PACKS_TOTAL_A' },
                    //{ data: 'GR_FROM_PO_A' },
                    //{ data: 'GR_WITHOUT_COST_A' },
                    //{ data: 'NOTA_DE_CREDITO_A' },
                    //{ data: 'REVERSA_NOTA_DE_CREDITO_A' },
                    //{ data: 'REVERSE_TRANSFER_A' },
                    //{ data: 'TRANSFER_GR_A' },
                    ///////
                    { data: 'Saldo_Final' }
                ],
            columnDefs:
                [

                    {
                        width: "1%",
                        targets: sinSigno,
                        render: function (data, type, full, name) {
                            if (data == null)
                                return "0";
                            else
                                return parseFloat(data).toFixed(2);
                        }
                    },
                    {
                        width: "1%",
                        targets: conSigno,
                        render: function (data, type, full, name) {
                            if (data == null)
                                return "$0";
                            else
                                return formatmoney(data,2);
                        }
                    }
                ]
        });


        $('#btnSearchMovements').on('click', function (r, e) {
            toastr.remove();
            toastr.options =
                {
                    "debug": false,
                    "newestOnTop": false,
                    "positionClass": "toast-top-center",
                    "closeButton": true,
                    "debug": false,
                    "toastClass": "animated fadeInDown",
                };
            if ($("#ValidDate1").val() == "") {
                toastr.error('Seleccione una fecha');
                $("#ValidDate1").val("");
                $("#ValidDate1").focus();
            }
            else if ($("#ValidDate2").val() == "") {
                toastr.error('Seleccione una fecha');
                $("#ValidDate2").val("");
                $("#ValidDate2").focus();
            }
            else if (moment($("#ValidDate2").val()) < moment($("#ValidDate1").val())) {
                toastr.error('Fecha Final no puede ser menor a Inicial');
                $("#ValidDate2").val("");
                $("#ValidDate2").focus();
            }
            else {
                StartLoading();
                $.ajax({
                    url: "/Items/ActionGetItemsKardexHor",
                    type: "POST",
                    data: {
                        "DateInitial": $("#ValidDate1").val(), "DateFinish": $("#ValidDate2").val(), "department": $("#depto").val(), "part_number": $("#ItemsDrop").val()  },
                    success: function (returndata) {
                        EndLoading();
                        if (returndata.data === 'Termino tu sesión.')
                            SessionFalse(returndata.responseText);
                        else if (returndata) {
                            console.log(returndata);
                            table.clear().draw();
                            table.rows.add(returndata)
                            table.columns.adjust().draw();
                        }
                        else {
                            toastr.warning(returndata.responseText);
                            table.clear().draw();
                        }
                    },
                    error: function () {
                        EndLoading();
                        toastr.error('Error inesperado contactar a sistemas.');
                    }
                });
            }
        });


    </script>
}

