﻿@model FloridoERPTX.ViewModels.Warehouse.RPD003Model
@{ ViewBag.Title = "RPD003"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="WSM003">Almacen</a></li>
                    <li>
                        <span>Reportes</span>
                    </li>
                    <li class="active">
                        <span>Reporte de Dia de Inventario y Excedentes</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte Dia de Inventarios y Excedentes
            </h2>
            <small></small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Reporte Dia de Inventarios y Excedentes</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-3 ">
                            <label class="center" for="select_depto" data-toggle="tooltip" data-placement="right">Departamento</label>
                            @Html.DropDownListFor(m => m.Departamentos, Model.DeptosList, new { @class = "form-control select2", @id = "depto", @onchange = "GetFamily();" })
                        </div>
                        <div class="form-group col-lg-3 ">
                            <label class="center" for="select_family" data-toggle="tooltip" data-placement="right">Familia</label>
                            <select id="family" class="form-control select2 center">
                                <option value="">Seleccione una familia</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3 ">
                            <label class="center" for="select_supplier" data-toggle="tooltip" data-placement="right">Proveedor</label>
                            <input class="form-control" id="supplier" name="supplier" />
                        </div>
                        <div class="form-group col-lg-3">
                            <br />
                            <button class="btn btn-primary" id="btnSearch" onclick="search()"><i class="fa fa-eye"></i> Mostrar</button>
                            <button class="btn btn-success" id="btnPrint" onclick="print()"><i class="fa fa-print"></i> Imprimir</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 ">
                            <label class="center" data-toggle="tooltip" data-placement="left">Filtrar dias de excedentes</label>
                            <label> <input type="checkbox" checked id="ckbox_excess" onclick="check()" class="i-checks "></label>
                            <label class="center" id="idLblCheck"><input class="form-control" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" min="0" id="excessDays" value="0" style="width:75px"></label>
                            <label class="center" id="idLblDays">Dias</label>
                        </div>
                    </div>
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="tableItems" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Código Producto</th>
                                        <th>Descripción</th>
                                        <th>Dias de Inventario</th>
                                        <th>Venta Promedio Diaria</th>
                                        <th>Ultima Venta</th>
                                        <th>Ultima Compra</th>
                                        <th>Stock Disponible</th>
                                        <th>Locación</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{ @Scripts.Render("~/bundles/RPD003/js") }