﻿@model FloridoERPTX.ViewModels.Warehouse.RPD0StockReportViewModel
@{
    ViewBag.Title = "RPD007";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen</a></li>
                    <li><a href=""></a>Reportes</li>
                    <li class="active">
                        <span>Reporte Materia Prima</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte Materia Prima
            </h2>
            <small>Descripción de los traspasos a materia prima</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Transferencias A Materia Prima</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="ValidDate1" class="form-control" autocomplete="off" readonly />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input type="text" id="ValidDate2" class="form-control" autocomplete="off" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 text-center" style="margin-top:3px">
                            <label>Detalle</label>
                            <br />
                            <div class="form-group">
                                <label> <input type="checkbox" id="cbox_ReportType" onclick="checkDetailRaw();" class="i-checks"></label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label>Estatus</label>
                            <select id="ReportTypeStatus" class="form-control select2">
                                <option selected value="">Todos</option>
                                <option value="0">Iniciado</option>
                                <option value="2">Aprobado</option>
                                <option value="8">Cancelado</option>
                                <option value="9">Terminado</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label>Locación</label>
                            @Html.DropDownListFor(m => m.LocationRaw, Model.LocationRawList, new { @class = "form-control select2", @id = "LocationsDrop" })
                        </div>
                        <div class="col-lg-1" style="margin-top: 20px;">
                            <button class="btn btn-primary" id="btnSearch" onclick="SearchTransfer()"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                        <div class="col-lg-1" id="btnSearchDiv" style="margin-top: 20px;">
                            <button class="btn btn-info" id="btnClear" onclick="ClearSelect();"><i class="fa fa-paint-brush"></i> Limpiar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3" hidden id="departmentDropDiv" style="margin-top:10px; margin-bottom:15px;">
                            <label>Departamento</label>
                            @Html.DropDownListFor(m => m.Departamentos, Model.DeptosList, new { @class = "form-control select2", @id = "departmentDrop", @onchange = "GetFamily();" })
                        </div>
                        <div class="col-lg-3" hidden id="familyDiv" style="margin-top:10px; margin-bottom:15px;">
                            <label>Familia</label>
                            <select id="family" class="form-control select2">
                                <option value="" selected>Seleccione una familia</option>
                            </select>
                        </div>
                        <div class="col-lg-2" hidden id="btnPrintDiv" style="margin-top:32px; margin-bottom:15px;">
                            <button class="btn btn-success" id="btnPrint"><i class="fa fa-print"></i> Imprimir</button>
                        </div>
                    </div>
                    <div id="TableProduct" class="animate-panel" data-effect="zoomIn">
                        <div class="row projects">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="tableRaw" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Folio</th>
                                                <th>Status</th>
                                                <th>Fecha de Traspaso</th>
                                                <th>Usuario Recibo</th>
                                                <th>Usuario Gerencia</th>
                                                <th>Locacion de Traspaso</th>
                                                <th>Comentario</th>
                                                <th>Iva</th>
                                                <th>Ieps</th>
                                                <th>SubTotal</th>
                                                <th>Total</th>
                                                <th>Reporte</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tableDetail" class="animate-panel hidden" data-effect="zoomIn">
                        <div class="row projects">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="detailReport" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Folio</th>
                                                <th>Código</th>
                                                <th>Descripción</th>
                                                <th>Departamento</th>
                                                <th>Familia</th>
                                                <th>Fecha</th>
                                                <th>Aprobado</th>
                                                <th>Autorizado</th>
                                                <th>Locación</th>
                                                <th>Estatus</th>
                                                <th>Cantidad</th>
                                                <th>Costo Unitario</th>
                                                <th>IVA</th>
                                                <th>IEPS</th>
                                                <th>SubTotal</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/RPD007/js") }