﻿@model FloridoERPTX.ViewModels.Warehouse.TransfersModels
@{ ViewBag.Title = "RPD008"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen</a></li>
                    <li><a href=""></a>Reportes</li>
                    <li class="active">
                        <span>Reporte Transferencias</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte Transferencias
            </h2>
            <small>Detalle de las transferencias entradas y salidas</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Transferencias</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4" style="margin-top:10px">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="ValidDate1" class="form-control" autocomplete="off" />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input type="text" id="ValidDate2" class="form-control" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4" style="margin-top:10px">
                            <label title="Tipo de Transferencia" data-toggle="tooltip" data-placement="right">Tipo de Transferencia</label>
                            <select id="SelectOptions" class="form-control select2" onchange="SelectorTransfer();SearchTransfer();">
                                <option value="salida">Salidas</option>
                                <option value="entrada">Entradas</option>
                            </select>
                        </div>
                        <div class="col-lg-4" id="statusTransferIn" hidden style="margin-top:10px">
                            <label>Estatus Entradas</label>
                            <select class="form-control select2" id="statusIn">
                                <option value="" selected>Seleccione un estatus</option>
                                <option value="0">Creada</option>
                                <option value="1">Aprobada</option>
                                <option value="2">Rechazada Gerencia</option>
                                <option value="3">Camino Transito</option>
                                <option value="4">Transito</option>
                                <option value="8">Cancelada</option>
                                <option value="9">Terminada</option>
                            </select>
                        </div>

                        <div class="col-lg-4" id="statusTransferOut" style="margin-top:10px">
                            <label>Estatus Salidas</label>
                            <select class="form-control select2" id="statusOut">
                                <option value="" selected>Seleccione un estatus</option>
                                <option value="0">Creada</option>
                                <option value="1">Aprobada</option>
                                <option value="2">Rechazada Gerencia</option>
                                <option value="3">Camino Transito</option>
                                <option value="4">Transito</option>
                                <option value="8">Cancelada</option>
                                <option value="9">Terminada</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4" style="margin-top:5px">
                        <label>Departamento</label>
                        @Html.DropDownListFor(m => m.Departamentos, Model.DeptosList, new { @class = "form-control select2", @id = "depto", @onchange = "GetFamily();" })
                    </div>
                    <div class="col-lg-4 pull-left" style="margin-top:5px">
                        <label>Familia</label>
                        <select id="family" class="form-control select2">
                            <option value="">Seleccione una familia</option>
                        </select>
                    </div>
                    <div class="col-lg-4" style="margin-top:5px">
                        <label>Productos</label>
                        <input class="form-control" id="ItemSelect" name="ItemSelect" />
                    </div>
                    <div class="col-lg-4" style="margin-top:8px">
                        <label>Tiendas</label>
                        @Html.DropDownListFor(m => m.Site, Model.SiteList, new { @class = "form-control select2", @id = "sites" })
                    </div>
                    <div class="col-lg-1 text-center" style="margin-top:15px">
                        <label>Detalle</label>
                        <br />
                        <div class="form-group">
                            <label> <input type="checkbox" id="cbox_ReportType" onclick="checkDetail();" class="i-checks"></label>
                        </div>
                    </div>
                    <div class="col-lg-1" style="margin-top:8px">
                        <br />
                        <button class="btn btn-primary" id="buscar" onclick="SearchTransfer()"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                    <div class="col-lg-1" style="margin-top:8px">
                        <br />
                        <button class="btn btn-info" id="printPDF" onclick="SearchTransferReport()"><i class="fa fa-print"></i> Imprimir</button>
                    </div>
                    <div id="TableProduct" class="animate-panel" data-effect="zoomIn">
                        <div class="row projects">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="tableTransfers" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Documento</th>
                                                <th>Sitio Origen</th>
                                                <th>Sitio Destino</th>
                                                <th>Fecha</th>
                                                <th>Status</th>
                                                <th>Comentario</th>
                                                <th>Monto</th>
                                                <th>Iva</th>
                                                <th>Ieps</th>
                                                <th>Total</th>
                                                <th>Reporte</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tableTransfersDetailDiv" class="animate-panel" hidden data-effect="zoomIn">
                        <div class="row projects">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="tableTransfersDetail" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Folio</th>
                                                <th>Código</th>
                                                <th>Descripción</th>
                                                <th>Departamento</th>
                                                <th>Familia</th>
                                                <th>Entrada/Salida</th>
                                                <th>Entrada Esperada</th>
                                                <th>Tienda</th>
                                                <th>Moneda</th>
                                                <th>Cantidad</th>
                                                <th>Costo Unitario</th>
                                                <th>Importe</th>
                                                <th>IVA</th>
                                                <th>IEPS</th>
                                                <th>SubTotal</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="myModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg row">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-print"></i> Reporte</h4>
            </div>
            <div class="modal-body" style="height:550px">
                <div id="iframes" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Orden de compra</h4>
                <small id="ModalDescription" class="font-bold">Reporte de Transferencia.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/RPD008/js") }