﻿@model App.Entities.ViewModels.Item.ItemSalesInventoryViewModel
@{ ViewBag.Title = "RPD005"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="WSM003">Almacen </a></li>
                    <li>
                        <span>Reportes</span>
                    </li>
                    <li class="active">
                        <span>Códigos Faltantes</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Códigos Faltantes
            </h2>
            <small>Reporte de productos que no se han surtido</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Códigos Faltantes</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Proveedor</label>
                            <input class="form-control" id="supplier" name="supplier" />
                        </div>
                        <div class="col-lg-3">
                            <label>Departamento</label>
                            <select id="department" class="form-control select2" onchange="GetFamily();">
                                <option value="0" selected>Seleccione una departamento</option>
                                @foreach (var item in Model.Departments)
                                {
                                    <option value="@item.class_id">@item.class_name</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Familia</label>
                            <select id="family" class="form-control select2">
                                <option value="0" selected>Seleccione una familia</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <br />
                            <button id="Search" class="btn btn-primary"><i class="fa fa-eye"></i> Mostrar</button>
                            <button id="Print" class="btn btn-success" disabled><i class="fa fa-print"></i> Imprimir</button>
                        </div>
                    </div>
                    <br />
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="Items" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Código Producto</th>
                                        <th>Descripción</th>
                                        <th>Stock Disponible</th>
                                        <th>Ultima Compra</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model.ItemSalesInventory))
@section Scripts { @Scripts.Render("~/bundles/RPD005/js") }