﻿@{ ViewBag.Title = "RPD001"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="WSM003">Almacen</a></li>
                    <li>
                        <span>Reportes</span>
                    </li>
                    <li class="active">
                        <span>Kardex Productos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Kardex de Productos.
            </h2>
            <small>Reporte de Movimientos por Producto.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="ValidDate1" class="form-control" autocomplete="off" />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input type="text" id="ValidDate2" class="form-control" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label title="Producto" data-toggle="tooltip" data-placement="right">Productos</label>
                            <input class="form-control" id="ItemsDrop" name="ItemsDrop" />
                        </div>
                        <div class="form-group col-lg-3">
                            <br />
                            <button class="btn btn-primary" id="btnSearchMovements"><i class="fa fa-eye"></i> Mostrar</button>
                            <button class="btn btn-success" disabled id="btnPrintMovements"><i class="fa fa-print"></i> Imprimir</button>
                        </div>
                    </div>
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TableProductsMovement" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Fecha Movimiento</th>
                                        <th># Documento</th>
                                        <th>Documento Referencia</th>
                                        <th>Tipo de Referencia</th>
                                        <th>Tipo de Documento</th>
                                        <th>Tipo de Movimiento</th>
                                        <th>Tipo de Inventario</th>
                                        <th>Moneda</th>
                                        <th>Stock Inicial</th>
                                        <th>Movimiento</th>
                                        <th>Cantidad</th>
                                        <th>Stock Final</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/RPD001/js") }