﻿@model List<App.Entities.MA_CLASS>
@{
    ViewBag.Title = "SSM003";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

<style>
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="WSM006">Reportes</a>
                    </li>
                    <li class="active">
                        <span>Merma Controlada</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Merma Controlada
            </h2>
            <small>Reporte de Merma Controlada</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel blue">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <label>Fecha Inicial</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker'>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    <input id="dateInit" type='text' class="form-control" autocomplete="off" readonly />
                                </div>
                                <label id="dateInitError" class="error" hidden>El Campo no puede ser nulo</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label>Fecha Final</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    <input id="dateFin" type='text' class="form-control" autocomplete="off" readonly />
                                </div>
                                <label id="dateFinError" class="error" hidden>El Campo no puede ser nulo</label>
                            </div>
                        </div>
                        <div class="col-lg-2" id="divStatus">
                            <label>Estatus</label>
                            <div class="form-group">
                                <select id="status" class="form-control">
                                    <option value="0">Todos</option>
                                    <option value="1">Inicializada</option>
                                    <option value="9">Terminada</option>
                                    <option value="8">Cancelada</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3" id="divDepartment" hidden>
                            <label>Departamento</label>
                            <div class="form-group">
                                <select id="department" class="form-control">
                                    <option value="0">Todos</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.class_id">@item.class_name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <label>Detalle</label>
                            <br />
                            <div class="form-group">
                                <label> <input type="checkbox" id="ckbox_excess" onclick="check()" class="i-checks "></label>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-info" style="margin-top:22px;" onclick="SearchDocuments()">
                                <i class="fa fa-search"></i> Buscar
                            </button>
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-info" style="margin-top:22px;" onclick="showModalTotals()">
                                Totales
                            </button>
                        </div>
                    </div>
                    <div class="animate-panel" data-effect="zoomIn" id="tableEMSCContent" hidden>
                        <div class="row table-responsive">
                            <table class="table table-striped table-bordered table-hover" style="width:100%" id="tableEMSCHead">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Número de Documento</th>
                                        <th>Usuario</th>
                                        <th>Tienda</th>
                                        <th>Fecha</th>
                                        <th>Estado</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="animate-panel" data-effect="zoomIn" id="divTableScrapDep" hidden>
                        <div class="row table-responsive">
                            <table class="table table-striped table-bordered table-hover" style="width:100%" id="tableScrapDep">
                                <thead>
                                    <tr>
                                        <th>Documento</th>
                                        <th>Estatus</th>
                                        <th>Código</th>
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>UM</th>
                                        <th>Costo</th>
                                        <th class="sumP">Importe</th>
                                        <th>Fecha</th>
                                        <th>Familia</th>
                                        <th>Departamento</th>
                                        <th>Motivo</th>
                                        <th>Usuario</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="myModalpdf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg row">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-print"></i> Imprimir/PDF</h4>
            </div>
            <div class="modal-body" style="height:350px">
                <div id="iframes" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="modalTotals" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Reporte Merma Controlada Totales</h4>
                <small class="font-bold">Reporte merma controlada por departamento totalizados</small>
            </div>
            <div class="modal-body">
                <div class="row table-responsive">
                    <table class="table table-striped table-bordered table-hover" style="width:100%" id="tableScrapTotal">
                        <thead>
                            <tr>
                                <th>Departamento</th>
                                <th>Importe</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/SSM003/js") }