﻿@model List<App.Entities.ViewModels.DamagedsGoods.DamagedsGoodsModel>
@{ ViewBag.Title = "SSM001"; }

<style>
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="WSM006">Menu Merma Controlada </a>
                    </li>
                    <li class="active">
                        <span>Aplicar Salida Merma</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Merma Controlada
            </h2>
            <small>Aplicar Salida Merma</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel blue">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Fecha Inicial</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker'>
                                    <input id="dateInit" type='text' class="form-control" autocomplete="off" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <label id="dateInitError" class="error" hidden>El Campo no puede ser nulo</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label>Fecha Final</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input id="dateFin" type='text' class="form-control" autocomplete="off" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <label id="dateFinError" class="error" hidden>El Campo no puede ser nulo</label>
                            </div>
                        </div>
                    </div>
                    <div class="animate-panel" data-effect="zoomIn" id="tableEMSCContent">
                        <div class="row table-responsive">
                            <table class="table table-striped table-bordered table-hover" style="width:100%" id="tableEMSCHead">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Numero de Documento</th>
                                        <th>Usuario</th>
                                        <th>Tienda</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model))
@section Scripts { @Scripts.Render("~/bundles/SSM002/js") }