﻿
@{
    ViewBag.Title = "SSM005";
}
@model List<App.Entities.ViewModels.DamagedsGoods.DamagedsGoodsModel>
<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen </a></li>
                    <li>
                        <a href="WSM006">Reportes</a>
                    </li>
                    <li class="active">
                        <span>Merma Controlada</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                 Cancelacion Merma Conocida
            </h2>
            <small>Cancelacion de Merma Conocida.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="BeginDate" class="form-control" autocomplete="off" readonly />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input type="text" id="EndDate" class="form-control" autocomplete="off" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="DivTableDocuments" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="ScrapDocuments" class="table table-striped table-bordered table-hover" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Número de Documento</th>
                                        <th>Usuario</th>
                                        <th>Fecha</th>
                                        <th>Estado</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

    const formatmoney = money => decimal => new Intl.NumberFormat("en-US", { style: "currency", currency: "USD", currencyDisplay: "symbol", maximumFractionDigits: decimal }).format(money);

    //DatePicker y validacion solo el mes
    var date = new Date();
    var primerDia = new Date(date.getFullYear(), date.getMonth(), 1);
    var ultimoDia = new Date(date.getFullYear(), date.getMonth() + 1, 0);
    var mes = (primerDia.getMonth() + 1).toString();
    var mesAnterior = (primerDia.getMonth()).toString();
    var ano = primerDia.getFullYear().toString();
    var diaFin = ultimoDia.getDate().toString();
    var fechaInicio = mesAnterior + "/1/" + ano;
    var fechaFin = mes + "/" + diaFin + "/" + ano;

    $("#BeginDate").datepicker({
        autoclose: true,
        todayHighlight: true,
        showButtonPanel: true,
        startDate: fechaInicio,
        endDate: fechaFin,
    }).on("changeDate", function (e) {
        SearchDocuments();
    });

    $("#EndDate").datepicker({
        autoclose: true,
        startDate: fechaInicio,
        endDate: fechaFin,
        todayHighlight: true,
    }).on("changeDate", function (e) {
        SearchDocuments();
    });

    $(document).ready(function () {
        window.setTimeout(function () { $("#fa").click(); }, 1000);
        var Documents = @Html.Raw(Json.Encode(Model));
        table.clear();
        table.rows.add(jQuery(Documents));
        table.columns.adjust().draw();
    });

    var table = $('#ScrapDocuments').DataTable({
        oLanguage:
        {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
            "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
        },
        dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        buttons:
            [
                { extend: 'csv', text: 'Excel', title: 'Merma Contralada', className: 'btn-sm', footer: true },
                {
                    extend: 'pdf', text: 'PDF', title: 'Merma Contralada', className: 'btn-sm',
                    exportOptions: { columns: [1, 2, 3] }
                },
                { extend: 'print', text: 'Imprimir', className: 'btn-sm', footer: true },
            ],
        columns:
            [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": ""
                },
                { data: 'Document' },
                { data: 'User' },
                { data: 'Fecha' },
                { data: 'Status' },
                { data: 'Amount' }
            ],
        columnDefs: [
            {
                targets: [0],
                width: "1%"
            },
            {
                targets: [1, 2, 3],
                width: "1%"
            },
            {
                targets: [4],
                render: function (data, type, full, meta) {
                    if (data == 1) {
                        return "Inicializada"
                    }
                    else if (data == 2) {
                        return "Procesada"
                    }else if (data == 6) {
                        return "Solicitud de Cancelacion"
                    }
                    else if (data == 9) {
                        return "Terminada"
                    }
                    else if (data == 8 || data == 3) {
                        return "Cancelada"
                    }
                    else {
                        return "Desconocido"
                    }
                },
                width: "1%"
            },
            {
                targets: [5],
                render: function (data, type, full, meta) {
                    return `<span>${formatmoney(data)(4)}</span>`
                },
                width: "1%"
            }
        ]
    });

    $('#ScrapDocuments tbody').on('click', 'tr td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);
        if (row.child.isShown()) {
            row.child.hide();
            tr.removeClass('details');
        }
        else {
            if (table.row('.details').length) {
                $('.details-control', table.row('.details').node()).click();
            }
            row.child(format(row.data())).show();
            tr.addClass('details');
        }
    });

    table.on('draw', function () {
        $.each(detailRows, function (i, id) {
            $('#' + id + ' td.details-control').trigger('click');
        });
    });
    var detailRows = [];

    function format(d) {
        var detailItems = "";
        var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
        $.ajax({
            url: "/DamagedsGoods/ActionGetItemsByDocumentReport",
            data: { "document": d.Document, "status": 6 },
            type: "GET",
            success: function (returndate) {
                $.each(returndate.Json, function (index, value) {
                    //total = value.IVA + value.IEPS + value.Amount;
                    detailItems += "<tr><td>" + value.PartNumber + "</td><td>" + value.Description + "</td><td>" + (value.ScrapReason == null ? 'Sin razón' : value.ScrapReason) + "</td><td class='text-right'>$ " + value.Price + "</td><td class='text-right'>" + value.Quantity + "</td><td class='text-right'>" + formatmoney(value.Amount)(4) + "</td></tr>"
                });
                btn = "";
                if (d.Status == 6) {
                    btn = '<div class="form-group col-md-12"> <div class="row"> <div class="pull-right"><button id="btn-approval" type="button" class="btn btn-sm btn-success" onclick="CancellationClick(' + d.Document + ',' + d.Status + ' , 8);"><i class="fa fa-check"></i> Aprobar</button>    <button id="btn-save" type="button" class="btn btn-sm btn-danger" onclick="CancellationClick(' + d.Document + ',' + d.Status + ' ,9 );"><i class="fa fa-close"></i> Rechazar</button></div></div>'
                }
                tabledetail.html('<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">' +
                    '<thead><tr><th>Código</th><th>Descripción</th><th>Razón</th><th>Precio</th><th>Cantidad</th><th>Importe</th></tr></thead><tbody>' + detailItems + '</tbody></table>' + btn).removeClass('loading');
                reloadStyleTable();
            }
        });
        return tabledetail;
    }

    function reloadStyleTable() {
        $('#tabledetail').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "",
                "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria":
                {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
        });
    }



    function SearchDocuments() {
        if ($('#BeginDate').val() != "" && $('#EndDate').val() != "") {
            if (moment($('#EndDate').val()) < moment($('#BeginDate').val())) {
                toastr.error("Fecha final no puede ser menor a la inicial.");
                $('#dateFin').focus();
                return;
            }
            else {
                StartLoading();
                    $.ajax({
                        url: "/DamagedsGoods/ActionGetDocumentsReport",
                        type: "GET",
                        data: { "dateInicial": $('#BeginDate').val(), "dateFinal": $('#EndDate').val(), "status": 6 },
                        success: function (response) {
                            EndLoading();
                            if (response.success) {
                                table.clear().draw();
                                table.rows.add(response.Orders);
                                table.columns.adjust().draw();
                            }
                            else if (response.responseText === 'Termino tu sesión.')
                                SessionFalse(response.responseText);
                            else {
                                toastr.warning(response.responseText);
                                table.clear().draw();
                            }
                        },
                        error: function () {
                            EndLoading();
                            toastr.error('Error inesperado contactar a sistemas.');
                        }
                    });
                }
            }
    }
    function CancellationClick(doc , old_status , new_status ){
        var txt = '';
        var title = '';
        if(new_status == 8){
            txt = 'Se realizara el ajuste del inventario'
            title = 'Esta seguro de aprobar el folio?'
        }else{
            txt = 'No se realizara el ajuste del inventario'
            title = 'Esta seguro de cancelar el folio?'
        }
        swal({
            title: title,
            text: txt,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Continuar",
            cancelButtonText: "Cancelar"
        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    StartLoading();
                                    $.ajax({
                                        url: "/DamagedsGoods/ActionChangeStatusScrap",
                                        type: "POST",
                                        data: { "doc": doc, "old_status": old_status, "new_status": new_status },
                                        success: function (response) {
                                            EndLoading();
                                            if (response.success) {
                                                if(new_status == 8)
                                                swal({
                                                    title: 'Aprobado',
                                                    text: "Documento : "+  response.data + " ajustado con exito." ,
                                                    type: "success"
                                                });
                                                else{
                                                    swal({
                                                        title: 'Rechazado',
                                                        text: "Rechazado con exito." ,
                                                        type: "success"
                                                    });
                                                }
                                                if($('#BeginDate').val() == "" && $('#EndDate').val() == ""){
                                                    const startOfMonth = moment().startOf('month').format('YYYY-MM-DD');
                                                    const endOfMonth   = moment().endOf('month').format('YYYY-MM-DD');
                                                    StartLoading();
                                                    $.ajax({
                                                        url: "/DamagedsGoods/ActionGetDocumentsReport",
                                                        type: "GET",
                                                        data: { "dateInicial": startOfMonth, "dateFinal": endOfMonth, "status": 6 },
                                                        success: function (response) {
                                                            EndLoading();
                                                            if (response.success) {
                                                                table.clear().draw();
                                                                table.rows.add(response.Orders);
                                                                table.columns.adjust().draw();
                                                            }
                                                            else if (response.responseText === 'Termino tu sesión.')
                                                                SessionFalse(response.responseText);
                                                            else {
                                                                toastr.warning(response.responseText);
                                                                table.clear().draw();
                                                            }
                                                        },
                                                        error: function () {
                                                            EndLoading();
                                                            toastr.error('Error inesperado contactar a sistemas.');
                                                        }
                                                    });
                                                }else{
                                                    StartLoading();
                                                    $.ajax({
                                                        url: "/DamagedsGoods/ActionGetDocumentsReport",
                                                        type: "GET",
                                                        data: { "dateInicial": $('#BeginDate').val(), "dateFinal": $('#EndDate').val(), "status": 6 },
                                                        success: function (response) {
                                                            EndLoading();
                                                            if (response.success) {
                                                                table.clear().draw();
                                                                table.rows.add(response.Orders);
                                                                table.columns.adjust().draw();
                                                            }
                                                            else if (response.responseText === 'Termino tu sesión.')
                                                                SessionFalse(response.responseText);
                                                            else {
                                                                toastr.warning(response.responseText);
                                                                table.clear().draw();
                                                            }
                                                        },
                                                        error: function () {
                                                            EndLoading();
                                                            toastr.error('Error inesperado contactar a sistemas.');
                                                        }
                                                    });
                                                }
                                            }
                                            else if (response.responseText === 'SF')
                                                SessionFalse('Termino tu sesión.');
                                            else {
                                                toastr.error('Error inesperado contactar a sistemas.');
                                            }
                                        },
                                        error: function () {
                                            EndLoading();
                                            toastr.error('Error inesperado contactar a sistemas.');
                                        }
                                    });
                                }})
    }


    </script>
}
