﻿@model App.Entities.ViewModels.StorageLocation.PlanogramLocationModel
@{
    ViewBag.Title = "STGL002";
    List<SelectListItem> products = new List<SelectListItem>();
    products.Add(new SelectListItem { Text = "Seleccione una opción", Value = "" });
    if (Model.ItemsList != null)
    {
        foreach (var item in Model.ItemsList)
        {
            products.Add(new SelectListItem { Text = item.Description, Value = item.PathNumber });
        }
    }
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

@section Styles { @Styles.Render("~/bundles/bootstrap-tour/css") }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
                    <li>
                        <a href="MENPURCH000">Configuración</a>
                    </li>
                    <li>
                        <a href="PURCH007">Almacén</a>
                    </li>
                    <li class="active">
                        <span class="text-primary">Planograma</span>
                    </li>
                    <li>
                        <a>
                            <h5 class="pe-7s-help1 text-info" data-toggle="tooltip" data-placement="left" data-original-title="Ayuda" onclick="HelpTour();"></h5>
                        </a>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">Configuración de Planograma</h2>
            <small>Formulario para configuración locaciones de planograma.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Planograma</a>
                </div>
                <div class="panel-body">
                    <div id="PanelGid" class="animate-panel" data-effect="fadeInRight">
                        <div class="animate-panel">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="hpanel">
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table id="tablePlanogramLocation" class="table table-striped table-bordered table-hover" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th><button id="Btadd" type="button" class="btn btn-xs btn-success" onclick="PanelInfoShow();"><i class="fa fa-plus"></i> Agregar</button></th>
                                                            <th>Locación</th>
                                                            <th>Código</th>
                                                            <th>Descripción</th>
                                                            <th>Cantidad</th>
                                                            <th>Descripción Locación</th>
                                                            <th>Tipo</th>
                                                            <th>Estatus</th>
                                                            <th>Pasillo</th>
                                                            <th>Bahia</th>
                                                            <th>Nivel</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="PanelInf" class="hide animate-panel" data-effect="fadeInRight">
                        <div class="animate-panel">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="PanelExec" class="hpanel hgreen">
                                        <div class="panel-body">
                                            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "form", id = "form" }))
                                            {
                                                <div class="row">
                                                    <div class="form-group col-lg-3">
                                                        <label title="Ubicación del planograma" data-toggle="tooltip" data-placement="top">Ubicación</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-file-text-o"></span>
                                                            </span>
                                                            @Html.TextBoxFor((x => x.planogram_location), new { @class = "form-control", @onchange = "binsChange();" })
                                                            <input type="hidden" id="planogram_locationEdit" name="planogram_locationEdit" value="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-3">
                                                        <label title="Nombre del producto" data-toggle="tooltip" data-placement="top">Producto</label>
                                                        @Html.DropDownList("itemProduct", products, new { @class = "form-control" })
                                                        <input type="hidden" id="itemProductEdit" name="itemProductEdit" value="">
                                                    </div>
                                                    <div class="form-group col-lg-1">
                                                        <label title="Pasillo de la Locación" data-toggle="tooltip" data-placement="top">Pasillo</label>
                                                        @Html.TextBoxFor((x => x.bin1), new { @class = "form-control", @readonly = "readonly" })
                                                    </div>
                                                    <div class="form-group col-lg-1">
                                                        <label title="Bahia de la Locación" data-toggle="tooltip" data-placement="top">Bahia</label>
                                                        @Html.TextBoxFor((x => x.bin2), new { @class = "form-control", @readonly = "readonly" })
                                                    </div>
                                                    <div class="form-group col-lg-1">
                                                        <label title="Nivel de la Locación" data-toggle="tooltip" data-placement="top">Nivel</label>
                                                        @Html.TextBoxFor((x => x.bin3), new { @class = "form-control", @readonly = "readonly" })
                                                    </div>
                                                    <div class="form-group col-lg-3">
                                                        <label title="Capacidad en piezas" data-toggle="tooltip" data-placement="top">Capacidad</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-cubes"></span>
                                                            </span>
                                                            @Html.TextBoxFor((x => x.quantity), new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-lg-6">
                                                        <label title="Descripción de la Ubicación" data-toggle="tooltip" data-placement="top">Descripción</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-file-text"></span>
                                                            </span>
                                                            @Html.TextBoxFor((x => x.planogram_description), new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-6">
                                                        <label title="Tipo de Ubicación" data-toggle="tooltip" data-placement="top">Tipo</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-filter"></span>
                                                            </span>
                                                            @Html.TextBoxFor((x => x.planogram_type), new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-lg-12">
                                                        <div class="text-right">
                                                            <button type="button" class="btn btn-default" onclick="PanelGridShow();"><i class="fa fa-close"></i> Cancelar</button>
                                                            <button id="btExec" type="button" class="btn btn-success" onclick="Register();"><i class="fa fa-save"></i> Registrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", serializer.Serialize(Model.PlanogramList))
@section Scripts {
    @Scripts.Render("~/bundles/bootstrap-tour/js")
    @Scripts.Render("~/bundles/STGL002/js")
}