﻿@model FloridoERPTX.ViewModels.StorageLocation.StorageLocationViewModel
@{ ViewBag.Title = "STGL001"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li> <span>Almacen</span></li>
                    <li><a>Catalogos</a></li>
                    <li class="active">
                        <span>Locaciones</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Locaciones.
            </h2>

            <small>Alta y modificación de locaciones.</small>
        </div>
    </div>
</div>
<div id="contenido" class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="table-location" class="table table-striped table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th><button type="button" class="btn btn-xs btn-success" onclick="AddLocation()"><i class="fa fa-plus"></i> Agregar</button></th>
                                    <th></th>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-add-location" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Agregar Locación.</h4>
                <small id="ModalDescription" class="font-bold">Formulario para registrar una locación.</small>
            </div>
            @using (Html.BeginForm("Create", "StorageLocation", FormMethod.Post, new { name = "form", id = "form" }))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-lg-5">
                            <label for="storage_location" title="storage_location" data-toggle="tooltip" data-placement="right">Nombre</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-file-text-o"></span>
                                </span>
                                @Html.TextBoxFor((x => x.storage_location), new { @class = "form-control", @onblur = "ValidateLocationName();" })
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="storage_type" title="storage_type" data-toggle="tooltip" data-placement="right">Tipo de locación</label>
                            @Html.DropDownListFor(m => m.TypeLocations, Model.TypeLocationsList, new { @class = "form-control", @id = "storage_type" })
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="active_flag" title="active_flag" data-toggle="tooltip" data-placement="right">Activo/Inactivo</label>
                            <div id="Check" class="i-checks">
                                @Html.CheckBoxFor((x => x.active_flag), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearModal()"><i class="fa fa-close"></i> Cancelar</button>
                    <button id="submit-button" class="btn btn-success"><i class="fa fa-save"></i> Guardar Cambios</button>
                </div>
            }
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model.Locations))
@section Scripts { @Scripts.Render("~/bundles/STGL001/js") }