﻿@{
    ViewBag.Title = "WSM001";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Inventario</a></li>
                    <li class="active">
                        <span>Recibo</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Recibo
            </h2>
            <small>Menu de Recibo. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row menu-row">

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="OCRC001">
                            <h2 class="m-b-xs">Comparativo  OCRC</h2>
                            <div class="m">
                                <i class="pe-7s-copy-file fa-5x"></i>
                            </div>
                            <p class="small">
                                Comprar la orden de compra con el recibo ciego
                            </p>
                            <br />
                        </a>
                        <a href="OCRC001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12  col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="RECE001">
                            <h2 class="m-b-xs"> Recibo Cedis</h2>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Diferencias del recibo cedis en caso de haberlas
                            </p>
                            <br />
                        </a>
                        <a href="RECE001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12  col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="EMSC001">
                            <h2 class="m-b-xs"> Entrada de mercancia sin cargo <br /><br /></h2>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Se mostrara las entradas sin cargo
                            </p>
                            <br />
                        </a>
                        <a href="EMSC001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="TMP001">
                            <h2 class="m-b-xs"> Autorización de materia prima<br /><br /></h2>
                            <div class="m">
                                <i class="fa fa-archive fa-5x"></i>
                            </div>
                            <p class="small">
                                Mostrara los recibos para aprobar o cancelar
                            </p>
                            <br />
                        </a>
                        <a href="TMP001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="TMP002">
                            <h2 class="m-b-xs"> Autorización de gerencia materia prima</h2>
                            <div class="m">
                                <i class="fa fa-legal fa-5x"></i>
                            </div>
                            <p class="small">
                                Mostrara los recibos para aprobar o cancelar
                            </p>
                            <br />
                        </a>
                        <a href="TMP002" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>