﻿@{ ViewBag.Title = "WSM005"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Inventario</a></li>
                    <li class="active">
                        <span>Transferencias</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Transferencias
            </h2>
            <small>Menu de Transferencias. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row menu-row">

        <div class="col-xs-12  col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="DRIV001">
                            <h2 class="m-b-xs"> Choferes</h2>
                            <div class="m">
                                <i class="fa fa-automobile fa-5x"></i>
                            </div>
                            <p class="small">
                                Diferencias del recibo cedis en caso de haberlos
                            </p>
                            <br />
                        </a>
                        <a href="DRIV001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12  col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="CT002">
                            <h2 class="m-b-xs"> Captura de Transferencia <br /><br /></h2>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Captura de Transferencia a otra sucursal
                            </p>
                            <br />
                        </a>
                        <a href="CT002" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12  col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="AGT001">
                            <h2 class="m-b-xs">Autorizacion de transferencia <br /><br /></h2>
                            <div class="m">
                                <i class="fa fa-check fa-5x"></i>
                            </div>
                            <p class="small">
                                Autoriza las transferencias
                            </p>
                            <br />
                        </a>
                        <a href="AGT001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12  col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="CT001">
                            <h2 class="m-b-xs"> Cancelación de Transferencia <br /><br /></h2>
                            <div class="m">
                                <i class="fa fa-close fa-5x"></i>
                            </div>
                            <p class="small">
                                Se cancelan las transferencias que tuvieron un problema
                            </p>
                            <br />
                        </a>
                        <a href="CT001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12  col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="AGT002">
                            <h2 class="m-b-xs"> Confirmación de Transferencia <br /><br /></h2>
                            <div class="m">
                                <i class="fa paper-plane-o fa-5x"></i>
                            </div>
                            <p class="small">
                                Confirmación de Transferencia
                            </p>
                            <br />
                        </a>
                        <a href="AGT002" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>