﻿@{ ViewBag.Title = "WSM006"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Inventario</a></li>
                    <li class="active">
                        <span>Merma Controlada</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Merma Controlada
            </h2>
            <small>Menu de Merma Controlada. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row menu-row">
        <div class="col-xs-12  col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="SSM001">
                            <h2 class="m-b-xs"> Merma Controlada</h2>
                            <div class="m">
                                <i class="fa fa-automobile fa-5x"></i>
                            </div>
                            <p class="small">
                                Se acepta la merma controlada o se rechaza.
                            </p>
                            <br />
                        </a>
                        <a href="SSM001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12  col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="SSM002">
                            <h2 class="m-b-xs">Merma Controlada</h2>
                            <div class="m">
                                <i class="fa fa-check fa-5x"></i>
                            </div>
                            <p class="small">
                                Aplica la merma controlada
                            </p>
                            <br />
                        </a>
                        <a href="SSM002" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>