﻿@model IEnumerable<App.Entities.DFLPOS_USER_CARD_ACCESS>

@{
    ViewBag.Title = "Tarjetas permiso";
}




@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000","Pos")">Cajas</a></li>
                    <li><a href="@Url.Action("POS001","Pos")">Movimientos</a></li>
                    <li class="active">
                        <span>Tarjetas permiso</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                @ViewBag.Title
            </h2>
            <small> @ViewBag.Title</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        
       
    <div class="content animated-panel" id="TableSection">
        <div class="hpanel">
            <div class="panel-body">
                <p>
                    <a class="btn btn-success" href="@Url.Action("ActionPart002")"><i class="fa fa-plus"></i></a>
                </p>
                <div>
                    @*<label>Cajero: @Model.CashierName</label>&nbsp;&nbsp;&nbsp;<label>Campaña: @Model.CampaignName</label>*@
                    <div class="table-responsive m-t">
                        <table class="table table-striped table-bordered table-hover" style="width:100%" id="table">
                            <thead>
                                <th>
                                    @Html.DisplayNameFor(model => model.card_number)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.USER_MASTER.user_name)
                                </th>
                                <th>Acciones</th>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.card_number)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.USER_MASTER.full_name)
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                            <a class="btn btn-xs btn-outline btn-success" href="@Url.Action("ActionPart004",new {item.id})">Editar</a>
                                            @*<a class="btn btn-info" href="@Url.Action("Part008",new {item.id})"><i class="fa fa-eye"></i></a>*@
                                            <a class="btn btn-xs btn-outline btn-danger" onclick="Eliminar(@item.id)">Eliminar</a>

                                        </div>
                                        @*@Html.ActionLink("Edit", "Part004", new {item.id}) |
                                        @Html.ActionLink("Details", "Part008", new {item.id}) |
                                        @Html.ActionLink("Delete", "Part006", new {item.id})*@
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
                        @section Scripts{

<script type="text/javascript">
    $(document).ready(function () {
      
        var table = $('#table').DataTable({
                                        @*"ajax": '@Html.Raw(Json.Encode(Model.DataReport))',*@
                                        "oLanguage": {
                                            "sProcessing": "Procesando...",
                                            "sLengthMenu": "Mostrar _MENU_ registros",
                                            "sZeroRecords": "No se encontraron resultados",
                                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                                            "sInfo":
                                                "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                            "sInfoPostFix": "",
                                            "sSearch": "Buscar:",
                                            "sUrl": "",
                                            "sInfoThousands": ",",
                                            "sLoadingRecords": "Cargando...",
                                            "oPaginate":
                                            {
                                                "sFirst": "Primero",
                                                "sLast": "Último",
                                                "sNext": "Siguiente",
                                                "sPrevious": "Anterior"
                                            },
                                            "oAria": {
                                                "sSortAscending":
                                                    ": Activar para ordenar la columna de manera ascendente",
                                                "sSortDescending":
                                                    ": Activar para ordenar la columna de manera descendente"
                                            }
                                        },
                                        "dom":
                                            "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                                        buttons: [
                                        ],
                                        "columns": [
                                            { "data": "No. de tarjeta" },
                                            { "data": "Nombre de empleado" },
                                            { "data": "Acciones" }
                                        ],
                                        "order": [[1, 'asc']]
                                    });
                                });

                                function Eliminar(id) {
                                    swal(
                                        {
                                            title: "¿Estas seguro?",
                                            text: "Una vez que se elimine no podrás revertir el proceso",
                                            type: "warning",
                                            showCancelButton: true,
                                            confirmButtonColor: "#DD6B55",
                                            confirmButtonText: "Sí",
                                            cancelButtonText: "No",
                                            closeOnConfirm: true,
                                            closeOnCancel: false
                                        },
                                        function(isConfirm) {
                                            if (isConfirm) {
                                                StartLoading();
                                                $.post({
                                                    url: '@Url.Action("ActionPart006")/' + id,
                                                    Type: 'POST',
                                                    dataType: 'json',
                                                    data: { "id": id },
                                                    success: function(data) {
                                                        EndLoading();
                                                        if (data.success) {
                                                            swal({
                                                                    title: 'Eliminado',
                                                                    text: "Registro eliminado",
                                                                    type: "success"
                                                                },
                                                                function() { window.location.reload(true); });
                                                        } else {
                                                            swal("Error",
                                                                "Ocurrió un error, contacte a sistemas",
                                                                "error");
                                                        }
                                                    }
                                                });
                                            } else {
                                                swal("Aviso", "Registro no eliminado", "info");
                                            }
                                        });
                                }
</script>
                        }
