﻿@model App.Entities.DFLPOS_USER_CARD_ACCESS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DFLPOS_USER_CARD_ACCESS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.card_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.card_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_MASTER.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_MASTER.user_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "ActionPart004", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Part001")
</p>
