﻿@model App.Entities.DFLPOS_USER_CARD_ACCESS

@{
    ViewBag.Title = "Crear Tarjetas permiso";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000","Pos")">Cajas</a></li>
                    <li><a href="@Url.Action("POS001","Pos")">Movimientos</a></li>
                    <li class="active">
                        <a href="@Url.Action("Part001")">Tarjetas permiso</a>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                @ViewBag.Title
            </h2>
            <small> @ViewBag.Title</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
<div class="hpanel hblue">
        
       
<div class="content animated-panel" id="TableSection">
<div class="hpanel">
<div class="panel-body">
    <p>
        <a class="btn btn-default" href="@Url.Action("Part001")"><i class="fa fa-arrow-left"></i></a>
    </p>
<div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.emp_id, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" for="emp_id">Nombre de empleado</label>
            <div class="col-md-10">
                @Html.DropDownList("emp_id", null, htmlAttributes: new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.emp_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.card_number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.card_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.card_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}
</div>
</div>
</div>
</div>
</div>
</div>


@section Scripts {

    <script type="text/javascript">
        @if (ViewBag.Error != null)
        {
            <text>
                $(document).ready(function() {
                   

                    setTimeout(function () {
                        swal({title: 'Error', text: '@ViewBag.Error', type: 'error', confirmButtonText: 'Aceptar'});
                    }, 1000);
                    });
            </text>
        }
    </script>
}
