﻿@model App.Entities.ViewModels.CreditNotes.CreditNoteDetails

<div class="form-horizontal">
    <div class="row">
        <h4 class="text-center">DISTRIBUIDORA EL FLORIDO S.A. DE C.V.</h4>
        @if (Model.IsBonification)
        {<h5 class="text-center">Detalle de Bonificación</h5>}
        else
        { <h5 class="text-center">Detalle de Nota de Crédito</h5>}
    </div>
    <hr style="border-top: 1px solid #3498db !important;" />
    @Html.HiddenFor(model => Model.Uuid)
    @Html.HiddenFor(model => Model.Serie)
    @Html.HiddenFor(model => Model.Number)
    @Html.HiddenFor(model => Model.DocumentType)
    <div class="col-md-12 form-group">
        <div class="col-md-12">
            @if (Model.IsBonification)
            {<label class="control-label">Bonificación: </label> }
            else
            {@Html.LabelFor(model => model.CreditNote, htmlAttributes: new { @class = "control-label" })}
            @Html.DisplayFor(model => model.CreditNote, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-12">
            @Html.LabelFor(model => model.IssueDate, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.IssueDate, new { htmlAttributes = new { @class = "form-control" } })
        </div>        
    </div>
    <div class="col-md-12 form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Tax, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.Tax, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-12">
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="col-md-12 form-group">       
        <div class="col-md-12">
            @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-12">
            @Html.LabelFor(model => model.Invoice, htmlAttributes: new { @class = "control-label" })
            @Html.DisplayFor(model => model.Invoice, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    @if (!Model.IsBonification)
    {
        <h5 class="text-center">Detalle</h5>
        <hr style="border-top: 1px solid #3498db !important;" />        
        <div class="table-responsive">
            <table id="document-table" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>@Html.LabelFor(model => model.Products.First().ItemNumber)</th>
                        <th>@Html.LabelFor(model => model.Products.First().ItemName)</th>
                        <th>@Html.LabelFor(model => model.Products.First().Quantity)</th>
                        <th>@Html.LabelFor(model => model.Products.First().ItemPrice)</th>
                        <th>@Html.LabelFor(model => model.Products.First().TotalItemPrice)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ItemNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.ItemName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                            <td>@Html.DisplayFor(modelItem => item.ItemPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalItemPrice)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="form-group col-lg-12">
                <div class="text-right">
                    <button type="button" class="btn btn-success" onclick="CancelDocument()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>