﻿@model App.Entities.ViewModels.CreditNotes.CreditNote

    <div class="modal fade" id="ModalEditCreditNote" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 id="ModalTitle" class="modal-title">Editar Nota de Credito/Bonificación</h4>
                    <small id="ModalDescription" class="font-bold">Cambio de fecha.</small>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("ActionEditDocumentDate", "CreditNotes", FormMethod.Post, new { name = "formEditDate", id = "formEditDate" }))
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.Number)

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Serie: </label>
                                @Html.DisplayFor(model => model.Serie, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Factura: </label>
                                @Html.DisplayFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Total: </label>
                                @Html.DisplayFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Fecha Actual: </label>
                                @Html.DisplayFor(model => model.IssuedDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="control-label">Nueva Fecha: </label>
                                <div class="col-md-12 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.NewIssuedDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="form-group col-lg-12">
                            <div class="text-right">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal" id="EditCreditNote" onclick="SaveChanges()">Guardar</button>
                            </div>
                        </div>
                        <br><br>
                    }
                </div>
            </div>
        </div>
        <div id="ajaxTarget">
            <script type="text/javascript">

                $('#NewIssuedDate').datepicker({
                    minDate: 5,
                    autoclose: true,
                    format: 'dd/mm/yyyy',
                    language: 'es'
                });
                
                $("#NewIssuedDate").on('change', function () {
                    var date = stringToDate($("#NewIssuedDate").val());

                    var currentDate = stringToDate(GetCurrentDate());

                    if (date > currentDate) {
                        toastr.error('La fecha de aplicación no puede ser mayor a la fecha de Hoy.');
                        //$("#GenerateCreditNote").attr("disabled", "disabled");
                        $("#NewIssuedDate").attr('style', 'border-color: red !important');
                        $("#EditCreditNote").prop('disabled', true);
                    }
                    else {
                        $("#NewIssuedDate").attr('style', 'border-color: black !important');
                        $("#EditCreditNote").prop('disabled', false);
                    }
                });

                function GetCurrentDate() {
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1; //January is 0!
                    var yyyy = today.getFullYear();

                    if (dd < 10) {
                        dd = '0' + dd;
                    }

                    if (mm < 10) {
                        mm = '0' + mm;
                    }

                    today = dd + '/' + mm + '/' + yyyy;

                    return today;
                }

                function stringToDate(dateStr) {
                    var parts = dateStr.split("/")
                    return new Date(parts[2], parts[1] - 1, parts[0])
                }
            </script>
        </div>
    </div>