﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/bundles/datatables/css")
<link rel="stylesheet" href="~/vendor/clockpicker/dist/bootstrap-clockpicker.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css" />

@model App.Entities.ViewModels.CreditNotes.CreditNotesBonIndex

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>






<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action(" CTMS000","Customers")">Ventas</a></li>
                    <li><a href="@Url.Action(" INVO001","Invoices")">Reportes</a></li>
                    <li class="active">
                        <span>Relación Notas de Crédito-Bonificaciones</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Relación Notas de Crédito-Bonificaciones
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">

            <div class="row">
                <h3 class="text-center">DISTRIBUIDORA EL FLORIDO, S.A. DE C.V.</h3>

            </div>
            <hr style="border-top: 1px solid #3498db !important;" />
            <h4 class="text-center">
                Relación Notas de Crédito-Bonificaciones
            </h4>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="col-md-3">
                        @Html.HiddenFor(model => model.StartDate)
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-3">
                        @Html.HiddenFor(model => model.EndDate)
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="col-md-2">
                        @Html.HiddenFor(model => model.Currency)
                        @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.modeda, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.HiddenFor(model => model.Type)
                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.tipo, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <div class="col-md-2">
                        @Html.HiddenFor(model => model.Status)
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-3">
                        @Html.HiddenFor(model => model.Uuid)
                        @Html.LabelFor(model => model.Uuid, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.timbre, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
            </div>

            <hr style="border-top: 1px solid #3498db !important;" />
            <div class="text-center">
                <button type="button" class="btn btn-success" id="ReportButton">Reporte General</button>
            </div>
            <div class="table-responsive">
                <table id="CreditNotesBonTable" class="table table-striped table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>FOLIO</th>
                            <th>TIPO</th>
                            <th>FECHA</th>
                            <th>MOTIVO</th>
                            <th>FACT. AFECT</th>
                            <th>CLIENTE</th>
                            <th>IMPORTE</th>
                            <th>IVA</th>
                            <th>IEPS</th>
                            <th>TOTAL</th>
                            <th>USUARIO</th>
                            <th>ESTADO</th>
                            <th>UUID</th>
                            <th>REPORTE</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>TOTALES</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>

                        </tr>
                    </tfoot>
                </table>

            </div>




        </div>
        <div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header">
                        <h4 id="ModalTitle" class="modal-title">Reporte de Ventas</h4>
                        <small id="ModalDescription" class="font-bold"></small>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    @Scripts.Render("~/Vendor/datatables_plugins/api/fnDataUpdate.js")
    @Scripts.Render("~/Vendor/datatables_plugins/api/sum().js")
    @Scripts.Render("~/vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js")
    <script src="~/Vendor/moment/moment.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var Products = @Html.Raw(Json.Encode(Model.CreditNotesBonList));

            table.clear();
            table.rows.add(jQuery(Products));
            table.columns.adjust().draw();
            var obj = @Html.Raw(Json.Encode(Model));
            console.log("CONTENIDO: " + obj);
            if ((obj.CreditNotesBonList).length > 0) {
                ReportButton.disabled = false;
                footers();
            }
            else {
                ReportButton.disabled = true;
                footers0();
            }
        });

        var table = $("#CreditNotesBonTable").DataTable({
            "createdRow": function (row, data, dataIndex) {
                // console.log(data['Status']);
                if (data['Uuid'] == 'SIN TIMBRAR') {
                    $(row).css('background-color', '#F5F190');
                    $(row).css('color', 'Black');

                }
                if (data['Status'] == 'CANCELADA') {
                    $(row).css('background-color', '#F9F7CA');
                    $(row).css('color', 'RED');

                }
                if (data['Status'] != 'CANCELADA' && data['Uuid'] != 'SIN TIMBRAR') {
                    $(row).css('background-color', '#D1F3DA');
                    $(row).css('color', 'Black');

                }
            },

            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [

                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                },
                { data: 'CfdNotaNo' },
                { data: 'Type' },
                { data: 'Date' },
                { data: 'Cause' },
                { data: 'InvId' },
                { data: 'Customer' },
                { data: 'Import' },
                { data: 'IVA' },
                { data: 'IEPS' },
                { data: 'Total' },
                { data: 'User' },
                { data: 'Status' },
                { data: 'Uuid' }
            ],

            columnDefs: [
                {
                    targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                    width: "1%"
                },

                {
                    type: 'numeric-comma',
                    render: function (data, type, row) {
                        return '$' + data.toFixed(2);
                    },
                    targets: [7, 8, 9, 10]
                },

                {
                    targets: [1, 5, 7, 8, 9, 10],
                    className: 'text-center'
                },
                {
                    targets: [3],
                    render: function (data, type, row) {
                        return moment(data).format('L');
                    },
                },
                {
                    data: null,
                    width: "1%",
                    targets: 14,
                    defaultContent: '<button class="btn btn-xs btn-outline btn-info" type="submit">Reporte</button>'
                },
                {
                    targets: 13,
                    createdCell: function (td, cellData, rowData, row, col) {
                        //  console.log(rowData['Uuid']);
                        if (rowData['Uuid'] == 'SIN TIMBRAR') {
                            $(td).css('color', 'red');
                        }
                    }
                }],
        });

        var detailRows = [];

        $('#CreditNotesBonTable tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (table.row('.details').length) {
                    $('.details-control', table.row('.details').node()).click();
                }
                row.child(format(row.data())).show();
                tr.addClass('details');
            }
        });

        table.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        function reloadStyleTable() {
            $('#tabledetail').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
            });
        }

        function format(d) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "@(Url.Action("ActionGetCreditNotesBonDetail", "CreditNotes"))",//OBTIENE LOS ARTICULOS DE LA VENTA POR EL NUMERO DE VENTA EN SALES_DETAILS
                data: { "cnId": d.cnId, "importe": d.Import },
                type: "GET",
                success: function (returndate) {
                    console.log(returndate.Json);
                    $.each(returndate.Json, function (index, value) {
                        detailItems += "<tr><td>" + value.part_number + "</td><td>" + value.part_name + "</td><td>" + value.part_quantity.toFixed(4) + "</td><td class='text-right'>" + "$" + value.part_price.toFixed(2) +
                            "</td><td class='text-right'>" + "$" + value.part_importe.toFixed(2) + "</td><td class='text-right'>"
                            + "$" + value.part_iva.toFixed(2) + "</td><td class='text-right'>" + value.part_iva_percentage.toFixed(0) + "</td><td class='text-right'>"
                            + "$" + value.part_ieps.toFixed(2) + "</td><td class='text-right'>" + value.part_ieps_percentage + "</td> <td class='text-right'>" + "$" + value.part_total.toFixed(2) + "</td></tr>"
                    });
                    tabledetail.html('<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">' +
                        '<thead><tr><th>No. Artículo</th><th>Artículo</th><th>Cantidad</th><th>Precio</th><th>Importe</th><th>IVA</th><th>IVA %</th></th><th>IEPS</th><th>IEPS %</th><th>TOTAL</th></tr></thead><tbody>' + detailItems + '</tbody></table>').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail
        }

        $('#CreditNotesBonTable tbody').on('click', 'button', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            //toastr.error(row.data().cnId);
            var importe = row.data().Import;
            var cnId = row.data().cnId;
            var date = row.data().Date;
            var invoice = row.data().InvId;
            var folio = row.data().CfdNotaNo;
            StartLoading();
            $.ajax({
                type: "GET",
                url: "@(Url.Action("ActionReportCreditNotesDetails", "CreditNotes"))",
                data: { "cnId": cnId, "folio": folio, "importe": importe, "date": date, "invoice": invoice },
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Venta Número: ' + cnId + '');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });

        });

        $("#ReportButton").click(function () {
            var obj = @Html.Raw(Json.Encode(Model));
            StartLoading();
            $.ajax({
                type: "POST",
                url: "@(Url.Action("ReportGral", "CreditNotes"))",
                dataType: "html",
                data: { "model": obj },//{ "Model":  $("#formCreNoBo").serialize()},
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Relación Notas de Crédito-Bonificaciones');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    EndLoading();
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');

                }

            });
        });

        function footers() {
            for (var i = 7; i < 11; i++) {
                var foot = table.column(i);

                $(foot.footer()).html(
                    '$' + foot.data().reduce(function (a, b) {
                        return (a + b);
                    }).toFixed(2)
                );
            }
        }

        function footers0() {
            for (var i = 7; i < 11; i++) {
                var foot = table.column(i);

                $(foot.footer()).html('');
            }
        }
    </script>
}