﻿@model App.Entities.ViewModels.CreditNotes.CreditNoteIndex

@{
    ViewBag.Title = "Notas de Crédito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Movimientos</a></li>
                    <li class="active">
                        <span>Nota de Crédito</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Notas de Crédito
            </h2>
            <small>Módulo para notas de crédito</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formCreditNotes" action="@Url.Action("CRNO001", "CreditNotes")" method="post">
                <div class="form-horizontal">
                    <h4 style="margin-left:-5px;">Notas de Crédito</h4>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-5" id="ItemsSelect">
                        <label class="control-label">&nbsp;</label><br />
                        <div class="form-group col-lg-7">
                            <div class="i-checks">
                                @Html.CheckBoxFor((model => model.SelectItems), new { @class = "form-control" })
                                @Html.LabelFor(model => model.SelectItems, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div id="CreditNoteBoni">
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-md-1">
                                <label>- o -</label>
                            </div>
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.SaleNumber, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.EditorFor(model => model.SaleNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SaleNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-right">
                                    <button type="button" class="btn btn-success" id="CreditNote">Continuar</button>
                                </div>
                            </div>
                        </div>
                        <div id="EmployeeBoni">
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-3"></div>
                            <div class="form-group col-md-2">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-right">
                                    <button type="button" class="btn btn-success" id="EmployeeBoniCreate">Continuar</button>
                                </div>
                            </div>
                            <br /><br />
                            <br /><br />
                            <br /><br />
                            <div class="form-group" id="EmployeeBoniError">
                                <h5 style="color:red; margin-top:-3%;" class="col-md-12 EmployeBoniErrorMsg"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="ErrorMessage">
                        <h5 style="color:red; margin-top:-3%;" class="col-md-12">Introduce el No. de Factura o el No. de Venta</h5>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var errorMessage;
        var saleNumber;
        var invoiceNumber;
        var validValueSale;
        var validValueInvoice;
        $(function () {
            $("#ErrorMessage").hide();
            $("#EmployeeBoni").hide();
            $("#EmployeeBoniError").hide();
            $("#ItemsSelect").hide();

            dateInput = $("#Date").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');

            $("#formCreditNotes").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $("#CreditNote").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#CreditNote").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    SaleNumber: {
                        digits: true,
                        required: true,
                        remote: function () {
                            saleNumber = $('#SaleNumber').val();
                            typeSelection = $("#Type").val();
                            var valid = {
                                url: "@(Url.Action("ActionValidateSale", "CreditNotes"))",
                                type: "post",
                                data: { "SaleNumber": saleNumber, "Type": typeSelection },
                                dataFilter: function (data) {
                                    EndLoading();
                                    var obj = JSON.parse(data);
                                    if (!obj.success) {
                                        errorMessage = obj.responseText;
                                        return false;
                                    }
                                    return true;
                                }
                            };
                            return valid;
                        },
                    },
                    InvoiceNumber: {
                        digits: true,
                        required: true,
                        remote: function () {
                            invoiceNumber = $("#InvoiceNumber").val();
                            typeSelection = $("#Type").val();
                            var valid = {
                                url: "@(Url.Action("ActionValidateInvoice", "CreditNotes"))",
                                type: "post",
                                data: { "InvoiceNumber": invoiceNumber, "Type": typeSelection },
                                dataFilter: function (data) {
                                    EndLoading();
                                    var obj = JSON.parse(data);
                                    if (!obj.success) {
                                        errorMessage = obj.responseText;
                                        return false;
                                    }
                                    return true;
                                }
                            };
                            return valid;
                        }
                    }
                },
                messages: {
                    SaleNumber: {
                        remote: function () { return errorMessage },
                    },
                    InvoiceNumber: {
                        remote: function () { return errorMessage },
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });

        $("#CreditNote").click(function () {
            saleNumber = $("#SaleNumber").val();
            invoiceNumber = $("#InvoiceNumber").val();
            if (saleNumber == "" && invoiceNumber == "") {
                $("#formCreditNotes").validate().element("#SaleNumber");
                $("#formCreditNotes").validate().element("#InvoiceNumber");
                $("#ErrorMessage").show();
            }
            else if (saleNumber == "" && $("#formCreditNotes").validate().element("#InvoiceNumber")) {
                $("#SaleNumber").rules("remove", "required");
                StartLoading();
                $("#formCreditNotes").submit();
            } else if (invoiceNumber == "" && $("#formCreditNotes").validate().element("#SaleNumber")) {
                $("#InvoiceNumber").rules("remove", "required");
                StartLoading();
                $("#formCreditNotes").submit();
            }
        });

        $("#SaleNumber").on('change keypress paste', function (e) {
            $("#InvoiceNumber").val("");
            ValidateInputs(e);
        });

        $("#InvoiceNumber").on('change keypress paste', function (e) {
            $("#SaleNumber").val("");
            ValidateInputs(e);
        });

        $("#Type").on('change', function () {
            var value = $(this).val();            
            if (value != 2) {
                $("#EmployeeBoni").hide();
                $("#CreditNoteBoni").show();

                //Show or hide Checkbox to select items for bonifications
                if (value == 1)
                    $("#ItemsSelect").show();
                else
                    $("#ItemsSelect").hide();
               
                ValidateInputs(value);
                $("#CreditNote").removeAttr("disabled");
            }
            else {
                $("#ItemsSelect").hide();
                $("#EmployeeBoni").show();
                $("#CreditNoteBoni").hide();
                $("#ErrorMessage").hide();
            }
        });

        function ValidateInputs(e) {
            $("#ErrorMessage").hide();
            $('.form-group').removeClass('has-success has-error');
            $('.help-block').remove();
            if (e.which == 13 || e.keyCode == 13)
                $("#CreditNote").click();
        }

        $("#EmployeeBoniCreate").click(function () {
            var date = $("#Date").val();
            $.ajax({
                type: "GET",
                url: "@(Url.Action("ActionValidateDate", "CreditNotes"))",
                dataType: 'json',
                data: { "Date": date },
                success: function (data) {
                    if (data.success)
                        $("#formCreditNotes").submit();
                    else {
                        $("#EmployeeBoniError").show();
                        $(".EmployeBoniErrorMsg").html(data.responseText)
                        $("#EmployeeBoniCreate").attr("disabled", "disabled");
                    }
                }
            });
        });

        $("#Date").on('change', function () {
            $("#EmployeeBoniError").hide();
            $("#EmployeeBoniCreate").removeAttr("disabled");
        });

    </script>
}
