﻿@model App.Entities.ViewModels.CreditNotes.CreditNote

@{
    ViewBag.Title = Model.IsBonification ? "Bonificación" : "Notas de Crédito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield !important;
    }
</style>

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action(" CTMS000","Customers")">Ventas</a></li>
                    <li><a href="@Url.Action(" INVO001","Invoices")">Movimiento</a></li>
                    @if (Model.IsBonification)
                    {
                        <li class="active">
                            <span>Bonificación</span>
                        </li>
                    }
                    else
                    {
                        <li class="active">
                            <span>Nota de Crédito</span>
                        </li>
                    }
                </ol>
            </div>
            @if (Model.IsBonification)
            {
                <h2 class="font-light m-b-xs">
                    Bonificación
                </h2>
                <small>Módulo para crear una bonificación</small><br />
            }
            else
            {
                <h2 class="font-light m-b-xs">
                    Notas de Crédito
                </h2>
                <small>Módulo para crear una nota de crédito</small><br />
            }
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formCreateCreditNote">
                @Html.HiddenFor(model => model.Serie)
                @Html.HiddenFor(model => model.Number)
                @Html.HiddenFor(model => model.InvoiceDetails.InvoiceSerie)
                @Html.HiddenFor(model => model.IsSaleFromGlobal)
                @Html.HiddenFor(model => model.SaleNumber)
                @Html.HiddenFor(model => model.IsReadOnly)
                @Html.HiddenFor(model => model.IsSaleInvoiced)
                @Html.HiddenFor(model => model.IsEmployeeBon)
                @Html.HiddenFor(model => model.InvoiceNumber)
                <div class="row">
                    <h3 class="text-center">DISTRIBUIDORA EL FLORIDO, S.A. DE C.V.</h3>
                    <h4 class="text-center">
                        @Html.HiddenFor(model => model.CreditNoteReference)
                        @if (Model.IsBonification)
                        {<label class="control-label">Bonificación No.</label>}
                        else
                        { @Html.LabelFor(model => model.CreditNoteReference, htmlAttributes: new { @class = "control-label" })}
                        @Html.DisplayFor(model => model.CreditNoteReference, new { htmlAttributes = new { @class = "form-control" } })
                    </h4>
                </div>

                <hr style="border-top: 1px solid #3498db !important;" />

                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.InvoiceDetails.InvoiceNumber)
                            @if (Model.IsSaleInvoiced)
                            {@Html.LabelFor(model => model.InvoiceDetails.InvoiceNumber, htmlAttributes: new { @class = "control-label" })}
                        else
                        {<label class="control-label">Venta No.</label>}
                            @Html.DisplayFor(model => model.InvoiceDetails.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.InvoiceDetails.Date)
                            @Html.LabelFor(model => model.InvoiceDetails.Date, htmlAttributes: new { @class = "control-label" })
                            @Html.DisplayFor(model => model.InvoiceDetails.Date, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.InvoiceDetails.ClientNumber)
                            @Html.LabelFor(model => model.InvoiceDetails.ClientNumber, htmlAttributes: new { @class = "control-label" })
                            @Html.DisplayFor(model => model.InvoiceDetails.ClientNumber, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.InvoiceDetails.ClientName)
                            @Html.LabelFor(model => model.InvoiceDetails.ClientName, htmlAttributes: new { @class = "control-label" })
                            @Html.DisplayFor(model => model.InvoiceDetails.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.InvoiceDetails.PaymentMethod)
                            @Html.LabelFor(model => model.InvoiceDetails.PaymentMethod, htmlAttributes: new { @class = "control-label" })
                            @Html.DisplayFor(model => model.InvoiceDetails.PaymentMethod, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.InvoiceDetails.Currency)
                            @Html.LabelFor(model => model.InvoiceDetails.Currency, htmlAttributes: new { @class = "control-label" })
                            @Html.DisplayFor(model => model.InvoiceDetails.Currency, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <h3 class="text-center">Detalle</h3>
                <hr style="border-top: 1px solid #3498db !important;" />
                <div class="table-responsive">
                    @if (!Model.IsBonification || Model.CanSelectItems)
                    {
                        <div class="text-center">
                            <input type="checkbox" id="SelectAll">&nbsp; Seleccionar todos los artículos
                        </div>
                    }
                    <table id="invoice-details" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@Html.LabelFor(model => model.InvoiceDetails.Products.First().IsWeightAvailable)</th>
                                <th>@Html.LabelFor(model => model.InvoiceDetails.Products.First().ItemNumber)</th>
                                <th>@Html.LabelFor(model => model.InvoiceDetails.Products.First().ItemName)</th>
                                <th>@Html.LabelFor(model => model.InvoiceDetails.Products.First().QuantityBon)</th>
                                <th style="border-right:none !important" class="text-center">@Html.LabelFor(model => model.InvoiceDetails.Products.First().QuantityReturn)</th>
                                <th style="border-left:none !important"></th>
                                <th>@Html.LabelFor(model => model.InvoiceDetails.Products.First().ItemPrice)</th>
                                <th>@Html.LabelFor(model => model.InvoiceDetails.Products.First().TotalPrice)</th>
                                <th>@Html.LabelFor(model => model.InvoiceDetails.Products.First().IVAValue)</th>
                                <th>@Html.LabelFor(model => model.InvoiceDetails.Products.First().IEPSValue)</th>
                                <th>@Html.LabelFor(model => model.InvoiceDetails.Products.First().ItemPriceNoTax)</th>
                                <th>@Html.LabelFor(model => model.InvoiceDetails.Products.First().ItemTax)</th>
                                <th>@Html.LabelFor(model => model.InvoiceDetails.Products.First().ItemIEPS)</th>
                                <th>@Html.LabelFor(model => model.InvoiceDetails.Products.First().SalePartNumber)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.InvoiceDetails.Products)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.DetailId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IsWeightAvailable)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ItemNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ItemName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.QuantityBon)</td>
                                    @if (!Model.IsBonification || Model.CanSelectItems)
                                    {
                                        <td style="border-right:0px !important">@Html.EditorFor(modelItem => item.QuantityReturn, new { htmlAttributes = new { @type = "number" } }) </td>
                                        @*<td style="border-right:0px !important"><input type="number" class="input-quantity" id="@item.QuantityReturn" value="0.00" max="@item.QuantityAvailable"/></td>*@
                                        <td style="border-left:0px !important">@Html.DisplayFor(modelItem => item.QuantityAvailableBon)</td>
                                    }
                                    else
                                    {
                                        <td style="border-right:0px !important"></td>
                                        <td style="border-left:0px !important"></td>
                                    }
                                    <td>@Html.DisplayFor(modelItem => item.ItemPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IVAValue)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IEPSValue)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IVACode)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IEPSCode)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ItemPriceNoTax)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ItemTax)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ItemIEPS)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SalePartNumber)</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8" class="text-right" style="border-right:0px !important">@Html.LabelFor(model => model.InvoiceDetails.SubTotal)</td>
                                <td style="border-left:0px !important" class="text-left">@Html.DisplayFor(model => model.InvoiceDetails.SubTotal)</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-right" style="border-right:0px !important">@Html.LabelFor(model => model.InvoiceDetails.Tax)</td>
                                <td style="border-left:0px !important" class="text-left">@Html.DisplayFor(model => model.InvoiceDetails.Tax)</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-right" style="border-right:0px !important">@Html.LabelFor(model => model.InvoiceDetails.Total)</td>
                                <td style="border-left:0px !important" class="text-left">@Html.DisplayFor(model => model.InvoiceDetails.Total)</td>
                            </tr>
                            @if (Model.IsBonification && !Model.IsGlobalInvoice)
                            {
                                if (Model.IsSaleInvoiced)
                                {
                                    <tr>
                                        <td colspan="8" class="text-right" style="border-right:0px !important">@Html.LabelFor(model => model.InvoiceBalance)</td>
                                        <td style="border-left:0px !important" class="text-left">@Html.DisplayFor(model => model.InvoiceBalance)</td>
                                    </tr>
                                }
                                foreach (var item in Model.BonificationTaxes.OrderByDescending(c => c.TaxName))
                                {
                                    if (item.TaxCode == "Sub_Total" || (Model.InvoiceDetails.Products.Any(c => c.IEPSCode.ToLower() == item.TaxCode.ToLower())) || (Model.InvoiceDetails.Products.Any(c => c.IVACode.ToLower() == item.TaxCode.ToLower())))
                                    {
                                        <tr id="@item.TaxCode">
                                            <td colspan="8" class="text-right" style="border-right:0px !important">Bonificación @Html.DisplayFor(modelItem => item.TaxName)</td>
                                            <td style="border-left:0px !important" class="text-left">@Html.EditorFor(modelItem => item.Bonification, new { htmlAttributes = new { @class = "nonEdit nonEditTaxs", @id = "Tax_" + item.TaxCode } })</td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                if (Model.IsSaleInvoiced)
                                {
                                    <tr>
                                        <td colspan="8" class="text-right" style="border-right:0px !important">@Html.LabelFor(model => model.InvoiceBalance)</td>
                                        <td style="border-left:0px !important" class="text-left">@Html.DisplayFor(model => model.InvoiceBalance)</td>
                                    </tr>
                                }
                                foreach (var item in Model.BonificationTaxes.OrderByDescending(c => c.TaxName))
                                {
                                    <tr id="@item.TaxCode">
                                        <td colspan="8" class="text-right" style="border-right:0px !important">Bonificación @Html.DisplayFor(modelItem => item.TaxName)</td>
                                        <td style="border-left:0px !important" class="text-left">@Html.EditorFor(modelItem => item.Bonification, new { htmlAttributes = new { @class = "nonEdit nonEditTaxs", @id = "Tax_" + item.TaxCode } })</td>
                                    </tr>

                                }
                            }
                        </tfoot>
                    </table>
                    @Html.HiddenFor(model => model.IsBonification)
                    @Html.HiddenFor(model => model.InvoiceBalance)
                    @Html.HiddenFor(model => model.CanSelectItems)
                    @Html.HiddenFor(model => model.InvoiceDetails.SubTotal)
                    @Html.HiddenFor(model => model.InvoiceDetails.Tax)
                    @Html.HiddenFor(model => model.InvoiceDetails.Total)
                    @Html.HiddenFor(model => model.InvoiceDetails.SatPMCode)
                    @Html.HiddenFor(model => model.InvoiceDetails.CurrencyRate)
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.IssuedDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.IssuedDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Cause, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Cause, new { htmlAttributes = new { @class = "form-control nonEdit" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control nonEdit" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="">
                        <div class="form-group col-lg-12">
                            <div class="text-right">
                                <button type="button" class="btn btn-success" id="GenerateCreditNote">Procesar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalPdf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Documento PDF</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <object id="Pdf-iframe" style="width:100%" height="350" frameborder="0" type="application/pdf"></object>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script src="~/Scripts/CreditNotes/CreditNotes.js"></script>

    <script type="text/javascript">
        var taxList = @Html.Raw(Json.Encode(Model.BonificationTaxes));
        $(function () {
            var isReadOnly = @Html.Raw(Json.Encode(Model.IsReadOnly));
            var canSelectItems = @Html.Raw(Json.Encode(Model.CanSelectItems));

            if (isReadOnly)
                $('.nonEdit').attr('readonly', 'readonly').css('background-color');

            if (canSelectItems)
                $('.nonEditTaxs').attr('readonly', 'readonly').css('background-color');

            $("input[type=number]").on("focus", function () {
                $(this).on("keydown", function (event) {
                    if (event.keyCode === 38 || event.keyCode === 40) {
                        event.preventDefault();
                    }
                });
            });

            $("#IssuedDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            invoDetails = $("#invoice-details").DataTable({
                columns: [
                    { data: 'DetailId' },
                    { data: 'IsWeightAvailable' },
                    { data: 'ItemNumber' },
                    { data: 'ItemName' },
                    { data: 'QuantityBon' },
                    { data: 'QuantityReturnBon' },
                    { data: 'QuantityAvailableBon' },
                    { data: 'ItemPrice' },
                    { data: 'TotalPrice' },
                    { data: 'IVAValue' },
                    { data: 'IEPSValue' },
                    { data: 'IVACode' },
                    { data: 'IEPSCode' },
                    { data: 'ItemPriceNoTax' },
                    { data: 'ItemTax' },
                    { data: 'ItemIEPS' },
                    { data: 'SalePartNumber' },
                ],
                columnDefs: [
                    { orderable: false, targets: [0, 5, 6] },
                    { visible: false, targets: [0, 1, 9, 10, 11, 12, 13, 14, 15, 16] },
                    { type: "html-input", targets: [5] },
                    //{
                    //    type: 'numeric-comma',
                    //    render: function (data, type, row) {
                    //        return data.toFixed(3);
                    //    },
                    //    targets: [4, 5, 6, 7]
                    //}
                ]
            });
        });

        $("#GenerateCreditNote").click(function () {
            var isValid = ValidateDocumentDate();
            if (isValid) {
                var model = MappingModel();
                var isBoniVal = document.getElementById('IsBonification').value;
                var isBoni = isBoniVal.toLowerCase() == 'true' ? true : false;
                var bonificationValue = ValidateTaxes();
                var url = '@Url.Action("ActionCreateCreditNote", "CreditNotes")';
                var urlLoading = '@Url.Action("CRNO001", "CreditNotes")'; //Url page after create Notification or Bonification.
                $.post({
                    url: '@Url.Action("ActionCheckTotalBonificationsInvoice", "CreditNotes")',
                    Type: 'POST',
                    dataType: 'json',
                    data: { "Model": model, "BonificationValue": bonificationValue },
                    success: function (data) {
                        if (!data.success && isBoni) {
                            toastr.error("Error - " + data.responseText);
                        }
                        else {
                            if ((model.InvoiceDetails.Products.length > 0 && !isBoni) || isBoni)
                                CreateCreditNote(url, model, urlLoading);
                            else if (!isBoni)
                                toastr.error("Error - selecciona un producto con devolución mayor a 0 para nota de crédito.");
                        }
                    }
                });
            }
        });

        $("#ModalPdf").on("hidden.bs.modal",function(){
            window.location.href = '@Url.Action("CRNO001", "CreditNotes")';
        });
    </script>
}
