﻿@model App.Entities.ViewModels.Common.CancelModel

@{
    ViewBag.Title = "CRNO005";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Movimientos</a></li>
                    <li class="active">
                        @if (Model.IsBonification)
                        {<span>Cancelar Bonificación</span>}
                        else
                        {<span>Cancelar Nota de Crédito</span>}
                    </li>
                </ol>
            </div>
            @if (Model.IsBonification)
            {
                <h2 class="font-light m-b-xs">
                    Cancelar Bonificación
                </h2>
                <small>Módulo para cancelar una bonificación</small><br />
            }
            else
            {
                <h2 class="font-light m-b-xs">
                    Cancelar Nota de Crédito
                </h2>
                <small>Módulo para cancelar una nota de crédito</small><br />
            }
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formCancelDocument">
                <div class="row">
                    @Html.HiddenFor(model => model.IsBonification)
                    @if (Model.IsBonification)
                    {<h4 style="margin-left:10px;">Cancelar Bonificación</h4>}
                    else
                    { <h4 style="margin-left:10px;">Cancelar Nota de Crédito</h4>}
                    <div class="form-group col-md-4">
                        @if (Model.IsBonification)
                        {<label class="control-label">No. Bonificación</label>}
                        else
                        {<label class="control-label">No. Nota de Crédito</label>}
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="ProcessDocument">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
            <div id="ProcessDocumentInfo">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var isBoniValue = document.getElementById('IsBonification').value;
        var isBonification = isBoniValue.toLowerCase() == 'true' ? true : false;
        var word = isBonification ? "Bonificación" : "Nota de Crédito";
        var model = {};
        $(function () {
            var errorMessage;
            $("#formCancelDocument").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $("#ProcessDocument").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#ProcessDocument").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    Number: {
                        digits: true,
                        required: true,
                        remote: function () {
                            var Number = $('#Number').val();
                            var valid = {
                                url: "@(Url.Action("ActionValidateBonification", "CreditNotes"))",
                                type: "post",
                                data: { "DocumentNumber": Number, "IsBonification": $('#IsBonification').val() },
                                dataFilter: function (data) {
                                    var json = JSON.parse(data);
                                    if (!json.success) {
                                        EndLoading();
                                        errorMessage = json.responseText;
                                        return false;
                                    }
                                    else
                                        return true;
                                }
                            };
                            return valid;
                        },
                    }
                },
                messages: {
                    Number: {
                        remote: function () { return errorMessage },
                    },
                },
                submitHandler: function (form) {
                    form.submit();
                }
            })
        });

        $("#ProcessDocument").click(function () {
            StartLoading();
            $.ajax({
                url: '@Url.Action("ActionDocumentCancelDetails", "CreditNotes")',
                Type: 'GET',
                data: $('#formCancelDocument').serialize(),
                dataType: 'html',
                success: function (data) {                    
                    $("#ProcessDocumentInfo").html(data);
                    $("#formCancelDocument").hide();
                    EndLoading();
                }
            });
        });

        function CancelDocument() {
            model = PopulateCancelModel();
            console.log(model);
            swal(
                {
                    title: "¿Estas seguro?",
                    text: "Una vez que se cancele no podrás revertir el proceso",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sí",
                    cancelButtonText: "No",
                    closeOnConfirm: true,
                    closeOnCancel: false
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            StartLoading();
                            $.post({
                                url: '@Url.Action("ActionCancelDocument", "CreditNotes")',
                                Type: 'POST',
                                dataType: 'json',                                
                                data: { "Model": model },
                                success: function (data) {
                                    EndLoading();
                                    if (data.success) {
                                        swal({
                                            title: "Cancelada",
                                            text: word + " cancelada.",
                                            type: "success"
                                        }, function () { window.location.reload(true) });
                                    }
                                    else {
                                        swal("Error", "Ocurrió un error, contacte a sistemas", "error");
                                    }
                                }
                            });
                        } else {
                            swal("Error", word + " no cancelada", "error");
                        }
                    })
        }

        function PopulateCancelModel() {
            var cancelModel = {};
            cancelModel.Number = $('#Number').val();
            cancelModel.Serie = $("#Serie").val();
            cancelModel.Uuid = $("#Uuid").val();
            cancelModel.DocumentType = $("#DocumentType").val();
            cancelModel.IsBonification = isBonification;            

            return cancelModel;
        }
    </script>
}
