﻿@model App.Entities.ViewModels.CreditNotes.CreditNotesBonIndex

@{
    ViewBag.Title = "Relación Notas de Crédito-Bonificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE007","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Relación Notas de Crédito-Bonificaciones</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Relación Notas de Crédito-Bonificaciones
            </h2>
            <small>Reporte de Notas de Crédito y/o Bonificaciones</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formCreNoBo" action="@Url.Action("CRNO003","CreditNotes")" method="post">
                <div class="row">
                    <div id="OptionsDiv" class="form-group col-md-9">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                @Html.EnumDropDownListFor(model => model.Currency, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.CreNoBoId, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
                            @Html.EditorFor(model => model.CreNoBoId, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.CreNoBoId, "", new { @class = "text-danger" })
                    </div>
                    <div id="Options2" class="form-group col-md-9">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-clone"></i></span>
                                @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-circle-thin"></i></span>
                                @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Uuid, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-clone"></i></span>
                                @Html.EnumDropDownListFor(model => model.Uuid, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6 ">
                            <label class="control-label">&nbsp;</label>
                            <button type="submit" value="Submit" class="btn btn-success form-control" formaction="@Url.Action("ActionGetXMLCreditNotes", "CreditNotes")" formmethod="post" id="XmlsDownload">Descargar XMLs</button>
                        </div>
                        <div class="col-md-6 ">
                            <label class="control-label">&nbsp;</label>
                            <button type="button" class="btn btn-info form-control" id="CreditNoteButton">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>

            @if (@Model.CreditNotesBonList.Count > 0)
            {
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">&nbsp;</label>
                        <div class="text-center">
                            <button type="button" class="btn btn-success" disabled id="ReportButton">Reporte General</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">
                            <label class="control-label">&nbsp;</label>
                            <div class="text-center">
                                <button type="button" class="btn btn-success" id="XmlsButton">Descargar XMLs</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="CreditNotesBonTable" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>FOLIO</th>
                                <th>TIPO</th>
                                <th>FECHA</th>
                                <th>MOTIVO</th>
                                <th>FACT. AFECT</th>
                                <th>CLIENTE</th>
                                <th>IMPORTE</th>
                                <th>IVA</th>
                                <th>IEPS</th>
                                <th>TOTAL</th>
                                <th>USUARIO</th>
                                <th>ESTADO</th>
                                <th>UUID</th>
                                <th>XMLFILE</th>
                                <th>CNID</th>
                                <th>REPORTE</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>TOTALES</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
            else
            {
                <div class="content animated-panel" id="report-section">
                    <div class="hpanel hblue">
                        <div class="panel-body">
                            <div class="row">
                                <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header">
                        <h4 id="ModalTitle" class="modal-title">Notas de crédito-bonificaciones</h4>
                        <small id="ModalDescription" class="font-bold"></small>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="edit-date">
</div>

@section Scripts {
    <script src="~/Vendor/moment/moment.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $("#StartDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'
            });

            $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'
            });

            $("#XmlsDownload").hide();
            $("#StartDate").attr('readonly', 'readonly').css('background-color', '#fff');
            $("#EndDate").attr('readonly', 'readonly').css('background-color', '#fff');

            var Products = @Html.Raw(Json.Encode(Model.CreditNotesBonList));

            table.clear();
            table.rows.add(jQuery(Products));
            table.columns.adjust().draw();
            var obj = @Html.Raw(Json.Encode(Model));

            if (Products.length > 0) {
                ReportButton.disabled = false;
                footers();
            }
            else {

                ReportButton.disabled = true;
                footers0();
            }

            var errorMessage;
            $("#formCreNoBo").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                        .closest("form")
                        .find("span[data-valmsg-for='" + element.attr("id") + "']")
                        .append(error);
                    $("#CreditNoteButton").prop('textContent', "Continuar");
                    $("#CreditNoteButton").prop('disabled', false);
                },
                highlight: function (e) {

                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {

                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    CreNoBoId: {
                        digits: true,
                        required: false,
                    },
                },
                messages: {
                    CreNoBoId: {

                    },
                }
            });
        });

        var canEditDate = @Html.Raw(Json.Encode(Model.CanEditDate));

        $("#OptionsDiv").on('change keypress', function (e) {
            clear();
        });

        $("#Options2").on('change keypress', function (e) {
            clear();
        });

        function clear() {
            $("#CreNoBoId").val("");
            //  $("#ErrorMessage").hide();
            $('.form-group').removeClass('has-success has-error');
            $('.help-block').remove();
            $("#CreditNoteButton").prop('textContent', "Continuar");
            $("#CreditNoteButton").prop('disabled', false);
        }

        $("#CreNoBoId").on('change keypress', function (e) {
            $("#Status").prop('selectedIndex', 0);
            $("#Type").prop('selectedIndex', 0);
            $("#Uuid").prop('selectedIndex', 0);
            $("#Currency").prop('selectedIndex', 0);
            $('#StartDate').val("").datepicker("update");
            $('#EndDate').val("").datepicker("update");
            // ValidateInputs(e);
        });

        $("#CreditNoteButton").click(function () {
            var date1 = document.getElementById("StartDate").value;
            var date2 = document.getElementById("EndDate").value;
            var expreg = /^$|^([0]?[1-9]|[1][0-2])[./-]([0]?[1-9]|[1|2][0-9]|[3][0|1])[./-]([0-9]{4}|[0-9]{2})$/;
            cnNumber = $("#CreNoBoId").val();

            var dateIni = stringToDate($("#StartDate").val());
            var dateFin = stringToDate($("#EndDate").val());

            if ($("#CreNoBoId").val() != null) {
                $("#formCreNoBo").submit();
                $("#CreditNoteButton").prop('textContent', "Consultando...");
                $("#CreditNoteButton").prop('disabled', true);
            }
            else if (dateFin >= dateIni) {

                $("#formCreNoBo").submit();
                $("#CreditNoteButton").prop('textContent', "Consultando...");
                $("#CreditNoteButton").prop('disabled', true);
            }
            else
                toastr.error('Alerta - Fecha Final debe ser mayor o igual a la fecha Inicial. (' + $("#StartDate").val() + ')');
        });

        $('#StartDate').click(function () {
            $('#StartDate').val("").datepicker("update");
        });

        $('#EndDate').click(function () {
            $('#EndDate').val("").datepicker("update");
        });

        function ValidateInputs(e) {
            // $("#ErrorMessage").hide();
            $('.form-group').removeClass('has-success has-error');
            $('.help-block').remove();
            if (e.which == 13 || e.keyCode == 13)
                $("#CreditNoteButton").click();
        }

        //consulta
        var table = $("#CreditNotesBonTable").DataTable({
            "createdRow": function (row, data, dataIndex) {
                // console.log(data['Status']);
                if (data['Uuid'] == 'SIN TIMBRAR') {
                    $(row).css('background-color', '#F5F190');
                    $(row).css('color', 'Black');

                }
                if (data['Status'] == 'CANCELADA') {
                    $(row).css('background-color', '#F9F7CA');
                    $(row).css('color', 'RED');

                }
                //if (data['Status'] != 'CANCELADA' && data['Uuid'] != 'SIN TIMBRAR' ) {
                //    $(row).css('background-color', '#D1F3DA');
                //    $(row).css('color', 'Black');

                //}
            },

            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                },
                { data: 'CfdNotaNo' },
                { data: 'Type' },
                { data: 'Date' },
                { data: 'Cause' },
                { data: 'InvId' },
                { data: 'Customer' },
                { data: 'Import' },
                { data: 'IVA' },
                { data: 'IEPS' },
                { data: 'Total' },
                { data: 'User' },
                { data: 'Status' },
                { data: 'Uuid' },
                { data: 'HasXmlFile' },
                { data: 'cnId' }
            ],

            columnDefs: [
                {
                    targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                    width: "1%"
                },

                {
                    type: 'numeric-comma',
                    render: function (data, type, row) {
                        return '$' + data.toFixed(2);
                    },
                    targets: [7, 8, 9, 10]
                },

                {
                    targets: [1, 5, 7, 8, 9, 10],
                    className: 'text-center'
                },
                {
                    data: null,
                    width: "1%",
                    targets: 16,
                    render: function (data, type, row) {
                        if (data['HasXmlFile'] == true && data['CanEditDate'] == true && canEditDate == true)
                            return '<button class="btn btn-xs btn-outline btn-info report">Reporte</button> <button class="btn btn-xs btn-outline btn-success xmlFile">Archivo XML</button> <button class="btn btn-xs btn-outline btn-warning editDate">Editar Fecha</button>'
                        else if (data['HasXmlFile'] == true)
                            return '<button class="btn btn-xs btn-outline btn-info report">Reporte</button> <button class="btn btn-xs btn-outline btn-success xmlFile">Archivo XML</button>'
                        else
                            return '<button class="btn btn-xs btn-outline btn-info report">Reporte</button>'
                    }
                },
                {
                    targets: [14, 15],
                    visible: false
                },
                {
                    targets: 13,
                    createdCell: function (td, cellData, rowData, row, col) {
                        if (rowData['Uuid'] == 'SIN TIMBRAR') {
                            $(td).css('color', 'red');
                        }
                    }
                }],
        });

        var detailRows = [];

        $('#CreditNotesBonTable tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (table.row('.details').length) {
                    $('.details-control', table.row('.details').node()).click();
                }
                row.child(format(row.data())).show();
                tr.addClass('details');
            }
        });

        table.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        function reloadStyleTable() {
            $('#tabledetail').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
            });
        }

        function format(d) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "@(Url.Action("ActionGetCreditNotesBonDetail", "CreditNotes"))",//OBTIENE LOS ARTICULOS DE LA VENTA POR EL NUMERO DE VENTA EN SALES_DETAILS
                data: { "cnId": d.cnId, "importe": d.Import },
                type: "GET",
                success: function (returndate) {
                    $.each(returndate.Json, function (index, value) {
                        detailItems += "<tr><td>" + value.part_number + "</td><td>" + value.part_name + "</td><td>" + value.part_quantity.toFixed(4) + "</td><td class='text-right'>" + "$" + value.part_price.toFixed(2) +
                            "</td><td class='text-right'>" + "$" + value.part_importe.toFixed(2) + "</td><td class='text-right'>"
                            + "$" + value.part_iva.toFixed(2) + "</td><td class='text-right'>" + value.part_iva_percentage.toFixed(0) + "</td><td class='text-right'>"
                            + "$" + value.part_ieps.toFixed(2) + "</td><td class='text-right'>" + value.part_ieps_percentage + "</td> <td class='text-right'>" + "$" + value.part_total.toFixed(2) + "</td></tr>"
                    });
                    tabledetail.html('<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">' +
                        '<thead><tr><th>No. Artículo</th><th>Artículo</th><th>Cantidad</th><th>Precio</th><th>Importe</th><th>IVA</th><th>IVA %</th></th><th>IEPS</th><th>IEPS %</th><th>TOTAL</th></tr></thead><tbody>' + detailItems + '</tbody></table>').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail;
        }

        $('#CreditNotesBonTable tbody').on('click', 'button.report', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            var importe = row.data().Import;
            var cnId = row.data().cnId;
            var date = row.data().Date;
            var invoice = row.data().InvId;
            var folio = row.data().CfdNotaNo;
            var customer = row.data().Customer;
            var type = row.data().Type;
            StartLoading();
            $.ajax({
                type: "GET",
                url: "@(Url.Action("ActionReportCreditNotesDetails", "CreditNotes"))",
                data: { "cnId": cnId, "folio": folio, "importe": importe, "date": date, "invoice": invoice, "customer": customer, "type": type },
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Folio: ' + cnId + '');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });

        });

        $("#ReportButton").click(function () {
            console.log('click');
            var obj = @Html.Raw(Json.Encode(Model));
            StartLoading();
            $.post({
                type: 'POST',
                url: "@(Url.Action("ActionReportGral", "CreditNotes"))",
                data: { "model": obj },
                dataType: 'html',
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Relación Notas de Crédito-Bonificaciones');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    EndLoading();
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });

        function footers() {
            for (var i = 7; i < 11; i++) {
                var foot = table.column(i);

                $(foot.footer()).html(
                    '$' + foot.data().reduce(function (a, b) {
                        return (a + b);
                    }).toFixed(2)
                );
            }
        }

        function footers0() {
            for (var i = 7; i < 11; i++) {
                var foot = table.column(i);

                $(foot.footer()).html('');
            }
        }

        $("#XmlsButton").click(function () {
            $("#XmlsDownload").click();
        });

         //Download XML File
        $('#CreditNotesBonTable tbody').on('click', 'button.xmlFile', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            var documentNo = row.data().cnId;
            var url = "@(Url.Action("ActionGetXMLFile", "CreditNotes"))/?DocumentNo=" + documentNo;
            $('<a href="'+ url +'" target="_blank">External Link</a>')[0].click();
        });


        //Edit Date From Document Selected
        $('#CreditNotesBonTable tbody').on('click', 'button.editDate', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            var cnId = row.data().cnId;
            
            $.ajax({
                type: "GET",
                url: "@(Url.Action("ActionEditDocumentDate", "CreditNotes"))",
                data: { "DocumentId": cnId },
                success: function (data) {                    
                    $("#edit-date").html(data);
                    $("#ModalEditCreditNote").modal('show');
                },
                error: function (data) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');                    
                }
            });
        });

        function SaveChanges() {
            StartLoading();
            $.post({
                url: '@Url.Action("ActionEditDocumentDate", "CreditNotes")',
                dataType: 'json',
                Type: 'POST',
                data: $("#formEditDate").serialize(),
                success: function (data) {
                    $('#ModalEditCreditNote').modal('hide');
                    EndLoading();                    
                    if(data.success)
                    {
                        swal({
                            title: 'Documento',
                            text: "Documento editado exitosamente.",
                            type: "success"
                        }, function () { window.location.reload(true); });
                    }
                    else {
                        swal("Error", "Ocurrió un error, contacte a sistemas", "error");
                    }
                },
            });
        }

    </script>
}
