﻿@model App.Entities.ViewModels.Checkout.CheckoutIndex

@{
    ViewBag.Title = "CHOU001";
    decimal exchangeRate = !Model.IsFromMenu ? Model.DataInfo.ExchangeRate.Select(c => c.cur_rate1).First() : 0;
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000","POS")">Cajas</a></li>
                    <li><a href="@Url.Action("POS002","POS")">Reportes</a></li>
                    <li class="active">
                        <span>Corte Z</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Corte Z Global (PV)
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel" id="SelectClient">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formCutZReport" action="@Url.Action("CHOU001","Checkout")" method="post">
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Cashier, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.Cashier, null, "-- Todos --", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchInfo">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (!Model.IsFromMenu)
        {
            <div class="content animated-panel" id="chargeTable">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-success" id="ReportButton">Reporte</button>
                        </div>
                        <div class="table-responsive m-t">
                            <table id="reportTableCharge" class="table table-striped table-bordered table-hover reportTable" style="width:100%">
                                <thead>
                                    <tr><th colspan="4">Cobros a Clientes</th></tr>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Monto</th>
                                        <th>TDC</th>
                                        <th>Valor MXN</th>
                                    </tr>                                    
                                </thead>
                                <tbody>
                                    @foreach(var item in Model.DataInfo.Charge.Where(c=>c.Monto != 0))
                                    {
                                        decimal usdTomxn = 0;
                                        <tr>
                                            @if (item.currency == "USD")
                                            {                                                
                                                usdTomxn = item.Monto * exchangeRate;
                                                <td style="width:40%;">@item.pm_name</td>
                                                <td style="width:20%;">@item.Monto</td>
                                                <td style="width:20%;">@exchangeRate.ToString("C")</td>
                                                <td style="width:20%;">@usdTomxn.ToString("C") (@item.Monto.ToString("C"))</td>
                                            }
                                            else
                                            {
                                                <td style="width:40%;">@item.pm_name</td>
                                                <td style="width:20%;">@item.Monto</td>
                                                <td style="width:20%;"></td>
                                                <td style="width:20%;">@item.Monto.ToString("C")</td>
                                            }                                            
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="3" style="text-align:right;">Total</th>                                        
                                        <th>@Model.DataInfo.TotalCharge.ToString("C")</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="table-responsive m-t">
                            <table id="reportTableWithdrawal" class="table table-striped table-bordered table-hover reportTable" style="width:100%">
                                <thead>
                                    <tr><th colspan="4">Retiro</th></tr>                                    
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DataInfo.Withdrawal.Where(c => c.Retiro != 0))
                                    {
                                        decimal usdTomxn = 0;
                                        <tr>
                                            @if (item.currency == "USD")
                                            {
                                                usdTomxn = item.Retiro * exchangeRate;
                                                <td style="width:40%;">@item.pm_name</td>
                                                <td style="width:20%;">@item.Retiro</td>
                                                <td style="width:20%;">@exchangeRate.ToString("C")</td>
                                                <td style="width:20%;">@usdTomxn.ToString("C") (@item.Retiro.ToString("C"))</td>
                                            }
                                            else
                                            {
                                                <td style="width:40%;">@item.pm_name</td>
                                                <td style="width:20%;">@item.Retiro</td>
                                                <td style="width:20%;"></td>
                                                <td style="width:20%;">@item.Retiro.ToString("C")</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="3" style="text-align:right;">Total</th>                                        
                                        <th>@Model.DataInfo.TotalWithdrawal.ToString("C")</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="table-responsive m-t">
                            <table id="reportTableReturns" class="table table-striped table-bordered table-hover reportTable" style="width:100%">
                                <thead>
                                    <tr><th colspan="4">Devoluciones</th></tr>                                    
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DataInfo.Returns.Where(c => c.Monto != 0))
                                    {
                                        decimal usdTomxn = 0;
                                        <tr>
                                            @if (item.currency == "USD")
                                            {
                                                usdTomxn = item.Monto * exchangeRate;
                                                <td style="width:40%;">@item.pm_name</td>
                                                <td style="width:20%;">@item.Monto</td>
                                                <td style="width:20%;">@exchangeRate.ToString("C")</td>
                                                <td style="width:20%;">@usdTomxn.ToString("C") (@item.Monto.ToString("C"))</td>
                                            }
                                            else
                                            {
                                                item.Monto = item.Monto < 0 ? (item.Monto * -1) : item.Monto;
                                                <td style="width:40%;">@item.pm_name</td>
                                                <td style="width:20%;">@item.Monto</td>
                                                <td style="width:20%;"></td>
                                                <td style="width:20%;">@item.Monto.ToString("C")</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        @{Model.DataInfo.TotalReturns = Model.DataInfo.TotalReturns < 0 ? (Model.DataInfo.TotalReturns * -1) : Model.DataInfo.TotalReturns;}
                                        <th colspan="3" style="text-align:right;">Total</th>                                        
                                        <th>@Model.DataInfo.TotalReturns.ToString("C")</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="table-responsive m-t">
                            <table id="reportTableDonations" class="table table-striped table-bordered table-hover reportTable" style="width:100%">                                
                                <tbody>                                   
                                        <tr>
                                            <td style="width:40%;">Donaciones</td>
                                            <td style="width:20%;">@Model.DataInfo.TotalDonations</td>
                                            <td style="width:20%;"></td>
                                            <td style="width:20%;">@Model.DataInfo.TotalDonations.ToString("C")</td>
                                        </tr>                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="3" style="text-align:right;">Balance</th>
                                        <th>$@Model.DataInfo.Balance.ToString("0.00")</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }       
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Corte Z</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datepicker/js")    
    <script type="text/javascript">
        $(function () {

            $("#Date").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');            
        });

        $("#SearchInfo").click(function () {
            StartLoading();
            $("#formCutZReport").submit();
        });

        $("#ReportButton").click(function() {
            var model = @Html.Raw(Json.Encode(Model));
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetZCutRepor", "Checkout")',
                Type: 'POST',
                data: { "Model": model },
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte de Corte Z');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });

    </script>
}
