﻿@model App.Entities.ViewModels.Donations.DonationIndex

@{
    ViewBag.Title = "Reporte de Donaciones";
    decimal greatTotal = 0;
    decimal totalCashiers = 0;
}

    <style type="text/css">
        td.details-control:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f101";
            cursor: pointer;
        }

        tr.details td.details-control:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f103";
            cursor: pointer;
        }
    </style>

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000","POS")">Cajas</a></li>
                    <li><a href="@Url.Action("POS002","POS")">Reportes</a></li>
                    <li class="active">
                        <span>Donaciones</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Donaciones
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formDonationReport" action="@Url.Action("DONA001","Donations")" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Cashier, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.Cashier, null, "-- Todos --", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Campaign, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.Campaign, null, "-- Todas --", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchInfo">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (!Model.IsFromMenu && Model.DataReport.Count() > 0)
        {
            <div class="content animated-panel" id="TableSection">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-success" id="ReportButton">Reporte</button>
                        </div>
                        <div>
                            <label>Cajero: @Model.CashierName</label>&nbsp;&nbsp;&nbsp;<label>Campaña: @Model.CampaignName</label>
                            <div class="table-responsive m-t">
                                <table id="reportTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Id Cajero</th>                                            
                                            <th>Fecha</th>
                                            <th>Cajero</th>
                                            <th>Monto MXN</th>
                                            <th>Monto USD</th>
                                            <th>TDC</th>
                                            <th>Total MXN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DataReport.OrderBy(c => c.Date).ThenBy(x => x.Cashier))
                                        {
                                            //var total = item.AmountMXN + (item.AmountUSD * item.CurrencyRate);
                                            //greatTotal += total;
                                        <tr>
                                            <td></td>
                                            <td>@item.CashierId</td>
                                            <td>@item.Date</td>
                                            <td>@item.Cashier</td>
                                            <td>@item.AmountMXN.ToString("C")</td>
                                            <td>@item.AmountUSD.ToString("C")</td>
                                            <td>@item.CurrencyRate.ToString("C")</td>
                                            <td>@item.Total.ToString("C")</td>
                                        </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="4" style="text-align:right">Totales</th>
                                            <th>@Model.DataReport.Sum(c => c.AmountMXN).ToString("C")</th>
                                            <th>@Model.DataReport.Sum(c => c.AmountUSD).ToString("C")</th>
                                            <th></th>
                                            @*<th>@greatTotal.ToString("C")</th>*@
                                            <th>@Model.DataReport.Sum(c => c.Total).ToString("C")</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div>
                            <div class="table-responsive m-t">
                                <table id="reportTableTotals" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>                                            
                                            <th>Cajero</th>                                            
                                            <th>Total MXN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.CashierTotals)
                                        {
                                            totalCashiers += item.Amount;
                                            <tr>                                                
                                                <td>@item.Cashier</td>
                                                <td>@item.Amount.ToString("C")</td>                                                
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th style="text-align:right">Total</th>
                                            <th>@totalCashiers.ToString("C")</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (!Model.IsFromMenu)
        {
            <div class="content animated-panel" id="report-section">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <div class="row">
                            <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Donaciones</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
@Scripts.Render("~/bundles/datatables/js")
@Scripts.Render("~/bundles/datatablesBootstrap/js")
@Scripts.Render("~/bundles/datatablesPlugins/js")
 
    <script src="~/Scripts/validations.js"></script>
    <script type="text/javascript">
        $(function () {

            startDate = $("#StartDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            endDate = $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');
        });

        $("#SearchInfo").click(function () {
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();

            if(ValidateDates(startDate,endDate))
            {
                StartLoading();
                $("#formDonationReport").submit();
            }
        });


        $("#ReportButton").click(function() {
            var model = @Html.Raw(Json.Encode(Model));
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetDonationsReport", "Donations")',
                Type: 'POST',
                data: { "Model": model },
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte de Donaciones');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });

        var table = $('#reportTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                }, 
                { data: 'CashierId' },
                { data: 'Date' },
                { data: 'Cashier' },
                { data: 'AmountMXN' },
                { data: 'AmountUSD' },
                { data: 'CurrencyRate' },
                { data: 'Total' },                
            ],
            columnDefs: [
                {
                    className: 'text-center'
                },
                {
                    targets: [1],
                    visible: false
                }
            ]
        });

        $('#reportTableTotals').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            
            columnDefs: [
                {
                    className: 'text-center'
                },
            ]
        });



        $('#reportTable tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (table.row('.details').length) {
                    $('.details-control', table.row('.details').node()).click();
                }
                row.child(format(row.data())).show();
                tr.addClass('details');
            }
        });

        //Details of Donations 
        var detailRows = [];

        table.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        function reloadStyleTable() {
            $('#tabledetail').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
            });
        }

        function format(d) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.post({
                url: "@(Url.Action("ActionGetDonationDetail", "Donations"))",
                data: { "UserId": d.CashierId, "Date" : d.Date},
                type: "POST",
                success: function (returndate) {
                    $.each(returndate.Json, function (index, value) {
                        detailItems += "<tr><td>" + value.Sale + "</td><td>" + value.Hour + "</td><td>" + value.CheckOutNo + "</td><td>" + value.PaymentMethod + "</td><td>" + "$" + value.Amount.toFixed(2) + "</td></tr>"
                    });
                    tabledetail.html('<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">' +
                        '<thead><tr><th>Venta</th><th>Hora</th><th>Caja</th><th>Método de Pago</th>Monto<th></th></tr></thead><tbody>' + detailItems + '</tbody></table>').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail;
        }

    </script>
}