﻿@model App.Entities.ViewModels.ConfigPosSales.PosSale

<div class="modal fade" id="ModalEditConfig" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Editar Configuración</h4>
                <small id="ModalDescription" class="font-bold">Formulario para editar una configuración del punto de venta.</small>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ActionEditPosConfig", "ConfigPosSales", FormMethod.Post, new { name = "formEditPosConfig", id = "formEditPosConfig" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.HiddenFor(model => model.Id)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Key, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    @Html.EditorFor(model => model.Key, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Key, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-bitcoin"></i></span>
                                    @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.PosId, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                    @Html.EditorFor(model => model.PosId, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.PosId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-life-ring"></i></span>
                                    @Html.DropDownListFor(model => model.Section, null, htmlAttributes: new { @id = "Payment", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="text-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <input type="button" value="Guardar" class="btn btn-success" id="SaveEditConfig" onclick="SaveChanges()" />
                        </div>
                    </div>
                    <br><br>
                }
            </div>
        </div>
    </div>
</div>

