﻿@model App.Entities.ViewModels.ConfigPosSales.PosSale

@{
    ViewBag.Title = "COPO001";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Configuración</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Punto de Venta</a></li>
                    <li class="active">
                        <span>Cajas</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Configuración Cajas
            </h2>
            <small>Módulo para configurar punto de venta</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formConfigPos" action="@Url.Action("COPO001", "ConfigPosSales")" method="post">
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Key, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            @Html.EditorFor(model => model.Key, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Key, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-bitcoin"></i></span>
                            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                    </div>                    
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.PosId, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-money"></i></span>
                            @Html.EditorFor(model => model.PosId, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.PosId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-life-ring"></i></span>
                            @Html.DropDownListFor(model => model.Section, null, htmlAttributes: new { @id = "Payment", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">&nbsp;</label>
                    <div class="text-right">
                        <button type="button" class="btn btn-success" id="CreatePosConfig">Continuar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    $(function () {
        $("#formConfigPos").validate({
            errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
            errorElement: "span",
            errorPlacement: function (error, element) {
                $(element)
                        .closest("form")
                        .find("span[data-valmsg-for='" + element.attr("id") + "']")
                        .append(error);
            },
            highlight: function (e) {
                $("#CreditNote").attr("disabled", "disabled");
                $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                $(e).closest('.help-block').remove();
            },
            success: function (e) {
                $("#CreditNote").removeAttr("disabled");
                e.closest('.form-group').removeClass('has-success has-error');
                e.closest('.help-block').remove();
            },
            rules: {
                Key: {                    
                    required: true,                    
                },
                Value: {                    
                    required: true,                    
                }
            },           
            submitHandler: function (form) {
                form.submit();
            }
        });
    });

    $("#CreatePosConfig").click(function () {
        var validForm = $("#formConfigPos").valid();
        if(validForm)
        {
            StartLoading();
            $.post({
                url: '@Url.Action("COPO001", "ConfigPosSales")',
                dataType: 'json',
                Type: 'POST',
                data: $("#formConfigPos").serialize(),
                success: function (data) {
                    EndLoading();
                    if (data.success) {
                        swal({
                            title: 'Configuración',
                            text: "Configuración guardada correctamente.",
                            type: "success"
                        }, function () {
                            window.location.reload(true);
                        });
                    }
                    else {
                        swal("Error", "Ocurrió un error, contacte a sistemas", "error");
                    }
                }
            });
        }
    });
</script>
}