﻿@model List<App.Entities.ViewModels.ConfigPosSales.PosSale>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Configuración</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Punto de Venta</a></li>
                    <li class="active">
                        <span>Editar</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
               Editar Configuración Cajas
            </h2>
            <small>Módulo para editar una configuración del punto de venta</small><br />
        </div>
    </div>
</div>
<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <div class="table-responsive">
                <table id="PosConfigTable" class="table table-striped table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Nombre</th>
                            <th>Valor</th>
                            <th>Caja</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*Div to display edit customer modal*@
<div id="edit-config">
</div>

@section Scripts{
@Scripts.Render("~/bundles/datatables/js")
@Scripts.Render("~/bundles/datatablesBootstrap/js")
@Scripts.Render("~/bundles/datatablesPlugins/js")
<script type="text/javascript">
    $(document).ready(function () {
        var configs = @Html.Raw(Json.Encode(Model));
        configTable = $("#PosConfigTable").DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            data: configs,
            columns: [
                { data: null, defaultContent: '<button class="btn btn-xs btn-outline btn-success">Editar</button>', width: "1%" },
                { data: 'Id' },
                { data: 'Key' },
                { data: 'Value' },
                { data: 'PosId' },
            ],
            columnDefs: [
                {
                    targets: [0],
                    orderable: false
                },
                {
                    targets:[1],
                    visible: false
                },                
            ]
        });        
    });

    //Get Id values per row when edit button is clicked
    $('#PosConfigTable tbody').on('click', 'button', function () {
        console.log(1);
        var data = configTable.row($(this).parents('tr')).data();
        EditConfigPos(data.Id);
    });

    //Function to get information from the selected configuration
    function EditConfigPos(configId) {
        $.ajax({
            url: '@Url.Action("ActionEditPosConfig", "ConfigPosSales")',
            Type: 'GET',
            data: { ConfigPosId: configId },
            success: function (data) {
                $("#edit-config").html(data);
                $("#ModalEditConfig").modal('show');
            }
        });
    }

    //Function to save changes on modal edit
    function SaveChanges() {
        StartLoading();
        $.post({
            url: '@Url.Action("ActionEditPosConfig", "ConfigPosSales")',
            dataType: 'json',
            Type: 'POST',
            data: $("#formEditPosConfig").serialize(),
            success: function (data) {
                configTable.clear().draw();
                configTable.rows.add(jQuery.parseJSON(data.Json))
                configTable.columns.adjust().draw();
                $('#ModalEditConfig').modal('hide');
                EndLoading();

                //toastr.success('Cliente editado exitosamente.');
                swal({
                    title: 'Configuración',
                    text: "Configuración editada exitosamente.",
                    type: "success"
                });
            },
        });
    }
</script>
}