﻿@model FloridoERPTX.ViewModels.FixedAsset.FixedAssetRequisitionViewModel
@{
    ViewBag.Title = "Catalogo productos";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

@section Styles { @Styles.Render("~/bundles/touchspin/css") }


<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Activo Fijo</a></li>
                    <li><a href="PURCH007">Funciones</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Requisicion</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs text-info">
                Requisicion de Activo Fijo
            </h2>
            <small>Genera Una Requisicion de Activo Fijo Para Sucursal @Model.site_name. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="hpanel">
                    <ul class="nav nav-tabs">
                        <li class="active" title="Generar Requisicion" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-1" onclick="ChangeTextMenu('Generar Requisicion');Clear();"> <i class="fa fa-plus"></i>&nbsp;Nueva Requisicion</a></li>
                        <li class="" title="Lista de Requisiciones" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-2" onclick="ChangeTextMenu('Lista de Requisiciones');Clear();"><i class="fa fa-list-alt"></i>&nbsp;Requisicion</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="form-group col-lg-12">
                                    <h3 class="text-primary" style="display:inline">Datos Generales</h3>
                                    <h3 class="text-info pull-right" style="display:inline"> @DateTime.Now.ToString("dd/MM/yyyy") </h3>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group col-lg-3">
                                        <label title="Fecha requerida" data-toggle="tooltip" data-placement="right">Fecha Requerida</label>
                                        <div class="input-group date" id="datapickerAta">
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                            @Html.TextBoxFor((x => x.requisition_date), new { @class = "form-control", @id = "ata" })
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label for="asset">Comentarios</label>
                                        <input class="form-control" type="text" id="remark" />
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label for="asset">Activo Fijo</label>
                                        @Html.DropDownListFor(a => a.fixed_asset_code, Model.ListSelectFixedAsset, new { @class = "form-control vali drop", @id = "asset", @onchange = "GetAsset()" })
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label for="asset">Categoria</label>
                                        <input class="form-control" type="text" id="category" disabled />
                                    </div>

                                </div>

                                <div class="form-group col-lg-10">
                                    <h3 class="text-primary" style="display:inline">Requerimiento</h3>
                                    <button type="button" class="btn w-xs btn-link pull-right" onclick="AddItem();">
                                        Agregar otro Producto
                                    </button>

                                </div>


                                <div class="col-lg-12">
                                    <div class="form-group col-lg-4">
                                        <label for="description" title="Descripcion" data-toggle="tooltip" data-placement="right">Descripción</label>
                                        <input type="text" class="form-control" id="description" />
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label for="serie" title="Serie" data-toggle="tooltip" data-placement="right">Serie</label>
                                        <input type="text" class="form-control" id="serie" />
                                    </div>

                                    <div class="form-group col-lg-2">
                                        <label for="model" title="Modelo" data-toggle="tooltip" data-placement="right">Modelo</label>
                                        <input type="text" class="form-control" id="model" />
                                    </div>

                                    <div class="form-group col-lg-2">
                                        <label for="brand" title="Marca" data-toggle="tooltip" data-placement="right">Marca</label>
                                        <input type="text" class="form-control" id="brand" />
                                    </div>
                                </div>


                                <div class="form-group col-lg-12 animate-panel hide" id="div-product-table-title">
                                    <h3 class="text-primary" style="display:inline">Productos</h3>
                                </div>

                                <div class="col-lg-12 animate-panel hide" id="div-product-table">
                                    <div class="col-lg-10">
                                        <table class="table table-striped table-bordered table-hover" id="table-items" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Descripcion</th>
                                                    <th>Serie</th>
                                                    <th>Modelo</th>
                                                    <th>Marca</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                                <div class="form-group col-lg-12">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-default" onclick="Clear();"><i class="fa fa-close"></i> Cancelar</button>
                                        <button type="button" class="btn btn-success" onclick="Save(); ">
                                            <i class="fa fa-check"></i>
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div id="TableProduct" class="animate-panel" data-effect="fadeInRight">
                                    <div class="row projects">
                                        <div class="col-lg-12">
                                            <div class="hpanel hblue">
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered table-hover" id="table-requisition" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Folio</th>
                                                                    <th>Estatus</th>
                                                                    <th>Fecha requerida</th>
                                                                    <th>Fecha tentativa de llegada</th>
                                                                    <th>Comentarios</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model.ListRequisition)
                                                                {
                                                                    <tr>
                                                                        <td class="text-center"></td>
                                                                        <td>@item.requisition_code</td>
                                                                        <td>@item.requisition_status_str</td>
                                                                        <td>@item.requisition_date_string</td>
                                                                        <td>@item.delivery_date_string</td>
                                                                        <td>@item.requisition_remark</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/touchspin/js")
    <script type="text/javascript">

        var Items = []
        $("#asset").select2();

        $("#datapickerAta").datepicker({
            language: 'es',
            format: "yyyy/mm/dd",
            startDate: new Date(),
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom auto"
        });


        function ChangeTextMenu(s) {
            $('#MenuLeftAction').html(s);
        }

        function Clear() {
            $("#asset").val("").trigger("change");
            $("#description").val("")
            $("#brand").val("")
            $("#serie").val("")
            $("#model").val("")
            $("#remark").val("")

            Items = [];
            tableItems.clear().draw();
            tableItems.rows.add(Items);
            tableItems.columns.adjust().draw();
        }

        var table = $('#table-requisition').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ Registros.",
                "sZeroRecords": "No se encontraron resultados.",
                "sEmptyTable": "No hay requisiciones",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros.",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros.",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros.)",
                "sInfoPostFix": "",
                "sSearch": "Buscar : ",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate":
                {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria":
                {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons:
                [

                ],
            columns:
                [
                    {
                        "class": "text-center details-control",
                        "orderable": false,
                        "data": null,
                        "defaultContent": "",
                        render: function (data, type, row, meta) {
                            return '<i class="fa fa-chevron-down "></i>'
                        }
                    },
                    { data: 'requisition_code' },
                    { data: 'requisition_status_str' },
                    { data: 'requisition_date_string' },
                    { data: 'delivery_date_string' },
                    { data: 'requisition_remark' },
                ],
            columnDefs:
                [
                    //{
                    //    targets: 2,
                    //    render: $.fn.dataTable.render.moment('Do MMM YYYYY')
                    //},
                    //{
                    //    targets: 3,
                    //    render: $.fn.dataTable.render.moment('Do MMM YYYYY')
                    //},
                ]
        });

        var tableItems = $('#table-items').DataTable({

            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,

            columns: [

                { data: 'description' },
                { data: 'serie' },
                { data: 'model' },
                { data: 'brand' }
            ]

        });

        var detailRows = [];
        $('#table-requisition tbody').on('click', 'tr td.details-control', function ()
        {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown())
            {
                row.child.hide();
                tr.removeClass('details');
            }
            else
            {
                if (table.row('.details').length)
                {
                    $('.details-control', table.row('.details').node()).click();
                }
                console.log(format(row.data()))
                row.child(format(row.data())).show();
                tr.addClass('details');
            }
        });

        table.on('draw', function ()
        {
            $.each(detailRows, function (i, id)
            {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        function format(d)
        {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
           
            $.ajax({
                url: "@(Url.Action("ActionGetItemsByRequisition", "FixedAsset"))",
                data: { "id": d.requisition_code},
                type: "GET",
                success: function (returndate) {
                    $.each(returndate.json, function (index, value)
                    {
                        detailItems += "<tr>"
                        detailItems += "<td class='text-center'> " + value.description + "</td >"
                        detailItems += "<td class='text-center'>" + value.serie + "</td> "
                        detailItems += "<td class='text-center'>" + value.model + "</td>"
                        detailItems += "<td class='text-center'>" + value.brand + "</td> "
                        detailItems += "</tr > "

                    });
                    tabledetail.html('<table id="tabledetail" class="table table-striped table-hover" style="width:100%">' +
                        '<thead>' +
                            '<tr>' +
                                '<th class="text-center">Descripcion</th>' +
                                '<th class="text-center">Serie</th>' +
                                '<th class="text-center">Modelo</th>' +
                                '<th class="text-center">Marca</th>' +
                            '</tr >' +
                        '</thead >' +
                        '<tbody>' + detailItems + '</tbody>' +
                     '</table > ').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail;
            
        }

        function reloadStyleTable()
        {
            $('#tabledetail').DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                oLanguage:
                {
                    "sProcessing": "",
                    "sLengthMenu": "",
                    "sZeroRecords": "",
                    "sEmptyTable": "",
                    "sInfo": "",
                    "sInfoEmpty": "",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "",
                    "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...",
                    "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                    "oAria":
                    {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
            });
        }




        function AddItem() {
            //Validar.

            $('#div-product-table').removeClass("hide");
            $('#div-product-table').animatePanel();

            $('#div-product-table-title').removeClass("hide");
            $('#div-product-table-title').animatePanel();

            var item = {
                description: $("#description").val(),
                brand: $("#brand").val(),
                serie: $("#serie").val(),
                model: $("#model").val(),
            };

            Items.push(item);

            tableItems.clear().draw();
            tableItems.rows.add(Items);
            tableItems.columns.adjust().draw();

            console.log($("#ata").val())

            //Semi Clear
            $("#description").val("")
            $("#brand").val("")
            $("#serie").val("")
            $("#model").val("")

        }


        function Save() {

            StartLoading();
            var remark = $("#remark").val()
            var asset = $("#asset").val()
            var date = $("#ata").val()

            var description = $("#description").val()
            var brand = $("#brand").val()
            var serie = $("#serie").val()
            var model = $("#model").val()

            if (remark == "" || asset == "" || date == "") {
                EndLoading();
                toastr.warning('Favor de llenar todos los datos generales.');
                return false;
            }

            if (Items.length == 0) {

                if (description == "") {
                    EndLoading();
                    toastr.warning('Favor de agregar la descripcion.');
                    return false;
                } else {

                    var item = {
                        description: $("#description").val(),
                        brand: $("#brand").val(),
                        serie: $("#serie").val(),
                        model: $("#model").val(),
                    };

                    Items.push(item);
                }
            }

            $.ajax({
                 type: "POST",
                 url: "@(Url.Action("ActionAddRequisition", "FixedAsset"))",
                data: {
                    "remark": remark,
                    "date": date,
                    "fixed_asset": asset,
                    "Items": Items
                 },
                 success: function (returndata) {

                     if (returndata.success) {

                         EndLoading();
                         toastr.success(returndata.message);

                         var items = returndata.json
                         console.log(items)

                         table.clear().draw();
                         table.rows.add(items);
                         table.columns.adjust().draw();

                         Clear()
                     }
                     else {
                         EndLoading();
                         toastr.warning(returndata.message);
                     }
                 },
                error: function () {
                     EndLoading();
                     toastr.error('Error inesperado contactar a sistemas');
                 }
            });

        }

        function GetAsset() {

            var asset = $("#asset").val()

            if (asset == "") {
                $("#category").val("");
                return false;
            }

            $.ajax({
                type: "GET",
                url: "@(Url.Action("ActionGetAssetById", "FixedAsset"))",
                data: {
                    "id": asset
                 },
                 success: function (returndata) {

                     if (returndata.success) {
                         $("#category").val(returndata.json);
                     }
                     else {
                         EndLoading();
                         toastr.warning(returndata.message);
                     }
                 },
                error: function () {
                     EndLoading();
                     toastr.error('Error inesperado contactar a sistemas');
                 }
            });

        }


    </script>
}

