﻿@{
    /**/

    ViewBag.Title = "POS000";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div class="font-light m-b-xs text-center">
                <h2>
                    CAJAS
                </h2>
                <small class="text-primary text-center">Menú Cajas</small>
            </div>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">





        <div class="col-md-4">
            @*<div class="hpanel hred">*@
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("POS001", "POS")">
                            <h4 class="m-b-md">Movimientos</h4>
                            <div class="m">
                                <i class="pe-7s-albums fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de Movimientos
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("POS002", "POS")">
                            <h4 class="m-b-md">Reportes</h4>
                            <div class="m">rEPORT
                                <i class="fa-file fa fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de Reportes
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>






    </div>

</div>


@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#divIndex").focus();
            window.setTimeout(function () {
                $("#fa").click();
            }, 5000);
        });

    </script>
}
