﻿@{
    /**/

    ViewBag.Title = "POS000";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div class="font-light m-b-xs text-center">
                <h2>
                    CAJAS
                </h2>
                <small class="text-primary text-center">Menú Reportes</small>
            </div>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">        
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE012", "Sales")">
                            <h4 class="m-b-md">Cancelaciones por Cajero</h4>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">Cancelaciones por Cajero</p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE012", "Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>       
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("WIDR001", "Withdrawal")">
                            <h4 class="m-b-md">Retiros de Caja</h4>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">Reporte de Caja</p>
                            <br />
                        </a>
                        <a href="@Url.Action("WIDR001", "Withdrawal")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>       
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE009", "Sales")">
                            <h4 class="m-b-md">Ventas por tipo de pago</h4>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">Ventas por tipo de pago</p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE009", "Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE010", "Sales")">
                            <h4 class="m-b-md">Cambio de Precios</h4>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">Cambio de Precios</p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE010", "Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>      
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE011", "Sales")">
                            <h4 class="m-b-md">Cancelaciones (PV)</h4>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">Reporte de Sanciones</p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE011", "Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>          
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("CHOU001", "Checkout")">
                            <h4 class="m-b-md">Corte Z</h4>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">Corte Z</p>
                            <br />
                        </a>
                        <a href="@Url.Action("CHOU001", "Checkout")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("DONA001", "Donations")">
                            <h4 class="m-b-md">Donaciones</h4>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">Donaciones</p>
                            <br />
                        </a>
                        <a href="@Url.Action("DONA001", "Donations")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("DONA002", "Donations")">
                            <h4 class="m-b-md">Donaciones (Boletos)</h4>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">Donaciones (Boletos)</p>
                            <br />
                        </a>
                        <a href="@Url.Action("DONA002", "Donations")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SANC002", "Sanctions")">
                            <h4 class="m-b-md">Relación de Sanciones</h4>
                            <div class="m"><i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">Reporte de Sanciones</p>
                            <br />
                        </a>
                        <a href="@Url.Action("SANC002", "Sanctions")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#divIndex").focus();
            window.setTimeout(function () {
                $("#fa").click();
            }, 5000);
        });

    </script>
}
