﻿@model App.Entities.ViewModels.Item.ItemQuickCheckIndex
@{ ViewBag.Title = "ITEM001"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Movimientos</a></li>
                    <li class="active">
                        <span>Cotizaciones/Pedidos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Consulta Rápida
            </h2>
            <small>Consultar Artículos</small><br />
        </div>
    </div>
</div>

@if (Model.IsFromMenu)
{
    <div class="content animated-panel" id="SelectClient">
        <div class="hpanel hblue">
            <div class="panel-body">
                <form id="formQuoteClient" action="@Url.Action("ITEM001", "Items")" method="post">
                    @Html.HiddenFor(model => model.IsFromMenu)
                    <div class="form-group col-md-12" id="SearchClient">
                        @Html.LabelFor(model => model.ItemSearch, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.ItemSearch, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-12" style="">
                        <div class="form-group col-lg-12">
                            <div class="text-right">
                                <button type="submit" class="btn btn-success" id="SearchItem">Continuar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@if (!Model.IsFromMenu && Model.ItemList.Count > 0)
{
    <div class="content animated-panel">
        <div class="hpanel hblue">
            <div class="panel-body">
                <div class="table-responsive m-t">
                    <table id="ItemTable" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Número de Artículo</th>
                                <th>Descripción</th>
                                <th>Existencia</th>
                                <th>Precio</th>
                                <th>Precio c/IVA</th>
                                <th>Presentación</th>
                                <th>Presentación</th>
                                <th>Presentación</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ItemList)
                            {
                                <tr>
                                    <td>@item.PartNumber</td>
                                    <td>@item.Description</td>
                                    <td>@item.Stock</td>
                                    <td>@item.BasePrice.ToString("C")</td>
                                    <td>@item.TaxPrice.ToString("C")</td>
                                    @{var p = item.Presentations;}
                                    @for (var i = 0; i < 3; i++)
                                    {
                                        <td>
                                            @if (p.Count > i)
                                            {
                                                <span style="white-space: nowrap; font-size: 0.85em;"> @p[i].Description </span><br />@p[i].TaxPrice.ToString("C")
                                            }
                                        </td>
                                    }
                                </tr>
                                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
                                        }
                                        else if (!Model.IsFromMenu)
                                        {
                                            <div class="content animated-panel" id="report-section">
                                                <div class="hpanel hblue">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

@section Scripts { @Scripts.Render("~/bundles/ITEM001/js") }