﻿@{ ViewBag.Title = "ITEM002"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Movimientos</a></li>
                    <li class="active">
                        <span>Consulta Rápida</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Consulta Rápida
            </h2>
            <small>Consulta Rápida de Artículos</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div id="divItems">
                        <div class="row">
                            <div class="col-lg-3" hidden>
                                <label title="Producto" data-toggle="tooltip" data-placement="right">Producto</label>
                                <input class="form-control" id="ItemsDrop" name="ItemsDrop" />
                            </div>
                            <div class="col-lg-4">
                                <label title="Producto a Buscar" data-toggle="tooltip" data-placement="right">Artículo a buscar</label>
                                <input class="form-control" id="ItemsLike" />
                            </div>
                            <div class="form-group col-lg-2">
                                <br />
                                <button class="btn btn-success" id="btnSearchItems" onclick="SearchItems()"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="divTable" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TableProducts" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Descripción</th>
                                        <th>Existencias</th>
                                        <th>Bloqueo</th>
                                        <th>Mat. Prima</th>
                                        <th>Disponible</th>                                       
                                        <th>Precio</th>
                                        <th>Precio c/IVA</th>
                                        <th>Presentaciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        const formatmoney = money => decimal => new Intl.NumberFormat("en-US", { style: "currency", currency: "USD", currencyDisplay: "symbol", maximumFractionDigits: decimal }).format(money);
        var input = document.getElementById("ItemsLike");
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("btnSearchItems").click();
            }
        });

        $("#ItemsDrop").select2({
            minimumInputLength: 3,
            allowClear: true,
            placeholder: "Seleccione una producto",
            initSelection: function (element, callback) {
                callback({ id: "", text: "Seleccione una opcion" });
            },
            ajax: {
                url: "/Items/ActionSearchItemBarcode/",
                dataType: 'json',
                type: "GET",
                quietMillis: 50,
                data: function (Filter) {
                    return {
                        Filter: Filter
                    };
                },
                results: function (data) {
                    return {
                        results: $.map(data.Json, function (item) {
                            return {
                                text: item.Description,
                                id: item.PathNumber
                            }
                        }),
                    };
                }
            }
        });

        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);
        });

        var table = $('#TableProducts').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns:
                [
                    { data: 'PartNumber' },
                    { data: 'Description' },
                    { data: 'Total_Stock' },
                    { data: 'Blocked' },
                    { data: 'Wip' },
                    { data: 'Stock' },
                    { data: 'BasePrice' },
                    { data: 'TaxPrice' },
                    { data: 'Presentations' }
                ],
            columnDefs:
                [
                    {
                        targets: [0],
                        width: "1%"
                    },
                    {
                        targets: [1],
                        width: "1%"
                    },
                    {
                        targets: [2,3,4,5],
                        render: function (data, type, full, meta) {
                            return `${data.toFixed(2)}`;
                        },
                        width: "1%"
                    },
                    {
                        targets: [6,7],
                        render: function (data, type, full, meta) {
                            return `${formatmoney(data)(2)}`;
                        },
                        width: "1%"
                    },
                    {

                        targets: [8],
                        width: "1%",
                        render: function (data, type, full, meta) {
                            var html = "<ul>";
                            data.forEach(e => html += "<li>" + e.Description + " $" + e.TaxPrice + "</li>");
                            html += "</ul>";
                            return html;
                        }
                    }
                ]
        });

        //Funcion para obtener inventario activo
        function SearchItems() {
            var itemLike = $("#ItemsLike").val();
            if (itemLike.trim().length < 3) {
                toastr.warning("Por favor , introduzca por lo menos 3 caracteres");
                return;
            }
            StartLoading();
            $.ajax({
                url: "/Items/ActionSearchItems",
                data: {"item":itemLike},
                type: "POST",
                success: function (json) {
                    if (json.success) {
                        if (json.data.length > 0) {
                            table.clear().draw();
                            table.rows.add(json.data)
                            table.columns.adjust().draw();
                            EndLoading();
                            $('#divTable').animatePanel();
                        } else {
                            toastr.warning("No se encontraron productos")
                            EndLoading();
                        }

                    } else {
                        if (json.data == "SF") {
                            EndLoading();
                            SessionFalse("Se terminó tu sesión");
                        }
                        EndLoading();
                        toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.");
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error("DESCONOCIDO, CONTACTA A SISTEMAS.");
                }
            });
        }
    </script>
}
