﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/bundles/datatables/css")
<link rel="stylesheet" href="~/vendor/clockpicker/dist/bootstrap-clockpicker.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css" />

@model App.Entities.ViewModels.Sales.SalesIndex

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE007","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Reporte Ventas en Dolares</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Ventas en dolares
            </h2>
            <small>Relación de Ventas en Dolares</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                @*<div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Ventas
                </div>*@
                <div class="panel-body">


                    <form id="formSales" action="@Url.Action("SALE022", "Sales")" method="post">
                        <div class="row">
                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>

                            </div>
                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })

                                </div>

                            </div>


                            <div class="text-left">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-left">
                                    <button type="button" class="btn btn-success" id="_buttonSearch" onclick="SearchSE()">Continuar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    @if (@Model.SalesDlls.Count > 0)
                    {
                        <div class="row">
                            <div class="text-center">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-center">
                                    <button type="button" class="btn btn-success" id="ReportButton" onclick="ReportSales()">Reporte General</button>
                                </div>
                            </div>
                        </div>
                        <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="TableSales" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>


                                            <th>Fecha</th>
                                            <th>Hora</th>
                                            <th>Cajero</th>
                                            <th>Cobrado</th>
                                            <th>Recibido</th>
                                            <th>T Cambio</th>
                                            <th>Folio</th>

                                        </tr>

                                    </thead>
                                    <tbody></tbody>

                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="content animated-panel" id="report-section">
                            <div class="hpanel hblue">
                                <div class="panel-body">
                                    <div class="row">
                                        <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header">
                        <h4 id="ModalTitle" class="modal-title">Reporte de Ventas</h4>
                        <small id="ModalDescription" class="font-bold"></small>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {


    <script src="~/Vendor/moment/moment.js"></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {

            var Products = @Html.Raw(Json.Encode(Model.SalesDlls));

            table.clear();
            table.rows.add(jQuery(Products));
            table.columns.adjust().draw();
            console.log(Products);
            var obj = @Html.Raw(Json.Encode(Model));
            $("#_buttonSearch").prop('textContent', "Continuar");
            $("#_buttonSearch").prop('disabled', false);

            $("#StartDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'

            });
            $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'
            });

            $("#StartDate").attr('readonly', 'readonly').css('background-color', '#fff');
            $("#EndDate").attr('readonly', 'readonly').css('background-color', '#fff');

        });

        var table = $('#TableSales').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                { data: 'sale_date' },
                { data: 'sale_time' },
                { data: 'usuario' },
                { data: 'cobrado' },
                { data: 'recibido' },
                { data: 'tipoCambio' },
                { data: 'sale_id' }
            ],

            columnDefs: [
                {
                    type: 'numeric-comma',
                    render: function (data, type, row) {
                        return '$' + data.toFixed(2);
                    },
                    targets: [3, 4, 5]
                },

                {
                    targets: [0, 1, 2, 6],
                    className: 'text-center'
                }]
        });

        var detailRows = [];             
       
        function ReportSales(){
            var obj = @Html.Raw(Json.Encode(Model));

            StartLoading();
            $.ajax({
                type: "POST",
                url: "@(Url.Action("ActionGetSalesReportDollar", "Sales"))",
                data: { "model": obj },
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Reporte de Ventas en Dolares');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });
        }

        function SearchSE(){

            var dateIni = stringToDate($("#StartDate").val());
            var dateFin = stringToDate($("#EndDate").val());

            if (dateFin >= dateIni) {

                $("#formSales").submit();

                $("#_buttonSearch").prop('textContent', "Consultando...");
                $("#_buttonSearch").prop('disabled', true);
            }
            else
                toastr.error('Alerta - Fecha Final debe ser mayor o igual a la fecha Inicial. (' + $("#StartDate").val() + ')');
        }

        function footers() {
            for (var i = 4; i < 8; i++) {
                var foot = table.column(i);

                $(foot.footer()).html(
                    '$' + foot.data().reduce(function (a, b) {
                        return (a + b);
                    }).toFixed(2)
                );
            }
        }

        function footers0() {
            for (var i = 4; i < 8; i++) {
                var foot = table.column(i);

                $(foot.footer()).html('');
            }
        }    
    </script>
}
