﻿@model App.Entities.ViewModels.Sales.TransactionsCardIndex

@{
    ViewBag.Title = "SALE020";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000","POS")">Ventas</a></li>
                    <li><a href="@Url.Action("POS002","POS")">Reportes</a></li>
                    <li class="active">
                        <span>Transacciones Tarjeta</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Transacciones Tarjeta
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>
<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formTransCardReport" action="@Url.Action("SALE020","Sales")" method="post">
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Cashier, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.Cashier, null, "-- Todos --", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchInfo">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @if (!Model.IsFromMenu && Model.CashierReport.Count() > 0)
    {
        <div class="content animated-panel" id="TableSection">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-success" id="ReportButton">Reporte</button>
                    </div>
                    <div>
                        <div class="table-responsive m-t">
                            <table id="reportTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                        <th>Devolución Dinero</th>
                                        <th>No. Tarjeta</th>
                                        <th>Código Autenticación</th>
                                        <th>Folio Venta</th>
                                        <th>Número de Venta</th>
                                        <th>Cajero</th>
                                        <th>Método de Pago</th>
                                        <th>Código de Respuesta</th>
                                        <th>Mensaje de Respuesta</th>
                                        <th>Tipo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CashierReport.OrderBy(c => c.FechaS).ThenBy(x => x.NombreCajero))
                                    {
                                        <tr class='text-center'>
                                            <td>@item.FechaS</td>
                                            <td>$@item.Amount</td>
                                            <td>$@item.CashBack</td>
                                            <td>@item.CardNumber</td>
                                            <td>@item.AuthCode</td>
                                            <td>@item.FolioVenta</td>
                                            <td>@item.SaleId</td>
                                            <td>@item.NombreCajero</td>
                                            <td>@item.PaymentMethod</td>
                                            <td>@item.ResponseCode</td>
                                            <td>@item.ResponseMessage</td>
                                            <td>@item.SaleType</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (!Model.IsFromMenu)
    {
        <div class="content animated-panel" id="report-section">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div class="row">
                        <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Transacciones de Tarjeta</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/Scripts/validations.js"></script>
    <script type="text/javascript">
        $(function () {
            startDate = $("#StartDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            endDate = $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');

            var table = $('#reportTable').DataTable({
                "oLanguage": {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                "dom": "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                buttons: []
            });
        });

        $("#SearchInfo").click(function () {
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();

            if(ValidateDates(startDate,endDate))
            {
                StartLoading();
                $("#formTransCardReport").submit();
            }
        });

        $("#ReportButton").click(function () {
            var model = @Html.Raw(Json.Encode(Model));
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetTransReport", "Sales")',
                Type: 'POST',
                data: { "Model": model },
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });
    </script>
}