﻿@model App.Entities.ViewModels.Sales.WeighingIndex
@{
    ViewBag.Title = "SALE013";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","SALES")">Ventas</a></li>
                    <li><a href="@Url.Action("POS002","POS")">Reportes</a></li>
                    <li class="active">
                        <span>Reporte Pesados</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte Pesados
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>
<div class="content animated-panel" id="SelectClient">
    <div class="hpanel hblue">

        <div class="panel-body">
            <form id="formSalesCancelated" action="@Url.Action("SALE013","Sales")" method="post">
                <div class="row">
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.Date2, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.Date2, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.Difer, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-arrow-up"></i></span>
                            @Html.EditorFor(model => model.Difer, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "any", @value = "0" } })
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchButton" onclick="Search()">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="text-center">
                    <label class="control-label">&nbsp;</label>
                    <div class="text-center">
                        <button type="button" class="btn btn-success" id="ReportButton" disabled onclick="ReportSales()">Reporte General</button>
                    </div>
                </div>
            </div>
            <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                <div class="col-md-12 table-responsive">
                    <table id="TableSales" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Descripción</th>
                                <th>Báscula</th>
                                <th>Ingresado</th>
                                <th>Diferencia</th>
                                <th>Fecha</th>
                                <th>Venta</th>
                                <th>Cajero</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Pesados</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {


    <script src="~/Vendor/moment/moment.js"></script>
    <script type="text/javascript">

            jQuery(document).ready(function () {

                var Products = @Html.Raw(Json.Encode(Model.WeighingReportData));

                table.clear();
                table.rows.add(jQuery(Products));
                table.columns.adjust().draw();
                //footers();
                var obj = @Html.Raw(Json.Encode(Model));
                $("#_buttonSearch").prop('textContent', "Continuar");
                $("#_buttonSearch").prop('disabled', false);
                if(Products.length>0){
                    ReportButton.disabled=false;
                }

                else
                {
                    ReportButton.disabled=true;
                }


                $("#Date").datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    format: 'dd/mm/yyyy',
                    language: 'es'

                });
                $("#Date2").datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    format: 'dd/mm/yyyy',
                    language: 'es'
                });

                $("#Date").attr('readonly', 'readonly').css('background-color', '#fff');
                $("#Date2").attr('readonly', 'readonly').css('background-color', '#fff');

            });
            function Search() {

                $("#formSalesCancelated").submit();


                $("#SearchButton").prop('textContent', "Consultando...");
                $("#SearchButton").prop('disabled', true);

            }
            var table = $('#TableSales').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                buttons: [

                ],
                columns: [

                      { data: 'Codigo' },
                    { data: 'Descripcion' },
                    { data: 'Ingresado' },
                    { data: 'Bascula' },
                     { data: 'Diferencia' },
                    { data: 'Fecha' },
                    { data: 'Venta' },
                    { data: 'Cajero' }
                ],

                columnDefs: [


                    {
                        targets: [0,2,3,4,5,6,7],
                        className: 'text-center'
                    }]


            });
            var detailRows = [];



            function reloadStyleTable()
            {
                $('#tabledetail').DataTable({
                    oLanguage: {
                        "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                    },
                });
            }

            function ReportSales(){
                var obj = @Html.Raw(Json.Encode(Model));

                StartLoading();
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("ActionWeighingReport", "Sales"))",
                    data: { "Model": obj },
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Reporte de Ventas');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });

            }
    </script>
}
