﻿@{
    /**/

    ViewBag.Title = "SALE000";
}
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000", "Sales")">Ventas</a></li>


                    <li class="active">
                        <span>Reportes</span>
                    </li>

                </ol>
            </div>

            <h2 class="font-light m-b-xs">
                VENTAS
            </h2>
            <h4>Menú de Reportes</h4><br />

        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">





        <div class="col-md-4">
            @*<div class="hpanel hred">*@
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE018", "Sales")">
                            <h4 class="m-b-md">Artículos más vendidos</h4>
                            <div class="m">
                                <i class="pe-7s-graph1 fa-5x"></i>
                            </div>
                            <p class="small">
                                Reporte de Artículos más vendidos
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE018","Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE014", "Sales")">
                            <h4 class="m-b-md">Artículos sín Venta</h4>
                            <div class="m">
                                <i class="pe-7s-graph2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Artículos sín Venta por Departamento
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE014","Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE001", "Sales")">
                            <h4 class="m-b-md">Relación de Ventas</h4>
                            <div class="m">
                                <i class="pe-7s-graph3 fa-5x"></i>
                            </div>
                            <p class="small">
                               Reporte de Ventas
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE001","Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("INVO004", "Invoices")">
                            <h4 class="m-b-md">Relación de Facturas</h4>
                            <div class="m">
                                <i class="pe-7s-file fa-5x"></i>
                            </div>
                            <p class="small">
                                Reporte de Facturas
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("INVO004","Invoices")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("CRNO003", "CreditNotes")">
                            <h4 class="m-b-md">Notas de Crédito-Bonificaciones</h4>
                            <div class="m">
                                <i class="pe-7s-copy-file fa-5x"></i>
                            </div>
                            <p class="small">
                                Reporte de  Notas de Crédito-Bonificaciones
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("CRNO003","CreditNotes")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("WIDR002", "Withdrawal")">
                            <h4 class="m-b-md">Conciliación Dolares
</h4>
                            <div class="m">
                                <i class="pe-7s-cash fa-5x"></i>
                            </div>
                            <p class="small">
                                Reporte de Conciliación Dolares
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("WIDR002","Withdrawal")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE013", "Sales")">
                            <h4 class="m-b-md">Reporte Pesados</h4>
                            <div class="m">
                                <i class="pe-7s-shopbag fa-5x"></i>
                            </div>
                            <p class="small">
                                Reporte Artículos Pesados
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE013","Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE008", "Sales")">
                            <h4 class="m-b-md">Portada</h4>
                            <div class="m">
                                <i class="pe-7s-graph fa-5x"></i>
                            </div>
                            <p class="small">
                                Resumen de Ventas (PV).
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE008","Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE002", "Sales")">
                            <h4 class="m-b-md">Concentrado de Ventas</h4>
                            <div class="m">
                                <i class="fa-file fa fa-5x"></i>
                            </div>
                            <p class="small">
                                Reporte de concentrado de Ventas
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("QUOT001","Quotes")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE015", "Sales")">
                            <h4 class="m-b-md">Cash Back</h4>
                            <div class="m">
                                <i class="fa-file fa fa-5x"></i>
                            </div>
                            <p class="small">
                                Reporte de retiro de Efectivo
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE015","Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE016", "Sales")">
                            <h4 class="m-b-md">Clientes Por Hora</h4>
                            <div class="m">
                                <i class="pe-7s-users fa-5x"></i>
                            </div>
                            <p class="small">
                                Promedio de clientes por hora
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE016","Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE017", "Sales")">
                            <h4 class="m-b-md">Clientes y Ventas Por Hora</h4>
                            <div class="m">
                                <i class="pe-7s-add-user fa-5x"></i>
                            </div>
                            <p class="small">
                                Reporte de Clientes y Ventas Por Hora
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE017","Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE015", "Sales")">
                            <h4 class="m-b-md">Retiros de efectivo</h4>
                            <div class="m">
                                <i class="fa-file fa fa-5x"></i>
                            </div>
                            <p class="small">
                                Reporte de retiros de efectivo
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE017", "Sales")">
                            <h4 class="m-b-md">Clientes y ventas por hora</h4>
                            <div class="m">
                                <i class="fa-file fa fa-5x"></i>
                            </div>
                            <p class="small">
                                Reporte de clientes y ventas por hora
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>



    </div>

</div>


@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#divIndex").focus();
            window.setTimeout(function () {
                $("#fa").click();
            }, 5000);
        });

    </script>
}
