﻿@model FloridoERPTX.ViewModels.ItemsWithOutSalesIndex
@{
    ViewBag.Title = "SALE014";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000","POS")">Ventas</a></li>
                    <li><a href="@Url.Action("POS002","POS")">Reportes</a></li>
                    <li class="active">
                        <span>Articulos Sin Venta</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Articulos Sin Venta
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>
<div class="content animated-panel" id="SelectClient">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formItemsWithOutSales" action="@Url.Action("SALE014","Sales")" method="post">
                <div class="row">
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.Date2, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.Date2, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchButton" onclick="Search()">Continuar</button>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">&nbsp;</label>
                        <div class="text-center">
                            <button type="button" class="btn btn-success" id="ReportButton" disabled onclick="ReportSales()">Reporte General</button>
                        </div>
                    </div>
                </div>
            </form>
                @*<div class="col-md-3 input-group m-b">
                @using (Html.BeginForm())
                {
                    @Html.ListBoxFor(m => m.SelectedDepartments, Model.Departments, new { htmlAttributes = new { @class = "form-control select2" } })

                }





            </div>*@
                <div class="col-md-2 ">
                    <label>Seleccione uno o más departamentos</label>
                    <ul id="assignedList" class="list-group" style="margin-left:0px">
                        @foreach (var v in Model.DepartmentList)
                        {

                            <li class="list-group-item" style="padding-left:10px;padding-bottom:0px;padding-top:0px;vertical-align:middle">
                                <p class="checkbox" style="margin-bottom:0px;margin-top:0px">
                                    <input type="checkbox" name="notAvailable" value="@v.idDep">&nbsp; @v.name
                                </p>
                            </li>
                        }

                    </ul>
                </div>




                <div class="col-md-10">
                    <div class="row table-responsive">
                        <table id="TableItems" class="table table-striped table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>

                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Existencia</th>
                                    <th>Fecha Ult. Compra</th>
                                    <th>Cant. Ult. Compra</th>

                                </tr>

                            </thead>
                            <tbody></tbody>

                        </table>
                    </div>

                </div>
                @*}
            else if (!Model.IsFromMenu)
            {
                <div class="content animated-panel" id="report-section">
                    <div class="hpanel hblue">
                        <div class="panel-body">
                            <div class="row">
                                <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                            </div>
                        </div>
                    </div>
                </div>
            }*@
</div>
    </div>
</div>
<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Artículos sín venta</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Vendor/moment/moment.js"></script>
    <script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript">



        jQuery(document).ready(function () {
           // var Products = @Html.Raw(Json.Encode(Model.ItemsList));


            startDate = $("#Date").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            endDate = $("#Date2").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });
           

            $('#assignedList').slimScroll({
                height: '300px'
            });
            $('#assignedList').find('input[name="notAvailable"]').iCheck({
                checkboxClass: 'icheckbox_square-green'
            });
            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');
            var obj = @Html.Raw(Json.Encode(Model));
            //obj
            //$("#assignedList").append(" <li class='list-group-item'><p class='checkbox'><input type='checkbox' name='notAvailable' value='" + v.page_id + "'>&nbsp;(" + v.page_id + ') ' + v.description + " </p></li>");

        });
        function Search() {


            var Pages = '';
            $.each($("input[name='notAvailable']:checked"), function () {
                Pages += $(this).val() + ',';
            });
            var dateIni = stringToDate($("#Date").val());
            var dateFin = stringToDate($("#Date2").val());
          //  obj.SelectedDepartments=Pages.slice(0, -1);
            if (dateFin >= dateIni) {
                if(Pages.length>0)
                {

                    $("#SearchButton").prop('textContent', "Consultando...");
                    $("#SearchButton").prop('disabled', true);
                    $.ajax( {
                        url: "@(Url.Action("ActionGetItemsWithOutSalesList", "Sales"))",
                        data: { "Date1": $('#Date').val(),"Date2":$('#Date2').val(),"DepartmentsIds":Pages.slice(0, -1) },
                        type: "GET",
                        success: function (returndate) {
                            $("#SearchButton").prop('textContent', "Continuar");
                            $("#SearchButton").prop('disabled', false);                            
                            table.clear();
                            table.rows.add(returndate.Json);
                            table.columns.adjust().draw();
                            if(returndate.Json.length>0){
                                ReportButton.disabled=false;
                            }

                            else
                            {
                                ReportButton.disabled=true;
                            }
                        }
                    });
                }
                else
                    toastr.error('Seleccione al menos un departamento');

            }
            else
                toastr.error('Alerta - Fecha Final debe ser mayor o igual a la fecha Inicial. (' + $("#Date").val() + ')');
            






        }

        var table = $('#TableItems').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
                { extend: 'csv', text: 'Excel', title: 'ArticulosSinVenta', className: 'btn-sm' },
                {
                    extend: 'pdf', text: 'PDF', title: 'ArticulosSinVenta', className: 'btn-sm', exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    },
                    customize: function (doc) {
                        doc.content[1].table.widths =
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    }
                },
                { extend: 'print', text: 'Imprimir', className: 'btn-sm' },
            ],
            columns: [

              { data: 'part_number'},
              { data: 'part_description'},
              { data: 'total_stock'},
              { data: 'fecha'},
              { data: 'quantity'}
            ]




        });
        function ReportSales(){
             var Pages = '';
            $.each($("input[name='notAvailable']:checked"), function () {
                Pages += $(this).val() + ',';
            });
            StartLoading();
            $.ajax({
                type: "POST",
                url: "@(Url.Action("ActionItemsWithOutSalesReport", "Sales"))",
                data: {"Date1": $('#Date').val(),"Date2":$('#Date2').val(),"DepartmentsIds":Pages.slice(0, -1) },
            success: function (returndates) {
                document.getElementById("iframe").srcdoc = returndates;
                EndLoading();
                $("#ModalDescription").html('Reporte de Ventas');
                $('#ModalReport').modal('show');
            },
            error: function (returndates) {
                toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                EndLoading();
            }
        });

        }

    </script>

}
