﻿@model App.Entities.ViewModels.Sales.SalesServicesIndex
@{
    ViewBag.Title = "Serv/Rec";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string tipoReporte = "";
}
<style type="text/css">
    td.details-control:before 
    {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before 
    {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action(" SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action(" SALE007","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Reporte de Servicios y Recargas</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                SERVICIOS Y RECARGAS
            </h2>
            <small>Reporte de Servicios y Recargas</small><br />
        </div>
    </div>
</div>
<div class="content animated-panel" id="SelectClient">
    <div class="hpanel hblue">
        <div class="panel-body">

            <div class="row">
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10 input-group m-b">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    </div>
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10 input-group m-b">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    </div>
                </div>
                <div class="col-md-3" id="SearchClient">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12 input-group m-b">
                        @Html.DropDownListFor(model => model.Type, null, "Todos", htmlAttributes: new { @class = "form-control ", @onchange = "GetCompanys()" })

                    </div>
                </div>
                <div class="col-lg-3">
                    <label>Compañia</label>
                    <select id="Compañia" class="form-control select2">
                        <option value="0" selected>Todas</option>
                    </select>
                </div>

                <div  class="form-group col-md-2">
                    <label class="control-label">&nbsp;</label>
                    <div class="">
                        <button type="button" class="btn btn-success" id="_buttonSearch" onclick="Search()">Continuar</button>
                    </div>
                </div>
            </div>

            <div id="_BserviciosRecargas"class="form-group col-md-12" hidden>
                <label class="control-label">&nbsp;</label>
                <div class="text-center">
                    <button type="button" class="btn btn-success"  onclick="ServicesRecargasReport(1)">Reporte Servicios y Recargas</button>
                </div>
            </div>






            <div class="col-md-12" id="ServicesDiv" hidden>
                <label>Servicios</label>
                <div class="row table-responsive">
                    <table id="TableServicios" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>

                                <th></th>
                                <th>Servicio</th>
                                <th>Comisión</th>
                                <th>IVA Comisión</th>
                                <th>Total Comisión</th>
                                <th>Pago Servicio</th>
                                <th></th>

                            </tr>

                        </thead>
                        <tbody></tbody>

                    </table>
                </div>

            </div>
            <div id="_Bservicios"  class="form-group col-md-12" hidden>
                <label class="control-label">&nbsp;</label>
                <div class="text-center">
                    <button type="button" class="btn btn-success"  onclick="ServicesRecargasReport(2)">Reporte de Servicios</button>
                </div>
            </div>
            <div class="col-md-12" id="RecargasDiv" hidden>
                <label>Recargas</label>
                <div class="row table-responsive">
                    <table id="TableRecargas" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Compañia</th>
                                <th>Recarga</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>

            </div>
            <div id="_Brecargas"  class="form-group col-md-12" hidden>
                <label class="control-label">&nbsp;</label>
                <div class="text-center">
                    <button type="button" class="btn btn-success"  onclick="ServicesRecargasReport(4)">Reporte de Recargas</button>
                </div>
            </div>
            <div class="content animated-panel" id="DivAviso">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <div class="row">
                            <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Servicios y/o Recargas</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script src="~/Vendor/moment/moment.js"></script>
<script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript">



        jQuery(document).ready(function () {

            startDate = $("#StartDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            endDate = $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });
            GetCompany(true, 0, $("#Compañia").val());

        });
        function GetCompany(fromMenu, detailServ, company) {
            var type = $("#Type").val();            
            $.ajax({
                url: "@(Url.Action("ActionGetCompanyServicesRecargas", "Sales"))",
                type: "GET",
                data: { "startDate": $("#StartDate").val(), "endDate": $("#EndDate").val(), "compañia": company, "idServicio": type.toString(), "fromMenu": fromMenu, "detailServ": detailServ },
            success: function (response)
            {
                    if (response.success)
                    {
                        $("#_buttonSearch").prop('textContent', "Continuar");
                        $("#_buttonSearch").prop('disabled', false);
                        if (fromMenu)
                        {
                            listFamily = response.Json.CompaniasList;                            
                            FillDropdown("Compañia", listFamily);
                        }
                        else {
                            if (response.Json.Services.length > 0)
                            {
                                $("#ServicesDiv").prop('hidden', false);
                                $("#_Bservicios").prop('hidden', false);
                                $("#DivAviso").prop('hidden', true);
                                
                                listServices = response.Json.Services;
                                console.log(listServices);
                                tableServicios.clear();
                                tableServicios.rows.add(listServices);
                                tableServicios.columns.adjust().draw();
                            }
                            else {
                                $("#_Bservicios").prop('hidden', true);
                               
                                $("#ServicesDiv").prop('hidden', true);
                            }
                              

                            if (response.Json.Recargas.length > 0)
                            {
                                $("#RecargasDiv").prop('hidden', false);
                                $("#_Brecargas").prop('hidden', false);
                                $("#DivAviso").prop('hidden', true);
                                listRecargas = response.Json.Recargas;
                                console.log(listRecargas);
                                tableRecargas.clear();
                                tableRecargas.rows.add(listRecargas);
                                tableRecargas.columns.adjust().draw();
                            }
                            else
                            {
                                $("#_Brecargas").prop('hidden', true);
                                $("#RecargasDiv").prop('hidden', true);
                            }
                            if (response.Json.Services.length > 0 || response.Json.Recargas.length > 0)
                            {
                                
                             
                                $("#DivAviso").prop('hidden', true);
                            }
                            else
                            {
                                $("#DivAviso").prop('hidden', false);
                                $("#_BserviciosRecargas").prop('hidden', true);
                              
                            }
                            if (response.Json.Services.length > 0 || response.Json.Recargas.length > 0)
                            {
                                $("#_BserviciosRecargas").prop('hidden', false);
                            }
                        }


                    }
                    else
                        FillDropdown("Compañia", null);

                },
            error: function ()
            {
                    FillDropdown("Compañia", null)
                    toastr.error('Error inesperado, contactar a sistemas.');
                }
            });
        }
        function GetCompanys() {
            GetCompany(true, 0, $("#Compañia").val());
        }
        function FillDropdown(selector, vData) {
            if (vData != null) {
                var vItems = [];
                vItems.push('<option  value="0">Todas</option>');
                for (var i in vData) {
                    if (vData[i].Selected)
                        vItems.push('<option selectedselected=selected value="' + vData[i].company + '">' + vData[i].company + '</option>');
                    else
                        vItems.push('<option value="' + vData[i].company + '">' + vData[i].company + '</option>');
                }
                $('#' + selector).empty();
                $('#' + selector).append(vItems.join(''));
            }
            else {
                var vItems = [];
                vItems.push('<option  value="0">Todas</option>');
                $('#' + selector).empty();
                $('#' + selector).append(vItems.join(''));
            }
        }
        function Search() {

            $("#_buttonSearch").prop('textContent', "Consultando");
            $("#_buttonSearch").prop('disabled', true);
            GetCompany(false, 0, $("#Compañia").val());

        }
        var tableServicios = $('#TableServicios').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
            ],
            columns: [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                },
                { data: 'company' },
                { data: 'comision' },
                { data: 'IVAcomision' },
                { data: 'TotalComision' },
                { data: 'PagoServicio' }
            ],

            columnDefs: [
                {
                    type: 'numeric-comma',
                    render: function (data, type, row) {
                        return '$' + data.toFixed(2);
                    },
                    targets: [2, 3, 4, 5]
                },

                {
                    targets: [2, 3, 4, 5],
                    className: 'text-center'
                },

                {
                    data: null,
                    width: "1%",
                    targets: 6,
                    defaultContent: '<button class="btn btn-xs btn-outline btn-info" type="submit">Reporte</button>'
                }]


        });

        $('#TableServicios tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = tableServicios.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (tableServicios.row('.details').length) {
                    $('.details-control', tableServicios.row('.details').node()).click();
                }
                row.child(getDetailServicios(row.data())).show();
                tr.addClass('details');
            }
        });
        tableServicios.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });
        $('#TableServicios tbody').on('click', 'button', function () {
            var values = tableServicios.row($(this).parents('tr')).data();
            values = $.map(values, function (value, index) {
                switch (index) {
                    case 'company':
                     StartLoading();
            $.ajax({
                type: "POST",
                url: "@(Url.Action("ActionServicesDetailReport", "Sales"))" ,
                data: { "startDate": $("#StartDate").val(), "endDate": $("#EndDate").val(), "compañia": value, "idServicio": $("#Type").val().toString(), "fromMenu": false, "detailServ": 1 },
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();                    
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });
                break;
            }
            });
        });
        function getDetailServicios(d) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({

                url: "@(Url.Action("ActionGetCompanyServicesRecargas", "Sales"))",
                type: "GET",
                data: { "startDate": $("#StartDate").val(), "endDate": $("#EndDate").val(), "compañia": d.company, "idServicio": $("#Type").val().toString(), "fromMenu": false, "detailServ": 1 },

                success: function (returndate) {
                    $.each(returndate.Json.ServicesDetail, function (index, value) {
                        detailItems +=
                            "<tr><td class='text-right'>" + value.fecha + "</td>" +
                                " <td class='text-right'>" + value.hora + "</td>" +
                                     "<td class='text-right'>" + value.venta + "</td> " +
                                             "<td class='text-right'>" + value.comision.toFixed(2) + "</td> " +
                                                    "<td class='text-right'>" + value.IVAcomision.toFixed(2) + "</td> " +
                                                         "<td class='text-right'>" + value.TotalComision.toFixed(2) + "</td> " +
                                                                "<td class='text-right'>" + "$" + value.PagoServicio.toFixed(2) + "</td></tr>"
                    });
                    tabledetail.html('<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">' +
                    '<thead><tr><th>Fecha</th><th>Hora</th><th>Venta</th><th>Comisión</th><th>IVA Comisión</th><th>Total Comisión</th><th>Total</th></tr></thead><tbody>' + detailItems + '</tbody></table>').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail
       }

        var tableRecargas = $('#TableRecargas').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [

            ],
            columns: [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                },
                { data: 'company' },
                { data: 'total' }
            ],

            columnDefs: [
                {
                    type: 'numeric-comma',
                    render: function (data, type, row) {
                        return '$' + data.toFixed(2);
                    },
                    targets: [2]
                },

                {
                    data: null,
                    width: "1%",
                    targets: 3,
                    defaultContent: '<button class="btn btn-xs btn-outline btn-info" type="submit">Reporte</button>'
                }]


        });

        var detailRows = [];

        $('#TableRecargas tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = tableRecargas.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (tableRecargas.row('.details').length) {
                    $('.details-control', tableRecargas.row('.details').node()).click();
                }
                row.child(getDetailRecargas(row.data())).show();
                tr.addClass('details');
            }
        });
        tableRecargas.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });
        $('#TableRecargas tbody').on('click', 'button', function () {
            var values = tableRecargas.row($(this).parents('tr')).data();
            values = $.map(values, function (value, index) {
                switch (index) {
                    case 'company':
                        console.log(value);
                        StartLoading();
                        $.ajax({
                            type: "POST",
                            url: "@(Url.Action("ActionRecargasDetailReport", "Sales"))" ,
                            data: { "startDate": $("#StartDate").val(), "endDate": $("#EndDate").val(), "compañia": value, "idServicio": $("#Type").val().toString(), "fromMenu": false, "detailServ": 2 },
                            success: function (returndates) {
                                document.getElementById("iframe").srcdoc = returndates;
                                EndLoading();                                
                                $('#ModalReport').modal('show');
                            },
                            error: function (returndates) {
                                toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                                EndLoading();
                            }
                        });
                        break;
                }
            });
        });
        function getDetailRecargas(d) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({                
                url: "@(Url.Action("ActionGetCompanyServicesRecargas", "Sales"))",
                type: "GET",
                data: { "startDate": $("#StartDate").val(), "endDate": $("#EndDate").val(), "compañia": d.company, "idServicio": $("#Type").val().toString(), "fromMenu": false, "detailServ": 2 },

                success: function (returndate) {

                    $.each(returndate.Json.RecargasDetail, function (index, value) {
                        detailItems +=
                            "<tr><td class='text-right'>" + value.fecha + "</td>" +
                            " <td class='text-right'>" + value.hora + "</td>" +
                            "<td class='text-right'>" + value.venta + "</td> " +
                            "<td class='text-right'>" + "$" + value.total.toFixed(2) + "</td></tr>"
                    });
                    tabledetail.html('<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">' +
                    '<thead><tr><th>Fecha</th><th>Hora</th><th>Venta</th><th>Total</th></tr></thead><tbody>' + detailItems + '</tbody></table>').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail
        }
        function reloadStyleTable() {
            $('#tabledetail').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
            });
        }
        function ServicesRecargasReport(tipo) {            
            if (tipo == 1)
                tipoReporte = "@(Url.Action("ActionServicesRecargasReport", "Sales"))";
            if (tipo == 2)
                tipoReporte = "@(Url.Action("ActionServicesReport", "Sales"))" ;
            if (tipo == 3)
                tipoReporte ="@(Url.Action("ActionServicesDetailReport", "Sales"))" ;
            if (tipo == 4)
                tipoReporte ="@(Url.Action("ActionRecargasReport", "Sales"))"  ;
            if (tipo == 5)
                tipoReporte = "@(Url.Action("ActionRecargasDetailReport", "Sales"))";          

            StartLoading();
            $.ajax({
                type: "POST",
                url: tipoReporte,
                data: { "startDate": $("#StartDate").val(), "endDate": $("#EndDate").val(), "compañia": $("#Compañia").val(), "idServicio": $("#Type").val().toString(), "fromMenu": false, "detailServ": 0 },
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();                   
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });
        }
</script>

}
