﻿@model App.Entities.ViewModels.Sales.SalesIndex
@using App.Entities.ViewModels.Sales;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
@{
    ViewBag.Title = "Ventas_IEps";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/bundles/datatables/css")
<link rel="stylesheet" href="~/vendor/clockpicker/dist/bootstrap-clockpicker.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css" />



<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }

    #TableTotals thead {
        display: none;
    }

    #TableTotals.dataTable.no-footer {
        border-bottom: none;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE007","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Reporte Ventas IEPS</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                REPORTE DE VENTAS IEPS
            </h2>
            <small>Relación de Ventas IEPS.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <form id="formSales" action="@Url.Action("SALE024", "Sales")" method="post">
                        <div class="row">
                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="text-left">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-left">
                                    <button type="submit" class="btn btn-success" id="_buttonSearch">Continuar</button>
                                </div>
                            </div>
                            <div class="form-group col-md-12" id="OptionsValue">
                                <div class="form-group col-md-2">
                                    @Html.RadioButtonFor(m => m.Search, SearchType.Department)
                                    <label>Departamento</label>
                                </div>
                                <div class="form-group col-md-2">
                                    @Html.RadioButtonFor(m => m.Search, SearchType.Family)
                                    <label>Familia</label>
                                </div>
                                <div class="form-group col-md-2">
                                    @Html.RadioButtonFor(m => m.Search, SearchType.Item)
                                    <label>Artículo</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="i-checks">
                                        @Html.CheckBoxFor((model => model.SubstractIEPS), new { @class = "form-control" })
                                        @Html.LabelFor(model => model.SubstractIEPS, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="form-group col-md-2"></div>
                                <div class="form-group col-md-2"></div>
                                <div class="form-group col-md-4" id="DivGroupByItem">
                                    <div class="i-checks">
                                        @Html.CheckBoxFor((model => model.GroupByItem), new { @class = "form-control" })
                                        @Html.LabelFor(model => model.GroupByItem, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4"></div>
                            </div>
                        </div>
                    </form>
                    @if (!Model.IsFromMenu && (Model.IEPSReport.SalesIepsTax.Count > 0 || Model.IEPSReport.SalesIepsTaxZero.Count > 0))
                    {
                        <div id="TablesSection">
                            <div class="row">
                                <div class="text-center">
                                    <label class="control-label">  &nbsp;</label>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-success" id="ReportButton" onclick="ReportSales()">Reporte General</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <label class="control-label">  &nbsp;</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <label class="control-label text-info">TASA 8%</label>
                                </div>
                            </div>
                            <div id="TableDivTAX" class="animate-panel" data-effect="zoomIn">
                                <div class="row table-responsive">
                                    <table id="TableSalesTax" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Departamento</th>
                                                @if (Model.Search == SearchType.Family)
                                                {
                                                    <th>Familia</th>
                                                }
                                                else if (Model.Search == SearchType.Item)
                                                {
                                                    <th>Código</th>
                                                    <th>Descripción</th>
                                                }
                                                <th>Tasa IEPS</th>
                                                <th>Ventas</th>
                                                <th>Importe IEPS</th>
                                                <th>IVA</th>
                                                <th>TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.IEPSReport.SalesIepsTax)
                                            {
                                                <tr>
                                                    <td>@item.saleDate</td>
                                                    <td>@item.departamento</td>
                                                    @if (Model.Search == SearchType.Family)
                                                    {
                                                        <td>@item.familia</td>
                                                    }
                                                    else if (Model.Search == SearchType.Item)
                                                    {
                                                        <td>@item.codigo</td>
                                                        <td>@item.descripcion</td>
                                                    }
                                                    <td>@item.tasa_ieps</td>
                                                    <td>@item.venta.ToString("C")</td>
                                                    <td>@item.importe_ieps.ToString("C")</td>
                                                    <td>@item.iva.ToString("C")</td>
                                                    <td>@item.total.ToString("C")</td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2"></th>
                                                @if (Model.Search == SearchType.Family)
                                                {
                                                    <th></th>
                                                }
                                                else if (Model.Search == SearchType.Item)
                                                {
                                                    <th colspan="2"></th>
                                                }
                                                <th>TOTALES</th>
                                                <th>@Model.IEPSReport.SalesIepsTax.Sum(c => c.venta).ToString("C")</th>
                                                <th>@Model.IEPSReport.SalesIepsTax.Sum(c => c.importe_ieps).ToString("C")</th>
                                                <th>@Model.IEPSReport.SalesIepsTax.Sum(c => c.iva).ToString("C")</th>
                                                <th>@Model.IEPSReport.SalesIepsTax.Sum(c => c.total).ToString("C")</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <label class="control-label">  &nbsp;</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <label class="control-label text-info">TASA 0%</label>
                                </div>
                            </div>
                            <div id="TableDivTax0" class="animate-panel" data-effect="zoomIn">
                                <div class="row table-responsive">
                                    <table id="TableSalesTax0" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Departamento</th>
                                                @if (Model.Search == SearchType.Family)
                                                {
                                                    <th>Familia</th>
                                                }
                                                else if (Model.Search == SearchType.Item)
                                                {
                                                    <th>Código</th>
                                                    <th>Descripción</th>
                                                }
                                                <th>Tasa IEPS</th>
                                                <th>Ventas</th>
                                                <th>Importe IEPS</th>
                                                <th>IVA</th>
                                                <th>TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.IEPSReport.SalesIepsTaxZero)
                                            {
                                                <tr>
                                                    <td>@item.saleDate</td>
                                                    <td>@item.departamento</td>
                                                    @if (Model.Search == SearchType.Family)
                                                    {
                                                        <td>@item.familia</td>
                                                    }
                                                    else if (Model.Search == SearchType.Item)
                                                    {
                                                        <td>@item.codigo</td>
                                                        <td>@item.descripcion</td>
                                                    }
                                                    <td>@item.tasa_ieps</td>
                                                    <td>@item.venta.ToString("C")</td>
                                                    <td>@item.importe_ieps.ToString("C")</td>
                                                    <td>@item.iva.ToString("C")</td>
                                                    <td>@item.total.ToString("C")</td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2"></th>
                                                @if (Model.Search == SearchType.Family)
                                                {
                                                    <th></th>
                                                }
                                                else if (Model.Search == SearchType.Item)
                                                {
                                                    <th colspan="2"></th>
                                                }
                                                <th>TOTALES</th>
                                                <th>@Model.IEPSReport.SalesIepsTaxZero.Sum(c => c.venta).ToString("C")</th>
                                                <th>@Model.IEPSReport.SalesIepsTaxZero.Sum(c => c.importe_ieps).ToString("C")</th>
                                                <th>@Model.IEPSReport.SalesIepsTaxZero.Sum(c => c.iva).ToString("C")</th>
                                                <th>@Model.IEPSReport.SalesIepsTaxZero.Sum(c => c.total).ToString("C")</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <label class="control-label">  &nbsp;</label>
                                </div>
                            </div>
                            <div id="TableDivTotals" class="animate-panel" data-effect="zoomIn">
                                <div class="row table-responsive">
                                    <table id="TableTotals" class="table table-striped table-bordered table-hover" style="width:100%; border-style:none;">
                                        <thead></thead>
                                        <tbody style='display:none;'></tbody>
                                        <tfoot style='border-style:none;'>
                                            <tr style='border-style:none;'>
                                                <th colspan="2" style='border-style:none;'></th>
                                                @if (Model.Search == SearchType.Family)
                                                {
                                                    <th style='border-style:none;'></th>
                                                }
                                                else if (Model.Search == SearchType.Item)
                                                {
                                                    <th colspan="2" style='border-style:none;'></th>
                                                }
                                                @{
                                                    decimal TotalSale = Model.IEPSReport.SalesIepsTax.Sum(c => c.venta) + Model.IEPSReport.SalesIepsTaxZero.Sum(c => c.venta);
                                                    decimal TotalAmountIeps = Model.IEPSReport.SalesIepsTax.Sum(c => c.importe_ieps) + Model.IEPSReport.SalesIepsTaxZero.Sum(c => c.importe_ieps);
                                                    decimal TotalTax = Model.IEPSReport.SalesIepsTax.Sum(c => c.iva) + Model.IEPSReport.SalesIepsTaxZero.Sum(c => c.iva);
                                                    decimal GreatTotal = Model.IEPSReport.SalesIepsTax.Sum(c => c.total) + Model.IEPSReport.SalesIepsTaxZero.Sum(c => c.total);
                                                }
                                                <th style='border-style:none; width:20%;'>TOTALES</th>
                                                <th style='border-style:none; width:15%;'>@TotalSale.ToString("C")</th>
                                                <th style='border-style:none; width:10%;'>@TotalAmountIeps.ToString("C")</th>
                                                <th style='border-style:none; width:10%;'>@TotalTax.ToString("C")</th>
                                                <th style='border-style:none; width:10%;'>@GreatTotal.ToString("C")</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                    else if (!Model.IsFromMenu)
                    {
                        <div class="content animated-panel" id="report-section">
                            <div class="hpanel hblue">
                                <div class="panel-body">
                                    <div class="row">
                                        <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header">
                        <h4 id="ModalTitle" class="modal-title">Reporte de Ventas</h4>
                        <small id="ModalDescription" class="font-bold"></small>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script src="~/Vendor/moment/moment.js"></script>
    <script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $("#StartDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'

            });
            $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'
            });

            var radValue = $('input[type="radio"]:checked').val();            
            CheckRadioButton(radValue)            
            $("#StartDate").attr('readonly', 'readonly').css('background-color', '#fff');
            $("#EndDate").attr('readonly', 'readonly').css('background-color', '#fff');            
        });       

        var tableTax = $('#TableSalesTax').DataTable({            
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, /*"oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }*/
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],            
            columnDefs: [                
                {                    
                    className: 'text-center'
                }
            ]
        });

        var tableTax0 = $('#TableSalesTax0').DataTable({            
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, /*"oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }*/
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],   
            buttons: [],
            columnDefs: [               
                {                    
                    className: 'text-center'
                }
            ]
        });

        //var tableTotal = $('#TableTotals').DataTable({
        //    bPaginate: false,
        //    bFilter: false,
        //    info: false,
        //    dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
        //    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],   
        //    buttons: [],
        //    order: [8,"asc"],
        //    columnDefs: [                
        //        {                  
        //            className: 'text-center'
        //        }                
        //    ]
        //});

        function ReportSales(){
            var model = @Html.Raw(Json.Encode(Model));
            model.IEPSReport = null;
            StartLoading();
            $.ajax({
                type: "POST",
                url: "@(Url.Action("ActionGetSalesReportIEPS", "Sales"))",
                data: { "Model": model },
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Relación de Ventas IEPS');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });
        }

        $('input[type="radio"]').on('click change', function (e) {
            var radValue = $(this).val();            
            CheckRadioButton(radValue);
        });

        function CheckRadioButton(value) {
            if (value == 'Item')
                $("#DivGroupByItem").show();
            else 
                $("#DivGroupByItem").hide();
        }
    </script>
}
