﻿@model App.Entities.ViewModels.Sales.CancellationIndex
@{
    ViewBag.Title = "SALE012";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000","POS")">Cajas</a></li>
                    <li><a href="@Url.Action("POS002","POS")">Reportes</a></li>
                    <li class="active">
                        <span>Cancelaciones por cajeros</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Cancelaciones por cajeros
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>
<div class="content animated-panel" id="SelectClient">
    <div class="hpanel hblue">

        <div class="panel-body">
            <form id="formSalesCancelated" action="@Url.Action("SALE012","Sales")" method="post">
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Date2, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.Date2, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchButton" onclick="Search()">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="text-center">
                    <label class="control-label">&nbsp;</label>
                    <div class="text-center">
                        <button type="button" class="btn btn-success" id="ReportButton" disabled onclick="ReportSales()">Reporte General</button>
                    </div>
                </div>
            </div>
            <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                <div class="col-md-12 table-responsive">
                    <table id="TableSales" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>CajeroId</th>
                                <th>Cajero</th>
                                <th>Cancelaciones</th>
                                <th style="text-align:right">Importe</th>
                            </tr>

                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>TOTAL</th>
                                <th style="text-align:right">Importe</th>
                                

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Cancelaciones</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {


    <script src="~/Vendor/moment/moment.js"></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {

            var Products = @Html.Raw(Json.Encode(Model.CancellationsData));
            
            table.clear();
            table.rows.add(jQuery(Products));
            table.columns.adjust().draw();
            //footers();
            var obj = @Html.Raw(Json.Encode(Model));
            $("#_buttonSearch").prop('textContent', "Continuar");
            $("#_buttonSearch").prop('disabled', false);
            if(Products.length>0)
            {

                ReportButton.disabled=false;
                footers();
            }

            else
            {

                ReportButton.disabled=true;
                footers0();
            }
            $("#Date").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'

            });
            $("#Date2").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'
            });

            $("#Date").attr('readonly', 'readonly').css('background-color', '#fff');
            $("#Date2").attr('readonly', 'readonly').css('background-color', '#fff');

        });
        function Search() {
          
            $("#formSalesCancelated").submit();
           
          
            $("#SearchButton").prop('textContent', "Consultando...");
            $("#SearchButton").prop('disabled', true);

        }
        var table = $('#TableSales').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [

            ],
            columns: [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                },
                  { data: 'CashierId' },
                { data: 'Cashier' },
                { data: 'NumberCancellations' },
                { data: 'Amount' }
            ],

            columnDefs: [
                {
                    type: 'numeric-comma',
                    className: 'text-right',
                    render: function (data, type, row) {
                        return '$' + data.toFixed(2);
                    },
                    targets: [4]
                    
                },
                 {
                     targets: [1],
                     visible: false
                 },
                {
                    targets: [0,2, 3],
                    className: 'text-center'
                }]


        });
        var detailRows = [];

        $('#TableSales tbody').on( 'click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('details');
            }
            else
            {
                if ( table.row( '.details' ).length ) {
                    $('.details-control', table.row( '.details' ).node()).click();
                }
                row.child( format(row.data()) ).show();
                tr.addClass('details');
            }
        });
        table.on( 'draw', function () {
            $.each( detailRows, function ( i, id ) {
                $('#'+id+' td.details-control').trigger( 'click' );
            } );
        });
        table.on( 'draw', function () {
            $.each( detailRows, function ( i, id ) {
                $('#'+id+' td.details-control').trigger( 'click' );
            } );
        });
        function format ( d ) {
            var detailItems="";
            
            var tabledetail = $('<div/>').addClass( 'loading' ).text( 'Cargando Datos...' );
            $.ajax( {
                url: "@(Url.Action("ActionGetCancellationsDetail", "Sales"))",//OBTIENE LOS ARTICULOS DE LA VENTA POR EL NUMERO DE VENTA EN SALES_DETAILS
                data: {"date1":$("#Date").val(), "date2":$("#Date2").val(), "cashierId": d.CashierId},
            type: "GET",
            success: function (returndate) {
                $.each(returndate.Json, function (index, value) {
                    detailItems += "<tr><td>" + value.SaleNumber + "</td><td>" + value.Motive +"</td><td>"  + value.Supervisor + "</td><td class='text-right'> " +"$ "+ value.Total.toFixed(2) + "</td></tr>"
                });
                tabledetail.html( '<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">'+
                '<thead><tr><th>No. Venta</th><th>Motivo</th><th>Supervisor</th><th style="text-align:right">Importe</th></tr></thead><tbody>'+detailItems+'</tbody></table>').removeClass('loading');
                reloadStyleTable();
            }
        });
        return tabledetail
        }
        function reloadStyleTable()
        {
            $('#tabledetail').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
            });
        }
        function ReportSales(){
            var obj = @Html.Raw(Json.Encode(Model));

            StartLoading();
            $.ajax({
                type: "POST",
                url: "@(Url.Action("ActionCancelledReport", "Sales"))",
                data: { "model": obj },
            success: function (returndates) {
                document.getElementById("iframe").srcdoc = returndates;
                EndLoading();
                $("#ModalDescription").html('Reporte de Ventas');
                $('#ModalReport').modal('show');
            },
            error: function (returndates) {
                toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                EndLoading();
            }
        });

        }
        function footers () {
         
                var foot = table.column( 4 );

                $( foot.footer() ).html(
                                   '$'+foot.data().reduce( function (a,b) {
                                       return (a+b);
                                   } ).toFixed(2)
                               );
            

        }
        function footers0 () {
         
                var foot = table.column( 4);

                $( foot.footer() ).html('');
   

        }
    </script>
}
