﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/bundles/datatables/css")
<link rel="stylesheet" href="~/vendor/clockpicker/dist/bootstrap-clockpicker.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css" />

@model App.Entities.ViewModels.Sales.SalesConcIndex

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">


            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE007","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Concentrado de Ventas</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                CONCENTRADO DE VENTAS
            </h2>
            <small>Reporte Concentrado de Ventas.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                @*<div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Concentrado de Ventas
                </div>*@
                <div class="panel-body">
                    <form id="formSales" action="@Url.Action("SALE002","Sales")" method="post">
                        <div class="row">
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-7 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>

                            </div>
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-7 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })

                                </div>

                            </div>
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.EnumDropDownListFor(model => model.Currency, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="text-left">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-left">
                                    <button type="button" class="btn btn-success" id="CreditNoteButton" onclick="SearchSE()">Continuar</button>
                                </div>
                            </div>
                        </div>

                    </form>
                    @if (@Model.Sales.Count > 0)
                    {

                        <div class="row">
                            <div class="text-center">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-center">
                                    <button type="button" class="btn btn-success" id="ReportButton" >Reporte General</button>
                                </div>
                            </div>
                        </div>
                        <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">

                                <table id="TableSales" class="table table-striped table-bordered table-hover " style="width:100%; font-size:10px">
                                    <thead>

                                        <tr>
                                            <th rowspan="2">FECHA</th>
                                            <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle">NOTAS DE CREDITO</th>
                                            <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle">BONIFICACIONES</th>
                                            <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle">FACT CANCELADAS</th>
                                            <th colspan="1" scope="colgroup" style="text-align:center; vertical-align:middle">DESCUENTOS S/VENTAS</th>
                                            <th colspan="1" scope="colgroup" style="text-align:center; vertical-align:middle">CUPONES</th>
                                            <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle">FACTURAS</th>
                                            <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle">GRAN TOTAL</th>
                                        </tr>
                                        <tr>

                                            <th scope="col">SubTotal</th>
                                            <th scope="col">IVA</th>
                                            <th scope="col">IEPS</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">SubTotal</th>
                                            <th scope="col">IVA</th>
                                            <th scope="col">IEPS</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">SubTotal</th>
                                            <th scope="col">IVA</th>
                                            <th scope="col">IEPS</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">SubTotal</th>
                                            <th scope="col">IVA</th>
                                            <th scope="col">IEPS</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">SubTotal</th>
                                            <th scope="col">IVA</th>
                                            <th scope="col">IEPS</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>

                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="content animated-panel" id="report-section">
                        <div class="hpanel hblue">
                            <div class="panel-body">
                                <div class="row">
                                    <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header">
                        <h4 id="ModalTitle" class="modal-title">Reporte de Ventas</h4>
                        <small id="ModalDescription" class="font-bold"></small>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    @section Scripts {

<script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
        <script src="~/Vendor/moment/moment.js"></script>
        <script type="text/javascript">

            jQuery(document).ready(function () {

                var Products = @Html.Raw(Json.Encode(Model.Sales));
                console.log(Products);
                table.clear();
                table.rows.add(jQuery(Products));
                table.columns.adjust().draw();
                $("#CreditNoteButton").prop('textContent', "Continuar");
                $("#CreditNoteButton").prop('disabled', false);
                   
                if(Products.length>0)
                {
                   
                    footers();
                }

                else
                {

                   
                    footers0();
                }
                $("#StartDate").datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    format: 'dd/mm/yyyy',
                    language: 'es'

                });
                $("#EndDate").datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    format: 'dd/mm/yyyy',
                    language: 'es'
                });




                $("#StartDate").attr('readonly', 'readonly').css('background-color', '#fff');
                $("#EndDate").attr('readonly', 'readonly').css('background-color', '#fff');



            });


            var table = $('#TableSales').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                order: [[ 0, "asc" ]],
                buttons: [

                ],
                columns: [

                    { data: 'fecha'},
                    { data: 'cn_subtotal'},
                    { data: 'cn_iva'},
                    { data: 'cn_ieps'},
                    { data: 'cn_total'},
                    { data: 'bon_subtotal'},
                    { data: 'bon_iva'},
                    { data: 'bon_ieps'},
                    { data: 'bon_total'},
                    { data: 'fc_subtotal'},
                    { data: 'fc_iva'},
                    { data: 'fc_ieps'},
                    { data: 'fc_total'},
                    { data: 'dv_total'},
                    { data: 'cu_total'},
                    { data: 'fac_subtotal'},
                    { data: 'fac_iva'},
                    { data: 'fac_ieps'},
                    { data: 'fac_total'},
                    { data: 'gt_subtotal'},
                    { data: 'gt_iva'},
                    { data: 'gt_ieps'},
                    { data: 'gt_total'}
                ],

                columnDefs: [
                    {
                        type: 'numeric-comma',
                        render: function (data, type, row) {
                            return '$' + data.toFixed(2);
                        },
                        targets: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]
                    },
                    {targets:[0], type:'date-eu'},
                    {
                        targets: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22],
                        className: 'text-center'
                    }]
              

            });
            var detailRows = [];


            $("#ReportButton").click(function () {
                var obj = @Html.Raw(Json.Encode(Model));
                StartLoading();
                $.ajax({

                    type: "POST",
                    url: "@(Url.Action("ActionReportGral", "Sales"))",
                    dataType: "html",
                    data: { "model":obj },//{ "Model":  $("#formCreNoBo").serialize()},
                    success: function (returndates) {
                        document.getElementById("iframe").srcdoc = returndates;
                        EndLoading();
                        $("#ModalDescription").html('Concentrado de Ventas');
                        $('#ModalReport').modal('show');
                    },
                    error: function (returndates) {
                        EndLoading();
                        toastr.error('Alerta - Error inesperado  contactar a sistemas.');

                    }

                });
            });

            function SearchSE(){



                var dateIni = stringToDate($("#StartDate").val());
                var dateFin = stringToDate($("#EndDate").val());

                if (dateFin >= dateIni) {
                   
                    $("#formSales").submit();
                    $("#CreditNoteButton").prop('textContent', "Consultando...");
                    $("#CreditNoteButton").prop('disabled', true);
                   

                  
                }
                else
                    toastr.error('Alerta - Fecha Final debe ser mayor o igual a la fecha Inicial. (' + $("#StartDate").val() + ')');

            }
            function footers () {
                for (var i = 19; i < 23; i++) {
                    var foot = table.column( i );

                    $( foot.footer() ).html(
                                       '$'+foot.data().reduce( function (a,b) {
                                           return (a+b);
                                       } ).toFixed(2)
                                   );
                }

            }
            function footers0 () {
                for (var i = 19; i < 23; i++) {
                    var foot = table.column( i );

                    $( foot.footer() ).html('');
                }

            }


        </script>
    }
