﻿@model App.Entities.ViewModels.Sales.AverageCustomersByHourIndex

@{
    ViewBag.Title = "SALE016";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000","POS")">Ventas</a></li>
                    <li><a href="@Url.Action("POS002","POS")">Reportes</a></li>
                    <li class="active">
                        <span>Clientes por Hora</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Promedio de Clientes por Hora
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>
<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formAverageCustomer" action="@Url.Action("SALE016","Sales")" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchButton" >Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (Model.DataList.Count() > 0)
        {
            <div class="content animated-panel" id="TableSection">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-success" id="ReportButton">Reporte</button>
                        </div>
                        <br /><br />
                        <div class="text-center">
                            <label class="text-center" style="font-size:16px;">Promedio de clientes por hora</label><br />
                            <label class="text-center" style="font-size:14px; font-style:italic;">(Tres semanas)</label>
                        </div>
                        <div class="table-responsive m-t">
                            <table class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr style="background-color:#0088FF;color:white;">
                                        <th>DÍA</th>
                                        <th>6:00</th>
                                        <th>7:00</th>
                                        <th>8:00</th>
                                        <th>9:00</th>
                                        <th>10:00</th>
                                        <th>11:00</th>
                                        <th>12:00</th>
                                        <th>13:00</th>
                                        <th>14:00</th>
                                        <th>15:00</th>
                                        <th>16:00</th>
                                        <th>17:00</th>
                                        <th>18:00</th>
                                        <th>19:00</th>
                                        <th>20:00</th>
                                        <th>21:00</th>
                                        <th>22:00</th>
                                        <th>23:00</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@item.Day</td>
                                            <td>@item.Hr6</td>
                                            <td>@item.Hr7</td>
                                            <td>@item.Hr8</td>
                                            <td>@item.Hr9</td>
                                            <td>@item.Hr10</td>
                                            <td>@item.Hr11</td>
                                            <td>@item.Hr12</td>
                                            <td>@item.Hr13</td>
                                            <td>@item.Hr14</td>
                                            <td>@item.Hr15</td>
                                            <td>@item.Hr16</td>
                                            <td>@item.Hr17</td>
                                            <td>@item.Hr18</td>
                                            <td>@item.Hr19</td>
                                            <td>@item.Hr20</td>
                                            <td>@item.Hr21</td>
                                            <td>@item.Hr22</td>
                                            <td>@item.Hr23</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (!Model.IsFromMenu)
        {
            <div class="content animated-panel" id="report-section">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <div class="row">
                            <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/validations.js"></script>
    <script type="text/javascript">
        $(function () {
            var date = new Date();

            $("#Date").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date(),
                beforeShowDay: function (date) {
                    if (date.getDay() == 1) {
                        return [false, ''];
                    } else {
                        return [true, ''];
                    }
                }
            });            

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');
        });

        $("#SearchButton").click(function () {           
            StartLoading();
            $("#formAverageCustomer").submit();            
        });

        $("#ReportButton").click(function() {
            var model = @Html.Raw(Json.Encode(Model));
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetAvgCustomerReport", "Sales")',
                Type: 'POST',
                data: { "Model": model },
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte de promedio de clientes por hora');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });        

    </script>
}