﻿@model App.Entities.ViewModels.Sales.SalesReportIndex

@{
    ViewBag.Title = "SALE021";
}

<style type="text/css">
    .redBG {
        background-color: #e45353 !important;
    }

    .yellowBG {
        background-color: #e6e641 !important;
    }

    .greenBG {
        background-color: lightgreen !important;
    }
</style>

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000","POS")">Cajas</a></li>
                    <li><a href="@Url.Action("POS002","POS")">Reportes</a></li>
                    <li class="active">
                        <span>Acumulado Cajas</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Acumulado Cajas
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel" id="SelectClient">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formAcumulated" action="@Url.Action("SALE021","Sales")" method="post">
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Cashier, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.Cashier, null, "-- Todos --", htmlAttributes: new { @class = "form-control select2", @id = "ddlCashier" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchInfo">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (!Model.IsFromMenu && Model.AccumulatedData.Count > 0)
        {
            <div class="content animated-panel" id="TableSection">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-success" id="ReportButton">Reporte</button>
                        </div>
                        <div>
                            <label>Tipo Contado</label>
                            <div class="table-responsive m-t">
                                <table id="reportTable" class="table table-striped table-bordered table-hover reportTable" style="width:100%; color:black; font-weight:bold;">
                                    <thead>
                                        <tr>
                                            <th>Cajero</th>
                                            <th>Acumulado</th>
                                            <th>Fecha</th>
                                            <th>Color</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (!Model.IsFromMenu)
        {
            <div class="content animated-panel" id="report-section">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <div class="row">
                            <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Acumulado en Cajas</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script type="text/javascript">
        $(function () {

            var Products = @Html.Raw(Json.Encode(Model.AccumulatedData));

            table.clear();
            table.rows.add(jQuery(Products));
            table.columns.adjust().draw();

            setInterval(function () {
                UpdateTable();
            }, 30000);

            $("#Date").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');

        });

        $("#SearchInfo").click(function () {
            StartLoading();
            $("#formAcumulated").submit();
        });

        var table = $('#reportTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],

            createdRow: function( row, data, dataIndex ) {                
                if (data.Color == 'Green') {                    
                    $(row).addClass('greenBG');
                } else if(data.Color == 'Yellow')
                {                       
                    $(row).addClass( 'yellowBG' );
                }
                else{                    
                    $(row).addClass( 'redBG' );                    
                }
            },
            columns:[
                { data: 'Cashier' },
                { data: 'Total' },
                { data: 'Date' },
                { data: 'Color'}
            ],
            columnDefs: [
                {
                    className: 'text-center'
                },
                {
                    type: 'numeric-comma',
                    render: function (data, type, row) {
                        return '$' + data.toFixed(2);
                    },
                    targets: [1]
                },
                {
                    visible: false,
                    targets: [3]
                }                
            ]
        });        

        $("#ReportButton").click(function() {
            var model = @Html.Raw(Json.Encode(Model));
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetAccumulatedReport", "Sales")',
                Type: 'POST',
                data: { "Model": model },
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte de Acumulado en Cajas');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });

        function UpdateTable() {
            table.clear();            
            var cashier = $("#ddlCashier").val();            
            var date = $("#Date").val();            
            $.ajax({
                url: "@Url.Action("ActionUpdateAccumulatedData","Sales")",
                data: { Cashier: cashier, Date: date },
                type: "GET",
                dataType: 'json',
                success: function (Json) {                    
                    table.rows.add(Json.Data);
                    table.columns.adjust().draw();
                }
            });            
        }

    </script>
}