﻿@{
    /**/

    ViewBag.Title = "SALE000";
}
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000", "Sales")">Ventas</a></li>


                    <li class="active">
                        <span>Movimientos</span>
                    </li>

                </ol>
            </div>
          
                    
                    <h2 class="font-light m-b-xs">
                        VENTAS
                    </h2>
                    <h4>Menú de Movimientos</h4>
                    <br />
               

        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">



        <div class="col-md-4">
            @*<div class="hpanel hred">*@
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("QUOT001", "Quotes")">
                            <h4 class="m-b-md">Cotizaciones/Pedidos</h4>
                            <div class="m">
                                <i class="pe-7s-albums fa-5x"></i>
                            </div>
                            <p class="small">
                                Cotizaciones/Pedidos
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("QUOT001","Quotes")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            @*<div class="hpanel hred">*@
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("INVO001", "Invoices")">
                            <h4 class="m-b-md">Facturar</h4>
                            <div class="m">
                                <i class="pe-7s-albums fa-5x"></i>
                            </div>
                            <p class="small">
                                Facturación de Ventas
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("INVO001","Invoices")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("CRNO001", "CreditNotes")">
                            <h4 class="m-b-md">Notas de Crédito y Bonificaciones</h4>
                            <div class="m">
                                <i class="fa-file fa fa-5x"></i>
                            </div>
                            <p class="small">
                                Crear Notas de Crédito ó Bonificaciones
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("CRNO001","CreditNotes")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("INVO003", "Invoices")">
                            <h4 class="m-b-md">CANCELAR FACTURAS</h4>
                            <div class="m">
                                <i class="fa-file fa fa-5x"></i>
                            </div>
                            <p class="small">
                                Cancelación de Facturas
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("INVO003","Invoices")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE006", "Sales")">
                            <h4 class="m-b-md">CANCELAR NOTAS DE CREDITO</h4>
                            <div class="m">
                                <i class="fa-file fa fa-5x"></i>
                            </div>
                            <p class="small">
                                Cancelación de Notas de Crédito
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE006","Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE005", "Sales")">
                            <h4 class="m-b-md">CANCELAR BONIFICACION</h4>
                            <div class="m">
                                <i class="fa-file fa fa-5x"></i>
                            </div>
                            <p class="small">
                                Cancelación de Bonificaciones
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("SALE005","Sales")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>






    </div>

</div>


@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#divIndex").focus();
            window.setTimeout(function () {
                $("#fa").click();
            }, 5000);
        });

    </script>
}
