﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/bundles/datatables/css")
<link rel="stylesheet" href="~/vendor/clockpicker/dist/bootstrap-clockpicker.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css" />

@model App.Entities.ViewModels.Sales.SalesIndex

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE007","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Reporte de clientes y ventas por hora PV
                        </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Clientes y ventas por hora PV

            </h2>
            <small>Reporte</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    @*<div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Ventas*@
                </div>
                <div class="panel-body">
                    <form id="formSales" action="@Url.Action("SALE017","Sales")" method="post">
                        <div class="row">
                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>

                            </div>
                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })

                                </div>

                            </div>
                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="text-left">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-left">
                                    <button type="button" class="btn btn-success" id="_buttonSearch" onclick="SearchSE()">Continuar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="text-center">
                            <label class="control-label">&nbsp;</label>
                            <div class="text-center">
                                <button type="button" class="btn btn-success" id="ReportButton" disabled onclick="ReportSales()">Reporte General</button>
                            </div>
                        </div>
                    </div>
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TableSales" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Hora</th>
                                        <th>Artículos</th>
                                        <th>
                                            Artículos promedio
                                            x cliente
                                        </th>
                                        <th>
                                            Subtotal
                                            Ventas
                                        </th>
                                        <th>IEPS</th>
                                        <th>IVA</th>
                                        <th>Ventas</th>
                                        <th>Clientes</th>
                                        <th>
                                            Venta
                                            promedio
                                            x cliente
                                        </th>
                                    </tr>

                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th>TOTALES</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Grafica de ventas por hora y artículos por cliente
                </div>
                <div class="panel-body">
                    <div>
                        <canvas id="lineOptions" ></canvas>
                    </div>
                    <div style="float:left; background:rgba(98,203,49,0.5)"> </div> <div style="float:left;"> Artículos</div> <div style="float:left;"> </div>
                    <div style="float:left; background:rgba(30, 36, 247, 0.5)"> </div> <div style="float:left;"> Ventas</div>
                </div>
            </div>
        </div>
        <div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header">
                        <h4 id="ModalTitle" class="modal-title">Reporte de clientes y ventas por hora PV
                        </h4>
                        <small id="ModalDescription" class="font-bold"></small>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Vendor/moment/moment.js"></script>
    <script src="~/Vendor/chartjs/Chart.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var Products = @Html.Raw(Json.Encode(Model.SalesByHour));
            table.clear();
            table.rows.add(jQuery(Products));
            table.columns.adjust().draw();
            var obj = @Html.Raw(Json.Encode(Model));
            $("#_buttonSearch").prop('textContent', "Continuar");
            $("#_buttonSearch").prop('disabled', false);
            if ((obj.SalesByHour) != null) {
                ReportButton.disabled = false;
                footers();
            }
            else {
                ReportButton.disabled = true;
                footers0();
            }
            $("#StartDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'

            });
            $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'
            });

            $("#StartDate").attr('readonly', 'readonly').css('background-color', '#fff');
            $("#EndDate").attr('readonly', 'readonly').css('background-color', '#fff');
            /**
                   * Options for Line chart
                   */
            var lineData = {
                labels:@Html.Raw(Json.Encode(Model.SalesByHour?.Select(s => s.Hora))),
                datasets: [
                    {
                        label: "Ventas",
                        fillColor: "rgba(30, 36, 247, 0.5)",
                        strokeColor: "rgba(30, 36, 247,0.7)",
                        pointColor: "rgba(30, 36, 247,0.7)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: @Html.Raw(Json.Encode(Model.SalesByHour?.Select(s => s.Ventas)))
                    },
                    {
                        label: "Artículos",
                        fillColor: "rgba(98,203,49,0.5)",
                        strokeColor: "rgba(98,203,49,0.7)",
                        pointColor: "rgba(98,203,49,0.7)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(26,179,148,1)",
                        data:@Html.Raw(Json.Encode(Model.SalesByHour?.Select(s => s.Articulos)))                        
                    }
                ]
            };

            var lineOptions = {
                scaleShowGridLines: true,
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleGridLineWidth: 1,
                bezierCurve: true,
                bezierCurveTension: 0.4,
                pointDot: true,
                pointDotRadius: 4,
                pointDotStrokeWidth: 1,
                pointHitDetectionRadius: 20,
                datasetStroke: true,
                datasetStrokeWidth: 1,
                datasetFill: true,
                responsive: true
            };
            var ctx = document.getElementById("lineOptions").getContext("2d");
            var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
        });

        var table = $('#TableSales').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                { data: 'Hora' },
                { data: 'Articulos' },
                { data: 'ArticulosPromedio' },
                { data: 'Subtotal' },
                { data: 'Ieps' },
                { data: 'Iva' },
                { data: 'Ventas' },
                { data: 'Clientes' },
                { data: 'PromedioPorCliente' }
            ],

            columnDefs: [
                {
                    type: 'numeric-comma',
                    render: function (data, type, row) {
                        return '$' + data.toFixed(2);
                    },
                    targets: [3, 4, 5, 6, 8]
                },
                {
                    targets: [5],
                    className: 'text-center'
                }
            ]
        });
        var detailRows = [];

        function ReportSales(){
            var obj = @Html.Raw(Json.Encode(Model));

            StartLoading();
            $.ajax({
                type: "POST",
                url: "@(Url.Action("ActionGetSalesByHourReport", "Sales"))",
                data: { "model": obj },
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Reporte de Ventas');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });
        }

        function SearchSE(){
            $("#formSales").submit();

            $("#_buttonSearch").prop('textContent', "Consultando...");
            $("#_buttonSearch").prop('disabled', true);

        }

        function footers() {
            for (var i = 1; i < 8; i++) {
                var foot = table.column(i);
                switch (i) {
                    case 1:
                        $(foot.footer()).html(

                            foot.data().reduce(function (a, b) {
                                return (a + b);
                            }).toFixed(2)
                        );
                        break;
                    case 7:
                        $(foot.footer()).html(

                            foot.data().reduce(function (a, b) {
                                return (a + b);
                            })
                        );
                        break;
                    case 2:
                        $(foot.footer()).html(

                            foot.data().reduce(function (a, b) {
                                return (a + b);
                            }).toFixed(2)
                        );
                        break;
                    default:
                        $(foot.footer()).html(

                            '$' + foot.data().reduce(function (a, b) {
                                return (a + b);
                            }).toFixed(2)
                        );
                        break;
                }
            }
        }

        function footers0() {
            for (var i = 4; i < 8; i++) {
                var foot = table.column(i);
                $(foot.footer()).html('');
            }
        }

    </script>
}
