﻿@model App.Entities.ViewModels.Sales.UtilitySalesIndex

@{
    ViewBag.Title = "SALE023";
    decimal greatTotal = 0, greatCost = 0, greatUtility = 0, greatPercentage = 0;
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE007","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>
                            Utilidades (PV)
                        </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte de Utilidad por Departamento Detallado PV
            </h2>
            <small>Utilidades (PV)</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formUtilities" action="@Url.Action("SALE023","Sales")" method="post">
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
                            @Html.DropDownListFor(model => model.Department, null, "-- Todos --", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Family, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
                            @Html.DropDownListFor(model => model.Family, null, "-- Todos --", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">&nbsp;</label><br />
                        <div class="form-group">
                            <div class="i-checks">
                                @Html.CheckBoxFor((model => model.GroupByDepartment), new { @class = "form-control", @id = "FuckingCheckbox" })
                                @Html.LabelFor(model => model.GroupByDepartment, htmlAttributes: new { @class = "control-label" })
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5">
                        @Html.LabelFor(model => model.PartNumber, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-dashboard"></i></span>
                            @Html.DropDownListFor(model => model.PartNumber, null, "-- Todos --", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker date" } })
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker date" } })
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchInfo">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (!Model.IsFromMenu && Model.UtilitySales.Count > 0)
        {
            <div class="content animated-panel" id="TableSection">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-success" id="ReportButton">Reporte</button>
                        </div>
                        <div class="table-responsive m-t">
                            <table id="reportTable" class="table table-striped table-bordered table-hover reportTable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Artículo</th>
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>Ventas</th>
                                        <th>IEPS</th>
                                        <th>IVA</th>
                                        <th>Total</th>
                                        <th>Costo</th>
                                        <th>Utilidad</th>
                                        <th>%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.UtilitySales)
                                    {
                                        decimal Cost = 0;
                                        if (Model.GroupByDepartment)
                                        {
                                            greatTotal = 0; greatCost = 0; greatUtility = 0; greatPercentage = 0;
                                            Cost = item.COSTO_STD;
                                        }
                                        else
                                        {
                                            Cost = @item.COSTO_STD * @item.QTY;
                                        }

                                        decimal Total = @item.VENTA + @item.IEPS + @item.IVA;
                                        decimal TotalNoTax = @item.VENTA + @item.IEPS;
                                        decimal Utility = @item.VENTA - Cost;
                                        decimal Percentage = Math.Round((Utility * 100) / TotalNoTax, 2);
                                        greatTotal += TotalNoTax;
                                        greatCost += Cost;
                                        greatUtility += Utility;
                                        <tr>
                                            <td>@item.part_number</td>
                                            <td>@item.part_description</td>
                                            <td>@item.QTY.ToString("0.00")</td>
                                            <td>@item.VENTA.ToString("C")</td>
                                            <td>@item.IEPS.ToString("C")</td>
                                            <td>@item.IVA.ToString("C")</td>
                                            <td>@Total.ToString("C")</td>
                                            <td>@Cost.ToString("C")</td>
                                            <td>@Utility.ToString("C")</td>
                                            <td>@Percentage.ToString()% </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        @{
                                            greatPercentage = Math.Round((greatUtility * 100) / greatTotal, 2);
                                        }
                                        <th colspan="3"></th>
                                        <th>@Model.UtilitySales.Sum(c => c.VENTA).ToString("C")</th>
                                        <th>@Model.UtilitySales.Sum(c => c.IEPS).ToString("C")</th>
                                        <th>@Model.UtilitySales.Sum(c => c.IVA).ToString("C")</th>
                                        @if (!Model.GroupByDepartment)
                                        {
                                            <th>@greatTotal.ToString("C")</th>
                                            <th>@greatCost.ToString("C")</th>
                                            <th>@greatUtility.ToString("C")</th>
                                            <th>@greatPercentage.ToString()%</th>
                                        }
                                        else
                                        {
                                            decimal UtiltyConcentrate = @Model.UtilitySales.Sum(c => c.VENTA - c.COSTO_STD);
                                            decimal TotalConcentrate = @Model.UtilitySales.Sum(c => c.VENTA + c.IEPS + c.IVA);
                                            decimal TotalNoTaxConcentrate = @Model.UtilitySales.Sum(c => c.VENTA + c.IEPS);
                                            decimal PercentageConcentrate = Math.Round((UtiltyConcentrate * 100) / TotalNoTaxConcentrate, 2);
                                            <th>@TotalConcentrate.ToString("C")</th>
                                            <th>@Model.UtilitySales.Sum(c => c.COSTO_STD).ToString("C")</th>
                                            <th>@UtiltyConcentrate.ToString("C")</th>
                                            <th>@PercentageConcentrate.ToString()%</th>
                                        }
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (!Model.IsFromMenu)
        {
            <div class="content animated-panel" id="report-section">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <div class="row">
                            <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Utilidades</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script type="text/javascript">
        $(function () {
            $(".date").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');
        });

        $("#SearchInfo").click(function () {
            StartLoading();
            $("#formUtilities").submit();
        });

        $('.reportTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],

            columnDefs: [
                {
                    className: 'text-center'
                },
            ]
        });

        $("#Department").change(function () {
            var DepartmentId = $("#Department").val();
            if(!DepartmentId)
                DepartmentId = 0;

            $.ajax({
                url: '@Url.Action("ActionGetItemsByDepartment", "Items")',
                dataType: 'json',
                data: { DepartmentId: DepartmentId },
                success: function (data) {
                    $("#PartNumber").empty();
                    $("#PartNumber option").remove();
                    $("#PartNumber").append("<option value=''>-- Todos --</option>");
                    $.each(data.Data, function (index, optiondata) {
                        $("#PartNumber").append("<option value='" + optiondata.PartNumber + "'>" + optiondata.Description + "</option>");
                    });
                }
            });

            $.ajax({
                url: '@Url.Action("ActionGetFamilyByDepartment", "MaClass")',
                dataType: 'json',
                data: { DepartmentId: DepartmentId },
                success: function (data) {
                    $("#Family").empty();
                    $("#Family option").remove();
                    $("#Family").append("<option value=''>-- Todos --</option>");
                    $.each(data.Json, function (index, optiondata) {
                        $("#Family").append("<option value='" + optiondata.class_id + "'>" + optiondata.description + "</option>");
                    });
                }
            });
        });

        $("#Family").change(function () {
            var FamilyId = $("#Family").val();
            var DepartmentId = $("#Department").val();
            if(!FamilyId)
                FamilyId = 0;
            console.log(FamilyId);
            $.ajax({
                url: '@Url.Action("ActionGetItemsByFamily", "Items")',
                dataType: 'json',
                data: { FamilyId: FamilyId, DepartmentId: DepartmentId  },
                success: function (data) {
                    $("#PartNumber").empty();
                    $("#PartNumber option").remove();
                    $("#PartNumber").append("<option value=''>-- Todos --</option>");
                    $.each(data.Data, function (index, optiondata) {
                        $("#PartNumber").append("<option value='" + optiondata.PartNumber + "'>" + optiondata.Description + "</option>");
                    });
                }

            });
        });        

        $("#ReportButton").click(function() {            
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetUtilitiesReport", "Sales")',
                Type: 'POST',                
                data:  $("#formUtilities").serialize(),
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte de Donaciones');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });

    </script>
}