﻿@model App.Entities.ViewModels.Sales.GiftCardReportIndex
@{
    ViewBag.Title = "SALE025";
    string Word = !Model.IsCharge ? "Compra" : "Cargo";
    string StatusType = !Model.IsCharge ? "Estado" : "Tipo";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000","POS")">Cajas</a></li>
                    <li><a href="@Url.Action("POS002","POS")">Reportes</a></li>
                    <li class="active">
                        <span>Tarjetas de Regalo</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Tarjetas de Regalo
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="GiftCardReport" action="@Url.Action("SALE025","Sales")" method="post">
                @Html.HiddenFor(model => model.SiteCode)
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.ReportType, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-sticky-note"></i></span>
                            @Html.EnumDropDownListFor(model => model.ReportType, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchInfo">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (!Model.IsFromMenu && Model.DataReport.Count > 0)
        {
            <div class="content animated-panel">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-success" id="ReportButton">Reporte</button>
                        </div>
                        <div class="table-responsive m-t">
                            <table id="reportTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Número Tarjeta</th>
                                        <th>Monto @Word</th>
                                        <th>Fecha @Word</th>
                                        <th>Sucursal @Word</th>
                                        <th>Caja @Word</th>
                                        <th>Venta @Word</th>
                                        <th>@StatusType</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Item in Model.DataReport)
                                    {
                                        <tr>
                                            <td>@Item.CardNumber</td>
                                            <td>@Item.Amount.ToString("C")</td>
                                            <td>@Item.Date</td>
                                            <td>@Item.StoreMarket</td>
                                            <td>@Item.SaleCheckpoint</td>
                                            <td>@Item.SaleId</td>
                                            <td>@Item.StatusType</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (!Model.IsFromMenu)
        {
            <div class="content animated-panel" id="report-section">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <div class="row">
                            <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Tarjetas de Regalo</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script src="~/Scripts/validations.js"></script>
    <script type="text/javascript">
        $(function () {

            startDate = $("#StartDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            endDate = $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');
        });

        $("#SearchInfo").click(function () {
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();

            if (ValidateDates(startDate, endDate)) {
                StartLoading();
                $("#GiftCardReport").submit();
            }
        });

        var reportTable = $('#reportTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                    { data: 'CardNumber' },
                    { data: 'Amount' },
                    { data: 'Date' },
                    { data: 'StoreMarket' },
                    { data: 'SaleCheckpoint' },
                    { data: 'SaleId' },
                    { data: 'StatusType' }
            ],

            columnDefs: [
                {
                    className: 'text-center'
                }
            ]
        });

        $("#ReportButton").click(function() {
            var model = @Html.Raw(Json.Encode(Model));            
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetGiftCardReport", "Sales")',
                Type: 'POST',
                data: { "Model": model },
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte de Tarjetas de Regalo');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });

    </script>
}
