﻿@model List<App.Entities.ViewModels.CodesPackages.CodesPackagesModel>
@{ ViewBag.Title = "SALE026"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/Sales/SALE000">Ventas</a></li>
                    <li>
                        <a href="/Sales/SALE007">Reportes</a>
                    </li>
                    <li class="active">
                        <span>Reporte Articulos de Venta por Cajero</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte Articulos de Venta por Cajero
            </h2>
            <small>Reporte Articulos de Venta por Cajero.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a>Reporte Articulos de Venta por Cajero</a>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-4">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="BeginDate" class="form-control" autocomplete="off" />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input type="text" id="EndDate" class="form-control" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Artículo</label>
                            <input class="form-control" id="ItemSelect" name="ItemSelect" />
                        </div>
                        <div class="col-lg-1">
                            <br />
                            <button class="btn btn-primary" id="buscar" onclick="Search()"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                        @*<div class="col-lg-1">
                                <br />
                                <button class="btn btn-success" id="printPO" onclick="SerchPOReport()"><i class="fa fa-print"></i> Imprimir</button>
                            </div>*@
                    </div>
                    <br />

                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="Codes" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>No. Artículo</th>
                                        <th>Artículo</th>
                                        <th>Cajero</th>
                                        <th>Cantidad</th>
                                        <th>Importe</th>
                                        <th>IVA</th>
                                        <th>IEPS</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model))
@section Scripts { @Scripts.Render("~/bundles/SALE026/js") }