﻿@model App.Entities.ViewModels.Sales.PortadaModel


@{
    ViewBag.Title = "SALE008";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal footerDesc = 0, footerTiposPago = 0, footerIEPS = 0, footerServices = 0;


}
@Styles.Render("~/bundles/datatables/css")
<link rel="stylesheet" href="~/vendor/clockpicker/dist/bootstrap-clockpicker.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css" />
<style>


    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 12px;
    }


    th, td, tr {
        padding: 2px;
        text-align: left;
    }

    table#t01 {
        width: 100%;
        background-color: #f1f1c1;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000", "Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE007", "Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Reporte Ventas</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                PORTADA
            </h2>
            <small>Resumen de Ventas (PV).</small>
        </div>
    </div>
</div>
<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">

                <div class="panel-body">
                    <form id="formSales" action="@Url.Action("SALE008", "Sales")" method="post">
                        <div class="row" style="margin-left:0px; margin-right:0px; padding:inherit">
                            <div class="form-group col-md-2">
                                Fecha de consulta:
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.ReportDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>

                            </div>
                            <div class="form-group col-md-2 text-right">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-right">
                                    <button style="width:60%" type="button" class="btn btn-success" id="_buttonSearch" onclick="SearchSE()">Continuar</button>
                                </div>
                            </div>
                            <div class="form-group col-md-4 text-center">
                                <div class="text-center">
                                    <label class="control-label">&nbsp;</label>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-success" id="ReportButton" onclick="ReportSales()">Reporte General</button>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group col-md-4 text-center" style="column-gap:0px">

                                <div class="col-md-12  input-group m-b text-left">
                                    <label class="control-label">
                                        Tipo de Cambio al día de la consulta
                                    </label>
                                    $ @Html.DisplayFor(model => model.Currency_Rate, new { htmlAttributes = new { @class = "control-label" } })
                                </div>
                                <div class="col-md-12  input-group m-b text-center">
                                    @if (@Model.Difference >= 0)
                                    {
                                        <label class="label-success" />
                                        @*<label style="color:white">
                                                Diferencia:
                                                $ @Html.DisplayFor(model => model.Difference, new { htmlAttributes = new { @class = "control-label" } })
                                            </label>*@
                                    }
                                    else
                                    { <label class="label-danger" />

                                    }
                                    <label style="color:white">
                                        Diferencia:
                                        $ @Html.DisplayFor(model => model.Difference, new { htmlAttributes = new { @class = "control-label" } })
                                    </label>

                                </div>





                            </div>
                        </div>

                    </form>
                    @if (@Model != null)
                    {
                        @*@if (@Model.TotalesMXN[5, 2] > 0 || @Model.TotalesDLLS[5, 2] > 0)
                            {*@

                        <div class="col-md-4 ">
                            <table id="TableSalesMN" style="width:100%">
                                <thead>
                                    <tr style="color:black; background-color:#D6E87C">
                                        <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle" width="50%">VENTAS MONEDA NACIONAL</th>
                                    </tr>
                                    <tr style="color:black; background-color:#b1adad">
                                        <th style="width:70px" , height="10px"></th>
                                        <th>CREDITO</th>
                                        <th>CONTADO</th>
                                        <th>SUMA</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr style="height:10px">
                                        <th>TASA 0:</th>
                                        <td>@Model.TotalesMXN[0, 0].ToString("C")</td>
                                        <td>@Model.TotalesMXN[0, 1].ToString("C")</td>
                                        <th>@Model.TotalesMXN[0, 2].ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>GRAVADO:</th>
                                        <td>@Model.TotalesMXN[1, 0].ToString("C")</td>
                                        <td>@Model.TotalesMXN[1, 1].ToString("C")</td>
                                        <th>@Model.TotalesMXN[1, 2].ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>EXENTO:</th>
                                        <td>@Model.TotalesMXN[2, 0].ToString("C")</td>
                                        <td>@Model.TotalesMXN[2, 1].ToString("C")</td>
                                        <th>@Model.TotalesMXN[2, 2].ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>IEPS  0:</th>
                                        <td>@Model.TotalesMXN[3, 0].ToString("C")</td>
                                        <td>@Model.TotalesMXN[3, 1].ToString("C")</td>
                                        <th>@Model.TotalesMXN[3, 2].ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>IEPS:</th>
                                        <td>@Model.TotalesMXN[4, 0].ToString("C")</td>
                                        <td>@Model.TotalesMXN[4, 1].ToString("C")</td>
                                        <th>@Model.TotalesMXN[4, 2].ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>IVA:</th>
                                        <td>@Model.TotalesMXN[5, 0].ToString("C")</td>
                                        <td>@Model.TotalesMXN[5, 1].ToString("C")</td>
                                        <th>@Model.TotalesMXN[5, 2].ToString("C")</th>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>TOTAL:</th>
                                        <td>@Model.TotalesMXN[6, 0].ToString("C")</td>
                                        <td>@Model.TotalesMXN[6, 1].ToString("C")</td>
                                        <th>@Model.TotalesMXN[6, 2].ToString("C")</th>
                                    </tr>
                                </tfoot>


                            </table>
                            <label class="control-label">&nbsp;</label>
                            <table id="TableSalesNT" style="width:100%">
                                <thead>

                                    <tr style="color:black;background-color:#D6E87C">

                                        <th colspan="2" scope="colgroup" style="text-align:center; vertical-align:middle" width="50%">NOTAS DE CREDITO</th>
                                        <th colspan="2" scope="colgroup" style="text-align:center; vertical-align:middle" width="50%">BONIFICACIONES</th>

                                    </tr>
                                    <tr style="color:black; background-color:#b1adad">

                                        <th scope="col">MXN</th>
                                        <th scope="col">DLLS</th>
                                        <th scope="col">MXN</th>
                                        <th scope="col">DLLS</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.CreditNotesMXN.ToString("C")</td>
                                        <td>@Model.CreditNotesDLLS.ToString("C")</td>
                                        <td>@Model.BONIMXN.ToString("C")</td>
                                        <td>@Model.BONIDLLS.ToString("C")</td>
                                    </tr>

                                </tbody>

                            </table>
                            @*<table id="TableCD" style="width:100%">
                                    <thead>

                                        <tr>

                                            <th colspan="2" scope="colgroup" style="text-align:center; vertical-align:middle" width="50%"></th>
                                            <th colspan="2" scope="colgroup" style="text-align:center; vertical-align:middle; color:black; background-color:#b1adad" width="50% ">CUPON DE DESCUENTO</th>

                                        </tr>
                                        <tr>

                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col">MXN</th>
                                            <th scope="col">DLLS</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>@Model.DESCMXN.ToString("C")</td>
                                            <td>@Model.DESCDLLS.ToString("C")</td>
                                        </tr>

                                    </tbody>

                                </table>*@
                            <label class="control-label" style="width:100%">&nbsp;</label>

                            <table id="TableDEPCAJ" style="width:100%">
                                <thead>

                                    <tr style="color:black;background-color:#D6E87C">

                                        <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle">DEPOSITOS EN PESOS AREA DE CAJAS</th>


                                    </tr>
                                    <tr style="color:black;background-color:#b1adad">

                                        <th scope="col">IMPORTE</th>
                                        <th scope="col">TIPO DEPOSITO</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Deposits)
                                    {
                                        if (item.Destino == "C" && item.Currency == "MXN")
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.Importe)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Type)</td>

                                            </tr>
                                        }

                                    }
                                </tbody>

                            </table>
                            <label class="control-label" style="width:100%">&nbsp;</label>

                            <table id="TableDEPCRECO" style="width:100%">
                                <thead>

                                    <tr style="color:black;background-color:#D6E87C">

                                        <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle">DEPOSITOS EN PESOS CREDITO Y COBRANZA</th>


                                    </tr>
                                    <tr style="color:black;background-color:#b1adad">

                                        <th scope="col">IMPORTE</th>
                                        <th scope="col">TIPO DEPOSITO</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Deposits)
                                    {
                                        if (item.Destino == "CC" && item.Currency == "MXN")
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.Importe)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Type)</td>

                                            </tr>
                                        }

                                    }
                                </tbody>

                            </table>
                            <label class="control-label" style="width:100%">&nbsp;</label>

                            <table id="TablePAC" style="width:100%">
                                <thead>

                                    <tr style="color:black;background-color:#D6E87C">

                                        <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle">PAGOS Y ABONOS DE CLIENTES</th>


                                    </tr>
                                    <tr style="color:black;background-color:#b1adad">

                                        <th scope="col">PESOS</th>
                                        <th scope="col">DLLS</th>
                                        <th scope="col">DLLS EN MXN</th>
                                        <th scope="col">TOTAL</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height:10px">
                                        <td>@Model.PAYSCUSTMXN.ToString("C")</td>
                                        <td>@Model.PAYSCUSTDLLS.ToString("C")</td>
                                        <td>@Model.PAYSCUSTDLLSMXN.ToString("C")</td>
                                        <td>@Model.PAYSCUSTTOTAL.ToString("C")</td>
                                    </tr>

                                </tbody>

                            </table>
                            <label class="control-label">&nbsp;</label>
                            <table id="TableCOMIS" style="width:100%">
                                <thead>

                                    <tr style="color:black;background-color:#D6E87C">

                                        <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle">COMISIONES</th>


                                    </tr>
                                    <tr style="color:black;background-color:#b1adad">

                                        <th scope="col">IMPORTE PESOS</th>
                                        <th scope="col">I.V.A.</th>
                                        <th scope="col">TOTAL</th>
                                        <th scope="col">TOTAL MN</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height:10px">
                                        <td>@Model.COMISMXN.ToString("C")</td>
                                        <td>@Model.COMIS_IVA.ToString("C")</td>
                                        <td>@Model.COMIS_DLLS_MXN.ToString("C")</td>
                                        <td>@Model.COMIS_TOTAL.ToString("C")</td>
                                    </tr>

                                </tbody>

                            </table>
                            <label class="control-label">&nbsp;</label>
                            <table id="TableRENTA" style="width:100%">
                                <thead>

                                    <tr style="color:black;background-color:#D6E87C">

                                        <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle">RENTA</th>


                                    </tr>
                                    <tr style="color:black;background-color:#b1adad">

                                        <th scope="col">IMPORTE DLLS</th>
                                        <th scope="col">I.V.A.</th>
                                        <th scope="col">TOTAL</th>
                                        <th scope="col">TOTAL MN</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height:10px">
                                        <td>$ @Model.RENTA_DLLS</td>
                                        <td>$ @Model.RENTA_IVA</td>
                                        <td>$ @Model.RENTA_MXN</td>
                                        <td>$ @Model.RENTA_TOTAL</td>
                                    </tr>

                                </tbody>

                            </table>
                            <label class="control-label" style="width:100%">&nbsp;</label>


                            <table id="TableSANC" style="width:100%">
                                <thead>

                                    <tr style="color:black;background-color:#D6E87C">

                                        <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle">SANCIONES</th>

                                    </tr>
                                    <tr style="color:black;background-color:#b1adad">

                                        <th scope="col">CAJERO(A)</th>
                                        <th scope="col">MOTIVO</th>
                                        <th scope="col">IMPORTE</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Sanctions)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Empleado)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Motivo)</td>
                                            <td>$ @Html.DisplayFor(modelItem => item.Importe)</td>

                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <div class="col-md-4 ">
                            <table id="TableSalesMA" style="width:100%">
                                <thead>
                                    <tr style="color:black; background-color:#D6E87C">
                                        <th colspan="5" scope="colgroup" style="text-align:center; vertical-align:middle" width="50%">VENTAS MONEDA AMERICANA</th>
                                    </tr>
                                    <tr style="color:black; background-color:#b1adad">
                                        <th style="width:70px" , height="10px"></th>
                                        <th>CREDITO</th>
                                        <th>CONTADO</th>
                                        <th>SUMA</th>
                                        <th>SUMA M.N.</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr style="height:10px">
                                        <th>TASA 0:</th>
                                        <td>@Model.TotalesDLLS[0, 0].ToString("C")</td>
                                        <td>@Model.TotalesDLLS[0, 1].ToString("C")</td>
                                        <th>@Model.TotalesDLLS[0, 2].ToString("C")</th>
                                        <th>@Model.totalTasao.ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>GRAVADO:</th>
                                        <td>@Model.TotalesDLLS[1, 0].ToString("C")</td>
                                        <td>@Model.TotalesDLLS[1, 1].ToString("C")</td>
                                        <th>@Model.TotalesDLLS[1, 2].ToString("C")</th>
                                        <th>@Model.totalGravado0.ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>EXENTO:</th>
                                        <td>@Model.TotalesDLLS[2, 0].ToString("C")</td>
                                        <td>@Model.TotalesDLLS[2, 1].ToString("C")</td>
                                        <th>@Model.TotalesDLLS[2, 2].ToString("C")</th>
                                        <th>@Model.totalExento.ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>IEPS  0:</th>
                                        <td>@Model.TotalesDLLS[3, 0].ToString("C")</td>
                                        <td>@Model.TotalesDLLS[3, 1].ToString("C")</td>
                                        <th>@Model.TotalesDLLS[3, 2].ToString("C")</th>
                                        <th>@Model.totalIEPS0.ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>IEPS :</th>
                                        <td>@Model.TotalesDLLS[4, 0].ToString("C")</td>
                                        <td>@Model.TotalesDLLS[4, 1].ToString("C")</td>
                                        <th>@Model.TotalesDLLS[4, 2].ToString("C")</th>
                                        <th>@Model.totalIEPS.ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>IVA:</th>
                                        <td>@Model.TotalesDLLS[5, 0].ToString("C")</td>
                                        <td>@Model.TotalesDLLS[5, 1].ToString("C")</td>
                                        <th>@Model.TotalesDLLS[5, 2].ToString("C")</th>
                                        <th>@Model.totalIVA.ToString("C")</th>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>TOTAL:</th>
                                        <td>@Model.TotalesDLLS[6, 0].ToString("C")</td>
                                        <td>@Model.TotalesDLLS[6, 1].ToString("C")</td>
                                        <th>@Model.TotalesDLLS[6, 2].ToString("C")</th>
                                        <th>@Model.totalTOTAL.ToString("C")</th>
                                    </tr>
                                </tfoot>


                            </table>
                            <label class="control-label">&nbsp;</label>
                            <table id="TableDONCANC" style="width:100%">
                                <thead>

                                    <tr style="color:black;background-color:#D6E87C">

                                        <th colspan="2" scope="colgroup" style="text-align:center; vertical-align:middle" width="40%">DONATIVOS</th>
                                        <th colspan="2" scope="colgroup" style="text-align:center; vertical-align:middle" width="40%">CANCELACIONES</th>
                                        <th style="text-align:center; vertical-align:middle" width="20%">CASH BACK</th>
                                    </tr>
                                    <tr style="color:black;background-color:#b1adad">

                                        <th scope="col">MXN</th>
                                        <th scope="col">DLLS</th>
                                        <th scope="col">ELECTRONICAS</th>
                                        <th scope="col">EN EFECTIVO</th>
                                        <th scope="col">TOTAL</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.DON_MXN.ToString("C")</td>
                                        <td>@Model.DON_DLLS.ToString("C")</td>
                                        <td>@Model.CANC_ELECT.ToString("C")</td>
                                        <td>@Model.CANC_CASH.ToString("C")</td>
                                        <td>@Model.CASHBACK_TOTAL.ToString("C")</td>
                                    </tr>

                                </tbody>

                            </table>

                            <label class="control-label" style="width:100%">&nbsp;</label>

                            <table id="TableDEPDOLARESCAJ" style="width:100%">
                                <thead>

                                    <tr style="color:black;background-color:#D6E87C">

                                        <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle">DEPOSITOS EN DOLARES AREA DE CAJAS</th>


                                    </tr>
                                    <tr style="color:black;background-color:#b1adad">

                                        <th scope="col">IMPORTE</th>
                                        <th scope="col">TIPO DEPOSITO</th>
                                        <th scope="col">EN M.N</th>
                                        <th scope="col">COMPLEMENTARIA</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Deposits)
                                    {
                                        if (item.Destino == "C" && item.Currency == "USD")
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.ImporteDLLS)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Importe_DLLS_MXN)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Complement)</td>

                                            </tr>
                                        }

                                    }
                                </tbody>

                            </table>
                            <label class="control-label" style="width:100%">&nbsp;</label>

                            <table id="TableDEPDOLLSCRECO" style="width:100%">
                                <thead>

                                    <tr style="color:black;background-color:#D6E87C">

                                        <th colspan="4" scope="colgroup" style="text-align:center; vertical-align:middle">DEPOSITOS EN DOLARES CREDITO Y COBRANZA</th>


                                    </tr>
                                    <tr style="color:black;background-color:#b1adad">

                                        <th scope="col">IMPORTE</th>
                                        <th scope="col">TIPO DEPOSITO</th>
                                        <th scope="col">EN M.N</th>
                                        <th scope="col">COMPLEMENTARIA</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Deposits)
                                    {
                                        if (item.Destino == "CC" && item.Currency == "USD")
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.ImporteDLLS)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Importe_DLLS_MXN)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Complement)</td>

                                            </tr>
                                        }

                                    }
                                </tbody>

                            </table>
                            <label class="control-label">&nbsp;</label>
                            <table id="TableTotalDepositos" style="width:100%">
                                <thead>
                                    <tr style="color:black; background-color:#D6E87C">
                                        <th colspan="2" scope="colgroup" style="text-align:center; vertical-align:middle" width="50%">TOTAL DEPOSITOS</th>
                                    </tr>

                                </thead>

                                <tbody>
                                    <tr style="height:10px">
                                        <th>MONEDA NACIONAL:</th>
                                        <td>@Model.MXNDeposits.ToString("C")</td>

                                    </tr>
                                    <tr>
                                        <th>DLLS EN MN:</th>
                                        <td>@Model.DLLSDeposits.ToString("C")</td>

                                    </tr>
                                    <tr>
                                        <th>T/CREDITO/DEBITO:</th>
                                        <td>@Model.CARDSDeposits.ToString("C")</td>

                                    </tr>
                                    <tr>
                                        <th>VALES :</th>
                                        <td>@Model.VALESDeposits.ToString("C")</td>

                                    </tr>
                                    <tr>
                                        <th>VALES ELECTRONICOS:</th>
                                        <td>@Model.VALES_ELECT_Deposits.ToString("C")</td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>GRAN TOTAL:</th>
                                        <th>@Model.TotalDeposits.ToString("C")</th>

                                    </tr>
                                </tfoot>


                            </table>

                            <label class="control-label">&nbsp;</label>
                            <table id="TableIEPS" style="width:100%">
                                <thead>
                                    <tr style="color:black; background-color:#D6E87C">
                                        <th colspan="2" scope="colgroup" style="text-align:center; vertical-align:middle" width="100%">IEPS</th>
                                    </tr>
                                    <tr style="color:black;background-color:#b1adad">

                                        <th scope="col">IEPS %</th>
                                        <th scope="col">IMPORTE</th>


                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.IEPS_DetaillList)
                                    {
                                        footerIEPS += item.Importe;
                                        <tr>

                                            <td>@item.IEPS</td>
                                            <td>@item.Importe.ToString("C")</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th> TOTAL:</th>
                                        <th>@footerIEPS.ToString("C")</th>

                                    </tr>
                                </tfoot>


                            </table>


                            <label class="control-label">&nbsp;</label>
                            <table id="TableServicesDetail" style="width:100%">
                                <thead>
                                    <tr style="color:black; background-color:#D6E87C">
                                        <th colspan="2" scope="colgroup" style="text-align:center; vertical-align:middle" width="100%">DETALLE DE SERVICIOS</th>
                                    </tr>
                                    <tr style="color:black;background-color:#b1adad">


                                        <th scope="col">Servicio</th>
                                        <th scope="col">Importe</th>


                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.ServicesDetailList)
                                    {
                                        footerServices += item.Importe;
                                        <tr>

                                            <td>@item.ServiceName</td>
                                            <td>$ @item.Importe.ToString("C")</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th> TOTAL:</th>
                                        <th>@footerServices.ToString("C")</th>

                                    </tr>
                                </tfoot>


                            </table>
                        </div>
                        <div class="col-md-4 ">


                            <label style="height:20px; width:100%; border-bottom-style:ridge; background-color:#D6E87C; color:black; text-align:center; vertical-align:central; font-size:12px"
                                   class="control-label">TIPOS DE PAGO</label>

                            <ul style="list-style-type:none; margin:0; padding:0; overflow:hidden; width:100%; align-content:center">
                                @foreach (var item in Model.PaymentsMethodsList)
                                {
                                    if (item.PMid == 8)
                                    {
                                        footerTiposPago += item.Importe * Model.Currency_Rate;
                                    }
                                    else
                                    {
                                        footerTiposPago += item.Importe;
                                    }

                                    if (item.PMid == 19)
                                    {
                                        item.Importe = item.Importe - Model._cancTarjetaD;
                                    }
                                     if (item.PMid == 1)
                                    {
                                        item.Importe = item.Importe - Model._cancTarjetaC;
                                    }

        <li style="width:25%; height:70px; border-style: groove; float:left">
            <label style="width:100%; height:35px; background-color:#b1adad; color:black; text-align:center; vertical-align:central; font-size:smaller"
                   class="control-label">@item.PaymentName</label>
                <label style="width:100%;  color:black; text-align:center; vertical-align:central; font-size:11px;margin:0px">@item.Importe.ToString("C")</label>

                @*$ @Html.DisplayFor(modelItem => item.Importe, new { htmlAttributes = new { @class = "control-label " } })*@

            </li>
        }
                                <li style="width:25%; height:70px; border-style: groove; float:left">
                                    <label style="width:100%; height:35px; background-color:#b1adad; color:black; text-align:center; vertical-align:central; font-size:12px"
                                           class="control-label">TOTAL</label>

                                    <label style="width:100%;  color:black; text-align:center; vertical-align:central; font-size:12px;margin:0px">@footerTiposPago.ToString("C")</label>



                                </li>
                            </ul>







                            <table id="TableDescuentos" style="width:100%">
                                <thead>
                                    <tr style="color:black; background-color:#D6E87C">
                                        <th colspan="2" scope="colgroup" style="text-align:center; vertical-align:middle" width="100%">DESCUENTO SOBRE VENTA (DETALLE)</th>
                                    </tr>
                                    <tr style="color:black;background-color:#b1adad">

                                        <th scope="col">CLIENTE</th>
                                        <th scope="col">IMPORTE</th>


                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.SaleDiscountslList)
                                    {
                                        footerDesc += item.Importe;
                                        <tr>

                                            <td>@item.Customername</td>
                                            <td>@item.Importe.ToString("C")</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th> TOTAL:</th>
                                        <th>@footerDesc.ToString("C")</th>

                                    </tr>
                                </tfoot>


                            </table>


                        </div>
                    }
                    else
                    {
                        <div class="content animated-panel" id="report-section">
                            <div class="hpanel hblue">
                                <div class="panel-body">
                                    <div class="row">
                                        <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">PORTADA (Resumen de Ventas )</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {


    <script src="~/Vendor/moment/moment.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $("#_buttonSearch").prop('textContent', "Continuar");
            $("#_buttonSearch").prop('disabled', false);
            $("#ReportDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'

            });

            var IEPS = @Html.Raw(Json.Encode(Model.IEPS_DetaillList));
            var DESCUENTOS = @Html.Raw(Json.Encode(Model.SaleDiscountslList));
            var DETALLE_SERVICIOS = @Html.Raw(Json.Encode(Model.ServicesDetailList));
            console.log( @Html.Raw(Json.Encode(Model)));
            /*
            footers();

            if(IEPS.length>0)
                footers(TableIEPS);
            if(DESCUENTOS.length>0)
                footers(TableSalesDisc);
            if(DETALLE_SERVICIOS.length>0)
                footers(TableServicesDetail);*/

        });
        function SearchSE(){
            $("#formSales").submit();

            $("#_buttonSearch").prop('textContent', "Consultando...");
            $("#_buttonSearch").prop('disabled', true);

        }
        function footers() {
            var foot = $('#TableSalesDisc').column(1);


            $(foot.footer()).html(
                               '$' + foot.data().reduce(function (a, b) {
                                   return (a + b);
                               }).toFixed(2)
                           );


        }
        function ReportSales(){
            var obj = @Html.Raw(Json.Encode(Model));

            StartLoading();
            $.post({
                type: "POST",
                url: "@(Url.Action("ActionReportGralPortada", "Sales"))",

                data: { "model": obj, "totalesMXN":obj.TotalesMXN, "totalesUSD":obj.TotalesDLLS },
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Reporte de Ventas');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });

        }
    </script>
} 