﻿@model App.Entities.ViewModels.Sales.TransactionsCardIndex

@{
    ViewBag.Title = "Reporte de retiros de efectivo";
    decimal? greatTotal = 0;    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }

    td.details-control2 {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>
@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE007","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Retiros de efectivo</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Retiros de efectivo
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formCashBackReport" action="@Url.Action("SALE015","Sales")" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Cashier, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.Cashier, null, "-- Todos --", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchInfo">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (!Model.IsFromMenu && Model.DataReport.Count() > 0)
        {
            <div class="content animated-panel" id="TableSection">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-success" id="ReportButton">Reporte</button>
                        </div>
                        <div>
                            @*<label>Cajero: @Model.CashierName</label>&nbsp;&nbsp;&nbsp;<label>Campaña: @Model.CampaignName</label>*@
                            <div class="table-responsive m-t">
                                <table id="reportTable2" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Fecha</th>
                                            <th>Monto</th>
                                            <th>Retiro</th>
                                            <th>Total MXN</th>
                                            <th>Reporte</th>
                                        </tr>
                                    </thead>
                                    @* Funciona sin datatable*@
                                    <tbody>
                                        @foreach (var item in Model.DataReport.OrderBy(c => c.Fecha).ThenBy(x => x.Cashier))
                                        {
                                            greatTotal += item.Total;
                                            <tr>
                                                <td class="details-control"></td>
                                                <td>@item.Fecha.Value.ToString("dd/MM/yyyy")</td>
                                                <td class='text-right'>@item.Monto.Value.ToString("C")</td>
                                                <td class='text-right'>@item.Retiro.Value.ToString("C")</td>
                                                <td class='text-right'>@item.Total.Value.ToString("C")</td>
                                                <td><button class="btn btn-xs btn-outline btn-info" onclick="ReportDetailTransactionsCardByCashier('@item.Fecha.Value.ToString("dd/MM/yyyy")')">Reporte</button></td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="4" style="text-align:right">Total</th>
                                            <th>@Math.Round(greatTotal.Value, 2).ToString("C")</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (!Model.IsFromMenu)
        {
            <div class="content animated-panel" id="report-section">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <div class="row">
                            <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de retiros</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function() {

            startDate = $("#StartDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            endDate = $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');

            var table = $('#reportTable2').DataTable({                
                "oLanguage": {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                "dom": "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                buttons: [

                ],
                "columns": [
                    {
                        "className": '',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    { "data": "Fecha" },
                    { "data": "Monto" },
                    { "data": "Retiro" },
                    { "data": "Total MXN" }
                    ,
                    {
                        //"className": '',
                        //"orderable": false,
                        //"data": null
                    }
                ],
                "order": [[1, 'asc']]
            } );

            // Add event listener for opening and closing details
            $('#reportTable2 tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    row.child.hide();
                    tr.removeClass('details');
                }
                else
                {
                    if ( table.row( '.details' ).length ) {
                        $('.details-control', table.row( '.details' ).node()).click();
                    }
                    row.child( format(row.data()) ).show();
                    tr.addClass('details');
                }
            });

            table.on('draw', function () {
                $.each( detailRows, function ( i, id ) {
                    $('#'+id+' td.details-control').trigger( 'click' );
                } );
            });        
        });

        $("#SearchInfo").click(function() {
            StartLoading();
            $("#formCashBackReport").submit();
        });

        $("#ReportButton").click(function () {
            var obj = @Html.Raw(Json.Encode(Model.DataReport.OrderBy(c => c.Fecha).ThenBy(x => x.Cashier)));            
            obj.InvoiceList=null;            
            StartLoading();
            $.post({

                type: "POST",
                url: "@(Url.Action("ActionReportGralTransactionsCard", "Sales"))",
                dataType: "html",
                data: { "StartDate":$("#StartDate").val(), "EndDate":$("#EndDate").val(),"Cashier":$("#Cashier").val()},
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Reporte de retiros de efectivo');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    EndLoading();
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');

                }

            });
        });

        function format(d) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');


            $.ajax({
                url: "@Url.Action("ActionGetTransactionsCardByCashier", "Sales")",
                data: { "StartDate":d.Fecha, "EndDate":d.Fecha,"Cashier":$("#Cashier").val()},
                type: "GET",
                success: function(returndate) {                    
                    $.each(returndate.Json,
                        function(index, value) {
                            detailItems += "<tr><td>" +
                                value.FechaS +
                                "</td><td>" +
                                value.HoraS +
                                "</td><td>" +
                                value.CardNumber +
                                "</td><td class='text-right'>" +

                                value.AuthCode +
                                "</td><td class='text-right'>" +

                                value.FolioVenta +
                                "</td><td class='text-right'>$" +
                                value.Amount.toFixed(2) +
                                "</td><td class='text-right'>" +

                                value.PosId +
                                "</td><td>" +
                                value.NombreCajero +
                                "</td><td class='text-right'>$" +

                                value.CashBack.toFixed(2) +
                                "</td><td class='text-right'>$" +
                                value.Total.toFixed(2) +
                                "</td></tr>"
                        });
                    tabledetail.html(
                        '<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">' +
                        '<thead><tr><th>Fecha</th><th>Hora</th><th>Tarjeta</th><th>No. aut</th><th>Folio venta</th><th>Monto</th><th>Caja</th><th>Cajero</th></th><th>Retiro</th><th>Total</th></tr></thead><tbody>' +
                        detailItems +
                        '</tbody></table>').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail;
        }

        function reloadStyleTable()
        {
            $('#tabledetail').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
            });
        }

        //$(document).ready(function() {
        //    var table = $('#reportTable2').DataTable({                
        //        "oLanguage": {
        //            "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
        //        },
        //        "dom": "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
        //        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        //        buttons: [

        //        ],
        //        "columns": [
        //            {
        //                "className": '',
        //                "orderable": false,
        //                "data": null,
        //                "defaultContent": ''
        //            },
        //            { "data": "Fecha" },
        //            { "data": "Monto" },
        //            { "data": "Retiro" },
        //            { "data": "Total MXN" }
        //            ,
        //            {
        //                //"className": '',
        //                //"orderable": false,
        //                //"data": null
        //            }
        //        ],
        //        "order": [[1, 'asc']]
        //    } );

        //    // Add event listener for opening and closing details
        //    $('#reportTable2 tbody').on('click', 'td.details-control', function () {
        //        var tr = $(this).closest('tr');
        //        var row = table.row( tr );

        //        if ( row.child.isShown() ) {
        //            row.child.hide();
        //            tr.removeClass('details');
        //        }
        //        else
        //        {
        //            if ( table.row( '.details' ).length ) {
        //                $('.details-control', table.row( '.details' ).node()).click();
        //            }
        //            row.child( format(row.data()) ).show();
        //            tr.addClass('details');
        //        }
        //    });

        //    table.on('draw', function () {
        //        $.each( detailRows, function ( i, id ) {
        //            $('#'+id+' td.details-control').trigger( 'click' );
        //        } );
        //    });            
        //});

        function ReportDetailTransactionsCardByCashier(fecha) {
            StartLoading();
            $.ajax({
                type: "GET",
                url: "@(Url.Action("ReportDetailTransactionsCardByCashier", "Sales"))",
                data: { "StartDate": fecha, "EndDate": fecha,"Cashier": $("#Cashier").val() },
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Reporte de retiros de efectivo detallado');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    EndLoading();
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');

                }
            });}
        var detailRows = [];


    </script>
}