﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/bundles/datatables/css")
<link rel="stylesheet" href="~/vendor/clockpicker/dist/bootstrap-clockpicker.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css" />

@model App.Entities.ViewModels.Sales.SalesIndex

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE007","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Reporte Ventas</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                REPORTE DE VENTAS
            </h2>
            <small>Relación de Ventas (PV).</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <form id="formSales" action="@Url.Action("SALE001", "Sales")" method="post">
                        <div class="row">
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="text-left">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-left">
                                    <button type="button" class="btn btn-success" id="_buttonSearch" onclick="SearchSE()">Continuar</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-md-3" id="SearchClient">
                                @Html.LabelFor(model => model.caja, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.DropDownListFor(model => model.caja, null, "--Todas--", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.Cashier, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.DropDownListFor(model => model.Cashier, null, "-- Todos --", htmlAttributes: new { @class = "form-control select2" })
                                </div>
                            </div>
                        </div>
                    </form>
                    @*@if (@Model.Sales.Count > 0)
                        {*@
                    <div class="row">
                        <div class="text-center">
                            <label class="control-label">&nbsp;</label>
                            <div class="text-center">
                                <button type="button" class="btn btn-success" id="ReportButton" disabled onclick="ReportSales()">Reporte General</button>
                            </div>
                        </div>
                    </div>
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TableSales" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Cliente</th>
                                        <th># Venta</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Importe</th>
                                        <th>IVA</th>
                                        <th>IEPS</th>
                                        <th>TOTAL</th>
                                        <th>TIPO</th>
                                        <th>FACTURA</th>
                                        <th>Reporte</th>
                                    </tr>

                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>TOTALES</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    @*}
                        else
                        {
                            <div class="content animated-panel" id="report-section">
                                <div class="hpanel hblue">
                                    <div class="panel-body">
                                        <div class="row">
                                            <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }*@
                </div>
            </div>
        </div>
        <div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header">
                        <h4 id="ModalTitle" class="modal-title">Reporte de Ventas</h4>
                        <small id="ModalDescription" class="font-bold"></small>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Vendor/moment/moment.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#StartDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'

            });
            $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'
            });

            $("#StartDate").attr('readonly', 'readonly').css('background-color', '#fff');
            $("#EndDate").attr('readonly', 'readonly').css('background-color', '#fff');
            SearchSE();

        });

        var table = $('#TableSales').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                },
                { data: 'customer' },
                { data: 'sale_id' },
                { data: 'sale_date' },
                { data: 'sale_time' },
                { data: 'sale_importe' },
                { data: 'sale_iva' },
                { data: 'sale_ieps' },
                { data: 'sale_total' },
                { data: 'tipo' },
                { data: 'sale_factura' }
            ],
            columnDefs: [
                {
                    type: 'numeric-comma',
                    render: function (data, type, row) {
                        return '$' + data.toFixed(2);
                    },
                    targets: [5, 6, 7, 8]
                },

                {
                    targets: [5, 6, 7, 8, 9],
                    className: 'text-center'
                },

                {
                    data: null,
                    width: "1%",
                    targets: 11,
                    defaultContent: '<button class="btn btn-xs btn-outline btn-info" type="submit">Reporte</button>'
                }]
        });
        var detailRows = [];

        $('#TableSales tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (table.row('.details').length) {
                    $('.details-control', table.row('.details').node()).click();
                }
                row.child(format(row.data())).show();
                tr.addClass('details');
            }
        });

        table.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        table.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        function format(d) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "@(Url.Action("ActionGetSalesDetail", "Sales"))",//OBTIENE LOS ARTICULOS DE LA VENTA POR EL NUMERO DE VENTA EN SALES_DETAILS
                data: { "saleId": d.sale_id },
                type: "GET",
                success: function (returndate) {
                    $.each(returndate.Json, function (index, value) {
                        detailItems += "<tr><td>" + value.part_number + "</td><td>" + value.part_name + "</td><td>" + value.part_quantity.toFixed(4) + "</td><td class='text-right'>" + "$" + value.part_price.toFixed(2) +
                            "</td><td class='text-right'>" + "$" + value.part_importe.toFixed(2) + "</td><td class='text-right'>"
                            + "$" + value.part_iva.toFixed(2) + "</td><td class='text-right'>" + value.part_iva_percentage.toFixed(0) + "</td><td class='text-right'>"
                            + "$" + value.part_ieps.toFixed(2) + "</td><td class='text-right'>" + value.part_ieps_percentage + "</td> <td class='text-right'>" + "$" + value.part_total.toFixed(2) + "</td></tr>"
                    });
                    tabledetail.html('<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">' +
                        '<thead><tr><th>No. Artículo</th><th>Artículo</th><th>Cantidad</th><th>Precio</th><th>Importe</th><th>IVA</th><th>IVA %</th></th><th>IEPS</th><th>IEPS %</th><th>TOTAL</th></tr></thead><tbody>' + detailItems + '</tbody></table>').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail
        }

        function ReportSales(){
            var _dateIni = $("#StartDate").val();
            var _dateFin = $("#EndDate").val();
            StartLoading();
            $.ajax({
                type: "POST",
                url: "@(Url.Action("ActionGetSalesReport", "Sales"))",                
                data: $('#formSales').serialize(),
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Reporte de Ventas');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });

        }
        
        function SearchSE() {
            var dateIni = stringToDate($("#StartDate").val());
            var dateFin = stringToDate($("#EndDate").val());

            var _dateIni = $("#StartDate").val();
            var _dateFin = $("#EndDate").val();

            if (dateFin >= dateIni) {
                $("#_buttonSearch").prop('textContent', "Consultando...");
                $("#_buttonSearch").prop('disabled', true);

                var obj = @Html.Raw(Json.Encode(Model));

                StartLoading();
                $.ajax({
                    type: 'GET',
                    url: '@(Url.Action("ActionGetSales", "Sales"))',                    
                    data: $('#formSales').serialize(),
                    success: function (response) {                        
                        if (response.success) {                            
                            table.clear();
                            table.rows.add(response.Json);
                            table.columns.adjust().draw();

                            $("#_buttonSearch").prop('textContent', "Continuar");
                            $("#_buttonSearch").prop('disabled', false);
                            $("#ReportButton").prop('disabled', false);
                            if (response.Json.length > 0)
                                footers();
                            else
                                footers0();
                        }
                        else {                            
                            table.clear();
                            table.columns.adjust().draw();
                            footers0();
                            $("#ReportButton").prop('disabled', true);
                        }
                        EndLoading();
                    },
                    error: function (response) {
                        toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                        $("#_buttonSearch").prop('textContent', "Continuar");
                        $("#_buttonSearch").prop('disabled', false);
                        $("#ReportButton").prop('disabled', false);
                        EndLoading();
                    }
                });
            }
            else
                toastr.error('Alerta - Fecha Final debe ser mayor o igual a la fecha Inicial. (' + $("#StartDate").val() + ')');
        }

        function footers() {
            for (var i = 5; i < 9; i++) {
                var foot = table.column(i);
                $(foot.footer()).html(
                    '$' + foot.data().reduce(function (a, b) {
                        return (a + b);
                    }).toFixed(2)
                );
            }
        }

        function footers0() {
            for (var i = 5; i < 9; i++) {
                var foot = table.column(i);
                $(foot.footer()).html('');
            }
        }

        function reloadStyleTable() {
            $('#tabledetail').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
            });
        }

        $('#TableSales tbody').on('click', 'button', function () {
            var values = table.row($(this).parents('tr')).data();
            values = $.map(values, function (value, index) {
                switch (index) {
                    case 'sale_id':
                        StartLoading();
                        $.ajax({
                            type: "GET",
                            url: "@(Url.Action("ActionGetSalesDetailReport", "Sales"))",
                            data: { "saId": value },
                            success: function (returndates) {
                                document.getElementById("iframe").srcdoc = returndates;
                                EndLoading();
                                $("#ModalDescription").html('Venta Número: ' + value + '');
                                $('#ModalReport').modal('show');
                            },
                            error: function (returndates) {
                                toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                                EndLoading();
                            }
                        });
                        break;
                }
            });
        });

        //Disable warning message on dataTable (display error on console log)
        $('#TableSales').on('error.dt', function (e, settings, techNote, message) {
            console.log('An error has been reported by DataTables: ', message);
        });
        $.fn.dataTable.ext.errMode = 'none';
    </script>
}
