﻿@model App.Entities.ViewModels.CostCenter.GICostCenterViewModel
@{ ViewBag.Title = "COST001"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }

    td, .form-control {
        font-weight: normal;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras</a></li>
                    <li>
                        <a href="MENU004">Gastos</a>
                    </li>
                    <li class="active">
                        <span>Consumo Interno</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Registro Consumo Interno
            </h2>
            <small>Registro de Consumo Interno en Centro de Costos</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">

                <div class="panel-heading" id="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active" onclick="tab1()" id="tab1"><a data-toggle="tab" href="#tab-1"><i class="fa fa-list-alt"></i>&nbsp;Lista de Registros</a></li>
                        <li class="" onclick="tab2()"><a data-toggle="tab" href="#tab-2" id="tab2"><i class="fa fa-plus"></i>&nbsp;Registro Consumo Interno</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="content animate-panel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="hpanel hblue">
                                            <div class="panel-body">
                                                <div class="row content">

                                                    <div class="row">
                                                        <div class="form-group col-lg-4">
                                                            <label>Período</label>
                                                            <div class="input-daterange input-group" id="datepicker">
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span>
                                                                    <input type="text" id="beginDate" class="form-control" />
                                                                </div>
                                                                <span class="input-group-addon">A</span>
                                                                <div class="input-group date">
                                                                    <input type="text" id="endDate" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-lg-3">
                                                            <label>Tipo de Reporte</label>
                                                            <select id="ReportType" class="form-control select2" onchange="SearchRecords()">
                                                                <option selected value="movimiento">Por movimiento</option>
                                                                <option value="detalle">Detalle</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12">
                                                        <div id="TableDivRecords" class="animate-panel" data-effect="zoomIn">
                                                            <div id="movement" class="row table-responsive">
                                                                <table id="Records" class="table table-striped table-bordered table-hover" style="width:100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th></th>
                                                                            <th>Folio</th>
                                                                            <th>Centro Costos</th>
                                                                            <th>Estatus</th>
                                                                            <th>Monto</th>
                                                                            <th>Fecha</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                            <div id="detail" class="row table-responsive hide">
                                                                <div class="row">
                                                                    <div class="col-lg-2 form-group">
                                                                        <br>
                                                                        <button id="btnReport" class="btn btn-success" onclick="ReportDetail()" disabled><i class="fa fa-print"></i> Reporte</button>
                                                                    </div>
                                                                </div>
                                                                <table id="RecordsDetail" class="table table-striped table-bordered table-hover" style="width:100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Documento</th>
                                                                            <th>Código</th>
                                                                            <th>Descripción</th>
                                                                            <th>Centro Costos</th>
                                                                            <th>Departamento</th>
                                                                            <th>Familia</th>
                                                                            <th>Cantidad</th>
                                                                            <th>Precio</th>
                                                                            <th>Importe</th>
                                                                            <th>IEPS</th>
                                                                            <th>IVA</th>
                                                                            <th>Total</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab-2" class="tab-pane">
                            <div class="content animate-panel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="hpanel hblue">
                                            <div class="panel-heading">Agregar productos para registro</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-4 form-group">
                                                        <label>Centro de Costos</label>
                                                        <select id="CostCenter" class="form-control select2">
                                                            <option value="0">Seleccione una opción</option>
                                                            @foreach (var item in Model.CostCenters)
                                                            {
                                                                <option value="@item.vkey">@item.vkey</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Productos</label>
                                                        <input class="form-control" id="Items" name="Items" />
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Cantidad</label>
                                                        <input class="form-control Numeric" id="Quantity" type="text" placeholder="Ingrese una cantidad" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <br />
                                                        <button class="btn btn-success pull-right" id="btnAddProduct" onclick="AddItem()"><i class="fa fa-plus"></i> Agregar</button>
                                                        <input id="CenterCostId" type="hidden" value="0" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="content animate-panel">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="hpanel hblue">
                                                <div class="panel-heading">Productos seleccionados</div>
                                                <div class="panel-body">
                                                    <div class="row content">
                                                        <div class="col-lg-12">
                                                            <div id="TableDivProducts" class="animate-panel" data-effect="zoomIn">
                                                                <div class="row table-responsive">
                                                                    <table id="Products" class="table table-striped table-bordered table-hover" style="width:100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Código</th>
                                                                                <th>Descripción</th>
                                                                                <th>Cantidad</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-3 form-group pull-right">
                                                            <br />
                                                            <button class="btn btn-success" id="btnSave" onclick="Save()" disabled><i class="fa fa-save"></i> Guardar</button>
                                                            <button class="btn btn-primary" id="btnProcess" onclick="Process()" disabled><i class="fa fa-cube"></i> Procesar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReportBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model.GICostCenterRecords))
@section Scripts { @Scripts.Render("~/bundles/COST001/js") }