﻿@{ ViewBag.Title = "MENU004"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras</a></li>
                    <li class="active">
                        <span>Gastos </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Gastos
            </h2>
            <small>Menu de gastos. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURC005">
                            <h2 class="m-b-xs">Requisición de Consumo Interno</h2>
                            <div class="m">
                                <i class="fa fa-cube fa-5x"></i>
                            </div>
                            <p class="small">
                                Podra crear y mirar las requisiciones
                            </p>
                            <br />
                        </a>
                        <a href="PURC005" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURC008">
                            <h2 class="m-b-xs">Entrada Requisicion</h2>
                            <div class="m">
                                <i class="fa fa-cube fa-5x"></i>
                            </div>
                            <p class="small">
                                Esta vista da entrada a las requisiciones
                            </p>
                            <br />
                        </a>
                        <a href="PURC008" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURC006">
                            <h2 class="m-b-xs">Requisición de gastos</h2>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Aqui podra agregar aceptar y ver las requisiciones dependiendo del rol tendra una cantidad de dinero limite
                            </p>
                            <br />
                        </a>
                        <a href="PURC006" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURC009">
                            <h2 class="m-b-xs">Permisos requisicion de gastos</h2>
                            <div class="m">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <p class="small">
                                agregar usuarios a los procesos para poder realizar acciones
                            </p>
                            <br />
                        </a>
                        <a href="PURC009" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="COST001">
                            <h2 class="m-b-xs">Registro de consumo interno</h2>
                            <div class="m">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <p class="small">
                                Registro de Consumo Interno en Centro de Costos
                            </p>
                            <br />
                        </a>
                        <a href="COST001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="COST002">
                            <h2 class="m-b-xs">Aprobación de consumo interno</h2>
                            <div class="m">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <p class="small">
                                Aprobación de Consumo Interno en Centro de Costos
                            </p>
                            <br />
                        </a>
                        <a href="COST002" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>