﻿
@{
    ViewBag.Title = "MENU000";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*  Titulo - Menu   *@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>Compras </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Compras
            </h2>
            <small>Menu de compra. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="MENU001">
                            <h2 class="m-b-xs">Pedidos</h2>
                            <div class="m">
                                <i class="pe-7s-users fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu Pedidos
                            </p>
                            <br />
                        </a>
                        <a href="MENU001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="MENU002">
                            <h2 class="m-b-xs">Ordenes De Compras</h2>
                            <div class="m">
                                <i class="fa fa-5x fa-edit"></i>
                            </div>
                            <p class="small">
                                Menu Comprador
                            </p>
                            <br />
                        </a>
                        <a href="MENU002" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="MENU003">
                            <h2 class="m-b-xs">Reportes</h2>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Reportes en modulo de compras.
                            </p>
                            <br />
                        </a>
                        <a href="MENU003" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="MENU004">
                            <h2 class="m-b-xs">Gastos</h2>
                            <div class="m">
                                <i class="fa fa-dollar fa-5x"></i>
                            </div>
                            <p class="small">
                                Reportes en modulo de gastos.
                            </p>
                            <br />
                        </a>
                        <a href="MENU004" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            window.setTimeout(function () {
                $("#fa").click();
            }, 5000);
        });
</script>
}
