﻿@{
    ViewBag.Title = "MENU001";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras</a></li>
                    <li class="active">
                        <span>Pedidos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Pedidos
            </h2>
            <small>Menu de Pedidos. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="ORDE001">
                            <h2 class="m-b-xs text-center">Formato para pedido a proveedor</h2>
                            <div class="m">
                                <i class="pe-7s-box1 fa-5x"></i>
                            </div>
                            <p class="small">
                                Creacion de Formato de pedido de proveedor
                            </p>
                            <br />
                        </a>
                        <a href="ORDE001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="ORDE002">
                            <h2 class="m-b-xs text-center">Busqueda formato pedido a proveedor</h2>
                            <div class="m">
                                <i class="pe-7s-search fa-5x"></i>
                            </div>
                            <p class="small">
                                Buscador de formato para pedido a proveedor
                            </p>
                            <br />
                        </a>
                        <a href="ORDE002" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURC001">
                            <h2 class="m-b-xs">Agregar</h2>
                            <div class="m">
                                <i class="pe-7s-box2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Altas
                            </p>
                            <br />
                        </a>
                        <a href="PURC001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURC0014">
                            <h2 class="m-b-xs">Editar</h2>
                            <div class="m">
                                <i class="pe-7s-pin fa-5x"></i>
                            </div>
                            <p class="small">
                                Ordenes de compras
                            </p>
                            <br />
                        </a>
                        <a href="PURC0014" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURC020">
                            <h2 class="m-b-xs">Editar</h2>
                            <div class="m">
                                <i class="pe-7s-pin fa-5x"></i>
                            </div>
                            <p class="small">
                                Folio Ordenes de compras
                            </p>
                            <br />
                        </a>
                        <a href="PURC020" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>