﻿@{
    ViewBag.Title = "MENU002";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>Compras </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Ordenes
            </h2>
            <small>Menu de ordenes de compra. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURC001">
                            <h2 class="m-b-xs">Agregar</h2>
                            <div class="m">
                                <i class="pe-7s-box2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Altas
                            </p>
                            <br />
                        </a>
                        <a href="PURC001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>