﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>Reportes</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reportes (COMPRAS)
            </h2>
            <small>Reportes en modulo de compras</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURC000">
                            <h2 class="m-b-xs">Reportes De Compras</h2>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Reportes de compras.
                            </p>
                            <br />
                        </a>
                        <a href="PURC000" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURC011">
                            <h2 class="m-b-xs">Reportes De combos</h2>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Reportes de combos.
                            </p>
                            <br />
                        </a>
                        <a href="PURC011" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURC019">
                            <h2 class="m-b-xs">Reporte de códigos en empaques</h2>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Reportes de códigos en empaques.
                            </p>
                            <br />
                        </a>
                        <a href="PURC019" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () { $("#fa").click(); }, 1000);
        });
    </script>
}