﻿@{
    ViewBag.Title = "OCRG001";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .discrepancy {
        color: black;
        background-color: yellow;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras </a></li>
                    <li>
                        <a href="MENU003">Ticket </a>
                    </li>
                    <li class="active">
                        <span>Comparativo de Orden Compra y Recibo Ciego</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Orden de compra Y Recibo Ciego
            </h2>
            <small>Comparativa de Order Compra y Recibo Ciego </small>
        </div>
    </div>
</div>
<div class="content animate-panel" id="search" style="padding-bottom:0">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="col-lg-2" style="padding-top:8px;">
                            <p><b>Numero de Compra:</b></p>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" min="0" value="0" class="form-control" name="account" id="folioSearch" />
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-success" onclick="SearchPurchase()">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content animate-panel" id="searchBody" hidden style="padding-top:0">
    <div class="row" id="infoSupplier">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt" id="textProvider" hidden>
                    <h1><small class="text-info">Proveedor</small></h1>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="col-lg-12" style="padding-top:8px;">
                            <p> <b>Numero de Compra:</b> <span id="folio">0</span> </p>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <p> <b>Proveedor:</b> <span id="provider">0</span> </p>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <p> <b>direccion:</b> <span id="adress">0</span> </p>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <p> <b>Nombre del contacto/a:</b> <span id="nameContact">0</span> </p>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <p> <b>Correo:</b> <span id="email">0</span> </p>
                        </div>
                        <div class="col-lg-4" style="padding-top:8px;">
                            <p> <b>Telefono:</b> <span id="phone">0</span> </p>
                        </div>
                        <div class="col-lg-3" style="padding-top:8px;">
                            <p> <b>Fecha:</b> <span id="datee">0</span> </p>
                        </div>
                        <div class="col-lg-3" style="padding-top:8px;">
                            <p> <b>Moneda:</b> <span id="currency">0</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt" id="textOrder" hidden>
                    <h1><small class="text-info">Detalles de la Orden</small></h1>
                </div>
                <div class="panel-heading hbuilt" id="textOCRG" hidden>
                    <h1><small class="text-danger">Comparativo </small></h1>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="col-lg-12" style="padding-top:8px;" id="folioForm">
                            <p> <b>Numero de Compra:</b> <span id="folio2">0</span> </p>
                        </div>
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                                    <thead id="tableHeadORCG">
                                        @*<tr>
                                                <th>Codigo</th>
                                                <th>Orden de compra cantidad</th>
                                                <th>Recibo ciego cantidad</th>
                                            </tr>*@
                                    </thead>
                                    <tbody id="tableOCRG"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12" id="totalIvaForm">
                            <div class="pull-right" style="width:25%;">
                                <div class="col-lg-8" style="border:1px solid #dddddd"><b>IVA Total:</b></div><div class="col-lg-4" style="border:1px solid #dddddd" id="totalIva">0</div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="totalIEPSForm">
                            <div class="pull-right" style="width:25%;">
                                <div class="col-lg-8" style="border:1px solid #dddddd"><b>IEPS Total:</b></div><div class="col-lg-4" style="border:1px solid #dddddd" id="totalIEPS">0</div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="totalAmountForm">
                            <div class="pull-right" style="width:25%;">
                                <div class="col-lg-8" style="border:1px solid #dddddd"><b> Importe Total:</b></div><div class="col-lg-4" style="border:1px solid #dddddd" id="totalAmount">0</div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="totalFinalForm">
                            <div class="pull-right" style="width:25%;">
                                <div class="col-lg-8" style="border:1px solid #dddddd"><b> Total:</b></div><div class="col-lg-4" style="border:1px solid #dddddd" id="totalFinal">0</div>
                            </div>
                        </div>
                        <div class="col-lg-12" style="padding-top:25px;" id="saveForm">
                            <div class="pull-right">
                                <button id="buttonSave" class="btn btn-success pull-right">Procesar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/OCRG001/js") }