﻿@model App.Entities.ViewModels.PurchaseOrder.PurchaseOrderDepartmentModel
@{ ViewBag.Title = "ORDE001";

    List<SelectListItem> departments = Model.Departaments.ConvertAll(a =>
    {
        return new SelectListItem()
        {
            Text = a.description.ToString(),
            Value = a.class_id.ToString(),
            Selected = false
        };
    });
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras </a></li>
                    <li class="active">
                        <a href="MENU001">Pedidos </a>
                    </li>
                    <li class="active">
                        <span>Formato para pedido a proveedor</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Pedidos
            </h2>
            <small>Pedidos de los proveedores</small>
        </div>
    </div>
</div>
<div class="content animate-panel" hidden>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="back-link col-lg-12">
                        <div class="col-lg-2" style="text-align:left">
                            <img src="~/Content/img/logo florido azul.png" height="80" width="100">
                        </div>
                        <h1 class="col-lg-10  m-t-md">
                            Formato para pedido a proveedor
                        </h1>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-12" id="folioDiv">
                            <p class="col-lg-2"> <b>Folio Formato:</b> </p>
                            <p class="col-lg-10" style="text-align:left" id="folio">0</p>
                        </div>
                        <div class="col-lg-12">
                            <p style="padding-top:8px;font-weight: bold;" class="col-lg-2"> Sucursal: </p>
                            <div class="col-lg-10">
                                <select onchange="RemoveListCombo()" class="js-source-states-2 form-control" disabled name="account" id="site">
                                    <option value="@Model.site.site_code">
                                        @Model.site.site_name
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p style="padding-top:8px;font-weight: bold;" class="col-lg-2"> Proveedor: </p>
                            <div class="col-lg-10">
                                <input class="form-control" id="supplier" name="supplier" onchange="RemoveListCombo()" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p style="padding-top:8px;font-weight: bold;" class="col-lg-2"> Moneda </p>
                            <div class="col-lg-10">
                                <select onchange="blockCurrency()"  class="js-source-states-2 form-control" id="currency">
                                    <option value="MXN" selected>MXN</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p style="padding-top:8px;font-weight: bold;" class="col-lg-2"> Dias Resurtido X 2: </p>
                            <div class="col-lg-10">
                                <input maxlength="2" class="form-control" onkeyup="IsPositive()" type="text" id="days" name="name" value="0" />
                            </div>
                        </div>

                        <div class="col-lg-12" style="padding-bottom:15px;">
                            <div class="col-lg-12">
                                <button id="buttonList" class="btn btn-info" onclick="AddOrderList()"><i class="fa fa-eye"></i> Mostrar Tabla</button>
                                <button id="buttonClear" class="btn btn-danger" onclick="Clear()"><i class="fa fa-trash"></i> Limpiar</button>
                                <button id="buttonPrint" class="btn btn-success"><i class="fa fa-print"></i> Imprimir</button>
                            </div>
                        </div>
                        <div class="checkbox col-lg-12" id="disableCheck"><label> <input type="checkbox" id="allCheck" onchange="AllCheck()" class="i-checks"><b>  Seleccionar Todo</b></label></div>
                        <div id="searchDivFilter" class="col-lg-12">
                            <div class="form-group col-lg-4 ">
                                <label class="center" for="select_depto" data-toggle="tooltip" data-placement="right">Departamento</label>
                                @Html.DropDownListFor(m => m.Departaments, departments, "Selecciona un Departamento", new { @class = "form-control select2", @id = "depto", @onchange = "GetFamily();" })
                            </div>
                            <div class="form-group col-lg-4 ">
                                <label class="center" for="select_family" data-toggle="tooltip" data-placement="right">Familia</label>
                                <select id="family" class="form-control select2 center">
                                    <option value="0">Selecciona una Familia</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4" style="margin-top:20px;">
                                <button id="buttonFilter" class="btn btn-primary" onclick="SearchFunction()"><i class="fa fa-search"></i> Filtrar</button>
                                <button id="buttonFilter" class="btn btn-primary2" onclick="RemoveFilter()"><i class="fa fa-search-minus"></i> Quitar Filtro</button>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-12 table-responsive">
                                <div id="searchDiv" style="margin-bottom:20px;">
                                    <p  style="padding-top:8px;font-weight: bold;"> Buscador: </p>
                                    <div >
                                        <input style="width:25%" class="form-control" type="text" id="SearchInput" name="name" value="" onkeyup="SearchFunction()" />
                                    </div>
                                </div>
                                <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped" id="tableOrderHead" hidden>
                                    <thead>
                                        <tr>
                                            <th>Seleccionar</th>
                                            <th>Codigo</th>
                                            <th>Description</th>
                                            <th>Existencia</th>
                                            <th>En PreCompra</th>
                                            <th>Vta Prom</th>
                                            <th>Sugerido Sist</th>
                                            <th>Empaque</th>
                                            <th>Departamento</th>
                                            <th>Familia</th>
                                            <th style="display:none;">Departamento Filter</th>
                                            <th style="display:none;">Familia Filter</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableOrdered"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12" style="padding-bottom:15px;" id="commentForm" hidden>
                            <p style="padding-top:8px;" class="col-lg-2"><b>Commentarios:</b></p>
                            <div class="col-lg-10">
                                <textarea rows="5" id="comment" placeholder="Comentarios" class="form-control" maxlength="120" style="max-width:100%;min-width:200px;width:36%;max-height:300px;min-height:100px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.RenderFormat(BundlesTypes.Module, "~/bundles/ORDE001/js")
    @Scripts.Render("~/bundles/ORDE001-2/js")
}