﻿@model List<App.Entities.ViewModels.Order.OrderModel>
@{ ViewBag.Title = "ORDE002"; }

<style>
    .textHidde input {
        width: 80PX;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras </a></li>
                    <li>
                        <a href="MENU001">Pedidos </a>
                    </li>
                    <li class="active">
                        <span>Buscador formato para pedido a proveedor</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Pedidos
            </h2>
            <small>Buscador de pedidos de los proveedores </small>
        </div>
    </div>
</div>
<div class="content animate-panel" id="search" style="padding-bottom:0">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="col-lg-1" style="padding-top:8px;">
                            <p> <b>Folio:</b> </p>
                        </div>
                        <div class="col-lg-9">
                            <select class="js-source-states-2 form-control" name="account" id="folioOrderSearch">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.Folio">@item.Folio - @item.Supplier</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-success" onclick="UpdateOrder()"><i class="fa fa-search"></i> Buscar</button>

                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-danger2" id="removeOrderList"><i class="fa fa-close"></i> Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content animate-panel" id="orderSearch" data-effect="fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="back-link col-lg-12">
                        <div class="col-lg-2" style="text-align:left">
                            <img src="~/Content/img/logo florido azul.png" height="80" width="100">
                        </div>
                        <h1 class="col-lg-10  m-t-md">
                            Formato para pedido a proveedor
                        </h1>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <p class="col-lg-2"> <b>Folio Formato:</b> </p>
                            <p class="col-lg-10" style="text-align:left" id="folio"></p>
                        </div>
                        <div class="col-lg-12">
                            <p style="padding-top:8px;font-weight: bold;" class="col-lg-2"> Sucursal: </p>
                            <div class="col-lg-10">
                                <select class="form-control m-b" name="account" id="site">
                                    <option value="">*FLORIDO LAS AMERICAS</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p style="padding-top:8px;font-weight: bold;" class="col-lg-2"> Proveedor:</p>
                            <div class="col-lg-10">
                                <select class="form-control m-b" name="account" id="supplier">
                                    <option value="">BIMBO S.A. DE C.V.</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p style="padding-top:8px;font-weight: bold;" class="col-lg-2"> Dias Resurtido X 2: </p>
                            <div class="col-lg-10">
                                <input class="form-control" type="number" id="days" name="name" value="0" />
                            </div>
                        </div>
                        <div class="col-lg-12" style="margin-top:10px;">
                            <p style="padding-top:8px;font-weight: bold;" class="col-lg-2"> Fecha de entrega: </p>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker'>
                                        <input autocomplete="off" id="dateOrder" type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <label id="OrderError" class="error" hidden>El Campo no puede ser nulo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;">
                            <div class="col-lg-12">
                                <button id="buttonSaveTem" class="btn btn-success pull-right" onclick="TemporaryChanges()"><i class="fa fa-save"></i> Guardar Cambios</button>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-12 table-responsive">
                                <div id="searchDiv" style="margin-bottom:20px;">
                                    <p style="padding-top:8px;font-weight: bold;"> Buscador: </p>
                                    <div>
                                        <input style="width:25%" class="form-control" type="text" id="SearchInput" name="name" value="" />
                                    </div>
                                </div>
                                <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class='FolioHidden'>Folio No</th>
                                            <th>Codigo</th>
                                            <th>Description</th>
                                            <th>Existencia</th>
                                            <th>En PreCompra</th>
                                            <th>Vta Prom</th>
                                            <th>Sugerido Sist</th>
                                            <th class="textHidde">Autorizado</th>
                                            <th>Empaque</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableOrdered"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-6" style="padding-bottom:15px;">
                            <p style="padding-top:8px;" class="col-lg-3"><b>Comentarios:</b></p>
                            <div class="col-lg-9">
                                <textarea rows="5" id="comment" placeholder="Comentarios" class="form-control" maxlength="150" style="max-width:100%;min-width:200px;width:100%;max-height:300px;min-height:100px;"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-4" style="padding-bottom:15px;">
                            <p style="padding-top:8px;" class="col-lg-3"><b>Moneda:</b></p>
                            <div class="col-lg-9">
                                <select id="currency" class="form-control select2"></select>
                            </div>
                        </div>
                        <div class="col-lg-2" style="padding-bottom:15px;">
                            <div class="col-lg-12">
                                <button id="buttonSave" class="btn btn-success pull-right"><i class="fa fa-check"></i> Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/ORDE002/js") }