﻿
@{
    ViewBag.Title = "ORDE003";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .textHidde input {
        width: 80PX;
    }
</style>
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras </a></li>
                    <li class="active">
                        <a href="MENU001">Proveedores </a>
                    </li>
                    <li class="active">
                        <span>Formato para pedido a proveedor</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Pedidos
            </h2>
            <small>pedidos de los proveedores </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="back-link col-lg-12">
                        <div class="col-lg-2" style="text-align:left">
                            <img src="~/Content/img/logo florido azul.png" height="80" width="100">
                        </div>
                        <h1 class="col-lg-10  m-t-md">
                            Formato para pedido a proveedor
                        </h1>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <p class="col-lg-2"> <b>Folio Formato:</b> </p>
                            <p class="col-lg-10" style="text-align:left" id="folio">0</p>
                        </div>
                        <div class="col-lg-12">
                            <p style="padding-top:8px;" class="col-lg-2"> Sucursal </p>
                            <div class="col-lg-10">
                                <select class="js-source-states-2 form-control" name="account" id="site"></select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p style="padding-top:8px;" class="col-lg-2"> Proveedor </p>
                            <div class="col-lg-10">
                                <select class="js-source-states-2 form-control" name="account" id="supplier"></select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p style="padding-top:8px;" class="col-lg-2"> Dias Resurtido X 2 </p>
                            <div class="col-lg-10">
                                <input class="form-control" onkeyup="IsPositive()" type="number" id="days" name="name" value="0" />
                            </div>
                        </div>

                        <div class="col-lg-12" style="padding-bottom:15px;">
                            <div class="col-lg-12">
                                <button id="buttonList" class="btn btn-success" onclick="AddOrderList()">mostrar tabla</button>
                                <button id="buttonPrint" class="btn btn-success" @*onclick="SaveOrder()"*@>Imprimir</button>
                                <button id="buttonSave" class="btn btn-success" onclick="Save()">Guardar</button>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-12 table-responsive">
                                <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Folio No</th>
                                            <th>Codigo</th>
                                            @*<th>BarCode</th>*@
                                            <th>Description</th>
                                            <th>Existencia</th>
                                            <th>En PreCompra</th>
                                            <th>Vta Prom</th>
                                            <th>Sugerido Sist</th>
                                            <th class="textHidde">SugeridoProv</th>
                                            <th class="textHidde">Autorizado</th>
                                            <th>Empaque</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableOrdered"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Styles {
    @Styles.Render("~/bundles/select2/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script>
        listSupplier = []
        listAutorize = []
        listItem = []
        jQuery(document).ready(function () {
            ComoboxSupplier()
            ComoboxSite()
            $(".textHidde").hide()
            $("#buttonSave").hide()
            $("#buttonPrint").hide()
            $("#buttonList").attr('disabled', 'disabled')

            $('#buttonPrint').click(function () {
                swal({
                    title: "Desea imprimir esto guardara el archivo ?",
                    text: "Si guarda no podrá ser cancelado el formato de pedido",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                        function (isConfirm) {
                            if (isConfirm) {
                                swal("Guardado");
                                SaveOrder()
                            } else {
                                swal("Cancelado");
                            }
                        });
            });
            console.log($("#supplier").text());
            window.setTimeout(function () {
                $(".normalheader").addClass("small-header");
                $("#fa").removeClass("fa-arrow-up").addClass("fa-arrow-down");
                $("#hbreadcrumb").removeClass("m-t-lg");
            }, 5000);
            //$(".js-source-states").select2();
            $(".js-source-states-2").select2();
        });

        function IsPositive() {
            if (parseInt($("#days").val()) > 0) {
                console.log("numero")
                $("#days").val(parseInt($("#days").val()));
                $("#buttonList").removeAttr('disabled');
            }
            else {
                console.log("no numero")
                $("#buttonList").attr('disabled', 'disabled')
                $("#buttonPrint").hide()
                $("#tableOrdered").html("");
            }
        }

        function SaveOrder() {
            $.ajax({
                type: "POST",
                url: "/Orders/ActionCreate",
                data: { supplier_id: $("#supplier").val(), site_id: $("#site").val(), refill_days: $("#days").val(),status:1 },
                success: function (returndates) {

                    if (returndates > 0) {
                        SaveOrderList(returndates)
                        toastr.success('guardado con exito');
                    }
                    else {
                        toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    }
                },
                error: function (returndates) {
                    console.log(returndates)
                }
            });
        }

        function SaveOrderList(folio) {
            $("#folio").text(folio)
            listOrder = []
            $.each(listItem, function (index, value) {
                value.Folio = folio
                listOrder.push(value)
            });
            $.ajax({
                type: "POST",
                url: "/OrderLists/ActionCreate",
                data: { Order: listOrder },
                success: function (returndates) {
                    if (returndates != null) {
                        toastr.success('guardado con exito');
                        console.log(returndates)
                        $.each(returndates, function (index, value) {
                            var OrderList = {
                                Folio: value.Folio, Code: value.Code, Stock: value.Stock, Description: value.Description,
                                Pre_purchase: value.PrePruchase, Average_sale: value.AverageSale,
                                Barcode: value.BarCode, Packing: value.Packing, Suggested_systems: value.SuggestedSystems, Id: value.Id
                            }
                            listOrder.push(OrderList)
                        });
                        AddTable(listOrder)
                        Hidden();
                    }
                    else {
                        toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    }
                },
                error: function (returndates) {
                    console.log(returndates)
                }
            });

        }

        function AddOrderList() {
            $("#tableOrdered").html("");
            listItem=[]
            $.ajax({
                type: "GET",
                url: "/SalesDetails/ActionListOrderSales?Supplier=" + $("#supplier").val() + "&Site=" + $("#site").val(),
                data: "",
                success: function (returndates) {
                    if (returndates.length > 0) {
                        $("#tableOrdered").html("");
                        $.each(returndates, function (index, value) {
                            var OrderList = {
                                Folio: value.Folio, Code: value.Code, Stock: value.Stock, Description: value.Description,
                                Pre_purchase: value.PrePruchase, Average_sale: value.AverageSale,
                                Barcode: value.BarCode, Packing: value.Packing, Suggested_systems: ((value.AverageSale * $("#days").val() * 2) - value.Stock - value.PrePruchase) > 0?  ((value.AverageSale * $("#days").val() * 2) - value.Stock - value.PrePruchase) :0, Id: 0
                            }
                            listItem.push(OrderList)
                        });
                        AddTable(listItem)
                    }
                    else {
                        //toastr.error('Alerta - Error inesperado contactar a sistemas.');
                    }
                },
                error: function (returndates) {
                    console.log(returndates)
                }
            });
        }

        function AddTable(list) {
            $("#buttonPrint").show()
            $("#tableOrdered").html("");
            var table = "";
            i = 0
            $.each(DeleteDuplicates(list, "Code"), function (index, value) {
                table += "<tr><td>" + value.Folio + "</td><td>" + value.Code + "</td>"
                //table +="<td>"+ value.Barcode + "</td>"
                table += "<td>" + value.Description + "</td><td>" + value.Stock + "</td><td>" + value.Pre_purchase + "</td><td>" + value.Average_sale + "</td>" + "</td>";
                table += "<td>" + (value.Suggested_systems > 0 ? value.Suggested_systems : 0 )+ "</td><td class='textHidde'><input  id='" + value.Id + "' type='text' onkeyup='Supplier(event," + i + "," + value.Id + ")' name='name' value='0'/></td><td class='textHidde'><input  id='" + ("L" + value.Id) + "' type='text' onkeyup='Autorize(event," + i + "," + value.Id + ")' name='name' value='0'/></td>" + "</td><td>" + value.Packing + "</td></tr>";
                i++;
            });
            $("#tableOrdered").html(table)
            $(".textHidde").hide()
        }

        function DeleteDuplicates(arr, prop) {
            var newArray = [];
            var lookup = {};

            for (var i in arr) {
                lookup[arr[i][prop]] = arr[i];
            }

            for (i in lookup) {
                newArray.push(lookup[i]);
            }

            return newArray;
        }

        function ComoboxSupplier() {
            $.ajax({
                type: "GET",
                url: "/Suppliers/ActionListSupplier",
                data: "",
                success: function (returndates) {
                    supplierCombobox = ""
                    $.each(returndates, function (index, value) {
                        supplierCombobox += '<option value="' + value.SupplierId + '">' + value.BusinessName + '</option>'
                    });
                    $("#supplier").html(supplierCombobox)
                },
                error: function (returndates) {
                    console.log(returndates)
                }
            });
        }

        function ComoboxSite() {
            $.ajax({
                type: "GET",
                url: "/Home/SiteList",
                data: "",
                success: function (returndates) {
                    siteCombobox = ""
                    $.each(returndates, function (index, value) {
                        siteCombobox += ' <option value="' + value.site_code + '">' + value.site_name + '</option>'
                    });
                    $("#site").html(siteCombobox)
                },
                error: function (returndates) {
                    console.log(returndates)
                }
            });
        }

        function Supplier(e, id, value) {
            if ($("#" + value).val() >= 0 && $("#" + value).val() != null && $("#" + value).val().trim != "") {
                if (isNaN(parseInt($("#" + value).val()))) 
                    $("#" + value).val(0);
                else
                    $("#" + value).val(parseInt($("#" + value).val()));
                listSupplier[id] = { id: value, suggested_supplier: $("#" + value).val() };
            }
            else {
                $("#" + value).val("0")
                listSupplier[id] = { id: value, suggested_supplier: $("#" + value).val() };
            }
        }

        function Autorize(e, id, value) {
            if ($("#L" + value).val() >= 0 && $("#L" + value).val() != null && $("#L" + value).val().trim != "") {
                if (isNaN(parseInt($("#L" + value).val())))
                    $("#L" + value).val(0);
                else
                    $("#L" + value).val(parseInt($("#L" + value).val()));
                listAutorize[id] = { id: value, authorized: $("#L" + value).val() };
            }
            else {
                $("#L" + value).val("0")
                listAutorize[id] = { id: value, authorized: $("#L" + value).val() };
            }
        }

        //function Save() {
        //    console.log(listItem.length + "" + listAutorize.length + " " + listSupplier.length)
        //    if (listAutorize.length == listSupplier.length && listSupplier.length == listItem.length) {
        //        for (var j = 0; j < listAutorize.length; j++) {
        //            console.log(listAutorize[j]);
        //            console.log(" autorizado: " + listAutorize[j].id + "  " + listAutorize[j].authorized);
        //            console.log(" proveedor: " + listSupplier[j].id + "  " + listSupplier[j].suggested_supplier);
        //            $.ajax({
        //                type: "GET",
        //                url: "/OrderLists/Put",
        //                data: { Id: listAutorize[j].id, Supplier: listSupplier[j].suggested_supplier, Authorized: listAutorize[j].authorized },
        //                success: function (returndates) {
        //                    if (returndates) {

        //                    }
        //                    else {

        //                    }
        //                },
        //                error: function (returndates) {
        //                    toastr.error('Alerta - Error inesperado contactar a sistemas.');
        //                    EndLoading();
        //                }
        //            });
        //        }
        //        $.ajax({
        //            type: "GET",
        //            url: "/Orders/UpdateStatusOrder",
        //            data: { Folio: $("#folio").text() },
        //            success: function (returndates) {
        //            },
        //            error: function (returndates) {
        //                console.log(returndates)
        //            }
        //        });
        //        location.reload();
        //    }
        //    else
        //        toastr.error("Rellena todos los datos")
        //}

        function Save() {
            console.log(listItem.length + "" + listAutorize.length + " " + listSupplier.length)
            if (listAutorize.length == listSupplier.length && listSupplier.length == listItem.length) {
                OrderListVi = []
                for (var j = 0; j < listAutorize.length; j++) {
                    if (listAutorize[j].id > 0 && listSupplier[j].suggested_supplier > 0 && listAutorize[j].authorized > 0) {
                        OrderListVi[j] = { Id: listAutorize[j].id, Supplier: parseInt(listSupplier[j].suggested_supplier), Authorized: parseInt(listAutorize[j].authorized) }
                    }
                    else {
                        OrderListVi = []
                        break
                    }
                }
                console.log(OrderListVi)
                if (OrderListVi.length > 0 && OrderListVi.length == listAutorize.length) {
                    $.ajax({
                        type: "POST",
                        url: "/OrderLists/ActionPut",
                        data: { OrderList: OrderListVi },
                        success: function (returndates) {
                            if (returndates) {
                                toastr.success("Guardado de manera correcta")
                            }
                            else {
                                toastr.error("Error Inesperado ")
                            }
                        },
                        error: function (returndates) {
                            toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                            EndLoading();
                        }
                    });
                    $.ajax({
                        type: "GET",
                        url: "/Orders/ActionUpdateStatusOrder",
                        data: { Folio: $("#folio").text() },
                        success: function (returndates) {
                        },
                        error: function (returndates) {
                            console.log(returndates)
                        }
                    });
                    $(".textHidde input").attr('disabled', 'disabled')
                    location.reload();
                }
                else {
                    toastr.error("Rellena todos los datos y verifica que sean mayor a 1")
                }
            }
            else
                toastr.error("Rellena todos los datos y verifica que sean mayor a 1")
        }

        function Hidden() {

            $("#buttonPrint").hide()
            $(".textHidde").show()
            $("#buttonList").hide()
            $("#buttonSave").show()
            //$("#buttonSave").attr('disabled', 'disabled')
            $("#site").attr('disabled', 'disabled')
            $("#supplier").attr('disabled', 'disabled')
            $("#days").attr('disabled', 'disabled')
            $.ajax({
                type: "GET",
                url: "/OrderLists/ActionReportOrder?Folio=" + $("#folio").text(),
                data: "",
                success: function (returndates) {
                    toastr.success('se realizo con exito el pdf');
                    var sampleArr = Base64ToArrayBuffer(returndates.responseText);
                    SaveByteArray("reporte", sampleArr);
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });
        }
        function Base64ToArrayBuffer(base64) {
            var binaryString = window.atob(base64);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
                var ascii = binaryString.charCodeAt(i);
                bytes[i] = ascii;
            }
            return bytes;
        }

        function SaveByteArray(reportName, byte) {
            var blob = new Blob([byte]);
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            var fileName = reportName;
            link.download = fileName + ".pdf";
            link.click();
        }
    </script>
}
/**/

@{
    ViewBag.Title = "ORDE002";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .textHidde input {
        width: 80PX;
    }
</style>
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="S004">Proveedor Pedido</a></li>
                    <li>
                        <span>Pedido</span>
                    </li>
                    <li class="active">
                        <span>Páginas</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Pedidos
            </h2>
            <small>pedidos de los proveedores </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="back-link col-lg-12">
                        <div class="col-lg-2" style="text-align:left">
                            <img src="~/Content/img/logo florido azul.png" height="80" width="100">
                        </div>
                        <h1 class="col-lg-10  m-t-md">
                            Formato para pedido a proveedor
                        </h1>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <p class="col-lg-2"> <b>Folio Formato:</b> </p>
                            <p class="col-lg-10" style="text-align:left" id="folio">@ViewBag.Id</p>
                        </div>
                        <div class="col-lg-12">
                            <p style="padding-top:8px;" class="col-lg-2"> Sucursal </p>
                            <div class="col-lg-10">
                                <select class="form-control m-b" name="account" id="site">
                                    <option value="">*FLORIDO LAS AMERICAS</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p style="padding-top:8px;" class="col-lg-2"> Proveedor </p>
                            <div class="col-lg-10">
                                <select class="form-control m-b" name="account" id="supplier">
                                    <option value="">BIMBO S.A. DE C.V.</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p style="padding-top:8px;" class="col-lg-2"> Dias Resurtido X 2 </p>
                            <div class="col-lg-10">
                                <input class="form-control" onkeyup="isPositive()" type="number" id="days" name="name" value="0" />
                            </div>
                        </div>

                        <div class="col-lg-12" style="padding-bottom:15px;">
                            <div class="col-lg-12">
                                <button id="buttonSave" class="btn btn-success" onclick="Save()">Guardar</button>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-12 table-responsive">
                                <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Folio No</th>
                                            <th>Codigo</th>
                                            @*<th>BarCode</th>*@
                                            <th>Description</th>
                                            <th>Existencia</th>
                                            <th>En PreCompra</th>
                                            <th>Vta Prom</th>
                                            <th>Sugerido Sist</th>
                                            <th class="textHidde">SugeridoProv</th>
                                            <th class="textHidde">Autorizado</th>
                                            <th>Empaque</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableOrdered"></tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        listSupplier = []
        listAutorize = []
        listItem = []
        jQuery(document).ready(function () {
            Order()
            OrderList()
            window.setTimeout(function () {
                $(".normalheader").addClass("small-header");
                $("#fa").removeClass("fa-arrow-up").addClass("fa-arrow-down");
                $("#hbreadcrumb").removeClass("m-t-lg");
            }, 5000);
        });

        function ComoboxSupplier() {
            $.ajax({
                type: "GET",
                url: "/Suppliers/ActionListSupplier",
                data: "",
                success: function (returndates) {
                    supplierCombobox = ""
                    $.each(returndates, function (index, value) {
                        supplierCombobox += '<option value="' + value.SupplierId + '">' + value.BusinessName + '</option>'
                    });
                    $("#supplier").html(supplierCombobox)
                },
                error: function (returndates) {
                    console.log(returndates)
                }
            });
        }

        function ComoboxSite() {
            $.ajax({
                type: "GET",
                url: "/Home/SiteList",
                data: "",
                success: function (returndates) {
                    siteCombobox = ""
                    console.log(returndates)
                    $.each(returndates, function (index, value) {
                        siteCombobox += ' <option value="' + value.site_code + '">' + value.site_name + '</option>'
                    });
                    $("#site").html(siteCombobox)
                },
                error: function (returndates) {
                    console.log(returndates)
                }
            });
        }


        function Order() {
            $.ajax({
                type: "GET",
                url: "/Orders/ActionOrder?Folio=" + $("#folio").text(),
                data: "",
                success: function (returndates) {
                    console.log(returndates)
                    $("#supplier").html('<option value="' + returndates.SupplierId + '">' + returndates.Supplier + '</option>')
                    $("#supplier").prop('disabled', 'disabled');
                    $("#site").html(' <option value="' + returndates.SiteId + '">' + returndates.Site + '</option>')
                    $("#site").prop('disabled', 'disabled');
                    $("#days").val(returndates.RefillDays);
                    $("#days").prop('disabled', 'disabled');
                },
                error: function (returndates) {
                    console.log(returndates)
                }
            });
        }

        function OrderList() {
            $.ajax({
                type: "GET",
                url: "/OrderLists/ActionOrderList?Folio=" + $("#folio").text(),
                data: "",
                success: function (returndates) {
                    var table = "";
                    console.log(returndates)
                    i = 0
                    listItem = returndates
                    $.each(returndates, function (index, value) {
                        console.log(value)
                        table += "<tr><td>" + value.Folio + "</td><td>" + value.Code + "</td>"
                        //table += "<td>" + (value.BarCode == null ? "" : value.BarCode) + "</td>"
                        table += "<td>" + value.Description + "</td><td>" + value.Stock + "</td><td>" + value.PrePruchase + "</td><td>" + value.AverageSale + "</td>" + "</td><td>" + value.SuggestedSystems + "</td>";
                        table += "<td class='textHidde'><input  id='" + value.Id + "' type='text' onkeyup='Supplier(event," + i + "," + value.Id + ")' name='name' value='0'/></td><td class='textHidde'><input  id='" + ("L" + value.Id) + "' type='text' onkeyup='Autorize(event," + i + "," + value.Id + ")' name='name' value='0'/></td>" + "</td><td>" + (value.Packing == null ? "" : value.Packing) + "</td></tr>";
                        i++;
                    });
                    $("#tableOrdered").html(table)
                    //$(".textHidde").hide()
                },
                error: function (returndates) {
                    console.log(returndates)
                }
            });
        }

        function Supplier(e, id, value) {
            if ($("#" + value).val() >= 0 && $("#" + value).val() != null && $("#" + value).val().trim != "") {
                if (isNaN(parseInt($("#" + value).val())))
                    $("#" + value).val(0);
                else
                    $("#" + value).val(parseInt($("#" + value).val()));
                listSupplier[id] = { id: value, suggested_supplier: $("#" + value).val() };
            }
            else {
                $("#" + value).val("0")
                listSupplier[id] = { id: value, suggested_supplier: $("#" + value).val() };
            }
        }

        function Autorize(e, id, value) {
            if ($("#L" + value).val() >= 0 && $("#L" + value).val() != null && $("#L" + value).val().trim != "") {
                if (isNaN(parseInt($("#L" + value).val())))
                    $("#L" + value).val(0);
                else
                    $("#L" + value).val(parseInt($("#L" + value).val()));
                listAutorize[id] = { id: value, authorized: $("#L" + value).val() };
            }
            else {
                $("#L" + value).val("0")
                listAutorize[id] = { id: value, authorized: $("#L" + value).val() };
            }
        }


        function Save() {
            console.log(listItem.length + "" + listAutorize.length + " " + listSupplier.length)
            if (listAutorize.length == listSupplier.length && listSupplier.length == listItem.length) {
                OrderListVi = []
                for (var j = 0; j < listAutorize.length; j++) {
                    if (listAutorize[j].id > 0&& listSupplier[j].suggested_supplier > 0&& listAutorize[j].authorized > 0) {
                        OrderListVi[j] = { Id: listAutorize[j].id, Supplier: parseInt(listSupplier[j].suggested_supplier), Authorized: parseInt(listAutorize[j].authorized) }
                    }
                    else {
                        OrderListVi = []
                        break
                    }
                }
                console.log(OrderListVi)
                if (OrderListVi.length > 0 && OrderListVi.length == listAutorize.length) {
                    $.ajax({
                        type: "POST",
                        url: "/OrderLists/ActionPut",
                        data: {OrderList: OrderListVi },
                        success: function (returndates) {
                            if (returndates) {
                                toastr.success("Guardado de manera correcta")
                            }
                            else {
                                toastr.error("Error Inesperado")
                            }
                        },
                        error: function (returndates) {
                            toastr.error('Alerta - Error inesperado contactar a sistemas.');
                            EndLoading();
                        }
                    });
                    $.ajax({
                        type: "GET",
                        url: "/Orders/ActionUpdateStatusOrder",
                        data: { Folio: $("#folio").text() },
                        success: function (returndates) {
                        },
                        error: function (returndates) {
                            console.log(returndates)
                        }
                    });
                    $(".textHidde input").attr('disabled', 'disabled')
                    //location.reload();
                }
                else {
                    toastr.error("Rellena todos los datos y verifica que sean mayor a 1")
                }
            }
            else
                toastr.error("Rellena todos los datos y verifica que sean mayor a 1")
        }
    </script>
}
