﻿
@{
    ViewBag.Title = "PRE001";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="PURC000">Compras </a></li>
                    <li>
                        <a href="PURC000">Presentaciones</a>
                    </li>
                    <li class="active">
                        <span>Lista de presentaciones</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Presentaciones de productos
            </h2>
            <small> </small>
        </div>
    </div>
</div>

