﻿@model List<App.Entities.ViewModels.PurchaseOrder.PurchaseOrderGlobalModel>
@{ ViewBag.Title = "PURC008"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras</a></li>
                    <li>
                        <a href="MENU004">
                            <span>Gastos</span>
                        </a>
                    </li>
                    <li class="active">
                        <span>Entrada de Requisición</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Entrada Requisicion
            </h2>
            <small>Entrada Requisicion </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="ValidDate1" class="form-control" autocomplete="off" />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input type="text" id="ValidDate2" class="form-control" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label title="Estatus" data-toggle="tooltip" data-placement="right">Estado del Servicio</label>
                            <select id="SelectOptions" class="form-control select2" onchange="searchOrder()">
                                <option value="0">Enviada A Proveedores</option>
                                <option value="9">Recibido</option>
                                <option value="Todos">Todos</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="tableOrder" class="table table-striped table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Numero de Compra</th>
                                    <th>Proveedor</th>
                                    <th>Fecha de Compra</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalService" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-arrow-circle-o-up"></i> Agregar XML</h4>
                <small id="ModalDescription" class="font-bold">Formulario para asociar XML a requisiciones.</small>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12" style="text-align: center;">
                                <h3 id="supplier"></h3>
                                <h4 id="purchase_no"></h4>
                                <a class='btn btn-primary' href='javascript:;' style="position:initial" onclick="openFile()">
                                    <i class="fa fa-arrow-circle-o-up fa-spin"></i> Agregar XML
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <table id="tableXML" class="table table-striped table-bordered table-hover" style="width:40%;margin: auto;" hidden>
                    <thead>
                        <tr>
                            <th>XML</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal"><i class="fa fa-close"></i> Cancelar</button>
            <button type="button" id="submit-button" class="btn btn-success" onclick="save()"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model))
@section Scripts { @Scripts.Render("~/bundles/PURC008/js") }