@model FloridoERPTX.ViewModels.Purchases.PURCH0010ViewModel
@{ ViewBag.Title = "PURCH0010"; }

<meta charset="ISO-8859-1">
<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras </a></li>
                    <li><a href="PURCH010">Reportes </a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Historial de Promociones</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Historial de Promociones
            </h2>
            <small>Historial de promociones de todas las tiendas</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Historial de Promociones</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                                <div class="input-daterange input-group" id="datepicker">
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                        <input id="BeginDate" class="form-control" autocomplete="off" readonly="readonly" />
                                    </div>
                                    <span class="input-group-addon">A</span>
                                    <div class="input-group date">
                                        <input id="EndDate" class="form-control" autocomplete="off" readonly="readonly" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <label title="Tipo de Oferta" data-toggle="tooltip" data-placement="right">Tipo de Oferta</label>
                                @Html.DropDownListFor(m => m.Ofertas, Model.OfertList, new { @class = "form-control select2", @id = "typeSelect", @onchange = "validateHide()" })
                            </div>
                            <div class="col-lg-5">
                                <label title="Seleccione un producto" data-toggle="tooltip" data-placement="right">Productos</label>
                                @Html.DropDownListFor(m => m.Items, Model.ItemsList, new { @class = "form-control select2", @id = "ItemsDrop" })
                            </div>
                            <div class="col-lg-1" style="margin-top:5px;">
                                <br />
                                <button id="Search" class="btn btn-primary"> <i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-12">
                        <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="TablePromotions" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Folio</th>
                                            <th>Descripcion</th>
                                            <th>Tipo</th>
                                            <th>Inicio</th>
                                            <th>Fin</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="showStores" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-cubes fa-2x"></i>   Productos Comunes</h4>
                <small id="ModalDescription" class="font-bold">Productos Comunes del producto</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-note2"></i>&nbsp Informacion</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label> <i class="fa fa-briefcase"></i> Folio:</label>
                        <div id="folioOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-commenting-o"></i> Producto Comun:</label>
                        <div id="descriptionOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-exclamation-circle"></i> Descripcion:</label>
                        <div id="tipoOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-usd"></i> Precio Promocion: </label>
                        <div id="precioOferta">-</div>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-cubes"></i>Cantidad</label>
                        <div id="cantidadOFerta">-</div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="fa fa-cart-arrow-down"></i>&nbsp Productos Comun</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="TableCommons" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                            <th>Precio Normal</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("ItemsList", Json.Encode(Model.ItemsList))
@Html.Hidden("Promotions", Json.Encode(Model.Promotions))
@section Scripts { @Scripts.Render("~/bundles/PURC0010/js") }