﻿@model List<App.Entities.ViewModels.PurchaseOrder.PurchaseOrderModel>
@{ ViewBag.Title = "Cancelación Compra"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="#">Compras</a></li>
                    <li>
                        <a href="#">Orden de Compra</a>
                    </li>
                    <li class="active">
                        <span>Cancelación de Compra</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Cancelación de Compra
            </h2>
            <small>Cancelación de orden de compra</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Ordenes
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Período</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="beginDate" class="form-control" />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input type="text" id="endDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="Purchases" class="table table-striped table-bordered table-hover" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th># Orden</th>
                                        <th>Proveedor</th>
                                        <th>Sucursal</th>
                                        <th>Fecha Creacion</th>
                                        <th>Moneda</th>
                                        <th>Subtotal</th>
                                        <th>Iva</th>
                                        <th>Ieps</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th>Reporte</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-file-pdf-o"></i> Orden de compra</h4>
                <small id="ModalDescription" class="font-bold">Reporte de orden de compra Numero.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width: 100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-danger" id="ModalInvoice" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitlePurchase"  class="modal-title">Numero Factura</h4>
                <small id="ModalTextPurchase"  class="font-bold">Numero factura del proveedor.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Comentario Obligatorio para cancelar compra: (minimo 8 caracteres) </label>
                        <textarea id="inputComment" style="max-width:850px;max-height:150px;min-width:100px;min-height:100px;width:850px" class="form-control" maxlength="140"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="MessageSavePurchaseCancel()"><i class="fa fa-trash-o"></i> Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("model", Json.Encode(Model))
@section Scripts { @Scripts.Render("~/bundles/PURC004/js") }