﻿@model List<App.Entities.ViewModels.Supplier.MaSupplierModel>
@{ ViewBag.Title = "PURC001"; }

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <a href="MENU000">Compras</a>
                    </li>
                    <li>
                        <a href="MENU001">Pedidos</a>
                    </li>
                    <li class="active">
                        <a>Alta</a>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Orden de Compra
            </h2>
            <small>Crear Orden de Compra</small>
        </div>
    </div>
</div>
<div class="content animate-panel" id="search" style="padding-bottom:0">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Proveedor</a>
                </div>
                <div class="panel-body">
                    <div class="col-lg-4">
                        <label>
                            Proveedor
                        </label>
                        <input class="form-control" id="selectSupplier" name="selectSupplier" onchange="AddItemList()" />
                    </div>
                    <div class="col-lg-4">
                        <label>Fecha de entrega</label>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker'>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input id="datePurchase" type='text' class="form-control" autocomplete="off" placeholder="Fecha de entrega" />
                            </div>
                            <label id="errorPurchase" class="error" hidden>El Campo no puede ser nulo</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label>Moneda</label>
                        <select class="form-control" id="selectCurrency" onchange="ReloadItemList()"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content animate-panel" id="search" style="padding-bottom:0">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="ItemGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="ItemGrid.click();">Producto</a>
                </div>
                <div class="panel-body">
                    <div class="col-lg-4">
                        <label>Producto</label>
                        <select class="form-control" id="selectItem" onchange="InsertDescription()">
                            <option value="0">
                                No se encuentra ningun producto
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>UPC</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-barcode"></span>
                            </span>
                            <input class="form-control" type="text" id="inputUPC" disabled name="name" value="" placeholder="UPC" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label>Precio</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-usd"></span>
                            </span>
                            <input class="form-control" type="text" id="inputPrice" disabled name="name" value="" placeholder="Precio" />
                        </div>
                    </div>
                    <div class="col-lg-2" style="margin-top:10px">
                        <label>IVA %</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-flag-o"></span>
                            </span>
                            <input class="form-control" type="text" id="inputIVA" disabled name="name" value="" placeholder="IVA" />
                        </div>
                    </div>
                    <div class="col-lg-2" style="margin-top:10px">
                        <label>IEPS %</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-flag"></span>
                            </span>
                            <input class="form-control" type="text" id="inputIEPS" disabled name="name" value="" placeholder="IEPS" />
                        </div>
                    </div>
                    <div class="col-lg-2" style="margin-top:35px">
                        <input checked type="radio" class="i-checks" id="radioPiezas" name="optionsRadios"> En Piezas
                    </div>
                    <div class="col-lg-2" style="margin-top:35px">
                        <input type="radio" class="i-checks" id="radioEmpaque" name="optionsRadios"> En Empaque
                    </div>
                    <div class="col-lg-2" style="margin-top:10px" id="divEmpaque">
                        <label>Empaque</label>
                        <select class="form-control" id="selectPackage" onchange="BoxForPackage()">
                            <option value="0">
                                0
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-4" style="margin-top:10px" id="iconPasillas">
                        <label id="textAmount">Caja</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-cube"></span>
                            </span>
                            <input class="form-control" type="number" autocomplete="off" min="0" max="2000000" name="name" id="inputAmount" value="" onkeyup="OptionAmount()" placeholder="Ingresa una cantidad" />
                        </div>
                    </div>
                    <div class="col-lg-4" style="margin-top:10px">
                        <label>Cantidad</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-cubes"></span>
                            </span>
                            <input disabled class="form-control" type="text" name="name" value="" id="inputQuantity" placeholder="Cantidad" />
                        </div>
                    </div>
                    <div class="col-lg-3" style="margin-top:10px">
                        <label>Unidad</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-balance-scale"></span>
                            </span>
                            <input disabled class="form-control" type="text" name="name" value="" id="inputUniteSize" placeholder="Unidad" />
                        </div>
                    </div>
                    <div class="col-lg-1" style="margin-top:32px">
                        <button type="button" class="btn btn-success" id="addProduct" data-toggle="tooltip" title="" data-original-title="Agregar producto"> <i class="fa fa-plus"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content animate-panel" id="search" style="padding-bottom:0">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="OrderGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="OrderGrid.click();">Detalle de la Orden</a>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12" style="margin-bottom:10px">
                        <div class="table-responsive">
                            <table id="TablePurchases" class="table table-striped table-bordered" style="width: 100%;" role="grid" aria-describedby="TablePurchases_info">
                                <thead>
                                    <tr>
                                        <th>UPC</th>
                                        <th>Producto</th>
                                        <th>Factor</th>
                                        <th>Tot.Empaque</th>
                                        <th>Tot.Piezas</th>
                                        <th>Unidad</th>
                                        <th>Precio </th>
                                        <th>IVA</th>
                                        <th>IEPS</th>
                                        <th>Importe</th>
                                        <th>Tot.IVA </th>
                                        <th>Tot.IEPS </th>
                                        <th>Tot.Importe</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-lg-8" style="margin-top:10px;">
                            <textarea rows="5" id="textAreaComment" placeholder="Comentarios" class="form-control" maxlength="200" style="max-width:100%;min-width:200px;width:100%;max-height:200px;min-height:100px;"></textarea>
                        </div>
                        <div class="col-lg-offset-10" style="margin-top:10px;">
                            <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped col-lg-12">
                                <tbody>
                                    <tr>
                                        <td>Subtotal $ </td>
                                        <td><label id="subTotalTable">$0.00</label></td>
                                    </tr>
                                    <tr>
                                        <td>IVA Total $ </td>
                                        <td><label id="ivaTotalTable">$0.00</label></td>
                                    </tr>
                                    <tr>
                                        <td>IEPS Total $</td>
                                        <td><label id="iepsTotalTable">$0.00</label></td>
                                    </tr>
                                    <tr>
                                        <td>Total $ </td>
                                        <td class="col-lg-5"><label id="importeTotalTable">$0.00</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-11" style="margin-top:10px;">
                        <button class="btn btn-danger pull-right" id="buttonCancelPurchase"><i class="fa fa-close"></i> Cancelar</button>
                    </div>
                    <div class="col-lg-1" style="margin-top:10px;">
                        <button class="btn btn-success pull-right" disabled id="buttonSavePurchase"><i class="fa fa-save"></i> Guadar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURC001/js") }