﻿@{ ViewBag.Title = "PURC009"; }

<style>
    .display-flex {
        display: flex;
        flex-direction: column;
    }

    .item-select {
        cursor: pointer;
    }

    .item-select:hover {
        background-color: #eee;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras</a></li>
                    <li>
                        <a href="MENU004">
                            <span>Gastos</span>
                        </a>
                    </li>
                    <li class="active">
                        <span>Permisos requisición de gastos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Permisos requisición de gastos
            </h2>
            <small></small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="hpanel">
        <div class="hpanel panel-body">

            <ul class="list-group  col-md-4 display-flex" style="max-height: 75vh;">
                <li class="list-group-item">
                    <div class="row ">
                        <h4 class="col-md-12 ">
                            Proceso
                        </h4>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control " placeholder="Nombre Tipo" data-bind="textInput:process_search" />
                                <span class="input-group-btn">
                                    <button class="btn  btn-default" type="button" onclick="">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-unstyled" style="overflow: hidden; overflow-y: auto;">
                    <ul class="list-unstyled" style="height: 100%; overflow: hidden; overflow-y: auto;" data-bind="foreach:process_list_filtered">
                        <li style="min-height: 4.4em" class="list-group-item item-select " data-bind="{text:process_name.replace(/[_-]/g, ' ').replace(/(\b\w)/i,p=>p.toUpperCase()) ,click:()=>$parent.select_process($data), css:{active:$data.process_name === $parent.process_selected().process_name }}"></li>

                    </ul>
                </li>

                @*<li class="list-group-item">
                        <div class="row  ">
                            <div class="col-xs-12">
                                <label for="input_process">Agregar proceso</label>
                                <div class="input-group">
                                    <input id="input_process" type="text" class="form-control " placeholder="Nombre proceso" data-bind="textInput:process_name_add"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success " type="button" data-bind="{click:()=>process_add()}">
                                            <span class="fa fa-save"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>*@
            </ul>

            @* Columna 3 *@
            <ul class="list-group  col-md-4 display-flex" style="max-height: 75vh;">
                <li class="list-group-item">
                    <div class="row ">
                        <h4 class="col-md-12 ">
                            Pasos
                        </h4>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control " placeholder="Buscar Paso..." data-bind="textInput:step_search" />
                                <span class="input-group-btn">
                                    <button class="btn  btn-default" type="button" onclick="">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-unstyled" style="overflow: hidden; overflow-y: auto;">
                    <ul class="list-unstyled" style="height: 100%; overflow: hidden; overflow-y: auto;" data-bind="foreach:step_list_filtered">
                        <li class="list-group-item item-select" data-bind="{click:()=>$parent.select_step($data), css:{active:$data.step_level === $parent.step_selected().step_level }}">
                            <div class="row">
                                <div class="col-xs-3" data-bind="{text:`Paso: ${step_level}`}"></div>
                                <div class="col-xs-7">

                                    <select disabled class="form-control" data-bind="{value:approval_type}">
                                        <option value="RQ">Petición</option>
                                        <option value="AP">Aprovación</option>
                                        <option value="RV">Revición</option>
                                        <option value="CN">Consentimiento</option>
                                    </select>
                                </div>
                                @* <i class="fa fa-close col-xs-1" aria-hidden="true" style="padding: 0.3rem"></i> *@
                            </div>
                        </li>
                    </ul>
                </li>

                @*<li class="list-group-item">
                        <div class="row  ">
                            <div class="col-xs-12">
                                <label for="input_step">Agregar Paso</label>
                                <div class="input-group">
                                    <select class="form-control " data-bind="value:approval_opt">
                                        <option value="RQ">Petición</option>
                                        <option value="AP">Aprovación</option>
                                        <option value="RV">Revición</option>
                                        <option value="CN">Consentimiento</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success " type="button" data-bind="click:(d,v)=>step_add(v.currentTarget)" >
                                            <span class="fa fa-save"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>*@
            </ul>

            @* Columna 4*@
            <ul class="list-group  col-md-4 display-flex" style="max-height: 75vh;">
                <li class="list-group-item">
                    <div class="row ">
                        <h4 class="col-md-12 ">
                            Usuarios
                        </h4>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control " placeholder="Buscar usuario..." data-bind="textInput:user_search" />
                                <span class="input-group-btn">
                                    <button class="btn  btn-default" type="button" onclick="">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-unstyled" style="overflow: hidden; overflow-y: auto;">
                    <ul class="list-unstyled" style="height: 100%; overflow: hidden; overflow-y: auto;" data-bind="foreach:user_list_filtered">
                        <li class="list-group-item item-select" data-bind="{click:()=>$parent.select_user($data)}">
                            <div class="row">
                                <strong class="col-xs-5" data-bind="{text:` ${emp_no}`}"> </strong>
                                <strong class="col-xs-5" style="text-align: right" data-bind="{text:` ${process_group }`}"> </strong>
                                <i class="  fa fa-close col-xs-1" style="font-size: 2rem;" aria-hidden="true" data-bind="click:()=>$parent.user_del($data)"></i>
                                <div class="col-xs-12" data-bind="{text:` ${emp_name}`}"></div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <div class="row  ">
                        <div class="col-xs-12">
                            <label for="input_user">Agregar empleado</label>
                            <div class="input-group">
                                <input id="input_user" type="text" class="form-control " placeholder="Grupo" data-bind="textInput:emp_process_group_add" />
                                <div class="input-group">
                                    <input id="input_user" type="text" class="form-control " placeholder="Numero de empleado" data-bind="textInput:emp_no_add" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-success " type="button" data-bind="click: (d,v)=>user_add(v.currentTarget)">
                                            <span class="fa fa-save"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="search_container" class="list-group col-xs-12 ">
                            <div class="col-xs-12  " data-bind="foreach: search_user_results" style="float: left; position: absolute; padding: 0; z-index: 50000">
                                <button type="button" class="list-group-item mx-0" data-bind="click:()=> $parent.user_add_searched($data.emp_no)" style="background-color: white;">
                                    <strong data-bind="text:emp_no"></strong> <span data-bind="text:emp_name"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/request")
    @Scripts.Render("~/bundles/approval")
    <script>
        const c = new ApprovalViewModel();
        ko.applyBindings(c, document.getElementById('base'));
    </script>
}