﻿
@model App.Entities.ViewModels.Expenses.ExpensesReportListModel
@{ ViewBag.Title = "PURC022"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras </a></li>
                    <li>
                        <span>GASTOS</span>
                    </li>
                    <li class="active">
                        <span>Edición de Gastos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Gastos de Tienda
            </h2>
            <small>Edicion de Gastos variables y Fijos</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Edicion de Gastos variables y Fijos</a>
                </div>
                <div class="panel-body">
                    <div class="row ">
                        <div class="col-lg-12 hide">
                            <div class="form-group col-lg-4 hide">
                                <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                                <div class="input-daterange input-group" id="datepicker">
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                        <input id="BeginDate" class="form-control" autocomplete="off" readonly="readonly" />
                                    </div>
                                    <span class="input-group-addon">A</span>
                                    <div class="input-group date">
                                        <input id="EndDate" class="form-control" autocomplete="off" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  col-lg-5">
                                <label>Acreedores</label>
                                <select id="supplier" class="form-control">
                                    <option value="" selected>Todos los Acreedores</option>
                                    @foreach (var item in Model.Ma_SupplierList)
                                    {
                                        <option value="@item.SupplierId">@item.BusinessName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <label>Tipos de Gastos</label>
                                <select id="typeTypeExpense" class="form-control">
                                    <option value="" selected>Todos las categorias</option>
                                    <option value="gastos">GASTOS</option>
                                    <option value="INTERNO">INTERNO</option>
                                    <option value="MAQUINARIA">MAQUINARIA</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-1 text-center hide" style="margin-top:3px">
                                <label>Detalle</label>
                                <br />
                                <div class="form-group hide">
                                    <label> <input type="checkbox" id="cbox_ReportType" onclick="checkDetail();" class="i-checks"></label>
                                </div>
                            </div>
                            <div class="form-group col-lg-2">
                                <label>Areas</label>
                                <select id="typeCategory" class="form-control">
                                    <option value="" selected>Todos las Areas</option>
                                    @foreach (var item in Model.ListCategory)
                                    {
                                        <option value="@item.vkey">@item.description</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <label>Monedas</label>
                                <select id="typeCurrency" class="form-control ">
                                    <inputIEPS value="" selected> Monedas</inputIEPS>
                                    <option value="MXN">MXN</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3 hide">
                                <label>Estatus</label>
                                <select id="typeStatus" class="form-control ">
                                    <option value="" disabled>Todos los Estatus</option>
                                    <option value="9" selected>Finalizado</option>
                                    <option value="8" disabled>Cancelado</option>
                                </select>
                            </div>
                            <div class="col-lg-3" style="margin-top:5px;">
                                @*<br />*@
                                <button id="Search" class="btn btn-primary texte-right" onclick="SearchExpense();"><i class="fa fa-eye"></i> Mostrar</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-12">
                        <div id="TableDivExpenses" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="TableExpenses" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Folio</th>
                                            <th>Area</th>
                                            <th>Tipo de Gasto</th>
                                            <th>Proveedor</th>
                                            <th>Factura</th>
                                            <th>Fecha de Registro</th>
                                            <th>Moneda</th>
                                            <th>SubTotal</th>
                                            <th>IVA</th>
                                            <th>IEPS</th>
                                            <th>Descuento</th>
                                            <th>ISR Ret.</th>
                                            <th>IVA Ret.</th>
                                            <th>Total</th>
                                            <th>Reporte</th>
                                            <th>Estaus</th>
                                            <th>ExpenseToday</th>
                                            <th>TypeXML</th>
                                            <th>Editar</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div id="TableDivExpensesDetail" hidden class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="TableExpensesDetail" hidden class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Folio</th>
                                            <th>Factura</th>
                                            <th>Código</th>
                                            <th>Descripción</th>
                                            <th>Area</th>
                                            <th>Tipo de Gasto</th>
                                            <th>Proveedor</th>
                                            <th>Fecha de Registro</th>
                                            <th>Moneda</th>
                                            <th>Costo Unit.</th>
                                            <th>Cantidad</th>
                                            <th>SubTotal</th>
                                            <th>IVA</th>
                                            <th>IEPS</th>
                                            <th>Descuento</th>
                                            <th>ISR Ret.</th>
                                            <th>IVA Ret.</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Gastos</h4>
                <small id="ModalDescription" class="font-bold">Gastos</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalInvoiceEdit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 id="ModalEditTitle" class="modal-title"><i class="fa fa-newspaper-o"></i> Gasto: </h4>
                <small id="ModalEditDescrip" class="font-bold">Edición de gastos, todos los campos sn obligatorios.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 hide" style="margin-bottom: 8px" id="fixedExpense">
                                <label>Tipo de Gastos</label>
                                <select class="form-control select2" id="optionsExpenseEdit">
                                    <option value="" selected>Seleccione una opción</option>
                                </select>
                        </div>
                        <div class="col-lg-12 hide" style="margin-bottom: 8px" id="variableExpense">
                            <label>Areas</label>
                            <select id="typeCategoryEdit" class="form-control">
                                <option value="" selected>Todos las Areas</option>
                                @foreach (var item in Model.ListCategory)
                                {
                                    <option value="@item.vkey">@item.description</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-8">
                            <label>Número de factura</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                <input type="text" id="inputInvoice" placeholder="Numero de factura" class="form-control" maxlength="50" name="inputInvoice" value="" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Moneda: </label>
                            <select class="form-control select2" id="paymentList">
                                <option value="" selected>Moneda</option>
                                <option value="MXN">MXN</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label>Subtotal: </label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                <input type="number" id="inputSubtotal" placeholder="Subtotal" class="form-control" min="0" max="9999999" onchange="validateNumber(this.value, 'inputSubtotal', 0.09)" name="inputSubtotal" value="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>IVA: </label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                <input type="number" id="inputIVA" placeholder="IVA" class="form-control" min="0" max="9999999" onchange="validateNumber(this.value, 'inputIVA', 0)" name="inputIVA" value="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>IEPS: </label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                <input type="number" id="inputIEPS" placeholder="IEPS" class="form-control" min="0" max="9999999" onchange="validateNumber(this.value, 'inputIEPS', 0)" name="inputIVA" value="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>Descuento: </label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                <input type="number" id="inputDiscount" placeholder="Descuento" class="form-control" min="0" max="99999999" onchange="validateNumber(this.value, 'inputDiscount', 0)" name="inputDiscount" value="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>Cantidad: </label>
                            <div class="form-group" title="Cuando se realiza un servicio la cantidad recomendada es 1." data-toggle="tooltip" data-placement="bottom">
                                <div class="input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                    <input type="number" id="inputQuantity" placeholder="Cantidad" class="form-control" min="1" max="99999999" onchange="validateNumber(this.value, 'inputQuantity', 1)" name="inputDiscount" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>IVA Retenido: </label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                <input type="number" id="inputIVARetenido" placeholder="IVA Retenido" class="form-control" min="0" max="99999999" onchange="validateNumber(this.value, 'inputIVARetenido', 0)" name="inputIVARetenido" value="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>ISR Retenido: </label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                <input type="number" id="inputISRRetenido" placeholder="ISR Retenido" class="form-control" min="0" max="99999999" onchange="validateNumber(this.value, 'inputISRRetenido', 0)" name="inputISRRetenido" value="" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label>Comentario: </label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                <input type="text" id="inputComment" placeholder="Comentario" class="form-control" maxlength="50" name="inputComment" value="" />
                            </div>
                        </div>
                        <div class="pull-right">
                            <p>Total: </p><span class="font-extra-bold" id="total_sum"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
                <button type="button" class="btn btn-success" onclick="SaveEditWithFolio()"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model))
@section Scripts { @Scripts.Render("~/bundles/PURCH022/js") }