﻿@{ ViewBag.Title = "PURC012"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras </a></li>
                    <li><a href="PURCH010">Reportes </a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Reporte de presentaciones</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte de presentaciones
            </h2>
            <small>Reporte de presentaciones</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Historial de Promociones</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="table" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th id="pr_th_btn">Detalles </th>
                                            <th>Codigo presentación</th>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Unidad</th>
                                            <th>Precio</th>
                                            <th>IVA</th>
                                            <th>IEPS</th>
                                            <th>Precio total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody"></tbody>
                                </table>
                            </div>

                            @* Modal Crear Presentación *@
                            <div id="pr_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="color-line"></div>
                                        <div class="modal-header">
                                            <h4 id="modal_title" class="modal-title"></h4>
                                            <small id="modal_description" class="font-bold"></small>
                                        </div>
                                        <form id="form" method="post">
                                            <div class="modal-body">
                                                <div class='row'>
                                                    <div class="form-group col-lg-6">
                                                        <label for="txt_name"> Nombre de presentación</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-align-left"></span>
                                                            </span>
                                                            <input type="text" id="txt_name" name="txt_name" class="form-control" size="50" readonly="" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-6">
                                                        <label for="txt_part_number">Id producto</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-barcode"></span>
                                                            </span>
                                                            <input type="text" id="txt_part_number" name="txt_part_number" class="form-control" size="50" readonly="" />
                                                        </div>
                                                        <h4 id="label_part_name" style="margin: 1rem 0; ">Nombre del producto:</h4>
                                                    </div>
                                                </div>
                                                <div class='row'>
                                                    <div class="form-group col-lg-3">
                                                        <label for="txt_quantity">Cantidad</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-cubes"></span>
                                                            </span>
                                                            <input type="text" id="txt_quantity" name="txt_quantity" class="form-control" readonly="" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-3">
                                                        <label for="select_unit_size">Unidad</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-cubes"></span>
                                                            </span>
                                                            <input id="select_unit_size" name="select_unit_size" class="form-control" readonly="" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-6">
                                                        <label for="txt_presentation_code">Código Presentación</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-object-group"></span>
                                                            </span>
                                                            <input type="text" id="txt_presentation_code" name="txt_presentation_code" class="form-control" size="50" readonly="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='row'>
                                                    <div class="form-group col-lg-6">
                                                        <label for="txt_price_total">Precio presentación</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-usd"></span>
                                                            </span>
                                                            <input type="text" id="txt_price_total" name="txt_price_total" class="form-control" maxlength="15" readonly="" />
                                                        </div>
                                                        <h5 id="label_price_extra" style="margin: 1rem 0; "> </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="btn_form_cancel" type="button" class="btn btn-success" data-dismiss="modal"> Aceptar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURC012/js") }