﻿@{ ViewBag.Title = "PURC018"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras</a></li>
                    <li>
                        <a href="MENU004">
                            <span>Reporte</span>
                        </a>
                    </li>
                    <li class="active">
                        <span>Reporte de compras por articulos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte de compras por articulos
            </h2>
            <small></small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="hpanel">
        <div class="hpanel panel-body">
            <div class="form-group col-lg-4">
                <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                <div class="input-daterange input-group" id="datepicker">
                    <div class="input-group date">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                        <input type="text" id="ValidDate1" class="form-control" autocomplete="off" />
                    </div>
                    <span class="input-group-addon">A</span>
                    <div class="input-group date">
                        <input type="text" id="ValidDate2" class="form-control" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label>Productos</label>
                <input class="form-control" id="SupplierSelect" name="SupplierSelect" />

            </div>
            <div class=" form-group  col-lg-2">
                <button class="btn btn-info" style="margin-top:22px;" onclick="Search()">
                    Buscar
                </button>
            </div>
            <div class="col-lg-12">
                <div class="row table-responsive">
                    <table id="TableNegatives" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Fecha</th>
                                <th>Compras No.</th>
                                <th>Codigo Sucursal</th>
                                <th>Sucursal</th>
                                <th>No Factura Provedor</th>
                                <th>Numero de proveedor</th>
                                <th>Proveedor</th>
                                <th>Importe</th>
                                <th>Iva</th>
                                <th>Ieps</th>
                                <th>Total</th>
                                <th>Moneda</th>
                                <th>Detalle</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Orden de compra</h4>
                <small id="ModalDescription" class="font-bold">Reporte de orden de compra Numero.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURC018/js") }