﻿@model FloridoERPTX.ViewModels.Purchases.SalesPriceChangeViewModel
@{ ViewBag.Title = "PURC002"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li> <span>Compras</span></li>
                    <li><a href="">Reportes</a></li>
                    <li class="active">
                        <span>Precio de Venta.</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Precio de Venta.
            </h2>
            <small>Reporte y configuracion de basculas</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="hpanel">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-area-chart"></i> Reporte Cambio de Precio de Venta.</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-shopping-cart"></i> Listado de Precios</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hpanel blue">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-2">
                                            <label title="Fecha de Aplicacion de Precio" data-toggle="tooltip" data-placement="right">Fecha de Aplicacion</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                                <input id="fechaAppPrecio" type="text" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <div class="form-group col-md-12">
                                                <label title="" data-toggle="tooltip" data-placement="right">&nbsp;&nbsp;&nbsp;Existencias en 0</label>
                                                <br />
                                                <div class="icheckbox_square-green hover" style="position: relative; left: 40%; top:8px">
                                                    <input type="checkbox" class="i-checks" id="removeExist" name="removeExist" style="position: absolute; opacity: 0;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <label class="center" for="select_depto" data-toggle="tooltip" data-placement="right">Grupo</label>
                                            @Html.DropDownListFor(m => m.Departamentos, Model.DeptosList, new { @class = "form-control select2", @id = "depto", @onchange = "GetFamily();" })
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label class="center" for="select_family" data-toggle="tooltip" data-placement="right">Familia</label>
                                            <select id="family" class="form-control center select2">
                                                <option value="">Selecciona una Familia</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-1" style="margin-top:5px">
                                            <br />
                                            <button class="btn btn-primary" id="buscar"><i class="fa fa-search"></i> Buscar</button>
                                        </div>
                                        <div class="form-group col-lg-1" style="margin-top:5px">
                                            <br />
                                            <button class="btn btn-success" disabled id="button"><i class="fa fa-print"></i> Imprimir</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table id="tableSalesPrice" class="table table-striped table-bordered table-hover" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Codigo Producto</th>
                                                        <th>Descripcion</th>
                                                        <th>Precio</th>
                                                        <th>Fecha</th>
                                                        <th>Existencias</th>
                                                        <th>Grupo</th>
                                                        <th>Familia</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="row">
                        <div>
                            <div class="form-group col-lg-5">
                                <label class="center" for="select_depto" data-toggle="tooltip" data-placement="right">Departamento</label>
                                @Html.DropDownListFor(m => m.Departamentos, Model.DeptosList, new { @class = "form-control select2", @id = "departament", @onchange = "GetFamily();" })
                            </div>
                            <div class="form-group col-lg-5">
                                <label class="center" for="select_family" data-toggle="tooltip" data-placement="right">Familia</label>
                                <select id="family2" class="form-control center select2">
                                    <option value="">Selecciona una Familia</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-1" style="margin-top:5px">
                                <br />
                                <button class="btn btn-success" id="button" onclick="ShowReportPrice()"><i class="fa fa-print"></i> Imprimir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-cenefa" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 id="ModalTitle" class="modal-title">Impresion Cenefa.</h4>
                </div>
                <div id="qwerty" class="modal-body" style="height:100%">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 id="ModalTitle" class="modal-title">Orden de compra</h4>
                    <small id="ModalDescription" class="font-bold">Reporte de orden de compra Numero.</small>
                </div>
                <div id="modalReferenceBody" class="modal-body" style="height:100%">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURC002/js") }
