﻿@model App.Entities.ViewModels.PurchaseOrder.PurchaseOrderDepartmentModel
@{
    ViewBag.Title = "PURC017";

    List<SelectListItem> departments = Model.Departaments.ConvertAll(a =>
    {
        return new SelectListItem()
        {
            Text = a.description.ToString(),
            Value = a.class_id.ToString(),
            Selected = false
        };
    });
}

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras</a></li>
                    <li>
                        <span>Reportes</span>
                    </li>
                    <li class="active">
                        <span>Reporte de Compras por Departamento</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte Compras por Departamento
            </h2>
            <small></small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Reporte Compras por Departamento</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-3 ">
                            <label class="center" for="select_depto" data-toggle="tooltip" data-placement="right">Departamento</label>
                            @Html.DropDownListFor(m => m.Departaments, departments, "Selecciona un Departamento", new { @class = "form-control select2", @id = "depto", @onchange = "GetFamily();" })
                        </div>
                        <div class="form-group col-lg-3 ">
                            <label class="center" for="select_family" data-toggle="tooltip" data-placement="right">Familia</label>
                            <select id="family" class="form-control select2 center">
                                <option value="">Selecciona una Familia</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3 ">
                            <label class="center" for="select_supplier" data-toggle="tooltip" data-placement="right">Proveedor</label>
                            <select class="form-control select2" name="account" id="supplier">
                                <option value="">Selecciona un proveedor</option>
                                @foreach (var item in Model.Suppliers)
                                {
                                    <option value="@item.SupplierId">@item.BusinessName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <br />
                            <button class="btn btn-primary" id="btnSearch" onclick="search()"><i class="fa fa-eye"></i> Mostrar</button>
                            <button class="btn btn-success" id="btnPrint" onclick="print()"><i class="fa fa-print"></i> Imprimir</button>
                        </div>
                    </div>
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="tableItems" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Departamento</th>
                                        <th>Familia</th>
                                        <th>Código</th>
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>Importe</th>
                                        <th>IEPS</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model.Items))
@section Scripts { @Scripts.Render("~/bundles/PURC017/js") }