﻿@model FloridoERPTX.ViewModels.Warehouse.ViewModelPurch014
@{ ViewBag.Title = "PURCH014"; }

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras </a></li>
                    <li>
                        <a href="MENU004">Gastos</a>
                    </li>
                    <li class="active">
                        <span>Gastos Fijos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Entrada de Gastos Fijos
            </h2>
            <small>Entrada de gastos fijos que entran cada mes.</small>
        </div>
    </div>
</div>


<div class="content animate-panel">
    <div class="hpanel">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1" onclick="ClearTabs('0')"><i class="fa fa-area-chart"></i> Gasto Fijos</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2" onclick="ClearTabs('1')"><i class="fa fa-balance-scale"></i> Gastos Variable</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <label>Proveedor</label>
                                        @*<select class="form-control select2" onchange="SearchCreditors()" id="supplierList">
            <option value="0" selected>Seleccione un proveedor</option>
            @foreach (var item in Model)
            {
                <option value="@item.SupplierId">@item.BusinessName</option>
            }
        </select>*@
                                        @Html.DropDownListFor(m => m.MaCode, Model.SupplierListItems, new { @class = "form-control select2", @id = "supplierList",onchange="SearchCreditors()" })
                                    </div>
                                </div>

                                <div class="content animate-panel" id="searchBody" hidden style="padding-top:0">
                                    <div class="row" id="infoSupplier">
                                        <div class="col-lg-12">
                                            <div class="hpanel hblue">
                                                <div class="panel-heading">
                                                    <div class="panel-tools">
                                                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                    </div>
                                                    <a onclick="PanelGrid.click();">Información del Acreedor</a>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-4" style="padding-top:8px;">
                                                            <label> <b><i class="fa fa-newspaper-o"></i> RFC:</b>  </label> <div><span id="rfc">0</span></div>
                                                        </div>
                                                        <div class="col-lg-4" style="padding-top:8px;">
                                                            <label> <b><i class="fa fa-briefcase"></i> Proveedor:</b> </label> <div><span id="provider">0</span></div>
                                                        </div>
                                                        <div class="col-lg-4" style="padding-top:8px;">
                                                            <label> <b><i class="fa fa-map"></i> Direccion:</b> </label> <div><span id="adress">0</span> </div>
                                                        </div>
                                                        <div class="col-lg-4" style="padding-top:8px;">
                                                            <label> <b><i class="fa fa-male"></i>   Nombre del contacto:</b></label> <div><span id="nameContact">0</span> </div>
                                                        </div>
                                                        <div class="col-lg-4" style="padding-top:8px;">
                                                            <label> <b><i class="fa fa-at"></i> Correo:</b> </label> <div><span id="email">0</span> </div>
                                                        </div>
                                                        <div class="col-lg-4" style="padding-top:8px;">
                                                            <label> <b><i class="fa fa-phone"></i> Telefono:</b></label> <div><span id="phone">0</span> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12" style="padding-top:22px;" hidden id="optionsExpenseAreasdiv">
                                    <div class="pull-right col-lg-4">
                                        <label>Area/Departamento</label>
                                        <select class="form-control select2" id="optionsExpenseAreas" disabled>
                                            <option value="" selected>Servicios</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12" style="padding-top:22px;" hidden id="optionsExpensediv">
                                    <div class="pull-right col-lg-4">
                                        <label>Tipo de Gastos</label>
                                        <select class="form-control select2" id="optionsExpense">
                                            <option value="" selected>Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12" style="padding-top:22px;" hidden id="buttonSavediv">
                                    <div class="pull-right">
                                        <button onclick="saveInvoice()" class="btn btn-success pull-right" href='javascript:;' style="position:initial"><i class="fa fa-save"></i> Procesar Factura</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <label>Proveedor</label>
                                        @*<select class="form-control select2" onchange="SearchCreditors()" id="supplierList2">
                                            <option value="0" selected>Seleccione un proveedor</option>
                                            foreach (var item in Model)
        {
            <option value="@item.SupplierId">@item.BusinessName</option>
        }

                                        </select>*@
                                        @Html.DropDownListFor(m => m.MaCode, Model.SupplierListItems, new { @class = "form-control select2", @id = "supplierList2", onchange="SearchCreditors()" })
                                    </div>
                                </div>

                                <div class="content animate-panel" id="searchBody2" hidden style="padding-top:0">
                                    <div class="row" id="infoSupplier">
                                        <div class="col-lg-12">
                                            <div class="hpanel hblue">
                                                <div class="panel-heading">
                                                    <div class="panel-tools">
                                                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                    </div>
                                                    <a onclick="PanelGrid.click();">Información del Acreedor</a>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-4" style="padding-top:8px;">
                                                            <label> <b><i class="fa fa-newspaper-o"></i> RFC:</b>  </label> <div><span id="rfc2">0</span></div>
                                                        </div>
                                                        <div class="col-lg-4" style="padding-top:8px;">
                                                            <label> <b><i class="fa fa-briefcase"></i> Proveedor:</b> </label> <div><span id="provider2">0</span></div>
                                                        </div>
                                                        <div class="col-lg-4" style="padding-top:8px;">
                                                            <label> <b><i class="fa fa-map"></i> Direccion:</b> </label> <div><span id="adress2">0</span> </div>
                                                        </div>
                                                        <div class="col-lg-4" style="padding-top:8px;">
                                                            <label> <b><i class="fa fa-male"></i>   Nombre del contacto:</b></label> <div><span id="nameContact2">0</span> </div>
                                                        </div>
                                                        <div class="col-lg-4" style="padding-top:8px;">
                                                            <label> <b><i class="fa fa-at"></i> Correo:</b> </label> <div><span id="email2">0</span> </div>
                                                        </div>
                                                        <div class="col-lg-4" style="padding-top:8px;">
                                                            <label> <b><i class="fa fa-phone"></i> Telefono:</b></label> <div><span id="phone2">0</span> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12" style="padding-top:22px;" hidden id="optionsExpenseAreas2div">
                                    <div class="pull-right col-lg-4">
                                        <label>Area/Departamento</label>
                                        @*<select class="form-control select2" id="optionsExpenseAreas2">
            <option value="" selected>Seleccione una Departamento</option>
            @foreach (var item in )
            {
                <option value="@item.SupplierId">@item.BusinessName</option>
            }
        </select>*@
                                        @Html.DropDownListFor(m => m.MaCode, Model.Codes, new { @class = "form-control select2", @id = "optionsExpenseAreas2" })
                                    </div>
                                </div>
                                <div class="col-lg-12" style="padding-top:22px;" hidden id="optionsExpensediv2">
                                    <div class="pull-right col-lg-6">
                                        <label>Comentario</label>
                                        <div class="form-group" title="Desripción corta y concisa del gasto." data-toggle="tooltip" data-placement="bottom">
                                            <input type="text" id="commentVariable" placeholder="Comentario" class="form-control" maxlength="50" name="inputComment" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12" style="padding-top:22px;" hidden id="buttonSavediv2">
                                    <div class="pull-right">
                                        <button onclick="saveInvoice()" class="btn btn-success pull-right" href='javascript:;' style="position:initial"><i class="fa fa-save"></i> Procesar Factura</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalInvoice" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title"><i class="fa fa-newspaper-o"></i> Factura de Gastos</h4>
                <small class="font-bold">Ingresar factura de gasto de servicio.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-8">
                            <label>Número de factura</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                <input type="text" id="inputInvoice" placeholder="Numero de factura" class="form-control" maxlength="50" name="inputInvoice" value="" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Moneda: </label>
                            <select class="form-control select2" id="paymentList">
                                <option value="" selected>Moneda</option>
                                <option value="MXN">MXN</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>Subtotal: </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                            <input type="number" id="inputSubtotal" placeholder="Subtotal" class="form-control" min="0" max="9999999" onchange="validateNumber(this.value, 'inputSubtotal', 0.09)" name="inputSubtotal" value="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>IVA: </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                            <input type="number" id="inputIVA" placeholder="IVA" class="form-control" min="0" max="9999999" onchange="validateNumber(this.value, 'inputIVA', 0)" name="inputIVA" value="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>IEPS: </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                            <input type="number" id="inputIEPS" placeholder="IEPS" class="form-control" min="0" max="9999999" onchange="validateNumber(this.value, 'inputIEPS', 0)" name="inputIVA" value="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>Descuento: </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                            <input type="number" id="inputDiscount" placeholder="Descuento" class="form-control" min="0" max="99999999" onchange="validateNumber(this.value, 'inputDiscount', 0)" name="inputDiscount" value="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>Cantidad: </label>
                        <div class="form-group" title="Cuando se realiza un servicio la cantidad recomendada es 1." data-toggle="tooltip" data-placement="bottom">
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                <input type="number" id="inputQuantity" placeholder="Cantidad" class="form-control" min="1" max="99999999" onchange="validateNumber(this.value, 'inputQuantity', 1)" name="inputDiscount" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>IVA Retenido: </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                            <input type="number" id="inputIVARetenido" placeholder="IVA Retenido" class="form-control" min="0" max="99999999" onchange="validateNumber(this.value, 'inputIVARetenido', 0)" name="inputIVARetenido" value="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>ISR Retenido: </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                            <input type="number" id="inputISRRetenido" placeholder="ISR Retenido" class="form-control" min="0" max="99999999" onchange="validateNumber(this.value, 'inputISRRetenido', 0)" name="inputISRRetenido" value="" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label>Comentario: </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                            <input type="text" id="inputComment" placeholder="Comentario" class="form-control" maxlength="50" name="inputComment" value="" />
                        </div>
                    </div>
                    <div class="pull-right">
                        <p>Total: </p><span class="font-extra-bold" id="total_sum"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
                <button type="button" class="btn btn-success" onclick="SaveWithFolio()"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalInvoice2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title"><i class="fa fa-newspaper-o"></i> Factura de Gastos</h4>
                <small class="font-bold">Ingresar factura de gasto de servicio.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-8">
                            <label>Número de factura</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                <input type="text" id="inputInvoice2" placeholder="Numero de factura" class="form-control" maxlength="50" name="inputInvoice" value="" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Moneda: </label>
                            <select class="form-control select2" id="paymentList2">
                                <option value="" selected>Moneda</option>
                                <option value="MXN">MXN</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>Subtotal: </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                            <input type="number" id="inputSubtotal2" placeholder="Subtotal" class="form-control" min="0" max="9999999" onchange="validateNumber(this.value, 'inputSubtotal2', 0.09)" name="inputSubtotal" value="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>IVA: </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                            <input type="number" id="inputIVA2" placeholder="IVA" class="form-control" min="0" max="9999999" onchange="validateNumber(this.value, 'inputIVA2', 0)" name="inputIVA" value="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>IEPS: </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                            <input type="number" id="inputIEPS2" placeholder="IEPS" class="form-control" min="0" max="9999999" onchange="validateNumber(this.value, 'inputIEPS2', 0)" name="inputIVA" value="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>Descuento: </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                            <input type="number" id="inputDiscount2" placeholder="Descuento" class="form-control" min="0" max="99999999" onchange="validateNumber(this.value, 'inputDiscount2', 0)" name="inputDiscount" value="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>Cantidad: </label>
                        <div class="form-group" title="Cuando se realiza un servicio la cantidad recomendada es 1." data-toggle="tooltip" data-placement="bottom">
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                <input type="number" id="inputQuantity2" placeholder="Cantidad" class="form-control" min="0" max="99999999" onchange="validateNumber(this.value, 'inputQuantity2', 1)" name="inputDiscount" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>IVA Retenido: </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                            <input type="number" id="inputIVARetenido2" placeholder="IVA Retenido" class="form-control" min="0" max="99999999" onchange="validateNumber(this.value, 'inputIVARetenido2', 0)" name="inputIVARetenido" value="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label>ISR Retenido: </label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                            <input type="number" id="inputISRRetenido2" placeholder="ISR Retenido" class="form-control" min="0" max="99999999" onchange="validateNumber(this.value, 'inputISRRetenido2', 0)" name="inputISRRetenido" value="" />
                        </div>
                    </div>
                    <div class="pull-right">
                        <p>Total: </p><span class="font-extra-bold" id="total_sum2"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
                <button type="button" class="btn btn-success" onclick="SaveWithFolio()"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURC014/js") }
