﻿@{ ViewBag.Title = "PURCH006"; }

<style>
    .arrow_i, .arrow_down {
        width: 100%;
        height: 100%;
    }

    .arrow_i::before {
        display: block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        content: "\f101";
        cursor: pointer;
    }

    .arrow_down::before {
        display: block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        content: "\f103";
        cursor: pointer;
    }

    .footer {
        display: none !important;
    }

    .input_container {
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras</a></li>
                    <li>
                        <a href="MENU004">
                            <span>Gastos</span>
                        </a>
                    </li>
                    <li class="active">
                        <span>Requisición de gastos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Requisición de gastos
            </h2>
            <small></small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="hpanel">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab1" id="btn_tab1"><i class="fa fa-sort-amount-asc"></i> Lista Requisiciones</a></li>
            <li class="" id="btn_tab2"><a data-toggle="tab" href="#tab2"><i class="fa fa-plus"></i> Agregar Requisición</a></li>
        </ul>
        <div class="tab-content">
            @* Lista de procesos *@
            <div id="tab1" class="tab-pane active">
                <div class="panel-body">
                    <div>
                        @* Filtros*@
                        <form class="form-inline row " style="padding: 1rem 2rem">
                            <div class="form-group " style="">
                                <label class="sck_container">
                                    Mostrar terminados
                                    <input type="checkbox" data-bind="checked: show_ended">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-group ">
                                <div class="input-daterange input-group" id="datepicker">
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                        <input type="text" class="form-control date" data-bind="value: date0" />
                                    </div>

                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            A
                                        </span>
                                        <input type="text" class="form-control date" data-bind="value: date1" />
                                    </div>
                                </div>
                            </div>
                            <button style="margin-left: 1rem" class="btn btn-info " data-bind="click: ()=>{ clear_filters();}">Limpiar</button>
                            <button style="margin-left: 1rem" class="btn btn-success " data-bind="click: ()=>{ load_list();}">Actualizar</button>
                        </form>
                    </div>
                    <h4>Requisiciones pendientes</h4>
                    <h5 class="" data-bind="if: requests_list().length===0"> No hay requisiciones pendientes</h5>
                    <div class="table-responsive" data-bind="if:requests_list().length > 0">

                        <table id="table" class="table table-striped table-bordered table-hover" style="width: 100%">
                            <thead>
                                <tr>
                                    <th id=""> Detalles </th>
                                    <th>Folio</th>
                                    <th>Cantidad total</th>
                                    <th>Total estimado</th>
                                    <th>Paso</th>
                                    @* <th>Estado</th>*@
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: requests_list">
                                <tr data-bind="style:{fontWeight: requirement_status==6 || requirement_status==7 ? 'bold' :''}">
                                    <td style="width: 8rem" data-bind="click:()=>$parent.on_details_click('rq_td_','rq_details_',$data,$index())">
                                        <div class="arrow_i" data-bind="attr: {id: 'rq_td_'+$index()}"></div>
                                    </td>
                                    <td data-bind="text:approval_id"></td>
                                    <td data-bind="text:total_quantity"></td>
                                    <td data-bind="text:total_estimate_price"></td>
                                    <td data-bind="text: step_level +'/'+step_total"></td>
                                    <td data-bind="text:approval_status"></td>
                                </tr>
                                <tr data-bind="attr: {id: 'rq_details_'+$index()}" style="display: none">
                                    <td colspan="6" class="row">
                                        <table id="table" class="table table-striped table-bordered table-hover" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th id="pr_th_btn">Codigo</th>
                                                    <th>Descripción</th>
                                                    <th>Categoria</th>
                                                    <th>Provedor</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio unitario estimado</th>
                                                    @*<th>Total Final</th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="tbody">
                                                <!-- ko foreach: expense_list -->
                                                <tr>
                                                    <td data-bind="text:part_number"></td>
                                                    <td data-bind="text:description"></td>
                                                    <td data-bind="text:category"></td>
                                                    <td data-bind="text:supplier_name"></td>
                                                    <td data-bind="text:quantity"> </td>
                                                    <td data-bind="text:estimate_price"> </td>
                                                </tr>
                                                <!-- /ko -->
                                                <tr>
                                                    <td colspan="3"></td>
                                                    <td> <strong>Total</strong></td>
                                                    <td data-bind="text:total_quantity"></td>
                                                    <td data-bind="text:total_estimate_price"></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="col-xs-12 col-sm-6">
                                            <h5>Comentario</h5>
                                            <textarea data-bind="textInput:remark" readonly></textarea>
                                        </div>

                                        <div data-bind="if:requirement_status===6" class="col-xs-12 col-sm-6">
                                            @* boton aceptar*@

                                            <h5 style="margin: 0.5rem 1.6rem"> Subida de xml</h5>
                                            <div style="height: 3rem"></div>
                                            <div class="input-container col-xs-6">
                                                <input type="file" class="form-control-file " required multiple accept=".xml" data-bind="attr: {id: 'input_'+$index()}">
                                                @* <label  data-bind="  attr: {for: 'input_'+$index()}" class="input-file-label">Selecciona un archivo</label>*@
                                            </div>
                                            <button class="btn btn-sm btn-success pull-right " data-bind="click:()=>$parent.upload_xmls($data,$index), attr: {id: 'btn_' + $index()}"><i class="fa fa-save"></i> Aceptar</button>
                                        </div>
                                        <div class="pull-right col-xs-4 col-sm-3" style="padding: 1rem;" data-bind="if:requirement_status===7">

                                            <div class="pull-right" style="margin-top: 52px;">
                                                <button class="btn btn-sm btn-success" data-bind="click:()=>$parent.confirm_cancel($data)"> Terminar</button>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h4 style="margin: 3rem 0 0 auto">Autorizaciones pendientes</h4>
                    <h5 class="" data-bind="if: history_list().length===0"> No hay Autorizaciones pendientes</h5>
                    <div class="table-responsive" data-bind="if:history_list().length > 0">
                        <table id="table" class="table table-striped table-bordered table-hover" style="width: 100%">
                            <thead>
                                <tr>
                                    <th id=""> Detalles </th>
                                    <th>Folio</th>
                                    <th>Cantidad total</th>
                                    <th>Total estimado</th>
                                    <th>Paso</th>
                                    @* <th>Estado</th>*@
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: history_list">
                                <tr>
                                    <td style="width: 8rem" data-bind="click:()=>$parent.on_details_click('ex_td_','ex_details_',$data,$index())">
                                        <div class="arrow_i" data-bind="attr: {id: 'ex_td_'+$index()}"></div>
                                    </td>
                                    <td data-bind="text:approval_id"></td>
                                    <td data-bind="text:total_quantity"></td>
                                    <td data-bind="text:total_estimate_price"></td>
                                    <td data-bind="text:step_level +'/'+step_total"></td>
                                    <td data-bind="text:approval_status"></td>
                                </tr>
                                <tr data-bind="attr: {id: 'ex_details_'+$index()}" style="display: none;">
                                    <td colspan="6" class="row">
                                        <table id="table" class="table table-striped table-bordered table-hover" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th id="pr_th_btn">Codigo</th>
                                                    <th>Descripción</th>
                                                    <th>Categoria</th>
                                                    <th>Provedor</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio unitario estimado</th>
                                                    @*<th>Total Final</th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="tbody">
                                                <!-- ko foreach: expense_list -->
                                                <tr>
                                                    <td data-bind="text:part_number"></td>
                                                    <td data-bind="text:description"></td>
                                                    <td data-bind="text:category"></td>
                                                    <td data-bind="text:supplier_name"></td>
                                                    <td data-bind="text:quantity"> </td>
                                                    <td data-bind="text:estimate_price"> </td>
                                                </tr>
                                                <!-- /ko -->
                                                <tr>
                                                    <td colspan="3"></td>
                                                    <td> <strong>Total</strong></td>
                                                    <td data-bind="text:total_quantity"></td>
                                                    <td data-bind="text:total_estimate_price"></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div data-bind="if: requirement_status===5" class="row">
                                            <div class="col-xs-8 col-sm-3">
                                                <h5>Comentario</h5>
                                                <textarea data-bind="textInput:remark"></textarea>
                                            </div>
                                            <div class="pull-right col-xs-4 col-sm-3" style="padding: 1rem;">

                                                <div class="pull-right" style="margin-top: 52px;">
                                                    <button class="btn btn-sm btn-danger" data-bind="click:()=>$parent.send_approval(false,$data)"><i class="fa fa-close"></i> Rechazar</button>
                                                    <button class="btn btn-sm btn-success" data-bind="click:()=>$parent.send_approval(true,$data)"><i class="fa fa-save"></i> Aceptar</button>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @* Agregar Gasto *@
            <div id="tab2" class="tab-pane ">
                <div class="panel-body container-fluid">

                    <div class="row">
                        <div class="form-group ">
                            <h5> Busqueda de productos</h5>
                            <input type="text" class="list-group-item col-xs-12" placeholder="Escriba 3 caracteres para empezar" data-bind="textInput:search_text_input">
                            <div style="margin: 1px; width: 100%; ">
                                <div id="etxt_search" class="text-center" data-bind="text:txt_msg"></div>
                            </div>
                            <div id="search_container" class="list-group col-xs-12 ">
                                <div class="col-xs-12  " data-bind="foreach: search_results" style="float: left; position: absolute; padding: 0; z-index: 50000">
                                    <button type="button" class="list-group-item mx-0" data-bind="click: $parent.search_item_onclick" style="background-color: white;">
                                        <strong data-bind="text:description"></strong> <span data-bind="text:category"></span> <span data-bind="text:supplier_name"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5 class="text-center" data-bind="if: expense_list().length===0"> Puede agregar productos desde la barra de busqueda de arriba</h5>
                    <div class="table-responsive row " data-bind="if: expense_list().length>0">
                        <table id="table" class="table table-striped table-bordered table-hover" style="width: 100%">
                            <thead>
                                <tr>
                                    <th id="pr_th_btn">Codigo</th>
                                    <th>Descripción</th>
                                    <th>Categoria</th>
                                    <th>Provedor</th>
                                    <th>Cantidad</th>
                                    <th>Precio unitario estimado</th>
                                    @*<th>Total Final</th>*@
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                <!-- ko foreach: expense_list -->
                                <tr>
                                    <td data-bind="text:part_number"></td>
                                    <td data-bind="text:description"></td>
                                    <td data-bind="text:category"></td>
                                    <td data-bind="text:supplier_name"></td>
                                    <td><input class='required form-control' data-bind="textInput:quantity, event:{ keyup :$parent.on_change_quantity}" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode === 46" /></td>
                                    <td><input class='required form-control' data-bind="textInput:estimate_price, event:{ keyup :$parent.on_change_estimate_price}" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode === 46" /></td>
                                </tr>
                                <!-- /ko -->
                                <tr>
                                    <td colspan="3"></td>
                                    <td> <strong>Total</strong></td>
                                    <td data-bind="text:total_quantity"></td>
                                    <td data-bind="text:total_estimate_price"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <form class="form-inline row " style="padding: 1rem 0">
                        <div class="form-group col-xs-12">
                            <label class="sck_container">
                                Enviar a Nuevos proyectos
                                <input type="checkbox" data-bind="checked: to_new_projects">
                                <span class="checkmark"></span>
                            </label>
                            <button class="btn btn-success pull-right" data-bind="click: registry_expense"><i class="fa fa-save"></i> Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/request")
    @Scripts.Render("~/bundles/expenses")
    <script>
        const c = new CreateExpensesViewModel();
        const l = new ListExpensesViewModel();
        c.on_upload_ok = () => l.load_list();
        ko.applyBindings(c, document.getElementById('tab2'));
        ko.applyBindings(l, document.getElementById("tab1"));
        $(".date").datepicker({
            autoclose: true,
            todayHighlight: true,
            showButtonPanel: true,
        });
    </script>
}