﻿@model FloridoERPTX.ViewModels.Purchases.PUCH013ViewModel
@{ ViewBag.Title = "Cambio de Precios"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH007">Productos</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Cambio de precios</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Cambio de precios
            </h2>
            <small>Programar precio del producto del producto en Tienda.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    <h3>Buscar Proveedor.</h3>
                </div>
                <div class="panel-body">
                    <div class="m-t-sm">
                        <div class="form-group col-lg-6">
                            <label for="" data-toggle="tooltip" data-placement="right">
                                Selecciona un Proveedor.
                            </label>
                            @Html.DropDownListFor(m => m.Suplier, Model.SupplierListItems, new { @class = "form-control", @id = "suppliersDrop", @onchange = "return GetProductsCostBySupplier();" })
                        </div>
                    </div>
                    <div class="pull-right">
                        <br />
                        <button id="btn-cancel" type="button" class="btn w-xs btn-danger" onclick="DeleteAll();"><i class="fa fa-close"></i> Cancelar</button>
                        <button id="btn-save" type="button" class="btn w-xs btn-success" onclick="SavePrices();"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                    <div class="back-link col-lg-10">
                        <h4 style="font-family: Verdana;" class="col-lg-10  m-t-md">
                            Productos por Proveedor.
                        </h4>
                        <div class="col-lg-2" id="filterDiv">
                            <br />
                            <input type="text" id="filter" name="name" value="" class="form-control" onkeyup="Search()" />
                        </div>
                    </div>
                    <div class="col-lg-12 table-responsive">
                        <table cellpadding="1" cellspacing="1" id="tableChangePrice" class="table table-striped table-bordered table-hover" style="clear: both">
                            <thead>
                                <tr>
                                    <th width="10%">Código de barra</th>
                                    <th style="font-family: Verdana; font-size:10pt; text-align:center" width="20%">Descripción</th>
                                    <th style="font-family: Verdana; font-size:10pt; text-align:center" title="Costo de Producto" width="10%">Costo</th>
                                    <th style="font-family: Verdana; font-size:10pt; text-align:center" title="IVA" width="5%">IVA</th>
                                    <th style="font-family: Verdana; font-size:10pt; text-align:center" title="IEPS" width="5%">IEPS</th>
                                    <th style="font-family: Verdana; font-size:10pt; text-align:center" title="Costo con Impuestos" width="10%">Costo con Impuestos</th>
                                    <th style="font-family: Verdana; font-size:10pt; text-align:center" title="Las ganancias del producto" width="10%">Margen</th>
                                    <th style="font-family: Verdana; font-size:10pt; text-align:center" width="15%">Precio</th>
                                </tr>
                            </thead>
                            <tbody id="tableChangePriceBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURC013/js") }