﻿

@model App.Entities.ViewModels.Expenses.ExpensesReportListModel
@{ ViewBag.Title = "PURC024"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }

    textarea {
        text-transform: lowercase;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras </a></li>
                    <li>
                        <span>GASTOS</span>
                    </li>
                    <li class="active">
                        <span>Autorización de Eliminación de Gastos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Autorización de Eliminación de Gastos de Tienda
            </h2>
            <small>Autorización de Eliminación de Gastos variables y Fijos</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Autorización de Eliminación de Gastos variables y Fijos</a>
                </div>
                <div class="panel-body">
                    <div class="row ">
                        <div class="col-lg-12">
                            <div class="form-group col-lg-4">
                                <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                                <div class="input-daterange input-group" id="datepicker">
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                        <input id="BeginDate" class="form-control" autocomplete="off" readonly="readonly" />
                                    </div>
                                    <span class="input-group-addon">A</span>
                                    <div class="input-group date">
                                        <input id="EndDate" class="form-control" autocomplete="off" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  col-lg-5">
                                <label>Acreedores</label>
                                <select id="supplier" class="form-control">
                                    <option value="" selected>Todos los Acreedores</option>
                                    @foreach (var item in Model.Ma_SupplierList)
                                    {
                                        <option value="@item.SupplierId">@item.BusinessName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <label>Tipos de Gastos</label>
                                <select id="typeTypeExpense" class="form-control">
                                    <option value="" selected>Todos las categorias</option>
                                    <option value="gastos">GASTOS</option>
                                    <option value="INTERNO">INTERNO</option>
                                    <option value="MAQUINARIA">MAQUINARIA</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-1 text-center hide" style="margin-top:3px">
                                <label>Detalle</label>
                                <br />
                                <div class="form-group hide">
                                    <label> <input type="checkbox" id="cbox_ReportType" onclick="checkDetail();" class="i-checks"></label>
                                </div>
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Areas</label>
                                <select id="typeCategory" class="form-control">
                                    <option value="" selected>Todos las Areas</option>
                                    @foreach (var item in Model.ListCategory)
                                    {
                                        <option value="@item.vkey">@item.description</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Monedas</label>
                                <select id="typeCurrency" class="form-control ">
                                    <option value="" selected>Todas las Monedas</option>
                                    <option value="MXN">MXN</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3 hide">
                                <label>Estatus</label>
                                <select id="typeStatus" class="form-control ">
                                    <option value="" disabled>Todos los Estatus</option>
                                    <option value="9" disabled>Finalizado</option>
                                    <option value="1" selected>Solicitud Cancelacion (Contadora)</option>
                                    <option value="2" disabled>Solicitud Cancelacion (Distrital)</option>
                                    <option value="8" disabled>Cancelado</option>
                                </select>
                            </div>
                            <div class="col-lg-3" style="margin-top:5px;">
                                <br />
                                <button id="Search" class="btn btn-primary" onclick="SearchExpense();"><i class="fa fa-eye"></i> Mostrar</button>
                                <button id="Print" class="btn btn-success hide" disabled><i class="fa fa-print"></i> Imprimir</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-12">
                        <div id="TableDivExpenses" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="TableExpenses" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Folio</th>
                                            <th>Area</th>
                                            <th>Tipo de Gasto</th>
                                            <th>Proveedor</th>
                                            <th>Factura</th>
                                            <th>Fecha de Registro</th>
                                            <th>Moneda</th>
                                            <th>SubTotal</th>
                                            <th>IVA</th>
                                            <th>IEPS</th>
                                            <th>Descuento</th>
                                            <th>ISR Ret.</th>
                                            <th>IVA Ret.</th>
                                            <th>Total</th>
                                            <th>Reporte</th>
                                            <th>TypeXML</th>
                                            <th>Estaus</th>
                                            <th>ExpenseToday</th>
                                            <th>ExpenseMonth</th>
                                            <th>Expense_Status</th>
                                            <th>RemarkXML</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div id="TableDivExpensesDetail" hidden class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="TableExpensesDetail" hidden class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Folio</th>
                                            <th>Factura</th>
                                            <th>Código</th>
                                            <th>Descripción</th>
                                            <th>Area</th>
                                            <th>Tipo de Gasto</th>
                                            <th>Proveedor</th>
                                            <th>Fecha de Registro</th>
                                            <th>Moneda</th>
                                            <th>Costo Unit.</th>
                                            <th>Cantidad</th>
                                            <th>SubTotal</th>
                                            <th>IVA</th>
                                            <th>IEPS</th>
                                            <th>Descuento</th>
                                            <th>ISR Ret.</th>
                                            <th>IVA Ret.</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Gastos</h4>
                <small id="ModalDescription" class="font-bold">Gastos</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade hmodal-danger" id="ModalInvoice" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitleInvoice" class="modal-title">Numero Factura</h4>
                <small id="ModalTextInvoice" class="font-bold">Numero factura del proveedor.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Comentario Obligatorio para cancelar el gasto: (minimo 8 caracteres) </label>
                        <textarea id="inputComment" style="max-width:850px;max-height:150px;min-width:100px;min-height:100px;width:850px" class="form-control" maxlength="80"></textarea>
                    </div>
                    </br>
                    <br>
                    <div class="col-lg-12">
                        <p><i class="fa fa-user"></i> <b>Usuario Tienda:</b> <span id="commentStore"> </span> </p>
                    </div>
                    <div class="col-lg-12 hide">
                        <p><i class="fa fa-user"></i> <b>Area contable:</b> <span id="commentAccounting"> </span> </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-2">
                    <button type="button" class="btn btn-outline btn-danger" onclick="MessageCancelReverse()"><i class="fa fa-close"></i> Rechazar cancelación</button>
                </div>
                <div class="col-lg-10">
                    <button type="button" class="btn btn-success" onclick="MessageSaveCancelInvoiceAuthorization()"><i class="fa fa-check"></i> Aprobar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model))
@section Scripts { @Scripts.Render("~/bundles/PURCH024/js") }
