﻿@model App.Entities.ViewModels.PurchaseOrder.PurchesOrderAndUserModel
@{
    ViewBag.Title = "PURC0014";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <a href="MENU000">Compras</a>
                    </li>
                    <li>
                        <a href="MENU001">Pedidos</a>
                    </li>
                    <li class="active">
                        <a>Editar orden de compra</a>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Editar Orden de Compra
            </h2>
            <small>Editar Orden de Compra</small>
        </div>
    </div>
</div>

<div class="content animate-panel" id="search" style="padding-bottom:0">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Editar</a>
                </div>
                <div class="panel-body">
                    <div class="col-lg-4">
                        <label>Orden de compra</label>
                        <select class="form-control" id="orderSelect" onchange="WhatIsSupplier()">
                            <option value="0">Seleccione una opcion</option>
                            @foreach (var item in Model.ListPurchase)
                            {
                                <option value="@item.PurchaseNo">@item.PurchaseNo - @item.supplier_name</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-success" style="margin-top:22px;" onclick="AddProduct()">
                            <i class="fa fa-plus-square-o"></i> Agregar producto
                        </button>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-success pull-right" style="margin-top:22px;" onclick="UpdateProducts()">
                            <i class="fa fa-refresh"></i> Actualizar
                        </button>
                    </div>
                    <div class="col-lg-12" style="margin-top:22px;">
                        <div class="table-responsive">
                            <table id="purchasesTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>UPC</th>
                                        <th>Producto</th>
                                        @*<th>Factor</th>*@
                                        <th>Tot.Piezas</th>
                                        <th>Unidad</th>
                                        <th>Costo </th>
                                        <th>IVA</th>
                                        <th>IEPS</th>
                                        <th>Importe</th>
                                        <th>Tot.IVA </th>
                                        <th>Tot.IEPS </th>
                                        <th>Tot.Importe</th>
                                        <th>Costo Base</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="cancelOrderButtonDiv" hidden class="col-lg-2" style="margin-top:22px;">
                            <button id="cancelOrderButton" class="btn btn-danger pull-left"><i class="fa fa-trash"></i> Eliminar</button>
                        </div>
                        <div class="col-lg-offset-10" style="margin-top:10px;">
                            <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped col-lg-12">
                                <tbody>
                                    <tr>
                                        <td>Moneda </td>
                                        <td><label id="currency">---</label></td>
                                    </tr>
                                    <tr>
                                        <td>Subtotal $ </td>
                                        <td><label id="subTotalTable">$0.00</label></td>
                                    </tr>
                                    <tr>
                                        <td>IVA Total $ </td>
                                        <td><label id="ivaTotalTable">$0.00</label></td>
                                    </tr>
                                    <tr>
                                        <td>IEPS Total $</td>
                                        <td><label id="iepsTotalTable">$0.00</label></td>
                                    </tr>
                                    <tr>
                                        <td>Total $ </td>
                                        <td class="col-lg-5"><label id="importeTotalTable">$0.00</label></td>
                                    </tr>
                                    @*<tr>
                                        <td>Moneda</td>
                                        <td class="col-lg-5"><label id="currencyLabel">-</label></td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-warning" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-briefcase"></i> Orden de compra</h4>
                <small class="font-bold">Editar orden de compra</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label>
                            <i class="fa fa-barcode"></i> Código
                        </label>
                        <p id="pPartNumber">
                            0000
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <label>
                            <i class="fa fa-shopping-basket"></i> Costo base
                        </label>
                        <p id="pPrice">
                            0000
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <label><i class="fa fa-usd"></i> Nuevo Costo base </label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-usd"></span>
                            </span>
                            <input type="number" name="name" class="form-control" id="inputPrice" min="0" max="9999999" value="" />
                        </div>
                    </div>
                    @*<div class="col-lg-3">
                        <label>Cantidad</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-cubes"></span>
                            </span>
                            <input type="number" name="name" class="form-control" id="inputEditQuantity" min="0" max="9999999" value="" />
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" onclick="EditOrderPartNumber()"><i class="fa fa-pencil"></i>  Editar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-success" id="modalAdd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title"> <i class="fa fa-cube"></i> Agregar producto</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Producto</label>
                        <input class="form-control" id="ItemsDrop" name="ItemsDrop" onchange="AddInfoProduct()" />
                    </div>
                    <div class="col-lg-6">
                        <label>Cantidad</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-cubes"></span>
                            </span>
                            <input type="number" name="name" class="form-control" id="inputQuantity" min="0" max="9999999" value="" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:22px;">
                    <div class="col-lg-4">
                        <label><i class="fa fa-shopping-basket"></i> Precio Base</label>
                        <p id="pPriceAdd">
                            $0
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <label><i class="fa fa-shopping-basket"></i> IVA</label>
                        <p id="pIva">
                            0%
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <label><i class="fa fa-shopping-basket"></i> IEPS</label>
                        <p id="pIeps">
                            0%
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SaveAddProduct()"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", serializer.Serialize(Model.User))
@section Scripts { @Scripts.Render("~/bundles/PURC0014/js") }