﻿@model FloridoERPTX.ViewModels.Purchases.AddSupplierViewModel
@{ ViewBag.Title = "PURCH002"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras</a></li>
                    <li><a href="PURCH002">Acreedor</a></li>
                    <li class="active">
                        <span>Agregar</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Agregar  Acreedor
            </h2>
            <small>Modulo para agregar un acreedor nuevo</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="hpanel">
                <ul class="nav nav-tabs">
                    @*<li class="active" title="Agregar Proveedor" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" onclick="ChangeTab('Proveedor'); "> <i class="fa fa-plus"></i>&nbsp;Agregar Proveedor</a></li>*@
                    <li class="active" title="Agregar Acreedor" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" onclick="ChangeTab('Acreedor');"><i class="fa fa-plus"></i>&nbsp;Agregar Acreedor</a></li>
                </ul>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 id="titleInformation">Información del Acreedor</h2>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <label for="rfc">RFC:</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                @Html.TextBoxFor((x => x.rfc), new { @class = "form-control required", Style = "text-transform:uppercase", @onfocusout = "validateRequired();validateRfc();", @maxlength = "15" })
                            </div>
                        </div>
                        <div class="col-md-6" id="supplierFlags">
                            <div class="col-lg-4" style="padding-left:0px">
                                <div class="checkbox" style="display:inline-block;text-align:center"><label class="center" for="truck_foot" title="Pie de Camión" data-toggle="tooltip" data-placement="top" style="padding-right:5px; padding-left:0px;"><b>Entrada Pie de Camión</b></label><input type="checkbox" id="truck_foot" class="i-checks" style="text-align:center" /></div>
                            </div>
                            <div class="col-lg-4">
                                <div class="checkbox" style="display:inline-block;text-align:center"><label class="center" for="merchandise_entry" title="Entrada Sin Cargo" data-toggle="tooltip" data-placement="top" style="padding-right:5px; padding-left:0px;"><b>Entrada Sin Cargo</b></label><input type="checkbox" id="merchandise_entry" class="i-checks" /></div>
                            </div>
                            <div class="col-lg-4">
                                <div class="checkbox" style="display:inline-block;text-align:center"><label class="center" for="apply_return" title="Aplicar Devolución" data-toggle="tooltip" data-placement="top" style="padding-right:5px; padding-left:0px;" onclick=""><b>Aplicar Devolución</b></label><input type="checkbox" id="apply_return" class="i-checks" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="business_name">Razón Social:</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-institution "></i></span>
                                @Html.TextBoxFor((x => x.business_name), new { @class = "form-control required", @onfocusout = "validateRequired();", @maxlength = "150" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="commercial_name">Nombre Comercial:</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                                @Html.TextBoxFor((x => x.commercial_name), new { @class = "form-control required", @onfocusout = "validateRequired();", @maxlength = "150" })
                            </div>
                        </div>
                        <div class="pull-right col-md-6">
                            <div class="form-group">
                                <label class="center" for="type" title="IVA a la Compra" data-toggle="tooltip" data-placement="right">IVA Compra</label>
                                @Html.DropDownListFor(m => m.TipoProveedorIVA, Model.TypesListIVA, new { @class = "form-control", @id = "part_iva_purchase_supplier" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Ubicación</h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <label for="zip_code">Código Postal:</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                @Html.TextBoxFor((x => x.zip_code), new { @class = "form-control", @type = "text", @pattern = "[0-9]{5}", @onfocusout = "validateZIP();", @maxlength = "10" })
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label for="street_name">Dirección:</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-map"></i></span>
                                @Html.TextBoxFor((x => x.supplier_address), new { @class = "form-control", @onfocusout = "validateRequired();", @maxlength = "199" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="city">Ciudad:</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-map-signs"></i></span>
                                @Html.TextBoxFor((x => x.city), new { @class = "form-control", @onfocusout = "validateLetras();", @maxlength = "49" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="state">Estado:</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-map-pin"></i></span>
                                @Html.TextBoxFor((x => x.supplier_state), new { @class = "form-control", @onfocusout = "validateLetras();", @maxlength = "49" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="city">País:</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                                @Html.TextBoxFor((x => x.country), new { @class = "form-control", @onfocusout = "validateLetras();", @maxlength = "49" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Datos de Contactos</h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <form method="post" id="form_contact" name="form_contact">
                                <div class="form-row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="name">Nombre:</label>
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"><i class="pe-7s-users"></i></span>
                                                <input id="Name" name="Name" type="text" class="form-control" placeholder="Nombres" maxlength="80" onfocusout="validateName();" />
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="Last_Name">Apellido:</label>
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"><i class="pe-7s-users"></i></span>
                                                <input id="Last_Name" name="Last_Name" type="text" class="form-control" placeholder="Apellidos" maxlength="100" onfocusout="validateLastName();" />
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="Email">Correo:</label>
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"><i class="pe-7s-mail"></i></span>
                                                <input id="Email" name="Email" type="text" class="form-control" placeholder="correo@email.com" maxlength="120" onfocusout="validateEmail();" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="Phone">Teléfono:</label>
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"><i class="pe-7s-call"></i></span>
                                                <input id="Phone" name="Phone" type="text" class="form-control" placeholder="6641234567" maxlength="13" onfocusout="validatePhone();" />
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label for="department">Departamento:</label>
                                            <select id="department" name="department" class="form-control">
                                                <option value="0">Selecciona un tipo de Contacto</option>
                                                <option value="R">Recepcion</option>
                                                <option value="V">Ventas</option>
                                                <option value="C">Compras</option>
                                                <option value="CC">Contabilidad</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-1">
                                            <button style="margin:23px" class="btn btn-success" id="phone_button" onclick="validateRequired();" data-toggle="tooltip" title="Agregar Contacto">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <h5>Lista de Contactos</h5>
                    <div class="table-responsive m-t">
                        <table class="table table-striped table-bordered table-hover" style="width:100%" id="table_contacts">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Correo</th>
                                    <th>Teléfono</th>
                                    <th>Tipo</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-9">
                            <button class="btn btn-success" disabled onclick="return false;" style="width:100%;" id="btnRegistrar"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-md-3 col-md-offset-9">
                            <button class="btn btn-success" style="width:100%;" id="btnEditar"><i class="fa fa-save"></i> Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURCH002/js") }