﻿@model FloridoERPTX.ViewModels.Purchases.PurchasesOrderViewModel
@{
    ViewBag.Title = "PURC000";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras</a></li>
                    <li>
                        <span>Reportes</span>
                    </li>
                    <li class="active">
                        <span>Ordenes de Compra</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Ordenes de Compra
            </h2>
            <small>Reporte de ordenes de compra.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                    </div>
                    Ordenes
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="ValidDate1" class="form-control" autocomplete="off" />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input type="text" id="ValidDate2" class="form-control" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Proveedores</label>
                            <input class="form-control" id="SuppliersDrop" name="SuppliersDrop" />
                        </div>
                        <div class="col-lg-4">
                            <label>Productos</label>
                            <input class="form-control" id="ItemSelect" name="ItemSelect" />
                        </div>
                        <div class="col-lg-4">
                            <label>Estatus</label>
                            <select class="form-control select2" id="status">
                                <option value="0" selected>Seleccione un estatus</option>
                                <option value="1">Confirmada</option>
                                <option value="3">Escaneado</option>
                                <option value="8">Cancelada</option>
                                <option value="9">Terminada</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label>Departamento</label>
                            @Html.DropDownListFor(m => m.Departaments, Model.DepartamentsList, new { @class = "form-control select2", @id = "depto", @onchange = "GetFamily();" })
                        </div>
                        <div class="col-lg-4">
                            <label>Familia</label>
                            <select id="family" class="form-control select2">
                                <option value="">Seleccione una familia</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label>Moneda</label>
                            <select id="currency" class="form-control select2">
                                <option value="">Seleccione una Moneda</option>
                                @foreach (var item in Model.CurrencyList)
                                {
                                    <option value="@item.VKey">@item.VKey</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-1 text-center" style="margin-top:3px">
                            <label>Detalle</label>
                            <br />
                            <div class="form-group">
                                <label> <input type="checkbox" id="cbox_ReportType" onclick="checkDetailOC();" class="i-checks"></label>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <br />
                            <button class="btn btn-primary" id="buscar" onclick="SerchPO()"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                        <div class="col-lg-1">
                            <br />
                            <button class="btn btn-success" id="printPO" onclick="SerchPOReport()"><i class="fa fa-print"></i> Imprimir</button>
                        </div>
                    </div>
                    <br />
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TablePurchases" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th># Orden</th>
                                        <th>Proveedor</th>
                                        <th>Sucursal</th>
                                        <th>Fecha Recibida</th>
                                        <th>Factura</th>
                                        <th>Moneda</th>
                                        <th>Subtotal</th>
                                        <th>Iva</th>
                                        <th>Ieps</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th>Reporte</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    <div id="TableDivDetail" class="animate-panel" hidden data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TablePurchasesDetail" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th># Orden</th>
                                        <th>Código</th>
                                        <th>Descripción</th>
                                        <th>Departamento</th>
                                        <th>Familia</th>
                                        <th>Entrada</th>
                                        <th>Entrada Esperada</th>
                                        <th>Proveedor</th>
                                        <th>Moneda</th>
                                        <th>Cantidad</th>
                                        <th>Costo Unitario</th>
                                        <th>Importe</th>
                                        <th>IVA</th>
                                        <th>IEPS</th>
                                        <th>SubTotal</th>
                                        <th>Estatus</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header">
                        <h4 id="ModalTitle" class="modal-title">Orden de compra</h4>
                        <small id="ModalDescription" class="font-bold">Reporte de orden de compra Numero.</small>
                        @*<div id="DivEmailsShow" class="form-group pull-right" title="" data-placement="left" data-toggle="tooltip">
                            <button type="button" onclick="SendEmailPurchases();" id="btnSendEmail" class="btn btn-info"><i class="fa fa-send"></i> Enviar</button>
                        </div>*@
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="DivEmailsShow" class="form-group pull-left" title="" data-placement="left" data-toggle="tooltip">
                            <button type="button" onclick="SendEmailPurchases();" id="btnSendEmail" class="btn btn-info"><i class="fa fa-send"></i> Enviar</button>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Ordenes de Compra</h4>
                <small id="ModalDescription" class="font-bold">Reporte de diferencias de inventario.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Cancelar</button>
            </div>
            </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model.purchasesOrder))
@section Scripts { @Scripts.Render("~/bundles/PURC000/js") }