﻿@model FloridoERPTX.ViewModels.Purchases.ListSuppliersViewModel
@{ ViewBag.Title = "Listado Acreedores"; }

<div class="modal fade in" id="showSupplier" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center" style="max-height:150px">
                <h4 class="modal-title" id="txtSupplierName">-</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label></label>
                    </div>
                    <div class="col-md-4">
                        <label><i class="fa fa-newspaper-o"></i> RFC:</label>
                        <div id="txtSupplierRfc">-</div>
                    </div>
                    <div class="col-md-4">
                        <label><i class="fa fa-industry"></i> Tipo:</label>
                        <div id="txtSupplierType">-</div>
                    </div>
                    <div class="col-md-4">
                        <label><i class="fa fa-building"></i> Cuenta Contable:</label>
                        <div id="txtSupplierAccountingAccount">-</div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-map-marker"></i>&nbsp Domicilio</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <label><i class="fa fa-map"></i> Dirección:</label>
                        <div id="street_namee">-</div>
                    </div>
                    <div class="col-md-12">
                        <label></label>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-map-marker"></i> Codigo Postal:</label>
                        <div id="zip_codee">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-map-signs"></i> Ciudad:</label>
                        <div id="cityy">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-map-pin"></i> Estado:</label>
                        <div id="statee">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-globe"></i> Pais:</label>
                        <div id="countryy">-</div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-diskette"></i>&nbsp Datos de Alta</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label><i class="fa fa-calendar-plus-o"></i> Fecha de Alta:</label>
                        <div id="cdate">-</div>
                    </div>
                    <div class="col-md-4">
                        <label><i class="fa fa-user"></i> Lo dio de alta:</label>
                        <div id="cuser">-</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH001">Acreedores</a></li>
                    <li class="active">
                        <span>Ver Acreedores</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Catálogo Acreedores
            </h2>
            <small>Puedes buscar por RFC, Razon Social</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-heading">
                    Listado Acreedores
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-bordered table-hover dataTable no-footer" id="tableSuppliers" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Id</th>
                                        <th>RFC</th>
                                        <th>Nombre Comercial</th>
                                        <th>Razón Social</th>
                                        <th>Tipo</th>
                                        <th>Dirección</th>
                                        <th>Código Postal</th>
                                        <th>Ciudad</th>
                                        <th>Estado</th>
                                        <th>País</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-supplier" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-building"></i> Modificar Acreedores</h4>
                <small id="ModalDescription" class="font-bold">Formulario para modificar un acreedores.</small>
            </div>
            @using (Html.BeginForm("ActionEditSupplier", "Suppliers", FormMethod.Post, new { name = "formEdit", id = "formEdit" }))
            {
                <div class="modal-body">
                    <div class="row">
                        <div style="display:none" class="form-group col-lg-6">
                            <label for="supplier_id" title="supplier_id" data-toggle="tooltip" data-placement="right">Id</label>
                            @Html.TextBoxFor((x => x.supplier_id), new { @class = "form-control" })
                        </div>
                        <div class="col-lg-12">
                            <div class="hpanel">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-institution"></i> Datos Principales</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-map-marker"></i> Direccion</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-comments"></i> Contactos</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active">
                                        <div class="panel-body">
                                            <div class="col-lg-12">
                                                <div class="form-group col-lg-6">
                                                    <label for="rfc" title="Registro Federal de Contribuyente" data-toggle="tooltip" data-placement="right">R.F.C</label>
                                                    <div class="input-group m-b">
                                                        <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                                        @Html.TextBoxFor((x => x.rfc), new { @class = "form-control", @onfocusout = "validateRfc();" })
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label for="commercial_name" title="Nombre de Proveedor." data-toggle="tooltip" data-placement="right">Nombre Comercial</label>
                                                    <div class="input-group m-b">
                                                        <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                                                        @Html.TextBoxFor((x => x.commercial_name), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group col-lg-6">
                                                    <label for="business_name" title="Razón Social" data-toggle="tooltip" data-placement="right">Razon Social</label>
                                                    <div class="input-group m-b">
                                                        <span class="input-group-addon"><i class="fa fa-institution "></i></span>
                                                        @Html.TextBoxFor((x => x.business_name), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                @* TIPO DE PROVEEDOR----------------------- *@
                                                <div class="form-group col-lg-3">
                                                    <label class="center" for="type" title="Tipo de Proveedor" data-toggle="tooltip" data-placement="right">Tipo de Proveedor</label>
                                                    @Html.DropDownListFor(m => m.TipoProveedor, Model.TypesList, new { @class = "form-control", @id = "supplier_type", disabled = "disabled" })
                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label class="center" for="type" title="IVA a la Compra" data-toggle="tooltip" data-placement="right">IVA Compra</label>
                                                    @Html.DropDownListFor(m => m.TipoProveedorIVA, Model.TypesListIVA, new { @class = "form-control", @id = "part_iva_purchase_supplier" })
                                                </div>
                                                <div class="col-lg-3 pull-right">
                                                    <button type="button" class="btn btn-primary btn-block" id="btnSaveIVA" onclick="UpdatePartIvaSupplier()"><i class="fa fa-save"></i> Aplicar IVA</button>
                                                </div>
                                            </div>
                                            <div class="col-lg-12" id="checksSupplier">
                                                <div class="col-lg-4">
                                                    <div class="checkbox"><label class="center" for="type" title="Pie de Camión" data-toggle="tooltip" data-placement="right" style="padding-right:10px; padding-left:0px;"><b>Entrada Pie de Camión</b></label><input type="checkbox" id="truck_foot" class="i-checks" /></div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="checkbox"><label class="center" for="type" title="Entrada Sin Cargo" data-toggle="tooltip" data-placement="right" style="padding-right:10px; padding-left:0px;"><b>Entrada Sin Cargo</b></label><input type="checkbox" id="merchandise_entry" class="i-checks" /></div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="checkbox"><label class="center" for="type" title="Aplicar Devolución" data-toggle="tooltip" data-placement="right" style="padding-right:10px; padding-left:0px;"><b>Aplicar Devolución</b></label><input type="checkbox" id="apply_return" class="i-checks" onclick="checkDetailDG();" /></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-11" id="checksSupplierDG">
                                                <div class="pull-right">
                                                    <div class="checkbox"><label class="center" for="type" title="Solicitud Devolución" data-toggle="tooltip" data-placement="right" style="padding-right:10px; padding-left:0px;"><b>Solicitud Devolución</b></label><input type="checkbox" id="purchase_applied_return" class="i-checks" /></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-2" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="form-group col-lg-8">
                                                <label for="supplier_address" title="Dirección" data-toggle="tooltip" data-placement="right">Dirección</label>
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon"><i class="fa fa-map"></i></span>
                                                    @Html.TextBoxFor((x => x.supplier_address), new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label for="zip_code" title="Código Postal" data-toggle="tooltip" data-placement="right">Código Postal</label>
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                    @Html.TextBoxFor((x => x.zip_code), new { @class = "form-control", @type = "text", @pattern = "[0-9]{5}", @onfocusout = "validateZIP();" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label for="city" title="Ciudad" data-toggle="tooltip" data-placement="right">Ciudad</label>
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon"><i class="fa fa-map-signs"></i></span>
                                                    @Html.TextBoxFor((x => x.city), new { @class = "form-control", @id = "city", @name = "city", @onfocusout = "validateLetras();" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label for="supplier_state" title="Estado" data-toggle="tooltip" data-placement="right">Estado</label>
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon"><i class="fa fa-map-pin"></i></span>
                                                    @Html.TextBoxFor((x => x.supplier_state), new { @class = "form-control", @onfocusout = "validateLetras();" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label for="country" title="País" data-toggle="tooltip" data-placement="right">País</label>
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                                                    @Html.TextBoxFor((x => x.country), new { @class = "form-control", @onfocusout = "validateLetras();" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-3" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="col-lg-12">
                                                <label title="Agregar Contacto" data-toggle="tooltip" data-placement="right">Agregar Contacto</label>
                                                <div class="col-lg-12" style="padding:5px;">

                                                    <div class="col-md-4">
                                                        <div class="input-group m-b">
                                                            <span class="input-group-addon"><i class="pe-7s-users"></i></span>
                                                            <input id="NewNameContact" name="NewNameContact" type="text" class="form-control" placeholder="Nombre" maxlength="30" onfocusout="validateName()" data-toggle="tooltip" title="Nombre" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="input-group m-b">
                                                            <span class="input-group-addon"><i class="pe-7s-users"></i></span>
                                                            <input id="NewLast_nameContact" name="NewLast_nameContact" type="text" class="form-control" placeholder="Apellido" maxlength="30" onfocusout="validateLastName()" data-toggle="tooltip" title="Apellido" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="input-group m-b">
                                                            <span class="input-group-addon"><i class="pe-7s-call"></i></span>
                                                            <input id="NewPhoneContact" name="NewPhoneContact" type="number" maxlength="14" class="form-control" placeholder="Telefono" onfocusout="validatePhone()" data-toggle="tooltip" title="Teléfono" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12" style="padding:10px;">
                                                    <div class="col-lg-4">
                                                        <div class="input-group m-b">
                                                            <span class="input-group-addon"><i class="pe-7s-mail"></i></span>
                                                            <input id="NewEmailContact" name="NewEmailContact" type="text" class="form-control" maxlength="100" placeholder="Correo" onfocusout="validateEmail();" data-toggle="tooltip" title="Correo" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <select id="NewTypeContact" name="NewTypeContact" class="form-control">
                                                            <option value="">Selecciona un tipo</option>
                                                            <option value="Recepcion">Recepción.</option>
                                                            <option value="Ventas">Ventas.</option>
                                                            <option value="Compras">Compras.</option>
                                                            <option value="Contabilidad">Contabilidad.</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button type="button" class="btn btn-success" id="contact_add_button" data-toggle="tooltip" title="Agregar Contacto">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 table-responsive" style="padding:10px;">
                                                    <label title="Contactos Actuales" data-toggle="tooltip" data-placement="right">Contactos Actuales</label>
                                                    <table class="table table-hover table-bordered ">
                                                        <thead>
                                                            <tr>
                                                                <th style="font-size:5pt; text-align:center; display:none" width="1%"></th>
                                                                <th style="font-size:10pt; text-align:center" width="15%">Nombre</th>
                                                                <th style="font-size:10pt; text-align:center" width="15%">Apellido</th>
                                                                <th style="font-size:10pt; text-align:center" width="15%">Telefono</th>
                                                                <th style="font-size:10pt; text-align:center" width="25%">Correo</th>
                                                                <th style="font-size:10pt; text-align:center" width="15%">Tipo</th>
                                                                <th style="font-size:10pt; text-align:center" width="8%">  Activo  </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tableContacts"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="padding-top:1em;" class="pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearModal()"> <i class="fa fa-close"></i> Cancelar</button>
                        <button class="btn btn-success" id="btnSave"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model.listAllSuppliers))
@section Scripts { @Scripts.Render("~/bundles/PURCH003/js") }