﻿@model FloridoERPTX.ViewModels.DigitalTaxStamp.SendCFDI

@{
    ViewBag.Title = "Enviar CFDI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action(" CTMS000","Customers")">Ventas</a></li>
                    <li><a href="@Url.Action(" INVO001","Invoices")">Movimientos</a></li>
                    <li class="active">
                        <span>Agregar</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Envío Comprobante Fiscal Digital
            </h2>
            <small>Envío CFDI</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formSendCFDI" action="@Url.Action("INVO001","Invoices")" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.CFDITypeId, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-7 input-group m-b">
                            @Html.EnumDropDownListFor(model => model.CFDITypeId, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Serie, htmlAttributes: new { @class = "control-label" })
                            @Html.DisplayFor(model => model.Serie, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(model => model.SaveEmail)
                        <div class="icheckbox_square-green hover">
                            <input type="checkbox" class="i-checks" id="check-box">
                        </div>
                        @Html.LabelFor(model => model.SaveEmail, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="">
                        <div class="form-group col-lg-12">
                            <div class="text-right">
                                <button type="button" class="btn btn-success" id="SendCFDI">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            var checked = $("#SaveEmail").val();
            if (checked == 'True') {
                $("#check-box").addClass("checked");
            }

            $("#formSendCFDI").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    Number: {
                        number: true,
                        required: true
                    },
                    Email: {
                        email: true,
                        required: true
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            })
        });

        $("#SendCFDI").click(function () {
            var validNumber = $("#formSendCFDI").validate().element("Number");
            var validEmail = $("#formSendCFDI").validate().element("Email");
            if (validEmail && validNumber) {
                console.log('pasa');
            }
            else {
                console.log('no pasa');
            }
        })


    </script>
}
