﻿@{
                /**/

                ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div class="font-light m-b-xs text-center">
                <h2>
                    @ViewBag.SiteName
                </h2>
                <small class="text-primary text-center">Sistema integral</small>
            </div>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">

        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("MENWSM000", "Warehouse")">
                            <h4 class="m-b-xs">Almacen</h4>
                            <div class="m">
                                <i class="pe-7s-box1 fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de Almacen.
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            @*<div class="hpanel hyellow">*@
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("MENU000", "Purchases")">
                            <h4 class="m-b-xs">Compras</h4>
                            <div class="m">
                                <i class="pe-7s-cash fa-5x"></i>
                            </div>
                            <p>
                                Menu de compras.
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            @*<div class="hpanel hred">*@
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("MENADMS000", "Configuration")">
                            <h4 class="m-b-md">Configuracion</h4>
                            <div class="m">
                                <i class="pe-7s-tools fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de Configuracion
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("CTMS000", "Customers")">
                            <h4 class="m-b-md">Clientes</h4>
                            <div class="m">
                                <i class="fa-users fa fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de Clientes
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            @*<div class="hpanel hyellow">*@
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("MMRO000", "MRO")">
                            <h4 class="m-b-xs">MRO</h4>
                            <div class="m">
                                <i class="pe-7s-tools fa-5x"></i>
                            </div>
                            <p>
                                Menu MRO (Maquinaria, Reparaciones y Operaciones).
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @*<div class="hpanel hyellow">*@
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("SALE000", "Sales")">
                            <h4 class="m-b-xs">Ventas</h4>
                            <div class="m">
                                <i class="pe-7s-calculator fa-5x"></i>
                            </div>
                            <p>
                                Menú Ventas
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @*<div class="hpanel hyellow">*@
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("POS000", "POS")">
                            <h4 class="m-b-xs">Cajas</h4>
                            <div class="m">
                                <i class="pe-7s-credit fa-5x"></i>
                            </div>
                            <p>
                                Menú Cajas
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>


        @*<div class="col-md-6">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("MRE001", "Requisition")">
                            <h4 class="m-b-md">Requisiciones</h4>
                            <div class="m">
                                <i class="pe-7s-bell fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de Requisiciones
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>*@

    </div>

</div>


@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#divIndex").focus();
            window.setTimeout(function () {
                $("#fa").click();
            }, 5000);
        });

    </script>
}
