﻿@model FloridoERPTX.ViewModels.LoginViewModel
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>@ViewBag.SiteName</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    <!-- Vendor styles -->
    <link rel="stylesheet" href="~/vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/vendor/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="~/vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/toastr/build/toastr.min.css" />
    <!-- App styles -->
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="~/styles/style.css">
    <link rel="stylesheet" href="~/styles/static_custom.css">
    <link rel="shortcut icon" href="/Content/img/logoflorido.ico" type="image/x-icon" sizes="16x16">
</head>
<body class="blank tooltip-demo">

    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Espere Por Favor..</h1><p>Su petición se está procesando. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
    @if (Request.Browser.Browser.ToUpper().Contains("INTERNETEXPLORER"))
    {<p class="alert alert-danger">Usted está usando un navegador <strong>EXPLORER</strong>.  Le sugerimos utilizar cualquiera de los siguientes navegadores <strong>(Chrome,Opera)</strong>.</p>}
    <div class="back-link">
        <h1>
            <img src="~/Content/img/prt_erp.png" >
        </h1>
    </div>
    <div class="color-line"></div>
    <div class="login-container  animate-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3 class="font-extra-bold">@ViewBag.SiteName</h3>
                    <small class="font-extra-bold">Sistema integral</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { name = "LoginForm", id = "LoginForm" }))
                        {
                            <div class="form-group" title="Favor de introducir su usuario/email" data-toggle="tooltip" data-placement="left">
                                <label class="control-label" for="username">Usuario</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-user"></span>
                                    </span>
                                    @Html.TextBoxFor((x => x.Username), new { @class = "form-control", @placeholder = "ejemplo@elflorido.com.mx", @required = "" })
                                </div>
                                <span class="help-block small">Tu usuario para el sistema</span>
                            </div>
                            <div class="form-group" title="Favor de introducir su contraseña" data-placement="left" data-toggle="tooltip">
                                <label class="control-label" for="password">Contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-key"></span>
                                    </span>
                                    @Html.PasswordFor((x => x.Password), new { @class = "form-control", @placeholder = "*********", @required = "" })
                                </div>
                                <span class="help-block small">Tu contraseña</span>
                            </div>
                            @*<div class="form-group" title="Favor de introducir su contraseña" data-placement="left" data-toggle="tooltip">
                                    <label class="control-label" for="">Tienda</label>
                                    <select id="Combo" class="form-control m-b" name="account">
                                    </select>
                                </div>*@
                            <br />
                            <div>
                                <ol class="hbreadcrumb breadcrumb">
                                    <li>
                                        <a href="~/home/RecoveryPassword" data-toggle="tooltip" data-placement="left" title="Click para recuperar su contraseña">•(Olvide mi contraseña)</a>
                                    </li>
                                    <li>
                                        <a href="~/home/Unlocking" data-toggle="tooltip" data-placement="left" title="Click para desbloqueo de usuarios">•(Desbloquear mi cuenta)</a>
                                    </li>
                                </ol>
                            </div>
                            <button class="btn btn-success btn-block"><i class="fa fa-check"></i>  Iniciar</button>
                            <a class="btn btn-default btn-block" href="~/Home/Register"><i class="fa fa-user-plus"></i>  Registrarse</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="font-size: @Html.Raw(@ViewBag.BasculaToledoServer)px">
                <div class="form-group" title="@ViewBag.MyPathInServer" data-placement="top" data-toggle="tooltip">
                    <strong>@ViewBag.SiteName</strong> 2020 &copy; Distribuidora el Florido S.A. de C.V.
                </div>
            </div>
        </div>
    </div>
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/vendor/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/vendor/iCheck/icheck.min.js"></script>
    <script src="~/vendor/sparkline/index.js"></script>
    <script src="~/vendor/toastr/build/toastr.min.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- App scripts -->
    <script src="~/Scripts/homer.js"></script>
    <script>
        //VARIABLES DEL URL
        var viewR = ""
        var controller = ""
        var urll = ""
        $(document).ready(function () {
            //$.ajax({
            //    type: "GET",
            //    url: "/Home/SiteList",
            //    data: "",
            //    success: function (returndates) {
            //        var option = "";
            //        $.each(returndates, function (index, value) {
            //            option += '<option value=' + value.ip_address + '>' + value.site_name + '</option>'
            //        })
            //        $("#Combo").html(option);
            //        //window.location.href = 'http://localhost:60532/Home/index';
            //    },
            //    error: function (returndates) {
            //        //window.location.href = ' http://10.11.0.19:33'
            //        EndLoading();
            //        toastr.error('Alerta - Error inesperado contactar a sistemas.');
            //    }
            //});

            //2 PARAMETROS EN URL
            urll = window.location.href;
            if (urll.split('ReturnUrl')[0] != "") {
                controller = urll.split('%2f')[1];
                viewR = urll.split('%2f')[2];
            }
        });

        $("#LoginForm").validate({
            rules: {
                Username: {
                    required: true
                },
                Password: {
                    required: true
                }
            },
            messages: {
                Username: {
                    required: "El Campo no puede ser nulo"
                },
                Password: {
                    required: "El Campo no puede ser nulo",
                }
            },
            submitHandler: function (form) {
                StartLoading();
                $.ajax({
                    type: "POST",
                    url: "/Home/LoginEnter",
                    data: $(form).serialize(),
                    success: function (returndate) {
                        if (returndate.success) {
                            //$.ajax({
                            //    type: "POST",
                            //    url: "http://localhost:60532/Home/LoginEnter/",
                            //    data: $(form).serialize(),
                            //    success: function (returndate) {
                            //        EndLoading();
                            //        if (returndate.success)
                            //            window.location.href = 'http://localhost:60532/Home/index';
                            //        else
                            //            toastr.warning('Alerta - ' + returndate.responseText + '');
                            //    },
                            //    error: function (returndate) {
                            //        //window.location.href = ' http://10.11.0.19:33'
                            //        EndLoading();
                            //        toastr.error('Alerta - Error inesperado contactar a sistemas.');
                            //    }
                            //});

                            if (viewR == undefined && controller == undefined || urll.split('%2f')[3] != null)
                                window.location.href = 'http://' + window.location.host + '/Home/Index';
                            else
                                window.location.href = 'http://' + window.location.host + '/' + controller + '/' + viewR;
                        }
                        else {
                            EndLoading();
                            toastr.warning('Alerta - ' + returndate.responseText + '');
                        }
                    },
                    error: function (returndate) {
                        EndLoading();
                        toastr.error('Alerta - Error inesperado contactar a sistemas.');
                    }
                });
                return false;
            },
            //submitHandler: function (form) {
            //    StartLoading();
            //    if ($("#Combo").val() == window.location.host) {
            //        $.ajax({
            //            type: "POST",
            //            url: "/Home/LoginEnter",
            //            data: $(form).serialize(),
            //            success: function (returndate) {
            //                EndLoading();
            //                if (returndate.success)
            //                    window.location.href = 'http://' + window.location.host + '/Home/Index';
            //                else
            //                    toastr.warning('Alerta - ' + returndate.responseText + '');
            //            },
            //            error: function (returndate) {
            //                EndLoading();
            //                toastr.error('Alerta - Error inesperado contactar a sistemas.');
            //            }
            //        });
            //    }
            //    else {
            //        $.ajax({
            //            type: "POST",
            //            url: "http://" + $("#Combo").val() + "/Home/MCookie/",
            //            data: $(form).serialize(),
            //            success: function (returndate) {
            //                if (returndate.success) {
            //                    $.ajax({
            //                        type: "POST",
            //                        url: "/Home/PCooki",
            //                        data: { name: returndate.name, number: returndate.number },
            //                        success: function (returndates) {
            //                            window.location.href = 'http://' + $("#Combo").val() + '/Home/index';
            //                        },
            //                        error: function (returndates) {
            //                            //window.location.href = ' http://10.11.0.19:33'
            //                            EndLoading();
            //                            toastr.error('Alerta - Error inesperado contactar a sistemas.');
            //                        }
            //                    });
            //                    //window.location.href = 'http://localhost:60532/Home/index';
            //                }
            //                else {
            //                    EndLoading();
            //                    toastr.warning('Alerta - ' + returndate.responseText + '');
            //                }
            //            },
            //            error: function (returndate) {
            //                //window.location.href = ' http://10.11.0.19:33'
            //                $.ajax({
            //                    type: "POST",
            //                    url: "/Home/LoginEnter",
            //                    data: $(form).serialize(),
            //                    success: function (returndate) {
            //                        EndLoading();
            //                        if (returndate.success)
            //                            window.location.href = 'http://' + window.location.host + '/Home/Index';
            //                        else
            //                            toastr.warning('Alerta - ' + returndate.responseText + '');
            //                    },
            //                    error: function (returndate) {
            //                        EndLoading();
            //                        toastr.error('Alerta - Error inesperado contactar a sistemas.');
            //                    }
            //                });
            //                //toastr.error('Alerta - Error inesperado contactar a sistemas.');
            //                //EndLoading();
            //            }
            //        });
            //        return false;
            //    }
            //}
        });

    </script>
</body>
</html>