﻿@{
    Layout = null;
    var idCode = ViewBag.codestring;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>@ViewBag.SiteName | Recuperar Contraseña</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    <!-- Vendor styles -->

    <link rel="stylesheet" href="~/vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/vendor/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="~/vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/toastr/build/toastr.min.css" />
    <link rel="stylesheet" href="~/styles/static_custom.css">
    <!-- App styles -->
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="~/styles/style.css">
</head>
<body class="blank  tooltip-demo">

    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Espere Por Favor..</h1><p>Su petición se está procesando. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
    @if (Request.Browser.Browser.ToUpper().Contains("INTERNETEXPLORER"))
    {<p class="alert alert-danger">Usted está usando un navegador <strong>EXPLORER</strong>.  Le sugerimos utilizar cualquiera de los siguientes navegadores <strong>(Chrome,Opera)</strong>.</p>}
    <div class="color-line"></div>

    <div class="back-link">
        <h1>
            <a href="Login" class="pe-7s-home" data-toggle="tooltip" data-placement="right" title="Iniciar Sesión"></a>
        </h1>
    </div>
    <div class="login-container animate-panel">
        <div class="row">
            <div class="col-md-12">
                <p></p>
                @if (idCode == "" | idCode == null)
                {
                    <div class="text-center m-b-md">
                        <h3>RECUPERAR CONTRASEÑA</h3>
                        <small>Favor de llenar los campos.</small>
                    </div>
                    <div class="hpanel">
                        <div class="panel-body">
                            <p>
                                Ingrese su correo electrónico o su usuario, recibirá un correo electrónico de confirmación.
                            </p>
                            @using (Html.BeginForm("RecoveryPassword", "Home", FormMethod.Post, new { name = "loginForm1", id = "loginForm1" }))
                            {
                                <div class="form-group">
                                    <label class="control-label">Usuario/No. empleado</label>
                                    @Html.TextBox("EmailORuser", null, new { @class = "form-control", @placeholder = "Usuario/No. empleado", @required = "required" })
                                    <span class="help-block small">Tu usuario o numero de empleado registrado.</span>
                                </div>
                                <input class="btn btn-success btn-block" type="submit" onclick="return SendEmailToRecoveryPassword();" value="Restablecer Contraseña" />
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center m-b-md">
                        <h3>NUEVA CONTRASEÑA</h3>
                        <small>Favor de llenar los campos.</small>
                    </div>
                    <div class="hpanel">
                        <div class="panel-body">
                            <p>
                                Ingrese sus nuevos datos.
                            </p>
                            @using (Html.BeginForm("RecoveryPassword", "Home", FormMethod.Post, new { name = "FormInsert", id = "FormInsert" }))
                            {
                                <div class="form-group">
                                    <label class="control-label">Usuario/Numero de empleado</label>
                                    @Html.TextBox("EmpNumber", null, new { @class = "form-control", @placeholder = "Numero de empleado" })
                                    <label class="control-label">Contraseña</label>
                                    @Html.Password("NewPass", null, new { @class = "form-control", @placeholder = "Contraseña" })
                                    <label class="control-label">Re-contraseña</label>
                                    @Html.Password("NewPassRe", null, new { @class = "form-control", @placeholder = "Repetir Contraseña" })
                                    <span class="help-block small">Tu usuario o correo electronico registrados.</span>
                                </div>
                                <input class="btn btn-success btn-block" type="button" onclick="return InsertNewPass()" value="Recuperar" />
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>@ViewBag.SiteName</strong> @DateTime.Now.Year &copy; Distribuidora el Florido S.A. de C.V.
            </div>
        </div>
    </div>

    <!-- Vendor scripts -->
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/vendor/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/vendor/iCheck/icheck.min.js"></script>
    <script src="~/vendor/sparkline/index.js"></script>
    <script src="~/vendor/toastr/build/toastr.min.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- App scripts -->
    <script src="~/Scripts/homer.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#EmployeeNumber").focus();
            $("#FormInsert").validate({
                rules: {
                    EmpNumber: {
                        required: true,
                        
                        minlength: 2,
                        maxlength: 30
                    },
                    NewPass: {
                        required: true,
                        minlength: 4
                    },
                    NewPassRe: {
                        required: true,
                        minlength: 4,
                        equalTo: "#NewPass"
                    }

                },
                messages: {
                    EmpNumber: {
                        required: "El Campo no puede ser nulo",
                        number: "Solo se permiten numeros.",
                        minlength: "Favor de ingresar mas de 2 caracteres"
                    },
                    NewPass: {
                        required: "El Campo no puede ser nulo",
                        minlength: "Favor de ingresar mas de 4 caracteres"
                    },
                    NewPassRe: {
                        required: "El Campo no puede ser nulo",
                        minlength: "Favor de ingresar mas de 4 caracteres",
                        equalTo: "Favor de introducir la misma contraseña"
                    }
                }
            });
        });

        function SendEmailToRecoveryPassword() {
            if ($('#EmailORuser').val()) {
                StartLoading();
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Home/GetCodeRecoveryPassword",
                    data: { "employeeUsername": $('#EmailORuser').val(),type: true },
                    success: function (returndate) {
                        if (returndate.success) {
                            toastr.success('Alerta - ' + returndate.responseText + '');
                            $('#EmailORuser').val(null);
                        }
                        else
                            toastr.warning('Alerta - ' + returndate.responseText + '');
                    },
                    error: function (returndate) {
                        toastr.error('Alerta - Error Inesperado');
                    }
                });
                EndLoading();
                return false;
            }
        }

        function InsertNewPass() {
            if ($("#FormInsert").valid()) {
                if ($('#EmpNumber').val() && '@ViewBag.codestring' != "" && $('#NewPass').val()) {
                    StartLoading();
                    $.ajax({
                        type: "POST",
                        url: "/Home/RecoveryPassword",
                        data: { "empno": $('#EmpNumber').val(), "code": '@ViewBag.codestring', "password": $('#NewPass').val() },
                        success: function (returndate) {
                            EndLoading();
                            if (returndate.success) {
                                toastr.success('Alerta - ' + returndate.responseText + '');
                                $('#EmailORuser').val(null);
                                window.setTimeout(function () {
                                    EndLoading();
                                    window.location.href = "Login";
                                }, 2500);
                            }
                            else
                                toastr.warning('Alerta - ' + returndate.responseText + '');
                        },
                        error: function () {
                            EndLoading();
                            toastr.error('Alerta - Error Inesperado');
                        }
                    });

                    return false;
                }
            } else
                toastr.error('Favor de verificar sus datos.');
        }
    </script>
</body>
</html>