﻿@model App.Entities.ViewModels.Invoices.InvoicesSales


@{
    ViewBag.Title = "Sustitución de Facturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Movimientos</a></li>
                    <li class="active">
                        <span>Sustituir Factura</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Sustitución Facturas
            </h2>
            <small>Módulo para sustituir una facturar</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            @if (Model.IsFromMenu)
            {
                <form id="formInvoices" action="@Url.Action("INVO007", "Invoices")" method="post">
                    <div class="row">
                        <h4 style="margin-left:10px;">Sustituir Factura</h4>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-calculator"></i></span>
                                @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">&nbsp;</label>
                            <div class="">
                                <button type="button" class="btn btn-success" id="InvoiceDaily">Continuar</button>
                            </div>
                        </div>
                    </div>
                </form>
            }
            else
            {
                <form id="InvoiceSale">
                    <div class="row col-md-12">
                        @Html.HiddenFor(model => model.InvoiceNumber) @*Invoice Number that will be replaced*@
                        @Html.HiddenFor(model => model.Serie)
                        @Html.HiddenFor(model => model.IsFromMenu)
                        @Html.HiddenFor(model => model.ClientNumber)
                        @Html.HiddenFor(model => model.InvoiceSubst)

                        <div class="row col-md-12">
                            @Html.LabelFor(model => model.InvoiceSubst, htmlAttributes: new { @class = "control-label" })
                            @Html.DisplayFor(model => model.InvoiceSubst, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="row col-md-12">
                            @Html.LabelFor(model => model.NextInvoice, htmlAttributes: new { @class = "control-label" })
                            @Html.DisplayFor(model => model.NextInvoice, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="row col-md-12 form-group"></div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8" id="ClientInfo">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ClientNumber, htmlAttributes: new { @class = "control-label" })
                                    <span class="ClientNumber">@Html.DisplayFor(model => model.ClientNumber, new { htmlAttributes = new { @class = "form-control" } })</span>
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label" })
                                    <span class="ClientName">@Html.DisplayFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                                    <span class="Address">@Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })</span>
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })
                                    <span class="City">@Html.DisplayFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label" })
                                    <span class="State">@Html.DisplayFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })</span>
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label" })
                                    <span class="ZipCode">@Html.DisplayFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                                    <span class="PhoneNumber">@Html.DisplayFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })</span>
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.FaxNumber, htmlAttributes: new { @class = "control-label" })
                                    <span class="FaxNumber">@Html.DisplayFor(model => model.FaxNumber, new { htmlAttributes = new { @class = "form-control" } })</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="col-md-12">
                                @Html.HiddenFor(model => model.Subtotal)
                                @Html.LabelFor(model => model.Subtotal, htmlAttributes: new { @class = "control-label" })
                                @Html.DisplayFor(model => model.Subtotal, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-12">
                                @Html.HiddenFor(model => model.IVA)
                                @Html.LabelFor(model => model.IVA, htmlAttributes: new { @class = "control-label" })
                                @Html.DisplayFor(model => model.IVA, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-12">
                                @Html.HiddenFor(model => model.Total)
                                @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label" })
                                @Html.DisplayFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.PaymentTypeCode, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-7 input-group m-b">
                                @Html.DropDownListFor(model => model.PaymentTypeCode, null, htmlAttributes: new { @id = "Payment", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6 Currency">
                            @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-7 input-group m-b">
                                @Html.DropDownListFor(model => model.Currency, null, htmlAttributes: new { @id = "Currency", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.CFDICode, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-7 input-group m-b">
                                @Html.DropDownListFor(model => model.CFDICode, null, htmlAttributes: new { @id = "CFDI", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="">
                            <div class="form-group col-lg-12">
                                <div class="text-right">
                                    <button type="button" class="btn btn-success" id="GenerateInvoice">Generar Factura</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalPdf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Factura PDF</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <object id="Pdf-iframe" style="width:100%" height="350" frameborder="0" type="application/pdf"></object>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var errorMessage;
        $(function () {
            $(".Currency").hide();

            $("#formInvoices").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $("#InvoiceDaily").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#InvoiceDaily").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    InvoiceNumber: {
                        digits: true,
                        required: true,
                        remote: function () {
                            var invoiceNo = $("#InvoiceNumber").val();

                            var valid = {
                                url: "@(Url.Action("ActionValidateInvoice", "Invoices"))",
                                type: "post",
                                data: { "InvoiceNumber": invoiceNo },
                                dataFilter: function (data) {
                                    var json = JSON.parse(data);
                                    if (!json.success) {
                                        EndLoading();
                                        errorMessage = json.responseText;
                                        return false;
                                    }
                                    else
                                        return true;
                                }
                            };
                            return valid;
                        },
                    }
                },
                messages: {
                    InvoiceNumber: {
                        remote: function () { return errorMessage },
                    },
                },
                submitHandler: function (form) {
                    form.submit();
                }
            })
        });

        $("#InvoiceNumber").on('change keypress', function (e) {
            if(e.which == 13 || e.keyCode == 13)
                $("#InvoiceDaily").click();
        });

        $("#InvoiceDaily").click(function () {
            var validValue = $("#formInvoices").validate().element("#InvoiceNumber");
            if (validValue) {
                StartLoading();
                $("#formInvoices").submit();
            }
        });

        $("#Payment").on('change', function (){
            var pmValue = parseInt($(this).val());
            if(pmValue === -1)
                $(".Currency").show();
            else
                $(".Currency").hide();
        });

        $("#GenerateInvoice").click(function () {
            var paymentType = $("#PaymentTypeCode").val();
            if (paymentType != -1) {
                StartLoading();
                $.post({
                    url: '@Url.Action("ActionSubstitutionInvoice", "Invoices")',
                    Type: 'POST',
                    data: $("#InvoiceSale").serialize(),
                    dataType: 'json',
                    success: function (data) {
                        EndLoading();
                        if (data.success && (data.Json.IsStamped || data.Json.IsStamped == 'true')) {
                            var pdf = 'data:application/pdf;base64,' + data.Json.PdfEncoded;
                            $("#Pdf-iframe").attr("data", pdf);
                            $('#ModalPdf').modal('show');
                        }
                        else if (data.success) {
                            swal({
                                title: 'Factura',
                                text: "Venta facturada pero no timbrada. Factura " + data.Json.Serie + data.Json.Number,
                                type: "warning"
                            }, function () {
                                window.location.href = '@Url.Action("INVO007", "Invoices")';
                            });
                        }
                        else {
                            swal({
                                title: 'Error',
                                text: data.responseText,
                                type: "error"
                            }, function () {
                                window.location.href = '@Url.Action("INVO007", "Invoices")';
                            });
                        }

                    }
                });
            }
            else
                toastr.error('Alerta - Tipo de pago no permitido.');
        });

        $("#ModalPdf").on("hidden.bs.modal",function(){
            window.location.href = '@Url.Action("INVO007", "Invoices")';
        });

    </script>
}