﻿@model App.Entities.ViewModels.Invoices.InvoiceOldBalanceIndex

@{
    ViewBag.Title = "Antigüedad de Saldos (IVA)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Clientes</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Antigüedad de Saldos (IVA)</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Antigüedad de Saldos (IVA)
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>

@if (Model.IsFromMenu)
{
    <div class="content animated-panel">
        <div class="hpanel hblue">
            <div class="panel-body">
                <form id="formInvoiceOldBalance" action="@Url.Action("INVO005","Invoices")" method="post">
                    <div class="row">
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                @Html.DropDownListFor(model => model.Currency, null, htmlAttributes: new { @class = "form-control select2" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">&nbsp;</label>
                            <div class="">
                                <button type="button" class="btn btn-success" id="SearchInfo">Continuar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@if (!Model.IsFromMenu && Model.ReportData.Count > 0)
{
    <div class="content animated-panel" id="report-section">
        <div class="hpanel hblue">
            <div class="panel-body">
                <div class="row">
                    @Html.HiddenFor(model => model.Currency)
                    <h4 style="text-align:center;">Sucursal: @Model.Store</h4>
                    <h4 style="text-align:center;">Moneda: @Model.Currency</h4>
                    <h4 style="text-align:center;">Fecha: @Model.Date</h4>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success" id="ReportButton">Reporte General</button>
                </div>
                <div class="col-md-12" style="margin-top:20px;">
                    <div class="animate-panel">
                        <div class="row table-responsive">
                            <table class="table table-striped table-bordered table-hover tableReport" style="width:100%" id="CustomersBalanceTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>No. Cliente</th>
                                        <th>Nombre del Cliente</th>
                                        <th>Teléfono</th>
                                        <th>Correo</th>
                                        <th>Saldo Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Item in Model.ReportData)
                                    {
                                    <tr>
                                        <td></td>
                                        <td>@Item.CustomerCode</td>
                                        <td>@Item.CustomerName</td>
                                        <td>@Item.Phone</td>
                                        @if (!string.IsNullOrEmpty(Item.Email))
                                        {
                                            <td>@Item.Email.ToLower()</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td>$@Item.TotalBalance</td>
                                        <td></td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5" style="text-align:right;">GRAN TOTAL</th>
                                        <th>@Model.ReportData.Sum(x=>x.TotalBalance).ToString("C")</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (!Model.IsFromMenu)
{
    <div class="content animated-panel" id="report-section">
        <div class="hpanel hblue">
            <div class="panel-body">
                <div class="row">
                    <h4 style="text-align:center;">Sucursal: @Model.Store</h4>
                    <h4 style="text-align:center;">Moneda: @Model.Currency</h4>
                    <h4 style="text-align:center;">Fecha: @Model.Date</h4>
                </div>
                <div class="row">
                    <h4 style="text-align:center;color:red;">No hay información con ese tipo de moneda</h4>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Antigüedad de Saldos (IVA)</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@*Modal to Display PDF document*@
<div class="modal fade hmodal-info" id="ModalPdf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Documento PDF</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <object id="Pdf-iframe" style="width:100%" height="350" frameborder="0" type="application/pdf"></object>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script type="text/javascript">
        var reportTable = $('#CustomersBalanceTable').DataTable({
            retrieve: true,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                },
                { data: 'CustomerCode'},
                { data: 'CustomerName' },
                { data: 'Phone' },
                { data: 'Email' },
                { data: 'TotalBalance' },
                {
                    data: null,
                    width: "1%",
                    targets: 6,
                    defaultContent: '<button class="btn btn-xs btn-outline btn-info btnReport">Reporte</button>'
                }
            ],

            columnDefs: [
                {
                    className: 'text-center'
                },
                {
                    targets: [1],
                    visible: false
                },
            ]
        });

        $("#SearchInfo").click(function () {
            $("#formInvoiceOldBalance").submit();
        });

        $('#CustomersBalanceTable tbody').on('click', 'button.btnReport', function () {
            var tr = $(this).closest('tr');
            var row = reportTable.row(tr);
            model = row.data();
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetOldBalanceReportByCustomer", "Invoices")',
                Type: 'POST',
                data: { "Currency": $('#Currency').val(), "Model": model },
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte de Antigüedad de Saldos (IVA)');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });


        var detailRows = [];

        $('#CustomersBalanceTable tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = reportTable.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (reportTable.row('.details').length) {
                    $('.details-control', reportTable.row('.details').node()).click();
                }
                row.child(invoiceDetails(row.data())).show();
                tr.addClass('details');
            }
        });

        $('.tableReport').on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        //Get Invoice details
        function invoiceDetails(row) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "@(Url.Action("ActionGetInvoiceDetails", "Invoices"))",
                data: { "Currency": $('#Currency').val(), "CustomerCode": row.CustomerCode },
                type: "GET",
                success: function (data) {
                    var totalInvoices = 0; var totalIEPS = 0; var totalTax = 0; var totalBalance = 0;
                    $.each(data.Json, function (index, value) {
                        detailItems += "<tr><td>" + value.CFDI + "</td><td>" + value.Number + "</td><td>" + value.Date + "</td><td>" + value.DueDate + "</td><td>" + value.Days  + "</td><td>" + value.PaymentMethod + "</td><td> $" + value.Total.toFixed(2) + "</td><td> $" + value.SubTotal.toFixed(2) + "</td><td> $" + value.IEPS.toFixed(2) + "</td><td> $" + value.Tax.toFixed(2) + "</td><td> $" + value.Balance.toFixed(2) + "</td><td>" + "</td></tr>";
                        totalInvoices += value.Total;
                        totalIEPS += value.IEPS;
                        totalTax += value.Tax;
                        totalBalance += value.Balance;
                    });
                    tabledetail.html('<table id="InvoiceDetails" class="table table-striped table-bordered table-hover" style="width:100%">' +
                    '<thead><tr><th>CFDI</th><th>No. Factura</th><th>Fecha Factura</th><th>Fecha Vencimiento</th><th>Días</th><th>Método de Pago</th><th>Total Factura</th><th>Sub Total</th><th>IEPS</th><th>IVA Factura</th><th>Saldo</th><th></th></tr></thead><tbody>' + detailItems + '</tbody><tfoot><tr><th colspan="6" style="text-align:right;">Totales</th><th> $' + totalInvoices.toFixed(2) +'</th><th> $' + (totalInvoices - totalTax).toFixed(2) +'</th><th> $' + totalIEPS.toFixed(2) + '</th><th> $' + totalTax.toFixed(2) + '</th><th> $' + totalBalance.toFixed(2) + '</th><th></th></tr></tfoot></table>').removeClass('loading');
                    reloadStyleTable(data.Json);
                }
            });
            return tabledetail;
        }

        function reloadStyleTable(invoiceList) {
            $('#InvoiceDetails').DataTable({
                retrieve: true,
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                buttons: [],
                data: invoiceList,
                columns: [
                    { data: 'CFDI' },
                    { data: 'Number' },
                    { data: 'Date' },
                    { data: 'DueDate' },
                    { data: 'Days' },
                    { data: 'PaymentMethod' },
                    { data: 'Total' },
                    { data: 'SubTotal' },
                    { data: 'IEPS' },
                    { data: 'Tax' },
                    { data: 'Balance' },
                    {
                        width: "1%",
                        targets: 11,
                        data: 'CFDI',
                        render: function (data, type, row, meta) {
                            return '<button class="btn btn-xs btn-outline btn-success" id="'+data+'" onClick="GetPDFInfo(this.id)">Detalle</button>';
                        }
                    }
                ],

                columnDefs: [
                    {
                        className: 'text-center'
                    },
                    {
                        targets: [0, 5],
                        visible: false
                    },
                ]
            });
        }

        function GetPDFInfo(cfdi)
        {            
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetPDFInvoice", "Invoices")',
                Type: 'POST',
                data: { "CFDI": cfdi },
                success: function (data) {                    
                    EndLoading();
                    if (data.success) {      
                        var pdf = 'data:application/pdf;base64,'+data.Json;
                        $("#Pdf-iframe").attr("data", pdf);
                        $('#ModalPdf').modal('show');
                    }
                    else
                    {
                        swal({
                            title: '',
                            text: data.responseText,
                            type: "error"
                        });                    
                    }
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        }

        $("#ReportButton").click(function() {
            var model = @Html.Raw(Json.Encode(Model));
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetOldBalanceReport", "Invoices")',
                Type: 'POST',
                data: { "Model": model },
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte de Antigüedad de Saldos (IVA)');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });

    </script>
}
