﻿@model App.Entities.ViewModels.Common.CancelModel
@{
    ViewBag.Title = "INVO003";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Movimientos</a></li>
                    <li class="active">
                        <span>Cancelar Factura</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Cancelar Factura
            </h2>
            <small>Módulo para cancelar una facturar</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">            
            @if (Model.IsFromMenu)
            {
            <form id="formCancelInvoice" action="@Url.Action("INVO003","Invoices")" method="post">
                <div class="row">
                    <h4 style="margin-left:10px;">Cancelar Factura</h4>
                    <div class="form-group col-md-4">
                        <label class="control-label">No. Factura</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="CancelInvoice">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
            }
            <div id="CancelInvoiceInfo">
            </div>
            @if (!Model.IsFromMenu)
            {
            <div class="form-horizontal">
                <div class="row">
                    <h4 class="text-center">DISTRIBUIDORA EL FLORIDO S.A. DE C.V.</h4>
                    <h5 class="text-center">Detalle de Factura</h5>
                </div>
                <hr style="border-top: 1px solid #3498db !important;" />
                @Html.HiddenFor(model => Model.Serie)
                @Html.HiddenFor(model => Model.Number)
                <div class="col-md-12 form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.InvoDetails.InvoiceNumber, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.InvoDetails.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.InvoDetails.Date, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.InvoDetails.Date, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.InvoDetails.Tickets, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.InvoDetails.Tickets, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.InvoDetails.ClientNumber, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.InvoDetails.ClientNumber, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.InvoDetails.ClientName, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.InvoDetails.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.InvoDetails.PaymentMethod, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.InvoDetails.PaymentMethod, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>                
                <h5 class="text-center">Detalle</h5>
                <hr style="border-top: 1px solid #3498db !important;" />
                <h4 class="text-center" style="color:red;">(Necesario facturar de nuevo)</h4>
                <div class="table-responsive">
                    <table id="invoice-table" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>@Html.LabelFor(model => model.InvoDetails.Products.First().ItemNumber)</th>
                                <th>@Html.LabelFor(model => model.InvoDetails.Products.First().ItemName)</th>
                                <th>@Html.LabelFor(model => model.InvoDetails.Products.First().Quantity)</th>
                                <th>@Html.LabelFor(model => model.InvoDetails.Products.First().ItemPrice)</th>
                                <th>@Html.LabelFor(model => model.InvoDetails.Products.First().TotalPrice)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.InvoDetails.Products)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ItemNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ItemName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ItemPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="text-right">
                            <tr>
                                <td colspan="4">@Html.LabelFor(model => model.InvoDetails.SubTotal)</td>
                                <td>@Html.DisplayFor(model => model.InvoDetails.SubTotal)</td>
                            </tr>
                            <tr>
                                <td colspan="4">@Html.LabelFor(model => model.InvoDetails.Tax)</td>
                                <td>@Html.DisplayFor(model => model.InvoDetails.Tax)</td>
                            </tr>
                            <tr>
                                <td colspan="4">@Html.LabelFor(model => model.InvoDetails.Total)</td>
                                <td>@Html.DisplayFor(model => model.InvoDetails.Total)</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="">
                        <div class="form-group col-lg-12">
                            <div class="text-right">
                                <button type="button" class="btn btn-success" onclick="CancelInvoice()">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        var urlLoading = '@Url.Action("INVO003", "Invoices")';
        $(function () {            
            var errorMessage;
            var model = {};
            $("#formCancelInvoice").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $("#CancelInvoice").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#CancelInvoice").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    Number: {
                        digits: true,
                        required: true,
                        remote: function () {
                            var Number = $('#Number').val();
                            var valid = {
                                url: "@(Url.Action("ActionValidateInvoice", "Invoices"))",
                                type: "post",
                                data: { "InvoiceNumber": Number },
                                dataFilter: function (data) {
                                    var json = JSON.parse(data);                                    
                                    if (!json.success) {
                                        EndLoading();
                                        errorMessage = json.responseText;
                                        return false;
                                    }
                                    else
                                        return true;
                                }
                            };
                            return valid;
                        },
                    }
                },
                messages: {
                    Number: {
                        remote: function () { return errorMessage },
                    },
                },
                submitHandler: function (form) {
                    form.submit();
                }
            })
        });

        $("#Number").on('change keypress', function (e) {
            if (e.which == 13 || e.keyCode == 13) {
                $("#CancelInvoice").click();
            }
        });

        $("#CancelInvoice").click(function () {
            var formValid = $("#formCancelInvoice").validate().element("#Number");            
            StartLoading();
            $("#formCancelInvoice").submit();
        });

        function CancelInvoice() {
            model = PopulateCancelModel();
            swal(
                {
                    title: "¿Estas seguro?",
                    text: "Una vez que se cancele no podrás revertir el proceso",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sí",
                    cancelButtonText: "No",
                    closeOnConfirm: true,
                    closeOnCancel: false
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            StartLoading();
                            $.post({
                                url: '@Url.Action("ActionCancelInvoice", "Invoices")',
                                Type: 'POST',
                                dataType: 'json',
                                data: { "Model": model },
                                success: function (data) {
                                    EndLoading();
                                    if (data.success) {
                                        swal({
                                            title: 'Cancelada',
                                            text: "Factura Cancelada",
                                            type: "success"
                                        }, function () { window.location.href = urlLoading; });
                                    }
                                    else {
                                        swal("Error", "Ocurrió un error, contacte a sistemas", "error");
                                    }
                                }
                            });
                        } else {
                            swal("Error", "Factura no cancelada", "error");
                        }
                    })
        }

        function PopulateCancelModel() {
            var cancelModel = {};
            cancelModel.Number = $('#Number').val();
            cancelModel.Serie = $("#Serie").val();

            return cancelModel;
        }
    </script>
}
