﻿@model App.Entities.ViewModels.Invoices.InvoicesSales

@{
    ViewBag.Title = "Facturación Ventas (Punto de Ventas)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Movimientos</a></li>
                    <li class="active">
                        <span>Facturar</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Facturación Ventas
            </h2>
            <small>Módulo para facturar una venta</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="InvoiceSale">
                @Html.AntiForgeryToken()
                <div class="row col-md-12">
                    @Html.HiddenFor(model => model.IsGlobal)
                    @Html.HiddenFor(model => model.Number)
                    @Html.HiddenFor(model => model.Serie)
                    @Html.HiddenFor(model => model.IsPMCredit)
                    @Html.HiddenFor(model => model.SaleDate)
                    @Html.HiddenFor(model => model.ClientNumber)
                    @*@Html.HiddenFor(model => model.PaymentTypeCode)*@

                    @if (Model.IsGlobal)
                    {
                        @Html.HiddenFor(model => model.CFDICode)
                    }

                    @if (!Model.IsGlobal)
                    {
                        <div class="row col-md-12">
                            @Html.HiddenFor(model => model.SaleNumber)
                            @Html.LabelFor(model => model.SaleNumber, htmlAttributes: new { @class = "control-label" })
                            @Html.DisplayFor(model => model.SaleNumber, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    }
                    else
                    {
                        <div class="row col-md-12">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                            @Html.DisplayFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    }
                    <div class="row col-md-12">
                        @Html.HiddenFor(model => model.NextInvoice)
                        @Html.LabelFor(model => model.NextInvoice, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.NextInvoice, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="row col-md-2 form-group">
                        @Html.LabelFor(model => model.Client, htmlAttributes: new { @class = "control-label" })
                        <span class="Client">@Html.DisplayFor(model => model.Client, new { htmlAttributes = new { @class = "form-control" } })</span>
                        @if (!Model.IsGlobal)
                        {
                            <span class="col-xs-1"><a id="SearchCustomer"><i class="fa pe-7s-search"></i></a></span>
                        }
                    </div>
                </div>
                <div class="row NewCardNumber">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.NewCardNumber, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-4 input-group m-b">
                            @Html.EditorFor(model => model.NewCardNumber, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.NewCardNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                @if (!Model.IsGlobal)
                {
                    <div class="form-group col-md-12" id="SearchClient">
                        @Html.LabelFor(model => model.ClientCode, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.ClientCode, null, "--Selecciona Cliente--", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="form-group col-md-8" id="ClientInfo">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ClientNumber, htmlAttributes: new { @class = "control-label" })
                                <span class="ClientNumber">@Html.DisplayFor(model => model.ClientNumber, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label" })
                                <span class="ClientName">@Html.DisplayFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                                <span class="Address">@Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })
                                <span class="City">@Html.DisplayFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label" })
                                <span class="State">@Html.DisplayFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label" })
                                <span class="ZipCode">@Html.DisplayFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                                <span class="PhoneNumber">@Html.DisplayFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.FaxNumber, htmlAttributes: new { @class = "control-label" })
                                <span class="FaxNumber">@Html.DisplayFor(model => model.FaxNumber, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="col-md-12">
                            @Html.HiddenFor(model => model.Subtotal)
                            @Html.LabelFor(model => model.Subtotal, htmlAttributes: new { @class = "control-label" })
                            <span class="Subtotal">@Html.DisplayFor(model => model.Subtotal, new { htmlAttributes = new { @class = "form-control" } })</span>
                        </div>
                        <div class="col-md-12">
                            @Html.HiddenFor(model => model.IVA)
                            @Html.LabelFor(model => model.IVA, htmlAttributes: new { @class = "control-label" })
                            <span class="IVA">@Html.DisplayFor(model => model.IVA, new { htmlAttributes = new { @class = "form-control" } })</span>
                        </div>
                        <div class="col-md-12">
                            @Html.HiddenFor(model => model.Total)
                            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label" })
                            <span class="Total">@Html.DisplayFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })</span>
                        </div>
                        <div class="col-md-12 ExchangeCurrency">
                            @Html.LabelFor(model => model.CurrencyExchange, htmlAttributes: new { @class = "control-label" })
                            <span class="CurrencyExchange">@Html.DisplayFor(model => model.CurrencyExchange, new { htmlAttributes = new { @class = "form-control" } })</span>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.PaymentTypeCode, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-7 input-group m-b">
                            @Html.DropDownListFor(model => model.PaymentTypeCode, null, htmlAttributes: new { @id = "Payment", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-4 Currency">
                        @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-7 input-group m-b">
                            @Html.DropDownListFor(model => model.Currency, null, htmlAttributes: new { @id = "Currency", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-4 PmType">
                        @Html.LabelFor(model => model.PM_Type, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EnumDropDownListFor(model => model.PM_Type, new { @class = "form-control", @id = "PMType" })
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.CFDICode, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-7 input-group m-b">
                            @Html.DropDownListFor(model => model.CFDICode, null, htmlAttributes: new { @id = "CFDI", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="">
                        <div class="form-group col-lg-12">
                            <div class="text-right">
                                <button type="button" class="btn btn-success" id="GenerateInvoice">Generar Factura</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalPdf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Factura PDF</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <object id="Pdf-iframe" style="width:100%" height="350" frameborder="0" type="application/pdf"></object>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script type="text/javascript">
        var isGlobal = @Html.Raw(Json.Encode(Model.IsGlobal));
        var isPMCredit = @Html.Raw(Json.Encode(Model.IsPMCredit));
        //$("#Payment").prop('disabled', true);

        $(function () {
            $("#SearchClient").hide();
            $(".NewCardNumber").hide();
            $(".Currency").hide();
            $(".PmType").hide();
            $(".ExchangeCurrency").hide(); 

            setTimeout(function () { GetCustomers(); }, 1000);

            $("#ClientCode").select2({
                minimumInputLength: 3
            });

            if(isGlobal){
                $("#CFDI").prop('disabled', true);
            }

            if(isPMCredit){
                //$("#Payment").prop('disabled', true);
                $(".NewCardNumber").show();
                 $(".Currency").show();
            }

            $("#InvoiceSale").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $("#GenerateInvoice").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#GenerateInvoice").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    NewCardNumber: {
                        digits: true,
                        maxlength: 11,
                        remote: function () {
                            var codeData = $('#NewCardNumber').val();
                            var exist = {
                                url: "@(Url.Action("ActionExistCode", "Customers"))",
                                type: "post",
                                data: { "Code": codeData },
                                dataFilter: function (response) {
                                    if (response === "False")
                                        return false;
                                    else
                                        return true;
                                }
                            };
                            return exist;
                        }
                    }
                },
                messages:{
                    NewCardNumber: {
                        remote: jQuery.validator.format("No. Tarjeta {0} ya esta registrado en el sistema."),
                        maxlength: "El No de tarjeta no debe ser mayor a 11 dígitos."
                    },
                },
                submitHandler: function (form) {
                    form.submit();
                }
            })
        });

        $("#SearchCustomer").click(function () {
            $('#SearchClient').toggle();
        });

        $("#Payment").on('change', function () {
            var pmValue = parseInt($(this).val());
            if (pmValue === -1) 
                $(".Currency").show();            
            else
                $(".Currency").hide();

            if (pmValue === -3)
                $(".PmType").show();
            else
                $(".PmType").hide();
        });

        $("#Currency").on('change', function () {
            var currency = $(this).val();
            if (currency == "USD") {
                var url = '@Url.Action("ActionGetInvoicesTotalOnUSD", "Invoices")';
                ChangeInvoicesTotal(url);
                $(".ExchangeCurrency").show();
            }
            else {
                var url = '@Url.Action("ActionGetInvoicesTotalOnMXN", "Invoices")';
                ChangeInvoicesTotal(url);
                $(".ExchangeCurrency").hide();
            }
        });

        $("#SearchClient").on('change', function () {
            $.ajax({
                url: '@Url.Action("ActionUpdateInvoiceDetails", "Invoices")',
                Type: 'GET',
                data: $("#InvoiceSale").serialize(),
                dataType: 'json',
                success: function (data) {
                    $(".ClientNumber").html(data.Json.ClientNumber);
                    $(".ClientName").html(data.Json.ClientName);
                    $(".Address").html(data.Json.Address);
                    $(".City").html(data.Json.City);
                    $(".State").html(data.Json.State);
                    $(".ZipCode").html(data.Json.ZipCode);
                    $(".PhoneNumber").html(data.Json.PhoneNumber);
                    $(".FaxNumber").html(data.Json.FaxNumber);
                    $(".Client").html(data.Json.ClientNumber);
                    $("#ClientNumber").val(data.Json.ClientNumber);
                    $(".NewCardNumber").show();

                }
            });
            $("#SearchClient").hide();
        });

        $("#GenerateInvoice").click(function () {
            var validCard = $("#InvoiceSale").validate().element("#NewCardNumber");
            var cardValue = $("#NewCardNumber").val();
            var isGlobal = JSON.parse($("#IsGlobal").val());
            var paymentType = $("#PaymentTypeCode").val();
            var invoiceNumber = $("#Serie").val() + $("#Number").val();
            var clientNumber = $("#ClientNumber").val();
            if(!isGlobal)
            {
                if ((clientNumber != "GENERAL" && clientNumber != null) || isPMCredit) {
                    if (validCard || cardValue == "")
                        CreateInvoice(invoiceNumber);
                }
                else
                    toastr.error('Alerta - Elige un cliente.');
            }
            else if (paymentType != -1) //Id for 'Crédito' payment type
                CreateInvoice(invoiceNumber);
            else
                toastr.error('Alerta - Tipo de pago no permitido.');

        });

        function CreateInvoice(invoice)
        {
            StartLoading();
            $.post({
                url: '@Url.Action("ActionCreateInvoice", "Invoices")',
                Type: 'POST',
                data: $("#InvoiceSale").serialize(),
                dataType: 'json',
                success: function (data) {
                    EndLoading();
                    if (data.success && (data.Json.IsStamped || data.Json.IsStamped == 'true')) {
                        var pdf = 'data:application/pdf;base64,'+data.Json.PdfEncoded;
                        $("#Pdf-iframe").attr("data", pdf);
                        $('#ModalPdf').modal('show');
                    }
                    else if (data.success) {
                        swal({
                            title: 'Factura',
                            text: "Venta facturada pero no timbrada. Factura " + data.Json.Serie + data.Json.Number,
                            type: "warning"
                        }, function () {
                            window.location.href = '@Url.Action("INVO001", "Invoices")';
                        });
                    }
                    else {
                        swal({
                            title: 'Error',
                            text: data.responseText,
                            type: "error"
                        }, function () {
                            window.location.href = '@Url.Action("INVO001", "Invoices")';
                        });
                    }

                }
            });
        }

        function GetCustomers()
        {
            $.ajax({
                url: '@Url.Action("ActionGetCustomers", "Invoices")',
                Type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $("#ClientCode").empty();
                    $("#ClientCode").append("<option value=''>--Selecciona Cliente--</option>");
                    $.each(data.Json, function (index, optiondata) {
                        //$("#ClientCode").append("<option value='" + optiondata.Code + "'>" + optiondata.RFC + ", " + optiondata.Name + ", " + optiondata.Code + "</option>");
                        $("#ClientCode").append("<option value='" + optiondata.Value + "'>" + optiondata.Text + "</option>");
                    });

                    $("#ClientCode").select2({
                        minimumInputLength: 3
                    });

                    if(isPMCredit){
                        var code = @Html.Raw(Json.Encode(Model.ClientNumber));
                        $("#ClientNumber").val(code);
                        $("#ClientCode").val(code);
                    }
                }
            });
        }

        $("#ModalPdf").on("hidden.bs.modal",function(){
            window.location.href = '@Url.Action("INVO001", "Invoices")';
        });

        function ChangeInvoicesTotal(url) {
            $.ajax({
                    url: url,
                    Type: 'GET',
                    data: $("#InvoiceSale").serialize(),
                    dataType: 'json',
                    success: function (data) {
                        $(".IVA").html(data.Json.IVA.toFixed(2));
                        $(".Total").html(data.Json.Total.toFixed(2));
                        $(".Subtotal").html(data.Json.Subtotal.toFixed(2));
                        $(".CurrencyExchange").html(data.Json.CurrencyExchange.toFixed(2));
                    }
                });
        }
    </script>
}