﻿@model App.Entities.ViewModels.Common.CreateCFDI

@{
    ViewBag.Title = "INVO006";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Clientes</a></li>
                    <li><a href="@Url.Action("CTMS001","Customers")">Movimientos</a></li>
                    <li class="active">
                        <span>Crear CFDI</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Crear CFDI
            </h2>
            <small>Módulo para crear un CFDI</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formCreateCFDI" action="@Url.Action("INVO006","Invoices")" method="post">
                @Html.HiddenFor(model => model.Number)
                @Html.HiddenFor(model => model.Serie)
                <div class="row col-md-12">
                    @Html.HiddenFor(model => model.NextInvoice)
                    @Html.LabelFor(model => model.NextInvoice, htmlAttributes: new { @class = "control-label" })
                    @Html.DisplayFor(model => model.NextInvoice, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.CFDIType, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.DropDownListFor(model => model.CFDIType, null, htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.CFDICode, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.DropDownListFor(model => model.CFDICode, null, htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ClientCode, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.DropDownListFor(model => model.ClientCode, null, "--Selecciona Cliente--", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ClientCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.PaymentTypeCode, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.DropDownListFor(model => model.PaymentTypeCode, null, htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.DropDownListFor(model => model.Currency, null, htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.CurrencyExchange, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.EditorFor(model => model.CurrencyExchange, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.CurrencyExchange, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 PmType">
                        @Html.LabelFor(model => model.PM_Type, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EnumDropDownListFor(model => model.PM_Type, new { @class = "form-control select2", @id = "PMType" })
                        </div>
                    </div>
                </div>
            </form>
            <form id="formAddConcept">
                <h4 class="text-center">Conceptos</h4>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.UnitSatCode, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.DropDownListFor(model => model.UnitSatCode, null, "-- Unidad SAT --", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                        @Html.ValidationMessageFor(model => model.UnitSatCode, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ItemSatCode, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.DropDownListFor(model => model.ItemSatCode, null, "-- Artículo SAT --", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ItemSatCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.TAXCode, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.DropDownListFor(model => model.TAXCode, null, htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.IEPSCode, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.DropDownListFor(model => model.IEPSCode, null, htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <label>&nbsp;</label>
                        <div class="col-md-12 input-group m-b">
                            <div class="text-right">
                                <button type="button" class="btn btn-success" id="AddConceptInvoice" title="Agregar Concepto"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>&nbsp;</label>
                        <div class="col-md-12 input-group m-b">
                            <div class="text-right">
                                <button type="button" class="btn btn-success" id="ProcessCFDI" title="Generar CFDI">Generar CFDI</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row table-responsive">
                <table class="table table-striped table-bordered table-hover" style="width:60%; align-content:center;" id="SpecialInvoiceTable">
                    <thead>
                        <tr>
                            <th>Concepto</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Unidad SAT</th>
                            <th>Código SAT</th>
                            <th>IVA</th>
                            <th>IEPS</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
@Scripts.Render("~/bundles/select2/js")
<script type="text/javascript">
    var isNewConcept = true;
    var conceptsList = [];
    var currencyExchange = $('#CurrencyExchange').val();
    $(function () {
        $('#CurrencyExchange').attr('readonly', true);
        $('#Currency').attr('disabled', 'disabled');
        $('#CurrencyExchange').val(0.00);
        setTimeout(function () { GetCustomers(); }, 1000);       

        $("#formCreateCFDI").validate({
            ignore: '.select2-input, .select2-focusser',
            errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
            errorElement: "span",
            errorPlacement: function (error, element) {
                $(element)
                        .closest("form")
                        .find("span[data-valmsg-for='" + element.attr("id") + "']")
                        .append(error);
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                $(e).closest('.help-block').remove();
            },
            success: function (e) {
                e.closest('.form-group').removeClass('has-success has-error');
                e.closest('.help-block').remove();
            },
            rules: {
                ClientCode: {
                    required: true
                },
                CurrencyExchange: {
                    number: true,
                    min: {
                        param: .01,
                        depends: function (element) {
                            return (parseInt($("#PaymentTypeCode").val()) === 8);
                        }
                    }
                }
            },
            messages: {
                CurrencyExchange: {
                    min: "El número debe ser mayor a 0"
                },
                ClientCode: {
                    required: "Cliente requerido para facturar."
                } 
            }
        });

        $("#formAddConcept").validate({
            ignore: '.select2-input, .select2-focusser',
            errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
            errorElement: "span",
            errorPlacement: function (error, element) {
                $(element)
                        .closest("form")
                        .find("span[data-valmsg-for='" + element.attr("id") + "']")
                        .append(error);
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                $(e).closest('.help-block').remove();
            },
            success: function (e) {
                e.closest('.form-group').removeClass('has-success has-error');
                e.closest('.help-block').remove();
            },
            rules: {
                Quantity: {
                    number: true,
                    required: true,
                    min: .01
                },
                UnitPrice: {
                    number: true,
                    required: true,
                    min: .01
                },
                ItemSatCode: {
                    required: true
                },
                UnitSatCode: {
                    required: true
                },
                Description: {
                    required: true
                }
            },
            messages: {
                Quantity: {
                    min: "El número debe ser mayor a 0"
                },
                UnitPrice: {
                    min: "El número debe ser mayor a 0"
                },
                UnitSatCode: {
                    required: "Unidat SAT requerido para facturación"
                },
                ItemSatCode: {
                    required: "Código SAT requerido para facturación"
                }
            }
        });
    });

    function GetCustomers() {
        $.ajax({
            url: '@Url.Action("ActionGetCustomers", "Invoices")',
            Type: 'GET',
            dataType: 'json',
            success: function (data) {
                $("#ClientCode").empty();
                $("#ClientCode").append("<option value=''>--Selecciona Cliente--</option>");
                $.each(data.Json, function (index, optiondata) {
                    //$("#ClientCode").append("<option value='" + optiondata.Code + "'>" + optiondata.RFC + ", " + optiondata.Name + ", " + optiondata.Code + "</option>");
                    $("#ClientCode").append("<option value='" + optiondata.Value + "'>" + optiondata.Text + "</option>");
                });

                $("#ClientCode").select2({
                    minimumInputLength: 3,
                    width: 'element'
                });

                GetUnitSat();
            }
        });
    }
    function GetUnitSat() {
        $.ajax({
            url: '@Url.Action("ActionGetUnitSat", "Invoices")',
            Type: 'GET',
            dataType: 'json',
            success: function (data) {
                $("#UnitSatCode").empty();
                $("#UnitSatCode").append("<option value=''>-- Unidad SAT --</option>");
                $.each(data.Json, function (index, optiondata) {
                    $("#UnitSatCode").append("<option value='" + optiondata.Code + "'>" + optiondata.Code + ", " + optiondata.Description + "</option>");
                });

                $("#UnitSatCode").select2({
                    minimumInputLength: 2,
                    width: 'element'
                });

                GetProductSat();
            }
        });
    }

    function GetProductSat() {
        $.ajax({
            url: '@Url.Action("ActionGetProductSat", "Invoices")',
            Type: 'GET',
            dataType: 'json',
            success: function (data) {
                $("#ItemSatCode").empty();
                $("#ItemSatCode").append("<option value=''>-- Artículo SAT --</option>");
                $.each(data, function (index, optiondata) {
                    $("#ItemSatCode").append("<option value='" + optiondata.Code + "'>" + optiondata.Code + ", " + optiondata.Description + "</option>");
                });

                $("#ItemSatCode").select2({
                    minimumInputLength: 3,
                    width: 'element'
                });
            }
        });
    }

    $("#AddConceptInvoice").click(function () {
        var isValid = $("#formAddConcept").valid();
        if (isValid) {
            var rowTable = GetValues();
            var row = $("<tr>");
            row.append($("<td id=" + rowTable.itemSatCode + ">" + rowTable.description + "</td>"))
               .append($("<td id=" + rowTable.quantity + ">" + rowTable.quantity + "</td>"))
               .append($("<td id=" + rowTable.unitPrice + ">" + "$" + rowTable.unitPrice + "</td>"))
               .append($("<td id=" + rowTable.unitSatCode + ">" + rowTable.unitSatCode + "</td>"))
               .append($("<td id=" + rowTable.itemSatCode + ">" + rowTable.itemSatCode + "</td>"))
               .append($("<td id=" + rowTable.taxCode + ">" + rowTable.taxText + "</td>"))
               .append($("<td id=" + rowTable.iepsCode + ">" + rowTable.iepsText + "</td>"));

            row.appendTo('#SpecialInvoiceTable');

            CleanConcepts();
            isNewConcept = true;
        }
    });

    function GetValues() {
        var rowTable = {};
        rowTable.description = $("#Description").val();
        rowTable.unitPrice = $("#UnitPrice").val();
        rowTable.unitSatCode = $("#UnitSatCode").val();
        rowTable.itemSatCode = $("#ItemSatCode").val();
        rowTable.taxCode = $("#TAXCode").val();
        rowTable.iepsCode = $("#IEPSCode").val();
        rowTable.quantity = $("#Quantity").val();
        rowTable.taxText = $("#TAXCode :selected").text();
        rowTable.iepsText = $("#IEPSCode :selected").text();

        return rowTable;
    }

    $("#UnitSatCode").on('change', function () {
        if (isNewConcept)
            $("#formAddConcept").validate().element("#UnitSatCode");
    });

    $("#ItemSatCode").on('change', function () {
        if (isNewConcept)
            $("#formAddConcept").validate().element("#ItemSatCode");
    });

    function CleanConcepts() {
        isNewConcept = false;

        $("#Description").val('');
        $("#UnitPrice").val(0.00);
        $("#Quantity").val(0.00);
        $("#UnitSatCode").val('');
        $("#UnitSatCode").change();
        $("#ItemSatCode").val('');
        $("#ItemSatCode").change();
        $("#TAXCode").val('N/A');
        $("#TAXCode").change();
        $("#IEPSCode").val('N/A');
        $("#IEPSCode").change();
    }

    $("#PaymentTypeCode").on('change', function () {
        var pmId = parseInt($(this).val());
        if (pmId === 8 || pmId === 10 || pmId === 32) {
            document.getElementById('Currency').value = 'USD';
            $('#Currency').change();
            $('#CurrencyExchange').val(currencyExchange);
        }
        else {
            document.getElementById('Currency').value = 'MXN';
            $('#Currency').change();            
            $('#CurrencyExchange').val(0.00);
        }
    });


    function MappingModel() {
        var cfdiModel = {};
        cfdiModel.CFDIType = $("#CFDIType").val();
        cfdiModel.CFDICode = $("#CFDICode").val();
        cfdiModel.Currency = $("#Currency").val();
        cfdiModel.CurrencyExchange = currencyExchange;//$("#CurrencyExchange").val();
        //cfdiModel.IRSPaymentMethod = document.getElementById("IRSPaymentMethod").value;
        cfdiModel.PaymentTypeCode = $("#PaymentTypeCode").val();
        cfdiModel.Serie = $("#Serie").val();
        cfdiModel.Number = $("#Number").val();
        cfdiModel.ClientCode = $("#ClientCode").val();
        cfdiModel.NextInvoice = $("#NextInvoice").val();
        //cfdiModel.PaymentConditions = document.getElementById("PaymentConditions").value;        
        cfdiModel.Concepts = GetConcepts();
        cfdiModel.PM_Type = $("#PMType").val();

        return cfdiModel;
    }

    function GetConcepts() {
        $("#SpecialInvoiceTable tr").each(function () {
            var rowConcept = $(this).closest('tr');
            var obj = {};

            obj.Description = rowConcept.find("td:eq(0)").text();
            obj.Quantity = rowConcept.find("td:eq(1)").attr('id');
            obj.UnitPrice = rowConcept.find("td:eq(2)").attr('id');
            obj.UnitSatCode = rowConcept.find("td:eq(3)").attr('id');
            obj.ItemSatCode = rowConcept.find("td:eq(4)").attr('id');            
            obj.TaxCode = rowConcept.find("td:eq(5)").attr('id');
            obj.IEPSCode = rowConcept.find("td:eq(6)").attr('id');            

            //Add to ConceptList the info of the table row
            if (obj.Description != "")//with this condition avoid to add the header row from the table.
                conceptsList.push(obj);
        });

        return conceptsList;
    }

    $("#ProcessCFDI").click(function () {
        var model = MappingModel();
        var mainForm = $("#formCreateCFDI").valid();
        if (mainForm) {
            StartLoading();
            $.post({
                url: '@Url.Action("INVO006","Invoices")',
                Type: 'POST',
                data: { "Model": model },
                dataType: 'json',
                success: function (data) {
                    EndLoading();
                    if (data.success && (data.Json.IsStamped || data.Json.IsStamped == 'true')) {
                        swal({
                            title: 'Factura',
                            text: "Factura creada exitosamente. " + model.NextInvoice,
                            type: "success"
                        }, function () {
                            window.location.reload(true);
                        });
                    }
                    else if (data.success) {
                        swal({
                            title: 'Factura',
                            text: "Factura creada pero no timbrada. " + model.NextInvoice,
                            type: "warning"
                        }, function () {
                            window.location.reload(true);
                        });
                    }
                    else {
                        swal({
                            title: 'Error',
                            text: "Ocurrio un error, contacte a sistemas para solucionarlo.",
                            type: "error"
                        });
                    }
                }
            });
        }
    });

</script>
}