﻿@model App.Entities.ViewModels.Invoices.InvoicesSalesIndex

@{
    ViewBag.Title = "Facturación Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Movimientos</a></li>
                    <li class="active">
                        <span>Facturar</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Facturación Ventas
            </h2>
            <small>Módulo para facturar una venta</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formInvoices" action="@Url.Action("INVO001","Invoices")" method="post">
                @Html.HiddenFor(model => model.IsGlobal)
                <div class="row">
                    <h4 style="margin-left:10px;">Factura Global Diaria</h4>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.SaleDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.SaleDate, new { htmlAttributes = new { @class = "form-control datepicker", @name = "SaleDate" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.SaleDate, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="form-group col-md-4">
                            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker", @name="EndDate" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>*@
                    <div class="form-group col-md-4">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="InvoiceGlobal">Continuar</button>
                        </div>
                    </div>
                    <div class="form-group" id="ErrorMessage">
                        <h5 style="color:red;" class="col-md-12"><span class="ErrorMessage"></span></h5>
                    </div>
                </div>
                <hr style="border-top: 1px solid #3498db !important;" />
                <div class="row">
                    <h4 style="margin-left:10px;">Facturar Venta de Ticket (Contado Y Crédito)</h4>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.SalesNumber, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calculator"></i></span>
                            @Html.EditorFor(model => model.SalesNumber, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.SalesNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="InvoiceDaily">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var errorMessage;
        $(function () {
            $("#ErrorMessage").hide();
            $("#SaleDate").datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $("#formInvoices").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $("#InvoiceDaily").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#InvoiceDaily").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    SalesNumber: {
                        digits: true,
                        required: true,
                        remote: function () {
                            var model = {};
                            var saleNumber = $("#SalesNumber").val();
                            model.SalesNumber = saleNumber;
                            model.IsGlobal = false;
                            model.SaleDate = null;

                            var valid = {
                                url: "@(Url.Action("ActionValidateSale", "Invoices"))",
                                type: "post",
                                data: { "Model": model },
                                dataFilter: function (data) {
                                    var json = JSON.parse(data);
                                    if (!json.success) {
                                        EndLoading();
                                        errorMessage = json.responseText;
                                        return false;
                                    }
                                    else
                                        return true;
                                }
                            };
                            return valid;
                        },
                    }
                },
                messages: {
                    SalesNumber: {
                        remote: function () { return errorMessage },
                    },
                },
                submitHandler: function (form) {
                    form.submit();
                }
            })
        });

        $('.datepicker').on('change click', function () {
            $('.form-group').removeClass('has-success has-error');
            $('.help-block').remove();
            $("#InvoiceDaily").removeAttr("disabled");
            $("#SalesNumber").val("");
            $("#ErrorMessage").hide();
        });

        $("#SalesNumber").on('change keypress', function (e) {
            $("#ErrorMessage").hide();
            if(e.which == 13 || e.keyCode == 13)
                $("#InvoiceDaily").click();
        });

        $("#InvoiceDaily").click(function () {
            var validValue = $("#formInvoices").validate().element("#SalesNumber");
            if (validValue) {
                StartLoading();
                $("#IsGlobal").val(false);
                $("#formInvoices").submit();
            }
        });

        $("#InvoiceGlobal").click(function () {
            var model = {};
            var saleDate = $("#SaleDate").val();
            model.SalesNumber = null;
            model.IsGlobal = true;
            model.SaleDate = saleDate;

            $("#SalesNumber").rules("remove", "required");
            $("#IsGlobal").val(true);
            StartLoading();
            $.post({
                url: '@Url.Action("ActionValidateSale", "Invoices")',
                type: "post",
                data: { "Model": model },
                dataType: 'json',
                success: function (data) {
                    if (!data.success) {
                        errorMessage = data.responseText;
                        $('.ErrorMessage').html(errorMessage);
                        $("#ErrorMessage").show();
                        EndLoading();
                    }
                    else
                        $("#formInvoices").submit();
                }
            });
        });

    </script>
}