﻿@model App.Entities.ViewModels.Invoices.InvoiceIndex

@{
    ViewBag.Title = "Relación de Facturas";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE007","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Relación de Facturas</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Relación de Facturas
            </h2>
            <small>Reporte</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="hpanel hblue">
            <div class="panel-body">
                <form id="formInvoices" action="@Url.Action("INVO004", "Invoices")" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <label style="text-align:center">FILTRAR</label>
                        </div>
                        <div class="col-md-12">
                            <label style="text-align:center">POR PERIODO: </label>
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker  " } })
                            </div>
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-circle-thin"></i></span>
                                @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                @Html.EnumDropDownListFor(model => model.Currency, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            @Html.LabelFor(model => model.CustomerCode, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @Html.EditorFor(model => model.CustomerCode, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.CustomerCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.InvoiceNo, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-sticky-note"></i></span>
                                @Html.EditorFor(model => model.InvoiceNo, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.InvoiceNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "datepicker form-control" } })
                            </div>
                        </div>

                        <div class="col-md-2 ">
                            <div class="col-md-12 input-group m-b">
                                @Html.LabelFor(model => model.OtionsMounts, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-12 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                    @Html.EnumDropDownListFor(model => model.OtionsMounts, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">&nbsp;</label>
                            <div class="col-md-12 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "any", @value = "0" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Monto)
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12 input-group m-b">
                                @Html.LabelFor(model => model.OptionsPay, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-12 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-clone"></i></span>
                                    @Html.EnumDropDownListFor(model => model.OptionsPay, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12 input-group m-b">
                                @Html.LabelFor(model => model.Uuid, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-12 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-clone"></i></span>
                                    @Html.EnumDropDownListFor(model => model.Uuid, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <label class="control-label">&nbsp;</label>
                                <button type="submit" value="Submit" class="btn btn-success form-control" formaction="@Url.Action("ActionGetXMLInvoices", "Invoices")" formmethod="post" id="XmlsDownload">Descargar XMLs</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-6">
                                <label class="control-label">&nbsp;</label>
                                <button type="button" class="btn btn-info form-control" id="BtnOneInvoiceRpt">Continuar</button>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">&nbsp;</label>
                                <button type="button" class="btn btn-danger form-control" id="BtnCancel">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
                @if (@Model.InvoiceList.Count > 0)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-center">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-center">
                                    <button type="button" class="btn btn-success" id="ReportButton">Reporte General</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-center">
                                    <button type="button" class="btn btn-success" id="XmlsButton">Descargar XMLs</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TableInvoices" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>No. Factura</th>
                                        <th>Fecha</th>
                                        <th>Código de Cliente</th>
                                        <th>Cliente</th>
                                        <th>Vence</th>
                                        <th>Importe</th>
                                        <th>IEPS</th>
                                        <th>IEPS Porcentajes</th>
                                        <th>IVA</th>
                                        <th>Total</th>
                                        <th>Crédito</th>
                                        <th>Contado</th>
                                        <th>Tipo de Pago</th>
                                        <th>Saldo</th>
                                        <th>Código de Moneda</th>
                                        <th>Folio Fiscal</th>
                                        <th>Estado</th>
                                        <th>ArchivoXml</th>                                                                                
                                        <th>Detalle</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>TOTALES</th>
                                        <th>@Model.InvoiceList.Where(w => w.StatusValue).Sum(s => s.Amount).ToString("C")</th>
                                        <th>@Model.InvoiceList.Where(w => w.StatusValue).Sum(s => s.Ieps).ToString("C")</th>
                                        <th></th>
                                        <th>@Model.InvoiceList.Where(w => w.StatusValue).Sum(s => s.Tax).ToString("C")</th>
                                        <th>@Model.InvoiceList.Where(w => w.StatusValue).Sum(s => s.TotalAmount).ToString("C")</th>
                                        <th>@Model.InvoiceList.Where(w => w.StatusValue).Sum(s => s.TotalCredit).ToString("C")</th>
                                        <th>@Model.InvoiceList.Where(w => w.StatusValue).Sum(s => s.TotalCash).ToString("C")</th>
                                        <th></th>
                                        <th>@Model.InvoiceList.Where(w => w.StatusValue).Sum(s => s.Balance).ToString("C")</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>                                        
                                    </tr>
                                </tfoot>
                            </table>
                            <table id="TableInvoicesTotal" class="table table-striped table-bordered table-hover" style="width:500px">
                                <thead>
                                    <tr>
                                        <th style="width:70px"></th>
                                        <th>CREDITO</th>
                                        <th>CONTADO</th>
                                        <th>SUMA</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <th>TASA 0:</th>
                                        <td>@Model.Totales[0, 0].ToString("C")</td>
                                        <td>@Model.Totales[0, 1].ToString("C")</td>
                                        <th>@Model.Totales[0, 2].ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>GRAVADO:</th>
                                        <td>@Model.Totales[1, 0].ToString("C")</td>
                                        <td>@Model.Totales[1, 1].ToString("C")</td>
                                        <th>@Model.Totales[1, 2].ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>EXENTO:</th>
                                        <td>@Model.Totales[2, 0].ToString("C")</td>
                                        <td>@Model.Totales[2, 1].ToString("C")</td>
                                        <th>@Model.Totales[2, 2].ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>IVA:</th>
                                        <td>@Model.Totales[3, 0].ToString("C")</td>
                                        <td>@Model.Totales[3, 1].ToString("C")</td>
                                        <th>@Model.Totales[3, 2].ToString("C")</th>
                                    </tr>
                                    <tr>
                                        <th>IEPS:</th>
                                        <th>@Model.Totales[4, 0].ToString("C")</th>
                                        <th>@Model.Totales[4, 1].ToString("C")</th>
                                        <th>@Model.Totales[4, 2].ToString("C")</th>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>TOTAL:</th>
                                        <th>@Model.Totales[5, 0].ToString("C")</th>
                                        <th>@Model.Totales[5, 1].ToString("C")</th>
                                        <th>@Model.Totales[5, 2].ToString("C")</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    <div class="content animated-panel" id="report-section">
                        <div class="hpanel hblue">
                            <div class="panel-body">
                                <div class="row">
                                    <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


    </div>
    <div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 id="ModalTitle" class="modal-title">Relación de Facturas</h4>
                    <small id="ModalDescription" class="font-bold"></small>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $("#StartDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'

            });
            $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es'
            });

            $("#XmlsDownload").hide();
            $("#StartDate").attr('readonly', 'readonly').css('background-color', '#fff');
            $("#EndDate").attr('readonly', 'readonly').css('background-color', '#fff');

            var Invoices = @Html.Raw(Json.Encode(Model.InvoiceList));
            table.clear();
            table.rows.add(jQuery(Invoices));
            table.columns.adjust().draw();
            $("#BtnOneInvoiceRpt").prop('textContent', "Continuar");
            $("#BtnOneInvoiceRpt").prop('disabled', false);
        });

        $(function () {
            var errorMessage;
            $("#formInvoices").validate({
                errorClass:
                    'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function(error, element) {
                    $(element)
                        .closest("form")
                        .find("span[data-valmsg-for='" + element.attr("id") + "']")
                        .append(error);
                },
                highlight: function(e) {

                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function(e) {

                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    CustomerCode:
                    {
                        required: false,
                        remote: function () {
                            CustomerCode = $("#CustomerCode").val();
                            var valid = {
                                url: "@(Url.Action("ActionValidateFilters", "Invoices"))",
                                type: "post",
                                data: { "CustomerCode": CustomerCode },
                                dataFilter: function (data) {
                                    var obj = JSON.parse(data);
                                    if (!obj.success) {
                                        errorMessage = obj.responseText;
                                        return false;
                                    } else {
                                        return true;
                                    }
                                }
                            };
                            return valid;
                        }
                    },
                    InvoiceNo:
                    {
                        required: false,
                        digits: true
                    }
                },
                messages: {
                    CustomerCode: {
                        remote: function() {
                            return errorMessage
                        },
                    }
                }
            });
        });

        $("#BtnOneInvoiceRpt").click(function () {
            var dateIni = stringToDate($("#StartDate").val());
            var dateFin = stringToDate($("#EndDate").val());

            if (dateFin >= dateIni) {
                $("#formInvoices").submit();
                if ($("#formInvoices").validate().element("#CustomerCode")) {
                    $("#BtnOneInvoiceRpt").prop('textContent', "Consultando...");
                    $("#BtnOneInvoiceRpt").prop('disabled', true);
                }
            }
            else
                toastr.error('Alerta - Fecha Final debe ser mayor o igual a la fecha Inicial. (' + $("#StartDate").val() + ')');
        });

        $("#BtnCancel").click(function () {
            //   $('#StartDate').val("").datepicker("update");
            $("#Status").prop('selectedIndex', 0);
            $("#Currency").prop('selectedIndex', 0);
            $("#CustomerCode").val("");
            // $('#EndDate').val("").datepicker("update");
            $("#OtionsMounts").prop('selectedIndex', 0);
            $("#Monto").val("0.00");
            $("#OptionsPay").prop('selectedIndex', 0);

            $("#BtnOneInvoiceRpt").prop('textContent', "Continuar");
            $("#BtnOneInvoiceRpt").prop('disabled', false);
        });

        function ValidateInputs(e) {
            // $("#ErrorMessage").hide();
            $('.form-group').removeClass('has-success has-error');
            $('.help-block').remove();
            if (e.which == 13 || e.keyCode == 13)
                $("#BtnOneInvoiceRpt").click();
        }

        var table = $('#TableInvoices').DataTable({
            createdRow: function (row, data, dataIndex) {

                if (data['FiscalStatus'] == false) {
                    $(row).css('background-color', '#F5F190');//yellow
                    $(row).css('color', 'Black');
                }
                if (data['Status'] == 'Cancelada') {
                    $(row).css('background-color', '#F08080');//red
                    $(row).css('color', 'White');
                }
            },

            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [

            ],
            columns: [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                }, 
                { data: 'SerieAndNumber' },
                { data: 'CreateDate' },
                { data: 'CustomerCode' },
                { data: 'CustomerName' },
                { data: 'DueDate' },
                { data: 'Amount' },
                { data: 'Ieps' },
                { data: 'IepsPredicate' },
                { data: 'Tax' },
                { data: 'TotalAmount' },
                { data: 'TotalCredit' },
                { data: 'TotalCash' },
                { data: 'CreditOrCash' },
                { data: 'Balance' },
                { data: 'CurrencyCode' },
                { data: 'FiscalNumber' },
                { data: 'Status' },
                { data: 'HasXmlFile' },
            ],
            columnDefs: [{
                targets: [0, 1, 2, 3, 4, 5, 6, 7, 9],
                width: "1%"
            },
            {
                targets: 8,
                width: "100%"
            },
            {
                targets: [6, 7, 9, 10, 11, 12, 14],
                className: 'text-right'
            },
            {
                targets: 17,
                render: function (data, type, row) {
                    if (data == "Pagada") {
                        return '<div style="color:Green; text-align:center;"><strong>' + data + '</strong></div>'
                    } else if (data == "Cancelada") {
                        return '<div style="color:White; text-align:center;"><strong>' + data + '</strong></div>'
                    } else if (data == "Vencida") {
                        return '<div style="color:Orange; text-align:center;"><strong>' + data + '</strong></div>'
                    } else if (data == "Indefinida") {
                        return '<div style="text-align:center;">' + data + '</div>'
                    }
                    else if (data == "Vigente") {
                        return '<div style="color:Green; text-align:center;"><strong>' + data + '</strong></div>'
                    }
                }
            },
            {
                    targets: [18],
                    visible: false
            },
            {
                type: 'numeric-comma',
                render: function (data, type, row) {
                    return '$' + data.toFixed(2);
                },
                targets: [6, 7, 9, 10, 11, 12, 14]
            },
            {
                data: null,
                width: "1%",
                targets: 19,
                render: function (data, type, row) {
                    if(data['HasXmlFile'] == true)
                        return '<button class="btn btn-xs btn-outline btn-info report">Reporte</button> <button class="btn btn-xs btn-outline btn-success xmlFile">Archivo XML</button>'
                    else
                        return '<button class="btn btn-xs btn-outline btn-info report">Reporte</button>'
                }
            }]
        });

        //detalles de la factura
        var detailRows = [];

        $('#TableInvoices tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (table.row('.details').length) {
                    $('.details-control', table.row('.details').node()).click();
                }
                row.child(format(row.data())).show();
                tr.addClass('details');
            }
        });

        table.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        function reloadStyleTable() {
            $('#tabledetail').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
            });
        }

        function format(d) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "@(Url.Action("ActionGetInvoiceDetail", "Invoices"))",
                data: { "InvoiceNumber": d.InvoiceNumber },
                type: "GET",
                success: function (returndate) {
                    $.each(returndate.Json, function (index, value) {
                        detailItems += "<tr><td>" + value.part_number + "</td><td>" + value.part_name + "</td><td>" + value.part_quantity.toFixed(4) + "</td><td class='text-right'>" + "$" + value.part_price.toFixed(2) +
                            "</td><td class='text-right'>" + "$" + value.part_importe.toFixed(2) + "</td><td class='text-right'>"
                            + "$" + value.part_iva.toFixed(2) + "</td><td class='text-right'>" + value.part_iva_percentage.toFixed(0) + "</td><td class='text-right'>"
                            + "$" + value.part_ieps.toFixed(2) + "</td><td class='text-right'>" + value.part_ieps_percentage + "</td> <td class='text-right'>" + "$" + value.part_total.toFixed(2) + "</td></tr>"
                    });
                    tabledetail.html('<table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%">' +
                        '<thead><tr><th>No. Artículo</th><th>Artículo</th><th>Cantidad</th><th>Precio</th><th>Importe</th><th>IVA</th><th>IVA %</th></th><th>IEPS</th><th>IEPS %</th><th>TOTAL</th></tr></thead><tbody>' + detailItems + '</tbody></table>').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail;
        }

        $('#TableInvoices tbody').on('click', 'button.report', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            var date = row.data().CreateDate;
            var invoice = row.data().InvoiceNumber;
            var customer = row.data().CustomerName;
            
            StartLoading();
            $.ajax({
                type: "GET",
                url: "@(Url.Action("ActionReportCreditNotesDetails", "Invoices"))",
                data: { "date": date, "InvoiceNumber": invoice, "customer": customer, "serie": row.data().InvoiceSerie },
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Factura Número: ' + row.data().SerieAndNumber + '');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    EndLoading();
                }
            });
        });

        //Download XML File
        $('#TableInvoices tbody').on('click', 'button.xmlFile', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            var invoiceNo = row.data().InvoiceNumber;
            var url = "@(Url.Action("ActionGetXMLFile", "Invoices"))/?InvoiceNo=" + invoiceNo;            
            $('<a href="'+ url +'" target="_blank">External Link</a>')[0].click();
        });

        $("#ReportButton").click(function () {
            var obj = @Html.Raw(Json.Encode(Model));
            obj.InvoiceList = null;
            StartLoading();
            $.post({
                type: "POST",
                url: "@(Url.Action("ActionReportGralInvoices", "Invoices"))",
                dataType: "html",
                data: { "model": obj },
                success: function (returndates) {
                    document.getElementById("iframe").srcdoc = returndates;
                    EndLoading();
                    $("#ModalDescription").html('Relación Notas de Crédito-Bonificaciones');
                    $('#ModalReport').modal('show');
                },
                error: function (returndates) {
                    EndLoading();
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });

        $("#XmlsButton").click(function () {
            $("#XmlsDownload").click();
        });

        $("#InvoiceNo").keydown(function (e) {            
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });

        function footers() {
            for (var i = 6; i < 8; i++) {
                var foot = table.column(i);
                $(foot.footer()).html(
                    '$' + foot.data().reduce(function (a, b) {
                        return (a + b);
                    }).toFixed(2)
                );
            }
            for (var i = 9; i < 13; i++) {
                var foot = table.column(i);
                $(foot.footer()).html(
                    '$' + foot.data().reduce(function (a, b) {
                        return (a + b);
                    }).toFixed(2)
                );
            }
            var saldo = table.column(14);

            $(saldo.footer()).html(
                '$' + saldo.data().reduce(function (a, b) {
                    return (a + b);
                }).toFixed(2)
            );
        }
    </script>
}