﻿@model App.Entities.ViewModels.BarcodeCaptureTime.BarcodeCaptureTimeIndex

@{
    ViewBag.Title = "Reporte Scaneados";
    decimal TotalPercentage = 0;
    //decimal TotalPercentage = !Model.IsFromMenu && Model.DataInfo.MainData.Count > 0 ? (Model.DataInfo.ScannedTotal.Sum(c => c.NotScanned) * 100) / Model.DataInfo.ScannedTotal.Sum(c => c.Scanned) : 0;
    if (Model.DataInfo.MainData.Count > 0)
    {
        decimal NotScanned = Model.DataInfo.ScannedTotal.Sum(c => c.NotScanned);
        decimal Scanned = Model.DataInfo.ScannedTotal.Sum(c => c.Scanned);
        TotalPercentage = (NotScanned / Scanned) * 100;
    }    
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000","POS")">Cajas</a></li>
                    <li><a href="@Url.Action("POS002","POS")">Reportes</a></li>
                    <li class="active">
                        <span>Scaneos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Scaneos
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formScanReport" action="@Url.Action("BACT001","BarcodeCaptureTime")" method="post">
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchInfo">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (!Model.IsFromMenu && Model.DataInfo.MainData.Count() > 0)
        {
            <div class="content animated-panel" id="TableSection">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-success" id="ReportButton">Reporte</button>
                        </div>
                        <div class="table-responsive m-t col-md-12">
                            <label>Relación de Códigos NO Escaneados por Cajero del @Model.StartDate al @Model.EndDate</label>
                            <label style="color:gray;"><i> No se consideran códigos cortos de Deptos de Frutas y Verduras, Panadería, Recargas, Tortillería y Servicios </i></label>
                            <table id="reportTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Cajero</th>
                                        <th>Ticket</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Caja</th>
                                        <th>Código</th>
                                        <th>Descripción</th>
                                        <th>Departamento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DataInfo.MainData)
                                    {
                                        <tr>
                                            <td>@item.Cashier</td>
                                            <td>@item.Ticket</td>
                                            <td>@item.Date</td>
                                            <td>@item.Time</td>
                                            <td>@item.CheckoutNo</td>
                                            <td>@item.CaptureCode</td>
                                            <td>@item.ItemDescription</td>
                                            <td>@item.Department</td>
                                        </tr>
                                    }
                                </tbody>                                
                            </table>
                        </div>
                        <br /><br /><br />
                        <div class="col-md-6">
                            <label>Total Códigos Escaneados contra No Escaneados por Cajero del @Model.StartDate al @Model.EndDate</label>
                            <table class="table table-striped table-bordered table-hover table-responsive" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Cajero</th>
                                        <th>Escaneados</th>
                                        <th>No Escaneados</th>
                                        <th>%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model.DataInfo.ScannedTotal)
                                    {
                                        <tr>
                                            <td>@item.Cashier</td>
                                            <td>@item.Scanned</td>
                                            <td>@item.NotScanned</td>
                                            <td>@item.Percentage.ToString("0.00")</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>@Model.DataInfo.ScannedTotal.Sum(c => c.Scanned)</th>
                                        <th>@Model.DataInfo.ScannedTotal.Sum(c => c.NotScanned)</th>
                                        <th>@TotalPercentage.ToString("0.00")</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <label>Top 10 Códigos capturados No Escaneados del @Model.StartDate al @Model.EndDate</label>
                            <table class="table table-striped table-bordered table-hover table-responsive" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Descripción</th>
                                        <th>Departamento</th>
                                        <th>Incidencias</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DataInfo.IssuesCount)
                                    {
                                        <tr>
                                            <td>@item.ItemNumber</td>
                                            <td>@item.ItemDescription</td>
                                            <td>@item.Department</td>
                                            <td>@item.Issues</td>
                                        </tr>
                                    }
                                </tbody>                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (!Model.IsFromMenu)
        {
            <div class="content animated-panel" id="report-section">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <div class="row">
                            <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Scaneo</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {

            startDate = $("#StartDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            endDate = $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');
        });

        $("#SearchInfo").click(function () {
            StartLoading();
            $("#formScanReport").submit();
        });

        var reportTable = $('#reportTable').DataTable({
            retrieve: true,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            //columns: [
            //    { data: 'Cashier' },
            //    { data: 'Ticket'},
            //    { data: 'Date' },
            //    { data: 'Time' },
            //    { data: 'CheckoutNo' },
            //    { data: 'CaptureCode' },
            //    { data: 'ItemDescription' },
            //    { data: 'Department' },
            //],
        });

        $("#ReportButton").click(function() {
            var model = @Html.Raw(Json.Encode(Model));
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetBarcodeCaptureTimeReport", "BarcodeCaptureTime")',
                Type: 'POST',
                data: { "Model": model },
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte de Scaneos');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });

    </script>
}