﻿@model App.Entities.ViewModels.Quotes.QuoteIndex

@{
    ViewBag.Title = "Reporte Cotizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield !important;
    }

    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE007","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Reporte Cotizaciones/Pedidos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte Cotizaciones / Pedidos
            </h2>
            <small>Módulo para reporte de cotizaciones</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formQuoteReport" action="@Url.Action("QUOT002", "Quotes")" method="post">
                <div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12" id="SearchClient">
                    @Html.LabelFor(model => model.ClientCode, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10 input-group m-b">
                        @Html.DropDownListFor(model => model.ClientCode, null, "-- Selecciona Cliente--", htmlAttributes: new { @class = "form-control select2" })
                        <label>(Buscar cliente por RFC, Nombre o Número)</label>
                    </div>
                </div>
                <div class="col-lg-12" style="">
                    <div class="form-group col-lg-12">
                        <div class="text-right">
                            <button type="button" class="btn btn-success" id="SearchInfo">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (!Model.IsFromMenu && Model.DataReport.Count > 0)
        {
            <div class="content animated-panel" id="TableSection">
                <div class="hpanel">
                    <div class="panel-body">
                        @*<div class="text-center">
                        <button type="button" class="btn btn-success" id="ReportButton">Reporte</button>
                    </div>*@
                        <div class="table-responsive m-t">
                            <table id="reportTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        @*<th></th>*@
                                        <th>Folio</th>
                                        <th>Cliente</th>
                                        <th>Fecha</th>
                                        <th>Total</th>
                                        <th>IVA</th>
                                        <th>Número</th>
                                        <th>Serie</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (!Model.IsFromMenu)
        {
            <div class="content animated-panel" id="report-section">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <div class="row">
                            <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                        </div>
                    </div>
                </div>
            </div>
        }        
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalPdf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Documento PDF</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <object id="Pdf-iframe" style="width:100%" height="350" frameborder="0" type="application/pdf"></object>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script src="~/Scripts/validations.js"></script>
    <script type="text/javascript">
        $(function () {

            startDate = $("#StartDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            endDate = $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');
        });

        $("#SearchInfo").click(function () {
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();

            if (ValidateDates(startDate, endDate)) {
                StartLoading();
                $("#formQuoteReport").submit();
            }
        });

        var table = $('#reportTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            data: @Html.Raw(Json.Encode(Model.DataReport)),
            columns: [
                //{
                //    "class": "details-control",
                //    "orderable": false,
                //    "data": null,
                //    "defaultContent": "",
                //},
                { data: 'Id' },
                { data: 'Customer' },
                { data: 'Date' },
                { data: 'Total' },
                { data: 'Tax' },
                { data: 'Number' },
                { data: 'Serie' },
                { "defaultContent": "" }
            ],
            columnDefs: [
                { className: 'text-center' },
                {
                    targets: [5, 6],
                    visible: false
                },
                {
                    data: null,
                    width: "1%",
                    targets: 7,
                    render: function (data, type, row) {
                        return '<button class="btn btn-xs btn-outline btn-info report">Reporte</button>'
                    }
                },
                {
                    type: 'numeric-comma',
                    render: function (data, type, row) {
                        return '$' + data.toFixed(2);
                    },
                    targets: [3, 4]
                },
            ]
        });

        $('#reportTable tbody').on('click', 'button.report', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            console.log(row.data());            
            $.post({
                type: "POST",
                url: "@(Url.Action("ActionGetQuotePDF", "Quotes"))",                
                data: { "Number": row.data().Number, "Serie": row.data().Serie },
                dataType: 'json',
                success: function (data) {
                    EndLoading();
                    if (data.success) {                                            
                        $("#ModalDescription").html('Cotización: ' + row.data().Id + '');
                        var pdf = 'data:application/pdf;base64,' + data.Json;                        
                        $("#Pdf-iframe").attr("data", pdf);                        
                        $('#ModalPdf').modal('show');
                    }
                    else {
                        swal({
                            title: '',
                            text: data.responseText,
                            type: "error"
                        });
                    }                    
                },
            });
        });

        $("#ModalPdf").on("hidden.bs.modal", function () {
            window.location.reload(true);
        });        
    </script>
}