﻿@model App.Entities.ViewModels.Quotes.QuoteModel

@{
    ViewBag.Title = "Cotizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield !important;
    }
</style>

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Movimientos</a></li>
                    <li class="active">
                        <span>Cotizaciones/Pedidos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Cotizaciones / Pedidos
            </h2>
            <small>Módulo para cotizaciones</small><br />
        </div>
    </div>
</div>

@if (Model.IsFromMenu)
{
    <div class="content animated-panel" id="SelectClient">
        <div class="hpanel hblue">
            <div class="panel-body">
                <form id="formQuoteClient" action="@Url.Action("QUOT001", "Quotes")" method="post">
                    @Html.HiddenFor(model => model.IsFromMenu)
                    <div class="form-group col-md-12" id="SearchClient">
                        @Html.LabelFor(model => model.ClientCode, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.ClientCode, null, "-- Selecciona Cliente--", htmlAttributes: new { @class = "form-control select2" })
                            <label>(Buscar cliente por RFC, Nombre o Número)</label>
                        </div>
                    </div>
                    <div class="col-lg-12" style="">
                        <div class="form-group col-lg-12">
                            <div class="text-right">
                                <button type="button" class="btn btn-success" id="ProcessClient">Continuar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@if (!Model.IsFromMenu && Model.HasSerieAndNumber)
{
    <div class="content animated-panel">
        <div class="hpanel hblue">
            <div class="panel-body">
                @Html.HiddenFor(model => model.ClientCode)
                @Html.HiddenFor(model => model.SiteCode)
                @Html.HiddenFor(model => model.QuoteSerie)
                @Html.HiddenFor(model => model.QuoteNo)
                @Html.HiddenFor(model => model.ClientName)
                @Html.HiddenFor(model => model.Address)
                @Html.HiddenFor(model => model.PhoneNumber)
                @Html.HiddenFor(model => model.Email)
                @Html.HiddenFor(model => model.Seller)
                @Html.HiddenFor(model => model.SellerEmail)
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="row">
                            @Html.LabelFor(model => model.Quote, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.Quote, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row">
                            @Html.LabelFor(model => model.Seller, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.Seller, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-8" id="ClientInfo">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ClientNumber, htmlAttributes: new { @class = "control-label" })
                                <span class="ClientNumber">@Html.EditorFor(model => model.ClientNumber, new { htmlAttributes = new { @type = "number" } })</span>
                            </div>                            
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label" })
                                <span class="ClientName">@Html.DisplayFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                                <span class="Address">@Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                <span class="Email">@Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                                <span class="PhoneNumber">@Html.DisplayFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.FaxNumber, htmlAttributes: new { @class = "control-label" })
                                <span class="FaxNumber">@Html.DisplayFor(model => model.FaxNumber, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 1px solid #3498db !important;" />
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Item, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                            @Html.EditorFor(model => model.Item, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Item, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchItem">Buscar</button>
                        </div>
                    </div>
                </div>
                <div class="content animated-panel" id="TableSection">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="table-responsive m-t">
                                <table id="articlesTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>U/M</th>
                                            <th>Porcentaje IVA</th>
                                            <th>IVA</th>
                                            <th>Número de Artículo</th>
                                            <th>Descripción</th>
                                            <th>Existencia</th>
                                            <th style="border-right:none !important" class="text-center">Precio</th>
                                            <th style="border-left:none !important"></th>
                                            <th>Cantidad</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content animated-panel" id="TableQuoteSection">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="table-responsive m-t">
                                <table id="quoteTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Porcentaje IVA</th>
                                            <th>IVA</th>
                                            <th>Cantidad</th>
                                            <th>Existencia</th>
                                            <th>Número de Artículo</th>
                                            <th>U/M</th>
                                            <th>Descripción</th>
                                            <th>Precio Unitario</th>
                                            <th>Precio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td colspan="8" class="text-right" style="border-right:0px !important">Subtotal</td>
                                            <td colspan="2" class="text-left Subtotal" style="border-left:0px !important"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="text-right" style="border-right:0px !important">IVA</td>
                                            <td colspan="2" class="text-left Iva" style="border-left:0px !important"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="text-right" style="border-right:0px !important">Total</td>
                                            <td colspan="2" class="text-left Total" style="border-left:0px !important"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 input-group m-b">
                        <div class="text-right">
                            <button type="button" class="btn btn-success" id="ProcessQuote">Procesar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (!Model.HasSerieAndNumber)
{
    <div class="content animated-panel" id="report-section">
        <div class="hpanel hblue">
            <div class="panel-body">
                <div class="row">
                    <h4 style="text-align:center;color:red;">Por el momento no hay número ni serie disponibles para la cotización.</h4>
                </div>
            </div>
        </div>
    </div>
}


@*Modal to display PDF*@
<div class="modal fade hmodal-info" id="ModalPdf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Documento PDF</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <object id="Pdf-QuoteiFrame" style="width:100%" height="350" frameborder="0" type="application/pdf"></object>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="SendPdf">Enviar Correo</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script src="~/Scripts/Quotes/Quotes.js"></script>
    <script type="text/javascript">
        var urlItems = '@Url.Action("ActionGetItemInformation", "Quotes")';
        var urlClientInfo = '@Url.Action("ActionGetCustomerInfo", "Quotes")';
        var urlProcessQuote = '@Url.Action("ActionProcessQuotation", "Quotes")';
        var urlLoadingPage = '@Url.Action("QUOT001", "Quotes")';
        var urlSendMail = '@Url.Action("ActionSendEmail", "Quotes")';
        
        $(function () {
            $("#TableSection").hide();
            $("#TableQuoteSection").hide();
            $("#ProcessQuote").hide();
            arcticlesTable.clear();            

            $("#ClientCode").select2({
                minimumInputLength: 3
            });
        });
    </script>
}
