﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="content animate-panel">
    <div class="row menu-row">
        <div class="col-xs-12 col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="ADMS021">
                            <h2 class="m-b-xs">Administración de basculas.</h2>
                            <div class="m">
                                <i class="pe-7s-refresh fa-5x"></i>
                            </div>
                            <p class="small">
                                Actualizar Basculas.<br /><br />
                            </p>
                            <br />
                        </a>
                        <a href="ADMS021" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>