﻿@model List<App.Entities.ViewModels.Configuration.UserMasterDrop>
@{ ViewBag.Title = "ADMS004"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENADMS000">Roles y Permisos</a></li>
                    <li>
                        <a href="ADMS007">Administración de Roles y Permisos</a>
                    </li>
                    <li class="active">
                        <span>Tables design</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Roles de usuario
            </h2>
            <small>Asignar roles a usuarios.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Asignación
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 contact-panel" style="">
                            <div class="hpanel hgreen">
                                <div class="panel-heading hbuilt">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Usuarios del Sistema
                                        </div>
                                        <div class="col-md-6">
                                            <form action="">
                                                <div class="input-group">
                                                    <input id="searchUsers" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('UsersList,#searchUsers');" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-xs btn-default" type="button" onclick="searchLists('UsersList,#searchUsers');">
                                                            <span class="fa fa-search"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body no-padding" style="display: block;">
                                    <ul id="UsersList" class="list-group">
                                        @foreach (var item in Model)
                                        {
                                            <li class="list-group-item">
                                                <p class="radio"><input type="radio" name="Users" value="@item.emp_no.ToString()"> @item.first_name @item.last_name (@item.user_name.ToString() #: @item.emp_no ) </p>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="panel-footer" style="display: block;">
                                    Lista de usuarios disponibles en el sistema.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3  contact-panel" style="">
                            <div class="hpanel hblue">
                                <div class="panel-heading hbuilt">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Roles Asignados
                                        </div>
                                        <div class="col-md-6">
                                            <form action="">
                                                <div class="input-group">
                                                    <input id="searchListassigned" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('assignedList,#searchListassigned');" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-xs btn-default" type="button" onclick="searchLists('assignedList,#searchListassigned');">
                                                            <span class="fa fa-search"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body no-padding" style="display: block;">
                                    <ul id="assignedList" class="list-group"></ul>
                                </div>
                                <div class="panel-footer" style="display: block;">
                                    Lista de roles asignadas al usuario seleccionado. (<a href="ADMS002" title="Agregar Mas Roles" data-toggle="tooltip" data-placement="top">Agregar Mas</a>)
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 text-center contact-panel float-e-margins" style="display: block;">
                            <p>
                                <button type="button" class="btn btn-outline  w-xs btn-info" onclick="RemoveFromUser();">></button>
                                <button type="button" class="btn btn-outline  w-xs btn-danger" onclick="RemoveFromRoleAll();">>></button>
                                <button type="button" class="btn btn-outline  w-xs btn-info" onclick="AddToUser();"><</button>
                                <button type="button" class="btn btn-outline  w-xs btn-danger" onclick="AddToRoleAll();"><<</button>
                            </p>
                            <label style="margin-top:40px;">Estatus Usuario</label>
                            <select class="form-control select2" id="user_status" onchange="OnChangeSelect2();">
                                <option value="">Selecciona una Opción</option>
                                <option value="A">Activado</option>
                                <option value="B">Bloqueado</option>
                                <option value="I">Inactivo</option>
                            </select>
                            <p id="pending" class="hide" style="margin-top:20px; color:red"><b>Este usuario se encuentra en estado Pendiente, seleccione otra opción.</b></p>
                        </div>
                        <div class="col-lg-3  contact-panel" style="">
                            <div class="hpanel hblue">
                                <div class="panel-heading hbuilt">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Roles Disponibles
                                        </div>
                                        <div class="col-md-6">
                                            <form action="">
                                                <div class="input-group">
                                                    <input id="searchListavailable" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('availableList,#searchListavailable');" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-xs btn-default" type="button" onclick="searchLists('availableList,#searchListavailable');">
                                                            <span class="fa fa-search"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body no-padding" style="display: block;">
                                    <ul id="availableList" class="list-group"></ul>
                                </div>
                                <div class="panel-footer" style="display: block;">
                                    Lista de roles disponibles. (<a href="ADMS002" title="Agregar Mas Roles" data-toggle="tooltip" data-placement="top">Agregar Mas</a>)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/ADMS004/js")
}