﻿@model FloridoERPTX.ViewModels.Configuration.ConfigurationAddPages
@{ ViewBag.Title = "ADMS001"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENADMS000">Roles y Permisos</a></li>
                    <li>
                        <a href="ADMS007">Administración de Roles y Permisos</a>
                    </li>
                    <li class="active">
                        <span>Páginas</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Administración de páginas
            </h2>
            <small>Inserción y modificación de paginas. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Paginas
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="TablePages" class="table table-striped table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th><button type="button" class="btn btn-xs btn-success " onclick="AddPage();"><i class="fa fa-plus"></i> Agregar</button></th>
                                    <th>Página Id</th>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Url</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Page)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@item.page_id.ToString()</td>
                                        <td>@item.page_name.ToString()</td>
                                        <td>@item.description.ToString()</td>
                                        <td>@item.url</td>
                                        <td>@item.active_flag</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAddPages" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Agregar Pagina</h4>
                <small id="ModalDescription" class="font-bold">Formulario para registrar una nueva pagina.</small>
            </div>
            @using (Html.BeginForm("ActionInsertPages", "Configuration", FormMethod.Post, new { name = "form", id = "form" }))
            {
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="page_id" title="ID Pagina." data-toggle="tooltip" data-placement="right">ID Pagina</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-key"></span>
                                </span>
                                @Html.TextBoxFor((x => x.page_id), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="page_name" title="Nombre de la página." data-toggle="tooltip" data-placement="right">Nombre de Pagina</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-file-text-o"></span>
                                </span>
                                @Html.TextBoxFor((x => x.page_name), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label title="description" data-toggle="Descripción de la página." data-placement="right">Descripción</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-file-text"></span>
                                </span>
                                @Html.TextBoxFor((x => x.description), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label title="URL de la página" data-toggle="tooltip" data-placement="right">URL</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-link"></span>
                                </span>
                                @Html.TextBoxFor((x => x.url), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label title="Status" data-toggle="tooltip" data-placement="right">Activo/Inactivo</label>
                            <div id="Check" class="i-checks">@Html.CheckBoxFor((x => x.active_flag.HasValue), new { @class = "form-control" })</div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                    <button class="btn btn-primary"><i class="fa fa-save"></i> Guardar Cambios</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/ADMS001/js") }