﻿@model FloridoERPTX.ViewModels.Configuration.ConfigurationAddRoles
@{ ViewBag.Title = "ADMS002"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENADMS000">Roles y Permisos</a></li>
                    <li>
                        <a href="ADMS007">Administración de Roles y Permisos</a>
                    </li>
                    <li class="active">
                        <span>Roles</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Roles del sistema
            </h2>
            <small>Inserción y modificación de roles.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Paginas
                </div>
                <div class="panel-body">
                    <table id="TableRoles" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th><button type="button" class="btn btn-xs btn-success " onclick="AddRole();"><i class="fa fa-plus"></i> Agregar</button></th>
                                <th>Role Id</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.RolesCollection)
                            {
                                <tr>
                                    <td></td>
                                    <td>@item.role_id.ToString()</td>
                                    <td>@item.role_name.ToString()</td>
                                    <td>@item.role_description.ToString()</td>
                                    <td>@item.active_flag</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAddPages" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Agregar Pagina</h4>
                <small id="ModalDescription" class="font-bold">Formulario para registrar una nueva pagina.</small>
            </div>
            @using (Html.BeginForm("ActionInsertRoles", "Configuration", FormMethod.Post, new { name = "form", id = "form" }))
            {
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="page_id" title="ID Pagina." data-toggle="tooltip" data-placement="right">ID Rol</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-key"></span>
                                </span>
                                @Html.TextBoxFor((x => x.role_id), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="page_name" title="Nombre de la Rol." data-toggle="tooltip" data-placement="right">Nombre de Rol</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-file-text-o"></span>
                                </span>
                                @Html.TextBoxFor((x => x.role_name), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label title="description" data-toggle="Descripción de la Rol." data-placement="right">Descripción</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-file-text"></span>
                                </span>
                                @Html.TextBoxFor((x => x.role_description), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label title="Status" data-toggle="tooltip" data-placement="right">Activo/Inactivo</label>
                            <div id="Check" class="i-checks">@Html.CheckBoxFor((x => x.active_flag.Value), new { @class = "form-control" })</div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                    <button class="btn btn-primary"><i class="fa fa-save"></i>  Guardar Cambios</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/ADMS002/js") }