﻿@model FloridoERPTX.ViewModels.Configuration.ConfigurationWeighingMachine

@{ ViewBag.Title = "ADMS021";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li> <span>Configuracion</span></li>
                    <li><a href="">Basculas</a></li>
                    <li class="active">
                        <span>Actualizar.</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Basculas.
            </h2>
            <small>Actualizar Precios.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="hpanel">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-balance-scale"></i>Actualizar Precios.</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-shopping-cart"></i> Productos de bascula</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4" id="b1">
                            <div class="hpanel hyellow">
                                <div class="hpanel contact-panel">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <a href="@Url.Action("ActionReportOrder", "SalesPriceBasculeChange", new { TypeOfBascule = 1 })">
                                                <h4 class="m-b-xs">Bascula CAS</h4>
                                                <div class="m">
                                                    <img src="~/styles/img/meat_bascule.png" />
                                                </div>
                                                <p>
                                                    Actualizar Precios de bascula Carniceria.
                                                </p>
                                                <br />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" id="b2">
                            <div class="hpanel hblue">
                                <div class="hpanel contact-panel">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <a onclick="BasculaGenerateFile(2);">
                                                <h4 class="m-b-xs" style="color:@Html.Raw(@ViewBag.BasculaToledoServer)">Bascula Toledo</h4>
                                                <div class="m">
                                                    <img src="~/styles/img/bakery.png" />
                                                </div>
                                                <p>
                                                    Actualizar Precios de bascula Panaderia.
                                                </p>
                                                <br />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4" id="b3">
                            <div class="hpanel hgreen">
                                <div class="hpanel contact-panel">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <a onclick="BasculaGenerateFile(3);">
                                                <h4 class="m-b-xs">Bascula Toledo B Plus</h4>
                                                <div class="m">
                                                    <img src="~/styles/img/weighing_machine_b_plus.png" />
                                                </div>
                                                <p>
                                                    Actualizar Precios de bascula Panaderia/Carniceria.
                                                </p>
                                                <br />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="row text-center">
                        <div class="col-lg-12 text-center" style="margin-top:15px">
                            <label>Precios que cambiaron el día de hoy</label>
                            <br />
                            <div class="form-group">
                                <label> <input type="checkbox" id="cbox_ReportType" onclick="checkDetail();" class="i-checks"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table id="TablaBascula" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Código básculas</th>
                                        <th>Descripción</th>
                                        <th>Precio Actual</th>
                                        <th>Días de caducidad</th>
                                        <th>Última actualización</th>
                                        <th>part_caducidad</th>
                                        <th>Departamento</th>
                                        <th>level_header</th>
                                        <th>level1_code</th>
                                        <th>level2_code</th>
                                        <th>Weight_flag</th>
                                        <th>flag_visible</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Hidden("ProductsForTable", serializer.Serialize(Model.Products))
@Html.Hidden("Bascula1", (object)@ViewBag.WeighingMachineToledoCAS)
@Html.Hidden("Bascula2", (object)@ViewBag.WeighingMachineToledo)
@Html.Hidden("Bascula3", (object)@ViewBag.WeighingMachineToledoBPLus)

@section Scripts
{
    <script src="~/Vendor/moment/moment.js"></script>
    <script src="~/Vendor/moment/locale/es.js"></script>
    @Scripts.Render("~/bundles/PURC002/js")
    @Scripts.Render("~/bundles/ADMS021/js")
}
