﻿@{
    ViewBag.Title = "Menu MRO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="MRO000">
                            <h2 class="m-b-xs">Gestion de Maquinaria y Equipo</h2>
                            <div class="m">
                                <i class="fa fa-cubes fa-5x"></i>
                            </div>
                            <p class="small">
                                Modulo para Gestion de Maquinaria y Equipo
                            </p>
                            <br />
                        </a>
                        <a href="MRO000" class="btn btn-success btn-sm">Ir al modulo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
