﻿@model App.Entities.ViewModels.Payments.PaymentIndex

@{
    ViewBag.Title = "Pago de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Clientes</a></li>
                    <li><a href="@Url.Action("CTMS006","Customers")">Caja</a></li>
                    <li class="active">
                        <span>Pagos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Pagos de Clientes
            </h2>
            <small>Módulo para pagos</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formPayments" action="@Url.Action("PAMT001","Payments")" method="post">
                @Html.HiddenFor(model => model.IsPayment)
                <div class="form-group col-md-12" id="SearchClient">
                    @Html.LabelFor(model => model.CustomerCode, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10 input-group m-b">
                        @Html.DropDownListFor(model => model.CustomerCode, null, "-- Selecciona RFC--", htmlAttributes: new { @class = "form-control select2" })
                        <label>(Buscar cliente por RFC, Nombre o Número)</label>
                    </div>
                </div>
                <div class="col-lg-12" style="">
                    <div class="form-group col-lg-12">
                        <div class="text-right">
                            <button type="button" class="btn btn-success" id="ProcessClient">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $("#ProcessClient").click(function () {
            var clientValue = $("#CustomerCode").val();
            if (clientValue) {
                StartLoading();
                $("#formPayments").submit();
            }
        });
    </script>
}
