﻿@model App.Entities.ViewModels.Payments.PaymentIndex

@{
    ViewBag.Title = "PAMT003";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Clientes</a></li>
                    <li><a href="@Url.Action("CTMS006","Customers")">Caja</a></li>
                    <li class="active">
                        <span>Pagos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Cancelar Pagos
            </h2>
            <small>Módulo para cancelar pagos</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <div class="form-group col-md-12" id="SearchClient">
                @Html.LabelFor(model => model.CustomerCode, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-10 input-group m-b">
                    @Html.DropDownListFor(model => model.CustomerCode, null, "-- Selecciona Cliente--", htmlAttributes: new { @class = "form-control select2" })
                    <label>(Buscar cliente por RFC, Nombre o Número)</label>
                </div>
            </div>
            <div class="content animated-panel" id="TableSection" style="display:inline-block;">
                <div class="hpanel">
                    <div class="panel-body">
                        <table id="PaymentsTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th># Recibo</th>
                                    <th>Fecha de Recibo</th>
                                    <th>Método de Pago</th>
                                    <th>Número de Operación</th>
                                    <th>Importe</th>
                                    <th>Fecha de Pago</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#TableSection").hide();
        });

        $("#CustomerCode").on('change', function () {
            var clientValue = $("#CustomerCode").val();
            if (clientValue) {
                $.ajax({
                    url: '@Url.Action("ActionGetPaymentByCustomer", "Payments")',
                    Type: 'GET',
                    data: { CustomerCode: clientValue },
                    dataType: 'json',
                    success: function (data) {
                        $("#TableSection").show();
                        table.clear();
                        table.rows.add(data.Json);
                        table.columns.adjust().draw();
                    }
                });
            }
            $("#TableSection").hide();
        });

        var table = $('#PaymentsTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [

            ],
            columns: [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                },
                { data: 'PMId' },
                { data: 'Receipt' },
                { data: 'ReceiptDate' },
                { data: 'PaymentMethod' },
                { data: 'OperationNumber' },
                { data: 'Amount' },
                { data: 'PaymentDate' },
            ],

            columnDefs: [
                {
                    type: 'numeric-comma',
                    render: function (data, type, row) {
                        return '$' + data.toFixed(2);
                    },
                    targets: [6]
                },
                {
                    className: 'text-center'
                },
                { orderable: false, targets: [0, 8] },
                { visible: false, targets: [1] },
                {
                    data: null,
                    width: "1%",
                    targets: 8,
                    defaultContent: '<button class="btn btn-xs btn-outline btn-danger">Cancelar</button>'
                }]
        });

        var detailRows = [];

        $('#TableSection tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);            

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (table.row('.details').length) {
                    $('.details-control', table.row('.details').node()).click();
                }
                row.child(dataPayments(row.data())).show();
                tr.addClass('details');
            }
        });

        table.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        //Get Invoice paid per payment(receipt number)
        function dataPayments(row) {                        
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "@(Url.Action("ActionGetInvoicesPaidByPayment", "Payments"))",
                data: { "PaymentId": row.PMId },
                type: "GET",
                success: function (data) {
                    $.each(data.Json, function (index, value) {
                        detailItems += "<tr><td>" + value.Invoice + "</td><td class='text-right'>" + "$" + value.PaymentInvoice.toFixed(2) + "</td><td class='text-right'>" + "$" + value.Balance.toFixed(2) + "</td></tr>"
                    });
                    tabledetail.html('<table id="InvoicePaidDetails" class="table table-striped table-bordered table-hover" style="width:100%">' +
                    '<thead><tr><th>No. Factura</th><th>Pago/Abono</th><th>Saldo Factura</th></tr></thead><tbody>' + detailItems + '</tbody></table>').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail
        }

        function reloadStyleTable() {
            $('#InvoicePaidDetails').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
            });
        }

        $('#TableSection tbody').on('click', 'tr button', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            var data = row.data();            
            swal(
                {
                    title: "¿Estas seguro?",
                    text: "Una vez que se cancele no podrás revertir el proceso",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sí",
                    cancelButtonText: "No",
                    closeOnConfirm: true,
                    closeOnCancel: false
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            StartLoading();
                            $.post({
                                url: '@Url.Action("ActionCancelPayment", "Payments")',
                                Type: 'POST',
                                dataType: 'json',
                                data: { "PaymentId": data.PMId },
                                success: function (data) {
                                    EndLoading();
                                    if (data.success) {
                                        swal({
                                            title: 'Cancelado',
                                            text: "Pago Cancelado",
                                            type: "success"
                                        }, function () { window.location.reload(true); });
                                    } else {
                                        swal("Error", "Ocurrió un error, contacte a sistemas", "error");
                                    }
                                }
                            });
                        } else {
                            swal("Error", "Pago no cancelado", "error");
                        }
                    })
            EndLoading();
        });

    </script>
}
