﻿@model App.Entities.ViewModels.TransactionsCustomers.TransactionsCustomersReport

@{
    ViewBag.Title = "PAMT005";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Clientes</a></li>
                    <li><a href="@Url.Action("CTMS001","Customers")">Reportes</a></li>
                    <li class="active">
                        <span>Abonos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Abonos
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <form id="formReport" action="@Url.Action("PAMT005", "Payments")" method="post">
                        <div class="row">
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })

                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.DropDownListFor(model => model.Currency, null, htmlAttributes: new { @class = "form-control select2" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7" id="SearchClient">
                                @Html.LabelFor(model => model.CustomerCode, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.DropDownListFor(model => model.CustomerCode, null, "-- Selecciona Cliente (opcional)--", htmlAttributes: new { @class = "form-control select2" })
                                    <label>(Buscar cliente por RFC, Nombre o Número)</label>
                                </div>
                            </div>
                            <div class="text-left">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-left">
                                    <button type="button" class="btn btn-success" id="SearchReport">Continuar</button>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <label class="control-label">&nbsp;</label>
                                <button type="submit" value="Submit" class="btn btn-success form-control" formaction="@Url.Action("ActionGetXMLPayments", "Payments")" formmethod="post" id="XmlsDownload">Descargar XMLs</button>
                            </div>
                        </div>
                    </form>
                </div>
                @if (!Model.IsFromMenu && Model.PaymentsReport.Count > 0)
                {
                <div class="content animated-panel" id="TableSection">
                    <div class="hpanel">                        
                        <div class="panel-body">
                            <div class="panel-heading">
                                <div class="text-center">
                                    <h5>Abonos entre @Model.StartDate y @Model.EndDate</h5>
                                    <h5>Moneda: @Model.Currency</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-success" id="ReportButton">Reporte</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-center">                                        
                                        <div class="text-center">
                                            <button type="button" class="btn btn-success" id="XmlsButton">Descargar XMLs</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="table-responsive m-t">
                                    <table id="reportTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>No. Cliente</th>
                                                <th>Cliente</th>
                                                <th>Fecha Abono</th>
                                                <th>Abono</th>
                                                <th>Factura</th>
                                                <th>Fecha Factura</th>
                                                <th>SubTotal Factura</th>
                                                <th>IVA Factura</th>
                                                <th>Total Factura</th>
                                                <th>Capturó</th>
                                                <th>Referencia</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="panel-footer">
                                    <div class="text-center">
                                        <label><b>Total Abono: @Model.PaymentsReport.Sum(c => c.PaymentAmount).ToString("C")</b></label>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                }
                else if (!Model.IsFromMenu)
                {
                <div class="content animated-panel" id="report-section">
                    <div class="hpanel hblue">
                        <div class="panel-body">
                            <div class="row">
                                <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Abonos</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script src="~/Scripts/validations.js"></script>
    <script type="text/javascript">
        $(function () {

            var reportList = @Html.Raw(Json.Encode(Model.PaymentsReport));
            reportTable.clear();
            reportTable.rows.add(jQuery(reportList));
            reportTable.columns.adjust().draw();

            $("#StartDate").datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $("#EndDate").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $("#XmlsDownload").hide();
            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');
        });

        $("#SearchReport").click(function () {
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();

            if(ValidateDates(startDate,endDate))
            {
                StartLoading();
                $("#formReport").submit();
            }
        });

        var reportTable = $('#reportTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                { data: 'ClientCode' },
                { data: 'ClientName' },
                { data: 'PaymentDate' },
                { data: 'PaymentAmount' },
                { data: 'InvoiceNo' },
                { data: 'InvoiceDate' },
                { data: 'InvoiceSubTotal' },
                { data: 'InvoiceTax' },
                { data: 'InvoiceTotal' },
                { data: 'CUser' },
                { data: 'PaymentNo' }
            ],

            columnDefs: [
                {
                    className: 'text-center'
                },
                {
                    type: 'numeric-comma',
                    render: function (data, type, row) {
                        return '$' + data.toFixed(2);
                    },
                    targets: [3,6,7,8]
                },
            ]
        });

        $("#ReportButton").click(function() {
            var model = @Html.Raw(Json.Encode(Model));
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetCustomerPaymentReport", "Payments")',
                Type: 'POST',
                data: { "Model": model },
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte de Abonos');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });

        $("#XmlsButton").click(function(){
            $("#XmlsDownload").click();
        });
    </script>
}

