﻿@model App.Entities.ViewModels.Payments.Payment

@{
    ViewBag.Title = Model.IsPayment ? "Pago de Clientes" : "Sustitución Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #cdcdcd;
    }

        table th, table td {
            padding: 5px;
            text-align: left;
        }

        td.details-control:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f101";
            cursor: pointer;
        }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>
@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Clientes</a></li>
                    <li><a href="@Url.Action("CTMS006","Customers")">Caja</a></li>
                    <li class="active">
                        <span>Pagos</span>
                    </li>
                </ol>
            </div>
            @if (Model.IsPayment)
            {
                <h2 class="font-light m-b-xs">
                    Pagos de Clientes
                </h2>
            }
            else
            {
                <h2 class="font-light m-b-xs">
                    Sustitución de Pago
                </h2>
            }
            <small>Módulo para pagos</small><br />
        </div>
    </div>
</div>

@if (Model.HasSerieAndNumber)
{
    <div class="content animated-panel">
        <div class="hpanel hblue">
            <div class="panel-body">
                <h3>Pago de Clientes (Recibo No. @Model.Number) - Moneda Actual: <span class="Currency">@Model.Currency</span></h3>
                @if (!Model.IsPayment)
                {
                    <br />
                    <h5>
                        @Html.LabelFor(model => model.PreviousReceipt, htmlAttributes: new { @class = "control-label" })
                        @Html.DisplayFor(model => model.PreviousReceipt, new { htmlAttributes = new { @class = "form-control" } })
                    </h5>
                    <br />
                }
                <form id="formPayments">
                    @Html.HiddenFor(model => model.MinInvoiceDate)
                    @Html.HiddenFor(model => model.Customer.RFC)
                    @Html.HiddenFor(model => model.Customer.Code)
                    @Html.HiddenFor(model => model.Serie)
                    @Html.HiddenFor(model => model.Number)
                    @Html.HiddenFor(model => model.Currency)
                    @Html.HiddenFor(model => model.IsPayment)
                    @Html.HiddenFor(model => model.PaymentPMId)
                    @Html.HiddenFor(model => model.PreviousPaymentNumber)
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Customer.Code, htmlAttributes: new { @class = "control-label" }):
                                @Html.DisplayFor(model => model.Customer.Code, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Cliente: </label>
                                @Html.DisplayFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.LastPayment, htmlAttributes: new { @class = "control-label" })
                                @Html.DisplayFor(model => model.LastPayment, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Customer.RFC, htmlAttributes: new { @class = "control-label" }):
                                @Html.DisplayFor(model => model.Customer.RFC, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.LastBuy, htmlAttributes: new { @class = "control-label" })
                                @Html.DisplayFor(model => model.LastBuy, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-6">
                                @Html.HiddenFor(model => model.Balance)
                                @Html.LabelFor(model => model.BalanceDisplay, htmlAttributes: new { @class = "control-label" })
                                <span class="BalanceDisplay">@Html.DisplayFor(model => model.BalanceDisplay, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                                @Html.DisplayFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.TotalInvoices, htmlAttributes: new { @class = "control-label" })
                                <span class="TotalInvoices">@Html.DisplayFor(model => model.TotalInvoices, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.TotalPayment, htmlAttributes: new { @class = "control-label" })
                                <span class="TotalPayment">@Html.DisplayFor(model => model.TotalPayment, new { htmlAttributes = new { @class = "form-control" } })</span>
                            </div>
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="content animated-panel">
                        <div class="hpanel hblue">
                            <div class="panel-heading hbuilt">
                                <h5>Formas de pago</h5>
                            </div>
                            <div class="panel-body">
                                <div class="form-row" id="Payments" style="display:inline-block;">
                                    <div class="col-lg-12">
                                        <div class="col-md-3 form-group">
                                            <label>&nbsp;</label>
                                            <div class="col-md-10 input-group m-b">
                                                @Html.DropDownListFor(model => model.PaymentMethod, null, "-- Seleccionar Opción --", htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            @Html.LabelFor(model => model.AmountPayment, htmlAttributes: new { @class = "control-label" })
                                            <div class="col-md-10 input-group m-b">
                                                <span class="input-group-addon"><i class="pe-7s-cash"></i></span>
                                                @Html.EditorFor(model => model.AmountPayment, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.AmountPayment, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2 form-group">
                                            @Html.LabelFor(model => model.OperationNumber, htmlAttributes: new { @class = "control-label" })
                                            <div class="col-md-10 input-group m-b">
                                                <span class="input-group-addon"><i class="fa fa-sticky-note"></i></span>
                                                @Html.EditorFor(model => model.OperationNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.OperationNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3 form-group">
                                            @Html.LabelFor(model => model.AmountPaymentDate, htmlAttributes: new { @class = "control-label" })
                                            <div class="col-md-10 input-group m-b">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                @Html.EditorFor(model => model.AmountPaymentDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.AmountPaymentDate, "", new { @class = "text-danger" })
                                        </div>
                                        @if (Model.IsPayment)
                                        {
                                            <div class="col-md-1 form-group">
                                                <label>&nbsp;</label>
                                                <div class="col-md-10 input-group m-b">
                                                    <div class="text-right">
                                                        <button type="button" class="btn btn-success" id="AddPaymentAmount" title="Agregar Pago"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="col-lg-12">
                                        @*<div class="col-md-3 form-group">
            @Html.LabelFor(model => model.Bank, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10 input-group m-b">
                <span class="input-group-addon"><i class="fa fa-bank"></i></span>
                @Html.EditorFor(model => model.Bank, new { htmlAttributes = new { @class = "form-control datepicker" } })
            </div>
            @Html.ValidationMessageFor(model => model.Bank, "", new { @class = "text-danger" })
        </div>*@
                                        <div class="col-md-3 form-group">
                                            <label>&nbsp;</label>
                                            <div class="col-md-10 input-group m-b">
                                                <span class="input-group-addon"><i class="fa fa-bank"></i></span>
                                                @Html.DropDownListFor(model => model.Bank, null, "Seleccionar Banco", htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            @Html.LabelFor(model => model.BankReference, htmlAttributes: new { @class = "control-label" })
                                            <div class="col-md-10 input-group m-b">
                                                <span class="input-group-addon"><i class="fa fa-sticky-note"></i></span>
                                                @Html.EditorFor(model => model.BankReference, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.BankReference, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content animated-panel" id="InvoicesSection">
                        <div class="hpanel hblue">
                            <div class="panel-heading hbuilt">
                                <h5>Facturas</h5>
                            </div>
                            <div class="panel-body">
                                <div class="form-row">
                                    <div class="col-lg-12">
                                        <div class="form-group col-md-4">
                                            <label>&nbsp;</label>
                                            <div class="col-md-10 input-group m-b">
                                                @Html.DropDownListFor(model => model.Invoice, null, "-- Seleccionar Factura --", htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            @Html.LabelFor(model => model.AmountInvoice, htmlAttributes: new { @class = "control-label" })
                                            <div class="col-md-10 input-group m-b">
                                                @Html.EditorFor(model => model.AmountInvoice, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.AmountInvoice, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-3"></div>
                                        @if (Model.IsPayment)
                                        {
                                            <div class="form-group col-md-1">
                                                <label>&nbsp;</label>
                                                <div class="col-md-10 input-group m-b">
                                                    <div class="text-right">
                                                        <button type="button" class="btn btn-success" id="AddInvoiceAmount" title="Agregar Factura"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group col-md-12" style="display:inline-block;">
                            <table id="NestedTables" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Forma de Pago</th>
                                        <th>Monto</th>
                                        <th>No. Operación</th>
                                        <th>Fecha</th>
                                        <th>Banco</th>
                                        <th>No. Referencia</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 input-group m-b">
                        <div class="text-right">
                            <button type="button" class="btn btn-success" id="ProcessPayment">Procesar</button>
                        </div>
                    </div>
                    <div class="col-lg-12" id="Tables">
                        <div class="form-group col-md-6">
                            <table id="PaymentMethodTable" class="table table-striped table-bordered table-hover"></table>
                        </div>
                        <div class="form-group col-md-6" style="display:inline-block;">
                            <table id="InvoiceTable" class="table table-striped table-bordered table-hover"></table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <div class="content animated-panel" id="report-section">
        <div class="hpanel hblue">
            <div class="panel-body">
                <div class="row">
                    <h4 style="text-align:center;color:red;">Por el momento no hay número ni serie disponibles para el pago.</h4>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade hmodal-info" id="ModalPdf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Pago PDF</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <object id="Pdf-iframe" style="width:100%" height="350" frameborder="0" type="application/pdf"></object>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Payments/PAMT002.js"></script>
    <script type="text/javascript">
        var paymentsModel = JSON.parse('@Html.Raw(Json.Encode(Model.Payments))');
        var invoicesModel = JSON.parse('@Html.Raw(Json.Encode(Model.Invoices))');
        var isPayment = @Json.Encode(Model.IsPayment); //Variable to indicate if is payment substitute or new receipt (payment)
        var totalAmount = isPayment ?  0 : @Json.Encode(Model.TotalPayment);
        var totalInvoiceAmount = isPayment ? 0 : @Json.Encode(Model.TotalInvoices);
        var paymentsMethods = JSON.parse('@Html.Raw(Json.Encode(Model.PaymentMethods))');
        var urlLoading = isPayment ? '@Url.Action("PAMT001", "Payments")' : '@Url.Action("PAMT004", "Payments")';
        $(function () {

            $("#InvoicesSection").hide();
            $("#NestedTables").hide();

            //Keep PaymentMethod list to manipulate later.
            PaymentMethodList();

            if (!isPayment) {
                PopulateTables(paymentsModel, invoicesModel);
                document.getElementById("AmountPayment").readOnly = true;
            }
            var errorMessage;
            $("#AmountPaymentDate").datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                language: 'es'
            });

            $("#formPayments").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                        .closest("form")
                        .find("span[data-valmsg-for='" + element.attr("id") + "']")
                        .append(error);
                },
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    AmountPayment: {
                        number: true,
                        required: true
                    },
                    AmountInvoice: {
                        number: true,
                        required: true
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            })
        });

        $("#PaymentMethod").on('change', function () {
            var url = '@Url.Action("ActionGetInvoicesByCurrency", "Payments")';
            var customerCode = document.getElementsByName('Customer.Code')[0].value;
            var paymentMethodId = $(this).val();
            var currency = $("#Currency").val();
            var obj = paymentsMethods.find(x => x.Id === parseInt(paymentMethodId));

            if (isPayment && obj.Currency != currency) {
                InvoicesByCurrency(url, paymentMethodId, customerCode);
                return;
            }

            if (!isPayment && obj.Currency != currency) {
                toastr.error('Alerta - Moneda del tipo de pago debe ser igual a moneda actual.');
                return;
            }
            else if (!isPayment) {
                for (i = 0; i < paymentsModel.length; i++) {
                    paymentsModel[i].OperationNumber = $("#OperationNumber").val();
                    paymentsModel[i].ViewPaymentPMId = $("#PaymentMethod :selected").text();
                    paymentsModel[i].PaymentMethodId = paymentMethodId;
                    paymentsModel[i].PaymentDate = $("#AmountPaymentDate").val();
                }

                $("#OperationNumber").val("");
                $("#Bank").val("");
                $("#BankReference").val("");
                PopulateTables(paymentsModel, invoicesModel);
            }
        });

        $("#ProcessPayment").click(function () {

            var url = '@Url.Action("ActionCreatePayment", "Payments")';
            var invoiceElementsTable = GetInvoiceList();
            var paymentElementsTable = GetPaymentsList();
            var paymentMethodId = $("#PaymentMethod").val();
            var obj = paymentsMethods.find(x => x.Id === parseInt(paymentMethodId));
            var currency = $("#Currency").val();

            if (!isPayment && obj.Currency != currency) {
                toastr.error('Alerta - Moneda del tipo de pago debe ser igual a moneda actual.');
                return;
            }

            if (paymentElementsTable == 0) {
                toastr.error('Alerta - Elige una forma de pago y factura a pagar para procesar.');
                return;
            }

            if (invoiceElementsTable == 0) {
                toastr.error('Alerta - Elige una factura a pagar para procesar el pago.');
                return;
            }

            if (totalAmount.toFixed(2) != totalInvoiceAmount.toFixed(2)) {
                toastr.error('Alerta - El total de pago debe ser igual al total de facturas.');
                return;
            }

            StartLoading();
            if (!isPayment) {
                var pmId = document.getElementById('PaymentPMId').value;
                $.post({
                    url: '@Url.Action("ActionCancelPayment", "Payments")',
                    Type: 'POST',
                    dataType: 'html',
                    data: { "PaymentId": pmId },
                    success: function (data) {
                        var obj = JSON.parse(data);
                        if (!obj.success) {
                            swal({
                                title: 'Error',
                                text: "Ocurrio un error, contacte a sistemas para solucionarlo.",
                                type: "error"
                            });
                            EndLoading();
                        }
                        else
                            ProcessPayment(url, urlLoading);
                    }
                });
            }
            else
                ProcessPayment(url, urlLoading);

        });

        function PopulateTables(paymentsModel, invoicesModel) {
            $("#PaymentMethodTable").empty();
            $("#InvoiceTable").empty();

            //Payments Table
            for (i = 0; i < paymentsModel.length; i++) {
                if (!paymentsModel[i].OperationNumber)
                    paymentsModel[i].OperationNumber = "";

                var row = $("<tr>");

                row.append($("<td id=" + paymentsModel[i].PaymentMethodId + ">" + paymentsModel[i].ViewPaymentPMId + "</td>"))
                    .append($("<td id=" + paymentsModel[i].PaymentPMId + "> $" + paymentsModel[i].Amount + "</td>"))
                    .append($("<td id=" + paymentsModel[i].OperationNumber + ">" + paymentsModel[i].OperationNumber + "</td>"))
                    .append($("<td id=" + paymentsModel[i].Bank + ">" + paymentsModel[i].BankName + "</td>"))
                    .append($("<td id=" + paymentsModel[i].BankReference + ">" + paymentsModel[i].BankReference + "</td>"))
                    .append($("<td id=date>" + paymentsModel[i].PaymentDate + "</td>"))
                    .append($("<td></td>"));
                $("#PaymentMethodTable").append(row);
            }

            //InvoiceTable
            for (i = 0; i < invoicesModel.length; i++) {
                var row = $("<tr>");

                if (i == 0 || invoicesModel[i].PaymentId != invoicesModel[i - 1].PaymentId)
                    row.append($("<td id=" + invoicesModel[i].PaymentId + "> $" + invoicesModel[i].Payment + "</td>"))
                        .append($("<td id=" + invoicesModel[i].Invoice + "> CFD " + invoicesModel[i].Invoice + " - $" + invoicesModel[i].PreviousBalance + "</td>"))
                        .append($("<td id=" + invoicesModel[i].PaymentInvoice + "> $" + invoicesModel[i].PaymentInvoice + "</td>"))
                        .append($("<td></td>"));
                else
                    row.append($("<td id=" + invoicesModel[i].PaymentId + "></td>"))
                        .append($("<td id=" + invoicesModel[i].Invoice + "> CFD " + invoicesModel[i].Invoice + " - $" + invoicesModel[i].PreviousBalance + "</td>"))
                        .append($("<td id=" + invoicesModel[i].PaymentInvoice + "> $" + invoicesModel[i].PaymentInvoice + "</td>"))
                        .append($("<td></td>"));

                $("#InvoiceTable").append(row);
            }
        }

        $("#AmountPaymentDate").on('changeDate', function () {
            if (!isPayment)
                ValidateDate();
        });

        function findPaymentMethodId(paymentMethodId) {
            return obj.PaymentMethodId === paymentMethodId;
        }

        $("#Invoice").on('change', function () {
            var invoice = $("#Invoice").val();
            if (invoice != "") {
                CheckInvoice();
                return;
            }
        });

        function CheckInvoice() {
            var invoiceValue = $("#Invoice").val();
            var number = invoiceValue.replace(/\D/g, '');
            var valueReturn = true;
            $.ajax({
                url: '@Url.Action("ActionCheckInvoice", "DigitalTaxStamp")',
                Type: 'GET',
                data: { Number: number },
                dataType: 'json',
                success: function (data) {
                    valueReturn = data.success;
                    if (!data.success) {
                        toastr.error('Alerta - Factura ' + invoiceValue + ' no timbrada.');
                        $("#AddInvoiceAmount").attr("disabled", "disabled");
                    }
                    else {
                        $("#AddInvoiceAmount").removeAttr("disabled");
                    }
                }
            });

            return valueReturn;
        }

        $("#ModalPdf").on("hidden.bs.modal", function () {
            window.location.href = urlLoading;
        });

    </script>
}
