﻿@model App.Entities.ViewModels.SendDeposits.SendDepositsModel

<div class="modal fade" id="ModalEditDeposit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Editar Envío</h4>
                <small id="ModalDescription" class="font-bold">Formulario para editar un envío.</small>
            </div>
            <div class="modal-body">
                <form id="formEditDeposits" action="@Url.Action("SEDE001","SendDeposits")" method="post">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.SiteCode)
                    @Html.HiddenFor(model => model.Status)                    
                    @Html.HiddenFor(model => model.CUser)
                    @Html.HiddenFor(model => model.CDate)                    
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-file-code-o"></i></span>
                                @Html.DropDownListFor(model => model.Type, null, "--Seleccionar Tipo--", htmlAttributes: new { @class = "form-control", onchange = "ValidateType();" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Origin, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-file-code-o"></i></span>
                                @Html.DropDownListFor(model => model.Origin, null, "--Seleccionar Origen--", htmlAttributes: new { @class = "form-control", onchange = "ValidateOrigin();" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Origin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-file-code-o"></i></span>
                                @Html.DropDownListFor(model => model.Currency, null, "--Seleccionar Moneda--", htmlAttributes: new { @class = "form-control", onchange = "ValidateCurrency();" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", onchange = "ValidateAmount();" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                <span class="input-group-addon"><i class="pe-7s-map-marker"></i></span>
                                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                        </div>
                        @if (Model.CanEdit)
                        {
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="pe-7s-map-marker"></i></span>
                                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.Date)
                        }
                    </div>
                   
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="text-right">
                                    <label class="control-label">&nbsp;</label>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                    @*@if (@Model.CanEdit)
                                    {*@
                                        <button type="button" class="btn btn-success" id="SaveEdit" onclick="SaveDeposit()">Guardar</button>
                                        @*}*@
                                </div>
                            </div>
                        </div>
                   
                </form>
            </div>
        </div>
    </div>
    <div>
        <script type="text/javascript">
            $(".datepicker").datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                todayHighlight: true,
                endDate: new Date()
            });

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');
        </script>
    </div>
</div>