﻿@model App.Entities.ViewModels.SendDeposits.SendDepositsModel

@{
    ViewBag.Title = "Envío de Retiros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Cajas</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Movimientos</a></li>
                    <li class="active">
                        <span>Envío</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Envío de Retiros
            </h2>
            <small>Módulo para envío de retiros</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formDeposits" action="@Url.Action("SEDE001","SendDeposits")" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-file-code-o"></i></span>
                            @Html.DropDownListFor(model => model.Type, null, "--Seleccionar Tipo--", htmlAttributes: new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Origin, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-file-code-o"></i></span>
                            @Html.DropDownListFor(model => model.Origin, null, "--Seleccionar Origen--", htmlAttributes: new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Origin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-file-code-o"></i></span>
                            @Html.DropDownListFor(model => model.Currency, null, "--Seleccionar Moneda--", htmlAttributes: new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-money"></i></span>
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="pe-7s-map-marker"></i></span>
                            @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                    </div>
                    @if (Model.CanEdit)
                    {
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                <span class="input-group-addon"><i class="pe-7s-map-marker"></i></span>
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="text-right">
                            <label class="control-label">&nbsp;</label>
                            <div class="">
                                <button type="button" class="btn btn-success" id="Process">Procesar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
@Scripts.Render("~/bundles/datepicker/js")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".datepicker").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');

            $("#formDeposits").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $("#Process").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#Process").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                ignoreTitle: true,
                rules: {
                    Type: {
                        required: true
                    },

                    Origin: {
                        required: true
                    },

                    Currency: {
                        required: true
                    },

                    Amount: {
                        required: true,
                        number: true,
                        greaterThanZero: true
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });

        jQuery.validator.addMethod("greaterThanZero", function (value, element) {
            return this.optional(element) || (parseFloat(value) > 0);
        }, "Monto debe ser mayor a 0");

        $("#Process").click(function () {
            var amount = $("#formDeposits").validate().element("#Amount");
            var origin = $("#formDeposits").validate().element("#Origin");
            var type = $("#formDeposits").validate().element("#Type");
            var currency = $("#formDeposits").validate().element("#Currency");
            var validForm = amount && origin && type && currency;

            if (validForm) {
                StartLoading();
                $.post({
                    url: '@Url.Action("SEDE001", "SendDeposits")',
                    dataType: 'json',
                    Type: 'POST',
                    data: $("#formDeposits").serialize(),
                    success: function (data) {
                        EndLoading();
                        if (data.success) {
                            swal({
                                title: 'Retiro',
                                text: "Envío registrado exitosamente.",
                                type: "success"
                            }, function () {
                                window.location.reload(true);
                            });
                        }
                        else {
                            swal({
                                title: 'Error',
                                text: "Ocurrio un error, contacte a sistemas para solucionarlo.",
                                type: "error"
                            });
                        }
                    }
                });
            }
        });

    </script>
}