﻿@model App.Entities.ViewModels.SendDeposits.EditDeposits

@{
    ViewBag.Title = "Editar Envío de Retiros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Cajas</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Reporte Envíos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte de Envío de Retiros
            </h2>
            <small>Módulo para ver envío de retiros</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel hblue">
                    <div class="panel-heading hbuilt">
                        Envío de Retiros
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">&nbsp;</label>
                            <div class="">
                                <button type="button" class="btn btn-success" id="SearchDeposits">Buscar</button>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">&nbsp;</label>
                            <div class="">
                                <button type="button" class="btn btn-success" id="ReportButton">Reporte</button>
                            </div>
                        </div>
                    </div>
                    <div class="content animated-panel" id="TableSection">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="table-responsive m-t">
                                    <table id="sendDeposits-table" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Usuario</th>
                                                <th>Tipo</th>
                                                <th>Origen</th>
                                                <th>Moneda</th>
                                                <th>Monto</th>
                                                <th>Comentarios</th>
                                                <th>Fecha y Hora de Creación</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
</div>

@*Div to edit Deposit modal*@
<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Relación de Envío de Retiros</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("model", Json.Encode(Model))
@section Scripts {
@Scripts.Render("~/bundles/datepicker/js")
@Scripts.Render("~/bundles/datatables/js")
@Scripts.Render("~/bundles/datatablesBootstrap/js")
@Scripts.Render("~/bundles/datatablesPlugins/js")
<script src="~/Scripts/SendDeposits/SendDepositsreport.js"></script>
<script type="text/javascript">
    var urlDeposits = '@Url.Action("ActionGetDeposits", "SendDeposits")';
    var urlReport ='@Url.Action("ActionReportSends", "SendDeposits")';

    $(function () {
        
        var Deposits = @Html.Raw(Json.Encode(Model.DepositsList));
       
        table.clear();
        table.rows.add(jQuery(Deposits));
        table.columns.adjust().draw();
        if(Deposits.length>0)        
            ReportButton.disabled=false;
        else      
            ReportButton.disabled=true;

       
        $("#Date").datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            language: 'es',
            todayHighlight: true,
            endDate: new Date()
        });

        $("#Date").attr('readonly', 'readonly').css('background-color', '#fff');
    });

</script>
}
