﻿@model App.Entities.ViewModels.SendDeposits.EditDeposits

@{
    ViewBag.Title = "Editar Envío de Retiros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Cajas</a></li>
                    <li><a href="@Url.Action("SALE004","Sales")">Movimientos</a></li>
                    <li class="active">
                        <span>Editar Envío</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Editar Envío de Retiros
            </h2>
            <small>Módulo para editar envío de retiros</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    Envío de Retiros
                </div>
                <div class="panel-body">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchDeposits">Buscar</button>
                        </div>
                    </div>
                </div>
                <div class="content animated-panel" id="TableSection">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="table-responsive m-t">
                                <table id="sendDeposits-table" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Fecha</th>
                                            <th>Usuario</th>
                                            <th>Tipo</th>
                                            <th>Origen</th>
                                            <th>Moneda</th>
                                            <th>Monto</th>
                                            <th>Comentarios</th>
                                            <th>Fecha y Hora de Creación</th>
                                            <th></th>
                                        </tr>
                                    </thead>                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Div to edit Deposit modal*@
<div id="EditDeposit">
</div>

@section Scripts {
@Scripts.Render("~/bundles/datepicker/js")
@Scripts.Render("~/bundles/datatables/js")
@Scripts.Render("~/bundles/datatablesBootstrap/js")
@Scripts.Render("~/bundles/datatablesPlugins/js")
<script src="~/Scripts/SendDeposits/SendDeposits.js"></script>
<script type="text/javascript">
    var urlModal = '@Url.Action("ActionGetDepositDetails", "SendDeposits")';
    var urlDeleteDeposit = '@Url.Action("ActionDeleteDeposit", "SendDeposits")';
    var urlSaveEdit = '@Url.Action("ActionSaveEditDeposit", "SendDeposits")';
    var urlDeposits = '@Url.Action("ActionGetDeposits", "SendDeposits")';

    $(function () {

        var Deposits = @Html.Raw(Json.Encode(Model.DepositsList));
        table.clear();
        table.rows.add(jQuery(Deposits));
        table.columns.adjust().draw();

        $("#Date").datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            language: 'es',
            todayHighlight: true,
            endDate: new Date()
        });

        $("#Date").attr('readonly', 'readonly').css('background-color', '#fff');
    });    

    $('#sendDeposits-table').on('error.dt', function (e, settings, techNote, message) {
        console.log('An error has been reported by DataTables: ', message);
    });
    $.fn.dataTable.ext.errMode = 'none';

</script>
}
