﻿<footer class="footer">
    <div class="pull-left">
        @DateTime.Now.Year &copy; Distribuidora el Florido S.A. de C.V.
    </div>
    <span class="pull-right">
        <div class="form-group" title="@ViewBag.MyPathInServer" data-placement="top" data-toggle="tooltip">
            @ViewBag.SiteNameStore
        </div>
    </span>
</footer>
