﻿
<div class="color-line">
</div>
<div id="logo" class="light-version">
    <span id="searchingMainNoRepeatSpan">
        @ViewBag.SiteName
    </span>
</div>
<nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
        <span class="text-primary">ERP</span>
    </div>
    <form role="search" class="navbar-form-custom" style="min-width:70%" method="post" action="#">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Busca algo especial en @ViewBag.SiteName" id="searchingMainNoRepeat">
            <div style="margin: 1px; width: 100%;">
                <div id="etxt_search" class="text-center"></div>
            </div>
            <div class="list-group col-xs-12">
                <div id="search_containerNoRepeat">
                </div>
            </div>
        </div>
    </form>
    <div class="mobile-menu">
        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="" href="#">Link 1</a>
                </li>
                <li>
                    <a class="" href="#">Link 1</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li>
                <a href="#" id="sidebar" class="right-sidebar-toggle">
                    <i class="pe-7s-upload pe-7s-news-paper"></i>
                </a>
            </li>
            <li>
                <a onclick="StartLoading();location.href='@Url.Action("Logout", "Home")'"><i class="pe-7s-upload pe-rotate-90"></i></a>
            </li>
        </ul>
    </div>
</nav>
