﻿@model App.Entities.ViewModels.Customers.CustomerViewModel

<div class="modal fade" id="ModalEditCustomer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Editar Cliente</h4>
                <small id="ModalDescription" class="font-bold">Formulario para editar un cliente.</small>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ActionEditCustomer", "Customers", FormMethod.Post, new { name = "formEditClient", id = "formEditClient" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RFC, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-7 input-group m-b">
                                        @*@Html.HiddenFor(model => model.RFC)*@
                                        <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                                        @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control" } })



                                    </div>
                                    @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger, control-label col-md-10" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-7 input-group m-b">
                                        @*@Html.HiddenFor(model => model.Name)*@
                                        <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-7 input-group m-b">
                                        @Html.HiddenFor(model => model.Code)
                                        <span class="input-group-addon"><i class="pe-7s-id"></i></span>
                                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-7 input-group m-b">
                                        <span class="input-group-addon"><i class="pe-7s-map-marker"></i></span>
                                        @Html.DropDownListFor(model => model.StateId, null, "--Seleccionar Estado--", htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-7 input-group m-b">
                                        <span class="input-group-addon"><i class="pe-7s-map-marker"></i></span>
                                        @Html.DropDownListFor(model => model.CityId, null, "--Seleccionar Ciudad o Municipio--", htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-7 input-group m-b">
                                        <span class="input-group-addon"><i class="pe-7s-map-marker"></i></span>
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-7 input-group m-b">
                                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                        @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-7 input-group m-b">
                                        <span class="input-group-addon"><i class="pe-7s-mail"></i></span>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-7 input-group m-b">
                                        <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-7 input-group m-b">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Ship_To, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-7 input-group m-b">
                                        <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                        @Html.EditorFor(model => model.Ship_To, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Ship_To, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @if (Model.CanEdit)
                            {
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Credit_Limit, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-7 input-group m-b">
                                            <span class="input-group-addon"><i class="pe-7s-cash"></i></span>
                                            @Html.EditorFor(model => model.Credit_Limit, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Credit_Limit, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                        </div>
                        @if (Model.CanEdit)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Credit_Limit_Alt, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-7 input-group m-b">
                                            <span class="input-group-addon"><i class="pe-7s-cash"></i></span>
                                            @Html.EditorFor(model => model.Credit_Limit_Alt, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Credit_Limit_Alt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Credit_Days, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-7 input-group m-b">
                                            <span class="input-group-addon"><i class="pe-7s-cash"></i></span>
                                            @Html.EditorFor(model => model.Credit_Days, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Credit_Days, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-7 icheckbox_minimal-green">
                                        @Html.CheckBoxFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="text-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <input type="button" value="Guardar" class="btn btn-success" id="SaveEditCustomer" onclick="SaveChanges()" />
                        </div>
                    </div>
                    <br><br>
                }
            </div>
        </div>
    </div>
</div>
