﻿@model App.Entities.ViewModels.Invoices.InvoiceModel

<div class="modal fade" id="ModalEditInvoice" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Editar Factura</h4>
                <small id="ModalDescription" class="font-bold">Cambio de fecha de vencimiento.</small>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ActionEditInvoiceDueDate", "Customers", FormMethod.Post, new { name = "formEditSanction", id = "formEditSanction" }))
                {
                    @Html.AntiForgeryToken()
                   
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                       
                        @Html.HiddenFor(model => model.Balance)
                     
                        @Html.HiddenFor(model => model.TotalAmount)
                        @Html.HiddenFor(model => model.InvoiceNumber)

                            <div class="row">
                                
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Serie: </label>
                                        @Html.DisplayFor(model => model.InvoiceSerie, new { htmlAttributes = new { @class = "form-control" } })


                                    </div>
                              
                            </div>
                                
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label">Factura: </label>
                                    @Html.DisplayFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })


                                </div>

                            </div>

                               

                         <div class="row">
                             <div class="form-group col-md-12">
                                 <label class="control-label">Total: </label>

                                 @Html.DisplayFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control" } })


                             </div>
                         </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label  class="control-label">Saldo: </label>
                                @Html.DisplayFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control" } })


                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="control-label">Fecha de Vencimiento: </label>
                                <div class="col-md-12 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>
                              
                                
                            </div>
                            
                           
                        
                        </div>
                          
                        </div>
                    <div class="form-group col-lg-12">
                        <div class="text-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal" id="EditInvoice" onclick="SaveChanges()">Guardar</button>
                            
                        </div>
                    </div>
                    <br><br>
                }
            </div>
        </div>
    </div>
    <div id="ajaxTarget">
        <script type="text/javascript">
           
            $('#DueDate').datepicker({
                minDate:5,
           autoclose: true,
           format: 'dd/mm/yyyy',
           language: 'es'
            });
            $("#EditInvoice").prop('disabled', true);
            $("#DueDate").on('change', function () {
                var date = stringToDate($("#DueDate").val());
           
            var currentDate = stringToDate(GetCurrentDate());

            if (date < currentDate) {
                toastr.error('La fecha de aplicación no puede ser menor a la fecha de Hoy.');
                $("#GenerateCreditNote").attr("disabled", "disabled");
                $("#DueDate").attr('style', 'border-color: red !important');
                $("#EditInvoice").prop('disabled', true);
            }
            else
            {
                $("#DueDate").attr('style', 'border-color: black !important');
                $("#EditInvoice").prop('disabled', false);
            }
               
           

            });
            function GetCurrentDate() {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!
                var yyyy = today.getFullYear();

                if (dd < 10) {
                    dd = '0' + dd;
                }

                if (mm < 10) {
                    mm = '0' + mm;
                }

                today = dd + '/' + mm + '/' + yyyy;

                return today;
            }
            function stringToDate(dateStr) {
                var parts = dateStr.split("/")
                return new Date(parts[2], parts[1] - 1, parts[0])
            }

        </script>
    </div>
</div>






