﻿
@{
    ViewBag.Title = "Catálogos Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000", "Customers")">Clientes</a></li>

                    <li class="active">
                        <span>Catálogos</span>
                    </li>

                </ol>
            </div>

            <h2 class="font-light m-b-xs">
                CLIENTES
            </h2>
            <h4>Menú de Catálogos</h4>
            <br />
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("CTMS002","Customers")">
                            <h2 class="m-b-xs">Agregar</h2>
                            <div class="m">
                                <i class="pe-7s-users fa-5x"></i>
                            </div>
                            <p class="small">
                                Capturar Nuevo Cliente
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("CTMS002","Customers")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("CTMS003","Customers")">
                            <h2 class="m-b-xs">Actualizar</h2>
                            <div class="m">
                                <i class="fa fa-5x fa-edit"></i>
                            </div>
                            <p class="small">
                                Actualizar Cliente
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("CTMS003","Customers")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
