﻿@model List<App.Entities.ViewModels.Customers.CustomersDDL>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Clientes</a></li>
                    <li><a href="@Url.Action("CTMS001","Customers")">Catálogos</a></li>
                    <li class="active">
                        <span>Editar</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Editar Cliente
            </h2>
            <small>Módulo para editar un cliente existente</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">                    
                    Clientes
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="customers-table" class="table table-striped table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>RFC</th>
                                    <th>Nombre</th>
                                    <th>No. de Tarjeta</th>
                                    <th>Activo</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="width:57px;"><button class="btn btn-xs btn-outline btn-danger" data-toggle="modal" onclick="EditCustomer('@item.RFC')">Editar</button></td>
                                        <td>@Html.DisplayFor(modelItem => item.RFC)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Code)</td>                                        
                                        <td>@item.Status</td>
                                    </tr>
                                }*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Div to display edit customer modal*@
<div id="edit-customer">
</div>

@section Scripts {
@Scripts.Render("~/bundles/datatables/js")
@Scripts.Render("~/bundles/datatablesBootstrap/js")
@Scripts.Render("~/bundles/datatablesPlugins/js")
    <script src="~/Scripts/Costumers/Costumers.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var customers = @Html.Raw(Json.Encode(Model));
            clientsTable = $('#customers-table').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                buttons: [
                    { extend: 'csv', text: 'Excel', title: 'Clientes', className: 'btn-sm' },
                    {
                        extend: 'pdf', text: 'PDF', title: 'Clientes', className: 'btn-sm', exportOptions: {
                            columns: [1, 2, 3]
                        },
                        customize: function (doc) {
                            doc.content[1].table.widths =
                                Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                        }
                    },
                    { extend: 'print', text: 'Imprimir', className: 'btn-sm' }
                ],
                data: customers,
                columns: [
                    { data: null, defaultContent: '<button class="btn btn-xs btn-outline btn-success">Editar</button>', width: "1%" },
                    { data: 'RFC' },
                    { data: 'Name' },
                    { data: 'Code' },
                    { data: 'Status' }
                ],
                columnDefs: [
                    {
                        targets: [0],
                        orderable: false
                    },
                    {
                        targets: [4],
                        orderable: false,
                        render: function (data, type) {
                            if (type === 'display') {
                                if (data == 'True' || data == true)
                                    return '<input type="checkbox" checked disabled>';
                                else
                                    return '<input type="checkbox" disabled>';
                            }
                        }
                    }
                ]
            });
        });

        //Get RFC values per row when edit button is clicked
        $('#customers-table tbody').on('click', 'button', function () {
            var data = clientsTable.row($(this).parents('tr')).data();
            EditCustomer(data.Code);
        });

        //Function to get information from the selected client
        function EditCustomer(customerCode) {
            $.ajax({
                url: '@Url.Action("ActionEditCustomer", "Customers")',
                Type: 'GET',
                data: { CustomerCode: customerCode },
                success: function (data) {
                    $("#edit-customer").html(data);
                    $("#ModalEditCustomer").modal('show');
                }
            });
        }

        //Function to save changes on modal edit
        function SaveChanges() {
            StartLoading();
            $.post({
                url: '@Url.Action("ActionEditCustomer", "Customers")',
                dataType: 'json',
                Type: 'POST',
                data: $("#formEditClient").serialize(),
                success: function (data) {
                    clientsTable.clear().draw();
                    clientsTable.rows.add(jQuery.parseJSON(data.Json));
                    clientsTable.columns.adjust().draw();
                    $('#ModalEditCustomer').modal('hide');
                    EndLoading();

                    //toastr.success('Cliente editado exitosamente.');
                    swal({
                        title: 'Cliente',
                        text: "Cliente editado exitosamente.",
                        type: "success"
                     }, function () { window.location.reload(true); });
                }
            });
        }

        //Populate combobox State and City from Modal EditClient with the saved values from the DB.
        $(document).on("change", "#StateId", function () {
            var url = '@Url.Action("ActionGetCityListBasedOnStateId","Customers")';
            CallCities(url);
        });

        //Disable warning message regarding checkbox status on dataTable
        $('#customers-table').on('error.dt', function (e, settings, techNote, message) {
            console.log('An error has been reported by DataTables: ', message);
        });
        $.fn.dataTable.ext.errMode = 'none';

        //Validate modal Edit Client
        $(document).on("keyup", "#formEditClient", function () {
            ValidateForm();
        });

    </script>
}


