﻿@model App.Entities.ViewModels.Invoices.InvoiceDueModel

@{
    ViewBag.Title = "Relación de Facturas Vencidas";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/bundles/datatables/css")
<link rel="stylesheet" href="~/vendor/clockpicker/dist/bootstrap-clockpicker.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css" />


<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Clientes</a></li>
                    <li><a href="@Url.Action("CTMS005","Customers")">Movimientos</a></li>
                    <li class="active">
                        <span>Pagos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Facturas Vencidas
            </h2>
            <small>Reporte de Facturas Vencidas</small><br />
        </div>
    </div>
</div>
<div class="content animate-panel">
   
        <div class="hpanel hblue">
            <div class="panel-heading">


            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <h4>
                        <label class="control-label">Cliente </label>
                    </h4>
                </div>
                <div class="col-md-12">
                    <h5>
                        @Html.DisplayFor(model => model.Customer.Code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.DisplayFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })

                    </h5>
                </div>
                <br />
                <div class="col-md-12">
                    <h5>

                        @Html.DisplayFor(model => model.Customer.RFC, new { htmlAttributes = new { @class = "form-control" } })
                    </h5>
                </div>
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-8">
                    Facturas Vencidas
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">

                        <table id="TableInvoices" class="table table-striped table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>SERIE</th>
                                    <th>FACTURA</th>
                                    <th>TOTAL</th>
                                    <th>SALDO</th>
                                    <th>FECHA FACTURACIÓN</th>
                                    <th>FECHA VENCIMIENTO</th>
                                    <th></th>
                                </tr>

                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>TOTAL</th>
                                    <th style="color:red"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>

            </div>
        </div>
   
</div>
<div id="edit-sanction">
</div>

@section Scripts {

<script src="~/Vendor/moment/moment.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {

            var Products = @Html.Raw(Json.Encode(Model.Invoices));
            
            table.clear();
            table.rows.add(jQuery(Products));
            table.columns.adjust().draw();
            footers();

        });

        var table = $('#TableInvoices').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "       Buscar:   ", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [

            ],
            columns: [

                { data: 'InvoiceSerie' },
                { data: 'InvoiceNumber' },
                { data: 'TotalAmount' },
                { data: 'Balance' },
                { data: 'CreateDate' },
                { data: 'DueDate' }
            ],

            columnDefs: [
                {
                    type: 'numeric-comma',
                    render: function (data, type, row) {
                        return '$' + data.toFixed(2);
                    },
                    targets: [2, 3]
                },

                {
                    targets: [0, 1],
                    width: "1%",
                    className: 'text-center'
                },
                //{                    
                //    render: function (data, type, row) {
                //        return moment(data).format('L');
                //    },
                //    targets: [4, 5]
                //},
                {
                    data: null,
                    width: "50",
                    targets: 6,
                    defaultContent: '<button class="btn btn-xs btn-outline btn-info" type="submit">Cambiar Fecha</button>'
                },
                {
                    targets: 3,
                    createdCell: function (td, cellData, rowData, row, col) {

                        $(td).css('color', 'red');

                    }
                }]


        });

        $('#TableInvoices tbody').on('click', 'button', function () {
            var data = table.row($(this).parents('tr')).data();
            EditInvoice(data.InvoiceNumber);
        });

        function EditInvoice( InvoNumber) {
            $.ajax({
                url: '@Url.Action("ActionEditInvoice", "Customers")',
                Type: 'GET',
                data: { number: InvoNumber },
                success: function (data) {
                    $("#edit-sanction").html(data);
                    $("#ModalEditInvoice").modal('show');
                }
            });
        }

        function SaveChanges() {
            StartLoading();
            $.post({
                url: '@Url.Action("ActionEditInvoiceDueDate", "Customers")',
                dataType: 'json',
                Type: 'POST',
                data: $("#formEditSanction").serialize(),
                success: function (data) {
                    $('#ModalEditInvoice').modal('hide');
                    EndLoading();
                    //toastr.success('Cliente editado exitosamente.');
                    if(data.success)
                    {
                        swal({
                            title: 'Factura',
                            text: "Factura editada exitosamente.",
                            type: "success"
                        }, function () { window.location.reload(true); });

                    }
                    else {
                        swal("Error", "Ocurrió un error, contacte a sistemas", "error");
                    }
                },
            });
        }
        function footers() {

            var foot = table.column(3);

            $(foot.footer()).html(
                '$' + foot.data().reduce(function (a, b) {
                    return (a + b);
                }).toFixed(2)
            );


        }

        function footers0() {

            var foot = table.column(3);

            $(foot.footer()).html('');


        }
       
    </script>
}
