﻿
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*  Titulo - Menu   *@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000", "Customers")">Clientes</a></li>

                    <li class="active">
                        <span>Caja</span>
                    </li>

                </ol>
            </div>

            <h2 class="font-light m-b-xs">
                CLIENTES
            </h2>
            <h4>Menú de Caja</h4>
            <br />
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center"> 
                        <a href="@Url.Action("PAMT001","Payments")">
                            <h2 class="m-b-xs">Pagos</h2>
                            <div class="m">
                                <i class="pe-7s-users fa-5x"></i>
                            </div>
                            <p class="small">
                                Menú para capturar pagos de un cliente
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("PAMT001","Payments")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("PAMT003","Payments")">
                            <h2 class="m-b-xs">Cancelar Pagos</h2>
                            <div class="m">
                                <i class="fa fa-5x fa-edit"></i>
                            </div>
                            <p class="small">
                                Menú para cancelar pagos
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("PAMT003","Payments")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("PAMT004","Payments")">
                            <h2 class="m-b-xs">Sustitución de pagos</h2>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Módulo para sustituir un pago
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("PAMT003","Payments")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>