﻿
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*  Titulo - Menu   *@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>CLIENTES </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Clientes
            </h2>
            <small>Menú de Clientes. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("CTMS001","Customers")">
                            <h2 class="m-b-xs">Catálogos</h2>
                            <div class="m">
                                <i class="pe-7s-users fa-5x"></i>
                            </div>
                            <p class="small">
                                Menú para realizar opciones de Caja por parte de un cliente
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("CTMS001","Customers")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("CTMS005","Customers")">
                            <h2 class="m-b-xs">Movimientos</h2>
                            <div class="m">
                                <i class="fa fa-5x fa-edit"></i>
                            </div>
                            <p class="small">
                                Menú Movimientos
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("CTMS005","Customers")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("CTMS006","Customers")">
                            <h2 class="m-b-xs">Caja</h2>
                            <div class="m">
                                <i class="pe-7s-wallet fa-5x"></i>
                            </div>
                            <p class="small">
                                Caja en modulo de clientes.
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("CTMS006","Customers")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("CTMS010","Customers")">
                            <h2 class="m-b-xs">Reportes</h2>
                            <div class="m">
                                <i class="pe-7s-wallet fa-5x"></i>
                            </div>
                            <p class="small">
                                Reportes de clientes.
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("CTMS006","Customers")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>