﻿@model App.Entities.ViewModels.Customers.CustomerViewModel

@{
    ViewBag.Title = "Agregar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Clientes</a></li>
                    <li><a href="@Url.Action("CTMS001","Customers")">Movimientos</a></li>
                    <li class="active">
                        <span>Agregar</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Agregar Cliente
            </h2>
            <small>Módulo para registrar un nuevo cliente</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        @using (Html.BeginForm("CTMS002", "Customers", FormMethod.Post, new { name = "formCreateClient", id = "formCreateClient" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                <span class="input-group-addon"><i class="pe-7s-id"></i></span>
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", Title = "Número de tarjeta El Florido" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </div> 
                    </div>
                    <div class="row"></div>
                    <div class="collapse" id="collapseExample">
                        <div class="row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.RFC, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                                    @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control", Title = "Primeras letras en mayúsculas" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
                            </div>

                          
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="pe-7s-map-marker"></i></span>
                                    @Html.DropDownListFor(model => model.StateId, null, "--Seleccionar Estado--", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="pe-7s-map-marker"></i></span>
                                    @Html.DropDownListFor(model => model.CityId, null, "--Seleccionar Ciudad o Municipio--", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="pe-7s-map-marker"></i></span>
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                    @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="pe-7s-mail"></i></span>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Ship_To, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                    @Html.EditorFor(model => model.Ship_To, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Ship_To, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Credit_Limit, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="pe-7s-cash"></i></span>
                                    @Html.EditorFor(model => model.Credit_Limit, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Credit_Limit, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Credit_Limit_Alt, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="pe-7s-cash"></i></span>
                                    @Html.EditorFor(model => model.Credit_Limit_Alt, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Credit_Limit_Alt, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Credit_Days, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="pe-7s-cash"></i></span>
                                    @Html.EditorFor(model => model.Credit_Days, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Credit_Days, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-12" style="">
                            <div class="form-group col-lg-12">
                                <div class="text-right">
                                    <button type="button" class="btn btn-danger" onclick="ResetForm()">Cancelar</button>
                                    <button type="button" class="btn btn-success" id="CreateCustomer">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@section Scripts {    
    <script src="~/Scripts/Costumers/Costumers.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#StateId").change(function () {
                var url = '@Url.Action("ActionGetCityListBasedOnStateId","Customers")';
                CallCities(url);
            });

            $('.row').css({ 'margin-left': '0px' });
            $('.row').css({ 'margin-right': '15px' });



            crateFormClient = $("#formCreateClient").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $("#CreateCustomer").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#collapseExample").show("show");
                    $("#CreateCustomer").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                ignoreTitle: true,
                rules: {
                    RFC: {
                        required: true,
                        minlength: 12,
                        maxlength: 13,
                        rfc: true,
                        @*remote: function () {
                            var rfcData = $('#RFC').val();
                            var exist = {
                                url: "@(Url.Action("ActionExistRFC", "Customers"))",
                                type: "post",
                                data: { "RFC": rfcData },
                                dataFilter: function (response) {
                                    if (response === "False") {
                                        $("#collapseExample").hide();
                                        return false;
                                    }
                                    else {
                                        $('#RFC').css({ 'text-transform': 'uppercase' });
                                        $("#RFC").attr("readonly", "readonly");
                                        return true;
                                    }
                                }
                            };
                            return exist;
                        }*@
                    },

                    Code: {
                        digits: true,
                        required: true,
                        maxlength: 11,
                        remote: function () {
                            var codeData = $('#Code').val();
                            var exist = {
                                url: "@(Url.Action("ActionExistCode", "Customers"))",
                                type: "post",
                                data: { "Code": codeData },
                                dataFilter: function (response) {
                                    if (response === "False")
                                        return false;
                                    else
                                        return true;
                                }
                            };
                            return exist;
                        }
                    },

                    Name: {
                        required: true
                    },

                    ZipCode: {
                        digits: true
                    },

                    Email: {
                        email: true
                    },

                    Phone: {
                        number: true
                    },

                    Credit_Limit: {
                        number: true
                    },

                    Credit_Limit_Alt: {
                        number: true
                    }
                },
                messages: {
                    RFC: {
                        required: function () {return "RFC requerido"; },
                        minlength: function () { return "RFC debe ser de 12 o 13 caracteres"; },
                        maxlength: function () { return "RFC debe ser de 12 o 13 caracteres"; },
                        rfc: function () {  return "Formato RFC inválido"; }//,
                       // remote: jQuery.validator.format("RFC {0} ya esta registrado en el sistema.")
                    },
                    Code: {
                        remote: jQuery.validator.format("No. Tarjeta {0} ya esta registrado en el sistema."),
                        maxlength: "El No de tarjeta no debe ser mayor a 11 dígitos."
                    },
                },
                submitHandler: function (form) {
                    form.submit();
                }
            })            
        });

        $("#Code").on('keydown', function (e) {
            if (e.which == 13) {                
                $("#formCreateClient").validate().element("#Code");
            }
        })
        $("#CreateCustomer").on('click', function (e) {
            var code = $("#formCreateClient").validate().element("#RFC");
            var name = $("#formCreateClient").validate().element("#Name");
            if (code && name) {
                $.post({
                    url: '@Url.Action("ActionCreateCustomer", "Customers")',
                    dataType: 'json',
                    Type: 'POST',
                    data: $("#formCreateClient").serialize(),
                    success: function (data) {                        
                        swal({
                            title: 'Cliente',
                            text: "Cliente creado exitosamente.",
                            type: "success"
                        }, function () {
                            window.location.reload(true);
                        });                        
                    }
                });
            }
        });        

        function ResetForm() {                       
            window.location.reload(true);            
        }

    </script>
}