﻿@model App.Entities.ViewModels.Common.SendDocumentModel

@{
    ViewBag.Title = "Re-envío CFDI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000", "Customers")">Clientes</a></li>
                    <li><a href="@Url.Action("CTMS005","Customers")">Movimientos</a></li>

                    <li class="active">
                        <span>Re-envío de Facturas</span>
                    </li>

                </ol>
            </div>

            <h2 class="font-light m-b-xs">
                RE-ENVIO DE CFDI
            </h2>
            <small>Módulo para Re-envío de CFDI</small><br />

        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">

            <div class="row">
                <h3 class="text-center">DISTRIBUIDORA EL FLORIDO, S.A. DE C.V.</h3>
            </div>

            <div class="col-md-4">
                <form id="formInvoices" action="@Url.Action("CTMS004", "Customers")" method="post">                    
                    <div class="form-group col-md-5">
                        @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-file-code-o"></i></span>
                            @Html.EnumDropDownListFor(model => model.Document, null, htmlAttributes: new { @class = "form-control select" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                        </div>
                    </div>
                </form>

                <div class="col-md-3 ">
                    <label class="control-label">&nbsp;</label>
                    <button type="button" class="btn btn-success form-control" id="ViewButton">Ver</button>
                </div>

                <div id="DivMail" class="form-group col-md-9" style="display: block;">
                    @Html.LabelFor(model => model.EmailCustomerSend, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12 input-group m-b">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                        @Html.EditorFor(model => model.EmailCustomerSend, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div id="DivSend" class="col-md-3 " style="display: block;">
                    <label class="control-label">&nbsp;</label>
                    <button type="button" class="btn btn-success form-control" id="SendButton">Enviar</button>
                </div>
            </div>
            <div id="InvoiceData" class="col-md-8" style="display: block;">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Invoice, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12 input-group m-b">
                        @Html.EditorFor(model => model.Invoice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12 input-group m-b">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12 input-group m-b">
                        @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.EmailCustomer, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12 input-group m-b">
                        @Html.EditorFor(model => model.EmailCustomer, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12 input-group m-b">
                        @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.FolioFiscal, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12 input-group m-b">
                        @Html.EditorFor(model => model.FolioFiscal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var Invoices = @Html.Raw(Json.Encode(Model));
            var x = document.getElementById("InvoiceData");
            var y = document.getElementById("DivMail");
            var z = document.getElementById("DivSend");
            var i = $('#Number').val();
            var d = $('#Document').val();
            if(d==0)
                tipo="FACTURA";
            if(d==1)
                tipo="NOTA DE CREDITO";
            if(d==2)
                tipo="BONIFICACION";
            if(d==3)
                tipo="PAGO";
            
            if(Invoices==null)
            {
              
                x.style.display = "none";
                y.style.display = "none";
                z.style.display = "none";
                if(i!="")
                    toastr.error('Alerta - ¡El CFDI Tipo: '+tipo+' número: '+i+' No existe o no esta timbrado!');
            }


        });

        $("#ViewButton").click(function () {
            var i = $('#Number').val();
            if(i!="")
            {
                $("#formInvoices").submit();

                $("#ViewButton").prop('textContent', "Consultando...");
                $("#ViewButton").prop('disabled', true);
            }
            else
            {
                toastr.error('Alerta - Ingrese un número.');
            }
        });
        $("#SendButton").click(function () {            
            $("#SendButton").prop('textContent', "Enviando...");
            $("#SendButton").prop('disabled', true);
            var obj = @Html.Raw(Json.Encode(Model));
            obj.EmailCustomerSend=  $('#EmailCustomerSend').val()
            StartLoading();
            $.post({
                type: "POST",
                url: "@(Url.Action("ActionSendInvoice", "Customers"))",
                dataType: "html",
                data: { "model":obj },
                dataType: 'json',
                success: function (data) {
                    ResponseMessage = data.responseText;
                    if (data.success) {
                        swal({
                            title: 'Re-envío',
                            text:ResponseMessage,
                            type: "success"
                        }, function () { window.location.href = 'http://' + window.location.host + '/Customers/CTMS004'; });
                        EndLoading();
                    }
                    else
                    {
                        swal({
                            title: 'Re-envío',
                            text:ResponseMessage,
                            type: "error"
                        });
                        EndLoading();
                    }

                    $("#SendButton").prop('textContent', "Enviar");
                    $("#SendButton").prop('disabled', false);

                },
                error: function (returndates) {
                    EndLoading();
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                    $("#SendButton").prop('textContent', "Enviar");
                    $("#SendButton").prop('disabled', false);
                }
            });
        });
    </script>
}