﻿@model App.Entities.ViewModels.Common.SendDocumentModel

@{
    ViewBag.Title = "Re-Impresión CFDI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield !important;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000", "Customers")">Clientes</a></li>
                    <li><a href="@Url.Action("CTMS005","Customers")">Movimientos</a></li>

                    <li class="active">
                        <span>Re-Impresión CFDI</span>
                    </li>
                </ol>
            </div>

            <h2 class="font-light m-b-xs">
                RE-IMPRESIÓN DE CFDI
            </h2>
            <small>Módulo para Re-impresión de CFDI</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <div class="row">
                <h3 class="text-center">DISTRIBUIDORA EL FLORIDO, S.A. DE C.V.</h3>
            </div>
            <div class="col-md-6">
                <form id="formDocument" action="@Url.Action("CTMS007", "Customers")" method="post">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-file-code-o"></i></span>
                            @Html.EnumDropDownListFor(model => model.Document, null, htmlAttributes: new { @class = "form-control select" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-12 input-group m-b">
                            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1" } })
                            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">&nbsp;</label>
                        <button type="button" class="btn btn-success form-control" id="ViewButton">Ver</button>
                    </div>                    
                </form>

                <div class="form-group col-md-9">
                </div>
                <div id="DivSend" class="col-md-3">
                    <label class="control-label">&nbsp;</label>
                    <button type="button" class="btn btn-success form-control" id="SendButton">Reimprimir</button>
                </div>
            </div>

            <div id="DocumentData" class="col-md-6">
                <div class="form-group col-md-4">                    
                    <label id="document-label" class="control-label">Factura</label>
                    <div class="col-md-12 input-group m-b">
                        @Html.EditorFor(model => model.Invoice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12 input-group m-b">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12 input-group m-b">
                        @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group col-md-7">
                    @Html.LabelFor(model => model.EmailCustomer, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12 input-group m-b">
                        @Html.EditorFor(model => model.EmailCustomer, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12 input-group m-b">
                        @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalPdf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Documento PDF</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <object id="Pdf-iframe" style="width:100%" height="350" frameborder="0" type="application/pdf"></object>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    jQuery(document).ready(function () {
        document.getElementById("Number").addEventListener('keydown', function(e) {
            if (e.which === 38 || e.which === 40) {
                e.preventDefault();
            }
        });

        var errorMessage;
        $("#formDocument").validate({
            errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
            errorElement: "span",
            errorPlacement: function (error, element) {
                $(element)
                        .closest("form")
                        .find("span[data-valmsg-for='" + element.attr("id") + "']")
                        .append(error);
            },
            highlight: function (e) {
                $("#ViewButton").attr("disabled", "disabled");
                $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                $(e).closest('.help-block').remove();
            },
            success: function (e) {
                $("#ViewButton").removeAttr("disabled");
                e.closest('.form-group').removeClass('has-success has-error');
                e.closest('.help-block').remove();
            },
            rules: {
                Number: {
                    digits: true,
                    required: true,
                    remote: function () {
                        var Number = $('#Number').val();
                        var DocumType = $('#Document').val();
                        var valid = {
                            url: "@(Url.Action("ActionValidateDocument", "Customers"))",
                            type: "post",
                            data: { "DocumentNumber": Number, "DocumentType": DocumType },
                            dataFilter: function (data) {
                                var json = JSON.parse(data);                                
                                if (!json.success) {
                                    errorMessage = json.responseText;
                                    return false;
                                }
                                else
                                    return true;
                            }
                        };
                        return valid;
                    },
                }
            },
            messages: {
                Number: {
                    remote: function () { return errorMessage },
                },
            },
            submitHandler: function (form) {
                form.submit();
            }
        })

        var DocumentInfo = @Html.Raw(Json.Encode(Model));
        if(DocumentInfo != null && DocumentInfo.Invoice != null)
        {
            document.getElementById("DocumentData").style.display = "block";
            document.getElementById("DivSend").style.display = "block";
        }
        else        
            CleanValues();        
    });

    $("#Document").on('change', function() {                    
        var something = $("#formDocument").validate().element("#Number");
        if(something)                 
            CleanValues();           
        else
            $("#ViewButton").click();

        var value = $("#Document").val();
        var documentWord;

        if(value == 0)
            documentWord = "Factura";
        if(value == 1)
            documentWord = "Nota de Crédito";
        if(value == 2)
            documentWord = "Bonificación";
        if(value == 3)
            documentWord = "Pago";

        document.getElementById('document-label').innerHTML = documentWord;
    });

    $("#ViewButton").click(function () {
        var Something = $("#formDocument").validate().element("#Number");                
        if(Something)
            SubmitForm();        
        else
            CleanValues();        
    });

    $("#SendButton").click(function () {
        $("#SendButton").prop('textContent', "Imprimiendo...");
        $("#SendButton").prop('disabled', true);
        var obj = @Html.Raw(Json.Encode(Model));
        StartLoading();
        $.post({
            type: "POST",
            url: "@(Url.Action("ActionReStampDocument", "Customers"))",
            dataType: "html",
            data: { "Model":obj },
            dataType: 'json',
            success: function (data) {
                EndLoading();
                if (data.success) {                    
                    var pdf = 'data:application/pdf;base64,'+data.Json;
                    $("#Pdf-iframe").attr("data", pdf);
                    $('#ModalPdf').modal('show');
                }
                else
                {
                    swal({
                        title: '',
                        text: data.responseText,
                        type: "error"
                    });                    
                }

                $("#SendButton").prop('textContent', "Reimprimir");
                $("#SendButton").prop('disabled', false);
            }
        });
    });

    $("#ModalPdf").on("hidden.bs.modal",function(){
        $("#Number").val('');
        CleanValues();
    });

    function CleanValues()
    {        
        $("#EmailCustomer").val('');
        $("#Customer").val('');
        $("#Date").val('');
        $("#Invoice").val('');
        $("#Total").val('');
        document.getElementById("DocumentData").style.display = "none";
        document.getElementById("DivSend").style.display = "none";    
    }

    function SubmitForm()
    {
        $("#formDocument").submit();            
        $("#ViewButton").prop('disabled', true);
        document.getElementById("DocumentData").style.display = "block";
        document.getElementById("DivSend").style.display = "block";
    }

    function ValidateDocumentNumber(){
        var value = $("#formDocument").validate().element("#Number");
        return value;
    }

</script>
}