﻿@model App.Entities.ViewModels.Customers.CustomerIndex

@{
    ViewBag.Title = "Facturas Vencidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/datatables/css")
@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Clientes</a></li>
                    <li><a href="@Url.Action("CTMS005","Customers")">Movimientos</a></li>
                    <li class="active">
                        <span>Pagos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Facturas Vencidas
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formClients" action="@Url.Action("CTMS008","Customers")" method="post">


                <div class="col-md-12" id="SearchClient">
                    @Html.LabelFor(model => model.customer_code, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-4 input-group m-b">
                        @Html.DropDownListFor(model => model.customer_code, null, "-- Seleccione el Código--", htmlAttributes: new { @class = "form-control select2" })
                        <label>(Buscar cliente por CODIGO, Nombre o Número)</label>
                    </div>
                </div>
               
                <div class="col-md-5">

                    <div class="text-right">
                        <button type="button" class="btn btn-success" id="ProcessClient">Continuar</button>
                    </div>

                </div>
                <div class="col-md-6">

                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $("#ProcessClient").click(function () {
            var clientValue = $("#customer_code").val();
            if (clientValue) {
                $("#formClients").submit();
              
            }
        });
       
    </script>
}
