﻿
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*  Titulo - Menu   *@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000", "Customers")">Clientes</a></li>

                    <li class="active">
                        <span>Reportes</span>
                    </li>

                </ol>
            </div>

            <h2 class="font-light m-b-xs">
                CLIENTES
            </h2>
            <h4>Menú de Reportes</h4>
            <br />
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center"> 
                        <a href="@Url.Action("TRAC001","TransactionsCustomers")">
                            <h2 class="m-b-xs">Cargos y Abonos</h2>
                            <div class="m">
                                <i class="pe-7s-users fa-5x"></i>
                            </div>
                            <p class="small">
                               Reporte de Cargos y Abonos
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("PAMT001","Payments")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("INVO005","Invoices")">
                            <h2 class="m-b-xs">Antigüedad de Saldos</h2>
                            <div class="m">
                                <i class="fa fa-5x fa-edit"></i>
                            </div>
                            <p class="small">
                                Reporte de Antigüedad de Saldos
                            </p>
                            <br />
                        </a>
                        <a href="@Url.Action("PAMT003","Payments")" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>