﻿
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>RefreshTest</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="~/Scripts/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>

        $(function () {
            $("#Button1").click(function () {
                $("#popupForm").dialog({
                    modal: true
                });
            });
        });
        function RefreshForm() {

            $("#popupForm").find("input[type='text']").val("");
        }
    </script>
</head>
<body>
    <div>
        <input id="Button1" type="button" value="OpenPopUp" />
    </div>
    <div id="popupForm" style="display:none">
        @using (Ajax.BeginForm("GetPacients", "Test4", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "pacientList", LoadingElementId = "loader", OnComplete = "RefreshForm" }))
        {

            @:Name:<input id="Text1" type="text" name="Name" />
            @:Password:<input id="Text2" type="text" name="Password" />
            <input type="submit" value="Search" />

        }
        <div id="loader" class=" aletr" style="display:none">Loading... </div>

    </div>
    <div id="pacientList"></div>
</body>

