﻿@model App.Entities.ViewModels.Withdrawal.WithdrawalIndex

@{
    ViewBag.Title = "WIDR001";    
}

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("POS000","POS")">Cajas</a></li>
                    <li><a href="@Url.Action("POS002","POS")">Reportes</a></li>
                    <li class="active">
                        <span>Retiros de Caja</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Retiros de Efectivo Caja
            </h2>
            <small>Reporte</small><br />
        </div>
    </div>
</div>

<div class="content animated-panel" id="SelectClient">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formWithdrawal" action="@Url.Action("WIDR001","Withdrawal")" method="post">
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Cashier, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.Cashier, null, "-- Todos --", htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-success" id="SearchInfo">Continuar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (!Model.IsFromMenu && Model.DataReport.Count > 0)
        {
            <div class="content animated-panel" id="TableSection">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-success" id="ReportButton">Reporte General</button>
                        </div>
                        @*<div class="row">
                                <h6 style="text-align:right;">Tipo de cambio del día: $@Model.ExchangeRate</h6>
                            </div>*@
                        <div class="table-responsive m-t">
                            <table id="reportTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Número Empleado</th>
                                        <th>Cajero</th>
                                        <th>Moneda</th>
                                        <th>Monto</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Item in Model.DataReport)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@Item.EmployeeNo</td>
                                            <td>@Item.Cashier</td>
                                            <td>@Item.Currency</td>
                                            @if (Item.Currency != "MXN")
                                            {
                                                var USDToMXN = Model.ExchangeRate * Item.Amount;
                                                <td>$@Item.Amount.ToString("0.00") ($@USDToMXN.ToString("0.00"))</td>
                                            }
                                            else
                                            {
                                                <td>$@Item.Amount.ToString("0.00")</td>
                                            }
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr style="font-weight:bold;">
                                        <th colspan="4" class="text-right">Total</th>
                                        <th colspan="2" class="text-left">$ @Model.TotalAmount.ToString("0.00")</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="table-responsive m-t">
                            <div class="col-lg-12">                                
                                <div class="col-lg-6">
                                    <label class="control-label">Totales por Cajero</label>
                                    <div class="">
                                        <button type="button" class="btn btn-success" id="AcumulateReport">Reporte Acumulado</button>
                                    </div>
                                </div>
                            </div>
                            <br /><br /><br /><br />
                            <table id="acumulateTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Número Empleado</th>
                                        <th>Fecha</th>
                                        <th>Cajero</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.AcumulateData)
                                    {
                                        <tr>
                                            <td>@item.EmployeeNo</td>
                                            <td>@Model.Date</td>
                                            <td>@item.Cashier</td>
                                            <td>@item.Amount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (!Model.IsFromMenu)
        {
            <div class="content animated-panel" id="report-section">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <div class="row">
                            <h4 style="text-align:center;color:red;">No hay información con esos parámetros</h4>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte de Retiros de Efectivo Caja</h4>
                <small id="ModalDescription" class="font-bold"></small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script type="text/javascript">
        $(function () {

            $("#Date").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                endDate: new Date()
            });

            $(".datepicker").attr('readonly', 'readonly').css('background-color', '#fff');
        });

        $("#SearchInfo").click(function () {
            StartLoading();
            $("#formWithdrawal").submit();
        });

        var acumulatedTable = $('#acumulateTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                    { data: 'EmployeeNo' },
                    { data: 'Cashier' },
                    { data: 'Currency' },
                    { data: 'Amount' },
            ],

            columnDefs: [
                {
                    className: 'text-center'
                },
                {
                    targets: [0],
                    visible: false
                },
            ]
        });

        var reportTable = $('#reportTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [],
            columns: [
                    {
                        "class": "details-control",
                        "orderable": false,
                        "data": null,
                        "defaultContent": "",
                    },
                    { data: 'EmployeeNo' },
                    { data: 'Cashier' },
                    { data: 'Currency' },
                    { data: 'Amount' },
                    {
                        data: null,
                        width: "1%",
                        targets: 5,
                        defaultContent: '<button class="btn btn-xs btn-outline btn-info btnReport">Reporte</button>'
                    }
            ],

            columnDefs: [
                {
                    className: 'text-center'
                },
                {
                    targets: [1],
                    visible: false
                },
            ]
        });

        var detailRows = [];

        $('#reportTable tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = reportTable.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (reportTable.row('.details').length) {
                    $('.details-control', reportTable.row('.details').node()).click();
                }
                row.child(withdrawDetails(row.data())).show();
                tr.addClass('details');
            }
        });

        $('#reportTable').on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        //Get Withdrawal details
        function withdrawDetails(row) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "@(Url.Action("ActionGetWithdrawalDetails", "Withdrawal"))",
                data: { "Date": $('#Date').val(), "Currency": row.Currency, "EmployeeNo": row.EmployeeNo },
                type: "GET",
                success: function (data) {
                    $.each(data.Json, function (index, value) {
                        detailItems += "<tr><td>" + value.Date + "</td><td>" + value.Site + "</td><td> $" + value.Amount.toFixed(2) + "</td><td>" + value.WithdrawalType + "</td></tr>";
                    });
                    tabledetail.html('<table id="WithdrawalDetails" class="table table-striped table-bordered table-hover" style="width:100%">' +
                    '<thead><tr><th>Fecha y Hora</th><th>Caja</th><th>Monto</th><th>Tipo</th></tr></thead><tbody>' + detailItems + '</tbody></table>').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail;
        }

        function reloadStyleTable() {
            $('#WithdrawalDetails').DataTable({
                retrieve: true,
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                buttons: [],
            });
        }

        $("#ReportButton").click(function() {
            var model = @Html.Raw(Json.Encode(Model));
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetWithdrawalHeaderReport", "Withdrawal")',
                Type: 'POST',
                data: { "Model": model },
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte de Retiros de Efectivo Caja');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });

        $('#reportTable tbody').on('click', 'button.btnReport', function () {
            var tr = $(this).closest('tr');
            var row = reportTable.row(tr);
            model = row.data();
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetWithdrawalDetailsReport", "Withdrawal")',
                Type: 'POST',
                data: { "Date": $('#Date').val(), "Currency": model.Currency, "EmployeeNo": model.EmployeeNo, "EmployeeName": model.Cashier },
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte de Retiros de Efectivo Caja');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });

        $("#AcumulateReport").click(function() {
            var model = @Html.Raw(Json.Encode(Model));
            StartLoading();
            $.post({
                url: '@Url.Action("ActionGetWithdrawalHeaderTotalsReport", "Withdrawal")',
                Type: 'POST',
                data: { "Model": model },
                success: function (data) {
                    EndLoading();
                    document.getElementById("iframe").srcdoc = data;
                    $("#ModalDescription").html('Reporte de Retiros de Efectivo Caja');
                    $('#ModalReport').modal('show');
                },
                error: function () {
                    toastr.error('Alerta - Error inesperado  contactar a sistemas.');
                }
            });
        });
    </script>
}